RePG_20022020/2.txt
[{"id":"80b102c7.cd522","type":"switch","z":"260c1645.232e4a","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":80,"wires":[["b4b1be70.db30e","428fe798.e4d778"]]},{"id":"16b354da.3e303b","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"start","payloadType":"global","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["80b102c7.cd522"]]},{"id":"9a455da2.2bff6","type":"function","z":"260c1645.232e4a","name":"Set modbus2","func":"global.set(\"modbus2\", msg.payload)\n","outputs":1,"noerr":0,"x":950,"y":280,"wires":[[]]},{"id":"b4b1be70.db30e","type":"function","z":"260c1645.232e4a","name":"T1>70 - T3<100 - P1<12 - P2<12 - R1-ON","func":"var t1  =   global.get(\"T1\");\nvar t3  =   global.get(\"T3\");\nvar p1  =   global.get(\"P1\");\nvar p2  =   global.get(\"P2\");\n\nif (t1>70 && t3<100 && p1<12 && p2<12) {\n    global.set(\"R1\",false);\n    msg.payload = true;\n    global.set(\"start\",false);\n    return msg;\n}\nelse {\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":620,"y":100,"wires":[["ff248e2e.ee811","bfa7ccf5.4cc9a"]]},{"id":"d157f1ff.74b3","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1700,"y":1720,"wires":[["c158572d.b296e8","a6bb1635.4065a8"]]},{"id":"dc6c6573.37c408","type":"function","z":"260c1645.232e4a","name":"set driver  \"5\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",5)\n    global.set(\"check1\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1150,"y":100,"wires":[[]]},{"id":"383b4a6a.c97546","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["916560ef.176f3"]]},{"id":"718fbb2c.403c64","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":2100,"wires":[]},{"id":"e23bbd57.3c95e","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":2080,"wires":[["c718f335.adf3a"]]},{"id":"2ad0d173.9e6cfe","type":"switch","z":"260c1645.232e4a","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":2120,"wires":[["c718f335.adf3a"]]},{"id":"b07eb2f1.7af6a","type":"function","z":"260c1645.232e4a","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1140,"wires":[[]]},{"id":"f71b22db.72fd2","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1160,"wires":[["b07eb2f1.7af6a"]]},{"id":"5794c822.8b6238","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1320,"wires":[["3a8bdcb6.ef4024"]]},{"id":"b346fe27.df421","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1360,"wires":[["3a8bdcb6.ef4024"]]},{"id":"d2d9f46c.448658","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"63","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1400,"wires":[["3a8bdcb6.ef4024"]]},{"id":"3a8bdcb6.ef4024","type":"function","z":"260c1645.232e4a","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1600,"wires":[[]]},{"id":"ff248e2e.ee811","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":60,"wires":[["dc6c6573.37c408"]]},{"id":"67494946.65a918","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1120,"wires":[["b07eb2f1.7af6a"]]},{"id":"dbfdd887.44a9a8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":2840,"wires":[["5645f5d6.8c2efc"]]},{"id":"5645f5d6.8c2efc","type":"function","z":"260c1645.232e4a","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nglobal.set(\"R4\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":2840,"wires":[[]]},{"id":"add95a41.148a58","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":2880,"wires":[["b0792e98.1b809"]]},{"id":"b0792e98.1b809","type":"function","z":"260c1645.232e4a","name":"driver - driverf","func":"global.set(\"driver\",0)\nglobal.set(\"driver_min\",0)\nglobal.set(\"driver_max\",0)\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1680,"y":2880,"wires":[[]]},{"id":"1a395810.180ae8","type":"rpi-gpio out","z":"260c1645.232e4a","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":530,"y":2540,"wires":[]},{"id":"58b0b9e6.8883f8","type":"rpi-gpio out","z":"260c1645.232e4a","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":550,"y":2640,"wires":[]},{"id":"bcf7c1fd.3f0ac","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":2600,"wires":[["18b03a55.979d96","1a395810.180ae8"]]},{"id":"ca51ac5c.62fae","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":2700,"wires":[["58b0b9e6.8883f8","3fbe821d.d92dfe"]]},{"id":"78aef41c.9896bc","type":"function","z":"260c1645.232e4a","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":790,"y":400,"wires":[["1b6ad354.103a0d"]]},{"id":"1b6ad354.103a0d","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":400,"wires":[["2982d695.63fd9a"]]},{"id":"2982d695.63fd9a","type":"function","z":"260c1645.232e4a","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1060,"y":400,"wires":[["90fb4f3f.65cc5"]]},{"id":"18b03a55.979d96","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":530,"y":2600,"wires":[["938f9b69.6ed1b8"]]},{"id":"3fbe821d.d92dfe","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":530,"y":2700,"wires":[["c06628d8.ee68f8"]]},{"id":"938f9b69.6ed1b8","type":"ui_text","z":"260c1645.232e4a","group":"e5de5109.7b6d6","order":1,"width":"6","height":"1","name":"","label":"Pompa","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":2600,"wires":[]},{"id":"c06628d8.ee68f8","type":"ui_text","z":"260c1645.232e4a","group":"e5de5109.7b6d6","order":2,"width":"6","height":"1","name":"","label":"Türbin","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":2700,"wires":[]},{"id":"d7acd508.b2f218","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"e6e98cf6.ba267","order":1,"width":"6","height":"4","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":3460,"wires":[]},{"id":"27158462.97cf3c","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":3520,"wires":[["d7acd508.b2f218","2bc9bf26.f73aa","b7c7911.c54f17"]]},{"id":"2a5cabb6.a0a864","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":3080,"wires":[["31b2527a.c543ae"]]},{"id":"31b2527a.c543ae","type":"function","z":"260c1645.232e4a","name":"set \"0\" (T1 - T3 - P1 - P2 - P2S - PS )","func":"\n\nglobal.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":3080,"wires":[[]]},{"id":"79c8a39.dd5f85c","type":"switch","z":"260c1645.232e4a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50.1","vt":"num","v2":"52.9","v2t":"num"},{"t":"btwn","v":"53","vt":"num","v2":"55.9","v2t":"num"},{"t":"btwn","v":"56","vt":"num","v2":"58.9","v2t":"num"},{"t":"btwn","v":"59","vt":"num","v2":"61.9","v2t":"num"},{"t":"btwn","v":"62","vt":"num","v2":"64.9","v2t":"num"},{"t":"btwn","v":"65","vt":"num","v2":"67.9","v2t":"num"},{"t":"btwn","v":"68","vt":"num","v2":"70.9","v2t":"num"},{"t":"btwn","v":"71","vt":"num","v2":"73.9","v2t":"num"},{"t":"btwn","v":"74","vt":"num","v2":"76.9","v2t":"num"},{"t":"btwn","v":"77","vt":"num","v2":"79.9","v2t":"num"},{"t":"btwn","v":"80","vt":"num","v2":"82.9","v2t":"num"},{"t":"btwn","v":"83","vt":"num","v2":"85.9","v2t":"num"},{"t":"btwn","v":"86","vt":"num","v2":"88.9","v2t":"num"},{"t":"btwn","v":"89","vt":"num","v2":"91.9","v2t":"num"},{"t":"btwn","v":"92","vt":"num","v2":"94.9","v2t":"num"},{"t":"btwn","v":"95","vt":"num","v2":"97.9","v2t":"num"},{"t":"btwn","v":"98","vt":"num","v2":"100.9","v2t":"num"},{"t":"btwn","v":"101","vt":"num","v2":"103.9","v2t":"num"},{"t":"btwn","v":"104","vt":"num","v2":"106.9","v2t":"num"},{"t":"btwn","v":"107","vt":"num","v2":"109.9","v2t":"num"},{"t":"btwn","v":"110","vt":"num","v2":"114.9","v2t":"num"}],"checkall":"true","repair":false,"outputs":21,"x":1910,"y":1040,"wires":[["6cb6b705.699d48"],["c21ecfaa.68e34"],["b9c1a853.c02348"],["ec511ca0.290d5"],["3bc860dd.76355"],["df271842.a8bd48"],["2cc325f7.87a16a"],["92bb2a78.935008"],["6cdfbf26.37db3"],["c51ed97b.84a678"],["6c8a121b.04d3ac"],["6fa7e24.807a21c"],["a5c09f3c.c313e"],["758299ad.facf68"],["9108a6b9.654038"],["14301589.d0c62a"],["930e6e75.a2d56"],["5e7d8a11.7baed4"],["8c784de8.16bb5"],["c6532012.86832"],["b9facbdd.88d308"]]},{"id":"b9c1a853.c02348","type":"function","z":"260c1645.232e4a","name":"set \"12\" bar","func":"global.set(\"P2S\",12);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":720,"wires":[[]]},{"id":"ec511ca0.290d5","type":"function","z":"260c1645.232e4a","name":"set \"13\" bar","func":"global.set(\"P2S\",13);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":760,"wires":[[]]},{"id":"3bc860dd.76355","type":"function","z":"260c1645.232e4a","name":"set \"14\" bar","func":"global.set(\"P2S\",14);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":800,"wires":[[]]},{"id":"2cc325f7.87a16a","type":"function","z":"260c1645.232e4a","name":"set \"16\" bar","func":"global.set(\"P2S\",16);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":880,"wires":[[]]},{"id":"c21ecfaa.68e34","type":"function","z":"260c1645.232e4a","name":"set \"11\" bar","func":"global.set(\"P2S\",11);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":680,"wires":[[]]},{"id":"6cb6b705.699d48","type":"function","z":"260c1645.232e4a","name":"set \"10\" bar","func":"global.set(\"P2S\",10);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":640,"wires":[[]]},{"id":"92bb2a78.935008","type":"function","z":"260c1645.232e4a","name":"set \"17\" bar","func":"global.set(\"P2S\",17);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":920,"wires":[[]]},{"id":"6cdfbf26.37db3","type":"function","z":"260c1645.232e4a","name":"set \"18\" bar","func":"global.set(\"P2S\",18);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":960,"wires":[[]]},{"id":"df271842.a8bd48","type":"function","z":"260c1645.232e4a","name":"set \"15\" bar","func":"global.set(\"P2S\",15);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":840,"wires":[[]]},{"id":"5585d9cd.a4c8e8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"66","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1440,"wires":[["3a8bdcb6.ef4024"]]},{"id":"93815832.b43898","type":"function","z":"260c1645.232e4a","name":"driver up down","func":"var p2s = global.get(\"P2S\");\nvar ps   = global.get(\"PS\");\n\nif (p2s > ps) {\n    msg.payload = true;\n    return msg;\n\n    \n}\nelse if (p2s < ps) {\n    msg.payload = false;\n    return msg;\n}\nelse if (p2s == ps) {\n    global.set(\"driverf\",false)\n    global.set(\"sensor\",false)\n    global.set(\"temp1\",true)\n}\n\n\n","outputs":1,"noerr":0,"x":680,"y":2100,"wires":[["e23bbd57.3c95e","2ad0d173.9e6cfe"]]},{"id":"e094044d.413918","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1520,"wires":[["3a8bdcb6.ef4024"]]},{"id":"5987ec55.cb8b44","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1560,"wires":[["3a8bdcb6.ef4024"]]},{"id":"4e9e47ef.cd4888","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"driverf","payloadType":"global","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":2100,"wires":[["d2cbc121.23bbc"]]},{"id":"aa5a5b7a.dd9c58","type":"function","z":"260c1645.232e4a","name":"msg.payload = T3","func":"global.set(\"diode\",true)\nvar data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":1040,"wires":[["79c8a39.dd5f85c"]]},{"id":"81fadaca.fb6d48","type":"switch","z":"260c1645.232e4a","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":1040,"wires":[["aa5a5b7a.dd9c58"]]},{"id":"1ae65063.72a1f","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"temp1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1400,"y":1040,"wires":[["81fadaca.fb6d48"]]},{"id":"12fc7514.ae67eb","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":2920,"wires":[["f1ea07f3.ee6308"]]},{"id":"f1ea07f3.ee6308","type":"function","z":"260c1645.232e4a","name":"start","func":"global.set(\"start\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":2920,"wires":[[]]},{"id":"2fb054be.a721ac","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":2960,"wires":[["68cedf90.36ee1"]]},{"id":"68cedf90.36ee1","type":"function","z":"260c1645.232e4a","name":"temp1 - temp2 - temp3 - temp4","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":2960,"wires":[[]]},{"id":"ac92a1d8.2b7fe","type":"function","z":"260c1645.232e4a","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1660,"wires":[["c57c8802.7bac28"]]},{"id":"c57c8802.7bac28","type":"switch","z":"260c1645.232e4a","name":"T3 > 110","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"110","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":1660,"wires":[["f22e658e.ed0888"]]},{"id":"96d115fe.e740b8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":1660,"wires":[["6233ac99.629bb4"]]},{"id":"b880c9d6.a27ae8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"69","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1480,"wires":[["3a8bdcb6.ef4024"]]},{"id":"6233ac99.629bb4","type":"switch","z":"260c1645.232e4a","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":1660,"wires":[["ac92a1d8.2b7fe"]]},{"id":"d1b82416.44a008","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":3000,"wires":[["70160187.cb8bf"]]},{"id":"70160187.cb8bf","type":"function","z":"260c1645.232e4a","name":"pres1 - pres2 - pres3","func":"global.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":3000,"wires":[[]]},{"id":"26799f10.895b","type":"function","z":"260c1645.232e4a","name":"msg.payload = P1","func":"var data    =   global.get(\"P1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1740,"wires":[["a466472e.7c71b8"]]},{"id":"f10d514e.d4bca","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"pres1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":1740,"wires":[["9984709e.48264"]]},{"id":"9984709e.48264","type":"switch","z":"260c1645.232e4a","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":1740,"wires":[["26799f10.895b"]]},{"id":"51038673.c423f8","type":"function","z":"260c1645.232e4a","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1780,"wires":[["36d01ca8.a5ac04"]]},{"id":"908e0ab0.82a208","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"pres2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":1780,"wires":[["a5cfeec8.de35e"]]},{"id":"a5cfeec8.de35e","type":"switch","z":"260c1645.232e4a","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":1780,"wires":[["51038673.c423f8"]]},{"id":"f22e658e.ed0888","type":"function","z":"260c1645.232e4a","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"R2\",true);\nglobal.set(\"driverf\",false)\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nglobal.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nglobal.set(\"sensor\",false)\nglobal.set(\"AS\",false)\nglobal.set(\"check\",false)\nglobal.set(\"check1\",false)\nglobal.set(\"check2\",false)\nglobal.set(\"check3\",false)\nglobal.set(\"diode\",false)\nglobal.set(\"trigger\",false)\nmsg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":1720,"wires":[["d157f1ff.74b3","7481078c.a39db8","de43f23d.08a84"]]},{"id":"c158572d.b296e8","type":"function","z":"260c1645.232e4a","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"check3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":1720,"wires":[[]]},{"id":"a466472e.7c71b8","type":"switch","z":"260c1645.232e4a","name":"P1 > 11","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"11","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":1740,"wires":[["f22e658e.ed0888"]]},{"id":"36d01ca8.a5ac04","type":"switch","z":"260c1645.232e4a","name":"P2 > 25","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":1780,"wires":[["f22e658e.ed0888"]]},{"id":"d576b48f.abd5e8","type":"switch","z":"260c1645.232e4a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"5.1","vt":"num","v2":"10","v2t":"num"},{"t":"btwn","v":"10.1","vt":"num","v2":"11","v2t":"num"},{"t":"btwn","v":"11.1","vt":"num","v2":"12","v2t":"num"},{"t":"btwn","v":"12.1","vt":"num","v2":"13","v2t":"num"},{"t":"btwn","v":"13.1","vt":"num","v2":"14","v2t":"num"},{"t":"btwn","v":"14.1","vt":"num","v2":"15","v2t":"num"},{"t":"btwn","v":"15.1","vt":"num","v2":"16","v2t":"num"},{"t":"btwn","v":"16.1","vt":"num","v2":"17","v2t":"num"},{"t":"btwn","v":"17.1","vt":"num","v2":"18","v2t":"num"},{"t":"btwn","v":"18.1","vt":"num","v2":"19","v2t":"num"},{"t":"btwn","v":"19.1","vt":"num","v2":"20","v2t":"num"},{"t":"btwn","v":"20.1","vt":"num","v2":"21","v2t":"num"},{"t":"btwn","v":"21.1","vt":"num","v2":"22","v2t":"num"},{"t":"btwn","v":"22.1","vt":"num","v2":"23","v2t":"num"},{"t":"btwn","v":"23.1","vt":"num","v2":"24","v2t":"num"},{"t":"btwn","v":"24.1","vt":"num","v2":"25","v2t":"num"},{"t":"btwn","v":"25.1","vt":"num","v2":"26","v2t":"num"},{"t":"btwn","v":"26.1","vt":"num","v2":"27","v2t":"num"},{"t":"btwn","v":"27.1","vt":"num","v2":"28","v2t":"num"},{"t":"btwn","v":"28.1","vt":"num","v2":"29","v2t":"num"},{"t":"btwn","v":"29.1","vt":"num","v2":"30","v2t":"num"}],"checkall":"true","repair":false,"outputs":21,"x":850,"y":2420,"wires":[["f3001934.5984b8"],["fd85af8e.d23b6"],["80f1d71d.67dbd8"],["25a2f8b2.87da78"],["2bd2f91d.d73526"],["4f3e8483.4dc5ac"],["991ea7fc.4cb158"],["63d3656c.8286dc"],["cc46ded.06df92"],["d519c72.98afb38"],["4852bb93.ae0264"],["41bb240a.2e87cc"],["e72cebdd.a3b458"],["7a4579ba.2b84b8"],["752315d1.206f1c"],["58a994b0.47553c"],["736f856.71a8f7c"],["990d018d.8b787"],["2fd8c364.97123c"],["20c0152d.0a592a"],["5f5a18a1.2638b8"]]},{"id":"a0c42487.253668","type":"function","z":"260c1645.232e4a","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2420,"wires":[["d576b48f.abd5e8"]]},{"id":"c9e24b78.d7e0b8","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1850,"y":2180,"wires":[]},{"id":"f3001934.5984b8","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",10);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2180,"wires":[[]]},{"id":"fd85af8e.d23b6","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",11);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2220,"wires":[[]]},{"id":"80f1d71d.67dbd8","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",12);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2260,"wires":[[]]},{"id":"25a2f8b2.87da78","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",13);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2300,"wires":[[]]},{"id":"2bd2f91d.d73526","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",14);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2340,"wires":[[]]},{"id":"4f3e8483.4dc5ac","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",15);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2380,"wires":[[]]},{"id":"991ea7fc.4cb158","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",16);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2420,"wires":[[]]},{"id":"63d3656c.8286dc","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",17);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2460,"wires":[[]]},{"id":"cc46ded.06df92","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",18);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2500,"wires":[[]]},{"id":"4e74ce43.796dc","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"sensor","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":2300,"wires":[["282a8dbd.87fb72"]]},{"id":"d2cbc121.23bbc","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":2100,"wires":[["93815832.b43898"]]},{"id":"6a7289ee.311f38","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":3040,"wires":[["9c006c49.d6f11"]]},{"id":"9c006c49.d6f11","type":"function","z":"260c1645.232e4a","name":"sensor","func":"global.set(\"sensor\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":3040,"wires":[[]]},{"id":"282a8dbd.87fb72","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":2380,"wires":[["a0c42487.253668"]]},{"id":"2a14fb3d.526ca4","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"54","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1280,"wires":[["3a8bdcb6.ef4024"]]},{"id":"3d755e7f.58de72","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"78","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1600,"wires":[["3a8bdcb6.ef4024"]]},{"id":"bca15357.c55a","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":840,"wires":[["3a8bdcb6.ef4024"]]},{"id":"e10308c1.cd8748","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"51","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1240,"wires":[["3a8bdcb6.ef4024"]]},{"id":"c718f335.adf3a","type":"function","z":"260c1645.232e4a","name":"Up Down \"driver\"","func":"//var min = global.get(\"driver_min\")\n//var max = global.get(\"driver_max\")\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <35){\n    global.set('driver', Value + 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n} \n\nif(msg.payload === false && Value >3) {\n    global.set('driver', Value - 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1030,"y":2100,"wires":[["718fbb2c.403c64"]]},{"id":"dfc847f3.c79628","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"check","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":2140,"wires":[["59257e75.c5c8e"]]},{"id":"bc627f49.a92d2","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1310,"y":2140,"wires":[["50e8e5cc.7d9c5c"]]},{"id":"59257e75.c5c8e","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1190,"y":2140,"wires":[["bc627f49.a92d2"]]},{"id":"57a5299f.c57ef8","type":"function","z":"260c1645.232e4a","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":1610,"y":2200,"wires":[[]]},{"id":"50e8e5cc.7d9c5c","type":"range","z":"260c1645.232e4a","minin":"3","maxin":"35","minout":"60","maxout":"700","action":"scale","round":false,"property":"payload","name":"","x":1440,"y":2140,"wires":[["57a5299f.c57ef8","d4ac9896.48d5a8"]]},{"id":"32c6ba6b.e42456","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":3160,"wires":[["66142009.0e894"]]},{"id":"66142009.0e894","type":"function","z":"260c1645.232e4a","name":"modbus 1-2-3-4   \"0\"","func":"global.set(\"modbus1\",0)\nglobal.set(\"modbus2\",0)\nglobal.set(\"modbus3\",0)\nglobal.set(\"modbus4\",0)\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":3160,"wires":[[]]},{"id":"b57dcbc3.a979d8","type":"function","z":"260c1645.232e4a","name":"msg.payload.value","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nif (data == modbus ) {\n    global.set(\"check\",false)\n    global.set(\"driverf\",true)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1850,"y":2100,"wires":[[]]},{"id":"a1659ae4.76cbc8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":3200,"wires":[["eea20bf5.85ffd8"]]},{"id":"eea20bf5.85ffd8","type":"function","z":"260c1645.232e4a","name":"Global set \"false\"  checks","func":"global.set(\"check\",false);\nglobal.set(\"check1\",false);\nglobal.set(\"check2\",false);\nglobal.set(\"check3\",false);\n","outputs":1,"noerr":0,"x":1710,"y":3200,"wires":[[]]},{"id":"9784cdb0.ef722","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"check1","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":260,"wires":[["71b5b411.b4e80c"]]},{"id":"71b5b411.b4e80c","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":260,"wires":[["383b4a6a.c97546"]]},{"id":"916560ef.176f3","type":"range","z":"260c1645.232e4a","minin":"3","maxin":"35","minout":"60","maxout":"700","action":"scale","round":false,"property":"payload","name":"","x":780,"y":220,"wires":[["9a455da2.2bff6","6cc19243.4186dc"]]},{"id":"938580e7.16c32","type":"function","z":"260c1645.232e4a","name":"msg.payload.value","func":"global.set(\"value1\",msg.payload.value);\nvar data = msg.payload.value;\nvar modbus = global.get(\"modbus2\");\nif (data == modbus ) {\n    global.set(\"check1\",false);\n    global.set(\"trigger\",true);\n    msg.payload = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1170,"y":220,"wires":[["3caeaaaa.618046","c0dae948.68ba78"]]},{"id":"3fce487b.1d83f8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":3120,"wires":[["10017779.85d219"]]},{"id":"10017779.85d219","type":"function","z":"260c1645.232e4a","name":"\"AS\"","func":"global.set(\"AS\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":3120,"wires":[[]]},{"id":"7735beb2.7df6e","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"check3","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":1120,"y":1980,"wires":[["be2ee1b2.76091"]]},{"id":"be2ee1b2.76091","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":1980,"wires":[["ee1b024e.1258d"]]},{"id":"ee1b024e.1258d","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1390,"y":1980,"wires":[["390afed3.455f12"]]},{"id":"390afed3.455f12","type":"range","z":"260c1645.232e4a","minin":"3","maxin":"35","minout":"60","maxout":"700","action":"scale","round":false,"property":"payload","name":"","x":1520,"y":1980,"wires":[["99d7829d.f2538","b289e6d8.650b48"]]},{"id":"99d7829d.f2538","type":"function","z":"260c1645.232e4a","name":"Set modbus4","func":"global.set(\"modbus4\", msg.payload)\n","outputs":1,"noerr":0,"x":1690,"y":2040,"wires":[[]]},{"id":"2c907d19.6e11b2","type":"function","z":"260c1645.232e4a","name":"msg.payload.value","func":"global.set(\"value3\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus4\")\nif (data == modbus ) {\n    global.set(\"check3\",false)\n    global.set(\"start\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1910,"y":1940,"wires":[[]]},{"id":"fd611da7.71445","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":280,"wires":[]},{"id":"5981af4d.f44ea","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":320,"wires":[[]]},{"id":"3bc535b3.e808fa","type":"comment","z":"260c1645.232e4a","name":"Marş - 1","info":"","x":920,"y":340,"wires":[]},{"id":"2668364e.be715a","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1910,"y":2020,"wires":[]},{"id":"3a47c850.9b4308","type":"function","z":"260c1645.232e4a","name":"P2 > 7","func":"var data = global.get(\"P2\");\nif (data > 7) {\n    global.set(\"trigger\",false);\n    msg.payload = true;\n    return msg;\n}\nelse if (data < 7) {\n    msg.payload = false;\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":650,"y":400,"wires":[["78aef41c.9896bc","57d2bd73.f88034"]]},{"id":"2c34a661.0a784a","type":"function","z":"260c1645.232e4a","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1820,"wires":[["e239ed99.74b5"]]},{"id":"dffe6593.3a02a8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"pres3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":1820,"wires":[["f16ce805.5b3758"]]},{"id":"f16ce805.5b3758","type":"switch","z":"260c1645.232e4a","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":1820,"wires":[["2c34a661.0a784a"]]},{"id":"e239ed99.74b5","type":"switch","z":"260c1645.232e4a","name":"P2 < 5","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1820,"wires":[["f22e658e.ed0888"]]},{"id":"a0e5d767.c0d0f8","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":2040,"wires":[]},{"id":"e1672347.950ad","type":"function","z":"260c1645.232e4a","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":3180,"wires":[["73076cc9.9e3ac4"]]},{"id":"f6e8e56e.dd7a78","type":"link in","z":"260c1645.232e4a","name":"","links":["73076cc9.9e3ac4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1515,"y":1640,"wires":[["d157f1ff.74b3","ce6f9d4c.17a38"]]},{"id":"73076cc9.9e3ac4","type":"link out","z":"260c1645.232e4a","name":"","links":["f6e8e56e.dd7a78","146fc1b7.d341fe","8c62ae3a.4d3ff","8330d13f.7c224","e9e9ed97.b4ed5","5e00f193.61543","f9c3a430.98fac8","256a9bf1.904104","37e00632.e7369a","1ce4da26.88f006","ef135343.2df27","f2aa0b94.88e5d8","67dd1f04.829c4","5ed9d17.f74ee3","2683aaa8.1e3d66"],"x":955,"y":3180,"wires":[]},{"id":"25aa2541.6631ea","type":"rpi-gpio out","z":"260c1645.232e4a","name":"R4","pin":"15","set":"","level":"0","freq":"","out":"out","x":550,"y":2840,"wires":[]},{"id":"2ae85cf9.5f93f4","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"R4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":2900,"wires":[["25aa2541.6631ea","a8cfa14f.72ef1"]]},{"id":"a8cfa14f.72ef1","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":530,"y":2900,"wires":[["a74f8a4b.291df8"]]},{"id":"a74f8a4b.291df8","type":"ui_text","z":"260c1645.232e4a","group":"e5de5109.7b6d6","order":4,"width":"6","height":"1","name":"","label":"DC Çıkış","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":2900,"wires":[]},{"id":"90fb4f3f.65cc5","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":400,"wires":[["383a77ce.376428"]]},{"id":"44adc0e6.ed8f1","type":"function","z":"260c1645.232e4a","name":"R4-ON","func":"var t3 = global.get(\"T3\")\nvar p2 = global.get(\"P2\")\n\nif (t3 > 50 && p2 > 6 ) {\n    global.set(\"R4\",false)\n    global.set(\"diode\",false)\n}\n","outputs":1,"noerr":0,"x":1170,"y":1920,"wires":[[]]},{"id":"a78ad8e8.10ef28","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":3240,"wires":[["7f877f39.c0a58"]]},{"id":"7f877f39.c0a58","type":"function","z":"260c1645.232e4a","name":"values","func":"global.set(\"value\", undefined)\nglobal.set(\"value1\", undefined)\nglobal.set(\"value2\", undefined)\nglobal.set(\"value3\", undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":3240,"wires":[[]]},{"id":"f4363e58.83b4f","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Sistem Hazır\" ;\n    return msg;\n}\nelse if (data === false){\n    msg.payload = \"Sistem Hazırlanıyor\" ;\n    return msg;\n}\nelse {\n    msg.payload = \" \" ;\n    return msg;\n}","outputs":1,"noerr":0,"x":1070,"y":3400,"wires":[["588e9f1c.bc0d2","35e0c17d.6dab2e"]]},{"id":"35e0c17d.6dab2e","type":"ui_text","z":"260c1645.232e4a","group":"e5de5109.7b6d6","order":5,"width":"6","height":"1","name":"","label":"Sistem","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":3340,"wires":[]},{"id":"58d34732.b2de98","type":"ui_toast","z":"260c1645.232e4a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1350,"y":3420,"wires":[[]]},{"id":"d259f57f.023178","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":3100,"wires":[["889c3312.b68a8"]]},{"id":"4219db91.e43f74","type":"function","z":"260c1645.232e4a","name":"","func":"var T1 = msg.payload[0] /10\nvar T2 = msg.payload[1] /10\nvar T3 = msg.payload[2] /10\nvar T4 = msg.payload[3] /10\nvar T5 = msg.payload[4] /10\nvar T6 = msg.payload[5] /10\n\nif (T1 != 850) {\n    global.set(\"T1\",T1)\n}\nif (T2 != 850) {\n    global.set(\"T2\",T2)\n    \n}\nif (T3 != 850) {\n    global.set(\"T3\",T3)\n    \n}\nif (T4 != 850) {\n    global.set(\"T4\",T4)\n    \n}\nif (T5 != 850) {\n    global.set(\"T5\",T5)\n    \n}\nif (T6 != 850) {\n    global.set(\"T6\",T6)\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":4120,"wires":[[]]},{"id":"27cac36f.ed809c","type":"function","z":"260c1645.232e4a","name":"","func":"var P1 = msg.payload[0] /100\n\nmsg.payload = P1\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":4400,"wires":[["18bebcfb.c26f03"]]},{"id":"18bebcfb.c26f03","type":"range","z":"260c1645.232e4a","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"","x":790,"y":4400,"wires":[["c68a5a2f.fbb068","37ce74cd.15b78c"]]},{"id":"74640e96.ac796","type":"function","z":"260c1645.232e4a","name":"","func":"var P2 = msg.payload[1] /100\n\nmsg.payload = P2\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":4440,"wires":[["32483abd.f33506"]]},{"id":"32483abd.f33506","type":"range","z":"260c1645.232e4a","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"","x":790,"y":4440,"wires":[["aeebd3e1.5d9e4","37ce74cd.15b78c"]]},{"id":"498ccc1f.f82984","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":4400,"wires":[[]]},{"id":"98e7e3c6.ad694","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":4440,"wires":[[]]},{"id":"c68a5a2f.fbb068","type":"function","z":"260c1645.232e4a","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":4400,"wires":[["498ccc1f.f82984"]]},{"id":"aeebd3e1.5d9e4","type":"function","z":"260c1645.232e4a","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":4440,"wires":[["98e7e3c6.ad694"]]},{"id":"3caeaaaa.618046","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1500,"y":140,"wires":[["97812e0b.f0bba","9198c450.a7edc8","45ea5ef8.de70f"]]},{"id":"97812e0b.f0bba","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload;\nif (data === true) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    global.set(\"trigger\",false)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1650,"y":120,"wires":[["490cf9c4.fd44a8"]]},{"id":"490cf9c4.fd44a8","type":"debug","z":"260c1645.232e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1870,"y":120,"wires":[]},{"id":"383a77ce.376428","type":"function","z":"260c1645.232e4a","name":"P2 > 11","func":"var p2      =   global.get(\"P2\")\nif ( p2 > 11) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 11) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false;\n    return msg;\n\n}","outputs":1,"noerr":0,"x":520,"y":560,"wires":[["335710ab.01744","6c19d6c0.26aef8","57d2bd73.f88034"]]},{"id":"d6ef8f9.a32dc7","type":"ui_button","z":"260c1645.232e4a","name":"","group":"241996f9.0ca91a","order":2,"width":"6","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":410,"y":3260,"wires":[["c73cc9fc.49bfc8","820b728.aeaa89","59a45c9.df823a4"]]},{"id":"740fec83.42e244","type":"ui_button","z":"260c1645.232e4a","name":"","group":"241996f9.0ca91a","order":1,"width":"6","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":190,"y":3060,"wires":[["bfe69256.4d1ec"]]},{"id":"95e757d9.7716b8","type":"ui_toast","z":"260c1645.232e4a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":950,"y":3260,"wires":[[]]},{"id":"59a45c9.df823a4","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = \"Kapatma Başarılı\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":3260,"wires":[["6f557658.4b30b8"]]},{"id":"588e9f1c.bc0d2","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":3420,"wires":[["58d34732.b2de98"]]},{"id":"6f557658.4b30b8","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":810,"y":3260,"wires":[["95e757d9.7716b8"]]},{"id":"c167fded.b6b6a","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":3280,"wires":[["6166cb9f.46c744"]]},{"id":"6166cb9f.46c744","type":"function","z":"260c1645.232e4a","name":"diode","func":"global.set(\"diode\", false)\nglobal.set(\"trigger\",false)\nglobal.set(\"stop\",false)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":3280,"wires":[[]]},{"id":"65f3fd8c.7f43c4","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"diode","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":1920,"wires":[["5cc756b1.47fe88"]]},{"id":"5cc756b1.47fe88","type":"switch","z":"260c1645.232e4a","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":1920,"wires":[["44adc0e6.ed8f1"]]},{"id":"c73cc9fc.49bfc8","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"start\",msg.payload);\nvar data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Start Verildi\"\n    return msg;\n}","outputs":1,"noerr":0,"x":470,"y":3060,"wires":[["794897d0.8a93f8"]]},{"id":"820b728.aeaa89","type":"function","z":"260c1645.232e4a","name":"","func":"var data    =   msg.payload;\nif (data === false) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":710,"y":3100,"wires":[["d259f57f.023178","5645f5d6.8c2efc","e1672347.950ad","b0792e98.1b809","68cedf90.36ee1","70160187.cb8bf","9c006c49.d6f11","31b2527a.c543ae","10017779.85d219","66142009.0e894","eea20bf5.85ffd8","7f877f39.c0a58","6166cb9f.46c744"]]},{"id":"146fc1b7.d341fe","type":"link in","z":"260c1645.232e4a","name":"","links":["73076cc9.9e3ac4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":875,"y":100,"wires":[["ff248e2e.ee811"]]},{"id":"8330d13f.7c224","type":"link in","z":"260c1645.232e4a","name":"","links":["73076cc9.9e3ac4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1095,"y":440,"wires":[["90fb4f3f.65cc5"]]},{"id":"5e00f193.61543","type":"link in","z":"260c1645.232e4a","name":"","links":["73076cc9.9e3ac4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":815,"y":440,"wires":[["1b6ad354.103a0d"]]},{"id":"256a9bf1.904104","type":"link in","z":"260c1645.232e4a","name":"","links":["73076cc9.9e3ac4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1415,"y":100,"wires":[["3caeaaaa.618046"]]},{"id":"47604c78.ccd6f4","type":"link in","z":"260c1645.232e4a","name":"","links":["7ff3c7b3.4029a8","7a4a437c.cdd24c"],"x":1475,"y":2180,"wires":[["d4ac9896.48d5a8"]]},{"id":"50484665.34f9a8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"trigger","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":400,"wires":[["8024952e.9904c8"]]},{"id":"8024952e.9904c8","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":400,"wires":[["3a47c850.9b4308"]]},{"id":"90ff8a81.956428","type":"function","z":"260c1645.232e4a","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1060,"y":560,"wires":[["b4c9e813.92c818"]]},{"id":"2d5dba7b.dffd76","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":560,"wires":[["90ff8a81.956428"]]},{"id":"236b8d3e.705aa2","type":"function","z":"260c1645.232e4a","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":770,"y":560,"wires":[["2d5dba7b.dffd76"]]},{"id":"1ce4da26.88f006","type":"link in","z":"260c1645.232e4a","name":"","links":["73076cc9.9e3ac4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":815,"y":600,"wires":[["2d5dba7b.dffd76"]]},{"id":"52792cdc.9a4ed4","type":"comment","z":"260c1645.232e4a","name":"Marş - 2","info":"","x":920,"y":500,"wires":[]},{"id":"ef135343.2df27","type":"link in","z":"260c1645.232e4a","name":"","links":["73076cc9.9e3ac4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1115,"y":600,"wires":[["b4c9e813.92c818"]]},{"id":"b4c9e813.92c818","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":560,"wires":[["67abc479.7afa0c"]]},{"id":"67abc479.7afa0c","type":"function","z":"260c1645.232e4a","name":"P2 > 12","func":"var p2      =   global.get(\"P2\")\nif ( p2 > 12) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 12) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false ;\n    return msg;\n \n}","outputs":1,"noerr":0,"x":540,"y":820,"wires":[["a8bca5f0.3bdbf8","6c19d6c0.26aef8","57d2bd73.f88034"]]},{"id":"ee2f967a.ad77d8","type":"function","z":"260c1645.232e4a","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1060,"y":820,"wires":[["161fdecb.6b26b1"]]},{"id":"4479db9c.b720e4","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":820,"wires":[["ee2f967a.ad77d8"]]},{"id":"7cee0bad.f338d4","type":"function","z":"260c1645.232e4a","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":790,"y":820,"wires":[["4479db9c.b720e4"]]},{"id":"f2aa0b94.88e5d8","type":"link in","z":"260c1645.232e4a","name":"","links":["73076cc9.9e3ac4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":815,"y":860,"wires":[["4479db9c.b720e4"]]},{"id":"14825b36.77b5c5","type":"comment","z":"260c1645.232e4a","name":"Marş - 3","info":"","x":920,"y":760,"wires":[]},{"id":"67dd1f04.829c4","type":"link in","z":"260c1645.232e4a","name":"","links":["73076cc9.9e3ac4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1115,"y":860,"wires":[["161fdecb.6b26b1"]]},{"id":"161fdecb.6b26b1","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":820,"wires":[["4568166a.107668"]]},{"id":"4568166a.107668","type":"function","z":"260c1645.232e4a","name":"P2 > 13","func":"var p2      =   global.get(\"P2\")\nif ( p2 > 13) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 13) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1380,"y":860,"wires":[["6c19d6c0.26aef8","2d4fbb11.b093c4","20e89369.9def5c","57d2bd73.f88034"]]},{"id":"99ab2d96.1fee","type":"link out","z":"260c1645.232e4a","name":"","links":["5185fd1b.3bcb44"],"x":1635,"y":860,"wires":[]},{"id":"5185fd1b.3bcb44","type":"link in","z":"260c1645.232e4a","name":"","links":["99ab2d96.1fee"],"x":1415,"y":1560,"wires":[["f22e658e.ed0888"]]},{"id":"c0cccc12.04246","type":"comment","z":"260c1645.232e4a","name":"Acil Stop","info":"","x":1400,"y":800,"wires":[]},{"id":"794897d0.8a93f8","type":"ui_toast","z":"260c1645.232e4a","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":650,"y":3060,"wires":[[]]},{"id":"9198c450.a7edc8","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.reset = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1630,"y":200,"wires":[["4330a158.7ddc9"]]},{"id":"4330a158.7ddc9","type":"link out","z":"260c1645.232e4a","name":"","links":["6b0dcd73.e07494","24354e18.ec3722","956dc5b5.1554c8","70fa3583.d4d30c","39843bb8.edee74","a549087.4b1f7f8"],"x":1760,"y":200,"wires":[]},{"id":"6b0dcd73.e07494","type":"link in","z":"260c1645.232e4a","name":"","links":["4330a158.7ddc9"],"x":815,"y":360,"wires":[["1b6ad354.103a0d"]]},{"id":"24354e18.ec3722","type":"link in","z":"260c1645.232e4a","name":"","links":["4330a158.7ddc9"],"x":1095,"y":360,"wires":[["90fb4f3f.65cc5"]]},{"id":"956dc5b5.1554c8","type":"link in","z":"260c1645.232e4a","name":"","links":["4330a158.7ddc9"],"x":815,"y":520,"wires":[["2d5dba7b.dffd76"]]},{"id":"70fa3583.d4d30c","type":"link in","z":"260c1645.232e4a","name":"","links":["4330a158.7ddc9"],"x":1115,"y":520,"wires":[["b4c9e813.92c818"]]},{"id":"39843bb8.edee74","type":"link in","z":"260c1645.232e4a","name":"","links":["4330a158.7ddc9"],"x":815,"y":780,"wires":[["4479db9c.b720e4"]]},{"id":"a549087.4b1f7f8","type":"link in","z":"260c1645.232e4a","name":"","links":["4330a158.7ddc9"],"x":1095,"y":780,"wires":[["161fdecb.6b26b1"]]},{"id":"6c19d6c0.26aef8","type":"switch","z":"260c1645.232e4a","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":640,"wires":[["206f8fe.f213d7"]]},{"id":"335710ab.01744","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":560,"wires":[["236b8d3e.705aa2"]]},{"id":"a8bca5f0.3bdbf8","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":820,"wires":[["7cee0bad.f338d4"]]},{"id":"37a4e359.66929c","type":"function","z":"260c1645.232e4a","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":640,"wires":[["2a848f6c.0e882"]]},{"id":"2a848f6c.0e882","type":"link out","z":"260c1645.232e4a","name":"","links":["56784497.59d42c"],"x":995,"y":640,"wires":[]},{"id":"56784497.59d42c","type":"link in","z":"260c1645.232e4a","name":"","links":["2a848f6c.0e882"],"x":1315,"y":100,"wires":[["3caeaaaa.618046","e946463e.527508"]]},{"id":"206f8fe.f213d7","type":"function","z":"260c1645.232e4a","name":"","func":"var data    =   msg.payload;\nif (data === false) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":790,"y":640,"wires":[["37a4e359.66929c"]]},{"id":"ca31b73c.d41118","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"temp3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":1700,"wires":[["407b8b11.58c664"]]},{"id":"407b8b11.58c664","type":"switch","z":"260c1645.232e4a","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":1700,"wires":[["5b01cfa3.3c6ba"]]},{"id":"5b01cfa3.3c6ba","type":"function","z":"260c1645.232e4a","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1700,"wires":[["715060d4.e3033"]]},{"id":"715060d4.e3033","type":"switch","z":"260c1645.232e4a","name":"T3 < 30","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":1700,"wires":[["f22e658e.ed0888"]]},{"id":"f47779bc.591078","type":"function","z":"260c1645.232e4a","name":"P1","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":940,"wires":[[]]},{"id":"3156ef69.b2126","type":"function","z":"260c1645.232e4a","name":"P2","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1060,"wires":[[]]},{"id":"bfa7ccf5.4cc9a","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":140,"wires":[]},{"id":"7bc9e3ea.f5445c","type":"function","z":"260c1645.232e4a","name":"","func":"msg.payload = 0\nglobal.set(\"stop\",false)\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":3340,"wires":[["7a4a437c.cdd24c"]]},{"id":"7a4a437c.cdd24c","type":"link out","z":"260c1645.232e4a","name":"","links":["1ba41dd8.f03492","87b4f24.3febe1","f0e38571.924db8","47604c78.ccd6f4","838ce784.849f28","2fd23349.6d3b4c"],"x":895,"y":3340,"wires":[]},{"id":"889c3312.b68a8","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"stop\",true)\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":3100,"wires":[[]]},{"id":"32199b82.6d0ba4","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"stop","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":3340,"wires":[["a924b027.99674"]]},{"id":"a924b027.99674","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":3340,"wires":[["7bc9e3ea.f5445c","e2aad462.3bb1b8"]]},{"id":"7a8123c3.fe0a7c","type":"function","z":"260c1645.232e4a","name":"","func":"var v   =   global.get(\"value\");\n//var v1  =   global.get(\"value1\");\n//var v2  =   global.get(\"value2\");\n//var v3  =   global.get(\"value3\");\nif (v === 0) {\n    msg.payload = true;\n    return msg;\n}\nelse {\n    global.set(\"stop\",true)\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":950,"y":3400,"wires":[["f4363e58.83b4f","47e7b04b.b91b5"]]},{"id":"e2aad462.3bb1b8","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":3400,"wires":[["7a8123c3.fe0a7c"]]},{"id":"2d4fbb11.b093c4","type":"debug","z":"260c1645.232e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1570,"y":780,"wires":[]},{"id":"54dfb921.07f7e8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"15.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":920,"wires":[["3156ef69.b2126"]]},{"id":"236fa8b6.dbbd08","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":880,"wires":[["f47779bc.591078","3156ef69.b2126"]]},{"id":"b5f1f384.cdc19","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"17.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1000,"wires":[["3156ef69.b2126"]]},{"id":"2a973578.e7b31a","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"16.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":960,"wires":[["3156ef69.b2126"]]},{"id":"b137025c.f1df3","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"18.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1040,"wires":[["3156ef69.b2126"]]},{"id":"d3500292.0da09","type":"function","z":"260c1645.232e4a","name":"","func":"var data    =   msg.payload;\nif (data === true) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1130,"y":3280,"wires":[["5645f5d6.8c2efc","b0792e98.1b809","68cedf90.36ee1","70160187.cb8bf","9c006c49.d6f11","31b2527a.c543ae","10017779.85d219","66142009.0e894","eea20bf5.85ffd8","7f877f39.c0a58","6166cb9f.46c744"]]},{"id":"47e7b04b.b91b5","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1050,"y":3340,"wires":[["d3500292.0da09"]]},{"id":"20e89369.9def5c","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":860,"wires":[["99ab2d96.1fee"]]},{"id":"ba9c83bb.6c89a","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"fb8e68c3.0439f8","order":1,"width":"3","height":"2","gtype":"donut","title":"5 dk","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":3560,"wires":[]},{"id":"d7f0449b.304268","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"fb8e68c3.0439f8","order":2,"width":"3","height":"2","gtype":"donut","title":"3 dk","label":"units","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":3600,"wires":[]},{"id":"a5ea5b91.676a08","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":640,"wires":[["3aa818bb.4f93e8"]]},{"id":"a6ff15aa.2367e8","type":"switch","z":"260c1645.232e4a","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":680,"wires":[["3aa818bb.4f93e8"]]},{"id":"3501126c.f3bace","type":"function","z":"260c1645.232e4a","name":"driver up down","func":"msg.payload = global.get(\"trig\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1560,"y":560,"wires":[["a5ea5b91.676a08","a6ff15aa.2367e8"]]},{"id":"6666cfeb.ca9ce","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"trig","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1390,"y":500,"wires":[["18bfaa6.d691156"]]},{"id":"18bfaa6.d691156","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":500,"wires":[["3501126c.f3bace"]]},{"id":"3aa818bb.4f93e8","type":"function","z":"260c1645.232e4a","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"timer\");\n\nif(msg.payload === true && Value <300){\n    global.set('timer', Value + 1)\n\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('timer', Value - 1)\n\n}\nValue = global.get(\"timer\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1690,"y":680,"wires":[[]]},{"id":"35640c1d.5a8324","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1470,"y":440,"wires":[["d04ec06.84f9a4"]]},{"id":"d04ec06.84f9a4","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"timer\",0)\nglobal.set(\"trig\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":440,"wires":[[]]},{"id":"c329e7f6.cf0dc8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"timer","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":3560,"wires":[["ba9c83bb.6c89a"]]},{"id":"3e3b01e0.ee9f5e","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"timer2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":3600,"wires":[["d7f0449b.304268"]]},{"id":"d052ea5a.b092a8","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1790,"y":1560,"wires":[["928b3af2.902388"]]},{"id":"a7f63093.97622","type":"switch","z":"260c1645.232e4a","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1790,"y":1600,"wires":[["928b3af2.902388"]]},{"id":"d001f54f.7a26f8","type":"function","z":"260c1645.232e4a","name":"driver up down","func":"msg.payload = global.get(\"trig2\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1620,"y":1580,"wires":[["d052ea5a.b092a8","a7f63093.97622"]]},{"id":"719e7c0d.6165b4","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"trig2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":1520,"wires":[["9a046477.9d7758"]]},{"id":"9a046477.9d7758","type":"switch","z":"260c1645.232e4a","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1590,"y":1520,"wires":[["d001f54f.7a26f8"]]},{"id":"928b3af2.902388","type":"function","z":"260c1645.232e4a","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"timer2\");\n\nif(msg.payload === true && Value <180){\n    global.set('timer2', Value + 1)\n\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('timer2', Value - 1)\n\n}\nValue = global.get(\"timer2\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1950,"y":1580,"wires":[[]]},{"id":"55476ebc.3b214","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1210,"y":320,"wires":[["c0dae948.68ba78","3caeaaaa.618046"]]},{"id":"31ecd7ed.0fd3c8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1210,"y":360,"wires":[["c0dae948.68ba78","5522c663.bd7808","f92286d9.bca3e8"]]},{"id":"5522c663.bd7808","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1490,"y":300,"wires":[["3caeaaaa.618046"]]},{"id":"c0dae948.68ba78","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"trig\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":340,"wires":[[]]},{"id":"f92286d9.bca3e8","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1490,"y":380,"wires":[["d04ec06.84f9a4"]]},{"id":"45ea5ef8.de70f","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1670,"y":320,"wires":[["d04ec06.84f9a4"]]},{"id":"a6bb1635.4065a8","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1870,"y":1820,"wires":[[]]},{"id":"7d07f53d.3090ec","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1310,"y":1880,"wires":[["7481078c.a39db8","d157f1ff.74b3"]]},{"id":"cddd9e2c.f4442","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1310,"y":1920,"wires":[["7481078c.a39db8","7f50cf9f.96a8d","82dae712.937af8"]]},{"id":"7f50cf9f.96a8d","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1690,"y":1840,"wires":[["d157f1ff.74b3"]]},{"id":"7481078c.a39db8","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"trig2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":1880,"wires":[[]]},{"id":"82dae712.937af8","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1690,"y":1920,"wires":[["35a5a054.d8ac8"]]},{"id":"e946463e.527508","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload\nif (data === true ) {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1430,"y":240,"wires":[["5522c663.bd7808","c0dae948.68ba78","f92286d9.bca3e8"]]},{"id":"ce6f9d4c.17a38","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload\nif (data === true ) {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1550,"y":1820,"wires":[["7f50cf9f.96a8d","7481078c.a39db8","82dae712.937af8"]]},{"id":"d1cd1bed.f7d958","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1870,"y":1880,"wires":[["35a5a054.d8ac8"]]},{"id":"35a5a054.d8ac8","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"timer2\",0)\nglobal.set(\"trig2\",false)\nreturn msg;","outputs":1,"noerr":0,"x":2010,"y":1880,"wires":[[]]},{"id":"2c386791.7523b8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"R3","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":370,"y":2800,"wires":[[]]},{"id":"4b19c0a5.bcfd8","type":"rpi-gpio out","z":"260c1645.232e4a","name":"R3 (Pin numarası Belirleyiniz)","pin":"29","set":"","level":"0","freq":"","out":"out","x":630,"y":2740,"wires":[]},{"id":"181c64ff.63c42b","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload;\n\n\nif( data === true){\n    msg.payload = \"Kapalı\";\n\n    return msg;\n}else if( data === false ){\n    \n    msg.payload = \"Açık\";\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":530,"y":2800,"wires":[[]]},{"id":"f3b20d41.7b4f2","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1730,"y":3340,"wires":[["e08b3816.69bd48"]]},{"id":"e08b3816.69bd48","type":"function","z":"260c1645.232e4a","name":"R3","func":"global.set(\"R3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":3340,"wires":[[]]},{"id":"f69e03cb.57e07","type":"comment","z":"260c1645.232e4a","name":"Röle","info":"","x":350,"y":2480,"wires":[]},{"id":"a5f19168.23518","type":"comment","z":"260c1645.232e4a","name":"Analizör","info":"","x":530,"y":3660,"wires":[]},{"id":"c24adb22.887548","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1130,"y":4080,"wires":[["daba497a.27a758"]]},{"id":"daba497a.27a758","type":"function","z":"260c1645.232e4a","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"V1\"        :undefined,\n    \"V2\"        :undefined,\n    \"V3\"        :undefined,\n    \"C1\"        :undefined,\n    \"C2\"        :undefined,\n    \"C3\"        :undefined,\n    \"WT\"        :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"P3\"        :undefined,\n    \"P4\"        :undefined,\n    \"Hz\"        :undefined,\n    \"WE\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":4080,"wires":[[]]},{"id":"3042c252.3475be","type":"debug","z":"260c1645.232e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":4120,"wires":[]},{"id":"c9f39c46.4cd09","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1110,"y":4120,"wires":[["3042c252.3475be"]]},{"id":"dd8a1048.98db5","type":"function","z":"260c1645.232e4a","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0]  /   10,\n        \"Temp2\"\t:   msg.payload[1]  /   10,\n        \"Temp3\"\t:   msg.payload[2]  /   10,\n        \"Temp4\"\t:   msg.payload[3]  /   10,\n        \"Temp5\"\t:   msg.payload[4]  /   10,\n        \"Temp6\"\t:   msg.payload[5]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":4180,"wires":[["fe4195d4.71e608"]]},{"id":"fe4195d4.71e608","type":"function","z":"260c1645.232e4a","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":4180,"wires":[[]]},{"id":"240e5610.67763a","type":"debug","z":"260c1645.232e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1590,"y":2500,"wires":[]},{"id":"a9fa48e7.c1d1d8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":4780,"wires":[["6c063df5.cfe494"]]},{"id":"244afb54.58fbd4","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"T2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":4820,"wires":[["f1217082.83d3a"]]},{"id":"992d3629.a25958","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":4860,"wires":[["b30d1b11.ffffa8"]]},{"id":"c35c2efc.b41df","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"T4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":4900,"wires":[["73239581.a7934c"]]},{"id":"d4eef91d.6aaa88","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"T5","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":4940,"wires":[["f149ca5c.93bc58"]]},{"id":"ca8231ba.97593","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"T6","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":4980,"wires":[["f54b70ee.9e5e7"]]},{"id":"1c068805.b898b8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":4780,"wires":[["167658a9.4edb97"]]},{"id":"fac6bcd7.a2f78","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":4820,"wires":[["fe585a32.d11e58"]]},{"id":"2d8e7ed.5a49382","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"P2S","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":4860,"wires":[["817182d3.3e774"]]},{"id":"8ab7f8e5.c907a8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"PS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":4900,"wires":[["fdfa4d05.a95a5"]]},{"id":"68516dc1.141c44","type":"function","z":"260c1645.232e4a","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"P1\"    :   msg.payload[0]  /   100,\n        \"P2\"\t:   msg.payload[1]  /   100\n\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":4300,"wires":[["175233ec.525d0c","c5976d75.62824"]]},{"id":"175233ec.525d0c","type":"range","z":"260c1645.232e4a","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P1","name":"","x":790,"y":4320,"wires":[["ea05f271.97858"]]},{"id":"c5976d75.62824","type":"range","z":"260c1645.232e4a","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P2","name":"","x":790,"y":4360,"wires":[["2d9d8204.f0785e"]]},{"id":"ea05f271.97858","type":"function","z":"260c1645.232e4a","name":"","func":"var data = parseFloat( (msg.payload.P1).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":4320,"wires":[[]]},{"id":"2d9d8204.f0785e","type":"function","z":"260c1645.232e4a","name":"","func":"var data = parseFloat( (msg.payload.P2).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":4360,"wires":[[]]},{"id":"c723c001.b083a","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"660","crontab":"","once":false,"onceDelay":0.1,"x":1190,"y":4240,"wires":[["c7324d10.bb9a4"]]},{"id":"8850ccc6.55a68","type":"azureiothub","z":"260c1645.232e4a","name":"Azure IoT Hub","protocol":"mqtt","x":1540,"y":4220,"wires":[["fc7da766.4184b8"]]},{"id":"c7324d10.bb9a4","type":"function","z":"260c1645.232e4a","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"f5648a27-2a6c-4a00-891c-5838964d6b06\",\n        \"key\": \"02g2U9uikAzKJqolD0N3qyRmgHh0KFk2Wj9hQAtpO6M=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":4220,"wires":[["8850ccc6.55a68"]]},{"id":"fc7da766.4184b8","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":4220,"wires":[]},{"id":"cf21dfe9.0d2e2","type":"comment","z":"260c1645.232e4a","name":"Set fonksiyonu iptali için","info":"","x":700,"y":2040,"wires":[]},{"id":"bdb4371e.12f7d8","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"azure_data\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":4780,"wires":[[]]},{"id":"de0c4d59.552d4","type":"function","z":"260c1645.232e4a","name":"","func":"var azure_data = global.get(\"azure_data\")\n\nglobal.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",azure_data.P2)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":3400,"wires":[[]]},{"id":"ea9be312.5cb59","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":540,"wires":[["4fc6ba93.4be044"]]},{"id":"63fa32af.7712ec","type":"function","z":"260c1645.232e4a","name":"","func":"var data = msg.payload;\n\nif (data === true) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":410,"y":220,"wires":[[]]},{"id":"a83bb843.0c1ee8","type":"function","z":"260c1645.232e4a","name":"magneto","func":"var data = {\n    \"A1_v\"      :undefined,\n    \"A1_c\"      :undefined,\n    \"A1_p\"      :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"driver\"    :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":3740,"wires":[[]]},{"id":"ef033a49.96a798","type":"function","z":"260c1645.232e4a","name":"msg.payload = T1","func":"var data    =   global.get(\"T1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1620,"wires":[["bd4ad5f5.279dd8"]]},{"id":"bd4ad5f5.279dd8","type":"switch","z":"260c1645.232e4a","name":"T1 < 50","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":1620,"wires":[["f22e658e.ed0888"]]},{"id":"17d1108c.19db5f","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":1620,"wires":[["762d5db9.f76db4"]]},{"id":"762d5db9.f76db4","type":"switch","z":"260c1645.232e4a","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":1620,"wires":[["ef033a49.96a798"]]},{"id":"b61db9b0.0d6b38","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"45","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":800,"wires":[["b07eb2f1.7af6a"]]},{"id":"de43f23d.08a84","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1700,"y":1680,"wires":[["cfcd514f.56903"]]},{"id":"cfcd514f.56903","type":"function","z":"260c1645.232e4a","name":"R4 OFF","func":"global.set(\"R4\",true);\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":1680,"wires":[[]]},{"id":"479bf8ac.e30a58","type":"function","z":"260c1645.232e4a","name":"Akım ve Gerilim","func":"global.set('dev1_gerilim', msg.payload[2])\nglobal.set('dev1_akim', msg.payload[8])\n","outputs":1,"noerr":0,"x":680,"y":3820,"wires":[[]]},{"id":"2a375945.9931d6","type":"function","z":"260c1645.232e4a","name":"","func":"\n","outputs":1,"noerr":0,"x":650,"y":3860,"wires":[[]]},{"id":"3d0e96a2.06f48a","type":"debug","z":"260c1645.232e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":3780,"wires":[]},{"id":"6fa7e24.807a21c","type":"function","z":"260c1645.232e4a","name":"set \"21\" bar","func":"global.set(\"P2S\",21);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1080,"wires":[[]]},{"id":"a5c09f3c.c313e","type":"function","z":"260c1645.232e4a","name":"set \"22\" bar","func":"global.set(\"P2S\",22);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1120,"wires":[[]]},{"id":"758299ad.facf68","type":"function","z":"260c1645.232e4a","name":"set \"23\" bar","func":"global.set(\"P2S\",23);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1160,"wires":[[]]},{"id":"14301589.d0c62a","type":"function","z":"260c1645.232e4a","name":"set \"25\" bar","func":"global.set(\"P2S\",25);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1240,"wires":[[]]},{"id":"6c8a121b.04d3ac","type":"function","z":"260c1645.232e4a","name":"set \"20\" bar","func":"global.set(\"P2S\",20);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1040,"wires":[[]]},{"id":"c51ed97b.84a678","type":"function","z":"260c1645.232e4a","name":"set \"19\" bar","func":"global.set(\"P2S\",19);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1000,"wires":[[]]},{"id":"930e6e75.a2d56","type":"function","z":"260c1645.232e4a","name":"set \"26\" bar","func":"global.set(\"P2S\",26);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1280,"wires":[[]]},{"id":"5e7d8a11.7baed4","type":"function","z":"260c1645.232e4a","name":"set \"27\" bar","func":"global.set(\"P2S\",27);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1320,"wires":[[]]},{"id":"9108a6b9.654038","type":"function","z":"260c1645.232e4a","name":"set \"24\" bar","func":"global.set(\"P2S\",24);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1200,"wires":[[]]},{"id":"c6532012.86832","type":"function","z":"260c1645.232e4a","name":"set \"29\" bar","func":"global.set(\"P2S\",29);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1400,"wires":[[]]},{"id":"b9facbdd.88d308","type":"function","z":"260c1645.232e4a","name":"set \"30\" bar","func":"global.set(\"P2S\",30);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1440,"wires":[[]]},{"id":"8c784de8.16bb5","type":"function","z":"260c1645.232e4a","name":"set \"28\" bar","func":"global.set(\"P2S\",28);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1360,"wires":[[]]},{"id":"d519c72.98afb38","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",19);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2540,"wires":[[]]},{"id":"4852bb93.ae0264","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",20);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2580,"wires":[[]]},{"id":"41bb240a.2e87cc","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",21);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2620,"wires":[[]]},{"id":"e72cebdd.a3b458","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",22);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2660,"wires":[[]]},{"id":"7a4579ba.2b84b8","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",23);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2700,"wires":[[]]},{"id":"752315d1.206f1c","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",24);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2740,"wires":[[]]},{"id":"58a994b0.47553c","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",25);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2780,"wires":[[]]},{"id":"736f856.71a8f7c","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",26);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2820,"wires":[[]]},{"id":"990d018d.8b787","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",27);\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2860,"wires":[[]]},{"id":"2fd8c364.97123c","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",28);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2880,"wires":[[]]},{"id":"20c0152d.0a592a","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",29);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2920,"wires":[[]]},{"id":"5f5a18a1.2638b8","type":"function","z":"260c1645.232e4a","name":"","func":"global.set(\"PS\",30);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2960,"wires":[[]]},{"id":"f6e7a113.043ee","type":"function","z":"260c1645.232e4a","name":"","func":"//var data = global.get(\"dev1_gerilim\")\nvar data = msg.payload;\n\nif ( data < 261 ) {\n    msg.payload = true;\n    return msg;\n}\n\nelse if ( data > 389) {\n    msg.payload = false;\n    return msg;\n}\n\nelse {\n    msg.payoad = null;\n}","outputs":1,"noerr":0,"x":1370,"y":3640,"wires":[["3507c066.6e9c6"]]},{"id":"21e15711.979328","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"250","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1120,"y":3640,"wires":[["f6e7a113.043ee"]]},{"id":"cea67c33.731cf","type":"debug","z":"260c1645.232e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1780,"y":3660,"wires":[]},{"id":"f7bc2431.ff34d8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":3700,"wires":[["f6e7a113.043ee"]]},{"id":"f06a3592.f07808","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":3740,"wires":[["f6e7a113.043ee"]]},{"id":"3507c066.6e9c6","type":"function","z":"260c1645.232e4a","name":"Şebeke Ön Hazırlık","func":"//var min = global.get(\"driver_min\")\n//var max = global.get(\"driver_max\")\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <50){\n    global.set('driver', Value + 1)\n    //global.set(\"check\",true)\n    //global.set(\"driverf\",false)\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('driver', Value - 1)\n    //global.set(\"check\",true)\n    //global.set(\"driverf\",false)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1570,"y":3620,"wires":[["cea67c33.731cf"]]},{"id":"64ef5f43.a0a0b","type":"comment","z":"260c1645.232e4a","name":"Sonra Eklenecek","info":"","x":1440,"y":3580,"wires":[]},{"id":"37ce74cd.15b78c","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":4480,"wires":[]},{"id":"d58b430d.7ef6f","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[4]","targetType":"msg","x":580,"y":4620,"wires":[]},{"id":"6e99591a.49a638","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":2300,"wires":[["b289e6d8.650b48","d4ac9896.48d5a8"]]},{"id":"4c9f13ef.ce09bc","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":2360,"wires":[[]]},{"id":"e9be0b97.86e2d8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2540,"wires":[["1a395810.180ae8"]]},{"id":"fbefc857.bd3558","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2500,"wires":[["1a395810.180ae8"]]},{"id":"f4c526a6.d67f98","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":2420,"wires":[[]]},{"id":"97086b30.adfc68","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":2480,"wires":[[]]},{"id":"b64202c1.a14ba","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"8","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":3780,"wires":[["c1493eb0.b011a","36d2f3c0.8477dc"]]},{"id":"c1493eb0.b011a","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":80,"y":3880,"wires":[["df27d301.907cd","beb365ae.cc3438"]]},{"id":"57d2bd73.f88034","type":"debug","z":"260c1645.232e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":480,"wires":[]},{"id":"6c063df5.cfe494","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"c3c6118c.02da3","order":1,"width":"3","height":"3","gtype":"gage","title":"Sıcak Su Giriş","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":4780,"wires":[]},{"id":"b30d1b11.ffffa8","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"c3c6118c.02da3","order":3,"width":"3","height":"3","gtype":"gage","title":"Türbin Giriş","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":4860,"wires":[]},{"id":"f149ca5c.93bc58","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"c3c6118c.02da3","order":5,"width":"3","height":"3","gtype":"gage","title":"Pompa Çıkış","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":4940,"wires":[]},{"id":"167658a9.4edb97","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"ac323f25.12059","order":0,"width":"3","height":"3","gtype":"gage","title":"Düşük Basınç","label":"Bar","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":4780,"wires":[]},{"id":"fe585a32.d11e58","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"ac323f25.12059","order":0,"width":"3","height":"3","gtype":"gage","title":"Yüksek Basınç","label":"Bar","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":4820,"wires":[]},{"id":"817182d3.3e774","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"ac323f25.12059","order":0,"width":"3","height":"3","gtype":"gage","title":"Hedeflenen","label":"Bar","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":4860,"wires":[]},{"id":"fdfa4d05.a95a5","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"ac323f25.12059","order":0,"width":"3","height":"3","gtype":"gage","title":"Kabul Edilen","label":"Bar","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":4900,"wires":[]},{"id":"d1218d5b.83d85","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"29","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":960,"wires":[["3156ef69.b2126"]]},{"id":"430670e0.78474","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"10.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1080,"wires":[["3156ef69.b2126"]]},{"id":"35bb8150.02b00e","type":"comment","z":"260c1645.232e4a","name":"Acil Stop","info":"","x":160,"y":760,"wires":[]},{"id":"eacd1938.f6dad8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":880,"wires":[["3a8bdcb6.ef4024"]]},{"id":"6c4ccf67.08245","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"14","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":920,"wires":[["f47779bc.591078"]]},{"id":"ee0a26d1.295d78","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"81","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1640,"wires":[["3a8bdcb6.ef4024"]]},{"id":"ec2b0cdc.ef1dd","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"84","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1680,"wires":[["3a8bdcb6.ef4024"]]},{"id":"4530148e.dd4f3c","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1720,"wires":[["3a8bdcb6.ef4024"]]},{"id":"a915a600.74bfe8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1760,"wires":[["3a8bdcb6.ef4024"]]},{"id":"b74488b7.0b5378","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"93","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1800,"wires":[["3a8bdcb6.ef4024"]]},{"id":"580efa8d.67a774","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"96","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1840,"wires":[["3a8bdcb6.ef4024"]]},{"id":"3308efb9.52cb7","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"99","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1880,"wires":[["3a8bdcb6.ef4024"]]},{"id":"3716a2b8.e9ed5e","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"102","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1920,"wires":[["3a8bdcb6.ef4024"]]},{"id":"ff7873f6.cd017","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1960,"wires":[["3a8bdcb6.ef4024"]]},{"id":"e2af1455.a09308","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"108","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":2000,"wires":[["3a8bdcb6.ef4024"]]},{"id":"191f8a0a.78a766","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"111","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":2040,"wires":[["3a8bdcb6.ef4024"]]},{"id":"ebbaf020.286c5","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":3680,"wires":[["f63de5.a5870218"]]},{"id":"f63de5.a5870218","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":3700,"wires":[[]]},{"id":"ddad8a6d.e4b688","type":"function","z":"260c1645.232e4a","name":"","func":"var consumed = msg.payload[19];\nvar delivered = msg.payload[39];\nmsg.payload = consumed;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":3740,"wires":[["5ec60b69.b3bc74"]]},{"id":"db26e00d.1f4b5","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["ea9be312.5cb59","7c08a6d3.5c2a88"]]},{"id":"4fc6ba93.4be044","type":"function","z":"260c1645.232e4a","name":"<== Delay ayarı","func":"global.set(\"start\",true)\nmsg.payload = global.get(\"start\");\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":540,"wires":[[]]},{"id":"bfe69256.4d1ec","type":"exec","z":"260c1645.232e4a","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":270,"y":3140,"wires":[["55a9ad4b.be51b4"],[],[]]},{"id":"55a9ad4b.be51b4","type":"debug","z":"260c1645.232e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":3220,"wires":[]},{"id":"5ec60b69.b3bc74","type":"ui_text","z":"260c1645.232e4a","group":"b634aca.234415","order":4,"width":"9","height":"4","name":"","label":"Toplam Enerji (Wh)","format":"{{msg.payload}}","layout":"col-center","x":1110,"y":3820,"wires":[]},{"id":"4ba2be82.4e974","type":"ui_toast","z":"260c1645.232e4a","position":"top right","displayTime":"60","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":150,"y":320,"wires":[]},{"id":"7c08a6d3.5c2a88","type":"function","z":"260c1645.232e4a","name":"","func":"msg.payload = \"Stand-By\";\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":220,"wires":[["4ba2be82.4e974"]]},{"id":"f294b58a.8ad768","type":"ui_toast","z":"260c1645.232e4a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":690,"y":40,"wires":[]},{"id":"428fe798.e4d778","type":"function","z":"260c1645.232e4a","name":"","func":"msg.payload = \"Start için uygun koşullar bekleniyor\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":40,"wires":[["f294b58a.8ad768"]]},{"id":"f1217082.83d3a","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"c3c6118c.02da3","order":2,"width":"3","height":"3","gtype":"gage","title":"Sıcak Su Çıkış","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":4820,"wires":[]},{"id":"73239581.a7934c","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"c3c6118c.02da3","order":4,"width":"3","height":"3","gtype":"gage","title":"Türbin Çıkış","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":4900,"wires":[]},{"id":"f54b70ee.9e5e7","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"c3c6118c.02da3","order":6,"width":"3","height":"3","gtype":"gage","title":"Soğuk Su Çıkış","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":4980,"wires":[]},{"id":"aadb5e59.bd151","type":"comment","z":"260c1645.232e4a","name":"Sıcaklık-Basınç Ekran İsimleri","info":"","x":240,"y":4720,"wires":[]},{"id":"df27d301.907cd","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":60,"y":3960,"wires":[["7c86dd2.ab4a024","7b7ec12c.dfa75"]]},{"id":"10a8de88.f79f21","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"fe5856b2.148988","order":2,"width":"3","height":"4","gtype":"gage","title":"S","label":"A","format":"{{payload.C2}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":4020,"wires":[]},{"id":"15bc631e.2a2b8d","type":"function","z":"260c1645.232e4a","name":"RePG","func":"\nmsg = {\n    \"payload\" : {\n        //\"repg_v1\"   :   msg.payload[1]  /   10 ,\n        //\"repg_v2\"\t:   msg.payload[3]  /   10 ,\n        //\"repg_v3\"\t:   msg.payload[5]  /   10 ,\n        \"V1\"\t:   msg.payload[9]  /   10 ,\n        \"V2\"\t:   msg.payload[11] /   10 ,\n        \"V3\"\t:   msg.payload[13] /   10 ,\n        \"C1\"\t:   msg.payload[15] /   1000 ,\n        \"C2\"\t:   msg.payload[17] /   1000 ,\n        \"C3\"\t:   msg.payload[19] /   1000 \n        \n        \n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":3940,"wires":[["7b56206.3c04ce","efc9cdfb.91c1f","dd35c46a.b50958","2906c438.cca30c","10a8de88.f79f21","fc57fa10.cca8b8","8b948027.00b5c"]]},{"id":"7b56206.3c04ce","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"70fef90c.1a40a8","order":0,"width":"3","height":"4","gtype":"gage","title":"R","label":"V","format":"{{payload.V1}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":3840,"wires":[]},{"id":"efc9cdfb.91c1f","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"70fef90c.1a40a8","order":0,"width":"3","height":"4","gtype":"gage","title":"S","label":"V","format":"{{payload.V2}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":3880,"wires":[]},{"id":"dd35c46a.b50958","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"70fef90c.1a40a8","order":0,"width":"3","height":"4","gtype":"gage","title":"T","label":"V","format":"{{payload.V3}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":3920,"wires":[]},{"id":"2906c438.cca30c","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"fe5856b2.148988","order":1,"width":"3","height":"4","gtype":"gage","title":"R","label":"A","format":"{{payload.C1}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":3980,"wires":[]},{"id":"fc57fa10.cca8b8","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"fe5856b2.148988","order":3,"width":"3","height":"4","gtype":"gage","title":"T","label":"A","format":"{{payload.C3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":4060,"wires":[]},{"id":"64851364.440a8c","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":4020,"wires":[]},{"id":"8b948027.00b5c","type":"function","z":"260c1645.232e4a","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"V1\"]   =   msg.payload[\"V1\"];\ndata[\"V2\"]   =   msg.payload[\"V2\"];\ndata[\"V3\"]   =   msg.payload[\"V3\"];\ndata[\"C1\"]   =   msg.payload[\"C1\"];\ndata[\"C2\"]   =   msg.payload[\"C2\"];\ndata[\"C3\"]   =   msg.payload[\"C3\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":3940,"wires":[[]]},{"id":"7c86dd2.ab4a024","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":60,"y":4060,"wires":[["d6a9d85.141b928","b3f18b8e.5d4938"]]},{"id":"b5f35023.9e34","type":"function","z":"260c1645.232e4a","name":"RePG","func":"var data = global.get('azure_data');\n\n\n\nmsg = {\n    \"payload\" : {\n        \n        //\"repg_p1\"   :   parseFloat( ( msg.payload[0]).toFixed(0) ),\n        //\"repg_p2\"   :   parseFloat( ( msg.payload[1]).toFixed(0) ) ,\n        //\"repg_p3\"   :   parseFloat( ( msg.payload[2]).toFixed(0) ) ,\n        \"WT\"  :   parseFloat( ( msg.payload[4]).toFixed(0) )\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":4520,"wires":[["9f389b1b.f96d78","a7079163.24647","9011396d.d3ffe8"]]},{"id":"a7079163.24647","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"2c99e545.51817a","order":1,"width":"6","height":"3","gtype":"gage","title":"Güç","label":"W","format":"{{payload.WT}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":4640,"wires":[]},{"id":"9f389b1b.f96d78","type":"function","z":"260c1645.232e4a","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\n\n//data[\"A1_p1\"]   =   msg.payload[\"repg_p1\"];\n//data[\"A1_p2\"]   =   msg.payload[\"repg_p2\"];\n//data[\"A1_p3\"]   =   msg.payload[\"repg_p3\"];\ndata[\"WT\"]  =   msg.payload[\"WT\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":4500,"wires":[[]]},{"id":"e30b06d.111b9f8","type":"function","z":"260c1645.232e4a","name":"","func":"let array = msg.payload\n\n\nlet array1 = [];\nlet start = 0;\nlet end = 2;\n\nfor(i = 0; i <= array.length /2 -1; i++){\n    array1.push(array.slice(start, end));\n    start += 2;\n    end  = start + 2;\n}\n\n\nlet array2 = [];\nfor(var item of array1){\n    for(var j of item){\n        array2.push(j.toString(16))\n    }\n}\n\nlet array3 = [];\nstart = 0;\nend = 2;\nfor(i = 0; i <= array.length /2 -1; i++){\n    array3.push(\"0x\"+array2.slice(start, end).join(\"\"));\n    start += 2;\n    end  = start + 2;\n}\n\nvar array4 = []\nfor(var k of array3){\n    var v = new DataView(new ArrayBuffer(4))\n    v.setUint32(0, k)\n    array4.push(String(v.getFloat32(0)).slice(0,5));\n}\n\nlet array5 = array4.map( y => ( isNaN(y) ? null : parseFloat(y)  ) )\n\nmsg = {\n    \"payload\" : array5\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":4520,"wires":[["b5f35023.9e34","d58b430d.7ef6f"]]},{"id":"d6a9d85.141b928","type":"delay","z":"260c1645.232e4a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":80,"y":4520,"wires":[["c06ed8ab.a41d98"]]},{"id":"2bc9bf26.f73aa","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":3500,"wires":[]},{"id":"9011396d.d3ffe8","type":"ui_gauge","z":"260c1645.232e4a","name":"","group":"ead6016d.77903","order":1,"width":"9","height":"4","gtype":"gage","title":"Anlık Güç (W)","label":"W","format":"{{payload.WT}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":4600,"wires":[]},{"id":"d96416c5.a03668","type":"http in","z":"260c1645.232e4a","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":1240,"y":4820,"wires":[["c64c051e.abd068","bdb4371e.12f7d8","1d214004.f597b"]]},{"id":"c64c051e.abd068","type":"debug","z":"260c1645.232e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":4860,"wires":[]},{"id":"1d214004.f597b","type":"http response","z":"260c1645.232e4a","name":"","statusCode":"200","headers":{},"x":1470,"y":4960,"wires":[]},{"id":"d97df804.482358","type":"function","z":"260c1645.232e4a","name":"","func":"\nmsg = {\n    \"payload\" : {\n        \"WE\"    :   msg.payload[19]  /   1000,\n        \n\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":3640,"wires":[["22bfafce.a42bf","a1abf2b5.32053"]]},{"id":"22bfafce.a42bf","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":3580,"wires":[]},{"id":"a1abf2b5.32053","type":"function","z":"260c1645.232e4a","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"WE\"]   =   msg.payload[\"WE\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3540,"wires":[[]]},{"id":"b7c7911.c54f17","type":"function","z":"260c1645.232e4a","name":"","func":"\nmsg = {\n    \"payload\" : {\n        \"Hz\"    :   msg.payload,\n\n\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":3460,"wires":[["54b49ffd.71cdc"]]},{"id":"54b49ffd.71cdc","type":"function","z":"260c1645.232e4a","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"Hz\"]    =  msg.payload[\"Hz\"];\n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":3460,"wires":[[]]},{"id":"f87d394f.736368","type":"function","z":"260c1645.232e4a","name":"setting relay to global","func":"var glb = global.get(\"azure_data\");\n\nglb[ \"R1\" ] =  global.get(\"R1\")\nglb[ \"R2\" ]  =  global.get(\"R2\"),\nglb[ \"R4\" ]  =  global.get(\"R4\")\n \n\nglobal.set('azure_data', glb);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":2960,"wires":[[]]},{"id":"d4319cf2.1ca69","type":"function","z":"260c1645.232e4a","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"R1\"]    =  msg.payload[\"R1\"];\n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":2960,"wires":[[]]},{"id":"a922b70b.32e688","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2960,"wires":[["f87d394f.736368"]]},{"id":"e3c7bd3d.c589","type":"debug","z":"260c1645.232e4a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":3920,"wires":[]},{"id":"b3f18b8e.5d4938","type":"modbus-getter","z":"260c1645.232e4a","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","server":"13936b09.b3ef55","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":300,"y":4140,"wires":[["68516dc1.141c44","27cac36f.ed809c","74640e96.ac796"],[]]},{"id":"7b7ec12c.dfa75","type":"modbus-getter","z":"260c1645.232e4a","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","server":"13936b09.b3ef55","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":300,"y":3980,"wires":[["64851364.440a8c","4219db91.e43f74","dd8a1048.98db5"],[]]},{"id":"c06ed8ab.a41d98","type":"modbus-getter","z":"260c1645.232e4a","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"5","dataType":"HoldingRegister","adr":"26","quantity":"37","server":"13936b09.b3ef55","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":260,"y":4500,"wires":[["e30b06d.111b9f8"],[]]},{"id":"beb365ae.cc3438","type":"modbus-getter","z":"260c1645.232e4a","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"5","dataType":"HoldingRegister","adr":"0","quantity":"30","server":"13936b09.b3ef55","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":300,"y":3860,"wires":[["15bc631e.2a2b8d"],[]]},{"id":"36d2f3c0.8477dc","type":"modbus-getter","z":"260c1645.232e4a","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"5","dataType":"HoldingRegister","adr":"200","quantity":"40","server":"13936b09.b3ef55","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":320,"y":3760,"wires":[["e3c7bd3d.c589","ddad8a6d.e4b688","d97df804.482358"],[]]},{"id":"6439e7a9.1da4a8","type":"inject","z":"260c1645.232e4a","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":320,"wires":[["6cc19243.4186dc"]]},{"id":"6cc19243.4186dc","type":"modbus-write","z":"260c1645.232e4a","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"13936b09.b3ef55","x":960,"y":220,"wires":[["938580e7.16c32","fd611da7.71445"],[]]},{"id":"b289e6d8.650b48","type":"modbus-write","z":"260c1645.232e4a","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"13936b09.b3ef55","x":1700,"y":1980,"wires":[["2c907d19.6e11b2","2668364e.be715a"],[]]},{"id":"d4ac9896.48d5a8","type":"modbus-write","z":"260c1645.232e4a","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"13936b09.b3ef55","x":1640,"y":2140,"wires":[["c9e24b78.d7e0b8","b57dcbc3.a979d8"],[]]},{"id":"e5de5109.7b6d6","type":"ui_group","z":"","name":"Röle Durumları","tab":"93a274ac.4844b8","order":3,"disp":false,"width":"6","collapse":false},{"id":"e6e98cf6.ba267","type":"ui_group","z":"","name":"Sürücü","tab":"93a274ac.4844b8","order":4,"disp":false,"width":"6","collapse":false},{"id":"241996f9.0ca91a","type":"ui_group","z":"","name":"Start - Stop","tab":"93a274ac.4844b8","order":7,"disp":false,"width":"6","collapse":false},{"id":"fb8e68c3.0439f8","type":"ui_group","z":"","name":"Timer","tab":"93a274ac.4844b8","order":5,"disp":false,"width":"6","collapse":false},{"id":"c3c6118c.02da3","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"93a274ac.4844b8","order":1,"disp":false,"width":"18","collapse":false},{"id":"ac323f25.12059","type":"ui_group","z":"","name":"Basınçlar","tab":"93a274ac.4844b8","order":2,"disp":false,"width":"12","collapse":false},{"id":"b634aca.234415","type":"ui_group","z":"","name":"Toplam Enerji","tab":"d389d156.27a64","order":5,"disp":true,"width":"9","collapse":false},{"id":"fe5856b2.148988","type":"ui_group","z":"","name":"Akım","tab":"d389d156.27a64","order":3,"disp":true,"width":"9","collapse":false},{"id":"70fef90c.1a40a8","type":"ui_group","z":"","name":"Gerilim","tab":"d389d156.27a64","order":1,"disp":true,"width":"9","collapse":false},{"id":"2c99e545.51817a","type":"ui_group","z":"","name":"Güç","tab":"93a274ac.4844b8","order":6,"disp":false,"width":"6","collapse":false},{"id":"ead6016d.77903","type":"ui_group","z":"","name":"Anlık Güç","tab":"d389d156.27a64","order":4,"disp":true,"width":"9","collapse":false},{"id":"13936b09.b3ef55","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.248","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"93a274ac.4844b8","type":"ui_tab","z":"","name":"RePG_v3.2","icon":"dashboard","order":1},{"id":"d389d156.27a64","type":"ui_tab","z":"","name":"Elektrik","icon":"dashboard","order":2}]