03072019.txt
[{"id":"7454d395.91618c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"1aa39692.f5f9c9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1bbe100f.9c439","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4d62db83.cc37d4","type":"ui_group","z":"","name":"Ýç Ýnverter","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"444aa742.810ce8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"19edc68c.00fc99","type":"ui_group","z":"","name":"Kontrol","tab":"6851da64.d3a9e4","order":3,"disp":true,"width":"6","collapse":false},{"id":"6851da64.d3a9e4","type":"ui_tab","z":"","name":"RePG Energy","icon":"fa-fire","order":5},{"id":"542bc6dc.f8c648","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"1e062ec4.064a91","type":"ui_group","z":"","name":"Motor Hýz","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"46ba2b9b.9a27e4","type":"ui_group","z":"","name":"Sürücü","tab":"","order":2,"disp":true,"width":"8","collapse":false},{"id":"649dbc0b.f1f4f4","type":"ui_group","z":"","name":"Pompa","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"6c18c890.0b85f8","type":"ui_tab","z":"","name":"Sürücü","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"868ccecd.48d13","type":"ui_group","z":"","name":"Sürücü","tab":"6c18c890.0b85f8","order":1,"disp":true,"width":"8","collapse":false},{"id":"5f4935de.e47dcc","type":"ui_tab","z":"","name":"Motor Kontrol","icon":"dashboard","order":3},{"id":"44343282.b6ce4c","type":"ui_group","z":"","name":"PWM","tab":"5f4935de.e47dcc","order":1,"disp":true,"width":"8","collapse":false},{"id":"7427d7f4.d7b7e8","type":"ui_tab","z":"","name":"RePG Energy","icon":"fa-fire","order":4},{"id":"69627fbd.32fab","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"139cf2ce.b9703d","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"ea37f1cb.7c333","type":"ui_group","z":"","name":"Motor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a75dc8be.4610d8","type":"ui_group","z":"","name":"Motor Hýz","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b189ead.c9e9e1","type":"ui_group","z":"","name":"Motor Hýz","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"ec0520a0.944c","type":"ui_group","z":"","name":"Akým","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"f8b0261f.631718","type":"ui_group","z":"","name":"Buton-1","tab":"","order":3,"disp":false,"width":"7","collapse":false},{"id":"ef4db5f8.022498","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"adcf7f74.b7ff3","type":"ui_group","z":"","name":"Buton-2","tab":"","order":4,"disp":false,"width":"7","collapse":false},{"id":"49f76017.a1209","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"7","collapse":false},{"id":"98d636fa.43e0e8","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"7","collapse":false},{"id":"94e23e8b.f11f6","type":"ui_group","z":"","name":"Buton-5","tab":"","order":7,"disp":false,"width":"7","collapse":false},{"id":"cd1c0182.83039","type":"ui_group","z":"","name":"Buton-6","tab":"","order":8,"disp":false,"width":"7","collapse":false},{"id":"9e9fed8f.255ca","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"4","collapse":false},{"id":"e6ee336a.f4fed","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"4","collapse":false},{"id":"f383d517.f0ec08","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"63fb6aed.c910c4","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"ec5f9cf8.6276a","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"7","collapse":false},{"id":"a5ad1054.6d964","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"7","collapse":false},{"id":"b9c19fe0.acad9","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"7","collapse":false},{"id":"a6e60f75.6e37a","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"7","collapse":false},{"id":"3df2ac46.6c7424","type":"ui_group","z":"","name":"Buton-7","tab":"","disp":false,"width":"7","collapse":false},{"id":"6afaabe4.718ff4","type":"ui_group","z":"","name":"Buton-8","tab":"","disp":false,"width":"7","collapse":false},{"id":"f0f20150.0368e","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"d8962a85.6503f8","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"8a03a945.452968","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"6b58ae74.2eb1","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"4","collapse":false},{"id":"e9679010.90679","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"45b43f8f.d0cd5","type":"ui_group","z":"","name":"Group 1","tab":"e9679010.90679","order":1,"disp":true,"width":"16","collapse":false},{"id":"2efb9e6c.75dff2","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"7d7f1aa6.a97c74","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"60295a67.fbc584","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"96833318.14779","type":"ui_group","z":"","name":"Motor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"c5f2fe66.ebe5c","type":"ui_group","z":"","name":"Motor Hýz","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a65d412.cdfbfc","type":"ui_group","z":"","name":"Motor Hýz","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"7a05a9cb.ab9318","type":"ui_group","z":"","name":"Akým","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"f45719a8.7a9198","type":"ui_group","z":"","name":"Buton-1","tab":"","order":3,"disp":false,"width":"7","collapse":false},{"id":"89513f6f.dedb3","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c2de537d.0abdc","type":"ui_group","z":"","name":"Buton-2","tab":"","order":4,"disp":false,"width":"7","collapse":false},{"id":"3bf6291.5c977d6","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"7","collapse":false},{"id":"66430f4e.de791","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"7","collapse":false},{"id":"8d9f05d1.3916c8","type":"ui_group","z":"","name":"Buton-5","tab":"","order":7,"disp":false,"width":"7","collapse":false},{"id":"19888fe5.9058d","type":"ui_group","z":"","name":"Buton-6","tab":"","order":8,"disp":false,"width":"7","collapse":false},{"id":"6411f5e0.a859bc","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"4","collapse":false},{"id":"dc22cb43.9afc58","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"4","collapse":false},{"id":"d77fa2de.c201","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"158e163e.91665a","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"8c8a0a9d.6b33f8","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"7","collapse":false},{"id":"a72ff47c.b018f8","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"7","collapse":false},{"id":"2d59a80e.cb2c78","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"7","collapse":false},{"id":"21c6db58.3fbd44","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"7","collapse":false},{"id":"1d7e6824.a4bc08","type":"ui_group","z":"","name":"Buton-7","tab":"","disp":false,"width":"7","collapse":false},{"id":"4805f4ea.32ad8c","type":"ui_group","z":"","name":"Buton-8","tab":"","disp":false,"width":"7","collapse":false},{"id":"f9259558.c320d8","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"e486f6ab.691868","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"d2f9d99e.e26f28","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"f3ef7b8b.2cafe8","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"4","collapse":false},{"id":"1647ce6f.8cb1c2","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"abcfc09d.223f9","type":"ui_group","z":"","name":"Group 1","tab":"1647ce6f.8cb1c2","order":1,"disp":true,"width":"16","collapse":false},{"id":"205274.78e81d8c","type":"ui_slider","z":"7454d395.91618c","name":"slider_1","label":"","tooltip":"","group":"44343282.b6ce4c","order":5,"width":"8","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":"1","x":560,"y":80,"wires":[["93631514.d94498","40f91d02.d79e94","eaf86d25.9fbc"]],"icon":"node-red/alert.png"},{"id":"99caa38d.ae0c8","type":"ui_button","z":"7454d395.91618c","name":"+_1","group":"44343282.b6ce4c","order":4,"width":"1","height":"1","passthru":false,"label":"+","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"","x":170,"y":60,"wires":[["78a8cf42.2071e"]]},{"id":"41ae8db1.46b2a4","type":"ui_button","z":"7454d395.91618c","name":"-_1","group":"44343282.b6ce4c","order":2,"width":"1","height":"1","passthru":false,"label":"-","tooltip":"","color":"red","bgcolor":"white","icon":"","payload":"-","payloadType":"str","topic":"","x":170.00347137451172,"y":106.98947393894196,"wires":[["78a8cf42.2071e"]]},{"id":"78a8cf42.2071e","type":"function","z":"7454d395.91618c","name":"Obtained Global Variable","func":"\nvar Value = global.get(\"val\");\n\nif(msg.payload == \"+\" && Value <50){\n    global.set('val', Value + 1)\n} \n\nif(msg.payload == \"-\" && Value >0) {\n    global.set('val', Value - 1)\n}\nValue = global.get(\"val\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["205274.78e81d8c"]]},{"id":"98596143.2624f","type":"function","z":"7454d395.91618c","name":"Global Variable Initializing","func":"global.set(\"val\", 0);\nglobal.set(\"val1\", 0);\nglobal.set(\"val2\", 0);\nglobal.set(\"val3\", 0);\nglobal.set(\"val4\", 0);\nglobal.set(\"val5\", 0);","outputs":1,"noerr":0,"x":410,"y":160,"wires":[[]]},{"id":"59ac5773.6165f8","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":160,"wires":[["98596143.2624f"]]},{"id":"40f91d02.d79e94","type":"ui_text","z":"7454d395.91618c","group":"44343282.b6ce4c","order":3,"width":"6","height":"1","name":"text_1","label":"","format":"{{msg.payload}}","layout":"col-center","x":710,"y":80,"wires":[]},{"id":"93631514.d94498","type":"function","z":"7454d395.91618c","name":"Setting Global Variable","func":"if(msg.payload){\n     global.set('val', msg.payload)\n}\n   \n\n\nmsg = {\n    \"payload\" : global.get('val'),\n     \"data\" : Math.floor(global.get('val') * 1.365)\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":20,"wires":[[]]},{"id":"8ed424bb.0db658","type":"ui_text","z":"7454d395.91618c","group":"44343282.b6ce4c","order":1,"width":"8","height":"1","name":"INV-1","label":"Pompa","format":"{{msg.payload}}","layout":"row-center","x":850,"y":80,"wires":[]},{"id":"6b8b38ed.0c8438","type":"debug","z":"7454d395.91618c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":120,"wires":[]},{"id":"13b633ee.bf03dc","type":"debug","z":"7454d395.91618c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":460,"wires":[]},{"id":"eaf86d25.9fbc","type":"function","z":"7454d395.91618c","name":"","func":"var data = msg.payload\nmsg.payload = parseInt( ( data  ).toFixed(0) )\n\nglobal.set('value', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":120,"wires":[["27103dbd.952f92"]]},{"id":"27103dbd.952f92","type":"ui_button","z":"7454d395.91618c","name":"","group":"44343282.b6ce4c","order":5,"width":0,"height":0,"passthru":false,"label":"UYGULA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"value","payloadType":"global","topic":"","x":960,"y":120,"wires":[["6b8b38ed.0c8438","c0a4f9b7.686d88"]]},{"id":"52ef6d3e.bbc744","type":"inject","z":"7454d395.91618c","name":"HIGH (R_EN)","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":260,"wires":[["814bea5e.fdc6f8"]]},{"id":"fc9b5912.cbcb98","type":"inject","z":"7454d395.91618c","name":"LOW (OFF)","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":340,"wires":[["88622beb.dceaa8","814bea5e.fdc6f8"]]},{"id":"814bea5e.fdc6f8","type":"rpi-gpio out","z":"7454d395.91618c","name":"R_EN","pin":"29","set":true,"level":"1","freq":"","out":"out","x":390,"y":320,"wires":[]},{"id":"88622beb.dceaa8","type":"rpi-gpio out","z":"7454d395.91618c","name":"L_EN","pin":"31","set":true,"level":"1","freq":"","out":"out","x":390,"y":260,"wires":[]},{"id":"c6516f9f.2b03c","type":"inject","z":"7454d395.91618c","name":"HIGH (L_EN)","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":300,"wires":[["88622beb.dceaa8"]]},{"id":"74deea42.7d9a44","type":"inject","z":"7454d395.91618c","name":"HIGH (ON)","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":220,"wires":[["88622beb.dceaa8","814bea5e.fdc6f8"]]},{"id":"976720f4.56737","type":"rpi-gpio out","z":"7454d395.91618c","name":"R_PWM","pin":"32","set":"","level":"0","freq":"","out":"pwm","x":380,"y":380,"wires":[]},{"id":"c0d15c47.10fcb","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":380,"wires":[["976720f4.56737"]]},{"id":"dbe12118.d30b6","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":970,"y":180,"wires":[["c0a4f9b7.686d88"]]},{"id":"c0a4f9b7.686d88","type":"rpi-gpio out","z":"7454d395.91618c","name":"L_PWM","pin":"12","set":"","level":"0","freq":"","out":"pwm","x":1120,"y":180,"wires":[]},{"id":"36933a5c.774b86","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":260,"wires":[["c0a4f9b7.686d88"]]},{"id":"61c34730.883c58","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":580,"wires":[["c0a4f9b7.686d88"]]},{"id":"9dad5f96.5c654","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":420,"wires":[["c0a4f9b7.686d88"]]},{"id":"5b11d14f.a45df","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":220,"wires":[["c0a4f9b7.686d88"]]},{"id":"37d84de3.916892","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":300,"wires":[["c0a4f9b7.686d88"]]},{"id":"b82145aa.19bd88","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":340,"wires":[["c0a4f9b7.686d88"]]},{"id":"a1828e5d.5600f","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":380,"wires":[["c0a4f9b7.686d88"]]},{"id":"ba533b48.27a558","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"70","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":460,"wires":[["c0a4f9b7.686d88"]]},{"id":"add9956c.6281c8","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"80","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":500,"wires":[["c0a4f9b7.686d88"]]},{"id":"e400b7e7.302388","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":540,"wires":[["c0a4f9b7.686d88"]]},{"id":"1c3b891.33b9d77","type":"ui_switch","z":"7454d395.91618c","name":"","label":"OFF / ON","tooltip":"","group":"44343282.b6ce4c","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":220,"y":420,"wires":[["88622beb.dceaa8","814bea5e.fdc6f8"]]},{"id":"b27b8a4e.597dd8","type":"function","z":"7454d395.91618c","name":"","func":"var data = msg.payload\nmsg.payload = parseInt( ( data * 100 ).toFixed(0) )\n\nglobal.set('value', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":820,"wires":[["4c3971de.8823d"]]},{"id":"8f883294.18902","type":"ui_slider","z":"7454d395.91618c","name":"slider_1","label":"","tooltip":"","group":"868ccecd.48d13","order":5,"width":"8","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":"1","x":580,"y":760,"wires":[["c9a9f24d.f0265","d0dba39e.3c169","aba0c89d.531578"]],"icon":"node-red/alert.png"},{"id":"aa9a512f.2954","type":"ui_button","z":"7454d395.91618c","name":"+_1","group":"868ccecd.48d13","order":4,"width":"1","height":"1","passthru":false,"label":"+","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"","x":220,"y":700,"wires":[["55ed6a35.50c984"]]},{"id":"e5244780.8748e8","type":"ui_button","z":"7454d395.91618c","name":"-_1","group":"868ccecd.48d13","order":2,"width":"1","height":"1","passthru":false,"label":"-","tooltip":"","color":"red","bgcolor":"white","icon":"","payload":"-","payloadType":"str","topic":"","x":220.00347137451172,"y":746.989473938942,"wires":[["55ed6a35.50c984"]]},{"id":"55ed6a35.50c984","type":"function","z":"7454d395.91618c","name":"Obtained Global Variable","func":"\nvar Value = global.get(\"val\");\n\nif(msg.payload == \"+\" && Value <50){\n    global.set('val', Value + 1)\n} \n\nif(msg.payload == \"-\" && Value >0) {\n    global.set('val', Value - 1)\n}\nValue = global.get(\"val\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":410,"y":720,"wires":[["8f883294.18902"]]},{"id":"a10a4423.e55978","type":"function","z":"7454d395.91618c","name":"Global Variable Initializing","func":"global.set(\"val\", 0);\nglobal.set(\"val1\", 0);\nglobal.set(\"val2\", 0);\nglobal.set(\"val3\", 0);\nglobal.set(\"val4\", 0);\nglobal.set(\"val5\", 0);","outputs":1,"noerr":0,"x":550,"y":800,"wires":[[]]},{"id":"44d5a561.210cac","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":262.5555191040039,"y":816.5969848632812,"wires":[["a10a4423.e55978"]]},{"id":"aba0c89d.531578","type":"ui_text","z":"7454d395.91618c","group":"868ccecd.48d13","order":3,"width":"6","height":"1","name":"text_1","label":"","format":"{{msg.payload}}","layout":"col-center","x":890,"y":720,"wires":[]},{"id":"c9a9f24d.f0265","type":"function","z":"7454d395.91618c","name":"Setting Global Variable","func":"if(msg.payload){\n     global.set('val', msg.payload)\n}\n   \n\n\nmsg = {\n    \"payload\" : global.get('val'),\n     \"data\" : Math.floor(global.get('val') * 1.365)\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":700,"wires":[[]]},{"id":"c048ff44.c3a04","type":"function","z":"7454d395.91618c","name":"","func":"var data = msg.payload.value.ao[1]\n\nmsg = {\n    \"payload\" : Math.floor(data / 1.365)\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":660,"wires":[[]]},{"id":"6dd578c8.fb0c88","type":"ui_text","z":"7454d395.91618c","group":"868ccecd.48d13","order":1,"width":"8","height":"1","name":"INV-1","label":"Sürücü","format":"{{msg.payload}}","layout":"row-center","x":1120,"y":720,"wires":[]},{"id":"7208adbf.b8f114","type":"debug","z":"7454d395.91618c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1160,"y":840,"wires":[]},{"id":"d0dba39e.3c169","type":"range","z":"7454d395.91618c","minin":"0","maxin":"50","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":750,"y":780,"wires":[["b27b8a4e.597dd8"]]},{"id":"4c3971de.8823d","type":"ui_button","z":"7454d395.91618c","name":"","group":"868ccecd.48d13","order":5,"width":0,"height":0,"passthru":false,"label":"UYGULA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"value","payloadType":"global","topic":"","x":980,"y":820,"wires":[["7208adbf.b8f114","7fcaadc6.d09914"]]},{"id":"7fcaadc6.d09914","type":"modbus-write","z":"7454d395.91618c","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"542bc6dc.f8c648","x":1030,"y":1020,"wires":[["807067.e6eabf98"],[]]},{"id":"807067.e6eabf98","type":"debug","z":"7454d395.91618c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":1120,"wires":[]},{"id":"f948a90c.0b4d68","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":880,"wires":[["7fcaadc6.d09914"]]},{"id":"e450623b.4d3eb","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":960,"wires":[["7fcaadc6.d09914"]]},{"id":"f6ea25d7.eed678","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"600","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":1060,"wires":[["7fcaadc6.d09914"]]},{"id":"6fea8efb.31965","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":1100,"wires":[["7fcaadc6.d09914"]]},{"id":"65cc7bfa.336c14","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":1000,"wires":[["7fcaadc6.d09914"]]},{"id":"535cecad.167204","type":"modbus-read","z":"7454d395.91618c","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"30","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"542bc6dc.f8c648","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":140,"y":980,"wires":[["8c70d9b8.5c5ec8"],[]]},{"id":"8c70d9b8.5c5ec8","type":"debug","z":"7454d395.91618c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":1000,"wires":[]},{"id":"cceecb27.a49d48","type":"modbus-read","z":"7454d395.91618c","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"10","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"542bc6dc.f8c648","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":1080,"wires":[["ab974df7.5de23"],[]]},{"id":"ab974df7.5de23","type":"debug","z":"7454d395.91618c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":1100,"wires":[]},{"id":"6d023e32.3396e","type":"modbus-read","z":"7454d395.91618c","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"10","rate":"7","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"542bc6dc.f8c648","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":1180,"wires":[["d60cc24a.125ac"],[]]},{"id":"d60cc24a.125ac","type":"debug","z":"7454d395.91618c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":1200,"wires":[]},{"id":"ac7609eb.e66428","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1280,"wires":[["f5204289.ab6cc"]]},{"id":"627c48d5.55f638","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1340,"wires":[["f5204289.ab6cc"]]},{"id":"f5204289.ab6cc","type":"rpi-gpio out","z":"7454d395.91618c","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":300,"y":1320,"wires":[]},{"id":"c68812bc.b695","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":470,"y":1280,"wires":[["57558fc9.8c831"]]},{"id":"75ac28a8.ccd5f8","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":1340,"wires":[["57558fc9.8c831"]]},{"id":"57558fc9.8c831","type":"rpi-gpio out","z":"7454d395.91618c","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":650,"y":1320,"wires":[]},{"id":"4ff428da.cb4978","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":790,"y":1280,"wires":[["54ab34b9.f8765c"]]},{"id":"47f988bf.684e48","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":1340,"wires":[["54ab34b9.f8765c"]]},{"id":"54ab34b9.f8765c","type":"rpi-gpio out","z":"7454d395.91618c","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":970,"y":1320,"wires":[]},{"id":"667b0eea.ecfb9","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1110,"y":1280,"wires":[["cd64f2f3.43aa4"]]},{"id":"d29721c0.bb6ea","type":"inject","z":"7454d395.91618c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1110,"y":1340,"wires":[["cd64f2f3.43aa4"]]},{"id":"cd64f2f3.43aa4","type":"rpi-gpio out","z":"7454d395.91618c","name":"","pin":"15","set":"","level":"0","freq":"","out":"out","x":1290,"y":1320,"wires":[]},{"id":"9eebd447.281cd8","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["e2cf05ae.aa8cf8"]]},{"id":"496dacf9.49d774","type":"function","z":"1aa39692.f5f9c9","name":"temp>70","func":"var temp =global.get(\"temp\")\nif (temp > 70 && temp < 100) {\n    msg.payload = true\n    global.set(\"refresh\",false)\n    global.set(\"start\",false)\n    global.set(\"R4\" , false)\n    return msg;\n}\n\nelse {\n    //global.set(\"refresh\",true)\n}\n","outputs":1,"noerr":0,"x":440,"y":80,"wires":[["69120bd6.c51414"]]},{"id":"29f59bfd.bd1b84","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["e2cf05ae.aa8cf8"]]},{"id":"3d624ebc.b731a2","type":"rpi-gpio out","z":"1aa39692.f5f9c9","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":1170,"y":160,"wires":[]},{"id":"bf671758.222988","type":"rpi-gpio out","z":"1aa39692.f5f9c9","name":"R4","pin":"15","set":"","level":"0","freq":"","out":"out","x":1170,"y":20,"wires":[]},{"id":"69120bd6.c51414","type":"switch","z":"1aa39692.f5f9c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":80,"wires":[["3c0685d5.abde5a"]]},{"id":"3c0685d5.abde5a","type":"delay","z":"1aa39692.f5f9c9","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":80,"wires":[["f73bce0f.b1771","4ea90589.7ee62c"]]},{"id":"98f34ba.2d913b8","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":540,"wires":[["ee179cc.339906"]]},{"id":"e2cf05ae.aa8cf8","type":"function","z":"1aa39692.f5f9c9","name":"temp set","func":"global.set(\"temp\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":400,"wires":[[]]},{"id":"ee179cc.339906","type":"function","z":"1aa39692.f5f9c9","name":"Global set \"0\"","func":"global.set(\"temp\", 0);\nglobal.set(\"pressure\",0);\nglobal.set(\"driver\", 0);\nglobal.set(\"modbus\",0);\nglobal.set(\"modbus1\",0);\nglobal.set(\"modbus2\",0);\nglobal.set(\"modbus3\",0);\nglobal.set(\"rly\",false);\nglobal.set(\"flow\",false);\nglobal.set(\"check\",false);\nglobal.set(\"refresh\",false);\nglobal.set(\"start\",true)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":480,"wires":[[]]},{"id":"c6aa2a55.419618","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"temp","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":780,"wires":[["b13b3fae.07df1","27661514.af2c7a"]]},{"id":"57414d3e.bdb414","type":"function","z":"1aa39692.f5f9c9","name":"","func":"var data = msg.payload;\n\nif ( data === true) {\n    msg.payload = true\n    return msg;\n}\n\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":890,"y":260,"wires":[["51e27782.7c6b78"]]},{"id":"a4c97e6a.9fda4","type":"comment","z":"1aa39692.f5f9c9","name":"Start","info":"","x":290,"y":40,"wires":[]},{"id":"cbdd2070.def87","type":"function","z":"1aa39692.f5f9c9","name":"65<T1<80","func":"var data = global.get(\"temp\")\nif (data>65 && data<80) {\n    msg.payload = 15\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["603e166f.043348"]]},{"id":"68ccde10.48a27","type":"function","z":"1aa39692.f5f9c9","name":"80<T1<90","func":"var data = global.get(\"temp\")\nif (data>80 && data<90) {\n    msg.payload = 17\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":480,"wires":[["603e166f.043348"]]},{"id":"b8c2d237.ee38e","type":"function","z":"1aa39692.f5f9c9","name":"90<T1<100","func":"var data = global.get(\"temp\")\nif (data>90 && data<100) {\n    msg.payload = 20\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":520,"wires":[["603e166f.043348"]]},{"id":"e2b93065.8befb","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"85","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":360,"wires":[["e2cf05ae.aa8cf8"]]},{"id":"d0ca5515.926a28","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":840,"wires":[["48cbfcba.b78a44"]]},{"id":"f68fa78a.032838","type":"function","z":"1aa39692.f5f9c9","name":"100<T1    -   T1<65","func":"var data = global.get(\"temp\")\nif (data>100 || data<65) {\n    global.set(\"driver\",0)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":680,"y":560,"wires":[["3d46f436.c8e46c"]]},{"id":"3d46f436.c8e46c","type":"function","z":"1aa39692.f5f9c9","name":"","func":"if (msg.payload ===true){\n    msg.payload = false\n    global.set(\"R4\",true)\n    global.set(\"R1\",true)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":650,"y":600,"wires":[["4c9339e.fb425c8"]]},{"id":"4c9339e.fb425c8","type":"switch","z":"1aa39692.f5f9c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":720,"wires":[["53c536d5.421638"]]},{"id":"53c536d5.421638","type":"delay","z":"1aa39692.f5f9c9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":720,"wires":[["f612b962.4c9ef8"]]},{"id":"603e166f.043348","type":"function","z":"1aa39692.f5f9c9","name":"","func":"var data = msg.payload ;\nif (data > 14) {\n    global.set(\"drv\",true)\n    msg.payload = true\n    return msg;\n}\nelse {\n    global.set(\"drv\",false)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":480,"wires":[["e64b9cd1.5b626"]]},{"id":"90d1f946.c4ae38","type":"function","z":"1aa39692.f5f9c9","name":"65<T1<100","func":"var temp = global.get(\"temp\")\nif (65<temp && temp<100) {\n    msg.payload = false\n    global.set(\"flow\",true)\n    global.set(\"check\", true)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":990,"y":420,"wires":[["2efed1cc.7c84ae"]]},{"id":"f73bce0f.b1771","type":"delay","z":"1aa39692.f5f9c9","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":260,"wires":[["57414d3e.bdb414"]]},{"id":"57108462.9df13c","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"95","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["e2cf05ae.aa8cf8"]]},{"id":"d9fb88f3.c729a8","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["e2cf05ae.aa8cf8"]]},{"id":"e64b9cd1.5b626","type":"switch","z":"1aa39692.f5f9c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":480,"wires":[["90d1f946.c4ae38","11e9508b.2b50af"]]},{"id":"b353cd1a.1439e","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"start","payloadType":"global","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["2c5faecc.826ce2"]]},{"id":"d060490b.200478","type":"function","z":"1bbe100f.9c439","name":"65<T1<79","func":"var data = global.get(\"temp\")\nif (data>65 && data<79) {\n    msg.payload = 15\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["c077b2d.d50e85"]]},{"id":"ae55279b.1ecf18","type":"function","z":"1bbe100f.9c439","name":"79<T1<91","func":"var data = global.get(\"temp\")\nif (data>79 && data<91) {\n    msg.payload = 17\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["c077b2d.d50e85"]]},{"id":"d4517d54.f4086","type":"function","z":"1bbe100f.9c439","name":"91<T1<100","func":"var data = global.get(\"temp\")\nif (data>91 && data<100) {\n    msg.payload = 20\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["c077b2d.d50e85"]]},{"id":"1f7a08cb.dd6457","type":"delay","z":"1aa39692.f5f9c9","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1260,"y":420,"wires":[[]]},{"id":"2efed1cc.7c84ae","type":"switch","z":"1aa39692.f5f9c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":420,"wires":[["1f7a08cb.dd6457"]]},{"id":"a2700728.471dc8","type":"switch","z":"1bbe100f.9c439","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":180,"wires":[["d060490b.200478","ae55279b.1ecf18","d4517d54.f4086","28295cf5.2ffb64"]]},{"id":"59a6f7aa.f72758","type":"comment","z":"1bbe100f.9c439","name":"Üretim","info":"","x":150,"y":60,"wires":[]},{"id":"c8a3ee67.22223","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"drv","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":900,"wires":[[]]},{"id":"51e27782.7c6b78","type":"switch","z":"1aa39692.f5f9c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":300,"wires":[["cbdd2070.def87","68ccde10.48a27","b8c2d237.ee38e","f68fa78a.032838"]]},{"id":"cb95caa5.dcaa18","type":"inject","z":"1bbe100f.9c439","name":"","topic":"","payload":"flow","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["a2700728.471dc8"]]},{"id":"c077b2d.d50e85","type":"debug","z":"1bbe100f.9c439","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":140,"wires":[]},{"id":"4b34b91a.01a1f8","type":"debug","z":"1aa39692.f5f9c9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":720,"wires":[]},{"id":"f612b962.4c9ef8","type":"function","z":"1aa39692.f5f9c9","name":"","func":"if (msg.payload === false) {\n    global.set(\"refresh\",true)\n    global.set(\"rly\",false)\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":720,"wires":[[]]},{"id":"b572c0d7.c083f","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"refresh","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["f543d676.f88bb8"]]},{"id":"f543d676.f88bb8","type":"switch","z":"1aa39692.f5f9c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":180,"wires":[["a746b1cf.47c7e","496dacf9.49d774","e03a1750.2d99e8"]]},{"id":"a746b1cf.47c7e","type":"function","z":"1aa39692.f5f9c9","name":"","func":"//global.set(\"rly\",false)\n//global.set(\"flow\",false)","outputs":1,"noerr":0,"x":410,"y":180,"wires":[[]]},{"id":"28295cf5.2ffb64","type":"function","z":"1bbe100f.9c439","name":"100<T1    -   T1<65","func":"var data = global.get(\"temp\")\nif (data>100 || data<65) {\n    global.set(\"driver\",0)\n    //global.set(\"rly\",true)\n    global.set(\"flow\",false)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["8d4b1e12.86bfd"]]},{"id":"7851b5ef.03ed1c","type":"ui_text","z":"1aa39692.f5f9c9","group":"abcfc09d.223f9","order":1,"width":"4","height":"4","name":"","label":"R4","format":"{{msg.payload}}","layout":"col-center","x":1290,"y":80,"wires":[]},{"id":"1fb634a0.7e350b","type":"ui_text","z":"1aa39692.f5f9c9","group":"abcfc09d.223f9","order":2,"width":"4","height":"4","name":"","label":"R1","format":"{{msg.payload}}","layout":"col-center","x":1290,"y":120,"wires":[]},{"id":"b13b3fae.07df1","type":"ui_gauge","z":"1aa39692.f5f9c9","name":"","group":"abcfc09d.223f9","order":0,"width":"4","height":"4","gtype":"gage","title":"Sýcaklýk","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":780,"wires":[]},{"id":"27661514.af2c7a","type":"ui_slider","z":"1aa39692.f5f9c9","name":"","label":"slider","tooltip":"","group":"abcfc09d.223f9","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"120","step":1,"x":90,"y":480,"wires":[["e2cf05ae.aa8cf8"]]},{"id":"1a84011a.983cff","type":"function","z":"1aa39692.f5f9c9","name":"","func":"if (msg.payload===true) {\n    msg.payload= \"Kapalý\"\n    return msg;\n}\nelse if (msg.payload === false) {\n    msg.payload = \"Açýk\"\n    return msg;\n}","outputs":1,"noerr":0,"x":1170,"y":80,"wires":[["7851b5ef.03ed1c"]]},{"id":"f4fdc66.4c5d538","type":"function","z":"1aa39692.f5f9c9","name":"","func":"if (msg.payload===true) {\n    msg.payload= \"Kapalý\"\n    return msg;\n}\nelse if (msg.payload === false) {\n    msg.payload = \"Açýk\"\n    return msg;\n}","outputs":1,"noerr":0,"x":1170,"y":120,"wires":[["1fb634a0.7e350b"]]},{"id":"48cbfcba.b78a44","type":"ui_gauge","z":"1aa39692.f5f9c9","name":"","group":"abcfc09d.223f9","order":4,"width":"4","height":"4","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":840,"wires":[]},{"id":"3aa542fb.07de9e","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"rly","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":860,"wires":[["bee41b99.5655a8"]]},{"id":"bee41b99.5655a8","type":"switch","z":"1aa39692.f5f9c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":800,"wires":[["f68fa78a.032838"]]},{"id":"8d4b1e12.86bfd","type":"debug","z":"1bbe100f.9c439","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":240,"wires":[]},{"id":"d9bcf9d4.4e0e58","type":"function","z":"1bbe100f.9c439","name":"","func":"var data = msg.payload.value\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":780,"wires":[[]]},{"id":"11e9508b.2b50af","type":"function","z":"1aa39692.f5f9c9","name":"100<T1    -   T1<65","func":"var data = global.get(\"temp\")\nif (data>100 || data<65) {\n    global.set(\"driver\",0)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1140,"y":620,"wires":[["3d4803ea.fe552c"]]},{"id":"3d4803ea.fe552c","type":"link out","z":"1aa39692.f5f9c9","name":"","links":["bea39924.471498"],"x":1275,"y":620,"wires":[]},{"id":"bea39924.471498","type":"link in","z":"1aa39692.f5f9c9","name":"","links":["3d4803ea.fe552c"],"x":515,"y":600,"wires":[["3d46f436.c8e46c"]]},{"id":"54583fb0.13713","type":"inject","z":"1bbe100f.9c439","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":810,"y":180,"wires":[["c2051452.3b8a48"]]},{"id":"c2051452.3b8a48","type":"function","z":"1bbe100f.9c439","name":"","func":"\nlet obj = {};\n\n    \n    obj[\"rly\"] = global.get( \"rly\" )\n    obj[\"flow\"] = global.get( \"flow\" )\n    obj[\"temp\"] = global.get( \"temp\" )\n    obj[\"driver\"] = global.get( \"driver\" )\n    obj[\"refresh\"] = global.get( \"refresh\" )\n    obj[\"start\"] = global.get( \"start\" )\n    obj[\"modbus1\"] = global.get( \"modbus1\" )\n    obj[\"modbus2\"] = global.get( \"modbus2\" )\n\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":180,"wires":[["32c7194a.022c36","7b4ff517.9fb0cc"]]},{"id":"32c7194a.022c36","type":"debug","z":"1bbe100f.9c439","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":180,"wires":[]},{"id":"7b4ff517.9fb0cc","type":"ui_template","z":"1bbe100f.9c439","group":"abcfc09d.223f9","name":"","order":5,"width":0,"height":0,"format":"\n{{msg.payload}}\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1160,"y":140,"wires":[[]]},{"id":"2c5faecc.826ce2","type":"switch","z":"1aa39692.f5f9c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":120,"wires":[["7191744d.9076ac","30885cdf.3108f4"]]},{"id":"7191744d.9076ac","type":"delay","z":"1aa39692.f5f9c9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":80,"wires":[["496dacf9.49d774"]]},{"id":"bf4427c5.566348","type":"inject","z":"1bbe100f.9c439","name":"","topic":"","payload":"check","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["1c470c14.412474"]]},{"id":"aaad94c9.469268","type":"function","z":"1bbe100f.9c439","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["f993db84.eb8048"]]},{"id":"1c470c14.412474","type":"switch","z":"1bbe100f.9c439","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":320,"wires":[["aaad94c9.469268"]]},{"id":"7a075d9a.613504","type":"inject","z":"1bbe100f.9c439","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[[]]},{"id":"9b794ffa.d6e14","type":"debug","z":"1bbe100f.9c439","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":280,"wires":[]},{"id":"941286eb.45b598","type":"inject","z":"1bbe100f.9c439","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":760,"wires":[[]]},{"id":"8781b712.4d7168","type":"debug","z":"1bbe100f.9c439","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":240,"wires":[]},{"id":"c59c97ac.59c2d8","type":"debug","z":"1bbe100f.9c439","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1510,"y":540,"wires":[]},{"id":"ab3aa5d2.a40df8","type":"inject","z":"1bbe100f.9c439","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":660,"wires":[[]]},{"id":"b44ddbb6.236f88","type":"function","z":"1bbe100f.9c439","name":"set check true","func":"global.set(\"check\", true)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":680,"wires":[[]]},{"id":"bc88c2a.743324","type":"inject","z":"1bbe100f.9c439","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1150,"y":760,"wires":[["7db72d84.e69484"]]},{"id":"7db72d84.e69484","type":"function","z":"1bbe100f.9c439","name":"","func":"global.set(\"value\", undefined)\nglobal.set(\"address\", 0)\nglobal.set(\"fc\", 6)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":760,"wires":[[]]},{"id":"5ff88453.ae452c","type":"function","z":"1bbe100f.9c439","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":670,"y":400,"wires":[[]]},{"id":"7ed86ab9.b0cc44","type":"function","z":"1bbe100f.9c439","name":"Modbus True","func":"\nvar data = msg.payload.value\nglobal.set(\"modbus2\", data)\n\nvar modbus =  global.get(\"modbus1\") \n\n\nif (data == modbus ) {\n    msg.payload = true\n    //global.set(\"refresh\", false)\n    //global.set(\"start\", false)\n    ///global.set(\"check\", false)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":320,"wires":[["453926c8.ee7828"]]},{"id":"453926c8.ee7828","type":"debug","z":"1bbe100f.9c439","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":280,"wires":[]},{"id":"f993db84.eb8048","type":"range","z":"1bbe100f.9c439","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":520,"y":320,"wires":[["5ff88453.ae452c","9b794ffa.d6e14","7ad59c84.46d4d4"]]},{"id":"378f4317.14311c","type":"function","z":"1bbe100f.9c439","name":"Modbus False","func":"var driver =  msg.payload;\nvar modbus1 = global.get(\"modbus1\")\nvar modbus2 = global.get(\"modbus2\")\n\nif ( modbus1 == modbus2 )  {\n    msg.payload = false\n    global.set(\"check\", true)\n    return msg;\n}","outputs":1,"noerr":0,"x":540,"y":560,"wires":[[]]},{"id":"363599b.fbe8b66","type":"inject","z":"1bbe100f.9c439","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":700,"wires":[[]]},{"id":"80c3d368.dee35","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":580,"wires":[["65002088.3cc9a"]]},{"id":"a613044b.c18b88","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["65002088.3cc9a"]]},{"id":"65002088.3cc9a","type":"function","z":"1aa39692.f5f9c9","name":" pressure set","func":"global.set(\"pressure\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":600,"wires":[[]]},{"id":"3793bde9.ca5da2","type":"range","z":"1bbe100f.9c439","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":340,"y":560,"wires":[["e2b99560.7188f8"]]},{"id":"e2b99560.7188f8","type":"function","z":"1bbe100f.9c439","name":"set modbus3","func":"global.set(\"modbus3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":600,"wires":[[]]},{"id":"f5ed2041.98d7a","type":"function","z":"1bbe100f.9c439","name":"","func":"var data = global.get(\"driver\")\nmsg.payload = data ;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["2ef42f.f4663bd2"]]},{"id":"2ef42f.f4663bd2","type":"range","z":"1bbe100f.9c439","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":520,"y":420,"wires":[["5a05fb60.32a5a4"]]},{"id":"5a05fb60.32a5a4","type":"function","z":"1bbe100f.9c439","name":"Set modbus","func":"global.set(\"modbus\", msg.payload)\n","outputs":1,"noerr":0,"x":670,"y":460,"wires":[[]]},{"id":"3f78decb.688092","type":"delay","z":"1bbe100f.9c439","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":500,"wires":[["20c42c8c.51b324"]]},{"id":"20c42c8c.51b324","type":"function","z":"1bbe100f.9c439","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":500,"wires":[[]]},{"id":"646e9af8.406024","type":"function","z":"1aa39692.f5f9c9","name":"","func":"var data = global.get(\"pressure\")\nif (data == 30) {\n    msg.payload = true\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":390,"y":640,"wires":[["4b34b91a.01a1f8"]]},{"id":"84ea9780.fb1cc8","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":680,"wires":[["646e9af8.406024"]]},{"id":"fe9c0e3c.324a4","type":"function","z":"1aa39692.f5f9c9","name":"Modbus Giriþi","func":"var data = msg.payload[0] ;\nmsg.payload = data /10 ;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["e2cf05ae.aa8cf8"]]},{"id":"812b3bf7.3a1358","type":"ui_button","z":"1aa39692.f5f9c9","name":"","group":"abcfc09d.223f9","order":6,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":410,"y":560,"wires":[["3d46f436.c8e46c","948875ac.c23c08","ee179cc.339906","f573759.fc7d688"]]},{"id":"c3880d78.ba868","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":260,"wires":[[]]},{"id":"948875ac.c23c08","type":"function","z":"1aa39692.f5f9c9","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["3c0685d5.abde5a","f73bce0f.b1771","53c536d5.421638"]]},{"id":"14596487.9e167b","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":300,"wires":[[]]},{"id":"5a68f9b6.18e8e8","type":"debug","z":"1aa39692.f5f9c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":340,"wires":[]},{"id":"f9ba756f.1de428","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1000,"wires":[["f573759.fc7d688"]]},{"id":"f573759.fc7d688","type":"function","z":"1aa39692.f5f9c9","name":"Global relay","func":"global.set(\"R1\", true);\nglobal.set(\"R4\", true);\n","outputs":1,"noerr":0,"x":310,"y":1000,"wires":[[]]},{"id":"cb0caa7b.f819c8","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"R4","payloadType":"global","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":1010,"y":40,"wires":[["bf671758.222988","1a84011a.983cff"]]},{"id":"f5e99c63.6edd1","type":"inject","z":"1aa39692.f5f9c9","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":1010,"y":140,"wires":[["3d624ebc.b731a2","f4fdc66.4c5d538"]]},{"id":"832bc640.bc1678","type":"debug","z":"1aa39692.f5f9c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":1020,"wires":[]},{"id":"4ea90589.7ee62c","type":"function","z":"1aa39692.f5f9c9","name":"","func":"global.set(\"R1\",false)\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":80,"wires":[[]]},{"id":"7f5e595.e68b2a8","type":"function","z":"1aa39692.f5f9c9","name":"","func":"global.set(\"R4\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":480,"wires":[[]]},{"id":"b474d3fa.9bb9c","type":"function","z":"1bbe100f.9c439","name":"","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nif (data == modbus && data === 0) {\n    global.set(\"rly\",true)\n    global.set(\"check\",false)\n    msg.payload = false\n    return msg;\n}\nelse if (data == modbus) {\n    global.set(\"mq\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":910,"y":400,"wires":[["ec7e8654.f1f8c8","af6db02e.4e0ed"]]},{"id":"415dd082.43f67","type":"modbus-read","z":"1aa39692.f5f9c9","name":"PT-100","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"542bc6dc.f8c648","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":210,"y":240,"wires":[[],[]]},{"id":"7ad59c84.46d4d4","type":"modbus-write","z":"1bbe100f.9c439","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"542bc6dc.f8c648","x":720,"y":320,"wires":[["8781b712.4d7168","b474d3fa.9bb9c"],[]]},{"id":"29c5e81d.6b03d8","type":"inject","z":"1bbe100f.9c439","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":380,"wires":[["7ad59c84.46d4d4"]]},{"id":"ec7e8654.f1f8c8","type":"switch","z":"1bbe100f.9c439","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":300,"wires":[["69105434.b80adc"]]},{"id":"69105434.b80adc","type":"delay","z":"1bbe100f.9c439","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":400,"wires":[["6dd17a8c.df4774"]]},{"id":"107c4b6.6321bb5","type":"function","z":"1bbe100f.9c439","name":"","func":"global.set(\"R4\",true)\nmsg.payload = global.get (\"R4\")\n//global.set(\"refresh\", true)\n//global.set(\"start\", true)\n\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":480,"wires":[["c59c97ac.59c2d8"]]},{"id":"30885cdf.3108f4","type":"debug","z":"1aa39692.f5f9c9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":120,"wires":[]},{"id":"e03a1750.2d99e8","type":"debug","z":"1aa39692.f5f9c9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":240,"wires":[]},{"id":"af6db02e.4e0ed","type":"debug","z":"1bbe100f.9c439","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":460,"wires":[]},{"id":"6dd17a8c.df4774","type":"delay","z":"1bbe100f.9c439","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"31","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":560,"wires":[["107c4b6.6321bb5"]]}]