06082019_manual_device_10_inch_azure.txt
[{"id":"4a60ac32.011274","type":"function","z":"9b5cce5a.1c1ea","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"b4d07bd5-012f-4c4a-995f-ff6188fd300a\",\n        \"key\": \"mQHIfhzu+q/DV5z/LGzPJrCCJzWHGnpTDgbhKZE37fU=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":360,"wires":[["f9b9e58e.7f4068"]]},{"id":"eafa8370.538ce","type":"function","z":"9b5cce5a.1c1ea","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":680,"wires":[[]]},{"id":"c311c5e8.fc2428","type":"function","z":"9b5cce5a.1c1ea","name":"","func":"let array = msg.payload\n\n\nlet array1 = [];\nlet start = 0;\nlet end = 2;\n\nfor(i = 0; i <= array.length /2 -1; i++){\n    array1.push(array.slice(start, end));\n    start += 2;\n    end  = start + 2;\n}\n\n\nlet array2 = [];\nfor(var item of array1){\n    for(var j of item){\n        array2.push(j.toString(16))\n    }\n}\n\nlet array3 = [];\nstart = 0;\nend = 2;\nfor(i = 0; i <= array.length /2 -1; i++){\n    array3.push(\"0x\"+array2.slice(start, end).join(\"\"));\n    start += 2;\n    end  = start + 2;\n}\n\nvar array4 = []\nfor(var k of array3){\n    var v = new DataView(new ArrayBuffer(4))\n    v.setUint32(0, k)\n    array4.push(String(v.getFloat32(0)).slice(0,5));\n}\n\nlet array5 = array4.map( y => ( isNaN(y) ? null : parseFloat(y)  ) )\n\nmsg = {\n    \"payload\" : array5\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["95f95eba.5d444"]]},{"id":"40e3e4d2.d0892c","type":"ui_button","z":"9b5cce5a.1c1ea","name":"","group":"ce47b73.a6a4148","order":1,"width":"4","height":"2","passthru":false,"label":"POMPA-ON","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":660,"y":2020,"wires":[["e489de6a.84fc6","da5d72e7.352ef"]]},{"id":"e93904d5.ad8ef8","type":"function","z":"9b5cce5a.1c1ea","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2020,"wires":[["40e3e4d2.d0892c"]]},{"id":"da5d72e7.352ef","type":"rpi-gpio out","z":"9b5cce5a.1c1ea","name":"Relay-1","pin":"7","set":"","level":"0","freq":"","out":"out","x":1000,"y":2000,"wires":[]},{"id":"bd5d7290.f1da7","type":"rpi-gpio out","z":"9b5cce5a.1c1ea","name":"Relay-2","pin":"11","set":"","level":"0","freq":"","out":"out","x":1000,"y":2100,"wires":[]},{"id":"b8d5689f.29fee8","type":"rpi-gpio out","z":"9b5cce5a.1c1ea","name":"Relay-3","pin":"13","set":"","level":"0","freq":"","out":"out","x":1000,"y":2200,"wires":[]},{"id":"9c473d34.02046","type":"rpi-gpio out","z":"9b5cce5a.1c1ea","name":"Relay-4","pin":"15","set":"","level":"0","freq":"","out":"out","x":1000,"y":2300,"wires":[]},{"id":"81a0df4a.e3903","type":"ui_button","z":"9b5cce5a.1c1ea","name":"","group":"ce47b73.a6a4148","order":2,"width":"4","height":"2","passthru":false,"label":"POMPA-OFF","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":660,"y":2060,"wires":[["ff70ec5b.3ea12","da5d72e7.352ef"]]},{"id":"5fb0a085.4ee7b","type":"ui_button","z":"9b5cce5a.1c1ea","name":"","group":"ce47b73.a6a4148","order":3,"width":"4","height":"2","passthru":false,"label":"TÜRBÝN-ON","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":660,"y":2120,"wires":[["28a0894f.1b43d6","bd5d7290.f1da7"]]},{"id":"c8c0242d.d7a9c8","type":"ui_button","z":"9b5cce5a.1c1ea","name":"","group":"ce47b73.a6a4148","order":4,"width":"4","height":"2","passthru":false,"label":"TÜRBÝN-OFF","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":670,"y":2160,"wires":[["ae3d37ae.3b3df8","bd5d7290.f1da7"]]},{"id":"46097ba3.ad5f84","type":"ui_button","z":"9b5cce5a.1c1ea","name":"","group":"d5180b0a.360028","order":1,"width":"8","height":"4","passthru":false,"label":"REZERVE380-ON","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":680,"y":2220,"wires":[["329ff568.d171da","b8d5689f.29fee8"]]},{"id":"3cfe0965.312526","type":"ui_button","z":"9b5cce5a.1c1ea","name":"","group":"d5180b0a.360028","order":2,"width":"8","height":"4","passthru":false,"label":"REZERVE380-OFF","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":680,"y":2260,"wires":[["3d092144.1a528e","b8d5689f.29fee8"]]},{"id":"fadd8700.5ab3d8","type":"ui_button","z":"9b5cce5a.1c1ea","name":"","group":"6631b980.3519d8","order":1,"width":"8","height":"4","passthru":false,"label":"DC OUTPUT-ON","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":680,"y":2320,"wires":[["99c3292d.123258","9c473d34.02046"]]},{"id":"eae49659.a41188","type":"ui_button","z":"9b5cce5a.1c1ea","name":"","group":"6631b980.3519d8","order":2,"width":"8","height":"4","passthru":false,"label":"DC OUTPUT-OFF","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":680,"y":2360,"wires":[["383a633a.a837bc","9c473d34.02046"]]},{"id":"e7db27ef.dca1f8","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":1960,"wires":[["36665277.7d646e"]]},{"id":"36665277.7d646e","type":"function","z":"9b5cce5a.1c1ea","name":"Creating Button Status","func":"var buttonStatuses = {\n    \n    \"r1\" : \"off\",\n    \"r2\" : \"off\",\n    \"r3\" : \"off\",\n    \"r4\" : \"off\",\n    \"r5\" : \"off\",\n    \"r6\" : \"off\",\n    \"r7\" : \"off\",\n    \"r8\" : \"off\"\n}\n\nglobal.set(\"buttonStatuses\", buttonStatuses);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1960,"wires":[[]]},{"id":"e489de6a.84fc6","type":"function","z":"9b5cce5a.1c1ea","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r1 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2020,"wires":[[]]},{"id":"ff70ec5b.3ea12","type":"function","z":"9b5cce5a.1c1ea","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r1 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2060,"wires":[[]]},{"id":"7154d4d5.ea816c","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"buttonStatuses.r1","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2020,"wires":[["e93904d5.ad8ef8"]]},{"id":"15ade737.fd8379","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"buttonStatuses.r1","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2060,"wires":[["661a2806.603908"]]},{"id":"661a2806.603908","type":"function","z":"9b5cce5a.1c1ea","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2060,"wires":[["81a0df4a.e3903"]]},{"id":"a117ef4.42fe81","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"buttonStatuses.r2","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2120,"wires":[["f3c7aca4.89a4d"]]},{"id":"2ccd2de.8c977d2","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"buttonStatuses.r2","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2160,"wires":[["7227c774.42b288"]]},{"id":"611181e.934f98","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"buttonStatuses.r3","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2220,"wires":[["b616c670.37c3d8"]]},{"id":"4fbc201.47198e","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"buttonStatuses.r3","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2260,"wires":[["278731c8.451e9e"]]},{"id":"dfe803ba.25c9a","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"buttonStatuses.r4","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2320,"wires":[["d384fc84.5702d"]]},{"id":"50693f17.a4bce","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"buttonStatuses.r4","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2360,"wires":[["c921a47a.7b0468"]]},{"id":"28a0894f.1b43d6","type":"function","z":"9b5cce5a.1c1ea","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r2 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2120,"wires":[[]]},{"id":"ae3d37ae.3b3df8","type":"function","z":"9b5cce5a.1c1ea","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r2 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2160,"wires":[[]]},{"id":"329ff568.d171da","type":"function","z":"9b5cce5a.1c1ea","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r3 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2220,"wires":[[]]},{"id":"3d092144.1a528e","type":"function","z":"9b5cce5a.1c1ea","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r3 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2260,"wires":[[]]},{"id":"99c3292d.123258","type":"function","z":"9b5cce5a.1c1ea","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r4 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2320,"wires":[[]]},{"id":"383a633a.a837bc","type":"function","z":"9b5cce5a.1c1ea","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r4 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2360,"wires":[[]]},{"id":"f3c7aca4.89a4d","type":"function","z":"9b5cce5a.1c1ea","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2120,"wires":[["5fb0a085.4ee7b"]]},{"id":"7227c774.42b288","type":"function","z":"9b5cce5a.1c1ea","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2160,"wires":[["c8c0242d.d7a9c8"]]},{"id":"b616c670.37c3d8","type":"function","z":"9b5cce5a.1c1ea","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2220,"wires":[["46097ba3.ad5f84"]]},{"id":"278731c8.451e9e","type":"function","z":"9b5cce5a.1c1ea","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2260,"wires":[["3cfe0965.312526"]]},{"id":"d384fc84.5702d","type":"function","z":"9b5cce5a.1c1ea","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2320,"wires":[["fadd8700.5ab3d8"]]},{"id":"c921a47a.7b0468","type":"function","z":"9b5cce5a.1c1ea","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2360,"wires":[["eae49659.a41188"]]},{"id":"33115654.34f63a","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"","group":"2d350b3d.0c8c74","order":0,"width":"3","height":"4","gtype":"gage","title":"R","label":"VA","format":"{{payload.repg_p1}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":480,"wires":[]},{"id":"d4c2fa5e.1027c8","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"","group":"2d350b3d.0c8c74","order":0,"width":"3","height":"4","gtype":"gage","title":"S","label":"VA","format":"{{payload.repg_p2}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":520,"wires":[]},{"id":"b78482a0.f7366","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"","group":"2d350b3d.0c8c74","order":0,"width":"3","height":"4","gtype":"gage","title":"T","label":"VA","format":"{{payload.repg_p3}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":560,"wires":[]},{"id":"88296dd7.561fd","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"","group":"cd4d410c.c6604","order":0,"width":"9","height":"4","gtype":"gage","title":"Güç LT","label":"VA","format":"{{payload.repg_t_p}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":600,"wires":[]},{"id":"180a0450.37df8c","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"","group":"12b4abe6.866f04","order":2,"width":"3","height":"4","gtype":"gage","title":"S","label":"A","format":"{{payload.repg_c2}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":380,"wires":[]},{"id":"e7e492ef.a7823","type":"function","z":"9b5cce5a.1c1ea","name":"RePG","func":"\nmsg = {\n    \"payload\" : {\n        //\"repg_v1\"   :   msg.payload[1]  /   10 ,\n        //\"repg_v2\"\t:   msg.payload[3]  /   10 ,\n        //\"repg_v3\"\t:   msg.payload[5]  /   10 ,\n        \"repg_v1_2\"\t:   msg.payload[9]  /   10 ,\n        \"repg_v2_3\"\t:   msg.payload[11] /   10 ,\n        \"repg_v3_1\"\t:   msg.payload[13] /   10 ,\n        \"repg_c1\"\t:   msg.payload[15] /   1000 ,\n        \"repg_c2\"\t:   msg.payload[17] /   1000 ,\n        \"repg_c3\"\t:   msg.payload[19] /   1000 \n        \n        \n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["79b3e70d.4068d8","dcde0e85.358a9","d9c302f9.83b0e","ea75218.66124e","180a0450.37df8c","3b0223d9.912edc","4c44ba34.1115e4"]]},{"id":"79b3e70d.4068d8","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"","group":"4b925329.8c1a1c","order":0,"width":"3","height":"4","gtype":"gage","title":"R","label":"V","format":"{{payload.repg_v1_2}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":200,"wires":[]},{"id":"dcde0e85.358a9","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"","group":"4b925329.8c1a1c","order":0,"width":"3","height":"4","gtype":"gage","title":"S","label":"V","format":"{{payload.repg_v2_3}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":240,"wires":[]},{"id":"d9c302f9.83b0e","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"","group":"4b925329.8c1a1c","order":0,"width":"3","height":"4","gtype":"gage","title":"T","label":"V","format":"{{payload.repg_v3_1}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":280,"wires":[]},{"id":"ea75218.66124e","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"","group":"12b4abe6.866f04","order":1,"width":"3","height":"4","gtype":"gage","title":"R","label":"A","format":"{{payload.repg_c1}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":340,"wires":[]},{"id":"3b0223d9.912edc","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"","group":"12b4abe6.866f04","order":3,"width":"3","height":"4","gtype":"gage","title":"T","label":"A","format":"{{payload.repg_c3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":420,"wires":[]},{"id":"d230afcf.5959","type":"debug","z":"9b5cce5a.1c1ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":820,"wires":[]},{"id":"27e99f9e.8ee4a","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"T1","group":"242bcafa.f61196","order":0,"width":"6","height":"5","gtype":"gage","title":"Sýcak Su Giriþ","label":"°C","format":"{{payload.Temp1}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":660,"wires":[]},{"id":"520ff750.5b6bf8","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"T2","group":"66285e13.bdb7c","order":3,"width":"6","height":"5","gtype":"gage","title":"Sýcak Su Çýkýþ","label":"°C","format":"{{payload.Temp2}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":700,"wires":[]},{"id":"c2097b70.1c4938","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"T3","group":"27d7accc.805ac4","order":0,"width":"6","height":"5","gtype":"gage","title":"Türbin Giriþ","label":"°C","format":"{{payload.Temp3}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":740,"wires":[]},{"id":"c5d7b39.ab20d5","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"T4","group":"df92453c.fb9bd8","order":0,"width":"6","height":"5","gtype":"gage","title":"Türbin Çýkýþ","label":"°C","format":"{{payload.Temp4}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":780,"wires":[]},{"id":"33e5c1fc.2f673e","type":"function","z":"9b5cce5a.1c1ea","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0]  /   10,\n        \"Temp2\"\t:   msg.payload[1]  /   10,\n        \"Temp3\"\t:   msg.payload[2]  /   10,\n        \"Temp4\"\t:   msg.payload[3]  /   10,\n        \"Temp5\"\t:   msg.payload[4]  /   10,\n        \"Temp6\"\t:   msg.payload[5]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":760,"wires":[["27e99f9e.8ee4a","520ff750.5b6bf8","c2097b70.1c4938","c5d7b39.ab20d5","114d405e.da7d5","6b970693.1395b8","eafa8370.538ce","d56e76cd.3f47b8","e7aa6200.72b61"]]},{"id":"114d405e.da7d5","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"T5","group":"54fabfb.0f2c84","order":0,"width":"6","height":"5","gtype":"gage","title":"Pompa Çýkýþ","label":"°C","format":"{{payload.Temp5}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":820,"wires":[]},{"id":"6b970693.1395b8","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"T6","group":"1f7d758c.226eca","order":0,"width":"6","height":"5","gtype":"gage","title":"Soðuk Su","label":"°C","format":"{{payload.Temp6}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":860,"wires":[]},{"id":"5378c653.f20308","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"P1","group":"1432ee1c.ec47f2","order":0,"width":"9","height":"4","gtype":"gage","title":"Türbin Çýkýþ","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":920,"wires":[]},{"id":"8a6ac765.7fccb8","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"P2","group":"e8f785c7.874058","order":3,"width":"9","height":"4","gtype":"gage","title":"Türbin Giriþ","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":960,"wires":[]},{"id":"cbd1f425.bb6178","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"P3","group":"5934a34c.8a38ec","order":0,"width":"9","height":"4","gtype":"gage","title":"REZERVE","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":1000,"wires":[]},{"id":"15bcc4a8.f9f13b","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"P4","group":"498f19f1.4f3ff8","order":0,"width":"9","height":"4","gtype":"gage","title":"REZERVE","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":1040,"wires":[]},{"id":"dd0a6606.f16908","type":"function","z":"9b5cce5a.1c1ea","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"P1\"    :   msg.payload[0]  /   100,\n        \"P2\"\t:   msg.payload[1]  /   100,\n        \"P3\"\t:   msg.payload[2]  /   100,\n        \"P4\"\t:   msg.payload[3]  /   100\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":920,"wires":[["ca121405.7f9368","91b57f0d.c857e","14cb029f.c3bdbd","650e17c1.7b43b8"]]},{"id":"ca121405.7f9368","type":"range","z":"9b5cce5a.1c1ea","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P1","name":"","x":490,"y":920,"wires":[["278e0090.a30d6"]]},{"id":"91b57f0d.c857e","type":"range","z":"9b5cce5a.1c1ea","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P2","name":"","x":490,"y":960,"wires":[["326d8680.9e348a"]]},{"id":"14cb029f.c3bdbd","type":"range","z":"9b5cce5a.1c1ea","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P3","name":"","x":490,"y":1000,"wires":[["810d232a.5c512"]]},{"id":"650e17c1.7b43b8","type":"range","z":"9b5cce5a.1c1ea","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P4","name":"","x":490,"y":1040,"wires":[["32e95703.e06e28"]]},{"id":"26a96aaf.b1e4a6","type":"debug","z":"9b5cce5a.1c1ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":980,"wires":[]},{"id":"7861f64a.c0b0a8","type":"modbus-read","z":"9b5cce5a.1c1ea","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cc1fbdb9.7bfed","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":120,"y":940,"wires":[["26a96aaf.b1e4a6","dd0a6606.f16908"],[]]},{"id":"648cbe75.a4538","type":"modbus-read","z":"9b5cce5a.1c1ea","name":"PT-100","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cc1fbdb9.7bfed","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":760,"wires":[["d230afcf.5959","33e5c1fc.2f673e"],[]]},{"id":"7c9a3cc1.725ae4","type":"modbus-read","z":"9b5cce5a.1c1ea","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"30","rate":"4","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cc1fbdb9.7bfed","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":300,"wires":[["e7e492ef.a7823","911f7800.9eafa8"],[]]},{"id":"ed92ebeb.1b37a8","type":"modbus-read","z":"9b5cce5a.1c1ea","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"26","quantity":"37","rate":"7","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cc1fbdb9.7bfed","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":480,"wires":[["c311c5e8.fc2428"],[]]},{"id":"911f7800.9eafa8","type":"debug","z":"9b5cce5a.1c1ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":400,"wires":[]},{"id":"61a1623a.f7fdfc","type":"debug","z":"9b5cce5a.1c1ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":620,"wires":[]},{"id":"5bec3957.48ca18","type":"function","z":"9b5cce5a.1c1ea","name":"","func":"var data = msg.payload\nmsg.payload = parseInt( ( data * 100 ).toFixed(0) )\n\nglobal.set('value', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1220,"wires":[["f32a493.96190b8"]]},{"id":"59e682c7.fda2ac","type":"ui_slider","z":"9b5cce5a.1c1ea","name":"slider_1","label":"","group":"30e2d56b.b384da","order":5,"width":"8","height":"1","passthru":true,"topic":"","min":0,"max":"50","step":"1","x":520,"y":1200,"wires":[["5e2932e1.87433c","6db6e28e.bbe56c","d7a69567.5598f8"]],"icon":"node-red/alert.png"},{"id":"edd355df.c60b58","type":"ui_button","z":"9b5cce5a.1c1ea","name":"+_1","group":"30e2d56b.b384da","order":4,"width":"1","height":"1","passthru":false,"label":"+","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"","x":180,"y":1120,"wires":[["352020c9.079f4"]]},{"id":"bced0211.f4315","type":"ui_button","z":"9b5cce5a.1c1ea","name":"-_1","group":"30e2d56b.b384da","order":2,"width":"1","height":"1","passthru":false,"label":"-","color":"red","bgcolor":"white","icon":"","payload":"-","payloadType":"str","topic":"","x":180.00347137451172,"y":1166.989473938942,"wires":[["352020c9.079f4"]]},{"id":"352020c9.079f4","type":"function","z":"9b5cce5a.1c1ea","name":"Obtained Global Variable","func":"\nvar Value = global.get(\"val\");\n\nif(msg.payload == \"+\" && Value <50){\n    global.set('val', Value + 1)\n} \n\nif(msg.payload == \"-\" && Value >0) {\n    global.set('val', Value - 1)\n}\nValue = global.get(\"val\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":370,"y":1140,"wires":[["59e682c7.fda2ac"]]},{"id":"9dcd3e28.62e2f","type":"function","z":"9b5cce5a.1c1ea","name":"Global Variable Initializing","func":"global.set(\"val\", 0);\nglobal.set(\"val1\", 0);\nglobal.set(\"val2\", 0);\nglobal.set(\"val3\", 0);\nglobal.set(\"val4\", 0);\nglobal.set(\"val5\", 0);","outputs":1,"noerr":0,"x":370,"y":1240,"wires":[[]]},{"id":"f9fd06a2.269b18","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1240,"wires":[["9dcd3e28.62e2f"]]},{"id":"d7a69567.5598f8","type":"ui_text","z":"9b5cce5a.1c1ea","group":"30e2d56b.b384da","order":3,"width":"6","height":"1","name":"text_1","label":"","format":"{{msg.payload}}","layout":"col-center","x":710,"y":1180,"wires":[]},{"id":"5e2932e1.87433c","type":"function","z":"9b5cce5a.1c1ea","name":"Setting Global Variable","func":"if(msg.payload){\n     global.set('val', msg.payload)\n}\n   \n\n\nmsg = {\n    \"payload\" : global.get('val'),\n     \"data\" : Math.floor(global.get('val') * 1.365)\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1140,"wires":[[]]},{"id":"174f912.f4bf86f","type":"ui_text","z":"9b5cce5a.1c1ea","group":"30e2d56b.b384da","order":1,"width":"8","height":"1","name":"INV-1","label":"Sürücü","format":"{{msg.payload}}","layout":"row-center","x":830,"y":1180,"wires":[]},{"id":"2bd6c0e9.ea72a","type":"debug","z":"9b5cce5a.1c1ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1280,"wires":[]},{"id":"6db6e28e.bbe56c","type":"range","z":"9b5cce5a.1c1ea","minin":"0","maxin":"50","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":710,"y":1220,"wires":[["5bec3957.48ca18"]]},{"id":"f32a493.96190b8","type":"ui_button","z":"9b5cce5a.1c1ea","name":"","group":"30e2d56b.b384da","order":5,"width":"8","height":"1","passthru":false,"label":"UYGULA","color":"","bgcolor":"","icon":"","payload":"value","payloadType":"global","topic":"","x":780,"y":1280,"wires":[["2bd6c0e9.ea72a","7195dc26.f556a4"]]},{"id":"d3871f62.33495","type":"debug","z":"9b5cce5a.1c1ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":1380,"wires":[]},{"id":"c016dc39.85fc6","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1260,"wires":[["7195dc26.f556a4"]]},{"id":"3998d854.d88d08","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1300,"wires":[["7195dc26.f556a4"]]},{"id":"72c51fe.3d265e","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"600","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1340,"wires":[["7195dc26.f556a4"]]},{"id":"d5b49bd6.2a65a8","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1420,"wires":[["7195dc26.f556a4"]]},{"id":"b71200cb.5e353","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1380,"wires":[["7195dc26.f556a4"]]},{"id":"7195dc26.f556a4","type":"modbus-write","z":"9b5cce5a.1c1ea","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"cc1fbdb9.7bfed","x":780,"y":1360,"wires":[["d3871f62.33495"],[]]},{"id":"6ae23d59.602394","type":"debug","z":"9b5cce5a.1c1ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":240,"wires":[]},{"id":"a9be824.cd6e08","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":180,"wires":[["e311cf06.ed42b"]]},{"id":"e311cf06.ed42b","type":"function","z":"9b5cce5a.1c1ea","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"A1_v1\"     :undefined,\n    \"A1_v2\"     :undefined,\n    \"A1_v3\"     :undefined,\n    \"A1_c1\"     :undefined,\n    \"A1_c2\"     :undefined,\n    \"A1_c3\"     :undefined,\n    \"A1_p1\"     :undefined,\n    \"A1_p2\"     :undefined,\n    \"A1_p3\"     :undefined,\n    \"A1_t_p\"    :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"P3\"        :undefined,\n    \"P4\"        :undefined,\n    \"PT\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[[]]},{"id":"b6fbf2bf.2c46d","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["6ae23d59.602394"]]},{"id":"4c44ba34.1115e4","type":"function","z":"9b5cce5a.1c1ea","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"A1_v1\"]   =   msg.payload[\"repg_v1_2\"];\ndata[\"A1_v2\"]   =   msg.payload[\"repg_v2_3\"];\ndata[\"A1_v3\"]   =   msg.payload[\"repg_v3_1\"];\ndata[\"A1_c1\"]   =   msg.payload[\"repg_c1\"];\ndata[\"A1_c2\"]   =   msg.payload[\"repg_c2\"];\ndata[\"A1_c3\"]   =   msg.payload[\"repg_c3\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":300,"wires":[[]]},{"id":"85441f00.71125","type":"function","z":"9b5cce5a.1c1ea","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\n\ndata[\"A1_p1\"]   =   msg.payload[\"repg_p1\"];\ndata[\"A1_p2\"]   =   msg.payload[\"repg_p2\"];\ndata[\"A1_p3\"]   =   msg.payload[\"repg_p3\"];\ndata[\"A1_t_p\"]  =   msg.payload[\"repg_t_p\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":460,"wires":[[]]},{"id":"95f95eba.5d444","type":"function","z":"9b5cce5a.1c1ea","name":"RePG","func":"var data = global.get('azure_data');\n\n\n\nmsg = {\n    \"payload\" : {\n        \n        \"repg_p1\"   :   parseFloat( ( (data[\"A1_v1\"]    /   1.73) * data[\"A1_c1\"]).toFixed(0) ),\n        \"repg_p2\"   :   parseFloat( ( (data[\"A1_v2\"]    /   1.73) * data[\"A1_c2\"]).toFixed(0) ) ,\n        \"repg_p3\"   :   parseFloat( ( (data[\"A1_v3\"]    /   1.73) * data[\"A1_c3\"]).toFixed(0) ) ,\n        \"repg_t_p\"  :   parseFloat( ( data[\"A1_p1\"] +  data[\"A1_p2\"] + data[\"A1_p3\"] ).toFixed(0) )\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":480,"wires":[["85441f00.71125","33115654.34f63a","d4c2fa5e.1027c8","b78482a0.f7366","88296dd7.561fd"]]},{"id":"ab7cd977.d7a5b8","type":"inject","z":"9b5cce5a.1c1ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1020,"y":260,"wires":[["4a60ac32.011274"]]},{"id":"2a0bd134.7b770e","type":"debug","z":"9b5cce5a.1c1ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":480,"wires":[]},{"id":"278e0090.a30d6","type":"function","z":"9b5cce5a.1c1ea","name":"","func":"var data = parseFloat( (msg.payload.P1).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":920,"wires":[["5378c653.f20308","9d2ccf60.3458c"]]},{"id":"326d8680.9e348a","type":"function","z":"9b5cce5a.1c1ea","name":"","func":"var data = parseFloat( (msg.payload.P2).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":960,"wires":[["8a6ac765.7fccb8","9b48b5c4.010338"]]},{"id":"810d232a.5c512","type":"function","z":"9b5cce5a.1c1ea","name":"","func":"var data = parseFloat( (msg.payload.P3).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P3\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":1000,"wires":[["cbd1f425.bb6178"]]},{"id":"32e95703.e06e28","type":"function","z":"9b5cce5a.1c1ea","name":"","func":"var data = parseFloat( (msg.payload.P4).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P4\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":1040,"wires":[["15bcc4a8.f9f13b"]]},{"id":"d56e76cd.3f47b8","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"T1","group":"93cb98de.d95158","order":0,"width":"4","height":"4","gtype":"gage","title":"Sýcak Su Giriþ","label":"°C","format":"{{payload.Temp1}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":760,"wires":[]},{"id":"e7aa6200.72b61","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"T3","group":"93cb98de.d95158","order":0,"width":"4","height":"4","gtype":"gage","title":"Türbin Giriþ","label":"°C","format":"{{payload.Temp3}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":840,"wires":[]},{"id":"9d2ccf60.3458c","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"P1","group":"619f9386.0b7f6c","order":1,"width":"4","height":"4","gtype":"gage","title":"Türbin Çýkýþ","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":920,"wires":[]},{"id":"9b48b5c4.010338","type":"ui_gauge","z":"9b5cce5a.1c1ea","name":"P2","group":"619f9386.0b7f6c","order":2,"width":"4","height":"4","gtype":"gage","title":"Türbin Giriþ","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":960,"wires":[]},{"id":"f9b9e58e.7f4068","type":"azureiothub","z":"9b5cce5a.1c1ea","name":"Azure IoT Hub","protocol":"mqtt","x":1220,"y":420,"wires":[["2a0bd134.7b770e"]]},{"id":"ce47b73.a6a4148","type":"ui_group","z":"","name":"Buton","tab":"2a029bb1.83d114","order":3,"disp":true,"width":"8","collapse":false},{"id":"d5180b0a.360028","type":"ui_group","z":"","name":"Buton-3","tab":"1e9b24aa.ed778b","order":5,"disp":false,"width":"8","collapse":false},{"id":"6631b980.3519d8","type":"ui_group","z":"","name":"Buton-4","tab":"1e9b24aa.ed778b","order":6,"disp":false,"width":"8","collapse":false},{"id":"2d350b3d.0c8c74","type":"ui_group","z":"","name":"Güç","tab":"ad737534.282d48","order":4,"disp":true,"width":"9","collapse":false},{"id":"cd4d410c.c6604","type":"ui_group","z":"","name":"RePG","tab":"ad737534.282d48","order":5,"disp":true,"width":"9","collapse":false},{"id":"12b4abe6.866f04","type":"ui_group","z":"","name":"Akým","tab":"ad737534.282d48","order":3,"disp":true,"width":"9","collapse":false},{"id":"4b925329.8c1a1c","type":"ui_group","z":"","name":"Gerilim","tab":"ad737534.282d48","order":1,"disp":true,"width":"9","collapse":false},{"id":"242bcafa.f61196","type":"ui_group","z":"","name":"T1","tab":"8f512e79.e2fb4","order":1,"disp":false,"width":"6","collapse":false},{"id":"66285e13.bdb7c","type":"ui_group","z":"","name":"T2","tab":"8f512e79.e2fb4","order":2,"disp":false,"width":"6","collapse":false},{"id":"27d7accc.805ac4","type":"ui_group","z":"","name":"T3","tab":"8f512e79.e2fb4","order":3,"disp":false,"width":"6","collapse":false},{"id":"df92453c.fb9bd8","type":"ui_group","z":"","name":"T4","tab":"8f512e79.e2fb4","order":4,"disp":false,"width":"6","collapse":false},{"id":"54fabfb.0f2c84","type":"ui_group","z":"","name":"T5","tab":"8f512e79.e2fb4","order":5,"disp":false,"width":"6","collapse":false},{"id":"1f7d758c.226eca","type":"ui_group","z":"","name":"T6","tab":"8f512e79.e2fb4","order":6,"disp":false,"width":"6","collapse":false},{"id":"1432ee1c.ec47f2","type":"ui_group","z":"","name":"P1","tab":"ddb4c7ff.4f6638","order":1,"disp":true,"width":"9","collapse":false},{"id":"e8f785c7.874058","type":"ui_group","z":"","name":"P2","tab":"ddb4c7ff.4f6638","order":2,"disp":true,"width":"9","collapse":false},{"id":"5934a34c.8a38ec","type":"ui_group","z":"","name":"P3","tab":"ddb4c7ff.4f6638","order":3,"disp":true,"width":"9","collapse":false},{"id":"498f19f1.4f3ff8","type":"ui_group","z":"","name":"P4","tab":"ddb4c7ff.4f6638","order":4,"disp":true,"width":"9","collapse":false},{"id":"cc1fbdb9.7bfed","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"30e2d56b.b384da","type":"ui_group","z":"","name":"Sürücü","tab":"2a029bb1.83d114","order":1,"disp":true,"width":"8","collapse":false},{"id":"93cb98de.d95158","type":"ui_group","z":"","name":"Sýcaklýk","tab":"2a029bb1.83d114","order":4,"disp":true,"width":"8","collapse":false},{"id":"619f9386.0b7f6c","type":"ui_group","z":"","name":"Basýnç","tab":"2a029bb1.83d114","order":5,"disp":true,"width":"8","collapse":false},{"id":"2a029bb1.83d114","type":"ui_tab","z":"","name":"Kontrol Paneli","icon":"dashboard","order":1},{"id":"1e9b24aa.ed778b","type":"ui_tab","z":"","name":"Kontrol","icon":"dashboard","order":3},{"id":"ad737534.282d48","type":"ui_tab","z":"","name":"Elektrik","icon":"dashboard","order":2},{"id":"8f512e79.e2fb4","type":"ui_tab","z":"","name":"Sýcaklýk Sensör","icon":"dashboard","order":5},{"id":"ddb4c7ff.4f6638","type":"ui_tab","z":"","name":"Basýnç Sensör","icon":"dashboard","order":4}]