09092019_algoritma_2.json
[{"id":"74bb9091.cd065","type":"function","z":"514f73fb.138a2c","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":280,"wires":[["19a15eb7.ad7fa1"]]},{"id":"36b5e2d2.4571be","type":"function","z":"514f73fb.138a2c","name":"up \"driver\"","func":"var data = global.get(\"driver\")\ndata = data + 1\nmsg.payload = data\nglobal.set(\"driver\",msg.payload)\n//global.set(\"driverf\",false)\nglobal.set(\"driverg\",true)\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1180,"wires":[["decd994e.cd8808"]]},{"id":"decd994e.cd8808","type":"debug","z":"514f73fb.138a2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":1200,"wires":[]},{"id":"6d9a7b4f.914e04","type":"function","z":"514f73fb.138a2c","name":"down \"driver\"","func":"var data = global.get(\"driver\")\ndata = data - 1\nmsg.payload = data\nglobal.set(\"driver\",msg.payload)\n//global.set(\"driverf\",false)\nglobal.set(\"driverg\",false)\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1220,"wires":[["decd994e.cd8808"]]},{"id":"1a660e6e.0aaf82","type":"switch","z":"514f73fb.138a2c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1180,"wires":[["36b5e2d2.4571be"]]},{"id":"ee363921.ef6298","type":"switch","z":"514f73fb.138a2c","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1220,"wires":[["6d9a7b4f.914e04"]]},{"id":"9346f2e9.03741","type":"function","z":"514f73fb.138a2c","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[[]]},{"id":"895300c4.babcb","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["9346f2e9.03741"]]},{"id":"f138c048.7eb16","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["6d56c463.ede01c"]]},{"id":"e8f63721.52a108","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"62","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["6d56c463.ede01c"]]},{"id":"68ae2ee3.58fc7","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"67","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["6d56c463.ede01c"]]},{"id":"6d56c463.ede01c","type":"function","z":"514f73fb.138a2c","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[[]]},{"id":"b56f92fb.e2022","type":"function","z":"514f73fb.138a2c","name":"P1","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":700,"wires":[[]]},{"id":"549bc119.f15ba","type":"function","z":"514f73fb.138a2c","name":"P2","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":780,"wires":[[]]},{"id":"75683471.92ce1c","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"start","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["bbeca7ef.b257a8"]]},{"id":"2d6680b5.37ece","type":"function","z":"514f73fb.138a2c","name":"T1 > 70   -   R1-ON","func":"var data    =   global.get(\"T1\")\nif (data > 70) {\n    global.set(\"R1\",false)\n    msg.payload = true\n    global.set(\"start\",false)\n    return msg;\n}\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["f696469f.05b9c8"]]},{"id":"f696469f.05b9c8","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":60,"wires":[["b12a43d.875bac"]]},{"id":"7e605bf6.9d1a64","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["9346f2e9.03741"]]},{"id":"100411f3.8a343e","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":1840,"wires":[["7be5f0dd.8c3f2"]]},{"id":"7be5f0dd.8c3f2","type":"function","z":"514f73fb.138a2c","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":1840,"wires":[[]]},{"id":"6d918967.7ffb98","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":1880,"wires":[["67793af6.86dcc4"]]},{"id":"67793af6.86dcc4","type":"function","z":"514f73fb.138a2c","name":"driver - driverf - driverg","func":"global.set(\"driver\",0)\nglobal.set(\"driverf\",false)\nglobal.set(\"driverg\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":1880,"wires":[[]]},{"id":"7b7d51a7.e874b","type":"rpi-gpio out","z":"514f73fb.138a2c","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":1510,"y":1260,"wires":[]},{"id":"cec5714.238029","type":"rpi-gpio out","z":"514f73fb.138a2c","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":1510,"y":1360,"wires":[]},{"id":"94721772.b6efe8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1330,"y":1320,"wires":[["7b7d51a7.e874b","95593e43.aed09"]]},{"id":"8292a50e.e5a528","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1330,"y":1420,"wires":[["cec5714.238029","6f6bb387.b16a4c"]]},{"id":"b12a43d.875bac","type":"function","z":"514f73fb.138a2c","name":"set driver  \"5\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",5)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":730,"y":60,"wires":[["bf9935c2.fa5708"]]},{"id":"bf9935c2.fa5708","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":60,"wires":[["468802e9.f91b7c"]]},{"id":"468802e9.f91b7c","type":"function","z":"514f73fb.138a2c","name":"R2-ON","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1010,"y":60,"wires":[["88cfedb4.b15b3"]]},{"id":"88cfedb4.b15b3","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":60,"wires":[["94c7fb3c.307dc8"]]},{"id":"94c7fb3c.307dc8","type":"function","z":"514f73fb.138a2c","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1280,"y":60,"wires":[[]]},{"id":"95593e43.aed09","type":"function","z":"514f73fb.138a2c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1490,"y":1320,"wires":[["3b0438b0.b80d98"]]},{"id":"6f6bb387.b16a4c","type":"function","z":"514f73fb.138a2c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1490,"y":1420,"wires":[["931c036a.f770d"]]},{"id":"3b0438b0.b80d98","type":"ui_text","z":"514f73fb.138a2c","group":"44e038.33342fc8","order":1,"width":"5","height":"1","name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":1610,"y":1320,"wires":[]},{"id":"931c036a.f770d","type":"ui_text","z":"514f73fb.138a2c","group":"44e038.33342fc8","order":2,"width":"5","height":"1","name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":1610,"y":1420,"wires":[]},{"id":"5201384a.2467f8","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":1,"width":"4","height":"4","gtype":"gage","title":"T1","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1610,"y":1480,"wires":[]},{"id":"8ab1c3b5.edec2","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":2,"width":"4","height":"4","gtype":"gage","title":"T3","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1610,"y":1520,"wires":[]},{"id":"7aa7183f.2e7fb8","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":3,"width":"4","height":"4","gtype":"gage","title":"P1","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1610,"y":1560,"wires":[]},{"id":"b52cba8a.bf0568","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":4,"width":"4","height":"4","gtype":"gage","title":"P2","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1610,"y":1600,"wires":[]},{"id":"8fc59281.c6bc","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":1480,"wires":[["5201384a.2467f8"]]},{"id":"7f581d16.409c14","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":1520,"wires":[["8ab1c3b5.edec2"]]},{"id":"54ceaa77.1cb004","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":1560,"wires":[["7aa7183f.2e7fb8"]]},{"id":"e9fcf15b.4e90a","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":1600,"wires":[["b52cba8a.bf0568"]]},{"id":"caaec8d5.7522a8","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":6,"width":"4","height":"4","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1620,"y":1640,"wires":[]},{"id":"6d1ff39f.da3c7c","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1460,"y":1640,"wires":[["caaec8d5.7522a8"]]},{"id":"cbd5b69e.882438","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2080,"wires":[["24bd51e2.4d250e"]]},{"id":"24bd51e2.4d250e","type":"function","z":"514f73fb.138a2c","name":"set \"0\" (T1 - T3 - P1 - P2 - P2S - PS )","func":"global.set(\"T1\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":2080,"wires":[[]]},{"id":"19a15eb7.ad7fa1","type":"switch","z":"514f73fb.138a2c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"55","v2t":"num"},{"t":"btwn","v":"56","vt":"num","v2":"60","v2t":"num"},{"t":"btwn","v":"61","vt":"num","v2":"65","v2t":"num"},{"t":"btwn","v":"66","vt":"num","v2":"70","v2t":"num"},{"t":"btwn","v":"71","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"81","vt":"num","v2":"85","v2t":"num"},{"t":"btwn","v":"86","vt":"num","v2":"90","v2t":"num"},{"t":"btwn","v":"91","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":1110,"y":280,"wires":[["fdfd13ed.cefc6"],["d570aa06.0b8c98"],["bbd7a7ef.4f5ff8"],["e811e5ca.126be8"],["74065048.5d7c1"],["a2fb287e.36ac98"],["de6bc0eb.19198"],["3f8c0c45.1ce594"],["1d293b86.d7ba24"]]},{"id":"6a0302cd.6a7f9c","type":"debug","z":"514f73fb.138a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":980,"wires":[]},{"id":"bbd7a7ef.4f5ff8","type":"function","z":"514f73fb.138a2c","name":"set \"18\" bar","func":"global.set(\"P2S\",18);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":200,"wires":[[]]},{"id":"b0203715.9a2ae8","type":"debug","z":"514f73fb.138a2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":940,"wires":[]},{"id":"e811e5ca.126be8","type":"function","z":"514f73fb.138a2c","name":"set \"20\" bar","func":"global.set(\"P2S\",20);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":240,"wires":[[]]},{"id":"74065048.5d7c1","type":"function","z":"514f73fb.138a2c","name":"set \"22\" bar","func":"global.set(\"P2S\",22);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":280,"wires":[[]]},{"id":"de6bc0eb.19198","type":"function","z":"514f73fb.138a2c","name":"set \"26\" bar","func":"global.set(\"P2S\",26);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":360,"wires":[[]]},{"id":"d570aa06.0b8c98","type":"function","z":"514f73fb.138a2c","name":"set \"16\" bar","func":"global.set(\"P2S\",16);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":160,"wires":[[]]},{"id":"fdfd13ed.cefc6","type":"function","z":"514f73fb.138a2c","name":"set \"14\" bar","func":"global.set(\"P2S\",14);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":120,"wires":[[]]},{"id":"3f8c0c45.1ce594","type":"function","z":"514f73fb.138a2c","name":"set \"28\" bar","func":"global.set(\"P2S\",28);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":400,"wires":[[]]},{"id":"1d293b86.d7ba24","type":"function","z":"514f73fb.138a2c","name":"set \"30\" bar","func":"global.set(\"P2S\",30);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":440,"wires":[[]]},{"id":"a2fb287e.36ac98","type":"function","z":"514f73fb.138a2c","name":"set \"24\" bar","func":"global.set(\"P2S\",24);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":320,"wires":[[]]},{"id":"c716d886.ff2038","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["6d56c463.ede01c"]]},{"id":"df128e8a.4a7e4","type":"function","z":"514f73fb.138a2c","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":900,"wires":[["c40f5c84.e0083"]]},{"id":"c40f5c84.e0083","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":900,"wires":[["ff65046.771ddf8"]]},{"id":"ff65046.771ddf8","type":"function","z":"514f73fb.138a2c","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"T3K\",true);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":900,"wires":[[]]},{"id":"1bf053e0.08384c","type":"function","z":"514f73fb.138a2c","name":"driver up down","func":"var p2s = global.get(\"P2S\");\nvar ps   = global.get(\"PS\");\n\nif (p2s > ps) {\n    msg.payload = true;\n    return msg;\n\n    \n}\nelse if (p2s < ps) {\n    msg.payload = false;\n    return msg;\n}\nelse if (p2s == ps) {\n    global.set(\"driverf\",false)\n    global.set(\"sensor\",false)\n    global.set(\"temp1\",true)\n}\n\n\n","outputs":1,"noerr":0,"x":420,"y":1200,"wires":[["1a660e6e.0aaf82","ee363921.ef6298"]]},{"id":"baf9c0ed.e8c2","type":"function","z":"514f73fb.138a2c","name":"driver","func":"global.set(\"driver\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":820,"wires":[[]]},{"id":"748e12a8.b6b3ac","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"82","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":500,"wires":[[]]},{"id":"157c915f.45c9df","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["6d56c463.ede01c"]]},{"id":"557817fb.cfcf28","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"driverf","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1200,"wires":[["35a23d73.017102"]]},{"id":"18b15332.dbd92d","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":280,"wires":[["74bb9091.cd065"]]},{"id":"7080782d.3747c8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"temp1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":280,"wires":[["18b15332.dbd92d"]]},{"id":"60df25d8.7fe1cc","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":1920,"wires":[["a79486b9.e86ed8"]]},{"id":"a79486b9.e86ed8","type":"function","z":"514f73fb.138a2c","name":"start","func":"global.set(\"start\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":1920,"wires":[[]]},{"id":"bbeca7ef.b257a8","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":60,"wires":[["2d6680b5.37ece"]]},{"id":"3afae910.eed506","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":1960,"wires":[["2f1d6bc7.b4e814"]]},{"id":"2f1d6bc7.b4e814","type":"function","z":"514f73fb.138a2c","name":"temp1 - temp2 - temp3","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":1960,"wires":[[]]},{"id":"1c5eedd8.7552a2","type":"function","z":"514f73fb.138a2c","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":920,"wires":[["483d6e77.1c9e"]]},{"id":"483d6e77.1c9e","type":"switch","z":"514f73fb.138a2c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"100","vt":"num"},{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":920,"wires":[["df128e8a.4a7e4"],["b0203715.9a2ae8"]]},{"id":"6e6d4ff2.71705","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":920,"wires":[["74a17d43.2816e4"]]},{"id":"fa9bb3d2.4fe95","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"77","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["6d56c463.ede01c"]]},{"id":"74a17d43.2816e4","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":920,"wires":[["1c5eedd8.7552a2"]]},{"id":"87ef33e3.c81f6","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"P2S","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":1680,"wires":[["d18fde48.6db1f"]]},{"id":"d18fde48.6db1f","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":5,"width":"4","height":"4","gtype":"gage","title":"P2S","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1610,"y":1680,"wires":[]},{"id":"38ce5f0e.b0dd8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2000,"wires":[["e684a79c.32cca8"]]},{"id":"e684a79c.32cca8","type":"function","z":"514f73fb.138a2c","name":"pres1 - pres2","func":"global.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":2000,"wires":[[]]},{"id":"3f008c81.eb27e4","type":"function","z":"514f73fb.138a2c","name":"msg.payload = P1","func":"var data    =   global.get(\"P1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1060,"wires":[["c9833c6e.e8e99"]]},{"id":"3431f45c.50483c","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"pres1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1060,"wires":[["9b487921.56c058"]]},{"id":"9b487921.56c058","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1060,"wires":[["3f008c81.eb27e4"]]},{"id":"ca0d0899.bd0938","type":"function","z":"514f73fb.138a2c","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1120,"wires":[["7047a08e.e0f7b"]]},{"id":"dad094b2.14aec8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"pres2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1120,"wires":[["2b28ee78.bfcb12"]]},{"id":"2b28ee78.bfcb12","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1120,"wires":[["ca0d0899.bd0938"]]},{"id":"9ea8f8ee.d900f8","type":"function","z":"514f73fb.138a2c","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1060,"wires":[["ea8b3aa0.efabb8"]]},{"id":"ea8b3aa0.efabb8","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":1060,"wires":[["93b389cf.8d2fc8"]]},{"id":"93b389cf.8d2fc8","type":"function","z":"514f73fb.138a2c","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"P1K\",true);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1060,"wires":[[]]},{"id":"8c1c21ea.bd405","type":"function","z":"514f73fb.138a2c","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1120,"wires":[["159bc815.5343b8"]]},{"id":"159bc815.5343b8","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":1120,"wires":[["6a50d3e8.449cdc"]]},{"id":"6a50d3e8.449cdc","type":"function","z":"514f73fb.138a2c","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"P2K\",true);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1120,"wires":[[]]},{"id":"c9833c6e.e8e99","type":"switch","z":"514f73fb.138a2c","name":"P1 > 20","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":1060,"wires":[["9ea8f8ee.d900f8"]]},{"id":"7047a08e.e0f7b","type":"switch","z":"514f73fb.138a2c","name":"P2 > 30","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":1120,"wires":[["8c1c21ea.bd405"]]},{"id":"34ef734.9b8d98c","type":"debug","z":"514f73fb.138a2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1280,"wires":[]},{"id":"81168e86.935bc","type":"function","z":"514f73fb.138a2c","name":"get driver","func":"msg.payload = global.get(\"driver\")\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1280,"wires":[["34ef734.9b8d98c"]]},{"id":"be9c9079.cab4f","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"driverg","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1280,"wires":[["3772dcc.2a4ac24"]]},{"id":"3772dcc.2a4ac24","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1280,"wires":[["81168e86.935bc"]]},{"id":"30a88209.9fdd0e","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",true)\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":760,"wires":[[]]},{"id":"d088af18.2d84f","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"temp3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":980,"wires":[["bbb08c9e.25f37"]]},{"id":"bbb08c9e.25f37","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":980,"wires":[["5d479a1b.1cb134"]]},{"id":"5d479a1b.1cb134","type":"function","z":"514f73fb.138a2c","name":"T3 < 50","func":"var data = global.get(\"T3\")\nif (data > 50) {\n    msg.payload = true\n    return msg;\n}\nelse if (data < 50) {\n    msg.payload = false\n    global.set(\"driver\",5)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":400,"y":980,"wires":[["82b66132.dbc56"]]},{"id":"b64532a6.ad416","type":"switch","z":"514f73fb.138a2c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"13.5","vt":"num","v2":"14.5","v2t":"num"},{"t":"btwn","v":"15.5","vt":"num","v2":"16.5","v2t":"num"},{"t":"btwn","v":"17.5","vt":"num","v2":"18.5","v2t":"num"},{"t":"btwn","v":"19.5","vt":"num","v2":"20.5","v2t":"num"},{"t":"btwn","v":"21.5","vt":"num","v2":"22.5","v2t":"num"},{"t":"btwn","v":"23.5","vt":"num","v2":"24.5","v2t":"num"},{"t":"btwn","v":"25.5","vt":"num","v2":"26.5","v2t":"num"},{"t":"btwn","v":"27.5","vt":"num","v2":"28.5","v2t":"num"},{"t":"btwn","v":"29.5","vt":"num","v2":"30.5","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":590,"y":1500,"wires":[["4146cfbb.ae545"],["703982f5.b4742c"],["d219eb1.91d3818"],["8810cfea.89c97"],["528fa5b0.2adcec"],["1d4bca7e.8f56d6"],["e5bfd313.e6405"],["5a2fc546.5d110c"],["80a3370.2ceb8c8"]]},{"id":"1c1c2d5c.a94873","type":"function","z":"514f73fb.138a2c","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1500,"wires":[["b64532a6.ad416"]]},{"id":"643dbc66.bf6434","type":"debug","z":"514f73fb.138a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":1740,"wires":[]},{"id":"2ce6e5b5.1b430a","type":"debug","z":"514f73fb.138a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":1780,"wires":[]},{"id":"4146cfbb.ae545","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",14);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1340,"wires":[[]]},{"id":"5f055980.75f238","type":"ui_text_input","z":"514f73fb.138a2c","name":"","label":"","tooltip":"","group":"fc61da67.3a52d8","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":90,"y":820,"wires":[["dc511c66.d3723","b355ce53.7966d"]]},{"id":"dc511c66.d3723","type":"ui_button","z":"514f73fb.138a2c","name":"","group":"fc61da67.3a52d8","order":2,"width":0,"height":0,"passthru":false,"label":"UYGULA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"number","payloadType":"global","topic":"","x":140,"y":780,"wires":[["549bc119.f15ba"]]},{"id":"b355ce53.7966d","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"number\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":880,"wires":[[]]},{"id":"703982f5.b4742c","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",16);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1380,"wires":[[]]},{"id":"d219eb1.91d3818","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",18);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1420,"wires":[[]]},{"id":"8810cfea.89c97","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",20);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1460,"wires":[[]]},{"id":"528fa5b0.2adcec","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",22);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1500,"wires":[[]]},{"id":"1d4bca7e.8f56d6","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",24);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1540,"wires":[[]]},{"id":"e5bfd313.e6405","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",26);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1580,"wires":[[]]},{"id":"5a2fc546.5d110c","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",28);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1620,"wires":[[]]},{"id":"80a3370.2ceb8c8","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",30);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1660,"wires":[[]]},{"id":"2d314f41.22256","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"PS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":1720,"wires":[["f8515733.c98178"]]},{"id":"f8515733.c98178","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":5,"width":"4","height":"4","gtype":"gage","title":"PS","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1610,"y":1720,"wires":[]},{"id":"2099ef81.7bc8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"sensor","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1500,"wires":[["4c4d7fec.44699"]]},{"id":"b9a85732.36e718","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"T3K","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":900,"wires":[["5bb1e33d.6916ac"]]},{"id":"15275227.f1c61e","type":"function","z":"514f73fb.138a2c","name":"T3 < 100","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif (t3 < 100 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"T3K\",false)\n    return msg;\n}\n\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1500,"y":900,"wires":[[]]},{"id":"ae869135.adad9","type":"function","z":"514f73fb.138a2c","name":"P1 < 10","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif (t3 < 100 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"P1K\",false)\n    return msg;\n}\n\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1500,"y":1060,"wires":[[]]},{"id":"853cb852.c86c18","type":"function","z":"514f73fb.138a2c","name":"P2 < 25","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif (t3 < 100 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"P2K\",false)\n    return msg;\n}\n\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1500,"y":1120,"wires":[[]]},{"id":"35a23d73.017102","type":"switch","z":"514f73fb.138a2c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1200,"wires":[["1bf053e0.08384c"]]},{"id":"8942be89.cda22","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"P1K","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":1060,"wires":[["c0d72c84.43eb"]]},{"id":"dd821ad.e64bae8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"P2K","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":1120,"wires":[["905d6c16.e77ee"]]},{"id":"5bb1e33d.6916ac","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":900,"wires":[["15275227.f1c61e"]]},{"id":"c0d72c84.43eb","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1060,"wires":[["ae869135.adad9"]]},{"id":"905d6c16.e77ee","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1120,"wires":[["853cb852.c86c18"]]},{"id":"7fc1ef21.aa23c","type":"function","z":"514f73fb.138a2c","name":"T3<100 & P1<10 & P2<25","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif ( t3 < 100 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    return msg;\n}\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1330,"y":780,"wires":[[]]},{"id":"24c2d62e.558dba","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2040,"wires":[["480f3c11.79ed64"]]},{"id":"480f3c11.79ed64","type":"function","z":"514f73fb.138a2c","name":"sensor","func":"global.set(\"sensor\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":2040,"wires":[[]]},{"id":"4c4d7fec.44699","type":"switch","z":"514f73fb.138a2c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1500,"wires":[["1c1c2d5c.a94873"]]},{"id":"477a4864.329948","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["6d56c463.ede01c"]]},{"id":"44087167.3655b","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"92","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":580,"wires":[["6d56c463.ede01c"]]},{"id":"b754b3e.bc6575","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["6d56c463.ede01c"]]},{"id":"97d329ca.fd1f68","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["6d56c463.ede01c"]]},{"id":"8e7185a9.f068e8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["b56f92fb.e2022"]]},{"id":"5757f957.ab7828","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"35","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":720,"wires":[["b56f92fb.e2022"]]},{"id":"82b66132.dbc56","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":980,"wires":[["95485d74.6d2e9"]]},{"id":"95485d74.6d2e9","type":"function","z":"514f73fb.138a2c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":980,"wires":[["6a0302cd.6a7f9c"]]},{"id":"44e038.33342fc8","type":"ui_group","z":"","name":"Röle Durumları","tab":"81618b12.014c48","order":2,"disp":true,"width":"5","collapse":false},{"id":"f774590.49e75a8","type":"ui_group","z":"","name":"Sensör Verileri","tab":"81618b12.014c48","order":1,"disp":true,"width":"28","collapse":false},{"id":"fc61da67.3a52d8","type":"ui_group","z":"","name":"İnput Girişi","tab":"81618b12.014c48","order":3,"disp":true,"width":"6","collapse":false},{"id":"81618b12.014c48","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]