10092019_algoritma_2.txt
[{"id":"514f73fb.138a2c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9052e154.6656","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3f0daf.5cc86252","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4e271c6c.adde54","type":"subflow","name":"Process Simulation","info":"","in":[{"x":37,"y":103,"wires":[{"id":"49bd57fd.9244f8"}]}],"out":[{"x":728.5,"y":294,"wires":[{"id":"d0dab25.cd8eb5","port":0}]}]},{"id":"61600e83.0ab6c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"81618b12.014c48","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"44e038.33342fc8","type":"ui_group","z":"","name":"Röle Durumları","tab":"81618b12.014c48","order":2,"disp":true,"width":"5","collapse":false},{"id":"f774590.49e75a8","type":"ui_group","z":"","name":"Sensör Verileri","tab":"81618b12.014c48","order":1,"disp":true,"width":"28","collapse":false},{"id":"226eb785.7c3148","type":"ui_group","z":"","name":"Default","tab":"","disp":false,"width":"10","collapse":false},{"id":"d2565c3a.e9fff","type":"ui_group","z":"","name":"PID","tab":"","disp":true,"width":"27","collapse":false},{"id":"ee96b9e6.24f858","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM4","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"33144737.0cb138","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"2ea9f7a7.bc93f8","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"ed4aede2.015c5","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"cb658811.4281a8","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"6182128f.f9469c","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"21ee2716.f1e398","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"59157433.99adac","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"c5241b7b.f9c448","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"59c06f8c.88dd6","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"c78b28b7.169918","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"4e0b3ba1.325bd4","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"ba04a067.4feaa","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"cf9bca77.58bb68","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"34aa8e83.371242","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"4638057a.cc402c","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"5ac7f851.4fcde8","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"336aaa5f.f74786","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"edf8d508.bd6ed8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"42d16939.4420c8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"b0ce149.3f090e8","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"78ac6463.6ae58c","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"c9d33c90.ee137","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"d151a8fe.31f378","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"a2b3a26.491936","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"9f1c1a6.0c8bbe8","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"b9000575.fcfe28","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"8ca57c79.1d1c7","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"6ec4acb7.54d9e4","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a0992286.506da","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"4","collapse":false},{"id":"d5a54c38.1ba4b","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"4","collapse":false},{"id":"a3f55dad.ee1e","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"ebc4cb3b.3dfe78","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"39042ee3.323472","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"745c994d.c3cf58","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"4","collapse":false},{"id":"41588c18.bee174","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"84326762.e89ed8","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"514a4b28.f03b34","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"6cf4dd73.ac4244","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"eab6edae.26137","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"3c636175.05c1fe","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"288753fd.7ce12c","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"30fe8849.0462e8","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"8442d202.23e5f","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"46c93e6f.041a8","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"846c196.92528e8","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"6854524e.4ec18c","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"e299dd05.3463b","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"934dc033.6cc68","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"e1ad9721.11b818","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"263cb2aa.937d2e","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"d0fa6c2f.055a5","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"960aeac2.029338","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"dbe6b13a.50426","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"61137e5a.9cf34","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"81242a78.224cb8","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"77785f2f.277e1","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"cba11c7c.2e83","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"ba6956f.f36a2a8","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"a596a4cb.7d0508","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"e4c91296.0e1ef","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"e61fff4e.9ab3","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"41672c88.2218e4","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"26825504.cf286a","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"78bd4fa4.56f7f","type":"ui_group","z":"","name":"Buton","tab":"","order":2,"disp":true,"width":"10","collapse":false},{"id":"2ba54db1.fcc912","type":"ui_group","z":"","name":"Buton-3","tab":"","order":1,"disp":false,"width":"10","collapse":false},{"id":"9180ab4.f72a358","type":"ui_group","z":"","name":"Buton-4","tab":"","order":2,"disp":false,"width":"10","collapse":false},{"id":"946a576e.199808","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"f4e0a8d3.309678","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"853cd1cb.e6ff4","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"afbb0bbd.1ed9c8","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"d8ca3de4.c31bb","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"d6068743.190e98","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"2dde819.1fcde7e","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"8d6d6ab3.df7198","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"b6c3c673.2f4278","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"fe65ab8b.97cfb8","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"4a790006.741a2","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"b4a62601.c108f8","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"f5c99216.37cd1","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"f3131d65.0600d","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"ff4925f3.280a78","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"a73c9b57.260f08","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"6a346065.19b14","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":3,"disp":true,"width":"10","collapse":false},{"id":"8c9d163c.db8008","type":"ui_group","z":"","name":"Basınç","tab":"","order":4,"disp":true,"width":"10","collapse":false},{"id":"fc61da67.3a52d8","type":"ui_group","z":"","name":"İnput Girişi","tab":"81618b12.014c48","order":3,"disp":true,"width":"6","collapse":false},{"id":"e08b4729.2aefe8","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":1,"disp":true,"width":"11","collapse":false},{"id":"e12e19cc.11ccb8","type":"ui_group","z":"","name":"Otomatik Panel","tab":"","order":2,"disp":true,"width":"11","collapse":false},{"id":"e04bdfc3.fcb7b","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"b790616e.33bf7","type":"ui_group","z":"","name":"Auto Butonu","tab":"","order":3,"disp":true,"width":"22","collapse":false},{"id":"276fa4e2.40f36c","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"11","collapse":false},{"id":"6cdd0bc4.2ea6d4","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"11","collapse":false},{"id":"4f63c48b.c7319c","type":"ui_group","z":"","name":"Buton-1","tab":"","order":3,"disp":false,"width":"11","collapse":false},{"id":"f084c5a.5e1d638","type":"ui_group","z":"","name":"Buton-2","tab":"","order":4,"disp":false,"width":"11","collapse":false},{"id":"4f4cc01e.ff853","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"11","collapse":false},{"id":"bd9693fb.e6e88","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"11","collapse":false},{"id":"d6768649.82e348","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"11","collapse":false},{"id":"6b3abe02.4a022","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"11","collapse":false},{"id":"e96abea8.6445f","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"7","collapse":false},{"id":"d006fea4.dd773","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"7","collapse":false},{"id":"ec1e07aa.f89838","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"7","collapse":false},{"id":"e010cdb8.30443","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"7","collapse":false},{"id":"a11f6f5a.82277","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"7","collapse":false},{"id":"df86b53d.32e828","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"7","collapse":false},{"id":"2491a0b4.ebf9b","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":false,"width":"11","collapse":false},{"id":"eb84ac21.3c03a","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":false,"width":"11","collapse":false},{"id":"f282767b.3bb838","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":false,"width":"11","collapse":false},{"id":"e62f82f.b9fa98","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":false,"width":"11","collapse":false},{"id":"67759537.c3548c","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"cf06c336.16b32","type":"ui_group","z":"","name":"Buton","tab":"d3f821e2.7294b","order":3,"disp":false,"width":"6","collapse":false},{"id":"5ea3451a.667c4c","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"7a08f2d.02e2f0c","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"4dd1142a.58141c","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"73e52473.b54f8c","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"3bdf740c.9ad72c","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"de1f812c.6dcb","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c66a5d4.3fdd9a","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"4","collapse":false},{"id":"ca3b7e30.ba2c6","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"4","collapse":false},{"id":"405c390c.c2a7a8","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"f6d1b0f9.76941","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"b299f408.75b308","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"7214726d.4614ac","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"4","collapse":false},{"id":"2c4015da.6fa7aa","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"723cc859.5ec4c8","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6862b06c.d422e","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a42c217d.407cd","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"14eacb35.fab045","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"dd139bfe.976818","type":"ui_group","z":"","name":"Sürücü","tab":"d3f821e2.7294b","order":1,"disp":false,"width":"6","collapse":false},{"id":"49717701.c71488","type":"ui_group","z":"","name":"Sıcaklık","tab":"d3f821e2.7294b","order":4,"disp":true,"width":"6","collapse":false},{"id":"6baa0200.25a44","type":"ui_group","z":"","name":"Basınç","tab":"d3f821e2.7294b","order":5,"disp":true,"width":"6","collapse":false},{"id":"d3f821e2.7294b","type":"ui_tab","z":"","name":"Kontrol Paneli","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"decd994e.cd8808","type":"debug","z":"514f73fb.138a2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1200,"wires":[]},{"id":"1a660e6e.0aaf82","type":"switch","z":"514f73fb.138a2c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1180,"wires":[["cfec4ebd.a4acb"]]},{"id":"ee363921.ef6298","type":"switch","z":"514f73fb.138a2c","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1220,"wires":[["cfec4ebd.a4acb"]]},{"id":"9346f2e9.03741","type":"function","z":"514f73fb.138a2c","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[[]]},{"id":"895300c4.babcb","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["9346f2e9.03741"]]},{"id":"f138c048.7eb16","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["6d56c463.ede01c"]]},{"id":"e8f63721.52a108","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"62","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["6d56c463.ede01c"]]},{"id":"68ae2ee3.58fc7","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"67","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["6d56c463.ede01c"]]},{"id":"6d56c463.ede01c","type":"function","z":"514f73fb.138a2c","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[[]]},{"id":"b56f92fb.e2022","type":"function","z":"514f73fb.138a2c","name":"P1","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":700,"wires":[[]]},{"id":"549bc119.f15ba","type":"function","z":"514f73fb.138a2c","name":"P2","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":780,"wires":[[]]},{"id":"75683471.92ce1c","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"start","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["bbeca7ef.b257a8"]]},{"id":"2d6680b5.37ece","type":"function","z":"514f73fb.138a2c","name":"T1 > 70   -   R1-ON","func":"var data    =   global.get(\"T1\")\nif (data > 70) {\n    global.set(\"R1\",false)\n    msg.payload = true\n    global.set(\"start\",false)\n    return msg;\n}\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["f696469f.05b9c8"]]},{"id":"f696469f.05b9c8","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":60,"wires":[["b12a43d.875bac"]]},{"id":"7e605bf6.9d1a64","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["9346f2e9.03741"]]},{"id":"100411f3.8a343e","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":1960,"wires":[["7be5f0dd.8c3f2"]]},{"id":"7be5f0dd.8c3f2","type":"function","z":"514f73fb.138a2c","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":1960,"wires":[[]]},{"id":"6d918967.7ffb98","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2000,"wires":[["67793af6.86dcc4"]]},{"id":"67793af6.86dcc4","type":"function","z":"514f73fb.138a2c","name":"driver - driverf - driverg","func":"global.set(\"driver\",0)\nglobal.set(\"driverf\",false)\nglobal.set(\"driverg\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":2000,"wires":[[]]},{"id":"7b7d51a7.e874b","type":"rpi-gpio out","z":"514f73fb.138a2c","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":930,"y":1740,"wires":[]},{"id":"cec5714.238029","type":"rpi-gpio out","z":"514f73fb.138a2c","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":930,"y":1840,"wires":[]},{"id":"94721772.b6efe8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":1800,"wires":[["7b7d51a7.e874b","95593e43.aed09"]]},{"id":"8292a50e.e5a528","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":1900,"wires":[["cec5714.238029","6f6bb387.b16a4c"]]},{"id":"b12a43d.875bac","type":"function","z":"514f73fb.138a2c","name":"set driver  \"5\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",5)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":730,"y":60,"wires":[["bf9935c2.fa5708"]]},{"id":"bf9935c2.fa5708","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":60,"wires":[["468802e9.f91b7c"]]},{"id":"468802e9.f91b7c","type":"function","z":"514f73fb.138a2c","name":"R2-ON","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1010,"y":60,"wires":[["88cfedb4.b15b3"]]},{"id":"88cfedb4.b15b3","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":60,"wires":[["94c7fb3c.307dc8"]]},{"id":"94c7fb3c.307dc8","type":"function","z":"514f73fb.138a2c","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1280,"y":60,"wires":[[]]},{"id":"95593e43.aed09","type":"function","z":"514f73fb.138a2c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":910,"y":1800,"wires":[["3b0438b0.b80d98"]]},{"id":"6f6bb387.b16a4c","type":"function","z":"514f73fb.138a2c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":910,"y":1900,"wires":[["931c036a.f770d"]]},{"id":"3b0438b0.b80d98","type":"ui_text","z":"514f73fb.138a2c","group":"44e038.33342fc8","order":1,"width":"5","height":"1","name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":1800,"wires":[]},{"id":"931c036a.f770d","type":"ui_text","z":"514f73fb.138a2c","group":"44e038.33342fc8","order":2,"width":"5","height":"1","name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":1900,"wires":[]},{"id":"5201384a.2467f8","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":1,"width":"4","height":"4","gtype":"gage","title":"T1","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":1960,"wires":[]},{"id":"8ab1c3b5.edec2","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":2,"width":"4","height":"4","gtype":"gage","title":"T3","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":2000,"wires":[]},{"id":"7aa7183f.2e7fb8","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":3,"width":"4","height":"4","gtype":"gage","title":"P1","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":2040,"wires":[]},{"id":"b52cba8a.bf0568","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":4,"width":"4","height":"4","gtype":"gage","title":"P2","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":2080,"wires":[]},{"id":"8fc59281.c6bc","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":1960,"wires":[["5201384a.2467f8"]]},{"id":"7f581d16.409c14","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":2000,"wires":[["8ab1c3b5.edec2"]]},{"id":"54ceaa77.1cb004","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":2040,"wires":[["7aa7183f.2e7fb8"]]},{"id":"e9fcf15b.4e90a","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":2080,"wires":[["b52cba8a.bf0568"]]},{"id":"caaec8d5.7522a8","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":6,"width":"4","height":"4","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":2120,"wires":[]},{"id":"6d1ff39f.da3c7c","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":2120,"wires":[["caaec8d5.7522a8"]]},{"id":"cbd5b69e.882438","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2200,"wires":[["24bd51e2.4d250e"]]},{"id":"24bd51e2.4d250e","type":"function","z":"514f73fb.138a2c","name":"set \"0\" (T1 - T3 - P1 - P2 - P2S - PS )","func":"global.set(\"T1\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":2200,"wires":[[]]},{"id":"19a15eb7.ad7fa1","type":"switch","z":"514f73fb.138a2c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"55","v2t":"num"},{"t":"btwn","v":"56","vt":"num","v2":"60","v2t":"num"},{"t":"btwn","v":"61","vt":"num","v2":"65","v2t":"num"},{"t":"btwn","v":"66","vt":"num","v2":"70","v2t":"num"},{"t":"btwn","v":"71","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"81","vt":"num","v2":"85","v2t":"num"},{"t":"btwn","v":"86","vt":"num","v2":"90","v2t":"num"},{"t":"btwn","v":"91","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":1110,"y":440,"wires":[["fdfd13ed.cefc6"],["d570aa06.0b8c98"],["bbd7a7ef.4f5ff8"],["e811e5ca.126be8"],["74065048.5d7c1"],["a2fb287e.36ac98"],["de6bc0eb.19198"],["3f8c0c45.1ce594"],["1d293b86.d7ba24"]]},{"id":"6a0302cd.6a7f9c","type":"debug","z":"514f73fb.138a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":980,"wires":[]},{"id":"bbd7a7ef.4f5ff8","type":"function","z":"514f73fb.138a2c","name":"set \"18\" bar","func":"global.set(\"P2S\",18);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":360,"wires":[[]]},{"id":"b0203715.9a2ae8","type":"debug","z":"514f73fb.138a2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":940,"wires":[]},{"id":"e811e5ca.126be8","type":"function","z":"514f73fb.138a2c","name":"set \"20\" bar","func":"global.set(\"P2S\",20);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":400,"wires":[[]]},{"id":"74065048.5d7c1","type":"function","z":"514f73fb.138a2c","name":"set \"22\" bar","func":"global.set(\"P2S\",22);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":440,"wires":[[]]},{"id":"de6bc0eb.19198","type":"function","z":"514f73fb.138a2c","name":"set \"26\" bar","func":"global.set(\"P2S\",26);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":520,"wires":[[]]},{"id":"d570aa06.0b8c98","type":"function","z":"514f73fb.138a2c","name":"set \"16\" bar","func":"global.set(\"P2S\",16);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":320,"wires":[[]]},{"id":"fdfd13ed.cefc6","type":"function","z":"514f73fb.138a2c","name":"set \"14\" bar","func":"global.set(\"P2S\",14);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":280,"wires":[[]]},{"id":"3f8c0c45.1ce594","type":"function","z":"514f73fb.138a2c","name":"set \"28\" bar","func":"global.set(\"P2S\",28);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":560,"wires":[[]]},{"id":"1d293b86.d7ba24","type":"function","z":"514f73fb.138a2c","name":"set \"30\" bar","func":"global.set(\"P2S\",30);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":600,"wires":[[]]},{"id":"a2fb287e.36ac98","type":"function","z":"514f73fb.138a2c","name":"set \"24\" bar","func":"global.set(\"P2S\",24);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":480,"wires":[[]]},{"id":"c716d886.ff2038","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["6d56c463.ede01c"]]},{"id":"df128e8a.4a7e4","type":"function","z":"514f73fb.138a2c","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":900,"wires":[["c40f5c84.e0083"]]},{"id":"c40f5c84.e0083","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":900,"wires":[["ff65046.771ddf8"]]},{"id":"ff65046.771ddf8","type":"function","z":"514f73fb.138a2c","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"T3K\",true);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":900,"wires":[[]]},{"id":"1bf053e0.08384c","type":"function","z":"514f73fb.138a2c","name":"driver up down","func":"var p2s = global.get(\"P2S\");\nvar ps   = global.get(\"PS\");\n\nif (p2s > ps) {\n    msg.payload = true;\n    return msg;\n\n    \n}\nelse if (p2s < ps) {\n    msg.payload = false;\n    return msg;\n}\nelse if (p2s == ps) {\n    global.set(\"driverf\",false)\n    global.set(\"sensor\",false)\n    global.set(\"temp1\",true)\n}\n\n\n","outputs":1,"noerr":0,"x":420,"y":1200,"wires":[["1a660e6e.0aaf82","ee363921.ef6298"]]},{"id":"baf9c0ed.e8c2","type":"function","z":"514f73fb.138a2c","name":"driver","func":"global.set(\"driver\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":820,"wires":[[]]},{"id":"748e12a8.b6b3ac","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"82","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":500,"wires":[[]]},{"id":"157c915f.45c9df","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["6d56c463.ede01c"]]},{"id":"557817fb.cfcf28","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"driverf","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1200,"wires":[["35a23d73.017102"]]},{"id":"74bb9091.cd065","type":"function","z":"514f73fb.138a2c","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":440,"wires":[["19a15eb7.ad7fa1"]]},{"id":"18b15332.dbd92d","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":440,"wires":[["74bb9091.cd065"]]},{"id":"7080782d.3747c8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"temp1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":440,"wires":[["18b15332.dbd92d"]]},{"id":"38fbd6b4.4c09ba","type":"function","z":"4e271c6c.adde54","name":"30 sec RC + 20","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;","outputs":1,"noerr":0,"x":626.5,"y":207,"wires":[["d0dab25.cd8eb5"]]},{"id":"9f3aa229.bcd8b","type":"inject","z":"4e271c6c.adde54","name":"Inject -0.2 at start","topic":"","payload":"-0.2","payloadType":"num","repeat":"","crontab":"","once":true,"x":134.5,"y":30,"wires":[["49bd57fd.9244f8"]]},{"id":"28e9af1f.2826d","type":"function","z":"4e271c6c.adde54","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":207,"wires":[["38fbd6b4.4c09ba"]]},{"id":"49bd57fd.9244f8","type":"delay","z":"4e271c6c.adde54","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":268,"y":104,"wires":[["28bd9de7.b28ee2"]]},{"id":"d6ddfd6f.3b8c6","type":"function","z":"4e271c6c.adde54","name":"2 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"x":258,"y":208,"wires":[["28e9af1f.2826d"]]},{"id":"d0dab25.cd8eb5","type":"function","z":"4e271c6c.adde54","name":"Clear all except payload","func":"msg2 = {payload: msg.payload};\nreturn msg2;","outputs":1,"noerr":0,"x":545,"y":293,"wires":[[]]},{"id":"28bd9de7.b28ee2","type":"range","z":"4e271c6c.adde54","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":87,"y":208,"wires":[["d6ddfd6f.3b8c6"]]},{"id":"d33f2e6c.9e794","type":"inject","z":"3f0daf.5cc86252","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":380,"wires":[["36b7b7bf.4dabd8"]]},{"id":"36b7b7bf.4dabd8","type":"function","z":"3f0daf.5cc86252","name":"","func":"msg.payload = {\n  \"deviceId\": \"8034c431-17ff-4899-8d4d-a348e63145a0\",\n  \"key\": \"0fCAmcKslIhOOaAmqH+ncJUcmQZjibU5Dwg5iUX+jag=\",\n  \"data\": {\n      \"A1_c1\": Math.random() * 70\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":380,"wires":[["8e0536d7.8db658"]]},{"id":"8e0536d7.8db658","type":"azureiothub","z":"3f0daf.5cc86252","name":"Azure IoT Hub","protocol":"mqtt","x":1060,"y":380,"wires":[["31e8d313.82332c"]]},{"id":"31e8d313.82332c","type":"debug","z":"3f0daf.5cc86252","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":360,"wires":[]},{"id":"60df25d8.7fe1cc","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2040,"wires":[["a79486b9.e86ed8"]]},{"id":"a79486b9.e86ed8","type":"function","z":"514f73fb.138a2c","name":"start","func":"global.set(\"start\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":2040,"wires":[[]]},{"id":"bbeca7ef.b257a8","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":60,"wires":[["2d6680b5.37ece"]]},{"id":"3afae910.eed506","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2080,"wires":[["2f1d6bc7.b4e814"]]},{"id":"2f1d6bc7.b4e814","type":"function","z":"514f73fb.138a2c","name":"temp1 - temp2 - temp3","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":2080,"wires":[[]]},{"id":"1c5eedd8.7552a2","type":"function","z":"514f73fb.138a2c","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":920,"wires":[["483d6e77.1c9e"]]},{"id":"483d6e77.1c9e","type":"switch","z":"514f73fb.138a2c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"100","vt":"num"},{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":920,"wires":[["df128e8a.4a7e4"],["b0203715.9a2ae8"]]},{"id":"6e6d4ff2.71705","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":920,"wires":[["74a17d43.2816e4"]]},{"id":"fa9bb3d2.4fe95","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"77","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["6d56c463.ede01c"]]},{"id":"74a17d43.2816e4","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":920,"wires":[["1c5eedd8.7552a2"]]},{"id":"87ef33e3.c81f6","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"P2S","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":2160,"wires":[["d18fde48.6db1f"]]},{"id":"d18fde48.6db1f","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":5,"width":"4","height":"4","gtype":"gage","title":"P2S","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":2160,"wires":[]},{"id":"38ce5f0e.b0dd8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2120,"wires":[["e684a79c.32cca8"]]},{"id":"e684a79c.32cca8","type":"function","z":"514f73fb.138a2c","name":"pres1 - pres2","func":"global.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":2120,"wires":[[]]},{"id":"3f008c81.eb27e4","type":"function","z":"514f73fb.138a2c","name":"msg.payload = P1","func":"var data    =   global.get(\"P1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1060,"wires":[["c9833c6e.e8e99"]]},{"id":"3431f45c.50483c","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"pres1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1060,"wires":[["9b487921.56c058"]]},{"id":"9b487921.56c058","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1060,"wires":[["3f008c81.eb27e4"]]},{"id":"ca0d0899.bd0938","type":"function","z":"514f73fb.138a2c","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1120,"wires":[["7047a08e.e0f7b"]]},{"id":"dad094b2.14aec8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"pres2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1120,"wires":[["2b28ee78.bfcb12"]]},{"id":"2b28ee78.bfcb12","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1120,"wires":[["ca0d0899.bd0938"]]},{"id":"9ea8f8ee.d900f8","type":"function","z":"514f73fb.138a2c","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1060,"wires":[["ea8b3aa0.efabb8"]]},{"id":"ea8b3aa0.efabb8","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":1060,"wires":[["93b389cf.8d2fc8"]]},{"id":"93b389cf.8d2fc8","type":"function","z":"514f73fb.138a2c","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"P1K\",true);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1060,"wires":[[]]},{"id":"8c1c21ea.bd405","type":"function","z":"514f73fb.138a2c","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1120,"wires":[["159bc815.5343b8"]]},{"id":"159bc815.5343b8","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":1120,"wires":[["6a50d3e8.449cdc"]]},{"id":"6a50d3e8.449cdc","type":"function","z":"514f73fb.138a2c","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"P2K\",true);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1120,"wires":[[]]},{"id":"c9833c6e.e8e99","type":"switch","z":"514f73fb.138a2c","name":"P1 > 20","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":1060,"wires":[["9ea8f8ee.d900f8"]]},{"id":"7047a08e.e0f7b","type":"switch","z":"514f73fb.138a2c","name":"P2 > 30","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":1120,"wires":[["8c1c21ea.bd405"]]},{"id":"34ef734.9b8d98c","type":"debug","z":"514f73fb.138a2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1280,"wires":[]},{"id":"81168e86.935bc","type":"function","z":"514f73fb.138a2c","name":"get driver","func":"msg.payload = global.get(\"driver\")\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1280,"wires":[["34ef734.9b8d98c"]]},{"id":"be9c9079.cab4f","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"driverg","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1280,"wires":[["3772dcc.2a4ac24"]]},{"id":"3772dcc.2a4ac24","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1280,"wires":[["81168e86.935bc"]]},{"id":"d088af18.2d84f","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"temp3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":980,"wires":[["bbb08c9e.25f37"]]},{"id":"bbb08c9e.25f37","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":980,"wires":[["5d479a1b.1cb134"]]},{"id":"5d479a1b.1cb134","type":"function","z":"514f73fb.138a2c","name":"T3 < 50","func":"var data = global.get(\"T3\")\nif (data > 50) {\n    msg.payload = true\n    return msg;\n}\nelse if (data < 50) {\n    msg.payload = false\n    global.set(\"driver\",5)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":400,"y":980,"wires":[["82b66132.dbc56"]]},{"id":"b64532a6.ad416","type":"switch","z":"514f73fb.138a2c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"13.5","vt":"num","v2":"14.5","v2t":"num"},{"t":"btwn","v":"15.5","vt":"num","v2":"16.5","v2t":"num"},{"t":"btwn","v":"17.5","vt":"num","v2":"18.5","v2t":"num"},{"t":"btwn","v":"19.5","vt":"num","v2":"20.5","v2t":"num"},{"t":"btwn","v":"21.5","vt":"num","v2":"22.5","v2t":"num"},{"t":"btwn","v":"23.5","vt":"num","v2":"24.5","v2t":"num"},{"t":"btwn","v":"25.5","vt":"num","v2":"26.5","v2t":"num"},{"t":"btwn","v":"27.5","vt":"num","v2":"28.5","v2t":"num"},{"t":"btwn","v":"29.5","vt":"num","v2":"30.5","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":590,"y":1500,"wires":[["4146cfbb.ae545"],["703982f5.b4742c"],["d219eb1.91d3818"],["8810cfea.89c97"],["528fa5b0.2adcec"],["1d4bca7e.8f56d6"],["e5bfd313.e6405"],["5a2fc546.5d110c"],["80a3370.2ceb8c8"]]},{"id":"1c1c2d5c.a94873","type":"function","z":"514f73fb.138a2c","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1500,"wires":[["b64532a6.ad416"]]},{"id":"643dbc66.bf6434","type":"debug","z":"514f73fb.138a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":1740,"wires":[]},{"id":"2ce6e5b5.1b430a","type":"debug","z":"514f73fb.138a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":1780,"wires":[]},{"id":"4146cfbb.ae545","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",14);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1340,"wires":[[]]},{"id":"5f055980.75f238","type":"ui_text_input","z":"514f73fb.138a2c","name":"","label":"","tooltip":"","group":"fc61da67.3a52d8","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":90,"y":820,"wires":[["dc511c66.d3723","b355ce53.7966d"]]},{"id":"dc511c66.d3723","type":"ui_button","z":"514f73fb.138a2c","name":"","group":"fc61da67.3a52d8","order":2,"width":0,"height":0,"passthru":false,"label":"UYGULA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"number","payloadType":"global","topic":"","x":140,"y":780,"wires":[["549bc119.f15ba"]]},{"id":"b355ce53.7966d","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"number\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":880,"wires":[[]]},{"id":"703982f5.b4742c","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",16);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1380,"wires":[[]]},{"id":"d219eb1.91d3818","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",18);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1420,"wires":[[]]},{"id":"8810cfea.89c97","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",20);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1460,"wires":[[]]},{"id":"528fa5b0.2adcec","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",22);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1500,"wires":[[]]},{"id":"1d4bca7e.8f56d6","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",24);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1540,"wires":[[]]},{"id":"e5bfd313.e6405","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",26);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1580,"wires":[[]]},{"id":"5a2fc546.5d110c","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",28);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1620,"wires":[[]]},{"id":"80a3370.2ceb8c8","type":"function","z":"514f73fb.138a2c","name":"","func":"global.set(\"PS\",30);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1660,"wires":[[]]},{"id":"2d314f41.22256","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"PS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":2200,"wires":[["f8515733.c98178"]]},{"id":"f8515733.c98178","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":5,"width":"4","height":"4","gtype":"gage","title":"PS","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":2200,"wires":[]},{"id":"2099ef81.7bc8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"sensor","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1500,"wires":[["4c4d7fec.44699"]]},{"id":"b9a85732.36e718","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"T3K","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":900,"wires":[["5bb1e33d.6916ac"]]},{"id":"35a23d73.017102","type":"switch","z":"514f73fb.138a2c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1200,"wires":[["1bf053e0.08384c"]]},{"id":"8942be89.cda22","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"P1K","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":1060,"wires":[["c0d72c84.43eb"]]},{"id":"dd821ad.e64bae8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"P2K","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":1120,"wires":[["905d6c16.e77ee"]]},{"id":"5bb1e33d.6916ac","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":900,"wires":[["7fc1ef21.aa23c"]]},{"id":"c0d72c84.43eb","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1060,"wires":[["7fc1ef21.aa23c"]]},{"id":"905d6c16.e77ee","type":"switch","z":"514f73fb.138a2c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1120,"wires":[["7fc1ef21.aa23c"]]},{"id":"7fc1ef21.aa23c","type":"function","z":"514f73fb.138a2c","name":"T3<100 & P1<10 & P2<25","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif ( t3 < 100 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"T3K\",false)\n    global.set(\"P1K\",false)\n    global.set(\"P2K\",false)\n    return msg;\n}\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1570,"y":1000,"wires":[[]]},{"id":"24c2d62e.558dba","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2160,"wires":[["480f3c11.79ed64"]]},{"id":"480f3c11.79ed64","type":"function","z":"514f73fb.138a2c","name":"sensor","func":"global.set(\"sensor\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":2160,"wires":[[]]},{"id":"4c4d7fec.44699","type":"switch","z":"514f73fb.138a2c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1500,"wires":[["1c1c2d5c.a94873"]]},{"id":"477a4864.329948","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["6d56c463.ede01c"]]},{"id":"44087167.3655b","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"92","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":580,"wires":[["6d56c463.ede01c"]]},{"id":"b754b3e.bc6575","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["6d56c463.ede01c"]]},{"id":"97d329ca.fd1f68","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["6d56c463.ede01c"]]},{"id":"8e7185a9.f068e8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["b56f92fb.e2022"]]},{"id":"5757f957.ab7828","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"35","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":720,"wires":[["b56f92fb.e2022"]]},{"id":"82b66132.dbc56","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":980,"wires":[["95485d74.6d2e9"]]},{"id":"b9b14fac.7fa03","type":"function","z":"3f0daf.5cc86252","name":"","func":"var temp = global.get(\"T3\")\nvar bar  = global.get(\"P2\")\n\nfunction DecideTargetPressure( temp, bar ) {\n    var output = 0;\n    var abort = false;\n    var direction;\n\n    switch( true ) {\n        case temp < 50:\n                abort = true;\n        break;\n        case temp >= 50 && temp <= 55:\n            output = 14;\n        break;\n        case temp >= 55 && temp <= 60:\n            output = 16;\n        break;\n        case temp >= 60 && temp <= 65:\n            output = 18;\n        break;\n        case temp >= 65 && temp <= 70:\n            output = 20;\n        break;\n        case temp >= 70 && temp <= 75:\n            output = 22;\n        break;\n        case temp >= 75 && temp <= 80:\n            output = 24;\n        break;\n        case temp >= 80 && temp <= 85:\n            output = 26;\n        break;\n        case temp >= 85 && temp <= 90:\n            output = 28;\n        break;\n        case temp >= 90 && temp <= 95:\n            output = 30;\n        break;\n        case temp > 95:\n            abort = true;\n        break;\n    \n    }\n\n\n    // Decide Bar will Up or Down\n\n    if ( output < bar ) {\n        direction = 'up'\n    } else {\n        direction = 'down'\n    }\n    return {\n        output,\n        abort,\n        direction\n    }\n}\n\nconsole.log ( DecideTargetPressure( 96 ) )","outputs":1,"noerr":0,"x":690,"y":540,"wires":[[]]},{"id":"dd82a406.651868","type":"inject","z":"3f0daf.5cc86252","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":600,"wires":[["c461f58f.bc5038"]]},{"id":"de230974.437ed8","type":"debug","z":"3f0daf.5cc86252","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":680,"wires":[]},{"id":"c461f58f.bc5038","type":"function","z":"3f0daf.5cc86252","name":"","func":"var temp = global.get(\"T3\")\nvar pres = global.get(\"P2\")\n\nswitch (temp) {\n    case temp < 50 :\n        msg.payload = true\n        global.set(\"driver\",14)\n        return msg\n        break\n    \n    case temp > 50 :\n        msg.payload = false\n        global.set(\"driver\",16)\n        return msg\n        break\n    \n}\n    \n","outputs":1,"noerr":0,"x":690,"y":600,"wires":[[]]},{"id":"3a5cfc41.01be54","type":"function","z":"3f0daf.5cc86252","name":"","func":"switch (msg.payload) {\ncase \"one\":\n  msg.payload = 'option one';\n  global.set(\"drive\",14)\n  return [msg,null,null,null];\n\ncase \"two\":\n  msg.payload = 'option two';\n  return [null,msg,null,null];\n\ncase \"three\":\n  msg.payload = 'option three';\n  return [null,null,msg,null];\n\ndefault:\n  msg.payload = 'other values';\n  return [null,null,null,msg];\n}","outputs":4,"noerr":0,"x":690,"y":680,"wires":[["de230974.437ed8"],["de230974.437ed8"],["de230974.437ed8"],["de230974.437ed8"]]},{"id":"ff498a02.eab028","type":"inject","z":"3f0daf.5cc86252","name":"","topic":"","payload":"one","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":660,"wires":[["3a5cfc41.01be54"]]},{"id":"54006922.d6fb38","type":"inject","z":"3f0daf.5cc86252","name":"","topic":"","payload":"two","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":700,"wires":[["3a5cfc41.01be54"]]},{"id":"d6821efb.c0ceb","type":"comment","z":"3f0daf.5cc86252","name":"switch case","info":"","x":570,"y":480,"wires":[]},{"id":"95485d74.6d2e9","type":"function","z":"514f73fb.138a2c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":980,"wires":[["6a0302cd.6a7f9c"]]},{"id":"f09aead8.fe6bf8","type":"function","z":"514f73fb.138a2c","name":"T3 < 100","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif (t3 < 100 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"T3K\",false)\n    return msg;\n}\n\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":200,"y":2040,"wires":[[]]},{"id":"9770c527.29b998","type":"function","z":"514f73fb.138a2c","name":"P1 < 10","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif (t3 < 100 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"P1K\",false)\n    return msg;\n}\n\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":200,"y":2080,"wires":[[]]},{"id":"dd4f9975.6dbb18","type":"function","z":"514f73fb.138a2c","name":"P2 < 25","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif (t3 < 100 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"P2K\",false)\n    return msg;\n}\n\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":200,"y":2120,"wires":[[]]},{"id":"c94bdbf9.90c828","type":"inject","z":"9052e154.6656","name":"","topic":"","payload":"check","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":180,"wires":[["58594d35.1dffc4"]]},{"id":"b29db71.c53d148","type":"function","z":"9052e154.6656","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["73f491e8.fb236"]]},{"id":"58594d35.1dffc4","type":"switch","z":"9052e154.6656","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":180,"wires":[["b29db71.c53d148"]]},{"id":"479a68e9.e7ba88","type":"inject","z":"9052e154.6656","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1070,"y":360,"wires":[["b09c127e.f3bd3"]]},{"id":"b09c127e.f3bd3","type":"function","z":"9052e154.6656","name":"","func":"global.set(\"value\", undefined)\nglobal.set(\"address\", 0)\nglobal.set(\"fc\", 6)\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":360,"wires":[[]]},{"id":"375f4b81.7b3624","type":"function","z":"9052e154.6656","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":790,"y":240,"wires":[[]]},{"id":"73f491e8.fb236","type":"range","z":"9052e154.6656","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":620,"y":180,"wires":[["375f4b81.7b3624"]]},{"id":"b6ceb777.e10418","type":"function","z":"9052e154.6656","name":"","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nvar button = global.get(\"button\")\nif (data == modbus && data === 0 ) {\n    //global.set(\"rly\",true)\n    global.set(\"check\",false)\n    msg.payload = false\n    return msg;\n}\nelse if (data == modbus ) {\n    global.set(\"mq\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":180,"wires":[["18de2713.d224a9","41cb51a5.7a6e8","c578be88.0df0f"]]},{"id":"625a384f.689c88","type":"inject","z":"9052e154.6656","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":140,"wires":[[]]},{"id":"18de2713.d224a9","type":"switch","z":"9052e154.6656","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":140,"wires":[["2f55af1.dffc75"]]},{"id":"2f55af1.dffc75","type":"delay","z":"9052e154.6656","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":140,"wires":[["29eda380.f86cdc"]]},{"id":"ef67dfea.a9f65","type":"function","z":"9052e154.6656","name":"","func":"global.set(\"R4\",true)\nmsg.payload = global.get (\"R4\")\n//global.set(\"refresh\", true)\n//global.set(\"start\", true)\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":240,"wires":[[]]},{"id":"29eda380.f86cdc","type":"delay","z":"9052e154.6656","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"31","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1500,"y":240,"wires":[["ef67dfea.a9f65"]]},{"id":"ba78a72a.61f4e8","type":"function","z":"9052e154.6656","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":180,"wires":[["2f55af1.dffc75","29eda380.f86cdc"]]},{"id":"41cb51a5.7a6e8","type":"switch","z":"9052e154.6656","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":180,"wires":[["ba78a72a.61f4e8"]]},{"id":"b345da92.395dc8","type":"inject","z":"9052e154.6656","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1070,"y":280,"wires":[["35d4938f.7eef0c"]]},{"id":"35d4938f.7eef0c","type":"function","z":"9052e154.6656","name":"Global set \"0\"","func":"global.set(\"modbus\",0);\nglobal.set(\"modbus1\",0);\nglobal.set(\"modbus2\",0);\nglobal.set(\"check\",false);\n","outputs":1,"noerr":0,"x":1260,"y":280,"wires":[[]]},{"id":"c578be88.0df0f","type":"switch","z":"9052e154.6656","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":240,"wires":[["35d4938f.7eef0c","b09c127e.f3bd3"]]},{"id":"8b04c753.f026b8","type":"comment","z":"9052e154.6656","name":"Modbus Data check","info":"","x":270,"y":120,"wires":[]},{"id":"d5b2a333.3317c","type":"function","z":"9052e154.6656","name":"","func":"var data = msg.payload\nmsg.payload = parseInt( ( data * 100 ).toFixed(0) )\n\nglobal.set('value', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":820,"wires":[["5830616f.eb6d1"]]},{"id":"5ae1cd47.a47094","type":"ui_slider","z":"9052e154.6656","name":"slider_1","label":"","tooltip":"","group":"dd139bfe.976818","order":5,"width":"6","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":"1","x":680,"y":800,"wires":[["76a48219.dfa7ac","973a206.048eee","7780de6c.5d2f4"]],"icon":"node-red/alert.png"},{"id":"e550aed4.21bd8","type":"ui_button","z":"9052e154.6656","name":"+_1","group":"dd139bfe.976818","order":4,"width":"1","height":"1","passthru":false,"label":"+","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"","x":340,"y":720,"wires":[["af2662a5.e52d3"]]},{"id":"18bc9b4f.0291d5","type":"ui_button","z":"9052e154.6656","name":"-_1","group":"dd139bfe.976818","order":2,"width":"1","height":"1","passthru":false,"label":"-","tooltip":"","color":"red","bgcolor":"white","icon":"","payload":"-","payloadType":"str","topic":"","x":340.0034713745117,"y":766.989473938942,"wires":[["af2662a5.e52d3"]]},{"id":"af2662a5.e52d3","type":"function","z":"9052e154.6656","name":"Obtained Global Variable","func":"\nvar Value = global.get(\"val\");\n\nif(msg.payload == \"+\" && Value <50){\n    global.set('val', Value + 1)\n} \n\nif(msg.payload == \"-\" && Value >0) {\n    global.set('val', Value - 1)\n}\nValue = global.get(\"val\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":530,"y":740,"wires":[["5ae1cd47.a47094"]]},{"id":"40eda3ef.ad161c","type":"function","z":"9052e154.6656","name":"Global Variable Initializing","func":"global.set(\"val\", 0);\nglobal.set(\"val1\", 0);\nglobal.set(\"val2\", 0);\nglobal.set(\"val3\", 0);\nglobal.set(\"val4\", 0);\nglobal.set(\"val5\", 0);","outputs":1,"noerr":0,"x":530,"y":840,"wires":[[]]},{"id":"4b19054a.5a4edc","type":"inject","z":"9052e154.6656","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":840,"wires":[["40eda3ef.ad161c"]]},{"id":"973a206.048eee","type":"ui_text","z":"9052e154.6656","group":"dd139bfe.976818","order":3,"width":"4","height":"1","name":"text_1","label":"","format":"{{msg.payload}}","layout":"col-center","x":870,"y":780,"wires":[]},{"id":"7780de6c.5d2f4","type":"function","z":"9052e154.6656","name":"Setting Global Variable","func":"if(msg.payload){\n     global.set('val', msg.payload)\n}\n   \n\n\nmsg = {\n    \"payload\" : global.get('val'),\n     \"data\" : Math.floor(global.get('val') * 1.365)\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":740,"wires":[[]]},{"id":"e33ac33b.afc5a","type":"ui_text","z":"9052e154.6656","group":"dd139bfe.976818","order":1,"width":"6","height":"1","name":"INV-1","label":"Sürücü","format":"{{msg.payload}}","layout":"row-center","x":990,"y":780,"wires":[]},{"id":"99355a1b.84e4f8","type":"debug","z":"9052e154.6656","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":840,"wires":[]},{"id":"76a48219.dfa7ac","type":"range","z":"9052e154.6656","minin":"0","maxin":"50","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":870,"y":820,"wires":[["d5b2a333.3317c"]]},{"id":"5830616f.eb6d1","type":"ui_button","z":"9052e154.6656","name":"","group":"dd139bfe.976818","order":5,"width":"6","height":"1","passthru":false,"label":"UYGULA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"value","payloadType":"global","topic":"","x":940,"y":880,"wires":[["99355a1b.84e4f8","31321a40.1caa06"]]},{"id":"31321a40.1caa06","type":"debug","z":"9052e154.6656","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":940,"wires":[]},{"id":"de4c9b6e.bf5cc8","type":"inject","z":"9052e154.6656","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":860,"wires":[[]]},{"id":"4167a95c.f15758","type":"inject","z":"9052e154.6656","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":900,"wires":[[]]},{"id":"a331ae78.9275e","type":"inject","z":"9052e154.6656","name":"","topic":"","payload":"600","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":940,"wires":[[]]},{"id":"cd1a865e.ccc668","type":"inject","z":"9052e154.6656","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":1020,"wires":[[]]},{"id":"5c56ec65.9f8fd4","type":"inject","z":"9052e154.6656","name":"","topic":"","payload":"800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":980,"wires":[[]]},{"id":"b95b4823.e375d8","type":"comment","z":"9052e154.6656","name":"Modbus Write","info":"","x":790,"y":180,"wires":[]},{"id":"c02ce9ac.3b1578","type":"comment","z":"9052e154.6656","name":"Modbus Write","info":"","x":1130,"y":920,"wires":[]},{"id":"cfec4ebd.a4acb","type":"function","z":"514f73fb.138a2c","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <50){\n    global.set('driver', Value + 1)\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('driver', Value - 1)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":770,"y":1200,"wires":[["decd994e.cd8808"]]},{"id":"89d55195.559f","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1340,"wires":[["1a660e6e.0aaf82"]]},{"id":"3cdd60b6.a538b","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1420,"wires":[["ee363921.ef6298"]]},{"id":"8df7d2e7.b04b2","type":"function","z":"514f73fb.138a2c","name":"down \"driver\"","func":"var data = global.get(\"driver\")\ndata = data - 1\nmsg.payload = data\nglobal.set(\"driver\",msg.payload)\n//global.set(\"driverf\",false)\nglobal.set(\"driverg\",false)\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":2200,"wires":[[]]},{"id":"71ab2211.7f5edc","type":"function","z":"514f73fb.138a2c","name":"up \"driver\"","func":"var data = global.get(\"driver\")\ndata = data + 1\nmsg.payload = data\nglobal.set(\"driver\",msg.payload)\n//global.set(\"driverf\",false)\nglobal.set(\"driverg\",true)\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":2160,"wires":[[]]},{"id":"45d04867.2104d8","type":"inject","z":"9052e154.6656","name":"","topic":"","payload":"check","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":500,"wires":[["3bd5f431.c9188c"]]},{"id":"6687daa8.6d6d04","type":"function","z":"9052e154.6656","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":510,"y":500,"wires":[["68813bd7.55e294"]]},{"id":"3bd5f431.c9188c","type":"switch","z":"9052e154.6656","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":500,"wires":[["6687daa8.6d6d04"]]},{"id":"b80bbfca.fb743","type":"function","z":"9052e154.6656","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":810,"y":560,"wires":[[]]},{"id":"68813bd7.55e294","type":"range","z":"9052e154.6656","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":640,"y":500,"wires":[["b80bbfca.fb743"]]},{"id":"e91cc8ad.e76278","type":"inject","z":"9052e154.6656","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":600,"wires":[["873bce18.56fb8"]]},{"id":"873bce18.56fb8","type":"function","z":"9052e154.6656","name":"","func":"global.set(\"modbus1\",0)\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":600,"wires":[[]]},{"id":"ffa1b8cb.0863a8","type":"function","z":"9052e154.6656","name":"","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nvar button = global.get(\"button\")\nif (data == modbus && data === 0 ) {\n    global.set(\"check\",false)\n    msg.payload = false\n    return msg;\n}\nelse if (data == modbus ) {\n    global.set(\"mq\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":970,"y":500,"wires":[[]]}]