18072019_manual_device_azure.txt
[{"id":"1898df5f.291691","type":"function","z":"5b85ec1b.f26bd4","name":"","func":"let array = msg.payload\n\n\nlet array1 = [];\nlet start = 0;\nlet end = 2;\n\nfor(i = 0; i <= array.length /2 -1; i++){\n    array1.push(array.slice(start, end));\n    start += 2;\n    end  = start + 2;\n}\n\n\nlet array2 = [];\nfor(var item of array1){\n    for(var j of item){\n        array2.push(j.toString(16))\n    }\n}\n\nlet array3 = [];\nstart = 0;\nend = 2;\nfor(i = 0; i <= array.length /2 -1; i++){\n    array3.push(\"0x\"+array2.slice(start, end).join(\"\"));\n    start += 2;\n    end  = start + 2;\n}\n\nvar array4 = []\nfor(var k of array3){\n    var v = new DataView(new ArrayBuffer(4))\n    v.setUint32(0, k)\n    array4.push(String(v.getFloat32(0)).slice(0,5));\n}\n\nlet array5 = array4.map( y => ( isNaN(y) ? null : parseFloat(y)  ) )\n\nmsg = {\n    \"payload\" : array5\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["67bb08bc.c80778"]]},{"id":"40b12360.9f21fc","type":"ui_button","z":"5b85ec1b.f26bd4","name":"","group":"514718d7.071d78","order":1,"width":"9","height":"2","passthru":false,"label":"Rezerve-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":660,"y":1880,"wires":[["22d01b13.c1c994","3130d7f4.8afe28"]]},{"id":"1967e139.f7c39f","type":"function","z":"5b85ec1b.f26bd4","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1880,"wires":[["40b12360.9f21fc"]]},{"id":"3130d7f4.8afe28","type":"rpi-gpio out","z":"5b85ec1b.f26bd4","name":"Relay-1","pin":"7","set":"","level":"0","freq":"","out":"out","x":1000,"y":1860,"wires":[]},{"id":"18aac589.a9616a","type":"rpi-gpio out","z":"5b85ec1b.f26bd4","name":"Relay-2","pin":"11","set":"","level":"0","freq":"","out":"out","x":1000,"y":1960,"wires":[]},{"id":"ed586389.97721","type":"rpi-gpio out","z":"5b85ec1b.f26bd4","name":"Relay-3","pin":"13","set":"","level":"0","freq":"","out":"out","x":1000,"y":2060,"wires":[]},{"id":"51b58349.3d098c","type":"rpi-gpio out","z":"5b85ec1b.f26bd4","name":"Relay-4","pin":"15","set":"","level":"0","freq":"","out":"out","x":1000,"y":2160,"wires":[]},{"id":"f7a05c96.a424","type":"ui_button","z":"5b85ec1b.f26bd4","name":"","group":"514718d7.071d78","order":2,"width":"9","height":"2","passthru":false,"label":"Rezerve-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":670,"y":1920,"wires":[["1d585b45.2552c5","3130d7f4.8afe28"]]},{"id":"e3eb408c.19ad8","type":"ui_button","z":"5b85ec1b.f26bd4","name":"","group":"1222cf26.7c21a1","order":1,"width":"9","height":"2","passthru":false,"label":"Sürücü-1-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":660,"y":1980,"wires":[["90726626.f2b388","18aac589.a9616a"]]},{"id":"35fc1044.38107","type":"ui_button","z":"5b85ec1b.f26bd4","name":"","group":"1222cf26.7c21a1","order":2,"width":"9","height":"2","passthru":false,"label":"Sürücü-1-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":670,"y":2020,"wires":[["916e33e0.119f","18aac589.a9616a"]]},{"id":"ebe8007c.128f6","type":"ui_button","z":"5b85ec1b.f26bd4","name":"","group":"1cd7eec0.475a01","order":1,"width":"9","height":"2","passthru":false,"label":"Pompa-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":660,"y":2080,"wires":[["cfef139e.169e8","ed586389.97721"]]},{"id":"ac45c0e4.f73a1","type":"ui_button","z":"5b85ec1b.f26bd4","name":"","group":"1cd7eec0.475a01","order":2,"width":"9","height":"2","passthru":false,"label":"Pompa-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":660,"y":2120,"wires":[["f3d1615a.ad0b7","ed586389.97721"]]},{"id":"83bcc788.9e8d08","type":"ui_button","z":"5b85ec1b.f26bd4","name":"","group":"1ebe5821.783f28","order":1,"width":"9","height":"2","passthru":false,"label":"Sürücü-2-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":660,"y":2180,"wires":[["99ce514c.46ad","51b58349.3d098c"]]},{"id":"90f77f7e.8be81","type":"ui_button","z":"5b85ec1b.f26bd4","name":"","group":"1ebe5821.783f28","order":2,"width":"9","height":"2","passthru":false,"label":"Sürücü-2-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":670,"y":2220,"wires":[["16b292fa.447ced","51b58349.3d098c"]]},{"id":"360b484b.4be728","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":1820,"wires":[["9da94a77.0cb318"]]},{"id":"9da94a77.0cb318","type":"function","z":"5b85ec1b.f26bd4","name":"Creating Button Status","func":"var buttonStatuses = {\n    \n    \"r1\" : \"off\",\n    \"r2\" : \"off\",\n    \"r3\" : \"off\",\n    \"r4\" : \"off\",\n    \"r5\" : \"off\",\n    \"r6\" : \"off\",\n    \"r7\" : \"off\",\n    \"r8\" : \"off\"\n}\n\nglobal.set(\"buttonStatuses\", buttonStatuses);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1820,"wires":[[]]},{"id":"22d01b13.c1c994","type":"function","z":"5b85ec1b.f26bd4","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r1 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1880,"wires":[[]]},{"id":"1d585b45.2552c5","type":"function","z":"5b85ec1b.f26bd4","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r1 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1920,"wires":[[]]},{"id":"5c86a8c6.c167f8","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"buttonStatuses.r1","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1880,"wires":[["1967e139.f7c39f"]]},{"id":"51a07a21.abb234","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"buttonStatuses.r1","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1920,"wires":[["a71e1d54.ca744"]]},{"id":"a71e1d54.ca744","type":"function","z":"5b85ec1b.f26bd4","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1920,"wires":[["f7a05c96.a424"]]},{"id":"5dcfff57.85f6a","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"buttonStatuses.r2","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1980,"wires":[["b9ba3e6d.d3ba8"]]},{"id":"2470d5be.1e24aa","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"buttonStatuses.r2","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2020,"wires":[["dc82dee7.37c8d"]]},{"id":"505a2a54.7a1ea4","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"buttonStatuses.r3","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2080,"wires":[["7f361e34.9e62"]]},{"id":"8e324df4.a2dde","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"buttonStatuses.r3","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2120,"wires":[["fc26febf.28b85"]]},{"id":"6dfe5967.bea548","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"buttonStatuses.r4","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2180,"wires":[["a4ec9250.537a5"]]},{"id":"eecdec1a.1444f","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"buttonStatuses.r4","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2220,"wires":[["d7b6611f.208ce"]]},{"id":"90726626.f2b388","type":"function","z":"5b85ec1b.f26bd4","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r2 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1980,"wires":[[]]},{"id":"916e33e0.119f","type":"function","z":"5b85ec1b.f26bd4","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r2 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2020,"wires":[[]]},{"id":"cfef139e.169e8","type":"function","z":"5b85ec1b.f26bd4","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r3 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2080,"wires":[[]]},{"id":"f3d1615a.ad0b7","type":"function","z":"5b85ec1b.f26bd4","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r3 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2120,"wires":[[]]},{"id":"99ce514c.46ad","type":"function","z":"5b85ec1b.f26bd4","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r4 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2180,"wires":[[]]},{"id":"16b292fa.447ced","type":"function","z":"5b85ec1b.f26bd4","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r4 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2220,"wires":[[]]},{"id":"b9ba3e6d.d3ba8","type":"function","z":"5b85ec1b.f26bd4","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1980,"wires":[["e3eb408c.19ad8"]]},{"id":"dc82dee7.37c8d","type":"function","z":"5b85ec1b.f26bd4","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2020,"wires":[["35fc1044.38107"]]},{"id":"7f361e34.9e62","type":"function","z":"5b85ec1b.f26bd4","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2080,"wires":[["ebe8007c.128f6"]]},{"id":"fc26febf.28b85","type":"function","z":"5b85ec1b.f26bd4","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2120,"wires":[["ac45c0e4.f73a1"]]},{"id":"a4ec9250.537a5","type":"function","z":"5b85ec1b.f26bd4","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2180,"wires":[["83bcc788.9e8d08"]]},{"id":"d7b6611f.208ce","type":"function","z":"5b85ec1b.f26bd4","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2220,"wires":[["90f77f7e.8be81"]]},{"id":"f6d13d20.cd4d5","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"","group":"d87ff1b4.540c4","order":0,"width":"3","height":"4","gtype":"gage","title":"R","label":"VA","format":"{{payload.repg_p1}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":340,"wires":[]},{"id":"3ceb95e7.23654a","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"","group":"d87ff1b4.540c4","order":0,"width":"3","height":"4","gtype":"gage","title":"S","label":"VA","format":"{{payload.repg_p2}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":380,"wires":[]},{"id":"7d236d6e.b61e04","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"","group":"d87ff1b4.540c4","order":0,"width":"3","height":"4","gtype":"gage","title":"T","label":"VA","format":"{{payload.repg_p3}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":420,"wires":[]},{"id":"a769a1cd.9b89d","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"","group":"9b06fcbb.f365f","order":0,"width":"9","height":"4","gtype":"gage","title":"Güç LT","label":"VA","format":"{{payload.repg_t_p}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":460,"wires":[]},{"id":"6c7da76d.018fd8","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"","group":"4c2ba61f.58e968","order":2,"width":"3","height":"4","gtype":"gage","title":"S","label":"A","format":"{{payload.repg_c2}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":240,"wires":[]},{"id":"9b4264a1.10ccb8","type":"function","z":"5b85ec1b.f26bd4","name":"RePG","func":"\nmsg = {\n    \"payload\" : {\n        //\"repg_v1\"   :   msg.payload[1]  /   10 ,\n        //\"repg_v2\"\t:   msg.payload[3]  /   10 ,\n        //\"repg_v3\"\t:   msg.payload[5]  /   10 ,\n        \"repg_v1_2\"\t:   msg.payload[9]  /   10 ,\n        \"repg_v2_3\"\t:   msg.payload[11] /   10 ,\n        \"repg_v3_1\"\t:   msg.payload[13] /   10 ,\n        \"repg_c1\"\t:   msg.payload[15] /   1000 ,\n        \"repg_c2\"\t:   msg.payload[17] /   1000 ,\n        \"repg_c3\"\t:   msg.payload[19] /   1000 \n        \n        \n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["979ba8c1.b085b8","1a50e22d.f7ff1e","190e6b2a.71bfd5","c578618c.8859e","6c7da76d.018fd8","65854d74.80ce64","38a142c4.290a8e"]]},{"id":"979ba8c1.b085b8","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"","group":"48f4b140.6a0b8","order":0,"width":"3","height":"4","gtype":"gage","title":"R","label":"V","format":"{{payload.repg_v1_2}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":60,"wires":[]},{"id":"1a50e22d.f7ff1e","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"","group":"48f4b140.6a0b8","order":0,"width":"3","height":"4","gtype":"gage","title":"S","label":"V","format":"{{payload.repg_v2_3}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":100,"wires":[]},{"id":"190e6b2a.71bfd5","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"","group":"48f4b140.6a0b8","order":0,"width":"3","height":"4","gtype":"gage","title":"T","label":"V","format":"{{payload.repg_v3_1}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":140,"wires":[]},{"id":"c578618c.8859e","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"","group":"4c2ba61f.58e968","order":1,"width":"3","height":"4","gtype":"gage","title":"R","label":"A","format":"{{payload.repg_c1}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":200,"wires":[]},{"id":"65854d74.80ce64","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"","group":"4c2ba61f.58e968","order":3,"width":"3","height":"4","gtype":"gage","title":"T","label":"A","format":"{{payload.repg_c3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":280,"wires":[]},{"id":"4ba573d7.64791c","type":"debug","z":"5b85ec1b.f26bd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":680,"wires":[]},{"id":"7ca248a5.881fb8","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"T1","group":"676b1ec8.00ac1","order":0,"width":"6","height":"5","gtype":"gage","title":"Sýcak Su Giriþ","label":"°C","format":"{{payload.Temp1}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":520,"wires":[]},{"id":"d63bc75.bbd5738","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"T2","group":"cd5edbc5.b568f8","order":3,"width":"6","height":"5","gtype":"gage","title":"Sýcak Su Çýkýþ","label":"°C","format":"{{payload.Temp2}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":560,"wires":[]},{"id":"2d604aba.15acc6","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"T3","group":"553229fe.ba4178","order":0,"width":"6","height":"5","gtype":"gage","title":"Türbin Giriþ","label":"°C","format":"{{payload.Temp3}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":600,"wires":[]},{"id":"4554449.a8efcbc","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"T4","group":"717a73f.ef1a98c","order":0,"width":"6","height":"5","gtype":"gage","title":"Türbin Çýkýþ","label":"°C","format":"{{payload.Temp4}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":640,"wires":[]},{"id":"141f4c7b.408cd4","type":"function","z":"5b85ec1b.f26bd4","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0]  /   10,\n        \"Temp2\"\t:   msg.payload[1]  /   10,\n        \"Temp3\"\t:   msg.payload[2]  /   10,\n        \"Temp4\"\t:   msg.payload[3]  /   10,\n        \"Temp5\"\t:   msg.payload[4]  /   10,\n        \"Temp6\"\t:   msg.payload[5]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":620,"wires":[["7ca248a5.881fb8","d63bc75.bbd5738","2d604aba.15acc6","4554449.a8efcbc","ce8159bd.c831f8","a88fb2e4.7b05","ae2466d2.5db4c8"]]},{"id":"ce8159bd.c831f8","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"T5","group":"cc5c473d.276588","order":0,"width":"6","height":"5","gtype":"gage","title":"Pompa Çýkýþ","label":"°C","format":"{{payload.Temp5}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":680,"wires":[]},{"id":"a88fb2e4.7b05","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"T6","group":"c53d18f.24545e8","order":0,"width":"6","height":"5","gtype":"gage","title":"Soðuk Su","label":"°C","format":"{{payload.Temp6}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":720,"wires":[]},{"id":"aafddf83.a051c","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"P1","group":"f8c4c7e3.a99c58","order":0,"width":"9","height":"4","gtype":"gage","title":"Türbin Çýkýþ","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":780,"wires":[]},{"id":"82850e06.1dad9","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"P2","group":"795bc968.b44068","order":3,"width":"9","height":"4","gtype":"gage","title":"Türbin Giriþ","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":820,"wires":[]},{"id":"c37c52.76b013b","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"P3","group":"32f61f67.9fac5","order":0,"width":"9","height":"4","gtype":"gage","title":"Tank Ýçi","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":860,"wires":[]},{"id":"4d45619e.b9607","type":"ui_gauge","z":"5b85ec1b.f26bd4","name":"P4","group":"5279da34.55d9e4","order":0,"width":"9","height":"4","gtype":"gage","title":"Rezerve","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":900,"wires":[]},{"id":"ad0b7bc1.6d7638","type":"function","z":"5b85ec1b.f26bd4","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"P1\"    :   msg.payload[0]  /   100,\n        \"P2\"\t:   msg.payload[1]  /   100,\n        \"P3\"\t:   msg.payload[2]  /   100,\n        \"P4\"\t:   msg.payload[3]  /   100\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":780,"wires":[["37fc3c7.5fd35c4","f96e21d2.9e48d","3aa347a1.f3a108","acccb0de.56a1d"]]},{"id":"37fc3c7.5fd35c4","type":"range","z":"5b85ec1b.f26bd4","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P1","name":"","x":490,"y":780,"wires":[["bc580ec5.3d286"]]},{"id":"f96e21d2.9e48d","type":"range","z":"5b85ec1b.f26bd4","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P2","name":"","x":490,"y":820,"wires":[["f4af73ef.62169"]]},{"id":"3aa347a1.f3a108","type":"range","z":"5b85ec1b.f26bd4","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P3","name":"","x":490,"y":860,"wires":[["f907cf63.e8244"]]},{"id":"acccb0de.56a1d","type":"range","z":"5b85ec1b.f26bd4","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P4","name":"","x":490,"y":900,"wires":[["99062f29.c4246"]]},{"id":"abc32520.b82df8","type":"debug","z":"5b85ec1b.f26bd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":840,"wires":[]},{"id":"cfd93f2e.152d","type":"modbus-read","z":"5b85ec1b.f26bd4","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"eea5371c.66def8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":120,"y":800,"wires":[["abc32520.b82df8","ad0b7bc1.6d7638"],[]]},{"id":"2515de31.237e82","type":"modbus-read","z":"5b85ec1b.f26bd4","name":"PT-100","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"eea5371c.66def8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":620,"wires":[["4ba573d7.64791c","141f4c7b.408cd4"],[]]},{"id":"edfb7a0e.81e178","type":"modbus-read","z":"5b85ec1b.f26bd4","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"30","rate":"4","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"eea5371c.66def8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":160,"wires":[["9b4264a1.10ccb8","9536c6ba.277528"],[]]},{"id":"5a7655a3.e0682c","type":"modbus-read","z":"5b85ec1b.f26bd4","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"26","quantity":"37","rate":"7","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"eea5371c.66def8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":340,"wires":[["1898df5f.291691"],[]]},{"id":"9536c6ba.277528","type":"debug","z":"5b85ec1b.f26bd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":260,"wires":[]},{"id":"4186f11e.4a841","type":"debug","z":"5b85ec1b.f26bd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":480,"wires":[]},{"id":"99208a8a.7b0688","type":"function","z":"5b85ec1b.f26bd4","name":"","func":"var data = msg.payload\nmsg.payload = parseInt( ( data * 100 ).toFixed(0) )\n\nglobal.set('value', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1080,"wires":[["79e12c60.48bca4"]]},{"id":"fe55e12a.b22ba","type":"ui_slider","z":"5b85ec1b.f26bd4","name":"slider_1","label":"","tooltip":"","group":"3589a60b.56ea7a","order":5,"width":"12","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":"1","x":520,"y":1060,"wires":[["365dd8dd.f492d8","f1caefdd.39cf6","1fded1a8.d611ee"]],"icon":"node-red/alert.png"},{"id":"72ef3e2b.c1dcd","type":"ui_button","z":"5b85ec1b.f26bd4","name":"+_1","group":"3589a60b.56ea7a","order":4,"width":"2","height":"2","passthru":false,"label":"+","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"","x":180,"y":980,"wires":[["6e450770.956ef8"]]},{"id":"a4ab8850.7d7698","type":"ui_button","z":"5b85ec1b.f26bd4","name":"-_1","group":"3589a60b.56ea7a","order":2,"width":"2","height":"2","passthru":false,"label":"-","tooltip":"","color":"red","bgcolor":"white","icon":"","payload":"-","payloadType":"str","topic":"","x":180.00347137451172,"y":1026.989473938942,"wires":[["6e450770.956ef8"]]},{"id":"6e450770.956ef8","type":"function","z":"5b85ec1b.f26bd4","name":"Obtained Global Variable","func":"\nvar Value = global.get(\"val\");\n\nif(msg.payload == \"+\" && Value <50){\n    global.set('val', Value + 1)\n} \n\nif(msg.payload == \"-\" && Value >0) {\n    global.set('val', Value - 1)\n}\nValue = global.get(\"val\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":370,"y":1000,"wires":[["fe55e12a.b22ba"]]},{"id":"8b321284.2ebf8","type":"function","z":"5b85ec1b.f26bd4","name":"Global Variable Initializing","func":"global.set(\"val\", 0);\nglobal.set(\"val1\", 0);\nglobal.set(\"val2\", 0);\nglobal.set(\"val3\", 0);\nglobal.set(\"val4\", 0);\nglobal.set(\"val5\", 0);","outputs":1,"noerr":0,"x":370,"y":1100,"wires":[[]]},{"id":"47165d45.7b5df4","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1100,"wires":[["8b321284.2ebf8"]]},{"id":"1fded1a8.d611ee","type":"ui_text","z":"5b85ec1b.f26bd4","group":"3589a60b.56ea7a","order":3,"width":"8","height":"1","name":"text_1","label":"","format":"{{msg.payload}}","layout":"col-center","x":710,"y":1040,"wires":[]},{"id":"365dd8dd.f492d8","type":"function","z":"5b85ec1b.f26bd4","name":"Setting Global Variable","func":"if(msg.payload){\n     global.set('val', msg.payload)\n}\n   \n\n\nmsg = {\n    \"payload\" : global.get('val'),\n     \"data\" : Math.floor(global.get('val') * 1.365)\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1000,"wires":[[]]},{"id":"b8958b22.749798","type":"ui_text","z":"5b85ec1b.f26bd4","group":"3589a60b.56ea7a","order":1,"width":"12","height":"1","name":"INV-1","label":"Sürücü","format":"{{msg.payload}}","layout":"row-center","x":830,"y":1040,"wires":[]},{"id":"a7caa652.5d9b18","type":"debug","z":"5b85ec1b.f26bd4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1140,"wires":[]},{"id":"f1caefdd.39cf6","type":"range","z":"5b85ec1b.f26bd4","minin":"0","maxin":"50","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":710,"y":1080,"wires":[["99208a8a.7b0688"]]},{"id":"79e12c60.48bca4","type":"ui_button","z":"5b85ec1b.f26bd4","name":"","group":"3589a60b.56ea7a","order":5,"width":"12","height":"2","passthru":false,"label":"UYGULA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"value","payloadType":"global","topic":"","x":780,"y":1140,"wires":[["a7caa652.5d9b18","c20e03df.8adb5"]]},{"id":"40c80392.86402c","type":"debug","z":"5b85ec1b.f26bd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":1240,"wires":[]},{"id":"8ab96b67.95f6e8","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1120,"wires":[["c20e03df.8adb5"]]},{"id":"90b8787.ec09488","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1160,"wires":[["c20e03df.8adb5"]]},{"id":"4671aef5.60e62","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"600","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1200,"wires":[["c20e03df.8adb5"]]},{"id":"69129565.77cbfc","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1280,"wires":[["c20e03df.8adb5"]]},{"id":"44baf4d8.6ef6dc","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1240,"wires":[["c20e03df.8adb5"]]},{"id":"c20e03df.8adb5","type":"modbus-write","z":"5b85ec1b.f26bd4","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"eea5371c.66def8","x":780,"y":1220,"wires":[["40c80392.86402c"],[]]},{"id":"1acbd3ea.11ab0c","type":"debug","z":"5b85ec1b.f26bd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":100,"wires":[]},{"id":"d182de83.22a68","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":40,"wires":[["df0ce228.ac08c"]]},{"id":"df0ce228.ac08c","type":"function","z":"5b85ec1b.f26bd4","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"A1_v1\"     :undefined,\n    \"A1_v2\"     :undefined,\n    \"A1_v3\"     :undefined,\n    \"A1_c1\"     :undefined,\n    \"A1_c2\"     :undefined,\n    \"A1_c3\"     :undefined,\n    \"A1_p1\"     :undefined,\n    \"A1_p2\"     :undefined,\n    \"A1_p3\"     :undefined,\n    \"A1_t_p\"    :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"P3\"        :undefined,\n    \"P4\"        :undefined,\n    \"PT\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":40,"wires":[[]]},{"id":"a65e4f51.fa8ac","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["1acbd3ea.11ab0c"]]},{"id":"38a142c4.290a8e","type":"function","z":"5b85ec1b.f26bd4","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"A1_v1\"]   =   msg.payload[\"repg_v1_2\"];\ndata[\"A1_v2\"]   =   msg.payload[\"repg_v2_3\"];\ndata[\"A1_v3\"]   =   msg.payload[\"repg_v3_1\"];\ndata[\"A1_c1\"]   =   msg.payload[\"repg_c1\"];\ndata[\"A1_c2\"]   =   msg.payload[\"repg_c2\"];\ndata[\"A1_c3\"]   =   msg.payload[\"repg_c3\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":160,"wires":[[]]},{"id":"ff80ab24.cbfbb8","type":"function","z":"5b85ec1b.f26bd4","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\n\ndata[\"A1_p1\"]   =   msg.payload[\"repg_p1\"];\ndata[\"A1_p2\"]   =   msg.payload[\"repg_p2\"];\ndata[\"A1_p3\"]   =   msg.payload[\"repg_p3\"];\ndata[\"A1_t_p\"]  =   msg.payload[\"repg_t_p\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":320,"wires":[[]]},{"id":"ae2466d2.5db4c8","type":"function","z":"5b85ec1b.f26bd4","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":540,"wires":[[]]},{"id":"67bb08bc.c80778","type":"function","z":"5b85ec1b.f26bd4","name":"RePG","func":"var data = global.get('azure_data');\n\n\n\nmsg = {\n    \"payload\" : {\n        \n        \"repg_p1\"   :   parseFloat( ( (data[\"A1_v1\"]    /   1.73) * data[\"A1_c1\"]).toFixed(0) ),\n        \"repg_p2\"   :   parseFloat( ( (data[\"A1_v2\"]    /   1.73) * data[\"A1_c2\"]).toFixed(0) ) ,\n        \"repg_p3\"   :   parseFloat( ( (data[\"A1_v3\"]    /   1.73) * data[\"A1_c3\"]).toFixed(0) ) ,\n        \"repg_t_p\"  :   parseFloat( ( data[\"A1_p1\"] +  data[\"A1_p2\"] + data[\"A1_p3\"] ).toFixed(0) )\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["ff80ab24.cbfbb8","f6d13d20.cd4d5","3ceb95e7.23654a","7d236d6e.b61e04","a769a1cd.9b89d"]]},{"id":"4ca7e4b4.579c2c","type":"inject","z":"5b85ec1b.f26bd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1020,"y":120,"wires":[["71200caa.670524"]]},{"id":"696be879.111508","type":"azureiothub","z":"5b85ec1b.f26bd4","name":"Azure IoT Hub","protocol":"mqtt","x":1220,"y":280,"wires":[["d7c9419f.2d89a"]]},{"id":"71200caa.670524","type":"function","z":"5b85ec1b.f26bd4","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"2c61c9f2-4c98-4121-9782-e58a54533747\",\n        \"key\": \"dd/k0MTs70DG9kS/h0uuyTjmvDZa077IF+VVV+pKD/w=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":220,"wires":[["696be879.111508"]]},{"id":"d7c9419f.2d89a","type":"debug","z":"5b85ec1b.f26bd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":340,"wires":[]},{"id":"bc580ec5.3d286","type":"function","z":"5b85ec1b.f26bd4","name":"","func":"var data = parseFloat( (msg.payload.P1).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":780,"wires":[["aafddf83.a051c"]]},{"id":"f4af73ef.62169","type":"function","z":"5b85ec1b.f26bd4","name":"","func":"var data = parseFloat( (msg.payload.P2).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":820,"wires":[["82850e06.1dad9"]]},{"id":"f907cf63.e8244","type":"function","z":"5b85ec1b.f26bd4","name":"","func":"var data = parseFloat( (msg.payload.P3).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P3\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":860,"wires":[["c37c52.76b013b"]]},{"id":"99062f29.c4246","type":"function","z":"5b85ec1b.f26bd4","name":"","func":"var data = parseFloat( (msg.payload.P4).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P4\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":900,"wires":[["4d45619e.b9607"]]},{"id":"514718d7.071d78","type":"ui_group","z":"","name":"Buton-1","tab":"cf17e0e7.c78f5","order":3,"disp":false,"width":"9","collapse":false},{"id":"1222cf26.7c21a1","type":"ui_group","z":"","name":"Buton-2","tab":"cf17e0e7.c78f5","order":4,"disp":false,"width":"9","collapse":false},{"id":"1cd7eec0.475a01","type":"ui_group","z":"","name":"Buton-3","tab":"cf17e0e7.c78f5","order":5,"disp":false,"width":"9","collapse":false},{"id":"1ebe5821.783f28","type":"ui_group","z":"","name":"Buton-4","tab":"cf17e0e7.c78f5","order":6,"disp":false,"width":"9","collapse":false},{"id":"d87ff1b4.540c4","type":"ui_group","z":"","name":"Güç","tab":"483b6ed3.cb181","order":4,"disp":true,"width":"9","collapse":false},{"id":"9b06fcbb.f365f","type":"ui_group","z":"","name":"RePG","tab":"483b6ed3.cb181","order":5,"disp":true,"width":"9","collapse":false},{"id":"4c2ba61f.58e968","type":"ui_group","z":"","name":"Akým","tab":"483b6ed3.cb181","order":3,"disp":true,"width":"9","collapse":false},{"id":"48f4b140.6a0b8","type":"ui_group","z":"","name":"Gerilim","tab":"483b6ed3.cb181","order":1,"disp":true,"width":"9","collapse":false},{"id":"676b1ec8.00ac1","type":"ui_group","z":"","name":"T1","tab":"8023360e.9fd438","order":1,"disp":false,"width":"6","collapse":false},{"id":"cd5edbc5.b568f8","type":"ui_group","z":"","name":"T2","tab":"8023360e.9fd438","order":2,"disp":false,"width":"6","collapse":false},{"id":"553229fe.ba4178","type":"ui_group","z":"","name":"T3","tab":"8023360e.9fd438","order":3,"disp":false,"width":"6","collapse":false},{"id":"717a73f.ef1a98c","type":"ui_group","z":"","name":"T4","tab":"8023360e.9fd438","order":4,"disp":false,"width":"6","collapse":false},{"id":"cc5c473d.276588","type":"ui_group","z":"","name":"T5","tab":"8023360e.9fd438","order":5,"disp":false,"width":"6","collapse":false},{"id":"c53d18f.24545e8","type":"ui_group","z":"","name":"T6","tab":"8023360e.9fd438","order":6,"disp":false,"width":"6","collapse":false},{"id":"f8c4c7e3.a99c58","type":"ui_group","z":"","name":"P1","tab":"4ef929e0.a34ce8","order":1,"disp":true,"width":"9","collapse":false},{"id":"795bc968.b44068","type":"ui_group","z":"","name":"P2","tab":"4ef929e0.a34ce8","order":2,"disp":true,"width":"9","collapse":false},{"id":"32f61f67.9fac5","type":"ui_group","z":"","name":"P3","tab":"4ef929e0.a34ce8","order":3,"disp":true,"width":"9","collapse":false},{"id":"5279da34.55d9e4","type":"ui_group","z":"","name":"P4","tab":"4ef929e0.a34ce8","order":4,"disp":true,"width":"9","collapse":false},{"id":"eea5371c.66def8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"3589a60b.56ea7a","type":"ui_group","z":"","name":"Sürücü","tab":"6c74ae42.da21","order":1,"disp":true,"width":"12","collapse":false},{"id":"cf17e0e7.c78f5","type":"ui_tab","z":"","name":"Kontrol","icon":"dashboard","order":7},{"id":"483b6ed3.cb181","type":"ui_tab","z":"","name":"Elektrik","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"8023360e.9fd438","type":"ui_tab","z":"","name":"Sýcaklýk Sensör","icon":"dashboard","order":13},{"id":"4ef929e0.a34ce8","type":"ui_tab","z":"","name":"Basýnç Sensör","icon":"dashboard","order":9},{"id":"6c74ae42.da21","type":"ui_tab","z":"","name":"Sürücü Kontrol","icon":"dashboard","order":6,"disabled":false,"hidden":false}]