19082019_algoritma_2.txt
[{"id":"74065048.5d7c1","type":"function","z":"514f73fb.138a2c","name":"set \"22\" bar","func":"global.set(\"driver\",22);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[[]]},{"id":"36b5e2d2.4571be","type":"function","z":"514f73fb.138a2c","name":"up \"driver\"","func":"var data = global.get(\"driver\")\ndata = data + 1\nmsg.payload = data\nglobal.set(\"driver\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":760,"wires":[["decd994e.cd8808"]]},{"id":"f41d399a.df8038","type":"inject","z":"514f73fb.138a2c","name":"Arttýr","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":760,"wires":[["1a660e6e.0aaf82","ee363921.ef6298"]]},{"id":"decd994e.cd8808","type":"debug","z":"514f73fb.138a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":780,"wires":[]},{"id":"6d9a7b4f.914e04","type":"function","z":"514f73fb.138a2c","name":"down \"driver\"","func":"var data = global.get(\"driver\")\ndata = data - 1\nmsg.payload = data\nglobal.set(\"driver\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":800,"wires":[["decd994e.cd8808"]]},{"id":"1a660e6e.0aaf82","type":"switch","z":"514f73fb.138a2c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":760,"wires":[["36b5e2d2.4571be"]]},{"id":"ee363921.ef6298","type":"switch","z":"514f73fb.138a2c","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":800,"wires":[["6d9a7b4f.914e04"]]},{"id":"30465d18.745c12","type":"inject","z":"514f73fb.138a2c","name":"Azalt","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":800,"wires":[["1a660e6e.0aaf82","ee363921.ef6298"]]},{"id":"39ced2c7.ddae1e","type":"function","z":"514f73fb.138a2c","name":"","func":"var temp = global.get(\"T3\")\nvar bar  = global.get(\"P2\")\n\nfunction DecideTargetPressure( temp, bar ) {\n    var output = 0;\n    var abort = false;\n    var direction;\n\n    switch( true ) {\n        case temp < 50:\n                abort = true;\n        break;\n        case temp >= 50 && temp <= 55:\n            output = 14;\n        break;\n        case temp >= 55 && temp <= 60:\n            output = 16;\n        break;\n        case temp >= 60 && temp <= 65:\n            output = 18;\n        break;\n        case temp >= 65 && temp <= 70:\n            output = 20;\n        break;\n        case temp >= 70 && temp <= 75:\n            output = 22;\n        break;\n        case temp >= 75 && temp <= 80:\n            output = 24;\n        break;\n        case temp >= 80 && temp <= 85:\n            output = 26;\n        break;\n        case temp >= 85 && temp <= 90:\n            output = 28;\n        break;\n        case temp >= 90 && temp <= 95:\n            output = 30;\n        break;\n        case temp > 95:\n            abort = true;\n        break;\n    \n    }\n\n\n    // Decide Bar will Up or Down\n\n    if ( output < bar ) {\n        direction = 'up'\n    } else {\n        direction = 'down'\n    }\n    return {\n        output,\n        abort,\n        direction\n    }\n}\n\nconsole.log ( DecideTargetPressure( 96 ) )","outputs":1,"noerr":0,"x":270,"y":1220,"wires":[[]]},{"id":"9346f2e9.03741","type":"function","z":"514f73fb.138a2c","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":260,"wires":[[]]},{"id":"895300c4.babcb","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["9346f2e9.03741"]]},{"id":"f138c048.7eb16","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":300,"wires":[["6d56c463.ede01c"]]},{"id":"e8f63721.52a108","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["6d56c463.ede01c"]]},{"id":"68ae2ee3.58fc7","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["6d56c463.ede01c"]]},{"id":"6d56c463.ede01c","type":"function","z":"514f73fb.138a2c","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":300,"wires":[[]]},{"id":"b56f92fb.e2022","type":"function","z":"514f73fb.138a2c","name":"P1","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":560,"wires":[[]]},{"id":"549bc119.f15ba","type":"function","z":"514f73fb.138a2c","name":"P2","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":600,"wires":[[]]},{"id":"75683471.92ce1c","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["2d6680b5.37ece"]]},{"id":"2d6680b5.37ece","type":"function","z":"514f73fb.138a2c","name":"T1 > 70   -   R1-ON","func":"var data    =   global.get(\"T1\")\nif (data > 70) {\n    global.set(\"R1\",false)\n    msg.payload = true\n    return msg;\n}\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["f696469f.05b9c8"]]},{"id":"f696469f.05b9c8","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":80,"wires":[["b12a43d.875bac"]]},{"id":"7e605bf6.9d1a64","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":220,"wires":[["9346f2e9.03741"]]},{"id":"100411f3.8a343e","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":700,"wires":[["7be5f0dd.8c3f2"]]},{"id":"7be5f0dd.8c3f2","type":"function","z":"514f73fb.138a2c","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":700,"wires":[[]]},{"id":"6d918967.7ffb98","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":740,"wires":[["67793af6.86dcc4"]]},{"id":"67793af6.86dcc4","type":"function","z":"514f73fb.138a2c","name":"driver","func":"global.set(\"driver\",0)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":740,"wires":[[]]},{"id":"7b7d51a7.e874b","type":"rpi-gpio out","z":"514f73fb.138a2c","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":1550,"y":40,"wires":[]},{"id":"cec5714.238029","type":"rpi-gpio out","z":"514f73fb.138a2c","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":1550,"y":140,"wires":[]},{"id":"94721772.b6efe8","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1370,"y":40,"wires":[["7b7d51a7.e874b","95593e43.aed09"]]},{"id":"8292a50e.e5a528","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1370,"y":140,"wires":[["cec5714.238029","6f6bb387.b16a4c"]]},{"id":"b12a43d.875bac","type":"function","z":"514f73fb.138a2c","name":"set driver  \"5\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",5)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":590,"y":80,"wires":[["bf9935c2.fa5708"]]},{"id":"bf9935c2.fa5708","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":80,"wires":[["468802e9.f91b7c"]]},{"id":"468802e9.f91b7c","type":"function","z":"514f73fb.138a2c","name":"R2-ON","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":870,"y":80,"wires":[["88cfedb4.b15b3"]]},{"id":"88cfedb4.b15b3","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":80,"wires":[["94c7fb3c.307dc8"]]},{"id":"94c7fb3c.307dc8","type":"function","z":"514f73fb.138a2c","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1140,"y":80,"wires":[[]]},{"id":"95593e43.aed09","type":"function","z":"514f73fb.138a2c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalý\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açýk\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1520,"y":100,"wires":[["3b0438b0.b80d98"]]},{"id":"6f6bb387.b16a4c","type":"function","z":"514f73fb.138a2c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalý\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açýk\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1530,"y":200,"wires":[["931c036a.f770d"]]},{"id":"3b0438b0.b80d98","type":"ui_text","z":"514f73fb.138a2c","group":"44e038.33342fc8","order":1,"width":"6","height":"2","name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":1650,"y":100,"wires":[]},{"id":"931c036a.f770d","type":"ui_text","z":"514f73fb.138a2c","group":"44e038.33342fc8","order":2,"width":"6","height":"2","name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":1650,"y":200,"wires":[]},{"id":"5201384a.2467f8","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":1,"width":"4","height":"4","gtype":"gage","title":"T1","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":820,"wires":[]},{"id":"8ab1c3b5.edec2","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":2,"width":"4","height":"4","gtype":"gage","title":"T3","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":860,"wires":[]},{"id":"7aa7183f.2e7fb8","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":3,"width":"4","height":"4","gtype":"gage","title":"P1","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":900,"wires":[]},{"id":"b52cba8a.bf0568","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":4,"width":"4","height":"4","gtype":"gage","title":"P2","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":940,"wires":[]},{"id":"8fc59281.c6bc","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["5201384a.2467f8"]]},{"id":"7f581d16.409c14","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":860,"wires":[["8ab1c3b5.edec2"]]},{"id":"54ceaa77.1cb004","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":900,"wires":[["7aa7183f.2e7fb8"]]},{"id":"e9fcf15b.4e90a","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":940,"wires":[["b52cba8a.bf0568"]]},{"id":"caaec8d5.7522a8","type":"ui_gauge","z":"514f73fb.138a2c","name":"","group":"f774590.49e75a8","order":4,"width":"4","height":"4","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":980,"wires":[]},{"id":"6d1ff39f.da3c7c","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":980,"wires":[["caaec8d5.7522a8"]]},{"id":"cbd5b69e.882438","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":780,"wires":[["24bd51e2.4d250e"]]},{"id":"24bd51e2.4d250e","type":"function","z":"514f73fb.138a2c","name":"set \"0\" (T1 - T3 - P1 - P2)","func":"global.set(\"T1\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":780,"wires":[[]]},{"id":"eccace6e.07037","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1280,"wires":[["cbaabdf5.a57ff"]]},{"id":"6f44a56e.27eddc","type":"debug","z":"514f73fb.138a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":1360,"wires":[]},{"id":"cbaabdf5.a57ff","type":"function","z":"514f73fb.138a2c","name":"","func":"var temp = global.get(\"T3\")\nvar pres = global.get(\"P2\")\n\nswitch (temp) {\n    case temp < 50 :\n        msg.payload = true\n        global.set(\"driver\",14)\n        return msg\n        break\n    \n    case temp > 50 :\n        msg.payload = false\n        global.set(\"driver\",16)\n        return msg\n        break\n    \n}\n    \n","outputs":1,"noerr":0,"x":270,"y":1280,"wires":[[]]},{"id":"19a15eb7.ad7fa1","type":"switch","z":"514f73fb.138a2c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"55","v2t":"num"},{"t":"btwn","v":"56","vt":"num","v2":"60","v2t":"num"},{"t":"btwn","v":"61","vt":"num","v2":"65","v2t":"num"},{"t":"btwn","v":"66","vt":"num","v2":"70","v2t":"num"},{"t":"btwn","v":"71","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"81","vt":"num","v2":"85","v2t":"num"},{"t":"btwn","v":"86","vt":"num","v2":"90","v2t":"num"},{"t":"btwn","v":"91","vt":"num","v2":"95","v2t":"num"},{"t":"gt","v":"100","vt":"num"},{"t":"lt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":650,"y":340,"wires":[["fdfd13ed.cefc6"],["d570aa06.0b8c98"],["bbd7a7ef.4f5ff8"],["e811e5ca.126be8"],["74065048.5d7c1"],["a2fb287e.36ac98"],["de6bc0eb.19198"],["3f8c0c45.1ce594"],["1d293b86.d7ba24"],["df128e8a.4a7e4"],["3e33e9eb.fff456"]]},{"id":"2aff1d42.3d6062","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":340,"wires":[["19a15eb7.ad7fa1"]]},{"id":"9e0860ec.74484","type":"function","z":"514f73fb.138a2c","name":"","func":"switch (msg.payload) {\ncase \"one\":\n  msg.payload = 'option one';\n  global.set(\"drive\",14)\n  return [msg,null,null,null];\n\ncase \"two\":\n  msg.payload = 'option two';\n  return [null,msg,null,null];\n\ncase \"three\":\n  msg.payload = 'option three';\n  return [null,null,msg,null];\n\ndefault:\n  msg.payload = 'other values';\n  return [null,null,null,msg];\n}","outputs":4,"noerr":0,"x":270,"y":1360,"wires":[["6f44a56e.27eddc"],["6f44a56e.27eddc"],["6f44a56e.27eddc"],["6f44a56e.27eddc"]]},{"id":"720625c9.15c60c","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"one","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1340,"wires":[["9e0860ec.74484"]]},{"id":"a054b218.68d89","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"two","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1380,"wires":[["9e0860ec.74484"]]},{"id":"6a0302cd.6a7f9c","type":"debug","z":"514f73fb.138a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":360,"wires":[]},{"id":"bbd7a7ef.4f5ff8","type":"function","z":"514f73fb.138a2c","name":"set \"18\" bar","func":"global.set(\"driver\",18);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":220,"wires":[[]]},{"id":"b0203715.9a2ae8","type":"debug","z":"514f73fb.138a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":400,"wires":[]},{"id":"f1423bbf.8c58c8","type":"debug","z":"514f73fb.138a2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":660,"wires":[]},{"id":"e811e5ca.126be8","type":"function","z":"514f73fb.138a2c","name":"set \"20\" bar","func":"global.set(\"driver\",20);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":260,"wires":[[]]},{"id":"de6bc0eb.19198","type":"function","z":"514f73fb.138a2c","name":"set \"26\" bar","func":"global.set(\"driver\",26);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":380,"wires":[[]]},{"id":"d570aa06.0b8c98","type":"function","z":"514f73fb.138a2c","name":"set \"16\" bar","func":"global.set(\"driver\",16);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":180,"wires":[[]]},{"id":"fdfd13ed.cefc6","type":"function","z":"514f73fb.138a2c","name":"set \"14\" bar","func":"global.set(\"driver\",14);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":140,"wires":[[]]},{"id":"3f8c0c45.1ce594","type":"function","z":"514f73fb.138a2c","name":"set \"28\" bar","func":"global.set(\"driver\",28);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":420,"wires":[[]]},{"id":"1d293b86.d7ba24","type":"function","z":"514f73fb.138a2c","name":"set \"30\" bar","func":"global.set(\"driver\",30);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":460,"wires":[[]]},{"id":"a2fb287e.36ac98","type":"function","z":"514f73fb.138a2c","name":"set \"24\" bar","func":"global.set(\"driver\",24);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":340,"wires":[[]]},{"id":"c716d886.ff2038","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":420,"wires":[["6d56c463.ede01c"]]},{"id":"df128e8a.4a7e4","type":"function","z":"514f73fb.138a2c","name":"R1 - OFF","func":"global.set(\"R1\",true);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":500,"wires":[["c40f5c84.e0083"]]},{"id":"c40f5c84.e0083","type":"delay","z":"514f73fb.138a2c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":500,"wires":[["ff65046.771ddf8"]]},{"id":"ff65046.771ddf8","type":"function","z":"514f73fb.138a2c","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":500,"wires":[[]]},{"id":"3e33e9eb.fff456","type":"function","z":"514f73fb.138a2c","name":"if T3 < 50","func":"\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":540,"wires":[[]]},{"id":"c3619d11.34128","type":"comment","z":"514f73fb.138a2c","name":"switch case","info":"","x":170,"y":1160,"wires":[]},{"id":"1bf053e0.08384c","type":"function","z":"514f73fb.138a2c","name":"","func":"var driver = global.get(\"driver\")\nvar pres   = global.get(\"P2\")\n\nif (driver < pres) {\n    msg.payload = true\n    return msg;\n\n    \n}\nelse if (driver > pres) {\n    msg.payload = false\n    return msg;\n}\n    \n\n\n","outputs":1,"noerr":0,"x":810,"y":660,"wires":[["f1423bbf.8c58c8"]]},{"id":"baf9c0ed.e8c2","type":"function","z":"514f73fb.138a2c","name":"driver","func":"global.set(\"driver\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":640,"wires":[[]]},{"id":"748e12a8.b6b3ac","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":500,"wires":[["549bc119.f15ba"]]},{"id":"157c915f.45c9df","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":540,"wires":[["549bc119.f15ba"]]},{"id":"ee0d6559.7d1b48","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":600,"wires":[["baf9c0ed.e8c2"]]},{"id":"7cfe4c96.cfef14","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":640,"wires":[["baf9c0ed.e8c2"]]},{"id":"557817fb.cfcf28","type":"inject","z":"514f73fb.138a2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":660,"wires":[["1bf053e0.08384c"]]},{"id":"44e038.33342fc8","type":"ui_group","z":"","name":"Röle Durumlarý","tab":"81618b12.014c48","order":1,"disp":true,"width":"6","collapse":false},{"id":"f774590.49e75a8","type":"ui_group","z":"","name":"Sensör Verileri","tab":"81618b12.014c48","order":2,"disp":true,"width":"20","collapse":false},{"id":"81618b12.014c48","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]