20092019_algoritma_2 -1148.txt
[{"id":"334f873e.bd5658","type":"function","z":"d01cab14.d43908","name":"msg.payload = T3","func":"global.set(\"diode\",true)\nvar data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":460,"wires":[["8c808388.4e19b"]]},{"id":"6e286f10.9d058","type":"function","z":"d01cab14.d43908","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":220,"wires":[["f6397776.15d668"]]},{"id":"cb11de3.3c3e12","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"temp3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":900,"wires":[["9492681d.64c028"]]},{"id":"b01db669.aa3538","type":"debug","z":"d01cab14.d43908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1220,"wires":[]},{"id":"7f11a187.fb974","type":"switch","z":"d01cab14.d43908","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1200,"wires":[["c28f8bf5.999f48"]]},{"id":"9380e4b9.85a8a8","type":"switch","z":"d01cab14.d43908","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1240,"wires":[["c28f8bf5.999f48"]]},{"id":"1127bbfc.5be994","type":"function","z":"d01cab14.d43908","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[[]]},{"id":"b24a7062.28927","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["1127bbfc.5be994"]]},{"id":"d681b2ec.01d02","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["e4056560.517c88"]]},{"id":"23a6b68f.b6e5ea","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"62","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["e4056560.517c88"]]},{"id":"77b93905.c4d6b8","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"67","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["e4056560.517c88"]]},{"id":"e4056560.517c88","type":"function","z":"d01cab14.d43908","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[[]]},{"id":"e1ccaee.32a545","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"start","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["311943a4.096e2c"]]},{"id":"bef9141c.2d2378","type":"function","z":"d01cab14.d43908","name":"T1 > 70   -   R1-ON","func":"var data    =   global.get(\"T1\")\nif (data > 70) {\n    global.set(\"R1\",false)\n    msg.payload = true\n    global.set(\"start\",false)\n    return msg;\n}\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["7fe2e19e.8eeb8"]]},{"id":"7fe2e19e.8eeb8","type":"delay","z":"d01cab14.d43908","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":80,"wires":[["2dbd0860.e21568"]]},{"id":"160a25af.0d574a","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["1127bbfc.5be994"]]},{"id":"af1fd38e.3f26c","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":1680,"wires":[["61b3a3b1.ea5ebc"]]},{"id":"61b3a3b1.ea5ebc","type":"function","z":"d01cab14.d43908","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nglobal.set(\"R4\",true)\nglobal.set(\"reset\",undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":1680,"wires":[[]]},{"id":"2baf95ca.db55da","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":1720,"wires":[["99e9b5a8.5163f8"]]},{"id":"99e9b5a8.5163f8","type":"function","z":"d01cab14.d43908","name":"driver - driverf - driverg","func":"global.set(\"driver\",0)\nglobal.set(\"driverf\",false)\nglobal.set(\"driverg\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":1720,"wires":[[]]},{"id":"797fb196.fa124","type":"rpi-gpio out","z":"d01cab14.d43908","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":370,"y":1640,"wires":[]},{"id":"47623550.a1201c","type":"rpi-gpio out","z":"d01cab14.d43908","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":370,"y":1740,"wires":[]},{"id":"b28de519.6e6fc8","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1700,"wires":[["797fb196.fa124","129f67fd.901728"]]},{"id":"af370ab6.020968","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1800,"wires":[["47623550.a1201c","82f2918d.1aa3a"]]},{"id":"2dbd0860.e21568","type":"function","z":"d01cab14.d43908","name":"set driver  \"10\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",10)\n    global.set(\"check1\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":740,"y":80,"wires":[["ca758293.101bf"]]},{"id":"36670d6a.a436d2","type":"delay","z":"d01cab14.d43908","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":80,"wires":[["72c5d4d5.4c294c"]]},{"id":"74f834de.cf802c","type":"function","z":"d01cab14.d43908","name":"R2-ON","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1320,"y":80,"wires":[["baed55f1.29acc8"]]},{"id":"baed55f1.29acc8","type":"delay","z":"d01cab14.d43908","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":80,"wires":[["56231f31.160f5"]]},{"id":"56231f31.160f5","type":"function","z":"d01cab14.d43908","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1600,"y":80,"wires":[["d613b571.1e5bd8"]]},{"id":"129f67fd.901728","type":"function","z":"d01cab14.d43908","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":1700,"wires":[["5a2e6595.2d897c"]]},{"id":"82f2918d.1aa3a","type":"function","z":"d01cab14.d43908","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":1800,"wires":[["de4a5c0d.4f3e7"]]},{"id":"5a2e6595.2d897c","type":"ui_text","z":"d01cab14.d43908","group":"f50bec7f.15319","order":1,"width":"5","height":"1","name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":1700,"wires":[]},{"id":"de4a5c0d.4f3e7","type":"ui_text","z":"d01cab14.d43908","group":"f50bec7f.15319","order":2,"width":"5","height":"1","name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":1800,"wires":[]},{"id":"c58d4884.0cd8e8","type":"ui_gauge","z":"d01cab14.d43908","name":"","group":"6f96cb39.619034","order":1,"width":"3","height":"5","gtype":"gage","title":"T1","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":2000,"wires":[]},{"id":"6e3d03b.42aeefc","type":"ui_gauge","z":"d01cab14.d43908","name":"","group":"6f96cb39.619034","order":2,"width":"3","height":"5","gtype":"gage","title":"T3","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":2040,"wires":[]},{"id":"90523aa6.e93518","type":"ui_gauge","z":"d01cab14.d43908","name":"","group":"6f96cb39.619034","order":3,"width":"3","height":"5","gtype":"gage","title":"P1","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":2160,"wires":[]},{"id":"b59e9446.a8cca8","type":"ui_gauge","z":"d01cab14.d43908","name":"","group":"6f96cb39.619034","order":4,"width":"3","height":"5","gtype":"gage","title":"P2","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":2200,"wires":[]},{"id":"102bd26c.beb0ae","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2000,"wires":[["c58d4884.0cd8e8"]]},{"id":"6bbbc99c.b1ff08","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2040,"wires":[["6e3d03b.42aeefc"]]},{"id":"c2f8e573.0e8db8","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2160,"wires":[["90523aa6.e93518"]]},{"id":"2437651b.c4035a","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2200,"wires":[["b59e9446.a8cca8"]]},{"id":"f4d7c024.3b8e8","type":"ui_gauge","z":"d01cab14.d43908","name":"","group":"d127fa97.a3f908","order":1,"width":"5","height":"5","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":2240,"wires":[]},{"id":"39e907d2.d9ac38","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2240,"wires":[["f4d7c024.3b8e8"]]},{"id":"2309a1dd.4af7ce","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":1920,"wires":[["6c6448ed.9d62e8"]]},{"id":"6c6448ed.9d62e8","type":"function","z":"d01cab14.d43908","name":"set \"0\" (T1 - T3 - P1 - P2 - P2S - PS )","func":"global.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1920,"wires":[[]]},{"id":"8c808388.4e19b","type":"switch","z":"d01cab14.d43908","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"55","v2t":"num"},{"t":"btwn","v":"56","vt":"num","v2":"60","v2t":"num"},{"t":"btwn","v":"61","vt":"num","v2":"65","v2t":"num"},{"t":"btwn","v":"66","vt":"num","v2":"70","v2t":"num"},{"t":"btwn","v":"71","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"81","vt":"num","v2":"85","v2t":"num"},{"t":"btwn","v":"86","vt":"num","v2":"90","v2t":"num"},{"t":"btwn","v":"91","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":1110,"y":460,"wires":[["c76ed5d7.a8fbf8"],["a628555d.96a548"],["70c20b20.dc9e24"],["d8feec49.9f36b"],["82489455.660588"],["5abc36f7.e9d518"],["8afea3a1.06eee"],["f5d7ff29.2cc66"],["d4c991cd.0c7b1"]]},{"id":"70c20b20.dc9e24","type":"function","z":"d01cab14.d43908","name":"set \"12\" bar","func":"global.set(\"P2S\",12);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":380,"wires":[[]]},{"id":"d8feec49.9f36b","type":"function","z":"d01cab14.d43908","name":"set \"14\" bar","func":"global.set(\"P2S\",14);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":420,"wires":[[]]},{"id":"82489455.660588","type":"function","z":"d01cab14.d43908","name":"set \"16\" bar","func":"global.set(\"P2S\",16);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":460,"wires":[[]]},{"id":"8afea3a1.06eee","type":"function","z":"d01cab14.d43908","name":"set \"19\" bar","func":"global.set(\"P2S\",19);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":540,"wires":[[]]},{"id":"a628555d.96a548","type":"function","z":"d01cab14.d43908","name":"set \"11\" bar","func":"global.set(\"P2S\",11);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":340,"wires":[[]]},{"id":"c76ed5d7.a8fbf8","type":"function","z":"d01cab14.d43908","name":"set \"10\" bar","func":"global.set(\"P2S\",10);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":300,"wires":[[]]},{"id":"f5d7ff29.2cc66","type":"function","z":"d01cab14.d43908","name":"set \"21\" bar","func":"global.set(\"P2S\",21);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":580,"wires":[[]]},{"id":"d4c991cd.0c7b1","type":"function","z":"d01cab14.d43908","name":"set \"24\" bar","func":"global.set(\"P2S\",24);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":620,"wires":[[]]},{"id":"5abc36f7.e9d518","type":"function","z":"d01cab14.d43908","name":"set \"18\" bar","func":"global.set(\"P2S\",18);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":500,"wires":[[]]},{"id":"684c49cd.0b0768","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["e4056560.517c88"]]},{"id":"19c2d857.4bb938","type":"function","z":"d01cab14.d43908","name":"driver up down","func":"var p2s = global.get(\"P2S\");\nvar ps   = global.get(\"PS\");\n\nif (p2s > ps) {\n    msg.payload = true;\n    return msg;\n\n    \n}\nelse if (p2s < ps) {\n    msg.payload = false;\n    return msg;\n}\nelse if (p2s == ps) {\n    global.set(\"driverf\",false)\n    global.set(\"sensor\",false)\n    global.set(\"temp1\",true)\n}\n\n\n","outputs":1,"noerr":0,"x":420,"y":1220,"wires":[["7f11a187.fb974","9380e4b9.85a8a8"]]},{"id":"92806cbc.7dc33","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"82","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["e4056560.517c88"]]},{"id":"faff877a.6f7708","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":580,"wires":[["e4056560.517c88"]]},{"id":"5748047f.186f6c","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"driverf","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1220,"wires":[["d302cb95.6f3338"]]},{"id":"845c1bc1.32f8f8","type":"switch","z":"d01cab14.d43908","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":460,"wires":[["334f873e.bd5658"]]},{"id":"2a5de93b.71fee6","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"temp1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":460,"wires":[["845c1bc1.32f8f8"]]},{"id":"8324cd27.5014d","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":1760,"wires":[["63a0bd62.f0fdf4"]]},{"id":"63a0bd62.f0fdf4","type":"function","z":"d01cab14.d43908","name":"start","func":"global.set(\"start\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":1760,"wires":[[]]},{"id":"311943a4.096e2c","type":"switch","z":"d01cab14.d43908","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":40,"wires":[["bef9141c.2d2378"]]},{"id":"eb64d773.ce9ce8","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":1800,"wires":[["7c29954d.2caf9c"]]},{"id":"7c29954d.2caf9c","type":"function","z":"d01cab14.d43908","name":"temp1 - temp2 - temp3","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":1800,"wires":[[]]},{"id":"ee7c76f2.748268","type":"function","z":"d01cab14.d43908","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1000,"wires":[["acc79c7d.77a6"]]},{"id":"acc79c7d.77a6","type":"switch","z":"d01cab14.d43908","name":"T3 > 95","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"95","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":1000,"wires":[["8e1b7079.a464c"]]},{"id":"98dc8fb5.35ac","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1000,"wires":[["20fa0705.ed9d28"]]},{"id":"3aa1921e.3a965e","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"77","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":500,"wires":[["e4056560.517c88"]]},{"id":"20fa0705.ed9d28","type":"switch","z":"d01cab14.d43908","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1000,"wires":[["ee7c76f2.748268"]]},{"id":"f42387dc.fc1c38","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"P2S","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2280,"wires":[["d397ec0e.c8751"]]},{"id":"d397ec0e.c8751","type":"ui_gauge","z":"d01cab14.d43908","name":"","group":"4d1bc46.e44f13c","order":2,"width":"4","height":"3","gtype":"gage","title":"P2S","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":2280,"wires":[]},{"id":"dc4e93f8.1989","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":1840,"wires":[["dfe74fa0.9c87b"]]},{"id":"dfe74fa0.9c87b","type":"function","z":"d01cab14.d43908","name":"pres1 - pres2","func":"global.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":1840,"wires":[[]]},{"id":"94ca452f.3266e8","type":"function","z":"d01cab14.d43908","name":"msg.payload = P1","func":"var data    =   global.get(\"P1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1040,"wires":[["af9e1df9.eec31"]]},{"id":"a8f587c8.085c68","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"pres1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1040,"wires":[["8ac0eb6e.73ae78"]]},{"id":"8ac0eb6e.73ae78","type":"switch","z":"d01cab14.d43908","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1040,"wires":[["94ca452f.3266e8"]]},{"id":"b009db24.c94388","type":"function","z":"d01cab14.d43908","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1080,"wires":[["357091d4.824f3e"]]},{"id":"a9cc0726.608838","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"pres2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1080,"wires":[["1b4e6e05.fc2f22"]]},{"id":"1b4e6e05.fc2f22","type":"switch","z":"d01cab14.d43908","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1080,"wires":[["b009db24.c94388"]]},{"id":"8e1b7079.a464c","type":"function","z":"d01cab14.d43908","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"R4\",true);\nglobal.set(\"driverf\",false)\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nglobal.set(\"check\",false)\nglobal.set(\"check1\",false)\nglobal.set(\"check2\",false)\nglobal.set(\"check3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1040,"wires":[["2064396b.4276f6"]]},{"id":"2064396b.4276f6","type":"delay","z":"d01cab14.d43908","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1040,"wires":[["73353dbb.2111f4"]]},{"id":"73353dbb.2111f4","type":"function","z":"d01cab14.d43908","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"check3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1040,"wires":[[]]},{"id":"af9e1df9.eec31","type":"switch","z":"d01cab14.d43908","name":"P1 > 20","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":1040,"wires":[["8e1b7079.a464c"]]},{"id":"357091d4.824f3e","type":"switch","z":"d01cab14.d43908","name":"P2 > 30","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":1080,"wires":[["8e1b7079.a464c"]]},{"id":"9492681d.64c028","type":"switch","z":"d01cab14.d43908","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":900,"wires":[["9b659475.731538"]]},{"id":"9b659475.731538","type":"function","z":"d01cab14.d43908","name":"T3 < 50","func":"var data = global.get(\"T3\")\nif (data < 50) {\n    msg.payload = false\n    global.set(\"temp4\",true)\n    global.set(\"driverf\",false)\n    global.set(\"driver\",10)\n    global.set(\"check2\",true)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":800,"y":900,"wires":[[]]},{"id":"19d2702d.3144c","type":"switch","z":"d01cab14.d43908","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"9.1","vt":"num","v2":"10","v2t":"num"},{"t":"btwn","v":"10.1","vt":"num","v2":"11","v2t":"num"},{"t":"btwn","v":"11.1","vt":"num","v2":"12","v2t":"num"},{"t":"btwn","v":"12.1","vt":"num","v2":"14","v2t":"num"},{"t":"btwn","v":"14.1","vt":"num","v2":"16","v2t":"num"},{"t":"btwn","v":"16.1","vt":"num","v2":"18","v2t":"num"},{"t":"btwn","v":"18.1","vt":"num","v2":"19","v2t":"num"},{"t":"btwn","v":"19.1","vt":"num","v2":"21","v2t":"num"},{"t":"btwn","v":"21.1","vt":"num","v2":"24","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":590,"y":1520,"wires":[["d40f6fc9.e371b"],["c9d921d4.29023"],["5e7914d4.fba96c"],["cfe7d0b0.bf751"],["405c6fa4.456a"],["637a4fda.1ff3b"],["d047.4dc28fb9b"],["7d146a3d.6073c4"],["8f1297e4.7d1378"]]},{"id":"e538dccf.39bab","type":"function","z":"d01cab14.d43908","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1520,"wires":[["19d2702d.3144c"]]},{"id":"a04050b9.b4c3d","type":"debug","z":"d01cab14.d43908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1570,"y":1340,"wires":[]},{"id":"d40f6fc9.e371b","type":"function","z":"d01cab14.d43908","name":"","func":"global.set(\"PS\",10);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1360,"wires":[[]]},{"id":"c9d921d4.29023","type":"function","z":"d01cab14.d43908","name":"","func":"global.set(\"PS\",11);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1400,"wires":[[]]},{"id":"5e7914d4.fba96c","type":"function","z":"d01cab14.d43908","name":"","func":"global.set(\"PS\",12);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1440,"wires":[[]]},{"id":"cfe7d0b0.bf751","type":"function","z":"d01cab14.d43908","name":"","func":"global.set(\"PS\",14);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1480,"wires":[[]]},{"id":"405c6fa4.456a","type":"function","z":"d01cab14.d43908","name":"","func":"global.set(\"PS\",16);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1520,"wires":[[]]},{"id":"637a4fda.1ff3b","type":"function","z":"d01cab14.d43908","name":"","func":"global.set(\"PS\",18);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1560,"wires":[[]]},{"id":"d047.4dc28fb9b","type":"function","z":"d01cab14.d43908","name":"","func":"global.set(\"PS\",19);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1600,"wires":[[]]},{"id":"7d146a3d.6073c4","type":"function","z":"d01cab14.d43908","name":"","func":"global.set(\"PS\",21);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1640,"wires":[[]]},{"id":"8f1297e4.7d1378","type":"function","z":"d01cab14.d43908","name":"","func":"global.set(\"PS\",24);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1680,"wires":[[]]},{"id":"706cbf05.640b3","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"PS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2320,"wires":[["a850b8ae.b58f18"]]},{"id":"a850b8ae.b58f18","type":"ui_gauge","z":"d01cab14.d43908","name":"","group":"4d1bc46.e44f13c","order":1,"width":"4","height":"3","gtype":"gage","title":"PS","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":2320,"wires":[]},{"id":"401f8f31.07a9c","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"sensor","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1520,"wires":[["1b2db9a0.e05626"]]},{"id":"59bc5364.8c653c","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"AS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":980,"wires":[["b9bde866.4cae08"]]},{"id":"d302cb95.6f3338","type":"switch","z":"d01cab14.d43908","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1220,"wires":[["19c2d857.4bb938"]]},{"id":"b9bde866.4cae08","type":"switch","z":"d01cab14.d43908","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":980,"wires":[["84b7e5dc.8d2ec8"]]},{"id":"84b7e5dc.8d2ec8","type":"function","z":"d01cab14.d43908","name":"T3<95 & P1<10 & P2<25","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif ( t3 < 95 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"AS\",false)\n    global.set(\"start\",true)\n    return msg;\n}\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1550,"y":980,"wires":[[]]},{"id":"7b736e8d.7787b","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":1880,"wires":[["afa37ca1.1f6c9"]]},{"id":"afa37ca1.1f6c9","type":"function","z":"d01cab14.d43908","name":"sensor","func":"global.set(\"sensor\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":1880,"wires":[[]]},{"id":"1b2db9a0.e05626","type":"switch","z":"d01cab14.d43908","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1520,"wires":[["e538dccf.39bab"]]},{"id":"ba6d7e1e.0d554","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["e4056560.517c88"]]},{"id":"12cb1b68.044db5","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"92","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["e4056560.517c88"]]},{"id":"a37d7418.130cf8","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":660,"wires":[["e4056560.517c88"]]},{"id":"f545f089.f2482","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["e4056560.517c88"]]},{"id":"c28f8bf5.999f48","type":"function","z":"d01cab14.d43908","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <50){\n    global.set('driver', Value + 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('driver', Value - 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":770,"y":1220,"wires":[["b01db669.aa3538"]]},{"id":"8801c0af.dc6fd","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"check","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":1300,"wires":[["4cb3e28f.95c4fc"]]},{"id":"52d0aa2c.5fea84","type":"function","z":"d01cab14.d43908","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1050,"y":1300,"wires":[["c75834e0.841408"]]},{"id":"4cb3e28f.95c4fc","type":"switch","z":"d01cab14.d43908","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":1300,"wires":[["52d0aa2c.5fea84"]]},{"id":"fbce3bcb.5f2a58","type":"function","z":"d01cab14.d43908","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":1350,"y":1360,"wires":[[]]},{"id":"c75834e0.841408","type":"range","z":"d01cab14.d43908","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1180,"y":1300,"wires":[["fbce3bcb.5f2a58","72bc2edc.562c5"]]},{"id":"d73109d7.76fff8","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2000,"wires":[["8de4b73b.8d1f58"]]},{"id":"8de4b73b.8d1f58","type":"function","z":"d01cab14.d43908","name":"modbus 1-2-3   \"0\"","func":"global.set(\"modbus1\",0)\nglobal.set(\"modbus2\",0)\nglobal.set(\"modbus3\",0)\nglobal.set(\"modbus4\",0)\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":2000,"wires":[[]]},{"id":"2cb76b1.3afea94","type":"function","z":"d01cab14.d43908","name":"msg.payload.value","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nif (data == modbus ) {\n    global.set(\"check\",false)\n    global.set(\"driverf\",true)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1590,"y":1260,"wires":[[]]},{"id":"ecac08c7.1a71a8","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2080,"wires":[["c834bc4c.df35a"]]},{"id":"c834bc4c.df35a","type":"function","z":"d01cab14.d43908","name":"","func":"//global.set(\"value\", undefined)\nglobal.set(\"address\", 0)\nglobal.set(\"fc\", 6)\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":2080,"wires":[[]]},{"id":"d158b7eb.aec978","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2040,"wires":[["4d95bcaa.a5e154"]]},{"id":"4d95bcaa.a5e154","type":"function","z":"d01cab14.d43908","name":"Global set \"false\"  checks","func":"global.set(\"check\",false);\nglobal.set(\"check1\",false);\nglobal.set(\"check2\",false);\nglobal.set(\"check3\",false);\n","outputs":1,"noerr":0,"x":1490,"y":2040,"wires":[[]]},{"id":"f92c038d.bbbe3","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1200,"y":1220,"wires":[["806cc416.c642e8"]]},{"id":"806cc416.c642e8","type":"function","z":"d01cab14.d43908","name":"","func":"msg.payload = global.get(\"modbus1\")\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":1220,"wires":[["2cb76b1.3afea94"]]},{"id":"a7bb87be.4f3db8","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"check1","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":220,"wires":[["ea84d19a.bc7f1"]]},{"id":"ea84d19a.bc7f1","type":"switch","z":"d01cab14.d43908","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":220,"wires":[["6e286f10.9d058"]]},{"id":"f6397776.15d668","type":"range","z":"d01cab14.d43908","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":880,"y":220,"wires":[["d18da39a.8e888","89878428.c029a8"]]},{"id":"d18da39a.8e888","type":"function","z":"d01cab14.d43908","name":"Set modbus2","func":"global.set(\"modbus2\", msg.payload)\n","outputs":1,"noerr":0,"x":1050,"y":280,"wires":[[]]},{"id":"a2507f0c.271f9","type":"function","z":"d01cab14.d43908","name":"","func":"msg.payload = global.get(\"modbus2\")\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":160,"wires":[["90223ada.994bc8"]]},{"id":"5f668c5a.176b84","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":160,"wires":[["a2507f0c.271f9"]]},{"id":"90223ada.994bc8","type":"function","z":"d01cab14.d43908","name":"msg.payload.value","func":"global.set(\"value1\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus2\")\nif (data == modbus ) {\n    global.set(\"check1\",false)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1270,"y":180,"wires":[["36670d6a.a436d2"]]},{"id":"42d7c91b.e35868","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"check2","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":760,"wires":[["f50b2650.086e98"]]},{"id":"f50b2650.086e98","type":"switch","z":"d01cab14.d43908","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":760,"wires":[["15f35545.49d02b"]]},{"id":"15f35545.49d02b","type":"function","z":"d01cab14.d43908","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1090,"y":760,"wires":[["c5a3a84a.f1b2c8"]]},{"id":"c5a3a84a.f1b2c8","type":"range","z":"d01cab14.d43908","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1220,"y":760,"wires":[["5bba6f18.7a399","dee997de.812898"]]},{"id":"5bba6f18.7a399","type":"function","z":"d01cab14.d43908","name":"Set modbus3","func":"global.set(\"modbus3\", msg.payload)\n","outputs":1,"noerr":0,"x":1390,"y":820,"wires":[[]]},{"id":"39f84550.89a1ca","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1220,"y":700,"wires":[["e5fe390f.9246b8"]]},{"id":"e5fe390f.9246b8","type":"function","z":"d01cab14.d43908","name":"","func":"msg.payload = global.get(\"modbus3\")\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":700,"wires":[["9071a499.5efc18"]]},{"id":"9071a499.5efc18","type":"function","z":"d01cab14.d43908","name":"msg.payload.value","func":"global.set(\"value2\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus3\")\nif (data == modbus ) {\n    global.set(\"check2\",false)\n    //global.set(\"temp3\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1630,"y":760,"wires":[[]]},{"id":"402d9a6c.044c94","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":1960,"wires":[["5fd01d1f.b8c784"]]},{"id":"5fd01d1f.b8c784","type":"function","z":"d01cab14.d43908","name":"\"AS\" false","func":"global.set(\"AS\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":1960,"wires":[[]]},{"id":"4be95aa8.ddbb04","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"check3","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":1100,"wires":[["bc515151.13e88"]]},{"id":"bc515151.13e88","type":"switch","z":"d01cab14.d43908","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1100,"wires":[["f39a5608.50b1a8"]]},{"id":"f39a5608.50b1a8","type":"function","z":"d01cab14.d43908","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1070,"y":1100,"wires":[["26fc30d3.47247"]]},{"id":"26fc30d3.47247","type":"range","z":"d01cab14.d43908","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1200,"y":1100,"wires":[["d26de40e.4562e8","b75bb805.903ce8"]]},{"id":"d26de40e.4562e8","type":"function","z":"d01cab14.d43908","name":"Set modbus3","func":"global.set(\"modbus4\", msg.payload)\n","outputs":1,"noerr":0,"x":1370,"y":1160,"wires":[[]]},{"id":"fc550211.8d046","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1240,"y":1040,"wires":[["60af1a9d.cf2824"]]},{"id":"60af1a9d.cf2824","type":"function","z":"d01cab14.d43908","name":"","func":"msg.payload = global.get(\"modbus4\")\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":1040,"wires":[["fd0c08c3.efb048"]]},{"id":"fd0c08c3.efb048","type":"function","z":"d01cab14.d43908","name":"msg.payload.value","func":"global.set(\"value3\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus4\")\nif (data == modbus ) {\n    global.set(\"check3\",false)\n    global.set(\"AS\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1590,"y":1060,"wires":[[]]},{"id":"89878428.c029a8","type":"modbus-write","z":"d01cab14.d43908","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"8731a593.088308","x":1060,"y":220,"wires":[["aae323bd.26474","90223ada.994bc8"],[]]},{"id":"aae323bd.26474","type":"debug","z":"d01cab14.d43908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":240,"wires":[]},{"id":"45aa1cce.57ab64","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":300,"wires":[["89878428.c029a8"]]},{"id":"72bc2edc.562c5","type":"modbus-write","z":"d01cab14.d43908","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"8731a593.088308","x":1360,"y":1300,"wires":[["2cb76b1.3afea94","a04050b9.b4c3d"],[]]},{"id":"b75bb805.903ce8","type":"modbus-write","z":"d01cab14.d43908","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"8731a593.088308","x":1380,"y":1100,"wires":[["fd0c08c3.efb048","68fffd0d.9b9234"],[]]},{"id":"59267b3a.29f7f4","type":"comment","z":"d01cab14.d43908","name":"Bızıklama","info":"","x":1320,"y":40,"wires":[]},{"id":"68fffd0d.9b9234","type":"debug","z":"d01cab14.d43908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1590,"y":1140,"wires":[]},{"id":"dee997de.812898","type":"modbus-write","z":"d01cab14.d43908","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"8731a593.088308","x":1400,"y":760,"wires":[["9071a499.5efc18","c67338e1.039ed8"],[]]},{"id":"c67338e1.039ed8","type":"debug","z":"d01cab14.d43908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":840,"wires":[]},{"id":"72c5d4d5.4c294c","type":"function","z":"d01cab14.d43908","name":"","func":"var data = global.get(\"P2\")\nif (data >= 15) {\n    msg.payload = true\n    return msg;\n}\nelse if (data < 15) {\n    msg.payload = false\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1170,"y":80,"wires":[["74f834de.cf802c","ff0eee97.71a2d"]]},{"id":"ff0eee97.71a2d","type":"switch","z":"d01cab14.d43908","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":20,"wires":[["36670d6a.a436d2"]]},{"id":"a70b6855.d91e28","type":"function","z":"d01cab14.d43908","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1120,"wires":[["d4795bdd.158798"]]},{"id":"812631b2.c6108","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"pres3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1120,"wires":[["bb2a773a.535158"]]},{"id":"bb2a773a.535158","type":"switch","z":"d01cab14.d43908","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1120,"wires":[["a70b6855.d91e28"]]},{"id":"d4795bdd.158798","type":"switch","z":"d01cab14.d43908","name":"P2 <= 9","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"9","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":1120,"wires":[["8e1b7079.a464c"]]},{"id":"eae4930b.842c5","type":"debug","z":"d01cab14.d43908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":1160,"wires":[]},{"id":"a392253a.7c5308","type":"comment","z":"d01cab14.d43908","name":"Sorunlu Koşul","info":"","x":630,"y":860,"wires":[]},{"id":"b30cc4ea.21fff8","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"temp4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":940,"wires":[["2d036bf5.ca7e34"]]},{"id":"2d036bf5.ca7e34","type":"switch","z":"d01cab14.d43908","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":940,"wires":[["41e30fc0.97fc4"]]},{"id":"41e30fc0.97fc4","type":"function","z":"d01cab14.d43908","name":"T3 > 50","func":"var data = global.get(\"T3\")\nif (data > 50) {\n    global.set(\"temp4\",false)\n    //global.set(\"temp1\",true)\n    msg.payload = true\n    return msg;\n}","outputs":1,"noerr":0,"x":800,"y":940,"wires":[["56231f31.160f5"]]},{"id":"57f7dc7d.c11de4","type":"function","z":"d01cab14.d43908","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2240,"wires":[["47dc7b51.c1ef44","90ef9942.dae448"]]},{"id":"b8af354b.949a08","type":"link in","z":"d01cab14.d43908","name":"","links":["47dc7b51.c1ef44"],"x":475,"y":160,"wires":[["7fe2e19e.8eeb8","36670d6a.a436d2","baed55f1.29acc8","ca758293.101bf","d613b571.1e5bd8"]]},{"id":"47dc7b51.c1ef44","type":"link out","z":"d01cab14.d43908","name":"","links":["b8af354b.949a08"],"x":1275,"y":2240,"wires":[]},{"id":"76061313.743f2c","type":"link in","z":"d01cab14.d43908","name":"","links":["90ef9942.dae448"],"x":775,"y":980,"wires":[["2064396b.4276f6"]]},{"id":"90ef9942.dae448","type":"link out","z":"d01cab14.d43908","name":"","links":["76061313.743f2c"],"x":1275,"y":2280,"wires":[]},{"id":"52ca4168.f4a69","type":"function","z":"d01cab14.d43908","name":"","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1440,"wires":[["b75bb805.903ce8","dee997de.812898","89878428.c029a8","72bc2edc.562c5"]]},{"id":"64c2b89.ccd9148","type":"rpi-gpio out","z":"d01cab14.d43908","name":"R4","pin":"15","set":"","level":"0","freq":"","out":"out","x":370,"y":1860,"wires":[]},{"id":"9fb10796.cedd58","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"R4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1920,"wires":[["64c2b89.ccd9148","b736645d.ded2c8"]]},{"id":"b736645d.ded2c8","type":"function","z":"d01cab14.d43908","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":1920,"wires":[["d95fd1e3.d7ecb"]]},{"id":"d95fd1e3.d7ecb","type":"ui_text","z":"d01cab14.d43908","group":"f50bec7f.15319","order":2,"width":"5","height":"1","name":"","label":"R4","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":1920,"wires":[]},{"id":"d613b571.1e5bd8","type":"delay","z":"d01cab14.d43908","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":200,"wires":[["9c69ead7.e0dee8"]]},{"id":"30fc419.843e6be","type":"function","z":"d01cab14.d43908","name":"","func":"var t3 = global.get(\"T3\")\nvar p2 = global.get(\"P2\")\n\nif (t3 > 65 && p2 > 16 ) {\n    global.set(\"R4\",false)\n    global.set(\"diode\",false)\n}\n","outputs":1,"noerr":0,"x":1550,"y":560,"wires":[[]]},{"id":"da77ca1e.fd2c28","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2120,"wires":[["d16ece10.5bea6"]]},{"id":"d16ece10.5bea6","type":"function","z":"d01cab14.d43908","name":"values","func":"global.set(\"value\", undefined)\nglobal.set(\"value1\", undefined)\nglobal.set(\"value2\", undefined)\nglobal.set(\"value3\", undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":2120,"wires":[[]]},{"id":"47648899.b3adc8","type":"function","z":"d01cab14.d43908","name":"","func":"var v   =   global.get(\"value\");\nvar v1  =   global.get(\"value1\");\nvar v2  =   global.get(\"value2\");\nvar v3  =   global.get(\"value3\");\nif (v === 0 && v1 === 0 && v2 === 0 && v3 === 0) {\n    msg.payload = true;\n    return msg;\n}\nelse {\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":830,"y":2240,"wires":[["89b05e3f.eaf6e"]]},{"id":"89b05e3f.eaf6e","type":"function","z":"d01cab14.d43908","name":"","func":"var data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Sistem Hazır\" ;\n    return msg;\n}\nelse if (data === false){\n    msg.payload = \"Sistem Hazırlanıyor\" ;\n    return msg;\n}\nelse {\n    msg.payload = \" \" ;\n    return msg;\n}","outputs":1,"noerr":0,"x":730,"y":2320,"wires":[["2bede9a6.b72656","6b471b4b.bc0e24"]]},{"id":"6b471b4b.bc0e24","type":"ui_text","z":"d01cab14.d43908","group":"f50bec7f.15319","order":2,"width":"5","height":"1","name":"","label":"Sistem Durumu","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":2360,"wires":[]},{"id":"2cd9fe78.14b142","type":"ui_toast","z":"d01cab14.d43908","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1130,"y":2500,"wires":[[]]},{"id":"68fad994.cc8848","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2160,"wires":[["7b387b2c.29bd04"]]},{"id":"7b387b2c.29bd04","type":"function","z":"d01cab14.d43908","name":"numbers","func":"global.set(\"number\", undefined)\nglobal.set(\"number2\", undefined)\n\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":2160,"wires":[[]]},{"id":"aa068f73.de41d","type":"delay","z":"d01cab14.d43908","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":2160,"wires":[["47648899.b3adc8"]]},{"id":"6d382dab.fdf0e4","type":"modbus-read","z":"d01cab14.d43908","name":"Temp","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"8731a593.088308","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":200,"wires":[["4b318e5e.2b0d6"],[]]},{"id":"4b318e5e.2b0d6","type":"function","z":"d01cab14.d43908","name":"","func":"var T1 = msg.payload[0] /10\nvar T2 = msg.payload[1] /10\nvar T3 = msg.payload[2] /10\nvar T4 = msg.payload[3] /10\nvar T5 = msg.payload[4] /10\nvar T6 = msg.payload[5] /10\n\nif (T1 != 850) {\n    global.set(\"T1\",T1)\n}\n    \nif (T3 != 850) {\n    global.set(\"T3\",T3)\n    \n}\nif (T5 != 850) {\n    global.set(\"T5\",T5)\n    \n}\nif (T6 != 850) {\n    global.set(\"T6\",T6)\n    \n}\nglobal.set(\"T2\",T2)\n\nglobal.set(\"T4\",T4)\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[[]]},{"id":"9140b9c0.9fd078","type":"modbus-read","z":"d01cab14.d43908","name":"Pres","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"8731a593.088308","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":720,"wires":[["d39bd41d.0d3278","b5463b8e.2e7bf8"],[]]},{"id":"d39bd41d.0d3278","type":"function","z":"d01cab14.d43908","name":"","func":"var P1 = msg.payload[0] /100\n\nmsg.payload = P1\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":700,"wires":[["aeca1cd7.038ce"]]},{"id":"aeca1cd7.038ce","type":"range","z":"d01cab14.d43908","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload","name":"","x":370,"y":700,"wires":[["a7b77cc0.f6f93"]]},{"id":"b5463b8e.2e7bf8","type":"function","z":"d01cab14.d43908","name":"","func":"var P2 = msg.payload[1] /100\n\nmsg.payload = P2\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":740,"wires":[["8eef9830.feeb38"]]},{"id":"8eef9830.feeb38","type":"range","z":"d01cab14.d43908","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"","x":370,"y":740,"wires":[["1c01f34a.f9134d"]]},{"id":"949698af.001618","type":"function","z":"d01cab14.d43908","name":"","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":700,"wires":[[]]},{"id":"562673d3.6ad23c","type":"function","z":"d01cab14.d43908","name":"","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":740,"wires":[[]]},{"id":"e3371bf6.3b2168","type":"ui_gauge","z":"d01cab14.d43908","name":"","group":"6f96cb39.619034","order":6,"width":"3","height":"5","gtype":"gage","title":"T6","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":2120,"wires":[]},{"id":"9da08be8.46b2c8","type":"ui_gauge","z":"d01cab14.d43908","name":"","group":"6f96cb39.619034","order":5,"width":"3","height":"5","gtype":"gage","title":"T5","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":2080,"wires":[]},{"id":"22dba4b9.753bdc","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"T6","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2120,"wires":[["e3371bf6.3b2168"]]},{"id":"fb585c88.4b006","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"T5","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2080,"wires":[["9da08be8.46b2c8"]]},{"id":"7b22de54.288e8","type":"function","z":"d01cab14.d43908","name":"","func":"global.set(\"start\",msg.payload)\nglobal.set(\"AS\",msg.payload)\nglobal.set(\"R1\",true);\nglobal.set(\"R2\",true);\nglobal.set(\"R4\",true);\nglobal.set(\"driverf\",false)\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nglobal.set(\"check\",false)\nglobal.set(\"check1\",false)\nglobal.set(\"check2\",false)\nglobal.set(\"check3\",false)\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":1860,"wires":[["b61c8cf0.3a5cf"]]},{"id":"a7b77cc0.f6f93","type":"function","z":"d01cab14.d43908","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":700,"wires":[["949698af.001618"]]},{"id":"1c01f34a.f9134d","type":"function","z":"d01cab14.d43908","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":740,"wires":[["562673d3.6ad23c"]]},{"id":"ca758293.101bf","type":"delay","z":"d01cab14.d43908","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":360,"wires":[["148c9bbe.bb44f4"]]},{"id":"148c9bbe.bb44f4","type":"function","z":"d01cab14.d43908","name":"","func":"//var data = global.get(\"P2\")\nvar data = msg.payload;\nif (data < 15) {\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":880,"y":360,"wires":[["5031b1bf.e6bae","56231f31.160f5"]]},{"id":"5031b1bf.e6bae","type":"debug","z":"d01cab14.d43908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":360,"wires":[]},{"id":"9c69ead7.e0dee8","type":"function","z":"d01cab14.d43908","name":"","func":"var data = msg.payload\nif ( data === true) {\n    msg.reset = true ;\n    return msg;\n}","outputs":1,"noerr":0,"x":1540,"y":360,"wires":[["ca758293.101bf","36670d6a.a436d2"]]},{"id":"b46435fe.692f78","type":"ui_button","z":"d01cab14.d43908","name":"","group":"dcda5989.97ca38","order":2,"width":"4","height":"2","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":630,"y":2000,"wires":[["7b22de54.288e8"]]},{"id":"dd08887a.1674c8","type":"ui_button","z":"d01cab14.d43908","name":"","group":"dcda5989.97ca38","order":1,"width":"4","height":"2","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":770,"y":2080,"wires":[["7b22de54.288e8","aa068f73.de41d","57f7dc7d.c11de4","52ca4168.f4a69","c834bc4c.df35a","4d95bcaa.a5e154","8de4b73b.8d1f58","5fd01d1f.b8c784","6c6448ed.9d62e8","afa37ca1.1f6c9","dfe74fa0.9c87b","7c29954d.2caf9c","63a0bd62.f0fdf4","99e9b5a8.5163f8","61b3a3b1.ea5ebc","d16ece10.5bea6","7b387b2c.29bd04","a52f55f8.70af88"]]},{"id":"5750f26c.0e718c","type":"ui_toast","z":"d01cab14.d43908","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1170,"y":1580,"wires":[[]]},{"id":"b61c8cf0.3a5cf","type":"function","z":"d01cab14.d43908","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = \"Kapatma Başarılı\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1800,"wires":[["9e95f699.e27118"]]},{"id":"2bede9a6.b72656","type":"function","z":"d01cab14.d43908","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":2480,"wires":[["2cd9fe78.14b142"]]},{"id":"9e95f699.e27118","type":"function","z":"d01cab14.d43908","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1050,"y":1680,"wires":[["5750f26c.0e718c"]]},{"id":"3651424f.bb313e","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2200,"wires":[["a52f55f8.70af88"]]},{"id":"a52f55f8.70af88","type":"function","z":"d01cab14.d43908","name":"diode","func":"global.set(\"diode\", false)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":2200,"wires":[[]]},{"id":"2f4a6b15.633054","type":"inject","z":"d01cab14.d43908","name":"","topic":"","payload":"diode","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1470,"y":460,"wires":[["51bffa76.7e5a54"]]},{"id":"51bffa76.7e5a54","type":"switch","z":"d01cab14.d43908","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1590,"y":500,"wires":[["30fc419.843e6be"]]},{"id":"f50bec7f.15319","type":"ui_group","z":"","name":"Röle Durumları","tab":"e4ff2e76.0a796","order":2,"disp":true,"width":"5","collapse":false},{"id":"6f96cb39.619034","type":"ui_group","z":"","name":"Sensör Verileri","tab":"e4ff2e76.0a796","order":1,"disp":false,"width":"18","collapse":false},{"id":"d127fa97.a3f908","type":"ui_group","z":"","name":"Sürücü","tab":"e4ff2e76.0a796","order":5,"disp":false,"width":"5","collapse":false},{"id":"4d1bc46.e44f13c","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"e4ff2e76.0a796","order":5,"disp":false,"width":"8","collapse":false},{"id":"8731a593.088308","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"dcda5989.97ca38","type":"ui_group","z":"","name":"Start - Stop","tab":"e4ff2e76.0a796","order":6,"disp":false,"width":"8","collapse":false},{"id":"e4ff2e76.0a796","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]