20092019_algoritma_2_ankara.txt
[{"id":"4878976f.c99598","type":"delay","z":"5c72f796.06b8f8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":1100,"wires":[["381c8252.6a924e"]]},{"id":"22d02431.0b27ac","type":"function","z":"5c72f796.06b8f8","name":"set driver  \"10\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",10)\n    global.set(\"check1\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":780,"y":140,"wires":[["cc99e962.d0bb08"]]},{"id":"242e7602.e6589a","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["a2421e0e.2e361"]]},{"id":"7736b6e4.1a9888","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"temp3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":960,"wires":[["e27fe707.1b7138"]]},{"id":"96b6878b.c62768","type":"debug","z":"5c72f796.06b8f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":1280,"wires":[]},{"id":"59eebb71.840734","type":"switch","z":"5c72f796.06b8f8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1260,"wires":[["4dcbc2dc.abae3c"]]},{"id":"e12b485d.04fae8","type":"switch","z":"5c72f796.06b8f8","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":1300,"wires":[["4dcbc2dc.abae3c"]]},{"id":"a2d9b234.9560d","type":"function","z":"5c72f796.06b8f8","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[[]]},{"id":"b351cde1.92dae","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["a2d9b234.9560d"]]},{"id":"6e050aff.acf674","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":400,"wires":[["33b443fe.69dcec"]]},{"id":"992d8889.5914b8","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"62","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":440,"wires":[["33b443fe.69dcec"]]},{"id":"54576547.aae19c","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"67","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":480,"wires":[["33b443fe.69dcec"]]},{"id":"33b443fe.69dcec","type":"function","z":"5c72f796.06b8f8","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[[]]},{"id":"37eb58a0.d8b068","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"start","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["265671d6.a5b4ae"]]},{"id":"702568e9.84bdb8","type":"function","z":"5c72f796.06b8f8","name":"T1 > 70   -   R1-ON","func":"var data    =   global.get(\"T1\")\nif (data > 70) {\n    global.set(\"R1\",false)\n    msg.payload = true\n    global.set(\"start\",false)\n    return msg;\n}\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["54a16e27.8a59b"]]},{"id":"54a16e27.8a59b","type":"delay","z":"5c72f796.06b8f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":140,"wires":[["22d02431.0b27ac"]]},{"id":"aa76d31e.3b183","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["a2d9b234.9560d"]]},{"id":"b23e3c9a.21bf8","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":1740,"wires":[["3d0a7e4b.483102"]]},{"id":"3d0a7e4b.483102","type":"function","z":"5c72f796.06b8f8","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nglobal.set(\"R4\",true)\nglobal.set(\"reset\",undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1740,"wires":[[]]},{"id":"98a4f82f.8955d8","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":1780,"wires":[["a6648e07.ee509"]]},{"id":"a6648e07.ee509","type":"function","z":"5c72f796.06b8f8","name":"driver - driverf - driverg","func":"global.set(\"driver\",0)\nglobal.set(\"driverf\",false)\nglobal.set(\"driverg\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":1780,"wires":[[]]},{"id":"b00cc71d.e95028","type":"rpi-gpio out","z":"5c72f796.06b8f8","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":410,"y":1700,"wires":[]},{"id":"54a46e86.43b49","type":"rpi-gpio out","z":"5c72f796.06b8f8","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":410,"y":1800,"wires":[]},{"id":"b576e2a4.06fc1","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1760,"wires":[["b00cc71d.e95028","7ee293cb.5c1bec"]]},{"id":"4b18dcb.c230c24","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1860,"wires":[["54a46e86.43b49","b2f12735.742dd8"]]},{"id":"f8376c93.e87ec","type":"delay","z":"5c72f796.06b8f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":140,"wires":[["4b85c5c8.e71b3c"]]},{"id":"337f51a0.c01e1e","type":"function","z":"5c72f796.06b8f8","name":"R2-ON","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1360,"y":140,"wires":[["cd0f8e0c.c29dc"]]},{"id":"cd0f8e0c.c29dc","type":"delay","z":"5c72f796.06b8f8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":140,"wires":[["56802f52.8a9f6"]]},{"id":"56802f52.8a9f6","type":"function","z":"5c72f796.06b8f8","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1640,"y":140,"wires":[["b3bb989d.37bb98"]]},{"id":"7ee293cb.5c1bec","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":1760,"wires":[["e5847053.49c0a"]]},{"id":"b2f12735.742dd8","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":1860,"wires":[["1ef16693.e94379"]]},{"id":"e5847053.49c0a","type":"ui_text","z":"5c72f796.06b8f8","group":"c8e83a3c.d67b28","order":1,"width":"5","height":"1","name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":1760,"wires":[]},{"id":"1ef16693.e94379","type":"ui_text","z":"5c72f796.06b8f8","group":"c8e83a3c.d67b28","order":2,"width":"5","height":"1","name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":1860,"wires":[]},{"id":"f6ac201b.bbeaa","type":"ui_gauge","z":"5c72f796.06b8f8","name":"","group":"2392e717.f42f08","order":1,"width":"3","height":"5","gtype":"gage","title":"T1","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":2060,"wires":[]},{"id":"5d1f016b.2748e","type":"ui_gauge","z":"5c72f796.06b8f8","name":"","group":"2392e717.f42f08","order":2,"width":"3","height":"5","gtype":"gage","title":"T3","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":2100,"wires":[]},{"id":"505b03f8.80938c","type":"ui_gauge","z":"5c72f796.06b8f8","name":"","group":"2392e717.f42f08","order":3,"width":"3","height":"5","gtype":"gage","title":"P1","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":2220,"wires":[]},{"id":"13192a3d.a742f6","type":"ui_gauge","z":"5c72f796.06b8f8","name":"","group":"2392e717.f42f08","order":4,"width":"3","height":"5","gtype":"gage","title":"P2","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":2260,"wires":[]},{"id":"ad34efdd.409a7","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2060,"wires":[["f6ac201b.bbeaa"]]},{"id":"452ff9f6.bf9658","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2100,"wires":[["5d1f016b.2748e"]]},{"id":"e2c45415.dba7e8","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2220,"wires":[["505b03f8.80938c"]]},{"id":"ab602a19.6c4838","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2260,"wires":[["13192a3d.a742f6"]]},{"id":"13aa80b5.0a09ff","type":"ui_gauge","z":"5c72f796.06b8f8","name":"","group":"b42482bf.082fc","order":1,"width":"5","height":"5","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":2300,"wires":[]},{"id":"7d6c9b8b.cf6de4","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":2300,"wires":[["13aa80b5.0a09ff"]]},{"id":"17bad8f3.e22e87","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":1980,"wires":[["f9413127.354d3"]]},{"id":"f9413127.354d3","type":"function","z":"5c72f796.06b8f8","name":"set \"0\" (T1 - T3 - P1 - P2 - P2S - PS )","func":"global.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":1980,"wires":[[]]},{"id":"be74aea1.5febb","type":"switch","z":"5c72f796.06b8f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"55.9","v2t":"num"},{"t":"btwn","v":"56","vt":"num","v2":"60.9","v2t":"num"},{"t":"btwn","v":"61","vt":"num","v2":"65.9","v2t":"num"},{"t":"btwn","v":"66","vt":"num","v2":"70.9","v2t":"num"},{"t":"btwn","v":"71","vt":"num","v2":"75.9","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"80.9","v2t":"num"},{"t":"btwn","v":"81","vt":"num","v2":"85.9","v2t":"num"},{"t":"btwn","v":"86","vt":"num","v2":"90.9","v2t":"num"},{"t":"btwn","v":"91","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":1150,"y":520,"wires":[["aae5e91b.a8c0d8"],["218677ca.217d48"],["596a123d.65f1fc"],["c951125c.d669a"],["c3edcaa7.e91808"],["244d1cc1.fef6b4"],["6ca5e19.e63cb2"],["d69e66bc.24dd78"],["9242f9dc.e04de8"]]},{"id":"596a123d.65f1fc","type":"function","z":"5c72f796.06b8f8","name":"set \"12\" bar","func":"global.set(\"P2S\",12);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":440,"wires":[[]]},{"id":"c951125c.d669a","type":"function","z":"5c72f796.06b8f8","name":"set \"14\" bar","func":"global.set(\"P2S\",14);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":480,"wires":[[]]},{"id":"c3edcaa7.e91808","type":"function","z":"5c72f796.06b8f8","name":"set \"16\" bar","func":"global.set(\"P2S\",16);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":520,"wires":[[]]},{"id":"6ca5e19.e63cb2","type":"function","z":"5c72f796.06b8f8","name":"set \"19\" bar","func":"global.set(\"P2S\",19);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":600,"wires":[[]]},{"id":"218677ca.217d48","type":"function","z":"5c72f796.06b8f8","name":"set \"11\" bar","func":"global.set(\"P2S\",11);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":400,"wires":[[]]},{"id":"aae5e91b.a8c0d8","type":"function","z":"5c72f796.06b8f8","name":"set \"10\" bar","func":"global.set(\"P2S\",10);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":360,"wires":[[]]},{"id":"d69e66bc.24dd78","type":"function","z":"5c72f796.06b8f8","name":"set \"21\" bar","func":"global.set(\"P2S\",21);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":640,"wires":[[]]},{"id":"9242f9dc.e04de8","type":"function","z":"5c72f796.06b8f8","name":"set \"24\" bar","func":"global.set(\"P2S\",24);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":680,"wires":[[]]},{"id":"244d1cc1.fef6b4","type":"function","z":"5c72f796.06b8f8","name":"set \"18\" bar","func":"global.set(\"P2S\",18);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":560,"wires":[[]]},{"id":"cc0030f4.531d9","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":520,"wires":[["33b443fe.69dcec"]]},{"id":"60bff912.848268","type":"function","z":"5c72f796.06b8f8","name":"driver up down","func":"var p2s = global.get(\"P2S\");\nvar ps   = global.get(\"PS\");\n\nif (p2s > ps) {\n    msg.payload = true;\n    return msg;\n\n    \n}\nelse if (p2s < ps) {\n    msg.payload = false;\n    return msg;\n}\nelse if (p2s == ps) {\n    global.set(\"driverf\",false)\n    global.set(\"sensor\",false)\n    global.set(\"temp1\",true)\n}\n\n\n","outputs":1,"noerr":0,"x":460,"y":1280,"wires":[["59eebb71.840734","e12b485d.04fae8"]]},{"id":"449927d1.08d7b8","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"82","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":600,"wires":[["33b443fe.69dcec"]]},{"id":"e4444180.e0d64","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":640,"wires":[["33b443fe.69dcec"]]},{"id":"c3a24ac7.3b5738","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"driverf","payloadType":"global","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1280,"wires":[["cfe1b3b5.c99ed"]]},{"id":"b3e8c128.69ca9","type":"function","z":"5c72f796.06b8f8","name":"msg.payload = T3","func":"global.set(\"diode\",true)\nvar data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":520,"wires":[["be74aea1.5febb"]]},{"id":"cf65377e.8fa3f8","type":"switch","z":"5c72f796.06b8f8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":520,"wires":[["b3e8c128.69ca9"]]},{"id":"ef45bb27.a1a048","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"temp1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":520,"wires":[["cf65377e.8fa3f8"]]},{"id":"2f9e8020.4c9a5","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":1820,"wires":[["e44339e.308d4c8"]]},{"id":"e44339e.308d4c8","type":"function","z":"5c72f796.06b8f8","name":"start","func":"global.set(\"start\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1820,"wires":[[]]},{"id":"265671d6.a5b4ae","type":"switch","z":"5c72f796.06b8f8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":100,"wires":[["702568e9.84bdb8"]]},{"id":"7114a63d.efe938","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":1860,"wires":[["1e954694.90e039"]]},{"id":"1e954694.90e039","type":"function","z":"5c72f796.06b8f8","name":"temp1 - temp2 - temp3","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":1860,"wires":[[]]},{"id":"9a8761ea.72e5a","type":"function","z":"5c72f796.06b8f8","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1060,"wires":[["d55d10a2.c98ed"]]},{"id":"d55d10a2.c98ed","type":"switch","z":"5c72f796.06b8f8","name":"T3 > 95","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"95","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1060,"wires":[["58b54a26.8b64e4"]]},{"id":"abe4d3c8.d125e","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1060,"wires":[["df14ade4.94de2"]]},{"id":"86c991f1.5a124","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"77","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":560,"wires":[["33b443fe.69dcec"]]},{"id":"df14ade4.94de2","type":"switch","z":"5c72f796.06b8f8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1060,"wires":[["9a8761ea.72e5a"]]},{"id":"1940a282.2223ed","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"P2S","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2340,"wires":[["7c8a6176.3f901"]]},{"id":"7c8a6176.3f901","type":"ui_gauge","z":"5c72f796.06b8f8","name":"","group":"907a33e.5a131d","order":2,"width":"4","height":"3","gtype":"gage","title":"P2S","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":2340,"wires":[]},{"id":"966841e7.aef99","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":1900,"wires":[["340691be.95825e"]]},{"id":"340691be.95825e","type":"function","z":"5c72f796.06b8f8","name":"pres1 - pres2","func":"global.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1900,"wires":[[]]},{"id":"59677ff6.ba95a","type":"function","z":"5c72f796.06b8f8","name":"msg.payload = P1","func":"var data    =   global.get(\"P1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1100,"wires":[["b8baad92.04467"]]},{"id":"3fe3b6a5.c4f8da","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"pres1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1100,"wires":[["be9f1bb0.792438"]]},{"id":"be9f1bb0.792438","type":"switch","z":"5c72f796.06b8f8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1100,"wires":[["59677ff6.ba95a"]]},{"id":"972ae02d.14f07","type":"function","z":"5c72f796.06b8f8","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1140,"wires":[["d9bb82b2.621e9"]]},{"id":"ed03c789.7f4e08","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"pres2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1140,"wires":[["a744a5bb.3439b8"]]},{"id":"a744a5bb.3439b8","type":"switch","z":"5c72f796.06b8f8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1140,"wires":[["972ae02d.14f07"]]},{"id":"58b54a26.8b64e4","type":"function","z":"5c72f796.06b8f8","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"R4\",true);\nglobal.set(\"driverf\",false)\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nglobal.set(\"check\",false)\nglobal.set(\"check1\",false)\nglobal.set(\"check2\",false)\nglobal.set(\"check3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1100,"wires":[["4878976f.c99598"]]},{"id":"381c8252.6a924e","type":"function","z":"5c72f796.06b8f8","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"check3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1100,"wires":[[]]},{"id":"b8baad92.04467","type":"switch","z":"5c72f796.06b8f8","name":"P1 > 13","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"13","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1100,"wires":[["58b54a26.8b64e4"]]},{"id":"d9bb82b2.621e9","type":"switch","z":"5c72f796.06b8f8","name":"P2 > 30","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1140,"wires":[["58b54a26.8b64e4"]]},{"id":"e27fe707.1b7138","type":"switch","z":"5c72f796.06b8f8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":960,"wires":[["7e764a8b.e5ef74"]]},{"id":"7e764a8b.e5ef74","type":"function","z":"5c72f796.06b8f8","name":"T3 < 50","func":"var data = global.get(\"T3\")\nif (data < 50) {\n    msg.payload = false\n    global.set(\"temp4\",true)\n    global.set(\"driverf\",false)\n    global.set(\"driver\",10)\n    global.set(\"check2\",true)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":840,"y":960,"wires":[[]]},{"id":"1a31050d.579c2b","type":"switch","z":"5c72f796.06b8f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"9.1","vt":"num","v2":"10","v2t":"num"},{"t":"btwn","v":"10.1","vt":"num","v2":"11","v2t":"num"},{"t":"btwn","v":"11.1","vt":"num","v2":"12","v2t":"num"},{"t":"btwn","v":"12.1","vt":"num","v2":"14","v2t":"num"},{"t":"btwn","v":"14.1","vt":"num","v2":"16","v2t":"num"},{"t":"btwn","v":"16.1","vt":"num","v2":"18","v2t":"num"},{"t":"btwn","v":"18.1","vt":"num","v2":"19","v2t":"num"},{"t":"btwn","v":"19.1","vt":"num","v2":"21","v2t":"num"},{"t":"btwn","v":"21.1","vt":"num","v2":"24","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":630,"y":1580,"wires":[["26ac1b74.ffeb84"],["e215ef8d.7f9d6"],["ed859e52.8a8bf"],["c4e11f97.1df25"],["3412463b.b994aa"],["fa325ff.90651a"],["25040a3e.45e436"],["e50aed9f.76a31"],["c3fb9e08.26379"]]},{"id":"9eb621f6.44028","type":"function","z":"5c72f796.06b8f8","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1580,"wires":[["1a31050d.579c2b"]]},{"id":"2093f0e.1aa9e1","type":"debug","z":"5c72f796.06b8f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":1400,"wires":[]},{"id":"26ac1b74.ffeb84","type":"function","z":"5c72f796.06b8f8","name":"","func":"global.set(\"PS\",10);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1420,"wires":[[]]},{"id":"e215ef8d.7f9d6","type":"function","z":"5c72f796.06b8f8","name":"","func":"global.set(\"PS\",11);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1460,"wires":[[]]},{"id":"ed859e52.8a8bf","type":"function","z":"5c72f796.06b8f8","name":"","func":"global.set(\"PS\",12);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1500,"wires":[[]]},{"id":"c4e11f97.1df25","type":"function","z":"5c72f796.06b8f8","name":"","func":"global.set(\"PS\",14);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1540,"wires":[[]]},{"id":"3412463b.b994aa","type":"function","z":"5c72f796.06b8f8","name":"","func":"global.set(\"PS\",16);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1580,"wires":[[]]},{"id":"fa325ff.90651a","type":"function","z":"5c72f796.06b8f8","name":"","func":"global.set(\"PS\",18);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1620,"wires":[[]]},{"id":"25040a3e.45e436","type":"function","z":"5c72f796.06b8f8","name":"","func":"global.set(\"PS\",19);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1660,"wires":[[]]},{"id":"e50aed9f.76a31","type":"function","z":"5c72f796.06b8f8","name":"","func":"global.set(\"PS\",21);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1700,"wires":[[]]},{"id":"c3fb9e08.26379","type":"function","z":"5c72f796.06b8f8","name":"","func":"global.set(\"PS\",24);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1740,"wires":[[]]},{"id":"ffd9a9b2.51b918","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"PS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2380,"wires":[["7d312a82.a8d504"]]},{"id":"7d312a82.a8d504","type":"ui_gauge","z":"5c72f796.06b8f8","name":"","group":"907a33e.5a131d","order":1,"width":"4","height":"3","gtype":"gage","title":"PS","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":2380,"wires":[]},{"id":"51d17ba7.21a274","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"sensor","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1580,"wires":[["98abcb28.460f28"]]},{"id":"44fc02d0.f38f1c","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"AS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1270,"y":1040,"wires":[["2243f153.99c71e"]]},{"id":"cfe1b3b5.c99ed","type":"switch","z":"5c72f796.06b8f8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1280,"wires":[["60bff912.848268"]]},{"id":"2243f153.99c71e","type":"switch","z":"5c72f796.06b8f8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":1040,"wires":[["d5168071.94521"]]},{"id":"d5168071.94521","type":"function","z":"5c72f796.06b8f8","name":"T3<95 & P1<10 & P2<25","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif ( t3 < 95 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"AS\",false)\n    global.set(\"start\",true)\n    return msg;\n}\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1590,"y":1040,"wires":[[]]},{"id":"ce164472.b88748","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":1940,"wires":[["c552d7bc.dee938"]]},{"id":"c552d7bc.dee938","type":"function","z":"5c72f796.06b8f8","name":"sensor","func":"global.set(\"sensor\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1940,"wires":[[]]},{"id":"98abcb28.460f28","type":"switch","z":"5c72f796.06b8f8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1580,"wires":[["9eb621f6.44028"]]},{"id":"4d6e5821.e16668","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":360,"wires":[["33b443fe.69dcec"]]},{"id":"cb9ef83c.ea6498","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"92","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":680,"wires":[["33b443fe.69dcec"]]},{"id":"9ae7c238.935b1","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":720,"wires":[["33b443fe.69dcec"]]},{"id":"bad0add7.98ade","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["33b443fe.69dcec"]]},{"id":"4dcbc2dc.abae3c","type":"function","z":"5c72f796.06b8f8","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <50){\n    global.set('driver', Value + 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('driver', Value - 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":810,"y":1280,"wires":[["96b6878b.c62768"]]},{"id":"fde04a15.f8dcb8","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"check","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":1360,"wires":[["37436bf3.bac874"]]},{"id":"33da4308.af4d7c","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1090,"y":1360,"wires":[["8139cbb.e0aeb38"]]},{"id":"37436bf3.bac874","type":"switch","z":"5c72f796.06b8f8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1360,"wires":[["33da4308.af4d7c"]]},{"id":"6224bcce.190834","type":"function","z":"5c72f796.06b8f8","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":1390,"y":1420,"wires":[[]]},{"id":"8139cbb.e0aeb38","type":"range","z":"5c72f796.06b8f8","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1220,"y":1360,"wires":[["6224bcce.190834","461d3502.da03ac"]]},{"id":"7ebc4a29.980234","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":2060,"wires":[["7993ac1e.feefd4"]]},{"id":"7993ac1e.feefd4","type":"function","z":"5c72f796.06b8f8","name":"modbus 1-2-3   \"0\"","func":"global.set(\"modbus1\",0)\nglobal.set(\"modbus2\",0)\nglobal.set(\"modbus3\",0)\nglobal.set(\"modbus4\",0)\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":2060,"wires":[[]]},{"id":"87df6102.592a1","type":"function","z":"5c72f796.06b8f8","name":"msg.payload.value","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nif (data == modbus ) {\n    global.set(\"check\",false)\n    global.set(\"driverf\",true)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1630,"y":1320,"wires":[[]]},{"id":"59c1dd4f.c11cc4","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":2140,"wires":[["a94556ef.0dc618"]]},{"id":"a94556ef.0dc618","type":"function","z":"5c72f796.06b8f8","name":"","func":"//global.set(\"value\", undefined)\nglobal.set(\"address\", 0)\nglobal.set(\"fc\", 6)\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":2140,"wires":[[]]},{"id":"3d3dc19c.3526de","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":2100,"wires":[["7fb0327.ffc1bcc"]]},{"id":"7fb0327.ffc1bcc","type":"function","z":"5c72f796.06b8f8","name":"Global set \"false\"  checks","func":"global.set(\"check\",false);\nglobal.set(\"check1\",false);\nglobal.set(\"check2\",false);\nglobal.set(\"check3\",false);\n","outputs":1,"noerr":0,"x":1530,"y":2100,"wires":[[]]},{"id":"5788d0fd.b6271","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1240,"y":1280,"wires":[["5c1ed806.9dcba8"]]},{"id":"5c1ed806.9dcba8","type":"function","z":"5c72f796.06b8f8","name":"","func":"msg.payload = global.get(\"modbus1\")\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":1280,"wires":[["87df6102.592a1"]]},{"id":"dd357dad.69ab9","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"check1","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":280,"wires":[["799f0df1.f032e4"]]},{"id":"799f0df1.f032e4","type":"switch","z":"5c72f796.06b8f8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":280,"wires":[["242e7602.e6589a"]]},{"id":"a2421e0e.2e361","type":"range","z":"5c72f796.06b8f8","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":920,"y":280,"wires":[["47d67c0.3bb5984","c979f2f4.01389"]]},{"id":"47d67c0.3bb5984","type":"function","z":"5c72f796.06b8f8","name":"Set modbus2","func":"global.set(\"modbus2\", msg.payload)\n","outputs":1,"noerr":0,"x":1090,"y":340,"wires":[[]]},{"id":"c72148c2.75a388","type":"function","z":"5c72f796.06b8f8","name":"","func":"msg.payload = global.get(\"modbus2\")\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":220,"wires":[["e8fcd96c.e93808"]]},{"id":"99b4a4b6.381ff8","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":220,"wires":[["c72148c2.75a388"]]},{"id":"e8fcd96c.e93808","type":"function","z":"5c72f796.06b8f8","name":"msg.payload.value","func":"global.set(\"value1\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus2\")\nif (data == modbus ) {\n    global.set(\"check1\",false)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1310,"y":240,"wires":[["f8376c93.e87ec"]]},{"id":"b7bc3f8e.31395","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"check2","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":820,"wires":[["d94b750c.3e2d48"]]},{"id":"d94b750c.3e2d48","type":"switch","z":"5c72f796.06b8f8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":820,"wires":[["f6166c4.1cd4a9"]]},{"id":"f6166c4.1cd4a9","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1130,"y":820,"wires":[["5ad4851a.a326fc"]]},{"id":"5ad4851a.a326fc","type":"range","z":"5c72f796.06b8f8","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1260,"y":820,"wires":[["38e87adb.827f16","6dcaffd5.023e3"]]},{"id":"38e87adb.827f16","type":"function","z":"5c72f796.06b8f8","name":"Set modbus3","func":"global.set(\"modbus3\", msg.payload)\n","outputs":1,"noerr":0,"x":1430,"y":880,"wires":[[]]},{"id":"c36b3b42.ec7fe8","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1260,"y":760,"wires":[["7fc88709.17ae38"]]},{"id":"7fc88709.17ae38","type":"function","z":"5c72f796.06b8f8","name":"","func":"msg.payload = global.get(\"modbus3\")\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":760,"wires":[["31793d1c.8444f2"]]},{"id":"31793d1c.8444f2","type":"function","z":"5c72f796.06b8f8","name":"msg.payload.value","func":"global.set(\"value2\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus3\")\nif (data == modbus ) {\n    global.set(\"check2\",false)\n    //global.set(\"temp3\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1670,"y":820,"wires":[[]]},{"id":"f5b3cf76.0ef09","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":2020,"wires":[["cc22991.04b1168"]]},{"id":"cc22991.04b1168","type":"function","z":"5c72f796.06b8f8","name":"\"AS\" false","func":"global.set(\"AS\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":2020,"wires":[[]]},{"id":"3993e382.8b5fcc","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"check3","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":1160,"wires":[["81114169.00127"]]},{"id":"81114169.00127","type":"switch","z":"5c72f796.06b8f8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":1160,"wires":[["e4175cb9.472d"]]},{"id":"e4175cb9.472d","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1110,"y":1160,"wires":[["9b0eedfc.76763"]]},{"id":"9b0eedfc.76763","type":"range","z":"5c72f796.06b8f8","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1240,"y":1160,"wires":[["63f8083a.5f1598","ca15a2cb.bcfab"]]},{"id":"63f8083a.5f1598","type":"function","z":"5c72f796.06b8f8","name":"Set modbus3","func":"global.set(\"modbus4\", msg.payload)\n","outputs":1,"noerr":0,"x":1410,"y":1220,"wires":[[]]},{"id":"44fbf578.d5ddbc","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":1100,"wires":[["3e418e33.468032"]]},{"id":"3e418e33.468032","type":"function","z":"5c72f796.06b8f8","name":"","func":"msg.payload = global.get(\"modbus4\")\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":1100,"wires":[["8edd7de9.3f9a6"]]},{"id":"8edd7de9.3f9a6","type":"function","z":"5c72f796.06b8f8","name":"msg.payload.value","func":"global.set(\"value3\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus4\")\nif (data == modbus ) {\n    global.set(\"check3\",false)\n    global.set(\"AS\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1630,"y":1120,"wires":[[]]},{"id":"c979f2f4.01389","type":"modbus-write","z":"5c72f796.06b8f8","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"a3e9683d.f044e8","x":1100,"y":280,"wires":[["2ec60ed3.967e42","e8fcd96c.e93808"],[]]},{"id":"2ec60ed3.967e42","type":"debug","z":"5c72f796.06b8f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":300,"wires":[]},{"id":"e9cb481c.ffc488","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":360,"wires":[["c979f2f4.01389"]]},{"id":"461d3502.da03ac","type":"modbus-write","z":"5c72f796.06b8f8","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"a3e9683d.f044e8","x":1400,"y":1360,"wires":[["87df6102.592a1","2093f0e.1aa9e1"],[]]},{"id":"ca15a2cb.bcfab","type":"modbus-write","z":"5c72f796.06b8f8","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"a3e9683d.f044e8","x":1420,"y":1160,"wires":[["8edd7de9.3f9a6","1e2bba9c.b03bb5"],[]]},{"id":"99d9022c.09cea","type":"comment","z":"5c72f796.06b8f8","name":"Bızıklama","info":"","x":1360,"y":100,"wires":[]},{"id":"1e2bba9c.b03bb5","type":"debug","z":"5c72f796.06b8f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1630,"y":1200,"wires":[]},{"id":"6dcaffd5.023e3","type":"modbus-write","z":"5c72f796.06b8f8","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"a3e9683d.f044e8","x":1440,"y":820,"wires":[["31793d1c.8444f2","c2563d63.ac2d4"],[]]},{"id":"c2563d63.ac2d4","type":"debug","z":"5c72f796.06b8f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1650,"y":900,"wires":[]},{"id":"4b85c5c8.e71b3c","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = global.get(\"P2\")\nif (data >= 15) {\n    msg.payload = true\n    return msg;\n}\nelse if (data < 15) {\n    msg.payload = false\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1210,"y":140,"wires":[["337f51a0.c01e1e","5279c1b8.0282"]]},{"id":"5279c1b8.0282","type":"switch","z":"5c72f796.06b8f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":80,"wires":[["f8376c93.e87ec"]]},{"id":"449938bb.85c718","type":"function","z":"5c72f796.06b8f8","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1180,"wires":[["79fdf317.d293bc"]]},{"id":"d7100384.0ad3d","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"pres3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1180,"wires":[["254bc16e.601b7e"]]},{"id":"254bc16e.601b7e","type":"switch","z":"5c72f796.06b8f8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1180,"wires":[["449938bb.85c718"]]},{"id":"79fdf317.d293bc","type":"switch","z":"5c72f796.06b8f8","name":"P2 <= 9","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"9","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1180,"wires":[["58b54a26.8b64e4"]]},{"id":"393656cb.c75f8a","type":"debug","z":"5c72f796.06b8f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":1220,"wires":[]},{"id":"1b7ce0b8.534d1f","type":"comment","z":"5c72f796.06b8f8","name":"Sorunlu Koşul","info":"","x":670,"y":920,"wires":[]},{"id":"809ec346.28297","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"temp4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":1000,"wires":[["49f43fa4.e2aec"]]},{"id":"49f43fa4.e2aec","type":"switch","z":"5c72f796.06b8f8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1000,"wires":[["8023b83.c945448"]]},{"id":"8023b83.c945448","type":"function","z":"5c72f796.06b8f8","name":"T3 > 50","func":"var data = global.get(\"T3\")\nif (data > 50) {\n    global.set(\"temp4\",false)\n    //global.set(\"temp1\",true)\n    msg.payload = true\n    return msg;\n}","outputs":1,"noerr":0,"x":840,"y":1000,"wires":[["56802f52.8a9f6"]]},{"id":"4a032618.a00268","type":"function","z":"5c72f796.06b8f8","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2300,"wires":[["7f010e6f.4ea88","e69b397.f9039c8"]]},{"id":"264d881.c963278","type":"link in","z":"5c72f796.06b8f8","name":"","links":["7f010e6f.4ea88"],"x":515,"y":220,"wires":[["54a16e27.8a59b","f8376c93.e87ec","cd0f8e0c.c29dc","cc99e962.d0bb08","b3bb989d.37bb98"]]},{"id":"7f010e6f.4ea88","type":"link out","z":"5c72f796.06b8f8","name":"","links":["264d881.c963278"],"x":1315,"y":2300,"wires":[]},{"id":"baeb698f.621828","type":"link in","z":"5c72f796.06b8f8","name":"","links":["e69b397.f9039c8"],"x":815,"y":1040,"wires":[["4878976f.c99598"]]},{"id":"e69b397.f9039c8","type":"link out","z":"5c72f796.06b8f8","name":"","links":["baeb698f.621828"],"x":1315,"y":2340,"wires":[]},{"id":"483757fa.2377e8","type":"function","z":"5c72f796.06b8f8","name":"","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":1500,"wires":[["ca15a2cb.bcfab","6dcaffd5.023e3","c979f2f4.01389","461d3502.da03ac"]]},{"id":"777cd862.ccc188","type":"rpi-gpio out","z":"5c72f796.06b8f8","name":"R4","pin":"15","set":"","level":"0","freq":"","out":"out","x":410,"y":1920,"wires":[]},{"id":"8693cb74.2a22d8","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"R4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1980,"wires":[["777cd862.ccc188","6972e731.d1a6f8"]]},{"id":"6972e731.d1a6f8","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":1980,"wires":[["94bcbaf7.2705f8"]]},{"id":"94bcbaf7.2705f8","type":"ui_text","z":"5c72f796.06b8f8","group":"c8e83a3c.d67b28","order":2,"width":"5","height":"1","name":"","label":"R4","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":1980,"wires":[]},{"id":"b3bb989d.37bb98","type":"delay","z":"5c72f796.06b8f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1620,"y":260,"wires":[["c0f87690.0b5ba8"]]},{"id":"8b46e958.f86a48","type":"function","z":"5c72f796.06b8f8","name":"","func":"var t3 = global.get(\"T3\")\nvar p2 = global.get(\"P2\")\n\nif (t3 > 65 && p2 > 16 ) {\n    global.set(\"R4\",false)\n    global.set(\"diode\",false)\n}\n","outputs":1,"noerr":0,"x":1590,"y":620,"wires":[[]]},{"id":"e2fcb5b4.20b398","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":2180,"wires":[["4fce7c4d.985a04"]]},{"id":"4fce7c4d.985a04","type":"function","z":"5c72f796.06b8f8","name":"values","func":"global.set(\"value\", undefined)\nglobal.set(\"value1\", undefined)\nglobal.set(\"value2\", undefined)\nglobal.set(\"value3\", undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":2180,"wires":[[]]},{"id":"aed78008.1b676","type":"function","z":"5c72f796.06b8f8","name":"","func":"var v   =   global.get(\"value\");\nvar v1  =   global.get(\"value1\");\nvar v2  =   global.get(\"value2\");\nvar v3  =   global.get(\"value3\");\nif (v === 0 && v1 === 0 && v2 === 0 && v3 === 0) {\n    msg.payload = true;\n    return msg;\n}\nelse {\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":2300,"wires":[["85428cc9.30bdb"]]},{"id":"85428cc9.30bdb","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Sistem Hazır\" ;\n    return msg;\n}\nelse if (data === false){\n    msg.payload = \"Sistem Hazırlanıyor\" ;\n    return msg;\n}\nelse {\n    msg.payload = \" \" ;\n    return msg;\n}","outputs":1,"noerr":0,"x":770,"y":2380,"wires":[["b940475.c4e14b8","49f29ec5.851d2"]]},{"id":"49f29ec5.851d2","type":"ui_text","z":"5c72f796.06b8f8","group":"c8e83a3c.d67b28","order":2,"width":"5","height":"1","name":"","label":"Sistem Durumu","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":2420,"wires":[]},{"id":"5227c968.9e0ba8","type":"ui_toast","z":"5c72f796.06b8f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1170,"y":2560,"wires":[[]]},{"id":"d4a5c9c3.08eb68","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":2220,"wires":[["471fdf83.f418c"]]},{"id":"471fdf83.f418c","type":"function","z":"5c72f796.06b8f8","name":"numbers","func":"global.set(\"number\", undefined)\nglobal.set(\"number2\", undefined)\n\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":2220,"wires":[[]]},{"id":"6a6f93f4.41295c","type":"delay","z":"5c72f796.06b8f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":2220,"wires":[["aed78008.1b676"]]},{"id":"29c1cc0a.396be4","type":"modbus-read","z":"5c72f796.06b8f8","name":"Temp","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"a3e9683d.f044e8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":260,"wires":[["32f114e3.8be46c"],[]]},{"id":"32f114e3.8be46c","type":"function","z":"5c72f796.06b8f8","name":"","func":"var T1 = msg.payload[0] /10\nvar T2 = msg.payload[1] /10\nvar T3 = msg.payload[2] /10\nvar T4 = msg.payload[3] /10\nvar T5 = msg.payload[4] /10\nvar T6 = msg.payload[5] /10\n\nif (T1 != 850) {\n    global.set(\"T1\",T1)\n}\n    \nif (T3 != 850) {\n    global.set(\"T3\",T3)\n    \n}\nif (T5 != 850) {\n    global.set(\"T5\",T5)\n    \n}\nif (T6 != 850) {\n    global.set(\"T6\",T6)\n    \n}\nglobal.set(\"T2\",T2)\n\nglobal.set(\"T4\",T4)\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[[]]},{"id":"4c0d440.db41abc","type":"modbus-read","z":"5c72f796.06b8f8","name":"Pres","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"a3e9683d.f044e8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":780,"wires":[["c5075be6.a7f8e8","5b0e2765.5f11c8"],[]]},{"id":"c5075be6.a7f8e8","type":"function","z":"5c72f796.06b8f8","name":"","func":"var P1 = msg.payload[0] /100\n\nmsg.payload = P1\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":760,"wires":[["2c5407db.fb7d98"]]},{"id":"2c5407db.fb7d98","type":"range","z":"5c72f796.06b8f8","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload","name":"","x":410,"y":760,"wires":[["f3187481.51a818"]]},{"id":"5b0e2765.5f11c8","type":"function","z":"5c72f796.06b8f8","name":"","func":"var P2 = msg.payload[1] /100\n\nmsg.payload = P2\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":800,"wires":[["9cf679d7.bbcf28"]]},{"id":"9cf679d7.bbcf28","type":"range","z":"5c72f796.06b8f8","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"","x":410,"y":800,"wires":[["8ecf0956.d48a98"]]},{"id":"62ee054a.c9823c","type":"function","z":"5c72f796.06b8f8","name":"","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":760,"wires":[[]]},{"id":"2f70fba3.a27f54","type":"function","z":"5c72f796.06b8f8","name":"","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":800,"wires":[[]]},{"id":"6cd94c43.224f84","type":"ui_gauge","z":"5c72f796.06b8f8","name":"","group":"2392e717.f42f08","order":6,"width":"3","height":"5","gtype":"gage","title":"T6","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":2180,"wires":[]},{"id":"46cdd80b.81ce68","type":"ui_gauge","z":"5c72f796.06b8f8","name":"","group":"2392e717.f42f08","order":5,"width":"3","height":"5","gtype":"gage","title":"T5","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":2140,"wires":[]},{"id":"503bb4f5.0e2f8c","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"T6","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2180,"wires":[["6cd94c43.224f84"]]},{"id":"655c8ee7.f0765","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"T5","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":2140,"wires":[["46cdd80b.81ce68"]]},{"id":"d6e6c3c7.2ce03","type":"function","z":"5c72f796.06b8f8","name":"","func":"global.set(\"start\",msg.payload)\nglobal.set(\"AS\",msg.payload)\nglobal.set(\"R1\",true);\nglobal.set(\"R2\",true);\nglobal.set(\"R4\",true);\nglobal.set(\"driverf\",false)\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nglobal.set(\"check\",false)\nglobal.set(\"check1\",false)\nglobal.set(\"check2\",false)\nglobal.set(\"check3\",false)\n\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":1920,"wires":[["1e4b91a1.655b4e"]]},{"id":"f3187481.51a818","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["62ee054a.c9823c"]]},{"id":"8ecf0956.d48a98","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":800,"wires":[["2f70fba3.a27f54"]]},{"id":"cc99e962.d0bb08","type":"delay","z":"5c72f796.06b8f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":420,"wires":[["82337181.492de"]]},{"id":"82337181.492de","type":"function","z":"5c72f796.06b8f8","name":"","func":"//var data = global.get(\"P2\")\nvar data = msg.payload;\nif (data < 15) {\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":920,"y":420,"wires":[["52d6e98.0a74918","56802f52.8a9f6"]]},{"id":"52d6e98.0a74918","type":"debug","z":"5c72f796.06b8f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":420,"wires":[]},{"id":"c0f87690.0b5ba8","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = msg.payload\nif ( data === true) {\n    msg.reset = true ;\n    return msg;\n}","outputs":1,"noerr":0,"x":1580,"y":420,"wires":[["cc99e962.d0bb08","f8376c93.e87ec"]]},{"id":"f6b3f96.6d1f608","type":"ui_button","z":"5c72f796.06b8f8","name":"","group":"c96f3ec7.39d1f","order":2,"width":"4","height":"2","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":670,"y":2060,"wires":[["d6e6c3c7.2ce03"]]},{"id":"e1bd925c.7bbb8","type":"ui_button","z":"5c72f796.06b8f8","name":"","group":"c96f3ec7.39d1f","order":1,"width":"4","height":"2","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":810,"y":2140,"wires":[["d6e6c3c7.2ce03","6a6f93f4.41295c","4a032618.a00268","483757fa.2377e8","a94556ef.0dc618","7fb0327.ffc1bcc","7993ac1e.feefd4","cc22991.04b1168","f9413127.354d3","c552d7bc.dee938","340691be.95825e","1e954694.90e039","e44339e.308d4c8","a6648e07.ee509","3d0a7e4b.483102","4fce7c4d.985a04","471fdf83.f418c","dc81af0a.1bb1b"]]},{"id":"2fb7b783.932278","type":"ui_toast","z":"5c72f796.06b8f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1210,"y":1640,"wires":[[]]},{"id":"1e4b91a1.655b4e","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = \"Kapatma Başarılı\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1860,"wires":[["ee1f837.6dec18"]]},{"id":"b940475.c4e14b8","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":2540,"wires":[["5227c968.9e0ba8"]]},{"id":"ee1f837.6dec18","type":"function","z":"5c72f796.06b8f8","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1090,"y":1740,"wires":[["2fb7b783.932278"]]},{"id":"569c62a8.7c9c4c","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":2260,"wires":[["dc81af0a.1bb1b"]]},{"id":"dc81af0a.1bb1b","type":"function","z":"5c72f796.06b8f8","name":"diode","func":"global.set(\"diode\", false)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":2260,"wires":[[]]},{"id":"3f095d6a.eaa292","type":"inject","z":"5c72f796.06b8f8","name":"","topic":"","payload":"diode","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1510,"y":520,"wires":[["cc26ce5f.90751"]]},{"id":"cc26ce5f.90751","type":"switch","z":"5c72f796.06b8f8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1630,"y":560,"wires":[["8b46e958.f86a48"]]},{"id":"c8e83a3c.d67b28","type":"ui_group","z":"","name":"Röle Durumları","tab":"e65e5119.ca06d","order":2,"disp":true,"width":"5","collapse":false},{"id":"2392e717.f42f08","type":"ui_group","z":"","name":"Sensör Verileri","tab":"e65e5119.ca06d","order":1,"disp":false,"width":"18","collapse":false},{"id":"b42482bf.082fc","type":"ui_group","z":"","name":"Sürücü","tab":"e65e5119.ca06d","order":5,"disp":false,"width":"5","collapse":false},{"id":"907a33e.5a131d","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"e65e5119.ca06d","order":5,"disp":false,"width":"8","collapse":false},{"id":"a3e9683d.f044e8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"c96f3ec7.39d1f","type":"ui_group","z":"","name":"Start - Stop","tab":"e65e5119.ca06d","order":6,"disp":false,"width":"8","collapse":false},{"id":"e65e5119.ca06d","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]