Algoritma_2_16092019.txt
[{"id":"47a2673a.5b2528","type":"function","z":"9ea44f4c.1949e","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[[]]},{"id":"74a15b0e.c938d4","type":"debug","z":"9ea44f4c.1949e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1200,"wires":[]},{"id":"4e032a34.89ee24","type":"switch","z":"9ea44f4c.1949e","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1180,"wires":[["9fd59019.0fec7"]]},{"id":"95704360.0eee","type":"switch","z":"9ea44f4c.1949e","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":1220,"wires":[["9fd59019.0fec7"]]},{"id":"83c60aa2.a4c968","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["47a2673a.5b2528"]]},{"id":"bf8ec8f8.160028","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["58676bf2.611be4"]]},{"id":"333a921f.b161ee","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"62","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["58676bf2.611be4"]]},{"id":"9381683e.d76798","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"67","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["58676bf2.611be4"]]},{"id":"58676bf2.611be4","type":"function","z":"9ea44f4c.1949e","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[[]]},{"id":"aa7974c3.93ac58","type":"function","z":"9ea44f4c.1949e","name":"P1","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":700,"wires":[[]]},{"id":"f0045e04.446bc","type":"function","z":"9ea44f4c.1949e","name":"P2","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":780,"wires":[[]]},{"id":"9482979e.6a9e18","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"start","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["dc93e94b.40c118"]]},{"id":"12f61666.c77d8a","type":"function","z":"9ea44f4c.1949e","name":"T1 > 70   -   R1-ON","func":"var data    =   global.get(\"T1\")\nif (data > 70) {\n    global.set(\"R1\",false)\n    msg.payload = true\n    global.set(\"start\",false)\n    return msg;\n}\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["9bf8e40d.3c8ec8"]]},{"id":"9bf8e40d.3c8ec8","type":"delay","z":"9ea44f4c.1949e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":60,"wires":[["25676d8c.1a15c2"]]},{"id":"bd2ba268.8cfda","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["47a2673a.5b2528"]]},{"id":"61a23e8f.81351","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":1960,"wires":[["a86024ea.2b4c78"]]},{"id":"a86024ea.2b4c78","type":"function","z":"9ea44f4c.1949e","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":1960,"wires":[[]]},{"id":"ac2daccc.33771","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2000,"wires":[["3d4e7072.caa64"]]},{"id":"3d4e7072.caa64","type":"function","z":"9ea44f4c.1949e","name":"driver - driverf - driverg","func":"global.set(\"driver\",0)\nglobal.set(\"driverf\",false)\nglobal.set(\"driverg\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":2000,"wires":[[]]},{"id":"60dcf3e4.1df2cc","type":"rpi-gpio out","z":"9ea44f4c.1949e","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":930,"y":1740,"wires":[]},{"id":"1c40be84.87e6c1","type":"rpi-gpio out","z":"9ea44f4c.1949e","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":930,"y":1840,"wires":[]},{"id":"2df41aa3.a2def6","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":1800,"wires":[["60dcf3e4.1df2cc","afe28162.ef53c"]]},{"id":"cd0cb9f9.a2fd58","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":1900,"wires":[["1c40be84.87e6c1","44fa6ae8.ed4f24"]]},{"id":"25676d8c.1a15c2","type":"function","z":"9ea44f4c.1949e","name":"set driver  \"5\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",5)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":730,"y":60,"wires":[["42325d9.8ce7fa4"]]},{"id":"42325d9.8ce7fa4","type":"delay","z":"9ea44f4c.1949e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":60,"wires":[["9121bb61.3aa568"]]},{"id":"9121bb61.3aa568","type":"function","z":"9ea44f4c.1949e","name":"R2-ON","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1010,"y":60,"wires":[["81acc229.da7fa"]]},{"id":"81acc229.da7fa","type":"delay","z":"9ea44f4c.1949e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":60,"wires":[["9f01d71f.7a4a88"]]},{"id":"9f01d71f.7a4a88","type":"function","z":"9ea44f4c.1949e","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1280,"y":60,"wires":[[]]},{"id":"afe28162.ef53c","type":"function","z":"9ea44f4c.1949e","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":910,"y":1800,"wires":[["40d66958.5d1818"]]},{"id":"44fa6ae8.ed4f24","type":"function","z":"9ea44f4c.1949e","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":910,"y":1900,"wires":[["b911f17a.c2cf9"]]},{"id":"40d66958.5d1818","type":"ui_text","z":"9ea44f4c.1949e","group":"d4ada4f6.4b5b58","order":1,"width":"5","height":"1","name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":1800,"wires":[]},{"id":"b911f17a.c2cf9","type":"ui_text","z":"9ea44f4c.1949e","group":"d4ada4f6.4b5b58","order":2,"width":"5","height":"1","name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":1900,"wires":[]},{"id":"55982559.69eb4c","type":"ui_gauge","z":"9ea44f4c.1949e","name":"","group":"3b23f8b8.daf598","order":1,"width":"4","height":"4","gtype":"gage","title":"T1","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":1960,"wires":[]},{"id":"5356cb80.6b7b44","type":"ui_gauge","z":"9ea44f4c.1949e","name":"","group":"3b23f8b8.daf598","order":2,"width":"4","height":"4","gtype":"gage","title":"T3","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":2000,"wires":[]},{"id":"d53c09a8.108dd8","type":"ui_gauge","z":"9ea44f4c.1949e","name":"","group":"3b23f8b8.daf598","order":3,"width":"4","height":"4","gtype":"gage","title":"P1","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":2040,"wires":[]},{"id":"5653b07.1a1075","type":"ui_gauge","z":"9ea44f4c.1949e","name":"","group":"3b23f8b8.daf598","order":4,"width":"4","height":"4","gtype":"gage","title":"P2","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":2080,"wires":[]},{"id":"b16f40c2.bac55","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":1960,"wires":[["55982559.69eb4c"]]},{"id":"a1a8922b.a3bef","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":2000,"wires":[["5356cb80.6b7b44"]]},{"id":"f2ef89c4.5db738","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":2040,"wires":[["d53c09a8.108dd8"]]},{"id":"a1bb3fe6.565fe","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":2080,"wires":[["5653b07.1a1075"]]},{"id":"74634e4e.fb408","type":"ui_gauge","z":"9ea44f4c.1949e","name":"","group":"3b23f8b8.daf598","order":6,"width":"4","height":"4","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":2120,"wires":[]},{"id":"f033f84b.e79228","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":2120,"wires":[["74634e4e.fb408"]]},{"id":"4f813d98.5411c4","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2200,"wires":[["fd1a1285.53f71"]]},{"id":"fd1a1285.53f71","type":"function","z":"9ea44f4c.1949e","name":"set \"0\" (T1 - T3 - P1 - P2 - P2S - PS )","func":"global.set(\"T1\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":2200,"wires":[[]]},{"id":"21ddad27.6bd8d2","type":"switch","z":"9ea44f4c.1949e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"55","v2t":"num"},{"t":"btwn","v":"56","vt":"num","v2":"60","v2t":"num"},{"t":"btwn","v":"61","vt":"num","v2":"65","v2t":"num"},{"t":"btwn","v":"66","vt":"num","v2":"70","v2t":"num"},{"t":"btwn","v":"71","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"81","vt":"num","v2":"85","v2t":"num"},{"t":"btwn","v":"86","vt":"num","v2":"90","v2t":"num"},{"t":"btwn","v":"91","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":1110,"y":440,"wires":[["a443b99a.f05858"],["7b638b9b.62fe84"],["45923ed8.fcf2d"],["fc18e6c6.70e038"],["a466a905.e10858"],["796bc6f1.3cda28"],["126a4895.15ec37"],["37507bd1.a8fc54"],["36609f4b.afc86"]]},{"id":"86ec5aa.49b9fa8","type":"debug","z":"9ea44f4c.1949e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":980,"wires":[]},{"id":"45923ed8.fcf2d","type":"function","z":"9ea44f4c.1949e","name":"set \"18\" bar","func":"global.set(\"P2S\",18);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":360,"wires":[[]]},{"id":"dabceb2e.a5b078","type":"debug","z":"9ea44f4c.1949e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":940,"wires":[]},{"id":"fc18e6c6.70e038","type":"function","z":"9ea44f4c.1949e","name":"set \"20\" bar","func":"global.set(\"P2S\",20);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":400,"wires":[[]]},{"id":"a466a905.e10858","type":"function","z":"9ea44f4c.1949e","name":"set \"22\" bar","func":"global.set(\"P2S\",22);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":440,"wires":[[]]},{"id":"126a4895.15ec37","type":"function","z":"9ea44f4c.1949e","name":"set \"26\" bar","func":"global.set(\"P2S\",26);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":520,"wires":[[]]},{"id":"7b638b9b.62fe84","type":"function","z":"9ea44f4c.1949e","name":"set \"16\" bar","func":"global.set(\"P2S\",16);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":320,"wires":[[]]},{"id":"a443b99a.f05858","type":"function","z":"9ea44f4c.1949e","name":"set \"14\" bar","func":"global.set(\"P2S\",14);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":280,"wires":[[]]},{"id":"37507bd1.a8fc54","type":"function","z":"9ea44f4c.1949e","name":"set \"28\" bar","func":"global.set(\"P2S\",28);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":560,"wires":[[]]},{"id":"36609f4b.afc86","type":"function","z":"9ea44f4c.1949e","name":"set \"30\" bar","func":"global.set(\"P2S\",30);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":600,"wires":[[]]},{"id":"796bc6f1.3cda28","type":"function","z":"9ea44f4c.1949e","name":"set \"24\" bar","func":"global.set(\"P2S\",24);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":480,"wires":[[]]},{"id":"3b87f8e9.dd8598","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["58676bf2.611be4"]]},{"id":"4f069c1c.860054","type":"function","z":"9ea44f4c.1949e","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":900,"wires":[["8aea0f9.574e0f"]]},{"id":"8aea0f9.574e0f","type":"delay","z":"9ea44f4c.1949e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":900,"wires":[["f6973b62.87b168"]]},{"id":"f6973b62.87b168","type":"function","z":"9ea44f4c.1949e","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"T3K\",true);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":900,"wires":[[]]},{"id":"7c773705.213038","type":"function","z":"9ea44f4c.1949e","name":"driver up down","func":"var p2s = global.get(\"P2S\");\nvar ps   = global.get(\"PS\");\n\nif (p2s > ps) {\n    msg.payload = true;\n    return msg;\n\n    \n}\nelse if (p2s < ps) {\n    msg.payload = false;\n    return msg;\n}\nelse if (p2s == ps) {\n    global.set(\"driverf\",false)\n    global.set(\"sensor\",false)\n    global.set(\"temp1\",true)\n}\n\n\n","outputs":1,"noerr":0,"x":420,"y":1200,"wires":[["4e032a34.89ee24","95704360.0eee"]]},{"id":"b10d9a78.2a9958","type":"function","z":"9ea44f4c.1949e","name":"driver","func":"global.set(\"driver\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":820,"wires":[[]]},{"id":"b7d080f5.9cc5a","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"82","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":500,"wires":[[]]},{"id":"e31721cb.b158f","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["58676bf2.611be4"]]},{"id":"cc26c531.f675d8","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"driverf","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1200,"wires":[["f2de57ce.3b1b88"]]},{"id":"cf10c9c0.736458","type":"function","z":"9ea44f4c.1949e","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":440,"wires":[["21ddad27.6bd8d2"]]},{"id":"792eb6f4.b84898","type":"switch","z":"9ea44f4c.1949e","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":440,"wires":[["cf10c9c0.736458"]]},{"id":"f8f53e9d.9d401","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"temp1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":440,"wires":[["792eb6f4.b84898"]]},{"id":"a77cf23d.bcffe","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2040,"wires":[["de618d4a.d94c6"]]},{"id":"de618d4a.d94c6","type":"function","z":"9ea44f4c.1949e","name":"start","func":"global.set(\"start\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":2040,"wires":[[]]},{"id":"dc93e94b.40c118","type":"switch","z":"9ea44f4c.1949e","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":60,"wires":[["12f61666.c77d8a"]]},{"id":"faf237f0.05b338","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2080,"wires":[["36135e21.af13c2"]]},{"id":"36135e21.af13c2","type":"function","z":"9ea44f4c.1949e","name":"temp1 - temp2 - temp3","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":2080,"wires":[[]]},{"id":"d1c30e3a.72401","type":"function","z":"9ea44f4c.1949e","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":920,"wires":[["3e14e1b4.4b6ffe"]]},{"id":"3e14e1b4.4b6ffe","type":"switch","z":"9ea44f4c.1949e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"100","vt":"num"},{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":920,"wires":[["4f069c1c.860054"],["dabceb2e.a5b078"]]},{"id":"83c9dcd8.b8bf8","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":920,"wires":[["17e9ebd1.3914f4"]]},{"id":"7c083784.2ea008","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"77","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["58676bf2.611be4"]]},{"id":"17e9ebd1.3914f4","type":"switch","z":"9ea44f4c.1949e","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":920,"wires":[["d1c30e3a.72401"]]},{"id":"72281634.21d708","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"P2S","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":2160,"wires":[["c4a0ad4.0b4185"]]},{"id":"c4a0ad4.0b4185","type":"ui_gauge","z":"9ea44f4c.1949e","name":"","group":"3b23f8b8.daf598","order":5,"width":"4","height":"4","gtype":"gage","title":"P2S","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":2160,"wires":[]},{"id":"461c2c71.b60314","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2120,"wires":[["5b242a23.892f44"]]},{"id":"5b242a23.892f44","type":"function","z":"9ea44f4c.1949e","name":"pres1 - pres2","func":"global.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":2120,"wires":[[]]},{"id":"c5209db0.6c0a3","type":"function","z":"9ea44f4c.1949e","name":"msg.payload = P1","func":"var data    =   global.get(\"P1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1060,"wires":[["bfbe045b.f47688"]]},{"id":"40603fbd.892df","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"pres1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1060,"wires":[["883cda1b.703868"]]},{"id":"883cda1b.703868","type":"switch","z":"9ea44f4c.1949e","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1060,"wires":[["c5209db0.6c0a3"]]},{"id":"2eaf0dce.b869b2","type":"function","z":"9ea44f4c.1949e","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1120,"wires":[["b74c24b0.3c04c8"]]},{"id":"fed2f6b0.841148","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"pres2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1120,"wires":[["a750acee.b32e7"]]},{"id":"a750acee.b32e7","type":"switch","z":"9ea44f4c.1949e","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1120,"wires":[["2eaf0dce.b869b2"]]},{"id":"d15a0311.df914","type":"function","z":"9ea44f4c.1949e","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1060,"wires":[["e4462d24.b52da"]]},{"id":"e4462d24.b52da","type":"delay","z":"9ea44f4c.1949e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":1060,"wires":[["c4fadde4.08d7e"]]},{"id":"c4fadde4.08d7e","type":"function","z":"9ea44f4c.1949e","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"P1K\",true);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1060,"wires":[[]]},{"id":"ec050199.87bd6","type":"function","z":"9ea44f4c.1949e","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1120,"wires":[["cd6fafcb.53603"]]},{"id":"cd6fafcb.53603","type":"delay","z":"9ea44f4c.1949e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":1120,"wires":[["5f0bf8fd.638058"]]},{"id":"5f0bf8fd.638058","type":"function","z":"9ea44f4c.1949e","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"P2K\",true);\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1120,"wires":[[]]},{"id":"bfbe045b.f47688","type":"switch","z":"9ea44f4c.1949e","name":"P1 > 20","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":1060,"wires":[["d15a0311.df914"]]},{"id":"b74c24b0.3c04c8","type":"switch","z":"9ea44f4c.1949e","name":"P2 > 30","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":1120,"wires":[["ec050199.87bd6"]]},{"id":"18927a21.a82a86","type":"debug","z":"9ea44f4c.1949e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1280,"wires":[]},{"id":"256a95c.0ee9c6a","type":"function","z":"9ea44f4c.1949e","name":"get driver","func":"msg.payload = global.get(\"driver\")\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1280,"wires":[["18927a21.a82a86"]]},{"id":"f82933c5.e3b28","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"driverg","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1280,"wires":[["1f21ebcb.9cf6b4"]]},{"id":"1f21ebcb.9cf6b4","type":"switch","z":"9ea44f4c.1949e","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1280,"wires":[["256a95c.0ee9c6a"]]},{"id":"c62e5442.87d138","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"temp3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":980,"wires":[["1d832589.fc6a3a"]]},{"id":"1d832589.fc6a3a","type":"switch","z":"9ea44f4c.1949e","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":980,"wires":[["65a5f77c.ac30c8"]]},{"id":"65a5f77c.ac30c8","type":"function","z":"9ea44f4c.1949e","name":"T3 < 50","func":"var data = global.get(\"T3\")\nif (data > 50) {\n    msg.payload = true\n    return msg;\n}\nelse if (data < 50) {\n    msg.payload = false\n    global.set(\"driver\",5)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":400,"y":980,"wires":[["bfc411a3.61eba"]]},{"id":"7a3b7204.c0fe7c","type":"switch","z":"9ea44f4c.1949e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"13.5","vt":"num","v2":"14.5","v2t":"num"},{"t":"btwn","v":"15.5","vt":"num","v2":"16.5","v2t":"num"},{"t":"btwn","v":"17.5","vt":"num","v2":"18.5","v2t":"num"},{"t":"btwn","v":"19.5","vt":"num","v2":"20.5","v2t":"num"},{"t":"btwn","v":"21.5","vt":"num","v2":"22.5","v2t":"num"},{"t":"btwn","v":"23.5","vt":"num","v2":"24.5","v2t":"num"},{"t":"btwn","v":"25.5","vt":"num","v2":"26.5","v2t":"num"},{"t":"btwn","v":"27.5","vt":"num","v2":"28.5","v2t":"num"},{"t":"btwn","v":"29.5","vt":"num","v2":"30.5","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":590,"y":1500,"wires":[["aeabd50e.cb0978"],["bccf8268.d2b11"],["c798dfee.e25ce"],["528d0654.623f88"],["5af427a0.687548"],["301aca71.97c456"],["9f09ffec.2f44f"],["90d3987f.f120f8"],["95441935.a7aeb8"]]},{"id":"99c2790d.2024c8","type":"function","z":"9ea44f4c.1949e","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1500,"wires":[["7a3b7204.c0fe7c"]]},{"id":"fccaae3e.6adf2","type":"debug","z":"9ea44f4c.1949e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":1380,"wires":[]},{"id":"d55db560.d54418","type":"debug","z":"9ea44f4c.1949e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":1780,"wires":[]},{"id":"aeabd50e.cb0978","type":"function","z":"9ea44f4c.1949e","name":"","func":"global.set(\"PS\",14);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1340,"wires":[[]]},{"id":"1d75c2cd.e9c91d","type":"ui_text_input","z":"9ea44f4c.1949e","name":"","label":"","tooltip":"","group":"8772a031.bf5ee","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":90,"y":820,"wires":[["48bb96f.a762c68","8c03bf2c.6f8d2"]]},{"id":"48bb96f.a762c68","type":"ui_button","z":"9ea44f4c.1949e","name":"","group":"8772a031.bf5ee","order":2,"width":0,"height":0,"passthru":false,"label":"UYGULA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"number","payloadType":"global","topic":"","x":140,"y":780,"wires":[["f0045e04.446bc"]]},{"id":"8c03bf2c.6f8d2","type":"function","z":"9ea44f4c.1949e","name":"","func":"global.set(\"number\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":880,"wires":[[]]},{"id":"bccf8268.d2b11","type":"function","z":"9ea44f4c.1949e","name":"","func":"global.set(\"PS\",16);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1380,"wires":[[]]},{"id":"c798dfee.e25ce","type":"function","z":"9ea44f4c.1949e","name":"","func":"global.set(\"PS\",18);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1420,"wires":[[]]},{"id":"528d0654.623f88","type":"function","z":"9ea44f4c.1949e","name":"","func":"global.set(\"PS\",20);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1460,"wires":[[]]},{"id":"5af427a0.687548","type":"function","z":"9ea44f4c.1949e","name":"","func":"global.set(\"PS\",22);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1500,"wires":[[]]},{"id":"301aca71.97c456","type":"function","z":"9ea44f4c.1949e","name":"","func":"global.set(\"PS\",24);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1540,"wires":[[]]},{"id":"9f09ffec.2f44f","type":"function","z":"9ea44f4c.1949e","name":"","func":"global.set(\"PS\",26);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1580,"wires":[[]]},{"id":"90d3987f.f120f8","type":"function","z":"9ea44f4c.1949e","name":"","func":"global.set(\"PS\",28);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1620,"wires":[[]]},{"id":"95441935.a7aeb8","type":"function","z":"9ea44f4c.1949e","name":"","func":"global.set(\"PS\",30);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1660,"wires":[[]]},{"id":"502eaaac.222364","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"PS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":2200,"wires":[["266d9bc6.e82854"]]},{"id":"266d9bc6.e82854","type":"ui_gauge","z":"9ea44f4c.1949e","name":"","group":"3b23f8b8.daf598","order":5,"width":"4","height":"4","gtype":"gage","title":"PS","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":2200,"wires":[]},{"id":"bffc8b93.bf0718","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"sensor","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1500,"wires":[["a4aaccdd.72774"]]},{"id":"aa342a67.a0b978","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"T3K","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":900,"wires":[["9d0dea0d.ac0a48"]]},{"id":"f2de57ce.3b1b88","type":"switch","z":"9ea44f4c.1949e","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1200,"wires":[["7c773705.213038"]]},{"id":"dbafe906.afc1d8","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"P1K","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":1060,"wires":[["af79c0e5.35937"]]},{"id":"4006c2d3.aeca5c","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"P2K","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":1120,"wires":[["8f62ff7a.9e36"]]},{"id":"9d0dea0d.ac0a48","type":"switch","z":"9ea44f4c.1949e","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":900,"wires":[["eab26b1d.5f1d48"]]},{"id":"af79c0e5.35937","type":"switch","z":"9ea44f4c.1949e","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1060,"wires":[["eab26b1d.5f1d48"]]},{"id":"8f62ff7a.9e36","type":"switch","z":"9ea44f4c.1949e","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1120,"wires":[["eab26b1d.5f1d48"]]},{"id":"eab26b1d.5f1d48","type":"function","z":"9ea44f4c.1949e","name":"T3<100 & P1<10 & P2<25","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif ( t3 < 100 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"T3K\",false)\n    global.set(\"P1K\",false)\n    global.set(\"P2K\",false)\n    return msg;\n}\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1570,"y":1000,"wires":[[]]},{"id":"74c0e0ad.4d43f","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":2160,"wires":[["bee1d841.6757c8"]]},{"id":"bee1d841.6757c8","type":"function","z":"9ea44f4c.1949e","name":"sensor","func":"global.set(\"sensor\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":2160,"wires":[[]]},{"id":"a4aaccdd.72774","type":"switch","z":"9ea44f4c.1949e","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1500,"wires":[["99c2790d.2024c8"]]},{"id":"e0b0e9f6.172fd8","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["58676bf2.611be4"]]},{"id":"590ebc3a.d06784","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"92","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":580,"wires":[["58676bf2.611be4"]]},{"id":"8b245465.a99668","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["58676bf2.611be4"]]},{"id":"109bf786.5251d8","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["58676bf2.611be4"]]},{"id":"49f135a5.53c5fc","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["aa7974c3.93ac58"]]},{"id":"27a5c4fe.76af2c","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"35","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":720,"wires":[["aa7974c3.93ac58"]]},{"id":"bfc411a3.61eba","type":"delay","z":"9ea44f4c.1949e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":980,"wires":[["ad3bec45.f8b52"]]},{"id":"ad3bec45.f8b52","type":"function","z":"9ea44f4c.1949e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":980,"wires":[["86ec5aa.49b9fa8"]]},{"id":"8a43616f.eb9ec","type":"function","z":"9ea44f4c.1949e","name":"T3 < 100","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif (t3 < 100 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"T3K\",false)\n    return msg;\n}\n\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":200,"y":2040,"wires":[[]]},{"id":"243d5607.67540a","type":"function","z":"9ea44f4c.1949e","name":"P1 < 10","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif (t3 < 100 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"P1K\",false)\n    return msg;\n}\n\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":200,"y":2080,"wires":[[]]},{"id":"ca38e4c8.c2d038","type":"function","z":"9ea44f4c.1949e","name":"P2 < 25","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif (t3 < 100 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"P2K\",false)\n    return msg;\n}\n\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":200,"y":2120,"wires":[[]]},{"id":"9fd59019.0fec7","type":"function","z":"9ea44f4c.1949e","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <50){\n    global.set('driver', Value + 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('driver', Value - 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":770,"y":1200,"wires":[["74a15b0e.c938d4"]]},{"id":"b3c3d9b9.e0d948","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1340,"wires":[["4e032a34.89ee24"]]},{"id":"58741ad3.282264","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1420,"wires":[["95704360.0eee"]]},{"id":"25dc999d.b081d6","type":"function","z":"9ea44f4c.1949e","name":"down \"driver\"","func":"var data = global.get(\"driver\")\ndata = data - 1\nmsg.payload = data\nglobal.set(\"driver\",msg.payload)\n//global.set(\"driverf\",false)\nglobal.set(\"driverg\",false)\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":2200,"wires":[[]]},{"id":"7ef7ee07.3faf3","type":"function","z":"9ea44f4c.1949e","name":"up \"driver\"","func":"var data = global.get(\"driver\")\ndata = data + 1\nmsg.payload = data\nglobal.set(\"driver\",msg.payload)\n//global.set(\"driverf\",false)\nglobal.set(\"driverg\",true)\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":2160,"wires":[[]]},{"id":"90110f4b.9e89a","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"check","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":1280,"wires":[["970923da.242ed"]]},{"id":"ebc58abe.0d9748","type":"function","z":"9ea44f4c.1949e","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1050,"y":1280,"wires":[["3f81fa90.dfd916"]]},{"id":"970923da.242ed","type":"switch","z":"9ea44f4c.1949e","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":1280,"wires":[["ebc58abe.0d9748"]]},{"id":"e0874f38.b728e","type":"function","z":"9ea44f4c.1949e","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":1350,"y":1340,"wires":[[]]},{"id":"3f81fa90.dfd916","type":"range","z":"9ea44f4c.1949e","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1180,"y":1280,"wires":[["e0874f38.b728e","fccaae3e.6adf2"]]},{"id":"2c07d9e6.d5ffa6","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":970,"y":1380,"wires":[["35c3504d.55329"]]},{"id":"35c3504d.55329","type":"function","z":"9ea44f4c.1949e","name":"modbus1 \"0\"","func":"global.set(\"modbus1\",0)\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1380,"wires":[[]]},{"id":"90c38712.7d4118","type":"function","z":"9ea44f4c.1949e","name":"msg.payload.value","func":"global.set(\"value\",msg.payload)\nvar data = msg.payload\nvar modbus = global.get(\"modbus1\")\nif (data == modbus ) {\n    global.set(\"check\",false)\n    global.set(\"driverf\",true)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1570,"y":1280,"wires":[[]]},{"id":"e5311689.a0ba08","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":970,"y":1460,"wires":[["7f865c4f.2c3684"]]},{"id":"7f865c4f.2c3684","type":"function","z":"9ea44f4c.1949e","name":"","func":"global.set(\"value\", undefined)\nglobal.set(\"address\", 0)\nglobal.set(\"fc\", 6)\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1460,"wires":[[]]},{"id":"669073a.b59868c","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":970,"y":1420,"wires":[["8b4479e5.caf848"]]},{"id":"8b4479e5.caf848","type":"function","z":"9ea44f4c.1949e","name":"Global set \"false\"  check","func":"global.set(\"check\",false);\n","outputs":1,"noerr":0,"x":1170,"y":1420,"wires":[[]]},{"id":"e5af088e.0398e8","type":"function","z":"9ea44f4c.1949e","name":"msg.payload.value","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nif (data == modbus ) {\n    global.set(\"check\",false)\n    global.set(\"driverf\",true)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1510,"y":1460,"wires":[[]]},{"id":"27f60ad9.ac84e6","type":"inject","z":"9ea44f4c.1949e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1200,"y":1200,"wires":[["18374728.c82319"]]},{"id":"18374728.c82319","type":"function","z":"9ea44f4c.1949e","name":"","func":"msg.payload = global.get(\"modbus1\")\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":1260,"wires":[["90c38712.7d4118"]]},{"id":"d4ada4f6.4b5b58","type":"ui_group","z":"","name":"Röle Durumları","tab":"b3856324.e6baf","order":2,"disp":true,"width":"5","collapse":false},{"id":"3b23f8b8.daf598","type":"ui_group","z":"","name":"Sensör Verileri","tab":"b3856324.e6baf","order":1,"disp":true,"width":"28","collapse":false},{"id":"8772a031.bf5ee","type":"ui_group","z":"","name":"İnput Girişi","tab":"b3856324.e6baf","order":3,"disp":true,"width":"6","collapse":false},{"id":"b3856324.e6baf","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]