Mikrolift_clipboard.txt
[{"id":"d3445a1b.b393f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d2b31ff3.1f6aa","type":"ui_group","z":"","name":"Barkod Girişi","tab":"","order":2,"disp":false,"width":"7"},{"id":"bf34da09.e9f938","type":"ui_group","z":"","name":"Top","tab":"","order":1,"disp":false,"width":"14"},{"id":"c9a427c5.582c18","type":"ui_group","z":"","name":"Barkod Gönderme","tab":"","order":3,"disp":false,"width":"7"},{"id":"c80165a1.1d58c8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"825bd097.10e19","type":"ui_group","z":"","name":"Barkod Girişi","tab":"","order":2,"disp":false,"width":"7"},{"id":"766ef0b5.1012a","type":"ui_group","z":"","name":"Top","tab":"","order":1,"disp":false,"width":"14"},{"id":"ec06ec16.ad198","type":"ui_group","z":"","name":"Barkod Gönderme","tab":"","order":3,"disp":false,"width":"7"},{"id":"59656e01.c0a1c","type":"ui_group","z":"","name":"Barkod Girişi","tab":"","order":2,"disp":false,"width":"7"},{"id":"a79b4017.30e8a","type":"ui_group","z":"","name":"Top","tab":"","order":1,"disp":false,"width":"14"},{"id":"53e22e10.972aa","type":"ui_group","z":"","name":"Barkod Gönderme","tab":"","order":3,"disp":false,"width":"7"},{"id":"89758cb.5a6ca7","type":"ui_group","z":"","name":"Barkod Girişi","tab":"","order":2,"disp":false,"width":"7"},{"id":"5c99a232.764e9c","type":"ui_group","z":"","name":"Top","tab":"","order":1,"disp":false,"width":"14"},{"id":"2d687dc5.67aa02","type":"ui_group","z":"","name":"Barkod Gönderme","tab":"","order":3,"disp":false,"width":"7"},{"id":"cf491e19.320eb","type":"ui_group","z":"","name":"Barkod Girişi","tab":"","order":2,"disp":false,"width":"7"},{"id":"237035bb.b62d9a","type":"ui_group","z":"","name":"Top","tab":"","order":1,"disp":false,"width":"14"},{"id":"2e5980ab.b917a","type":"ui_group","z":"","name":"Barkod Gönderme","tab":"","order":3,"disp":false,"width":"7"},{"id":"3cd2f33d.6448fc","type":"ui_group","z":"","name":"Barkod Girişi","tab":"bdf110c1.a039d","order":2,"disp":false,"width":"7"},{"id":"22f23b.f4701dc6","type":"ui_group","z":"","name":"Top","tab":"bdf110c1.a039d","order":1,"disp":false,"width":"14"},{"id":"5eaabcd5.ab43d4","type":"ui_group","z":"","name":"Barkod Gönderme","tab":"bdf110c1.a039d","order":3,"disp":false,"width":"7"},{"id":"bdf110c1.a039d","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"850d67af.f24fb8","type":"inject","z":"d3445a1b.b393f8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":711.9999923706055,"y":160.2222442626953,"wires":[["f828849a.cb7958","9b5de490.253ae8","a73d0d59.c923b"]]},{"id":"d764c7e2.fc72e8","type":"ui_text_input","z":"d3445a1b.b393f8","name":"","label":"Barkod Girişi","group":"3cd2f33d.6448fc","order":1,"width":"7","height":"4","passthru":false,"mode":"text","delay":"200","topic":"","x":321,"y":841.7222290039062,"wires":[["de00981.b145068","600093dd.7e1bac","f8de6fc2.e3ac8"]]},{"id":"de00981.b145068","type":"function","z":"d3445a1b.b393f8","name":"Txt Temizle","func":"\nmsg.payload = \"\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":75,"y":696.7222290039062,"wires":[["86eb7ba4.c386b8"]]},{"id":"86eb7ba4.c386b8","type":"delay","z":"d3445a1b.b393f8","name":"","pauseType":"delay","timeout":"210","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":316.5,"y":696.7222423553467,"wires":[["d764c7e2.fc72e8"]]},{"id":"a35e09ce.573b38","type":"http request","z":"d3445a1b.b393f8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":740.5000381469727,"y":487.72224044799805,"wires":[["269b73e4.e4554c"]]},{"id":"269b73e4.e4554c","type":"json","z":"d3445a1b.b393f8","name":"","x":886.5000228881836,"y":487.72224044799805,"wires":[["78b3e406.6c7a0c"]]},{"id":"78b3e406.6c7a0c","type":"function","z":"d3445a1b.b393f8","name":"http resp JSon","func":"\nif(global.get('flag') !== false){\n    global.set('flag', false);\n    var json = msg.payload;\n    msg.payload = json;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1040.5,"y":487.72222995758057,"wires":[["7fe72705.e3d938","35a8000f.03489"]]},{"id":"3ebb7a4d.2bb4e6","type":"function","z":"d3445a1b.b393f8","name":"ProdID Sıfırlama","func":"global.set('prodid', \"\");\nglobal.set('flag', true);\nglobal.set('package', \"\");\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":988.9999923706055,"y":308.72222900390625,"wires":[["7fe72705.e3d938","35a8000f.03489","6d8fd2fb.4d9e0c"]]},{"id":"44a2b516.afc21c","type":"ui_button","z":"d3445a1b.b393f8","name":"","group":"3cd2f33d.6448fc","order":2,"width":"7","height":"2","passthru":false,"label":"Yeni Paket","color":"","bgcolor":"#950F13","icon":"fa-refresh fa-2x","payload":"","payloadType":"str","topic":"","x":686.5,"y":285.22223472595215,"wires":[["3ebb7a4d.2bb4e6","a73d0d59.c923b","9b5de490.253ae8","f828849a.cb7958"]]},{"id":"7fe72705.e3d938","type":"ui_text","z":"d3445a1b.b393f8","group":"22f23b.f4701dc6","order":2,"width":"3","height":"2","name":"","label":"Malzeme Kodu","format":"{{msg.payload.MatID}}","layout":"col-center","x":1377.9999923706055,"y":490.22222900390625,"wires":[]},{"id":&q...
