RePG_Stand_By_4_16092019.txt
[{"id":"89a330bc.f7b47","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":1190,"y":460,"wires":[[]]},{"id":"b69abb0e.c4a9a8","type":"ui_gauge","z":"4f744bd3.84bc04","name":"","group":"3d234bd2.19fa24","order":0,"width":"3","height":"4","gtype":"gage","title":"S","label":"VA","format":"{{payload.repg_p2}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":420,"wires":[]},{"id":"a1280b3c.1f32d8","type":"ui_gauge","z":"4f744bd3.84bc04","name":"","group":"7cec2966.8c74c8","order":1,"width":"3","height":"4","gtype":"gage","title":"R","label":"A","format":"{{payload.repg_c1}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":240,"wires":[]},{"id":"73a384c8.aeda8c","type":"ui_gauge","z":"4f744bd3.84bc04","name":"P1","group":"6aaa6a57.5fa5c4","order":0,"width":"4","height":"4","gtype":"gage","title":"Türbin Çıkış","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":820,"wires":[]},{"id":"a9baaef6.b8d6","type":"function","z":"4f744bd3.84bc04","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0]  /   10,\n        \"Temp2\"\t:   msg.payload[1]  /   10,\n        \"Temp3\"\t:   msg.payload[2]  /   10,\n        \"Temp4\"\t:   msg.payload[3]  /   10,\n        \"Temp5\"\t:   msg.payload[4]  /   10,\n        \"Temp6\"\t:   msg.payload[5]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":660,"wires":[["64688616.8fdc98","8cb048ee.80aed8","2dcc538a.fc061c","ab6b358.8b3a4c8","32136c2b.a12b24","e8c7c1a0.db3d4","31e78ad4.53b9c6","5a7b506d.71a6a","c8985869.bc6e78"]]},{"id":"8a63b6.25beec48","type":"function","z":"4f744bd3.84bc04","name":"","func":"let array = msg.payload\n\n\nlet array1 = [];\nlet start = 0;\nlet end = 2;\n\nfor(i = 0; i <= array.length /2 -1; i++){\n    array1.push(array.slice(start, end));\n    start += 2;\n    end  = start + 2;\n}\n\n\nlet array2 = [];\nfor(var item of array1){\n    for(var j of item){\n        array2.push(j.toString(16))\n    }\n}\n\nlet array3 = [];\nstart = 0;\nend = 2;\nfor(i = 0; i <= array.length /2 -1; i++){\n    array3.push(\"0x\"+array2.slice(start, end).join(\"\"));\n    start += 2;\n    end  = start + 2;\n}\n\nvar array4 = []\nfor(var k of array3){\n    var v = new DataView(new ArrayBuffer(4))\n    v.setUint32(0, k)\n    array4.push(String(v.getFloat32(0)).slice(0,5));\n}\n\nlet array5 = array4.map( y => ( isNaN(y) ? null : parseFloat(y)  ) )\n\nmsg = {\n    \"payload\" : array5\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["4a92fc0c.fe9364"]]},{"id":"623a4f96.b3724","type":"ui_button","z":"4f744bd3.84bc04","name":"","group":"ae6f1f70.a43fd","order":1,"width":"4","height":"2","passthru":false,"label":"Pompa-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":780,"y":1920,"wires":[["1a80a329.cbd36d","7a83e469.8ce0ec"]]},{"id":"2c3a3e9d.e80db2","type":"function","z":"4f744bd3.84bc04","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1920,"wires":[["623a4f96.b3724"]]},{"id":"7a83e469.8ce0ec","type":"rpi-gpio out","z":"4f744bd3.84bc04","name":"Relay-1","pin":"7","set":"","level":"0","freq":"","out":"out","x":1120,"y":1900,"wires":[]},{"id":"c9ae713e.6552a","type":"rpi-gpio out","z":"4f744bd3.84bc04","name":"Relay-2","pin":"11","set":"","level":"0","freq":"","out":"out","x":1120,"y":2000,"wires":[]},{"id":"dd0e4cdc.69f2","type":"rpi-gpio out","z":"4f744bd3.84bc04","name":"Relay-3","pin":"13","set":"","level":"0","freq":"","out":"out","x":1120,"y":2100,"wires":[]},{"id":"ee351ff5.3c1bc","type":"rpi-gpio out","z":"4f744bd3.84bc04","name":"Relay-4","pin":"15","set":"","level":"0","freq":"","out":"out","x":1120,"y":2200,"wires":[]},{"id":"4c9d2300.0033bc","type":"ui_button","z":"4f744bd3.84bc04","name":"","group":"ae6f1f70.a43fd","order":2,"width":"4","height":"2","passthru":false,"label":"Pompa-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":780,"y":1960,"wires":[["29a59461.20655c","7a83e469.8ce0ec"]]},{"id":"5135b50.715aa4c","type":"ui_button","z":"4f744bd3.84bc04","name":"","group":"ae6f1f70.a43fd","order":3,"width":"4","height":"2","passthru":false,"label":"Türbin-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":780,"y":2020,"wires":[["a74f42ce.d9445","c9ae713e.6552a"]]},{"id":"354f34fa.4d83dc","type":"ui_button","z":"4f744bd3.84bc04","name":"","group":"ae6f1f70.a43fd","order":4,"width":"4","height":"2","passthru":false,"label":"Türbin-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":780,"y":2060,"wires":[["e14b8596.32b5d8","c9ae713e.6552a"]]},{"id":"4074aae1.114634","type":"ui_button","z":"4f744bd3.84bc04","name":"","group":"c51d1003.eaf1c","order":1,"width":"9","height":"4","passthru":false,"label":"DC Output-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":790,"y":2120,"wires":[["c6814501.44c178","dd0e4cdc.69f2"]]},{"id":"6fbe2035.9b4b2","type":"ui_button","z":"4f744bd3.84bc04","name":"","group":"c51d1003.eaf1c","order":2,"width":"9","height":"4","passthru":false,"label":"DC Output-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":790,"y":2160,"wires":[["46f48ac3.35be74","dd0e4cdc.69f2"]]},{"id":"2c7f0a08.3eaf46","type":"ui_button","z":"4f744bd3.84bc04","name":"","group":"6b15b601.640438","order":1,"width":"9","height":"4","passthru":false,"label":"Rezerve-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":780,"y":2220,"wires":[["a8fa9c51.752cd","ee351ff5.3c1bc"]]},{"id":"f6c84f6a.1bc11","type":"ui_button","z":"4f744bd3.84bc04","name":"","group":"6b15b601.640438","order":2,"width":"9","height":"4","passthru":false,"label":"Rezerve-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":790,"y":2260,"wires":[["25e8d798.a78378","ee351ff5.3c1bc"]]},{"id":"8df3f0ae.fbbd5","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":430,"y":1860,"wires":[["3003ef1.7478d1"]]},{"id":"3003ef1.7478d1","type":"function","z":"4f744bd3.84bc04","name":"Creating Button Status","func":"var buttonStatuses = {\n    \n    \"r1\" : \"off\",\n    \"r2\" : \"off\",\n    \"r3\" : \"off\",\n    \"r4\" : \"off\",\n    \"r5\" : \"off\",\n    \"r6\" : \"off\",\n    \"r7\" : \"off\",\n    \"r8\" : \"off\"\n}\n\nglobal.set(\"buttonStatuses\", buttonStatuses);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1860,"wires":[[]]},{"id":"1a80a329.cbd36d","type":"function","z":"4f744bd3.84bc04","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r1 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1920,"wires":[[]]},{"id":"29a59461.20655c","type":"function","z":"4f744bd3.84bc04","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r1 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1960,"wires":[[]]},{"id":"afd5073a.307ec8","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"buttonStatuses.r1","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1920,"wires":[["2c3a3e9d.e80db2"]]},{"id":"ddd20eb7.67ebe","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"buttonStatuses.r1","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1960,"wires":[["711a8eb.261ef7"]]},{"id":"711a8eb.261ef7","type":"function","z":"4f744bd3.84bc04","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1960,"wires":[["4c9d2300.0033bc"]]},{"id":"3561f7e0.0f17c8","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"buttonStatuses.r2","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2020,"wires":[["4a9be38f.c941ac"]]},{"id":"14ff1c4e.09b574","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"buttonStatuses.r2","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2060,"wires":[["81420bdc.e0cec8"]]},{"id":"1dd76879.754ed8","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"buttonStatuses.r3","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2120,"wires":[["160f8dbc.95f0b2"]]},{"id":"b301bd74.a099e","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"buttonStatuses.r3","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2160,"wires":[["1e288513.ac691b"]]},{"id":"4d01b9c8.617558","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"buttonStatuses.r4","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2220,"wires":[["d3f63bb7.ce77d8"]]},{"id":"8d0ed2e6.9043b","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"buttonStatuses.r4","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2260,"wires":[["78a53f6b.7f28e"]]},{"id":"a74f42ce.d9445","type":"function","z":"4f744bd3.84bc04","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r2 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2020,"wires":[[]]},{"id":"e14b8596.32b5d8","type":"function","z":"4f744bd3.84bc04","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r2 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2060,"wires":[[]]},{"id":"c6814501.44c178","type":"function","z":"4f744bd3.84bc04","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r3 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2120,"wires":[[]]},{"id":"46f48ac3.35be74","type":"function","z":"4f744bd3.84bc04","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r3 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2160,"wires":[[]]},{"id":"a8fa9c51.752cd","type":"function","z":"4f744bd3.84bc04","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r4 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2220,"wires":[[]]},{"id":"25e8d798.a78378","type":"function","z":"4f744bd3.84bc04","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r4 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2260,"wires":[[]]},{"id":"4a9be38f.c941ac","type":"function","z":"4f744bd3.84bc04","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2020,"wires":[["5135b50.715aa4c"]]},{"id":"81420bdc.e0cec8","type":"function","z":"4f744bd3.84bc04","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2060,"wires":[["354f34fa.4d83dc"]]},{"id":"160f8dbc.95f0b2","type":"function","z":"4f744bd3.84bc04","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2120,"wires":[["4074aae1.114634"]]},{"id":"1e288513.ac691b","type":"function","z":"4f744bd3.84bc04","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2160,"wires":[["6fbe2035.9b4b2"]]},{"id":"d3f63bb7.ce77d8","type":"function","z":"4f744bd3.84bc04","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2220,"wires":[["2c7f0a08.3eaf46"]]},{"id":"78a53f6b.7f28e","type":"function","z":"4f744bd3.84bc04","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2260,"wires":[["f6c84f6a.1bc11"]]},{"id":"bd7e7c2c.9cdc","type":"ui_gauge","z":"4f744bd3.84bc04","name":"","group":"3d234bd2.19fa24","order":0,"width":"3","height":"4","gtype":"gage","title":"R","label":"VA","format":"{{payload.repg_p1}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":380,"wires":[]},{"id":"6036854c.7b130c","type":"ui_gauge","z":"4f744bd3.84bc04","name":"","group":"3d234bd2.19fa24","order":0,"width":"3","height":"4","gtype":"gage","title":"T","label":"VA","format":"{{payload.repg_p3}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":460,"wires":[]},{"id":"d866b80a.83f8e8","type":"ui_gauge","z":"4f744bd3.84bc04","name":"","group":"331c4b3a.f657f4","order":0,"width":"9","height":"4","gtype":"gage","title":"Güç LT","label":"VA","format":"{{payload.repg_t_p}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":500,"wires":[]},{"id":"edf12aab.54a6b8","type":"ui_gauge","z":"4f744bd3.84bc04","name":"","group":"7cec2966.8c74c8","order":2,"width":"3","height":"4","gtype":"gage","title":"S","label":"A","format":"{{payload.repg_c2}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":280,"wires":[]},{"id":"919e5d48.820bd","type":"function","z":"4f744bd3.84bc04","name":"RePG","func":"\nmsg = {\n    \"payload\" : {\n        //\"repg_v1\"   :   msg.payload[1]  /   10 ,\n        //\"repg_v2\"\t:   msg.payload[3]  /   10 ,\n        //\"repg_v3\"\t:   msg.payload[5]  /   10 ,\n        \"repg_v1_2\"\t:   msg.payload[9]  /   10 ,\n        \"repg_v2_3\"\t:   msg.payload[11] /   10 ,\n        \"repg_v3_1\"\t:   msg.payload[13] /   10 ,\n        \"repg_c1\"\t:   msg.payload[15] /   1000 ,\n        \"repg_c2\"\t:   msg.payload[17] /   1000 ,\n        \"repg_c3\"\t:   msg.payload[19] /   1000 \n        \n        \n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["5cbbcd5c.0281e4","6803517f.c3b8b","38953419.22cfbc","a1280b3c.1f32d8","edf12aab.54a6b8","f14c8f43.c4383","2574b5ce.e322ea"]]},{"id":"5cbbcd5c.0281e4","type":"ui_gauge","z":"4f744bd3.84bc04","name":"","group":"45bd623c.23a8ac","order":0,"width":"3","height":"4","gtype":"gage","title":"R","label":"V","format":"{{payload.repg_v1_2}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":100,"wires":[]},{"id":"6803517f.c3b8b","type":"ui_gauge","z":"4f744bd3.84bc04","name":"","group":"45bd623c.23a8ac","order":0,"width":"3","height":"4","gtype":"gage","title":"S","label":"V","format":"{{payload.repg_v2_3}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":140,"wires":[]},{"id":"38953419.22cfbc","type":"ui_gauge","z":"4f744bd3.84bc04","name":"","group":"45bd623c.23a8ac","order":0,"width":"3","height":"4","gtype":"gage","title":"T","label":"V","format":"{{payload.repg_v3_1}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":180,"wires":[]},{"id":"f14c8f43.c4383","type":"ui_gauge","z":"4f744bd3.84bc04","name":"","group":"7cec2966.8c74c8","order":3,"width":"3","height":"4","gtype":"gage","title":"T","label":"A","format":"{{payload.repg_c3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":320,"wires":[]},{"id":"9fde1cac.6fa82","type":"debug","z":"4f744bd3.84bc04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":720,"wires":[]},{"id":"64688616.8fdc98","type":"ui_gauge","z":"4f744bd3.84bc04","name":"T1","group":"f6ac6700.243e18","order":0,"width":"6","height":"5","gtype":"gage","title":"Sıcak Su Giriş","label":"°C","format":"{{payload.Temp1}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":560,"wires":[]},{"id":"8cb048ee.80aed8","type":"ui_gauge","z":"4f744bd3.84bc04","name":"T2","group":"6e7ff5bb.6ed26c","order":3,"width":"6","height":"5","gtype":"gage","title":"Sıcak Su Çıkış","label":"°C","format":"{{payload.Temp2}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":600,"wires":[]},{"id":"2dcc538a.fc061c","type":"ui_gauge","z":"4f744bd3.84bc04","name":"T3","group":"a44c086d.ba4648","order":0,"width":"6","height":"5","gtype":"gage","title":"Türbin Giriş","label":"°C","format":"{{payload.Temp3}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":640,"wires":[]},{"id":"ab6b358.8b3a4c8","type":"ui_gauge","z":"4f744bd3.84bc04","name":"T4","group":"1757bcf7.f05da3","order":0,"width":"6","height":"5","gtype":"gage","title":"Türbin Çıkış","label":"°C","format":"{{payload.Temp4}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":680,"wires":[]},{"id":"32136c2b.a12b24","type":"ui_gauge","z":"4f744bd3.84bc04","name":"T5","group":"77a80d89.f01924","order":0,"width":"6","height":"5","gtype":"gage","title":"Pompa Çıkış","label":"°C","format":"{{payload.Temp5}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":720,"wires":[]},{"id":"e8c7c1a0.db3d4","type":"ui_gauge","z":"4f744bd3.84bc04","name":"T6","group":"aae37d94.8f159","order":0,"width":"6","height":"5","gtype":"gage","title":"Soğuk Su","label":"°C","format":"{{payload.Temp6}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":760,"wires":[]},{"id":"8153b5.aaa57c48","type":"ui_gauge","z":"4f744bd3.84bc04","name":"P1","group":"9bec9aa.e1efa68","order":0,"width":"9","height":"4","gtype":"gage","title":"Türbin Çıkış","label":"bar","format":"{{payload}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":820,"wires":[]},{"id":"d99ad063.ded1d","type":"ui_gauge","z":"4f744bd3.84bc04","name":"P2","group":"179f345.46b3acc","order":3,"width":"9","height":"4","gtype":"gage","title":"Türbin Giriş","label":"bar","format":"{{payload}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":860,"wires":[]},{"id":"641c8b7a.aaab94","type":"ui_gauge","z":"4f744bd3.84bc04","name":"P3","group":"40a76291.8010cc","order":0,"width":"9","height":"4","gtype":"gage","title":"Rezerve","label":"bar","format":"{{payload}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":900,"wires":[]},{"id":"bc97f602.674f88","type":"ui_gauge","z":"4f744bd3.84bc04","name":"P4","group":"e7c7dd4c.4b10e","order":0,"width":"9","height":"4","gtype":"gage","title":"Rezerve","label":"bar","format":"{{payload}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":940,"wires":[]},{"id":"8a6c7ca6.446ee","type":"function","z":"4f744bd3.84bc04","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"P1\"    :   msg.payload[0]  /   100,\n        \"P2\"\t:   msg.payload[1]  /   100,\n        \"P3\"\t:   msg.payload[2]  /   100,\n        \"P4\"\t:   msg.payload[3]  /   100\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":820,"wires":[["2c4cfe36.429292","c6ab6ec1.50d32","5a5c3562.1d456c","4d350fa4.36ffc"]]},{"id":"2c4cfe36.429292","type":"range","z":"4f744bd3.84bc04","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P1","name":"","x":610,"y":820,"wires":[["fd64a4c6.c410f8"]]},{"id":"c6ab6ec1.50d32","type":"range","z":"4f744bd3.84bc04","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P2","name":"","x":610,"y":860,"wires":[["c75589c4.3790e8"]]},{"id":"5a5c3562.1d456c","type":"range","z":"4f744bd3.84bc04","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P3","name":"","x":610,"y":900,"wires":[["ca3c83e0.512b1"]]},{"id":"4d350fa4.36ffc","type":"range","z":"4f744bd3.84bc04","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P4","name":"","x":610,"y":940,"wires":[["a621f556.ebd1e8"]]},{"id":"a7d94361.b90ac","type":"debug","z":"4f744bd3.84bc04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":880,"wires":[]},{"id":"86eb1ed8.87636","type":"modbus-read","z":"4f744bd3.84bc04","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cb1a32d9.2aa2e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":240,"y":840,"wires":[["a7d94361.b90ac","8a6c7ca6.446ee"],[]]},{"id":"d2b53be7.3c3888","type":"modbus-read","z":"4f744bd3.84bc04","name":"PT-100","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cb1a32d9.2aa2e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":230,"y":660,"wires":[["9fde1cac.6fa82","a9baaef6.b8d6"],[]]},{"id":"3cca30d1.ebb5b","type":"modbus-read","z":"4f744bd3.84bc04","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"30","rate":"4","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cb1a32d9.2aa2e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":280,"y":200,"wires":[["919e5d48.820bd","a28b6a45.6844c8"],[]]},{"id":"bcc472a5.b958d","type":"modbus-read","z":"4f744bd3.84bc04","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"26","quantity":"37","rate":"7","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cb1a32d9.2aa2e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":290,"y":380,"wires":[["8a63b6.25beec48"],[]]},{"id":"a28b6a45.6844c8","type":"debug","z":"4f744bd3.84bc04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":300,"wires":[]},{"id":"fa5527c8.3a0b18","type":"debug","z":"4f744bd3.84bc04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":520,"wires":[]},{"id":"4670ea3e.16a6d4","type":"function","z":"4f744bd3.84bc04","name":"","func":"var data = msg.payload\nmsg.payload = parseInt( ( data * 100 ).toFixed(0) )\n\nglobal.set('value', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1120,"wires":[["871674f4.999de8"]]},{"id":"c02b08f8.5d0b08","type":"ui_slider","z":"4f744bd3.84bc04","name":"slider_1","label":"","tooltip":"","group":"8fa83f47.5be4d","order":5,"width":"8","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":"1","x":640,"y":1100,"wires":[["d52290b.ac46e7","2b022a88.d1aea6","87370b41.3f61a8"]],"icon":"node-red/alert.png"},{"id":"8125660f.7c6a38","type":"ui_button","z":"4f744bd3.84bc04","name":"+_1","group":"8fa83f47.5be4d","order":4,"width":"1","height":"1","passthru":false,"label":"+","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"","x":300,"y":1020,"wires":[["54b8ab03.2de2e4"]]},{"id":"54dcea2c.506c04","type":"ui_button","z":"4f744bd3.84bc04","name":"-_1","group":"8fa83f47.5be4d","order":2,"width":"1","height":"1","passthru":false,"label":"-","tooltip":"","color":"red","bgcolor":"white","icon":"","payload":"-","payloadType":"str","topic":"","x":300.0034713745117,"y":1066.989473938942,"wires":[["54b8ab03.2de2e4"]]},{"id":"54b8ab03.2de2e4","type":"function","z":"4f744bd3.84bc04","name":"Obtained Global Variable","func":"\nvar Value = global.get(\"val\");\n\nif(msg.payload == \"+\" && Value <50){\n    global.set('val', Value + 1)\n} \n\nif(msg.payload == \"-\" && Value >0) {\n    global.set('val', Value - 1)\n}\nValue = global.get(\"val\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":490,"y":1040,"wires":[["c02b08f8.5d0b08"]]},{"id":"286dfe50.eb10b2","type":"function","z":"4f744bd3.84bc04","name":"Global Variable Initializing","func":"global.set(\"val\", 0);\nglobal.set(\"val1\", 0);\nglobal.set(\"val2\", 0);\nglobal.set(\"val3\", 0);\nglobal.set(\"val4\", 0);\nglobal.set(\"val5\", 0);","outputs":1,"noerr":0,"x":490,"y":1140,"wires":[[]]},{"id":"f39aae8.ca49f5","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":1140,"wires":[["286dfe50.eb10b2"]]},{"id":"87370b41.3f61a8","type":"ui_text","z":"4f744bd3.84bc04","group":"8fa83f47.5be4d","order":3,"width":"6","height":"1","name":"text_1","label":"","format":"{{msg.payload}}","layout":"col-center","x":830,"y":1080,"wires":[]},{"id":"d52290b.ac46e7","type":"function","z":"4f744bd3.84bc04","name":"Setting Global Variable","func":"if(msg.payload){\n     global.set('val', msg.payload)\n}\n   \n\n\nmsg = {\n    \"payload\" : global.get('val'),\n     \"data\" : Math.floor(global.get('val') * 1.365)\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1040,"wires":[[]]},{"id":"bef83c69.7bbde","type":"ui_text","z":"4f744bd3.84bc04","group":"8fa83f47.5be4d","order":1,"width":"8","height":"1","name":"INV-1","label":"Sürücü","format":"{{msg.payload}}","layout":"row-center","x":950,"y":1080,"wires":[]},{"id":"d6047acb.866828","type":"debug","z":"4f744bd3.84bc04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1180,"wires":[]},{"id":"2b022a88.d1aea6","type":"range","z":"4f744bd3.84bc04","minin":"0","maxin":"50","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":830,"y":1120,"wires":[["4670ea3e.16a6d4"]]},{"id":"871674f4.999de8","type":"ui_button","z":"4f744bd3.84bc04","name":"","group":"8fa83f47.5be4d","order":5,"width":"8","height":"1","passthru":false,"label":"UYGULA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"value","payloadType":"global","topic":"","x":900,"y":1180,"wires":[["d6047acb.866828","889cea82.e26ad8"]]},{"id":"e354929e.9de0f","type":"debug","z":"4f744bd3.84bc04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1280,"wires":[]},{"id":"6c139a11.368924","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1160,"wires":[["889cea82.e26ad8"]]},{"id":"3787e572.49cc9a","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1200,"wires":[["889cea82.e26ad8"]]},{"id":"90cb6397.2d97","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"600","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1240,"wires":[["889cea82.e26ad8"]]},{"id":"3bd57b39.f78734","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1320,"wires":[["889cea82.e26ad8"]]},{"id":"f27c76b2.d1fab8","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1280,"wires":[["889cea82.e26ad8"]]},{"id":"889cea82.e26ad8","type":"modbus-write","z":"4f744bd3.84bc04","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"cb1a32d9.2aa2e","x":900,"y":1260,"wires":[["e354929e.9de0f"],[]]},{"id":"6239cfa.805793","type":"debug","z":"4f744bd3.84bc04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":140,"wires":[]},{"id":"510c75c0.157cbc","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":80,"wires":[["46cbc424.8141fc"]]},{"id":"46cbc424.8141fc","type":"function","z":"4f744bd3.84bc04","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"A1_v1\"     :undefined,\n    \"A1_v2\"     :undefined,\n    \"A1_v3\"     :undefined,\n    \"A1_c1\"     :undefined,\n    \"A1_c2\"     :undefined,\n    \"A1_c3\"     :undefined,\n    \"A1_p1\"     :undefined,\n    \"A1_p2\"     :undefined,\n    \"A1_p3\"     :undefined,\n    \"A1_t_p\"    :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"P3\"        :undefined,\n    \"P4\"        :undefined,\n    \"PT\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":80,"wires":[[]]},{"id":"84bb5b27.750738","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":140,"wires":[["6239cfa.805793"]]},{"id":"2574b5ce.e322ea","type":"function","z":"4f744bd3.84bc04","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"A1_v1\"]   =   msg.payload[\"repg_v1_2\"];\ndata[\"A1_v2\"]   =   msg.payload[\"repg_v2_3\"];\ndata[\"A1_v3\"]   =   msg.payload[\"repg_v3_1\"];\ndata[\"A1_c1\"]   =   msg.payload[\"repg_c1\"];\ndata[\"A1_c2\"]   =   msg.payload[\"repg_c2\"];\ndata[\"A1_c3\"]   =   msg.payload[\"repg_c3\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":200,"wires":[[]]},{"id":"7d51c3b9.bfa9ac","type":"function","z":"4f744bd3.84bc04","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\n\ndata[\"A1_p1\"]   =   msg.payload[\"repg_p1\"];\ndata[\"A1_p2\"]   =   msg.payload[\"repg_p2\"];\ndata[\"A1_p3\"]   =   msg.payload[\"repg_p3\"];\ndata[\"A1_t_p\"]  =   msg.payload[\"repg_t_p\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":360,"wires":[[]]},{"id":"31e78ad4.53b9c6","type":"function","z":"4f744bd3.84bc04","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":580,"wires":[[]]},{"id":"4a92fc0c.fe9364","type":"function","z":"4f744bd3.84bc04","name":"RePG","func":"var data = global.get('azure_data');\n\n\n\nmsg = {\n    \"payload\" : {\n        \n        \"repg_p1\"   :   parseFloat( ( (data[\"A1_v1\"]    /   1.73) * data[\"A1_c1\"]).toFixed(0) ),\n        \"repg_p2\"   :   parseFloat( ( (data[\"A1_v2\"]    /   1.73) * data[\"A1_c2\"]).toFixed(0) ) ,\n        \"repg_p3\"   :   parseFloat( ( (data[\"A1_v3\"]    /   1.73) * data[\"A1_c3\"]).toFixed(0) ) ,\n        \"repg_t_p\"  :   parseFloat( ( data[\"A1_p1\"] +  data[\"A1_p2\"] + data[\"A1_p3\"] ).toFixed(0) )\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":380,"wires":[["7d51c3b9.bfa9ac","bd7e7c2c.9cdc","b69abb0e.c4a9a8","6036854c.7b130c","d866b80a.83f8e8"]]},{"id":"359c0a9e.9ce7c6","type":"inject","z":"4f744bd3.84bc04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1140,"y":160,"wires":[[]]},{"id":"45ca1c76.43e0b4","type":"function","z":"4f744bd3.84bc04","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"2c61c9f2-4c98-4121-9782-e58a54533747\",\n        \"key\": \"dd/k0MTs70DG9kS/h0uuyTjmvDZa077IF+VVV+pKD/w=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":260,"wires":[[]]},{"id":"dbce4d57.54f8b","type":"debug","z":"4f744bd3.84bc04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":380,"wires":[]},{"id":"fd64a4c6.c410f8","type":"function","z":"4f744bd3.84bc04","name":"","func":"var data = parseFloat( (msg.payload.P1).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":820,"wires":[["8153b5.aaa57c48","73a384c8.aeda8c"]]},{"id":"c75589c4.3790e8","type":"function","z":"4f744bd3.84bc04","name":"","func":"var data = parseFloat( (msg.payload.P2).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":860,"wires":[["d99ad063.ded1d","17d99c89.0d0e23"]]},{"id":"ca3c83e0.512b1","type":"function","z":"4f744bd3.84bc04","name":"","func":"var data = parseFloat( (msg.payload.P3).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P3\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":900,"wires":[["641c8b7a.aaab94"]]},{"id":"a621f556.ebd1e8","type":"function","z":"4f744bd3.84bc04","name":"","func":"var data = parseFloat( (msg.payload.P4).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P4\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":940,"wires":[["bc97f602.674f88"]]},{"id":"5a7b506d.71a6a","type":"ui_gauge","z":"4f744bd3.84bc04","name":"T1","group":"df1f8937.7c2e18","order":0,"width":"4","height":"4","gtype":"gage","title":"Sıcak Su Giriş","label":"°C","format":"{{payload.Temp1}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":660,"wires":[]},{"id":"c8985869.bc6e78","type":"ui_gauge","z":"4f744bd3.84bc04","name":"T3","group":"df1f8937.7c2e18","order":0,"width":"4","height":"4","gtype":"gage","title":"Türbin Giriş","label":"°C","format":"{{payload.Temp3}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":740,"wires":[]},{"id":"17d99c89.0d0e23","type":"ui_gauge","z":"4f744bd3.84bc04","name":"P2","group":"6aaa6a57.5fa5c4","order":3,"width":"4","height":"4","gtype":"gage","title":"Türbin Giriş","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":860,"wires":[]},{"id":"6e0ed7e1.7a5ab8","type":"azureiothub","z":"4f744bd3.84bc04","name":"Azure IoT Hub","protocol":"mqtt","x":1320,"y":560,"wires":[["e93603fa.0da1b"]]},{"id":"7bc3b539.607f9c","type":"function","z":"4f744bd3.84bc04","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"c8f32470-2083-4841-9104-b6a361632914\",\n        \"key\": \"FmG9Te/CDLyXSS2l8Mi7hz5JXc/xfoOB4Gc/FRMa3z0=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":500,"wires":[["6e0ed7e1.7a5ab8"]]},{"id":"e93603fa.0da1b","type":"debug","z":"4f744bd3.84bc04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":500,"wires":[]},{"id":"668115e9.8353bc","type":"comment","z":"4f744bd3.84bc04","name":"RePG Stand-By 4","info":"","x":1090,"y":100,"wires":[]},{"id":"3d234bd2.19fa24","type":"ui_group","z":"","name":"Güç","tab":"54cc8809.a15f98","order":4,"disp":true,"width":"9","collapse":false},{"id":"7cec2966.8c74c8","type":"ui_group","z":"","name":"Akım","tab":"54cc8809.a15f98","order":3,"disp":true,"width":"9","collapse":false},{"id":"6aaa6a57.5fa5c4","type":"ui_group","z":"","name":"Basınç","tab":"6e3d15cc.6e64fc","order":5,"disp":true,"width":"8","collapse":false},{"id":"ae6f1f70.a43fd","type":"ui_group","z":"","name":"Buton","tab":"6e3d15cc.6e64fc","order":3,"disp":false,"width":"8","collapse":false},{"id":"c51d1003.eaf1c","type":"ui_group","z":"","name":"Buton-3","tab":"b41a8d1e.2200e","order":5,"disp":false,"width":"9","collapse":false},{"id":"6b15b601.640438","type":"ui_group","z":"","name":"Buton-4","tab":"b41a8d1e.2200e","order":6,"disp":false,"width":"9","collapse":false},{"id":"331c4b3a.f657f4","type":"ui_group","z":"","name":"RePG","tab":"54cc8809.a15f98","order":5,"disp":true,"width":"9","collapse":false},{"id":"45bd623c.23a8ac","type":"ui_group","z":"","name":"Gerilim","tab":"54cc8809.a15f98","order":1,"disp":true,"width":"9","collapse":false},{"id":"f6ac6700.243e18","type":"ui_group","z":"","name":"T1","tab":"bbf582c3.e8f8d","order":1,"disp":false,"width":"6","collapse":false},{"id":"6e7ff5bb.6ed26c","type":"ui_group","z":"","name":"T2","tab":"bbf582c3.e8f8d","order":2,"disp":false,"width":"6","collapse":false},{"id":"a44c086d.ba4648","type":"ui_group","z":"","name":"T3","tab":"bbf582c3.e8f8d","order":3,"disp":false,"width":"6","collapse":false},{"id":"1757bcf7.f05da3","type":"ui_group","z":"","name":"T4","tab":"bbf582c3.e8f8d","order":4,"disp":false,"width":"6","collapse":false},{"id":"77a80d89.f01924","type":"ui_group","z":"","name":"T5","tab":"bbf582c3.e8f8d","order":5,"disp":false,"width":"6","collapse":false},{"id":"aae37d94.8f159","type":"ui_group","z":"","name":"T6","tab":"bbf582c3.e8f8d","order":6,"disp":false,"width":"6","collapse":false},{"id":"9bec9aa.e1efa68","type":"ui_group","z":"","name":"P1","tab":"8a52830b.f0c39","order":1,"disp":true,"width":"9","collapse":false},{"id":"179f345.46b3acc","type":"ui_group","z":"","name":"P2","tab":"8a52830b.f0c39","order":2,"disp":true,"width":"9","collapse":false},{"id":"40a76291.8010cc","type":"ui_group","z":"","name":"P3","tab":"8a52830b.f0c39","order":3,"disp":true,"width":"9","collapse":false},{"id":"e7c7dd4c.4b10e","type":"ui_group","z":"","name":"P4","tab":"8a52830b.f0c39","order":4,"disp":true,"width":"9","collapse":false},{"id":"cb1a32d9.2aa2e","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"8fa83f47.5be4d","type":"ui_group","z":"","name":"Sürücü","tab":"6e3d15cc.6e64fc","order":1,"disp":false,"width":"8","collapse":false},{"id":"df1f8937.7c2e18","type":"ui_group","z":"","name":"Sıcaklık","tab":"6e3d15cc.6e64fc","order":4,"disp":true,"width":"8","collapse":false},{"id":"54cc8809.a15f98","type":"ui_tab","z":"","name":"Elektrik","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6e3d15cc.6e64fc","type":"ui_tab","z":"","name":"RePG Stand-By 4","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b41a8d1e.2200e","type":"ui_tab","z":"","name":"Kontrol","icon":"dashboard","order":3},{"id":"bbf582c3.e8f8d","type":"ui_tab","z":"","name":"Sıcaklık Sensör","icon":"dashboard","order":5},{"id":"8a52830b.f0c39","type":"ui_tab","z":"","name":"Basınç Sensör","icon":"dashboard","order":4}]