RePG_Stand_By_3_16092019.txt
[{"id":"e678c5ea.480808","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"cb63caf6.773508","order":0,"width":"3","height":"4","gtype":"gage","title":"S","label":"VA","format":"{{payload.repg_p2}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":460,"wires":[]},{"id":"cb527a36.e26168","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"b0e8233f.98062","order":1,"width":"3","height":"4","gtype":"gage","title":"R","label":"A","format":"{{payload.repg_c1}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":280,"wires":[]},{"id":"5a2872b5.f65e6c","type":"ui_gauge","z":"e1f8cc74.78c05","name":"P1","group":"6c790b0a.1187e4","order":0,"width":"4","height":"4","gtype":"gage","title":"Türbin Çıkış","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":860,"wires":[]},{"id":"e6555eee.77e82","type":"function","z":"e1f8cc74.78c05","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0]  /   10,\n        \"Temp2\"\t:   msg.payload[1]  /   10,\n        \"Temp3\"\t:   msg.payload[2]  /   10,\n        \"Temp4\"\t:   msg.payload[3]  /   10,\n        \"Temp5\"\t:   msg.payload[4]  /   10,\n        \"Temp6\"\t:   msg.payload[5]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":700,"wires":[["44a7e8e1.152698","1a4e0394.6e9adc","ca0c972a.0099b8","6e88a37e.2636fc","527cbdee.9f3b04","5817acca.6f40b4","6579e270.d6efcc","1d471bec.6bdc84","38192884.80a898"]]},{"id":"21f3533b.fa4f6c","type":"function","z":"e1f8cc74.78c05","name":"","func":"let array = msg.payload\n\n\nlet array1 = [];\nlet start = 0;\nlet end = 2;\n\nfor(i = 0; i <= array.length /2 -1; i++){\n    array1.push(array.slice(start, end));\n    start += 2;\n    end  = start + 2;\n}\n\n\nlet array2 = [];\nfor(var item of array1){\n    for(var j of item){\n        array2.push(j.toString(16))\n    }\n}\n\nlet array3 = [];\nstart = 0;\nend = 2;\nfor(i = 0; i <= array.length /2 -1; i++){\n    array3.push(\"0x\"+array2.slice(start, end).join(\"\"));\n    start += 2;\n    end  = start + 2;\n}\n\nvar array4 = []\nfor(var k of array3){\n    var v = new DataView(new ArrayBuffer(4))\n    v.setUint32(0, k)\n    array4.push(String(v.getFloat32(0)).slice(0,5));\n}\n\nlet array5 = array4.map( y => ( isNaN(y) ? null : parseFloat(y)  ) )\n\nmsg = {\n    \"payload\" : array5\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["b66ebdcc.295ac"]]},{"id":"e2bd384a.53ef48","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"42f2893d.84ac28","order":1,"width":"4","height":"2","passthru":false,"label":"Pompa-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":660,"y":1960,"wires":[["d2726bb0.7d41a8","ed1a34fd.33add8"]]},{"id":"71372165.811ff","type":"function","z":"e1f8cc74.78c05","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1960,"wires":[["e2bd384a.53ef48"]]},{"id":"ed1a34fd.33add8","type":"rpi-gpio out","z":"e1f8cc74.78c05","name":"Relay-1","pin":"7","set":"","level":"0","freq":"","out":"out","x":1000,"y":1940,"wires":[]},{"id":"4ea33fa5.ce24e","type":"rpi-gpio out","z":"e1f8cc74.78c05","name":"Relay-2","pin":"11","set":"","level":"0","freq":"","out":"out","x":1000,"y":2040,"wires":[]},{"id":"f89698b6.66eda8","type":"rpi-gpio out","z":"e1f8cc74.78c05","name":"Relay-3","pin":"13","set":"","level":"0","freq":"","out":"out","x":1000,"y":2140,"wires":[]},{"id":"cda3c4f7.5ecdb8","type":"rpi-gpio out","z":"e1f8cc74.78c05","name":"Relay-4","pin":"15","set":"","level":"0","freq":"","out":"out","x":1000,"y":2240,"wires":[]},{"id":"69fcfeba.2973a","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"42f2893d.84ac28","order":2,"width":"4","height":"2","passthru":false,"label":"Pompa-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":660,"y":2000,"wires":[["18fa5475.27948c","ed1a34fd.33add8"]]},{"id":"5433e9e1.84cf48","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"42f2893d.84ac28","order":3,"width":"4","height":"2","passthru":false,"label":"Türbin-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":660,"y":2060,"wires":[["c71ddb27.81ab38","4ea33fa5.ce24e"]]},{"id":"eb2b27ad.dd30d8","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"42f2893d.84ac28","order":4,"width":"4","height":"2","passthru":false,"label":"Türbin-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":660,"y":2100,"wires":[["2467615a.4c50fe","4ea33fa5.ce24e"]]},{"id":"84b36477.d337a8","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"879c1352.a7705","order":1,"width":"9","height":"4","passthru":false,"label":"DC Output-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":670,"y":2160,"wires":[["49f2dd0.c72cd24","f89698b6.66eda8"]]},{"id":"7604ed2.e915714","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"879c1352.a7705","order":2,"width":"9","height":"4","passthru":false,"label":"DC Output-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":670,"y":2200,"wires":[["e67a398d.1e5088","f89698b6.66eda8"]]},{"id":"a5b2fe4d.1d77","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"37decde6.288b62","order":1,"width":"9","height":"4","passthru":false,"label":"Rezerve-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":660,"y":2260,"wires":[["7339e324.45d26c","cda3c4f7.5ecdb8"]]},{"id":"ff50a6bb.053e18","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"37decde6.288b62","order":2,"width":"9","height":"4","passthru":false,"label":"Rezerve-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":670,"y":2300,"wires":[["7fa50bd6.4d9274","cda3c4f7.5ecdb8"]]},{"id":"fafddd40.44541","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":1900,"wires":[["f0a869ea.197988"]]},{"id":"f0a869ea.197988","type":"function","z":"e1f8cc74.78c05","name":"Creating Button Status","func":"var buttonStatuses = {\n    \n    \"r1\" : \"off\",\n    \"r2\" : \"off\",\n    \"r3\" : \"off\",\n    \"r4\" : \"off\",\n    \"r5\" : \"off\",\n    \"r6\" : \"off\",\n    \"r7\" : \"off\",\n    \"r8\" : \"off\"\n}\n\nglobal.set(\"buttonStatuses\", buttonStatuses);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1900,"wires":[[]]},{"id":"d2726bb0.7d41a8","type":"function","z":"e1f8cc74.78c05","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r1 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1960,"wires":[[]]},{"id":"18fa5475.27948c","type":"function","z":"e1f8cc74.78c05","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r1 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2000,"wires":[[]]},{"id":"b0d3acf5.07193","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"buttonStatuses.r1","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1960,"wires":[["71372165.811ff"]]},{"id":"bb4f0627.120628","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"buttonStatuses.r1","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2000,"wires":[["d96adfa6.13764"]]},{"id":"d96adfa6.13764","type":"function","z":"e1f8cc74.78c05","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2000,"wires":[["69fcfeba.2973a"]]},{"id":"3eb3c0b9.ed9c7","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"buttonStatuses.r2","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2060,"wires":[["e9663bcc.0c4498"]]},{"id":"2c39f398.9504dc","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"buttonStatuses.r2","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2100,"wires":[["6630e3e2.81005c"]]},{"id":"bf116b5b.779108","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"buttonStatuses.r3","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2160,"wires":[["831fa819.0f4f58"]]},{"id":"5fb06f99.d1cd6","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"buttonStatuses.r3","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2200,"wires":[["944f30e3.2bc42"]]},{"id":"1b7b37f8.990ba8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"buttonStatuses.r4","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2260,"wires":[["55af5686.a9dc88"]]},{"id":"4fc2a216.c3ed8c","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"buttonStatuses.r4","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2300,"wires":[["8d790099.a4933"]]},{"id":"c71ddb27.81ab38","type":"function","z":"e1f8cc74.78c05","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r2 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2060,"wires":[[]]},{"id":"2467615a.4c50fe","type":"function","z":"e1f8cc74.78c05","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r2 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2100,"wires":[[]]},{"id":"49f2dd0.c72cd24","type":"function","z":"e1f8cc74.78c05","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r3 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2160,"wires":[[]]},{"id":"e67a398d.1e5088","type":"function","z":"e1f8cc74.78c05","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r3 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2200,"wires":[[]]},{"id":"7339e324.45d26c","type":"function","z":"e1f8cc74.78c05","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r4 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2260,"wires":[[]]},{"id":"7fa50bd6.4d9274","type":"function","z":"e1f8cc74.78c05","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r4 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2300,"wires":[[]]},{"id":"e9663bcc.0c4498","type":"function","z":"e1f8cc74.78c05","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2060,"wires":[["5433e9e1.84cf48"]]},{"id":"6630e3e2.81005c","type":"function","z":"e1f8cc74.78c05","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2100,"wires":[["eb2b27ad.dd30d8"]]},{"id":"831fa819.0f4f58","type":"function","z":"e1f8cc74.78c05","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2160,"wires":[["84b36477.d337a8"]]},{"id":"944f30e3.2bc42","type":"function","z":"e1f8cc74.78c05","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2200,"wires":[["7604ed2.e915714"]]},{"id":"55af5686.a9dc88","type":"function","z":"e1f8cc74.78c05","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2260,"wires":[["a5b2fe4d.1d77"]]},{"id":"8d790099.a4933","type":"function","z":"e1f8cc74.78c05","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2300,"wires":[["ff50a6bb.053e18"]]},{"id":"9e168c8d.e3572","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"cb63caf6.773508","order":0,"width":"3","height":"4","gtype":"gage","title":"R","label":"VA","format":"{{payload.repg_p1}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":420,"wires":[]},{"id":"e8ce8121.591a1","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"cb63caf6.773508","order":0,"width":"3","height":"4","gtype":"gage","title":"T","label":"VA","format":"{{payload.repg_p3}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":500,"wires":[]},{"id":"72a193a3.aa69ec","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"bcf8a680.cec748","order":0,"width":"9","height":"4","gtype":"gage","title":"Güç LT","label":"VA","format":"{{payload.repg_t_p}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":540,"wires":[]},{"id":"6e848a0f.584564","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"b0e8233f.98062","order":2,"width":"3","height":"4","gtype":"gage","title":"S","label":"A","format":"{{payload.repg_c2}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":320,"wires":[]},{"id":"6c598ee1.8cd8f","type":"function","z":"e1f8cc74.78c05","name":"RePG","func":"\nmsg = {\n    \"payload\" : {\n        //\"repg_v1\"   :   msg.payload[1]  /   10 ,\n        //\"repg_v2\"\t:   msg.payload[3]  /   10 ,\n        //\"repg_v3\"\t:   msg.payload[5]  /   10 ,\n        \"repg_v1_2\"\t:   msg.payload[9]  /   10 ,\n        \"repg_v2_3\"\t:   msg.payload[11] /   10 ,\n        \"repg_v3_1\"\t:   msg.payload[13] /   10 ,\n        \"repg_c1\"\t:   msg.payload[15] /   1000 ,\n        \"repg_c2\"\t:   msg.payload[17] /   1000 ,\n        \"repg_c3\"\t:   msg.payload[19] /   1000 \n        \n        \n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["8a71ef11.cf632","7565ed27.2699d4","5c317d46.edd044","cb527a36.e26168","6e848a0f.584564","a3a6e316.4128b","6b9f6ab7.9b2684"]]},{"id":"8a71ef11.cf632","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"1da85d91.0caad2","order":0,"width":"3","height":"4","gtype":"gage","title":"R","label":"V","format":"{{payload.repg_v1_2}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":140,"wires":[]},{"id":"7565ed27.2699d4","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"1da85d91.0caad2","order":0,"width":"3","height":"4","gtype":"gage","title":"S","label":"V","format":"{{payload.repg_v2_3}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":180,"wires":[]},{"id":"5c317d46.edd044","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"1da85d91.0caad2","order":0,"width":"3","height":"4","gtype":"gage","title":"T","label":"V","format":"{{payload.repg_v3_1}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":220,"wires":[]},{"id":"a3a6e316.4128b","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"b0e8233f.98062","order":3,"width":"3","height":"4","gtype":"gage","title":"T","label":"A","format":"{{payload.repg_c3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":360,"wires":[]},{"id":"972df6d1.dd00c8","type":"debug","z":"e1f8cc74.78c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":760,"wires":[]},{"id":"44a7e8e1.152698","type":"ui_gauge","z":"e1f8cc74.78c05","name":"T1","group":"8d8ad228.5a975","order":0,"width":"6","height":"5","gtype":"gage","title":"Sıcak Su Giriş","label":"°C","format":"{{payload.Temp1}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":600,"wires":[]},{"id":"1a4e0394.6e9adc","type":"ui_gauge","z":"e1f8cc74.78c05","name":"T2","group":"8e5d843d.7029e8","order":3,"width":"6","height":"5","gtype":"gage","title":"Sıcak Su Çıkış","label":"°C","format":"{{payload.Temp2}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":640,"wires":[]},{"id":"ca0c972a.0099b8","type":"ui_gauge","z":"e1f8cc74.78c05","name":"T3","group":"98c34136.8f6a8","order":0,"width":"6","height":"5","gtype":"gage","title":"Türbin Giriş","label":"°C","format":"{{payload.Temp3}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":680,"wires":[]},{"id":"6e88a37e.2636fc","type":"ui_gauge","z":"e1f8cc74.78c05","name":"T4","group":"ea0a6bf9.3f40c8","order":0,"width":"6","height":"5","gtype":"gage","title":"Türbin Çıkış","label":"°C","format":"{{payload.Temp4}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":720,"wires":[]},{"id":"527cbdee.9f3b04","type":"ui_gauge","z":"e1f8cc74.78c05","name":"T5","group":"9b4d09d3.6ce778","order":0,"width":"6","height":"5","gtype":"gage","title":"Pompa Çıkış","label":"°C","format":"{{payload.Temp5}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":760,"wires":[]},{"id":"5817acca.6f40b4","type":"ui_gauge","z":"e1f8cc74.78c05","name":"T6","group":"bc602f9a.928a3","order":0,"width":"6","height":"5","gtype":"gage","title":"Soğuk Su","label":"°C","format":"{{payload.Temp6}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":800,"wires":[]},{"id":"d98ad7a7.e9fc68","type":"ui_gauge","z":"e1f8cc74.78c05","name":"P1","group":"85e7a346.0f45c","order":0,"width":"9","height":"4","gtype":"gage","title":"Türbin Çıkış","label":"bar","format":"{{payload}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":860,"wires":[]},{"id":"244b2b4c.87d684","type":"ui_gauge","z":"e1f8cc74.78c05","name":"P2","group":"7e0d888f.9623d8","order":3,"width":"9","height":"4","gtype":"gage","title":"Türbin Giriş","label":"bar","format":"{{payload}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":900,"wires":[]},{"id":"42be357f.bcb0bc","type":"ui_gauge","z":"e1f8cc74.78c05","name":"P3","group":"65b5e13d.59b85","order":0,"width":"9","height":"4","gtype":"gage","title":"Rezerve","label":"bar","format":"{{payload}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":940,"wires":[]},{"id":"a0e81b8c.998588","type":"ui_gauge","z":"e1f8cc74.78c05","name":"P4","group":"3afe2a43.519e36","order":0,"width":"9","height":"4","gtype":"gage","title":"Rezerve","label":"bar","format":"{{payload}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":980,"wires":[]},{"id":"4c6ba15d.2f91b","type":"function","z":"e1f8cc74.78c05","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"P1\"    :   msg.payload[0]  /   100,\n        \"P2\"\t:   msg.payload[1]  /   100,\n        \"P3\"\t:   msg.payload[2]  /   100,\n        \"P4\"\t:   msg.payload[3]  /   100\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":860,"wires":[["d0c05078.b679a","b00c8659.9e65a8","b49cc9a8.ebc2b8","a6352745.a4a078"]]},{"id":"d0c05078.b679a","type":"range","z":"e1f8cc74.78c05","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P1","name":"","x":490,"y":860,"wires":[["1acc463c.b34dca"]]},{"id":"b00c8659.9e65a8","type":"range","z":"e1f8cc74.78c05","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P2","name":"","x":490,"y":900,"wires":[["566bcf6d.56b07"]]},{"id":"b49cc9a8.ebc2b8","type":"range","z":"e1f8cc74.78c05","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P3","name":"","x":490,"y":940,"wires":[["83d6d19f.5f264"]]},{"id":"a6352745.a4a078","type":"range","z":"e1f8cc74.78c05","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P4","name":"","x":490,"y":980,"wires":[["64826f69.c114c"]]},{"id":"35682250.4e238e","type":"debug","z":"e1f8cc74.78c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":920,"wires":[]},{"id":"42c6cda3.f43b44","type":"modbus-read","z":"e1f8cc74.78c05","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"aa692dea.9b294","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":120,"y":880,"wires":[["35682250.4e238e","4c6ba15d.2f91b"],[]]},{"id":"bf450392.186a7","type":"modbus-read","z":"e1f8cc74.78c05","name":"PT-100","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"aa692dea.9b294","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":700,"wires":[["972df6d1.dd00c8","e6555eee.77e82"],[]]},{"id":"6f873124.997cc","type":"modbus-read","z":"e1f8cc74.78c05","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"30","rate":"4","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"aa692dea.9b294","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":240,"wires":[["6c598ee1.8cd8f","fb8ce5e4.de0598"],[]]},{"id":"6667196d.e42028","type":"modbus-read","z":"e1f8cc74.78c05","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"26","quantity":"37","rate":"7","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"aa692dea.9b294","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":420,"wires":[["21f3533b.fa4f6c"],[]]},{"id":"fb8ce5e4.de0598","type":"debug","z":"e1f8cc74.78c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":340,"wires":[]},{"id":"c4f5b4b2.771828","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":560,"wires":[]},{"id":"ac56c126.b2c93","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload\nmsg.payload = parseInt( ( data * 100 ).toFixed(0) )\n\nglobal.set('value', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1160,"wires":[["defa1f99.33cfe"]]},{"id":"d1bdeb72.6b9748","type":"ui_slider","z":"e1f8cc74.78c05","name":"slider_1","label":"","tooltip":"","group":"11fcdf03.c524b1","order":5,"width":"8","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":"1","x":520,"y":1140,"wires":[["fc114f0c.31749","290a2a81.d345a6","d7154c44.f5ab8"]],"icon":"node-red/alert.png"},{"id":"8001e9fc.55f8e8","type":"ui_button","z":"e1f8cc74.78c05","name":"+_1","group":"11fcdf03.c524b1","order":4,"width":"1","height":"1","passthru":false,"label":"+","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"","x":180,"y":1060,"wires":[["b1f05786.2c44b8"]]},{"id":"f31e9d45.524fc","type":"ui_button","z":"e1f8cc74.78c05","name":"-_1","group":"11fcdf03.c524b1","order":2,"width":"1","height":"1","passthru":false,"label":"-","tooltip":"","color":"red","bgcolor":"white","icon":"","payload":"-","payloadType":"str","topic":"","x":180.00347137451172,"y":1106.989473938942,"wires":[["b1f05786.2c44b8"]]},{"id":"b1f05786.2c44b8","type":"function","z":"e1f8cc74.78c05","name":"Obtained Global Variable","func":"\nvar Value = global.get(\"val\");\n\nif(msg.payload == \"+\" && Value <50){\n    global.set('val', Value + 1)\n} \n\nif(msg.payload == \"-\" && Value >0) {\n    global.set('val', Value - 1)\n}\nValue = global.get(\"val\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":370,"y":1080,"wires":[["d1bdeb72.6b9748"]]},{"id":"5861aa35.c621a4","type":"function","z":"e1f8cc74.78c05","name":"Global Variable Initializing","func":"global.set(\"val\", 0);\nglobal.set(\"val1\", 0);\nglobal.set(\"val2\", 0);\nglobal.set(\"val3\", 0);\nglobal.set(\"val4\", 0);\nglobal.set(\"val5\", 0);","outputs":1,"noerr":0,"x":370,"y":1180,"wires":[[]]},{"id":"ad12fc89.59d8c","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1180,"wires":[["5861aa35.c621a4"]]},{"id":"d7154c44.f5ab8","type":"ui_text","z":"e1f8cc74.78c05","group":"11fcdf03.c524b1","order":3,"width":"6","height":"1","name":"text_1","label":"","format":"{{msg.payload}}","layout":"col-center","x":710,"y":1120,"wires":[]},{"id":"fc114f0c.31749","type":"function","z":"e1f8cc74.78c05","name":"Setting Global Variable","func":"if(msg.payload){\n     global.set('val', msg.payload)\n}\n   \n\n\nmsg = {\n    \"payload\" : global.get('val'),\n     \"data\" : Math.floor(global.get('val') * 1.365)\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1080,"wires":[[]]},{"id":"520d60f2.c0dea","type":"ui_text","z":"e1f8cc74.78c05","group":"11fcdf03.c524b1","order":1,"width":"8","height":"1","name":"INV-1","label":"Sürücü","format":"{{msg.payload}}","layout":"row-center","x":830,"y":1120,"wires":[]},{"id":"3b79592b.8eca36","type":"debug","z":"e1f8cc74.78c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1220,"wires":[]},{"id":"290a2a81.d345a6","type":"range","z":"e1f8cc74.78c05","minin":"0","maxin":"50","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":710,"y":1160,"wires":[["ac56c126.b2c93"]]},{"id":"defa1f99.33cfe","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"11fcdf03.c524b1","order":5,"width":"8","height":"1","passthru":false,"label":"UYGULA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"value","payloadType":"global","topic":"","x":780,"y":1220,"wires":[["3b79592b.8eca36","8eae67e8.3d95f8"]]},{"id":"dda47a54.cac488","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":1320,"wires":[]},{"id":"f1d4efe5.23427","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1200,"wires":[["8eae67e8.3d95f8"]]},{"id":"20c30c1a.465c44","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1240,"wires":[["8eae67e8.3d95f8"]]},{"id":"51a1f102.1b53","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"600","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1280,"wires":[["8eae67e8.3d95f8"]]},{"id":"f6df210f.84ea4","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1360,"wires":[["8eae67e8.3d95f8"]]},{"id":"8b975a5a.481c48","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1320,"wires":[["8eae67e8.3d95f8"]]},{"id":"8eae67e8.3d95f8","type":"modbus-write","z":"e1f8cc74.78c05","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"aa692dea.9b294","x":780,"y":1300,"wires":[["dda47a54.cac488"],[]]},{"id":"2fe50856.888998","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":180,"wires":[]},{"id":"99dd4c71.93098","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":120,"wires":[["3f00b513.32535a"]]},{"id":"3f00b513.32535a","type":"function","z":"e1f8cc74.78c05","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"A1_v1\"     :undefined,\n    \"A1_v2\"     :undefined,\n    \"A1_v3\"     :undefined,\n    \"A1_c1\"     :undefined,\n    \"A1_c2\"     :undefined,\n    \"A1_c3\"     :undefined,\n    \"A1_p1\"     :undefined,\n    \"A1_p2\"     :undefined,\n    \"A1_p3\"     :undefined,\n    \"A1_t_p\"    :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"P3\"        :undefined,\n    \"P4\"        :undefined,\n    \"PT\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[[]]},{"id":"f1ca554.7301fa8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["2fe50856.888998"]]},{"id":"6b9f6ab7.9b2684","type":"function","z":"e1f8cc74.78c05","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"A1_v1\"]   =   msg.payload[\"repg_v1_2\"];\ndata[\"A1_v2\"]   =   msg.payload[\"repg_v2_3\"];\ndata[\"A1_v3\"]   =   msg.payload[\"repg_v3_1\"];\ndata[\"A1_c1\"]   =   msg.payload[\"repg_c1\"];\ndata[\"A1_c2\"]   =   msg.payload[\"repg_c2\"];\ndata[\"A1_c3\"]   =   msg.payload[\"repg_c3\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":240,"wires":[[]]},{"id":"36f892a5.bfe59e","type":"function","z":"e1f8cc74.78c05","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\n\ndata[\"A1_p1\"]   =   msg.payload[\"repg_p1\"];\ndata[\"A1_p2\"]   =   msg.payload[\"repg_p2\"];\ndata[\"A1_p3\"]   =   msg.payload[\"repg_p3\"];\ndata[\"A1_t_p\"]  =   msg.payload[\"repg_t_p\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":400,"wires":[[]]},{"id":"6579e270.d6efcc","type":"function","z":"e1f8cc74.78c05","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":620,"wires":[[]]},{"id":"b66ebdcc.295ac","type":"function","z":"e1f8cc74.78c05","name":"RePG","func":"var data = global.get('azure_data');\n\n\n\nmsg = {\n    \"payload\" : {\n        \n        \"repg_p1\"   :   parseFloat( ( (data[\"A1_v1\"]    /   1.73) * data[\"A1_c1\"]).toFixed(0) ),\n        \"repg_p2\"   :   parseFloat( ( (data[\"A1_v2\"]    /   1.73) * data[\"A1_c2\"]).toFixed(0) ) ,\n        \"repg_p3\"   :   parseFloat( ( (data[\"A1_v3\"]    /   1.73) * data[\"A1_c3\"]).toFixed(0) ) ,\n        \"repg_t_p\"  :   parseFloat( ( data[\"A1_p1\"] +  data[\"A1_p2\"] + data[\"A1_p3\"] ).toFixed(0) )\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":420,"wires":[["36f892a5.bfe59e","9e168c8d.e3572","e678c5ea.480808","e8ce8121.591a1","72a193a3.aa69ec"]]},{"id":"b08436c7.757d78","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1020,"y":200,"wires":[[]]},{"id":"fdda3ff6.6395","type":"function","z":"e1f8cc74.78c05","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"2c61c9f2-4c98-4121-9782-e58a54533747\",\n        \"key\": \"dd/k0MTs70DG9kS/h0uuyTjmvDZa077IF+VVV+pKD/w=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":300,"wires":[[]]},{"id":"faf1776f.63c018","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":420,"wires":[]},{"id":"1acc463c.b34dca","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = parseFloat( (msg.payload.P1).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":860,"wires":[["d98ad7a7.e9fc68","5a2872b5.f65e6c"]]},{"id":"566bcf6d.56b07","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = parseFloat( (msg.payload.P2).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":900,"wires":[["244b2b4c.87d684","f40e07a2.ac3ec8"]]},{"id":"83d6d19f.5f264","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = parseFloat( (msg.payload.P3).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P3\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":940,"wires":[["42be357f.bcb0bc"]]},{"id":"64826f69.c114c","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = parseFloat( (msg.payload.P4).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P4\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":980,"wires":[["a0e81b8c.998588"]]},{"id":"1d471bec.6bdc84","type":"ui_gauge","z":"e1f8cc74.78c05","name":"T1","group":"e5eb24bd.172c08","order":0,"width":"4","height":"4","gtype":"gage","title":"Sıcak Su Giriş","label":"°C","format":"{{payload.Temp1}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":700,"wires":[]},{"id":"38192884.80a898","type":"ui_gauge","z":"e1f8cc74.78c05","name":"T3","group":"e5eb24bd.172c08","order":0,"width":"4","height":"4","gtype":"gage","title":"Türbin Giriş","label":"°C","format":"{{payload.Temp3}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":780,"wires":[]},{"id":"f40e07a2.ac3ec8","type":"ui_gauge","z":"e1f8cc74.78c05","name":"P2","group":"6c790b0a.1187e4","order":3,"width":"4","height":"4","gtype":"gage","title":"Türbin Giriş","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":900,"wires":[]},{"id":"8da10a83.dee618","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":500,"wires":[[]]},{"id":"63218035.ba424","type":"azureiothub","z":"e1f8cc74.78c05","name":"Azure IoT Hub","protocol":"mqtt","x":1200,"y":600,"wires":[["917d9015.61b5d"]]},{"id":"f825c42d.524db8","type":"function","z":"e1f8cc74.78c05","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"c8f32470-2083-4841-9104-b6a361632914\",\n        \"key\": \"FmG9Te/CDLyXSS2l8Mi7hz5JXc/xfoOB4Gc/FRMa3z0=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":540,"wires":[["63218035.ba424"]]},{"id":"917d9015.61b5d","type":"debug","z":"e1f8cc74.78c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":540,"wires":[]},{"id":"33a19eb6.c05a62","type":"comment","z":"e1f8cc74.78c05","name":"RePG Stand-By 3","info":"","x":970,"y":140,"wires":[]},{"id":"cb63caf6.773508","type":"ui_group","z":"","name":"Güç","tab":"43651d6f.a1d4a4","order":4,"disp":true,"width":"9","collapse":false},{"id":"b0e8233f.98062","type":"ui_group","z":"","name":"Akım","tab":"43651d6f.a1d4a4","order":3,"disp":true,"width":"9","collapse":false},{"id":"6c790b0a.1187e4","type":"ui_group","z":"","name":"Basınç","tab":"30467f2e.5fe4d","order":5,"disp":true,"width":"8","collapse":false},{"id":"42f2893d.84ac28","type":"ui_group","z":"","name":"Buton","tab":"30467f2e.5fe4d","order":3,"disp":false,"width":"8","collapse":false},{"id":"879c1352.a7705","type":"ui_group","z":"","name":"Buton-3","tab":"12ba2ac4.202805","order":5,"disp":false,"width":"9","collapse":false},{"id":"37decde6.288b62","type":"ui_group","z":"","name":"Buton-4","tab":"12ba2ac4.202805","order":6,"disp":false,"width":"9","collapse":false},{"id":"bcf8a680.cec748","type":"ui_group","z":"","name":"RePG","tab":"43651d6f.a1d4a4","order":5,"disp":true,"width":"9","collapse":false},{"id":"1da85d91.0caad2","type":"ui_group","z":"","name":"Gerilim","tab":"43651d6f.a1d4a4","order":1,"disp":true,"width":"9","collapse":false},{"id":"8d8ad228.5a975","type":"ui_group","z":"","name":"T1","tab":"1bd68073.39b34","order":1,"disp":false,"width":"6","collapse":false},{"id":"8e5d843d.7029e8","type":"ui_group","z":"","name":"T2","tab":"1bd68073.39b34","order":2,"disp":false,"width":"6","collapse":false},{"id":"98c34136.8f6a8","type":"ui_group","z":"","name":"T3","tab":"1bd68073.39b34","order":3,"disp":false,"width":"6","collapse":false},{"id":"ea0a6bf9.3f40c8","type":"ui_group","z":"","name":"T4","tab":"1bd68073.39b34","order":4,"disp":false,"width":"6","collapse":false},{"id":"9b4d09d3.6ce778","type":"ui_group","z":"","name":"T5","tab":"1bd68073.39b34","order":5,"disp":false,"width":"6","collapse":false},{"id":"bc602f9a.928a3","type":"ui_group","z":"","name":"T6","tab":"1bd68073.39b34","order":6,"disp":false,"width":"6","collapse":false},{"id":"85e7a346.0f45c","type":"ui_group","z":"","name":"P1","tab":"cbd24b85.b1f8b8","order":1,"disp":true,"width":"9","collapse":false},{"id":"7e0d888f.9623d8","type":"ui_group","z":"","name":"P2","tab":"cbd24b85.b1f8b8","order":2,"disp":true,"width":"9","collapse":false},{"id":"65b5e13d.59b85","type":"ui_group","z":"","name":"P3","tab":"cbd24b85.b1f8b8","order":3,"disp":true,"width":"9","collapse":false},{"id":"3afe2a43.519e36","type":"ui_group","z":"","name":"P4","tab":"cbd24b85.b1f8b8","order":4,"disp":true,"width":"9","collapse":false},{"id":"aa692dea.9b294","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"11fcdf03.c524b1","type":"ui_group","z":"","name":"Sürücü","tab":"30467f2e.5fe4d","order":1,"disp":false,"width":"8","collapse":false},{"id":"e5eb24bd.172c08","type":"ui_group","z":"","name":"Sıcaklık","tab":"30467f2e.5fe4d","order":4,"disp":true,"width":"8","collapse":false},{"id":"43651d6f.a1d4a4","type":"ui_tab","z":"","name":"Elektrik","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"30467f2e.5fe4d","type":"ui_tab","z":"","name":"RePG Stand-By 3","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"12ba2ac4.202805","type":"ui_tab","z":"","name":"Kontrol","icon":"dashboard","order":3},{"id":"1bd68073.39b34","type":"ui_tab","z":"","name":"Sıcaklık Sensör","icon":"dashboard","order":5},{"id":"cbd24b85.b1f8b8","type":"ui_tab","z":"","name":"Basınç Sensör","icon":"dashboard","order":4}]