RePG_Stand_By_2_16092019.txt
[{"id":"5d3d7b1a.550174","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"","group":"fd463b79.824828","order":1,"width":"3","height":"4","gtype":"gage","title":"R","label":"A","format":"{{payload.repg_c1}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":220,"wires":[]},{"id":"7030affb.38a33","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"P1","group":"9d3595ca.a661c8","order":0,"width":"4","height":"4","gtype":"gage","title":"Türbin Çıkış","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":800,"wires":[]},{"id":"ab0eb1c9.c6d4d","type":"function","z":"f143a6e7.94f2b8","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0]  /   10,\n        \"Temp2\"\t:   msg.payload[1]  /   10,\n        \"Temp3\"\t:   msg.payload[2]  /   10,\n        \"Temp4\"\t:   msg.payload[3]  /   10,\n        \"Temp5\"\t:   msg.payload[4]  /   10,\n        \"Temp6\"\t:   msg.payload[5]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":640,"wires":[["6fb255cf.4f6abc","6bb8b536.a2e16c","bf6ef270.450e1","d81e0671.6e8f88","7068cc1.e590034","ccfc6627.fc09c8","89c5cd1f.d43fe","a135945.592d168","31541f8e.83fb"]]},{"id":"d8df1c07.e9ffe","type":"function","z":"f143a6e7.94f2b8","name":"","func":"let array = msg.payload\n\n\nlet array1 = [];\nlet start = 0;\nlet end = 2;\n\nfor(i = 0; i <= array.length /2 -1; i++){\n    array1.push(array.slice(start, end));\n    start += 2;\n    end  = start + 2;\n}\n\n\nlet array2 = [];\nfor(var item of array1){\n    for(var j of item){\n        array2.push(j.toString(16))\n    }\n}\n\nlet array3 = [];\nstart = 0;\nend = 2;\nfor(i = 0; i <= array.length /2 -1; i++){\n    array3.push(\"0x\"+array2.slice(start, end).join(\"\"));\n    start += 2;\n    end  = start + 2;\n}\n\nvar array4 = []\nfor(var k of array3){\n    var v = new DataView(new ArrayBuffer(4))\n    v.setUint32(0, k)\n    array4.push(String(v.getFloat32(0)).slice(0,5));\n}\n\nlet array5 = array4.map( y => ( isNaN(y) ? null : parseFloat(y)  ) )\n\nmsg = {\n    \"payload\" : array5\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["5f4c0567.3c9f8c"]]},{"id":"90902dc6.f2e37","type":"ui_button","z":"f143a6e7.94f2b8","name":"","group":"a791a84e.d4b168","order":1,"width":"4","height":"2","passthru":false,"label":"Pompa-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":720,"y":1900,"wires":[["dbed3079.20bf9","c0e6540.54e0fb"]]},{"id":"32e7697.bf98296","type":"function","z":"f143a6e7.94f2b8","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1900,"wires":[["90902dc6.f2e37"]]},{"id":"c0e6540.54e0fb","type":"rpi-gpio out","z":"f143a6e7.94f2b8","name":"Relay-1","pin":"7","set":"","level":"0","freq":"","out":"out","x":1060,"y":1880,"wires":[]},{"id":"669142d3.fc1c8c","type":"rpi-gpio out","z":"f143a6e7.94f2b8","name":"Relay-2","pin":"11","set":"","level":"0","freq":"","out":"out","x":1060,"y":1980,"wires":[]},{"id":"f3c23532.c68cd8","type":"rpi-gpio out","z":"f143a6e7.94f2b8","name":"Relay-3","pin":"13","set":"","level":"0","freq":"","out":"out","x":1060,"y":2080,"wires":[]},{"id":"5a57579e.ae7e78","type":"rpi-gpio out","z":"f143a6e7.94f2b8","name":"Relay-4","pin":"15","set":"","level":"0","freq":"","out":"out","x":1060,"y":2180,"wires":[]},{"id":"4eb0cdce.fd46a4","type":"ui_button","z":"f143a6e7.94f2b8","name":"","group":"a791a84e.d4b168","order":2,"width":"4","height":"2","passthru":false,"label":"Pompa-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":720,"y":1940,"wires":[["f0b3867.87f0778","c0e6540.54e0fb"]]},{"id":"7ed554d4.e6b46c","type":"ui_button","z":"f143a6e7.94f2b8","name":"","group":"a791a84e.d4b168","order":3,"width":"4","height":"2","passthru":false,"label":"Türbin-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":720,"y":2000,"wires":[["2bb69a9.4f46a66","669142d3.fc1c8c"]]},{"id":"a0a29921.ed8d88","type":"ui_button","z":"f143a6e7.94f2b8","name":"","group":"a791a84e.d4b168","order":4,"width":"4","height":"2","passthru":false,"label":"Türbin-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":720,"y":2040,"wires":[["a4d4a257.7264a","669142d3.fc1c8c"]]},{"id":"846054b4.ab8c48","type":"ui_button","z":"f143a6e7.94f2b8","name":"","group":"27d3803b.c76e","order":1,"width":"9","height":"4","passthru":false,"label":"DC Output-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":730,"y":2100,"wires":[["11df6970.5003a7","f3c23532.c68cd8"]]},{"id":"1ddb4e73.1547f2","type":"ui_button","z":"f143a6e7.94f2b8","name":"","group":"27d3803b.c76e","order":2,"width":"9","height":"4","passthru":false,"label":"DC Output-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":730,"y":2140,"wires":[["51957fc9.ec476","f3c23532.c68cd8"]]},{"id":"1236df18.08db31","type":"ui_button","z":"f143a6e7.94f2b8","name":"","group":"828a4e06.0dc26","order":1,"width":"9","height":"4","passthru":false,"label":"Rezerve-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":720,"y":2200,"wires":[["ec196358.ba923","5a57579e.ae7e78"]]},{"id":"eed7002.f2dfb","type":"ui_button","z":"f143a6e7.94f2b8","name":"","group":"828a4e06.0dc26","order":2,"width":"9","height":"4","passthru":false,"label":"Rezerve-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":730,"y":2240,"wires":[["f6634e97.e7b6a","5a57579e.ae7e78"]]},{"id":"3e7e3a.cb8001c6","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":370,"y":1840,"wires":[["e7ad6bd3.151798"]]},{"id":"e7ad6bd3.151798","type":"function","z":"f143a6e7.94f2b8","name":"Creating Button Status","func":"var buttonStatuses = {\n    \n    \"r1\" : \"off\",\n    \"r2\" : \"off\",\n    \"r3\" : \"off\",\n    \"r4\" : \"off\",\n    \"r5\" : \"off\",\n    \"r6\" : \"off\",\n    \"r7\" : \"off\",\n    \"r8\" : \"off\"\n}\n\nglobal.set(\"buttonStatuses\", buttonStatuses);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1840,"wires":[[]]},{"id":"dbed3079.20bf9","type":"function","z":"f143a6e7.94f2b8","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r1 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1900,"wires":[[]]},{"id":"f0b3867.87f0778","type":"function","z":"f143a6e7.94f2b8","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r1 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1940,"wires":[[]]},{"id":"6a18757e.9215ac","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"buttonStatuses.r1","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1900,"wires":[["32e7697.bf98296"]]},{"id":"9811f9fa.6cfae8","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"buttonStatuses.r1","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1940,"wires":[["af4272ba.e7cbc"]]},{"id":"af4272ba.e7cbc","type":"function","z":"f143a6e7.94f2b8","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1940,"wires":[["4eb0cdce.fd46a4"]]},{"id":"9a032f5b.077c","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"buttonStatuses.r2","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":2000,"wires":[["f08c63d5.fbf9d"]]},{"id":"f29d438f.c56c9","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"buttonStatuses.r2","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":2040,"wires":[["ff1daff3.e5e64"]]},{"id":"69a12203.15541c","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"buttonStatuses.r3","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":2100,"wires":[["4d654886.9ba158"]]},{"id":"ae71746a.ec3f48","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"buttonStatuses.r3","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":2140,"wires":[["60bc83a6.27bf6c"]]},{"id":"5b761339.f0d70c","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"buttonStatuses.r4","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":2200,"wires":[["3de7c621.3e501a"]]},{"id":"8de410f2.38365","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"buttonStatuses.r4","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":2240,"wires":[["4fea3c26.12c3c4"]]},{"id":"2bb69a9.4f46a66","type":"function","z":"f143a6e7.94f2b8","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r2 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":2000,"wires":[[]]},{"id":"a4d4a257.7264a","type":"function","z":"f143a6e7.94f2b8","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r2 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":2040,"wires":[[]]},{"id":"11df6970.5003a7","type":"function","z":"f143a6e7.94f2b8","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r3 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":2100,"wires":[[]]},{"id":"51957fc9.ec476","type":"function","z":"f143a6e7.94f2b8","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r3 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":2140,"wires":[[]]},{"id":"ec196358.ba923","type":"function","z":"f143a6e7.94f2b8","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r4 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":2200,"wires":[[]]},{"id":"f6634e97.e7b6a","type":"function","z":"f143a6e7.94f2b8","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r4 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":2240,"wires":[[]]},{"id":"f08c63d5.fbf9d","type":"function","z":"f143a6e7.94f2b8","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2000,"wires":[["7ed554d4.e6b46c"]]},{"id":"ff1daff3.e5e64","type":"function","z":"f143a6e7.94f2b8","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2040,"wires":[["a0a29921.ed8d88"]]},{"id":"4d654886.9ba158","type":"function","z":"f143a6e7.94f2b8","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2100,"wires":[["846054b4.ab8c48"]]},{"id":"60bc83a6.27bf6c","type":"function","z":"f143a6e7.94f2b8","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2140,"wires":[["1ddb4e73.1547f2"]]},{"id":"3de7c621.3e501a","type":"function","z":"f143a6e7.94f2b8","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2200,"wires":[["1236df18.08db31"]]},{"id":"4fea3c26.12c3c4","type":"function","z":"f143a6e7.94f2b8","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2240,"wires":[["eed7002.f2dfb"]]},{"id":"43a9cc64.047514","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"","group":"30823f2c.86c4f","order":0,"width":"3","height":"4","gtype":"gage","title":"R","label":"VA","format":"{{payload.repg_p1}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":360,"wires":[]},{"id":"2e1e0a45.8dda56","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"","group":"30823f2c.86c4f","order":0,"width":"3","height":"4","gtype":"gage","title":"S","label":"VA","format":"{{payload.repg_p2}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":400,"wires":[]},{"id":"e3df7f1c.ed405","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"","group":"30823f2c.86c4f","order":0,"width":"3","height":"4","gtype":"gage","title":"T","label":"VA","format":"{{payload.repg_p3}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":440,"wires":[]},{"id":"12f7efbf.5b008","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"","group":"717be387.761b5c","order":0,"width":"9","height":"4","gtype":"gage","title":"Güç LT","label":"VA","format":"{{payload.repg_t_p}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":480,"wires":[]},{"id":"b7c62a8e.25bf48","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"","group":"fd463b79.824828","order":2,"width":"3","height":"4","gtype":"gage","title":"S","label":"A","format":"{{payload.repg_c2}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":260,"wires":[]},{"id":"5f070df5.0e2dd4","type":"function","z":"f143a6e7.94f2b8","name":"RePG","func":"\nmsg = {\n    \"payload\" : {\n        //\"repg_v1\"   :   msg.payload[1]  /   10 ,\n        //\"repg_v2\"\t:   msg.payload[3]  /   10 ,\n        //\"repg_v3\"\t:   msg.payload[5]  /   10 ,\n        \"repg_v1_2\"\t:   msg.payload[9]  /   10 ,\n        \"repg_v2_3\"\t:   msg.payload[11] /   10 ,\n        \"repg_v3_1\"\t:   msg.payload[13] /   10 ,\n        \"repg_c1\"\t:   msg.payload[15] /   1000 ,\n        \"repg_c2\"\t:   msg.payload[17] /   1000 ,\n        \"repg_c3\"\t:   msg.payload[19] /   1000 \n        \n        \n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["d52a9cc.1aa2d6","c51bbd2e.d744b","14ffb1ba.5882de","5d3d7b1a.550174","b7c62a8e.25bf48","17e04abd.2d6985","63ae877b.ec10e8"]]},{"id":"d52a9cc.1aa2d6","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"","group":"de4be2a5.0ead1","order":0,"width":"3","height":"4","gtype":"gage","title":"R","label":"V","format":"{{payload.repg_v1_2}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":80,"wires":[]},{"id":"c51bbd2e.d744b","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"","group":"de4be2a5.0ead1","order":0,"width":"3","height":"4","gtype":"gage","title":"S","label":"V","format":"{{payload.repg_v2_3}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":120,"wires":[]},{"id":"14ffb1ba.5882de","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"","group":"de4be2a5.0ead1","order":0,"width":"3","height":"4","gtype":"gage","title":"T","label":"V","format":"{{payload.repg_v3_1}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":160,"wires":[]},{"id":"17e04abd.2d6985","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"","group":"fd463b79.824828","order":3,"width":"3","height":"4","gtype":"gage","title":"T","label":"A","format":"{{payload.repg_c3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":300,"wires":[]},{"id":"9f0dd5ac.0274e8","type":"debug","z":"f143a6e7.94f2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":700,"wires":[]},{"id":"6fb255cf.4f6abc","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"T1","group":"4b41450.6f042bc","order":0,"width":"6","height":"5","gtype":"gage","title":"Sıcak Su Giriş","label":"°C","format":"{{payload.Temp1}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":540,"wires":[]},{"id":"6bb8b536.a2e16c","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"T2","group":"d7f89c1a.36167","order":3,"width":"6","height":"5","gtype":"gage","title":"Sıcak Su Çıkış","label":"°C","format":"{{payload.Temp2}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":580,"wires":[]},{"id":"bf6ef270.450e1","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"T3","group":"f9881855.906b08","order":0,"width":"6","height":"5","gtype":"gage","title":"Türbin Giriş","label":"°C","format":"{{payload.Temp3}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":620,"wires":[]},{"id":"d81e0671.6e8f88","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"T4","group":"34707c34.cd6e74","order":0,"width":"6","height":"5","gtype":"gage","title":"Türbin Çıkış","label":"°C","format":"{{payload.Temp4}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":660,"wires":[]},{"id":"7068cc1.e590034","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"T5","group":"23367fde.79c41","order":0,"width":"6","height":"5","gtype":"gage","title":"Pompa Çıkış","label":"°C","format":"{{payload.Temp5}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":700,"wires":[]},{"id":"ccfc6627.fc09c8","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"T6","group":"9974c51c.cc25e8","order":0,"width":"6","height":"5","gtype":"gage","title":"Soğuk Su","label":"°C","format":"{{payload.Temp6}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":740,"wires":[]},{"id":"3c8601ef.bc977e","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"P1","group":"db857ec3.b3ac8","order":0,"width":"9","height":"4","gtype":"gage","title":"Türbin Çıkış","label":"bar","format":"{{payload}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":800,"wires":[]},{"id":"9eec6cdd.8df9d","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"P2","group":"f3490563.7df6d8","order":3,"width":"9","height":"4","gtype":"gage","title":"Türbin Giriş","label":"bar","format":"{{payload}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":840,"wires":[]},{"id":"a1d5c407.de1a78","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"P3","group":"bb773727.bb3a78","order":0,"width":"9","height":"4","gtype":"gage","title":"Rezerve","label":"bar","format":"{{payload}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":880,"wires":[]},{"id":"97945f51.c43c1","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"P4","group":"e5573493.9678e8","order":0,"width":"9","height":"4","gtype":"gage","title":"Rezerve","label":"bar","format":"{{payload}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":920,"wires":[]},{"id":"8623cf61.3e7a9","type":"function","z":"f143a6e7.94f2b8","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"P1\"    :   msg.payload[0]  /   100,\n        \"P2\"\t:   msg.payload[1]  /   100,\n        \"P3\"\t:   msg.payload[2]  /   100,\n        \"P4\"\t:   msg.payload[3]  /   100\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":800,"wires":[["7f1cf4dd.d7bb2c","669b5ff.a77bca","9be8f3c5.9f33c","3d6c5d42.9d3ed2"]]},{"id":"7f1cf4dd.d7bb2c","type":"range","z":"f143a6e7.94f2b8","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P1","name":"","x":550,"y":800,"wires":[["55e8564c.c935a8"]]},{"id":"669b5ff.a77bca","type":"range","z":"f143a6e7.94f2b8","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P2","name":"","x":550,"y":840,"wires":[["e7071f66.0e1e3"]]},{"id":"9be8f3c5.9f33c","type":"range","z":"f143a6e7.94f2b8","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P3","name":"","x":550,"y":880,"wires":[["55bf37cf.4a9018"]]},{"id":"3d6c5d42.9d3ed2","type":"range","z":"f143a6e7.94f2b8","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P4","name":"","x":550,"y":920,"wires":[["fd9d9a9e.4e3958"]]},{"id":"4e189fd1.eaab9","type":"debug","z":"f143a6e7.94f2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":860,"wires":[]},{"id":"f3b65101.919e2","type":"modbus-read","z":"f143a6e7.94f2b8","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"c7394c6c.a5ed7","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":180,"y":820,"wires":[["4e189fd1.eaab9","8623cf61.3e7a9"],[]]},{"id":"c309dcfd.8b8fa","type":"modbus-read","z":"f143a6e7.94f2b8","name":"PT-100","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"c7394c6c.a5ed7","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":640,"wires":[["9f0dd5ac.0274e8","ab0eb1c9.c6d4d"],[]]},{"id":"3181ac03.4af174","type":"modbus-read","z":"f143a6e7.94f2b8","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"30","rate":"4","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"c7394c6c.a5ed7","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":220,"y":180,"wires":[["5f070df5.0e2dd4","b1ca2c51.2f85f"],[]]},{"id":"a83b64b5.be9e98","type":"modbus-read","z":"f143a6e7.94f2b8","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"26","quantity":"37","rate":"7","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"c7394c6c.a5ed7","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":230,"y":360,"wires":[["d8df1c07.e9ffe"],[]]},{"id":"b1ca2c51.2f85f","type":"debug","z":"f143a6e7.94f2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":280,"wires":[]},{"id":"67f408fc.a2a588","type":"debug","z":"f143a6e7.94f2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":500,"wires":[]},{"id":"a430c0e4.78edd","type":"function","z":"f143a6e7.94f2b8","name":"","func":"var data = msg.payload\nmsg.payload = parseInt( ( data * 100 ).toFixed(0) )\n\nglobal.set('value', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1100,"wires":[["22d695d3.cddf5a"]]},{"id":"8c71c69f.de6cc8","type":"ui_slider","z":"f143a6e7.94f2b8","name":"slider_1","label":"","tooltip":"","group":"9c92c57e.5cc638","order":5,"width":"8","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":"1","x":580,"y":1080,"wires":[["dbc0d42d.447448","b36c5e01.e8063","392ff963.2ffb96"]],"icon":"node-red/alert.png"},{"id":"60939492.447a3c","type":"ui_button","z":"f143a6e7.94f2b8","name":"+_1","group":"9c92c57e.5cc638","order":4,"width":"1","height":"1","passthru":false,"label":"+","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"","x":240,"y":1000,"wires":[["3493d3df.f604bc"]]},{"id":"bb9566af.32f028","type":"ui_button","z":"f143a6e7.94f2b8","name":"-_1","group":"9c92c57e.5cc638","order":2,"width":"1","height":"1","passthru":false,"label":"-","tooltip":"","color":"red","bgcolor":"white","icon":"","payload":"-","payloadType":"str","topic":"","x":240.00347137451172,"y":1046.989473938942,"wires":[["3493d3df.f604bc"]]},{"id":"3493d3df.f604bc","type":"function","z":"f143a6e7.94f2b8","name":"Obtained Global Variable","func":"\nvar Value = global.get(\"val\");\n\nif(msg.payload == \"+\" && Value <50){\n    global.set('val', Value + 1)\n} \n\nif(msg.payload == \"-\" && Value >0) {\n    global.set('val', Value - 1)\n}\nValue = global.get(\"val\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":430,"y":1020,"wires":[["8c71c69f.de6cc8"]]},{"id":"7c6479e7.48b1b8","type":"function","z":"f143a6e7.94f2b8","name":"Global Variable Initializing","func":"global.set(\"val\", 0);\nglobal.set(\"val1\", 0);\nglobal.set(\"val2\", 0);\nglobal.set(\"val3\", 0);\nglobal.set(\"val4\", 0);\nglobal.set(\"val5\", 0);","outputs":1,"noerr":0,"x":430,"y":1120,"wires":[[]]},{"id":"f47f5179.1d3ef","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":1120,"wires":[["7c6479e7.48b1b8"]]},{"id":"392ff963.2ffb96","type":"ui_text","z":"f143a6e7.94f2b8","group":"9c92c57e.5cc638","order":3,"width":"6","height":"1","name":"text_1","label":"","format":"{{msg.payload}}","layout":"col-center","x":770,"y":1060,"wires":[]},{"id":"dbc0d42d.447448","type":"function","z":"f143a6e7.94f2b8","name":"Setting Global Variable","func":"if(msg.payload){\n     global.set('val', msg.payload)\n}\n   \n\n\nmsg = {\n    \"payload\" : global.get('val'),\n     \"data\" : Math.floor(global.get('val') * 1.365)\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1020,"wires":[[]]},{"id":"cb634a53.4cc968","type":"ui_text","z":"f143a6e7.94f2b8","group":"9c92c57e.5cc638","order":1,"width":"8","height":"1","name":"INV-1","label":"Sürücü","format":"{{msg.payload}}","layout":"row-center","x":890,"y":1060,"wires":[]},{"id":"78c2f4d1.4a029c","type":"debug","z":"f143a6e7.94f2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":1160,"wires":[]},{"id":"b36c5e01.e8063","type":"range","z":"f143a6e7.94f2b8","minin":"0","maxin":"50","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":770,"y":1100,"wires":[["a430c0e4.78edd"]]},{"id":"22d695d3.cddf5a","type":"ui_button","z":"f143a6e7.94f2b8","name":"","group":"9c92c57e.5cc638","order":5,"width":"8","height":"1","passthru":false,"label":"UYGULA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"value","payloadType":"global","topic":"","x":840,"y":1160,"wires":[["78c2f4d1.4a029c","b94f9769.ee5c78"]]},{"id":"466df3b0.68735c","type":"debug","z":"f143a6e7.94f2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":1260,"wires":[]},{"id":"43824c4f.2eaea4","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":1140,"wires":[["b94f9769.ee5c78"]]},{"id":"f537dde1.bb89e","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":1180,"wires":[["b94f9769.ee5c78"]]},{"id":"4df03bf7.3df234","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"600","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":1220,"wires":[["b94f9769.ee5c78"]]},{"id":"2bf83527.53264a","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":1300,"wires":[["b94f9769.ee5c78"]]},{"id":"26647281.b23a3e","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":1260,"wires":[["b94f9769.ee5c78"]]},{"id":"b94f9769.ee5c78","type":"modbus-write","z":"f143a6e7.94f2b8","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"c7394c6c.a5ed7","x":840,"y":1240,"wires":[["466df3b0.68735c"],[]]},{"id":"34c85558.9335aa","type":"debug","z":"f143a6e7.94f2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":120,"wires":[]},{"id":"3477db74.ac4724","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":60,"wires":[["10698822.9ba318"]]},{"id":"10698822.9ba318","type":"function","z":"f143a6e7.94f2b8","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"A1_v1\"     :undefined,\n    \"A1_v2\"     :undefined,\n    \"A1_v3\"     :undefined,\n    \"A1_c1\"     :undefined,\n    \"A1_c2\"     :undefined,\n    \"A1_c3\"     :undefined,\n    \"A1_p1\"     :undefined,\n    \"A1_p2\"     :undefined,\n    \"A1_p3\"     :undefined,\n    \"A1_t_p\"    :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"P3\"        :undefined,\n    \"P4\"        :undefined,\n    \"PT\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":60,"wires":[[]]},{"id":"ce60bfd5.2f9c5","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":120,"wires":[["34c85558.9335aa"]]},{"id":"63ae877b.ec10e8","type":"function","z":"f143a6e7.94f2b8","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"A1_v1\"]   =   msg.payload[\"repg_v1_2\"];\ndata[\"A1_v2\"]   =   msg.payload[\"repg_v2_3\"];\ndata[\"A1_v3\"]   =   msg.payload[\"repg_v3_1\"];\ndata[\"A1_c1\"]   =   msg.payload[\"repg_c1\"];\ndata[\"A1_c2\"]   =   msg.payload[\"repg_c2\"];\ndata[\"A1_c3\"]   =   msg.payload[\"repg_c3\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":180,"wires":[[]]},{"id":"65c44b90.ae8734","type":"function","z":"f143a6e7.94f2b8","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\n\ndata[\"A1_p1\"]   =   msg.payload[\"repg_p1\"];\ndata[\"A1_p2\"]   =   msg.payload[\"repg_p2\"];\ndata[\"A1_p3\"]   =   msg.payload[\"repg_p3\"];\ndata[\"A1_t_p\"]  =   msg.payload[\"repg_t_p\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":340,"wires":[[]]},{"id":"89c5cd1f.d43fe","type":"function","z":"f143a6e7.94f2b8","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":560,"wires":[[]]},{"id":"5f4c0567.3c9f8c","type":"function","z":"f143a6e7.94f2b8","name":"RePG","func":"var data = global.get('azure_data');\n\n\n\nmsg = {\n    \"payload\" : {\n        \n        \"repg_p1\"   :   parseFloat( ( (data[\"A1_v1\"]    /   1.73) * data[\"A1_c1\"]).toFixed(0) ),\n        \"repg_p2\"   :   parseFloat( ( (data[\"A1_v2\"]    /   1.73) * data[\"A1_c2\"]).toFixed(0) ) ,\n        \"repg_p3\"   :   parseFloat( ( (data[\"A1_v3\"]    /   1.73) * data[\"A1_c3\"]).toFixed(0) ) ,\n        \"repg_t_p\"  :   parseFloat( ( data[\"A1_p1\"] +  data[\"A1_p2\"] + data[\"A1_p3\"] ).toFixed(0) )\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["65c44b90.ae8734","43a9cc64.047514","2e1e0a45.8dda56","e3df7f1c.ed405","12f7efbf.5b008"]]},{"id":"c4c91e24.bcb0f","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":140,"wires":[[]]},{"id":"73f211d1.7a9cb","type":"function","z":"f143a6e7.94f2b8","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"2c61c9f2-4c98-4121-9782-e58a54533747\",\n        \"key\": \"dd/k0MTs70DG9kS/h0uuyTjmvDZa077IF+VVV+pKD/w=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":240,"wires":[[]]},{"id":"15f16f.5d343e92","type":"debug","z":"f143a6e7.94f2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":360,"wires":[]},{"id":"55e8564c.c935a8","type":"function","z":"f143a6e7.94f2b8","name":"","func":"var data = parseFloat( (msg.payload.P1).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":800,"wires":[["3c8601ef.bc977e","7030affb.38a33"]]},{"id":"e7071f66.0e1e3","type":"function","z":"f143a6e7.94f2b8","name":"","func":"var data = parseFloat( (msg.payload.P2).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":840,"wires":[["9eec6cdd.8df9d","613706b5.7f8498"]]},{"id":"55bf37cf.4a9018","type":"function","z":"f143a6e7.94f2b8","name":"","func":"var data = parseFloat( (msg.payload.P3).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P3\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":880,"wires":[["a1d5c407.de1a78"]]},{"id":"fd9d9a9e.4e3958","type":"function","z":"f143a6e7.94f2b8","name":"","func":"var data = parseFloat( (msg.payload.P4).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P4\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":920,"wires":[["97945f51.c43c1"]]},{"id":"a135945.592d168","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"T1","group":"e0a0bb76.359e68","order":0,"width":"4","height":"4","gtype":"gage","title":"Sıcak Su Giriş","label":"°C","format":"{{payload.Temp1}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":640,"wires":[]},{"id":"31541f8e.83fb","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"T3","group":"e0a0bb76.359e68","order":0,"width":"4","height":"4","gtype":"gage","title":"Türbin Giriş","label":"°C","format":"{{payload.Temp3}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":720,"wires":[]},{"id":"613706b5.7f8498","type":"ui_gauge","z":"f143a6e7.94f2b8","name":"P2","group":"9d3595ca.a661c8","order":3,"width":"4","height":"4","gtype":"gage","title":"Türbin Giriş","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":840,"wires":[]},{"id":"833f6fa7.357df","type":"inject","z":"f143a6e7.94f2b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":440,"wires":[[]]},{"id":"622dbb00.e918a4","type":"azureiothub","z":"f143a6e7.94f2b8","name":"Azure IoT Hub","protocol":"mqtt","x":1260,"y":540,"wires":[["3f041665.df8d2a"]]},{"id":"6fa6e31d.f8e76c","type":"function","z":"f143a6e7.94f2b8","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"c8f32470-2083-4841-9104-b6a361632914\",\n        \"key\": \"FmG9Te/CDLyXSS2l8Mi7hz5JXc/xfoOB4Gc/FRMa3z0=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":480,"wires":[["622dbb00.e918a4"]]},{"id":"3f041665.df8d2a","type":"debug","z":"f143a6e7.94f2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":480,"wires":[]},{"id":"b8b219d0.68d7c8","type":"comment","z":"f143a6e7.94f2b8","name":"RePG Stand-By 2","info":"","x":1030,"y":80,"wires":[]},{"id":"fd463b79.824828","type":"ui_group","z":"","name":"Akım","tab":"952a5df3.5f7e","order":3,"disp":true,"width":"9","collapse":false},{"id":"9d3595ca.a661c8","type":"ui_group","z":"","name":"Basınç","tab":"a7beeed.88e191","order":5,"disp":true,"width":"8","collapse":false},{"id":"a791a84e.d4b168","type":"ui_group","z":"","name":"Buton","tab":"a7beeed.88e191","order":3,"disp":false,"width":"8","collapse":false},{"id":"27d3803b.c76e","type":"ui_group","z":"","name":"Buton-3","tab":"662bd11a.7bb8","order":5,"disp":false,"width":"9","collapse":false},{"id":"828a4e06.0dc26","type":"ui_group","z":"","name":"Buton-4","tab":"662bd11a.7bb8","order":6,"disp":false,"width":"9","collapse":false},{"id":"30823f2c.86c4f","type":"ui_group","z":"","name":"Güç","tab":"952a5df3.5f7e","order":4,"disp":true,"width":"9","collapse":false},{"id":"717be387.761b5c","type":"ui_group","z":"","name":"RePG","tab":"952a5df3.5f7e","order":5,"disp":true,"width":"9","collapse":false},{"id":"de4be2a5.0ead1","type":"ui_group","z":"","name":"Gerilim","tab":"952a5df3.5f7e","order":1,"disp":true,"width":"9","collapse":false},{"id":"4b41450.6f042bc","type":"ui_group","z":"","name":"T1","tab":"b2e24884.149948","order":1,"disp":false,"width":"6","collapse":false},{"id":"d7f89c1a.36167","type":"ui_group","z":"","name":"T2","tab":"b2e24884.149948","order":2,"disp":false,"width":"6","collapse":false},{"id":"f9881855.906b08","type":"ui_group","z":"","name":"T3","tab":"b2e24884.149948","order":3,"disp":false,"width":"6","collapse":false},{"id":"34707c34.cd6e74","type":"ui_group","z":"","name":"T4","tab":"b2e24884.149948","order":4,"disp":false,"width":"6","collapse":false},{"id":"23367fde.79c41","type":"ui_group","z":"","name":"T5","tab":"b2e24884.149948","order":5,"disp":false,"width":"6","collapse":false},{"id":"9974c51c.cc25e8","type":"ui_group","z":"","name":"T6","tab":"b2e24884.149948","order":6,"disp":false,"width":"6","collapse":false},{"id":"db857ec3.b3ac8","type":"ui_group","z":"","name":"P1","tab":"3f86c831.5e1648","order":1,"disp":true,"width":"9","collapse":false},{"id":"f3490563.7df6d8","type":"ui_group","z":"","name":"P2","tab":"3f86c831.5e1648","order":2,"disp":true,"width":"9","collapse":false},{"id":"bb773727.bb3a78","type":"ui_group","z":"","name":"P3","tab":"3f86c831.5e1648","order":3,"disp":true,"width":"9","collapse":false},{"id":"e5573493.9678e8","type":"ui_group","z":"","name":"P4","tab":"3f86c831.5e1648","order":4,"disp":true,"width":"9","collapse":false},{"id":"c7394c6c.a5ed7","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"9c92c57e.5cc638","type":"ui_group","z":"","name":"Sürücü","tab":"a7beeed.88e191","order":1,"disp":false,"width":"8","collapse":false},{"id":"e0a0bb76.359e68","type":"ui_group","z":"","name":"Sıcaklık","tab":"a7beeed.88e191","order":4,"disp":true,"width":"8","collapse":false},{"id":"952a5df3.5f7e","type":"ui_tab","z":"","name":"Elektrik","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a7beeed.88e191","type":"ui_tab","z":"","name":"RePG Stand-By 2","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"662bd11a.7bb8","type":"ui_tab","z":"","name":"Kontrol","icon":"dashboard","order":3},{"id":"b2e24884.149948","type":"ui_tab","z":"","name":"Sıcaklık Sensör","icon":"dashboard","order":5},{"id":"3f86c831.5e1648","type":"ui_tab","z":"","name":"Basınç Sensör","icon":"dashboard","order":4}]