RePG_Algoritma_3_23092019.txt
[{"id":"e6081209.04619","type":"function","z":"4a1cb208.9f922c","name":"T1>70 - T3<100 - P1<10 - P2<10 - R1-ON","func":"var t1  =   global.get(\"T1\");\nvar t3  =   global.get(\"T3\");\nvar p1  =   global.get(\"P1\");\nvar p2  =   global.get(\"P2\");\n\nif (t1>70 && t3<100 && p1<10 && p2<10) {\n    global.set(\"R1\",false);\n    msg.payload = true;\n    global.set(\"start\",false);\n    return msg;\n}\nelse {\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":60,"wires":[["a4fad9ff.9b3b58"]]},{"id":"28956b9f.16a0c4","type":"delay","z":"4a1cb208.9f922c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":1120,"wires":[["ac83c9fb.cd3b38"]]},{"id":"3359d775.ce9c98","type":"function","z":"4a1cb208.9f922c","name":"set driver  \"10\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",10)\n    global.set(\"check1\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":780,"y":120,"wires":[["ae851176.94522"]]},{"id":"cb692ba1.7fcc18","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["259fe5a8.406e2a"]]},{"id":"2b863ba8.41f074","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"temp3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":980,"wires":[["737769ee.483178"]]},{"id":"f57f182b.2b7188","type":"debug","z":"4a1cb208.9f922c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1300,"wires":[]},{"id":"8e0dfad.2a45e08","type":"switch","z":"4a1cb208.9f922c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":1280,"wires":[["75c9c98.26a8e38"]]},{"id":"64279b34.0c1d54","type":"switch","z":"4a1cb208.9f922c","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":1320,"wires":[["75c9c98.26a8e38"]]},{"id":"9f7749e7.c0feb8","type":"function","z":"4a1cb208.9f922c","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[[]]},{"id":"62849fb.eba4f6","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["9f7749e7.c0feb8"]]},{"id":"f96cb4c0.6e8428","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":420,"wires":[["5f2faab6.a86054"]]},{"id":"58d4634f.c8ef6c","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"62","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":460,"wires":[["5f2faab6.a86054"]]},{"id":"5cf803fb.24116c","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"67","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":500,"wires":[["5f2faab6.a86054"]]},{"id":"5f2faab6.a86054","type":"function","z":"4a1cb208.9f922c","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":500,"wires":[[]]},{"id":"bd52fd7d.4d589","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"start","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["d03b2ba4.b495d8"]]},{"id":"a4fad9ff.9b3b58","type":"delay","z":"4a1cb208.9f922c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":120,"wires":[["3359d775.ce9c98"]]},{"id":"acd3088a.77a5a8","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["9f7749e7.c0feb8"]]},{"id":"289d28f4.a20548","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":1760,"wires":[["cd03f12.2fea41"]]},{"id":"cd03f12.2fea41","type":"function","z":"4a1cb208.9f922c","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nglobal.set(\"R4\",true)\nglobal.set(\"reset\",undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1760,"wires":[[]]},{"id":"e111ff8a.d8e29","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":1800,"wires":[["d3bbbe7d.2054b"]]},{"id":"d3bbbe7d.2054b","type":"function","z":"4a1cb208.9f922c","name":"driver - driverf - driverg","func":"global.set(\"driver\",0)\nglobal.set(\"driverf\",false)\nglobal.set(\"driverg\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":1800,"wires":[[]]},{"id":"564138ca.807f78","type":"rpi-gpio out","z":"4a1cb208.9f922c","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":430,"y":1720,"wires":[]},{"id":"ad421c51.c46df","type":"rpi-gpio out","z":"4a1cb208.9f922c","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":430,"y":1820,"wires":[]},{"id":"c5286e7c.91462","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1780,"wires":[["564138ca.807f78","b6ca6e85.ecdbb"]]},{"id":"13846ef8.c8cd41","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1880,"wires":[["ad421c51.c46df","1036c684.4526b9"]]},{"id":"36e80fc1.51e02","type":"delay","z":"4a1cb208.9f922c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":160,"wires":[["f152fcf7.daa96"]]},{"id":"e6469d86.6f957","type":"function","z":"4a1cb208.9f922c","name":"R2-ON","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1380,"y":160,"wires":[["134de988.b2d966"]]},{"id":"134de988.b2d966","type":"delay","z":"4a1cb208.9f922c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1500,"y":160,"wires":[["e7562e24.d2eb1"]]},{"id":"e7562e24.d2eb1","type":"function","z":"4a1cb208.9f922c","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1660,"y":160,"wires":[["7f119db9.75f854"]]},{"id":"b6ca6e85.ecdbb","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":410,"y":1780,"wires":[["9db015f.46193e8"]]},{"id":"1036c684.4526b9","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":410,"y":1880,"wires":[["d873f583.640958"]]},{"id":"9db015f.46193e8","type":"ui_text","z":"4a1cb208.9f922c","group":"b6529ee9.cd9fb","order":1,"width":"5","height":"1","name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":1780,"wires":[]},{"id":"d873f583.640958","type":"ui_text","z":"4a1cb208.9f922c","group":"b6529ee9.cd9fb","order":2,"width":"5","height":"1","name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":1880,"wires":[]},{"id":"3618e9d0.2ad2f6","type":"ui_gauge","z":"4a1cb208.9f922c","name":"","group":"4f782b66.cd90e4","order":1,"width":"3","height":"5","gtype":"gage","title":"T1","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2080,"wires":[]},{"id":"e832200c.ca64d","type":"ui_gauge","z":"4a1cb208.9f922c","name":"","group":"4f782b66.cd90e4","order":2,"width":"3","height":"5","gtype":"gage","title":"T3","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2120,"wires":[]},{"id":"7d592747.69aa28","type":"ui_gauge","z":"4a1cb208.9f922c","name":"","group":"4f782b66.cd90e4","order":3,"width":"3","height":"5","gtype":"gage","title":"P1","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2240,"wires":[]},{"id":"6ca99bf4.190284","type":"ui_gauge","z":"4a1cb208.9f922c","name":"","group":"4f782b66.cd90e4","order":4,"width":"3","height":"5","gtype":"gage","title":"P2","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2280,"wires":[]},{"id":"9b38c515.f5a9b8","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2080,"wires":[["3618e9d0.2ad2f6"]]},{"id":"8382d8e8.a478e8","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2120,"wires":[["e832200c.ca64d"]]},{"id":"c0c262a.60632a","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2240,"wires":[["7d592747.69aa28"]]},{"id":"e9bf36cc.796058","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2280,"wires":[["6ca99bf4.190284"]]},{"id":"60087d0c.163594","type":"ui_gauge","z":"4a1cb208.9f922c","name":"","group":"3e30f38e.f6440c","order":1,"width":"5","height":"5","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":2320,"wires":[]},{"id":"2b37d145.d684ae","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":2320,"wires":[["60087d0c.163594"]]},{"id":"7b18c460.d382ac","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":2000,"wires":[["ff80bd5f.5f802"]]},{"id":"ff80bd5f.5f802","type":"function","z":"4a1cb208.9f922c","name":"set \"0\" (T1 - T3 - P1 - P2 - P2S - PS )","func":"global.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2000,"wires":[[]]},{"id":"8ea5f214.ececc","type":"switch","z":"4a1cb208.9f922c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"55.9","v2t":"num"},{"t":"btwn","v":"56","vt":"num","v2":"60.9","v2t":"num"},{"t":"btwn","v":"61","vt":"num","v2":"65.9","v2t":"num"},{"t":"btwn","v":"66","vt":"num","v2":"70.9","v2t":"num"},{"t":"btwn","v":"71","vt":"num","v2":"75.9","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"80.9","v2t":"num"},{"t":"btwn","v":"81","vt":"num","v2":"85.9","v2t":"num"},{"t":"btwn","v":"86","vt":"num","v2":"90.9","v2t":"num"},{"t":"btwn","v":"91","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":1170,"y":540,"wires":[["9ff1965d.6c9a98"],["ab1210a2.231d1"],["7e543e1f.643f8"],["c3122868.0425e8"],["e190e2b9.cbc3c"],["347d0473.4d606c"],["1a659872.b42208"],["9e929555.438158"],["93af7926.0545f8"]]},{"id":"7e543e1f.643f8","type":"function","z":"4a1cb208.9f922c","name":"set \"12\" bar","func":"global.set(\"P2S\",12);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":460,"wires":[[]]},{"id":"c3122868.0425e8","type":"function","z":"4a1cb208.9f922c","name":"set \"14\" bar","func":"global.set(\"P2S\",14);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":500,"wires":[[]]},{"id":"e190e2b9.cbc3c","type":"function","z":"4a1cb208.9f922c","name":"set \"16\" bar","func":"global.set(\"P2S\",16);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":540,"wires":[[]]},{"id":"1a659872.b42208","type":"function","z":"4a1cb208.9f922c","name":"set \"19\" bar","func":"global.set(\"P2S\",19);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":620,"wires":[[]]},{"id":"ab1210a2.231d1","type":"function","z":"4a1cb208.9f922c","name":"set \"11\" bar","func":"global.set(\"P2S\",11);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":420,"wires":[[]]},{"id":"9ff1965d.6c9a98","type":"function","z":"4a1cb208.9f922c","name":"set \"10\" bar","func":"global.set(\"P2S\",10);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":380,"wires":[[]]},{"id":"9e929555.438158","type":"function","z":"4a1cb208.9f922c","name":"set \"21\" bar","func":"global.set(\"P2S\",21);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":660,"wires":[[]]},{"id":"93af7926.0545f8","type":"function","z":"4a1cb208.9f922c","name":"set \"24\" bar","func":"global.set(\"P2S\",24);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":700,"wires":[[]]},{"id":"347d0473.4d606c","type":"function","z":"4a1cb208.9f922c","name":"set \"18\" bar","func":"global.set(\"P2S\",18);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":580,"wires":[[]]},{"id":"da8ff6fa.e12098","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":540,"wires":[["5f2faab6.a86054"]]},{"id":"e1fd7c1e.3df63","type":"function","z":"4a1cb208.9f922c","name":"driver up down","func":"var p2s = global.get(\"P2S\");\nvar ps   = global.get(\"PS\");\n\nif (p2s > ps) {\n    msg.payload = true;\n    return msg;\n\n    \n}\nelse if (p2s < ps) {\n    msg.payload = false;\n    return msg;\n}\nelse if (p2s == ps) {\n    global.set(\"driverf\",false)\n    global.set(\"sensor\",false)\n    global.set(\"temp1\",true)\n}\n\n\n","outputs":1,"noerr":0,"x":480,"y":1300,"wires":[["8e0dfad.2a45e08","64279b34.0c1d54"]]},{"id":"3279c012.e4352","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"82","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":620,"wires":[["5f2faab6.a86054"]]},{"id":"3b43b3d2.53886c","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":660,"wires":[["5f2faab6.a86054"]]},{"id":"20056453.5e209c","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"driverf","payloadType":"global","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1300,"wires":[["fe446672.9e4a78"]]},{"id":"d1048994.b3a2e8","type":"function","z":"4a1cb208.9f922c","name":"msg.payload = T3","func":"global.set(\"diode\",true)\nvar data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":540,"wires":[["8ea5f214.ececc"]]},{"id":"c0589862.f1c188","type":"switch","z":"4a1cb208.9f922c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":540,"wires":[["d1048994.b3a2e8"]]},{"id":"70894ec4.3a26","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"temp1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":540,"wires":[["c0589862.f1c188"]]},{"id":"d40688c9.da05a8","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":1840,"wires":[["d67fcae6.0a3d68"]]},{"id":"d67fcae6.0a3d68","type":"function","z":"4a1cb208.9f922c","name":"start","func":"global.set(\"start\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1840,"wires":[[]]},{"id":"d03b2ba4.b495d8","type":"switch","z":"4a1cb208.9f922c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":60,"wires":[["e6081209.04619"]]},{"id":"7a9d24fa.38f02c","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":1880,"wires":[["ed6e548f.a2aed8"]]},{"id":"ed6e548f.a2aed8","type":"function","z":"4a1cb208.9f922c","name":"temp1 - temp2 - temp3","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":1880,"wires":[[]]},{"id":"8101942e.645d98","type":"function","z":"4a1cb208.9f922c","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1080,"wires":[["4e8fc846.71ee18"]]},{"id":"4e8fc846.71ee18","type":"switch","z":"4a1cb208.9f922c","name":"T3 > 95","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"95","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":1080,"wires":[["8e013459.925d88"]]},{"id":"b2793cfc.3b954","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1080,"wires":[["7b4bb4d7.ae91ec"]]},{"id":"a2a66ebc.ff223","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"77","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":580,"wires":[["5f2faab6.a86054"]]},{"id":"7b4bb4d7.ae91ec","type":"switch","z":"4a1cb208.9f922c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1080,"wires":[["8101942e.645d98"]]},{"id":"e473ea7b.584608","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"P2S","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2360,"wires":[["8bc7dc2a.73d26"]]},{"id":"8bc7dc2a.73d26","type":"ui_gauge","z":"4a1cb208.9f922c","name":"","group":"154410c9.049cff","order":2,"width":"4","height":"3","gtype":"gage","title":"P2S","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2360,"wires":[]},{"id":"d253017b.fbaea","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":1920,"wires":[["fb763745.ca1798"]]},{"id":"fb763745.ca1798","type":"function","z":"4a1cb208.9f922c","name":"pres1 - pres2","func":"global.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1920,"wires":[[]]},{"id":"40c1c6d4.8906b8","type":"function","z":"4a1cb208.9f922c","name":"msg.payload = P1","func":"var data    =   global.get(\"P1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1120,"wires":[["aa991710.8d5e98"]]},{"id":"11762156.71a3ef","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"pres1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1120,"wires":[["72fab447.27fb7c"]]},{"id":"72fab447.27fb7c","type":"switch","z":"4a1cb208.9f922c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1120,"wires":[["40c1c6d4.8906b8"]]},{"id":"ef104ae2.c49ef8","type":"function","z":"4a1cb208.9f922c","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1160,"wires":[["2f33e853.233748"]]},{"id":"7daf40dd.3d249","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"pres2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1160,"wires":[["df3e0a9b.2355b8"]]},{"id":"df3e0a9b.2355b8","type":"switch","z":"4a1cb208.9f922c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1160,"wires":[["ef104ae2.c49ef8"]]},{"id":"8e013459.925d88","type":"function","z":"4a1cb208.9f922c","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"R4\",true);\nglobal.set(\"driverf\",false)\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nglobal.set(\"check\",false)\nglobal.set(\"check1\",false)\nglobal.set(\"check2\",false)\nglobal.set(\"check3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1120,"wires":[["28956b9f.16a0c4"]]},{"id":"ac83c9fb.cd3b38","type":"function","z":"4a1cb208.9f922c","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"check3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1120,"wires":[[]]},{"id":"aa991710.8d5e98","type":"switch","z":"4a1cb208.9f922c","name":"P1 > 13","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"13","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":1120,"wires":[["8e013459.925d88"]]},{"id":"2f33e853.233748","type":"switch","z":"4a1cb208.9f922c","name":"P2 > 30","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":1160,"wires":[["8e013459.925d88"]]},{"id":"737769ee.483178","type":"switch","z":"4a1cb208.9f922c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":980,"wires":[["d999830b.e0bf9"]]},{"id":"d999830b.e0bf9","type":"function","z":"4a1cb208.9f922c","name":"T3 < 50","func":"var data = global.get(\"T3\")\nif (data < 50) {\n    msg.payload = false\n    global.set(\"temp4\",true)\n    global.set(\"driverf\",false)\n    global.set(\"driver\",10)\n    global.set(\"check2\",true)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":860,"y":980,"wires":[[]]},{"id":"d30b9ef3.f737","type":"switch","z":"4a1cb208.9f922c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"9.1","vt":"num","v2":"10","v2t":"num"},{"t":"btwn","v":"10.1","vt":"num","v2":"11","v2t":"num"},{"t":"btwn","v":"11.1","vt":"num","v2":"12","v2t":"num"},{"t":"btwn","v":"12.1","vt":"num","v2":"14","v2t":"num"},{"t":"btwn","v":"14.1","vt":"num","v2":"16","v2t":"num"},{"t":"btwn","v":"16.1","vt":"num","v2":"18","v2t":"num"},{"t":"btwn","v":"18.1","vt":"num","v2":"19","v2t":"num"},{"t":"btwn","v":"19.1","vt":"num","v2":"21","v2t":"num"},{"t":"btwn","v":"21.1","vt":"num","v2":"24","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":650,"y":1600,"wires":[["75ebf661.f31c48"],["9f9d90a1.958f5"],["b22f44b1.007f88"],["162d5278.28f3ce"],["79dd99bc.45dd58"],["45d64855.0792a8"],["abc7112f.edf69"],["b368f0bb.4054d"],["3726885f.dba4d8"]]},{"id":"ffb3c7ea.440b08","type":"function","z":"4a1cb208.9f922c","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1600,"wires":[["d30b9ef3.f737"]]},{"id":"baec972c.eec408","type":"debug","z":"4a1cb208.9f922c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1630,"y":1420,"wires":[]},{"id":"75ebf661.f31c48","type":"function","z":"4a1cb208.9f922c","name":"","func":"global.set(\"PS\",10);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1440,"wires":[[]]},{"id":"9f9d90a1.958f5","type":"function","z":"4a1cb208.9f922c","name":"","func":"global.set(\"PS\",11);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1480,"wires":[[]]},{"id":"b22f44b1.007f88","type":"function","z":"4a1cb208.9f922c","name":"","func":"global.set(\"PS\",12);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1520,"wires":[[]]},{"id":"162d5278.28f3ce","type":"function","z":"4a1cb208.9f922c","name":"","func":"global.set(\"PS\",14);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1560,"wires":[[]]},{"id":"79dd99bc.45dd58","type":"function","z":"4a1cb208.9f922c","name":"","func":"global.set(\"PS\",16);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1600,"wires":[[]]},{"id":"45d64855.0792a8","type":"function","z":"4a1cb208.9f922c","name":"","func":"global.set(\"PS\",18);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1640,"wires":[[]]},{"id":"abc7112f.edf69","type":"function","z":"4a1cb208.9f922c","name":"","func":"global.set(\"PS\",19);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1680,"wires":[[]]},{"id":"b368f0bb.4054d","type":"function","z":"4a1cb208.9f922c","name":"","func":"global.set(\"PS\",21);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1720,"wires":[[]]},{"id":"3726885f.dba4d8","type":"function","z":"4a1cb208.9f922c","name":"","func":"global.set(\"PS\",24);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1760,"wires":[[]]},{"id":"2999635c.8519bc","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"PS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2400,"wires":[["3477a056.5c106"]]},{"id":"3477a056.5c106","type":"ui_gauge","z":"4a1cb208.9f922c","name":"","group":"154410c9.049cff","order":1,"width":"4","height":"3","gtype":"gage","title":"PS","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2400,"wires":[]},{"id":"a221997f.fc8778","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"sensor","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1600,"wires":[["ef757265.ae2d"]]},{"id":"652bdbe7.9627b4","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"AS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1290,"y":1060,"wires":[["2feb9569.d8df4a"]]},{"id":"fe446672.9e4a78","type":"switch","z":"4a1cb208.9f922c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1300,"wires":[["e1fd7c1e.3df63"]]},{"id":"2feb9569.d8df4a","type":"switch","z":"4a1cb208.9f922c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1430,"y":1060,"wires":[["91d47a81.65ee08"]]},{"id":"91d47a81.65ee08","type":"function","z":"4a1cb208.9f922c","name":"T3<95 & P1<10 & P2<25","func":"var t3 = global.get(\"T3\")\nvar p1 = global.get(\"P1\")\nvar p2 = global.get(\"P2\")\n\nif ( t3 < 95 && p1 < 10 && p2 < 25) {\n    msg.payload = true\n    global.set(\"start\",true)\n    global.set(\"AS\",false)\n    global.set(\"start\",true)\n    return msg;\n}\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1610,"y":1060,"wires":[[]]},{"id":"2c7f4f25.55809","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":1960,"wires":[["f1c48298.ee0f4"]]},{"id":"f1c48298.ee0f4","type":"function","z":"4a1cb208.9f922c","name":"sensor","func":"global.set(\"sensor\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1960,"wires":[[]]},{"id":"ef757265.ae2d","type":"switch","z":"4a1cb208.9f922c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1600,"wires":[["ffb3c7ea.440b08"]]},{"id":"56f44e91.346dc","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":380,"wires":[["5f2faab6.a86054"]]},{"id":"58b801c3.1a0bc","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"92","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":700,"wires":[["5f2faab6.a86054"]]},{"id":"b21c00b.cfef1","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":740,"wires":[["5f2faab6.a86054"]]},{"id":"47ea7829.9f35d8","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["5f2faab6.a86054"]]},{"id":"75c9c98.26a8e38","type":"function","z":"4a1cb208.9f922c","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <50){\n    global.set('driver', Value + 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('driver', Value - 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":830,"y":1300,"wires":[["f57f182b.2b7188"]]},{"id":"235ebcc8.ad9184","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"check","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":1380,"wires":[["f4464a88.758828"]]},{"id":"932c496e.c9ca18","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1110,"y":1380,"wires":[["f070784.4522c88"]]},{"id":"f4464a88.758828","type":"switch","z":"4a1cb208.9f922c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":1380,"wires":[["932c496e.c9ca18"]]},{"id":"3aeb3ebb.c73262","type":"function","z":"4a1cb208.9f922c","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":1410,"y":1440,"wires":[[]]},{"id":"f070784.4522c88","type":"range","z":"4a1cb208.9f922c","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1240,"y":1380,"wires":[["3aeb3ebb.c73262","3552125d.71f03e"]]},{"id":"5412a62.54d2258","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":2080,"wires":[["675ce0da.ce335"]]},{"id":"675ce0da.ce335","type":"function","z":"4a1cb208.9f922c","name":"modbus 1-2-3   \"0\"","func":"global.set(\"modbus1\",0)\nglobal.set(\"modbus2\",0)\nglobal.set(\"modbus3\",0)\nglobal.set(\"modbus4\",0)\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":2080,"wires":[[]]},{"id":"ea604d11.110d2","type":"function","z":"4a1cb208.9f922c","name":"msg.payload.value","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nif (data == modbus ) {\n    global.set(\"check\",false)\n    global.set(\"driverf\",true)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1650,"y":1340,"wires":[[]]},{"id":"7c2907e2.afb008","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":2160,"wires":[["3fdfc953.edb166"]]},{"id":"3fdfc953.edb166","type":"function","z":"4a1cb208.9f922c","name":"","func":"//global.set(\"value\", undefined)\nglobal.set(\"address\", 0)\nglobal.set(\"fc\", 6)\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":2160,"wires":[[]]},{"id":"cffba318.4a9d1","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":2120,"wires":[["cf2af87e.4ea928"]]},{"id":"cf2af87e.4ea928","type":"function","z":"4a1cb208.9f922c","name":"Global set \"false\"  checks","func":"global.set(\"check\",false);\nglobal.set(\"check1\",false);\nglobal.set(\"check2\",false);\nglobal.set(\"check3\",false);\n","outputs":1,"noerr":0,"x":1550,"y":2120,"wires":[[]]},{"id":"912ded24.683e4","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1260,"y":1300,"wires":[["f25c0558.c42238"]]},{"id":"f25c0558.c42238","type":"function","z":"4a1cb208.9f922c","name":"","func":"msg.payload = global.get(\"modbus1\")\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1300,"wires":[["ea604d11.110d2"]]},{"id":"b1f3afa5.52f9","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"check1","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":300,"wires":[["47df3609.999ad8"]]},{"id":"47df3609.999ad8","type":"switch","z":"4a1cb208.9f922c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":300,"wires":[["cb692ba1.7fcc18"]]},{"id":"259fe5a8.406e2a","type":"range","z":"4a1cb208.9f922c","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":940,"y":300,"wires":[["a8b04596.389dd8","398287cf.5c7228"]]},{"id":"a8b04596.389dd8","type":"function","z":"4a1cb208.9f922c","name":"Set modbus2","func":"global.set(\"modbus2\", msg.payload)\n","outputs":1,"noerr":0,"x":1110,"y":360,"wires":[[]]},{"id":"77e5edf6.1c3104","type":"function","z":"4a1cb208.9f922c","name":"","func":"msg.payload = global.get(\"modbus2\")\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":240,"wires":[["4620a007.6c789"]]},{"id":"329c23dc.612bec","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":980,"y":240,"wires":[["77e5edf6.1c3104"]]},{"id":"4620a007.6c789","type":"function","z":"4a1cb208.9f922c","name":"msg.payload.value","func":"global.set(\"value1\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus2\")\nif (data == modbus ) {\n    global.set(\"check1\",false)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1330,"y":260,"wires":[["36e80fc1.51e02"]]},{"id":"a91761bb.ae98f","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"check2","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":840,"wires":[["2562cd95.859462"]]},{"id":"2562cd95.859462","type":"switch","z":"4a1cb208.9f922c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":840,"wires":[["9b1d70c.7ec849"]]},{"id":"9b1d70c.7ec849","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1150,"y":840,"wires":[["f89b4da8.97e76"]]},{"id":"f89b4da8.97e76","type":"range","z":"4a1cb208.9f922c","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1280,"y":840,"wires":[["3a1f5e6.128dda2","5a63eccb.8316c4"]]},{"id":"3a1f5e6.128dda2","type":"function","z":"4a1cb208.9f922c","name":"Set modbus3","func":"global.set(\"modbus3\", msg.payload)\n","outputs":1,"noerr":0,"x":1450,"y":900,"wires":[[]]},{"id":"146a19df.8d4df6","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":780,"wires":[["fdab59d4.c3d0b8"]]},{"id":"fdab59d4.c3d0b8","type":"function","z":"4a1cb208.9f922c","name":"","func":"msg.payload = global.get(\"modbus3\")\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":780,"wires":[["e4b6ed28.96d31"]]},{"id":"e4b6ed28.96d31","type":"function","z":"4a1cb208.9f922c","name":"msg.payload.value","func":"global.set(\"value2\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus3\")\nif (data == modbus ) {\n    global.set(\"check2\",false)\n    //global.set(\"temp3\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1690,"y":840,"wires":[[]]},{"id":"f0aca346.f4297","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":2040,"wires":[["f851a9d8.9f8958"]]},{"id":"f851a9d8.9f8958","type":"function","z":"4a1cb208.9f922c","name":"\"AS\" false","func":"global.set(\"AS\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":2040,"wires":[[]]},{"id":"613b0ad4.2acd04","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"check3","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":1180,"wires":[["e62dcefe.a814e"]]},{"id":"e62dcefe.a814e","type":"switch","z":"4a1cb208.9f922c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1180,"wires":[["f4a5bce7.71d13"]]},{"id":"f4a5bce7.71d13","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1130,"y":1180,"wires":[["631d0ee3.c7cdf"]]},{"id":"631d0ee3.c7cdf","type":"range","z":"4a1cb208.9f922c","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1260,"y":1180,"wires":[["faab66da.2c92c8","788a5770.d1b808"]]},{"id":"faab66da.2c92c8","type":"function","z":"4a1cb208.9f922c","name":"Set modbus3","func":"global.set(\"modbus4\", msg.payload)\n","outputs":1,"noerr":0,"x":1430,"y":1240,"wires":[[]]},{"id":"406195b4.6f013c","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1300,"y":1120,"wires":[["4d9035ef.67a7ac"]]},{"id":"4d9035ef.67a7ac","type":"function","z":"4a1cb208.9f922c","name":"","func":"msg.payload = global.get(\"modbus4\")\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":1120,"wires":[["9358273d.bfaae8"]]},{"id":"9358273d.bfaae8","type":"function","z":"4a1cb208.9f922c","name":"msg.payload.value","func":"global.set(\"value3\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus4\")\nif (data == modbus ) {\n    global.set(\"check3\",false)\n    global.set(\"AS\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1650,"y":1140,"wires":[[]]},{"id":"398287cf.5c7228","type":"modbus-write","z":"4a1cb208.9f922c","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7de540ad.a5876","x":1120,"y":300,"wires":[["eefcba88.5da178","4620a007.6c789"],[]]},{"id":"eefcba88.5da178","type":"debug","z":"4a1cb208.9f922c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":320,"wires":[]},{"id":"f5fd0445.10a7f8","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":380,"wires":[["398287cf.5c7228"]]},{"id":"3552125d.71f03e","type":"modbus-write","z":"4a1cb208.9f922c","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7de540ad.a5876","x":1420,"y":1380,"wires":[["ea604d11.110d2","baec972c.eec408"],[]]},{"id":"788a5770.d1b808","type":"modbus-write","z":"4a1cb208.9f922c","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7de540ad.a5876","x":1440,"y":1180,"wires":[["9358273d.bfaae8","3ac6108f.d3898"],[]]},{"id":"5cb5e91.20af318","type":"comment","z":"4a1cb208.9f922c","name":"Bızıklama","info":"","x":1380,"y":120,"wires":[]},{"id":"3ac6108f.d3898","type":"debug","z":"4a1cb208.9f922c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1650,"y":1220,"wires":[]},{"id":"5a63eccb.8316c4","type":"modbus-write","z":"4a1cb208.9f922c","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7de540ad.a5876","x":1460,"y":840,"wires":[["e4b6ed28.96d31","d0d4ab61.11fa18"],[]]},{"id":"d0d4ab61.11fa18","type":"debug","z":"4a1cb208.9f922c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":920,"wires":[]},{"id":"f152fcf7.daa96","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = global.get(\"P2\")\nif (data >= 15) {\n    msg.payload = true\n    return msg;\n}\nelse if (data < 15) {\n    msg.payload = false\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1230,"y":160,"wires":[["e6469d86.6f957","f8955bb2.2da458"]]},{"id":"f8955bb2.2da458","type":"switch","z":"4a1cb208.9f922c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":100,"wires":[["36e80fc1.51e02"]]},{"id":"9de8c01.2880a4","type":"function","z":"4a1cb208.9f922c","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1200,"wires":[["aaf14ff0.c4eff"]]},{"id":"ac32c8bb.469c88","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"pres3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1200,"wires":[["fef45eb6.319d4"]]},{"id":"fef45eb6.319d4","type":"switch","z":"4a1cb208.9f922c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1200,"wires":[["9de8c01.2880a4"]]},{"id":"aaf14ff0.c4eff","type":"switch","z":"4a1cb208.9f922c","name":"P2 <= 9","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"9","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":1200,"wires":[["8e013459.925d88"]]},{"id":"eb32717e.8361b","type":"debug","z":"4a1cb208.9f922c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":1240,"wires":[]},{"id":"8cf37f9a.d3d01","type":"comment","z":"4a1cb208.9f922c","name":"Sorunlu Koşul","info":"","x":690,"y":940,"wires":[]},{"id":"17ab70e1.bcf00f","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"temp4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":1020,"wires":[["973a3419.2db358"]]},{"id":"973a3419.2db358","type":"switch","z":"4a1cb208.9f922c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1020,"wires":[["a644dc4e.056cd"]]},{"id":"a644dc4e.056cd","type":"function","z":"4a1cb208.9f922c","name":"T3 > 50","func":"var data = global.get(\"T3\")\nif (data > 50) {\n    global.set(\"temp4\",false)\n    //global.set(\"temp1\",true)\n    msg.payload = true\n    return msg;\n}","outputs":1,"noerr":0,"x":860,"y":1020,"wires":[["e7562e24.d2eb1"]]},{"id":"ed0035b9.108ab8","type":"function","z":"4a1cb208.9f922c","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2320,"wires":[["1eace916.1508a7","dbe918b5.14b458"]]},{"id":"79354c65.69cac4","type":"link in","z":"4a1cb208.9f922c","name":"","links":["1eace916.1508a7"],"x":535,"y":240,"wires":[["a4fad9ff.9b3b58","36e80fc1.51e02","134de988.b2d966","ae851176.94522","7f119db9.75f854"]]},{"id":"1eace916.1508a7","type":"link out","z":"4a1cb208.9f922c","name":"","links":["79354c65.69cac4"],"x":1335,"y":2320,"wires":[]},{"id":"9f3dfff1.a9949","type":"link in","z":"4a1cb208.9f922c","name":"","links":["dbe918b5.14b458"],"x":835,"y":1060,"wires":[["28956b9f.16a0c4"]]},{"id":"dbe918b5.14b458","type":"link out","z":"4a1cb208.9f922c","name":"","links":["9f3dfff1.a9949"],"x":1335,"y":2360,"wires":[]},{"id":"9d10c7b3.eaf488","type":"function","z":"4a1cb208.9f922c","name":"","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":1520,"wires":[["788a5770.d1b808","5a63eccb.8316c4","398287cf.5c7228","3552125d.71f03e"]]},{"id":"81537f8f.d3b42","type":"rpi-gpio out","z":"4a1cb208.9f922c","name":"R4","pin":"15","set":"","level":"0","freq":"","out":"out","x":430,"y":1940,"wires":[]},{"id":"ecd857e1.4aeb58","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"R4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2000,"wires":[["81537f8f.d3b42","477fd256.a219ac"]]},{"id":"477fd256.a219ac","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":410,"y":2000,"wires":[["e4149a9f.828138"]]},{"id":"e4149a9f.828138","type":"ui_text","z":"4a1cb208.9f922c","group":"b6529ee9.cd9fb","order":2,"width":"5","height":"1","name":"","label":"R4","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":2000,"wires":[]},{"id":"7f119db9.75f854","type":"delay","z":"4a1cb208.9f922c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1640,"y":280,"wires":[["bdea9351.83ac3"]]},{"id":"4819d9a6.f10c58","type":"function","z":"4a1cb208.9f922c","name":"R4-ON","func":"var t3 = global.get(\"T3\")\nvar p2 = global.get(\"P2\")\n\nif (t3 > 65 && p2 > 16 ) {\n    global.set(\"R4\",false)\n    global.set(\"diode\",false)\n}\n","outputs":1,"noerr":0,"x":1610,"y":640,"wires":[[]]},{"id":"84b69167.f8e74","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":2200,"wires":[["87468c98.4bfdb"]]},{"id":"87468c98.4bfdb","type":"function","z":"4a1cb208.9f922c","name":"values","func":"global.set(\"value\", undefined)\nglobal.set(\"value1\", undefined)\nglobal.set(\"value2\", undefined)\nglobal.set(\"value3\", undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":2200,"wires":[[]]},{"id":"97c2eb28.ce2b18","type":"function","z":"4a1cb208.9f922c","name":"","func":"var v   =   global.get(\"value\");\nvar v1  =   global.get(\"value1\");\nvar v2  =   global.get(\"value2\");\nvar v3  =   global.get(\"value3\");\nif (v === 0 && v1 === 0 && v2 === 0 && v3 === 0) {\n    msg.payload = true;\n    return msg;\n}\nelse {\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":890,"y":2320,"wires":[["d0999180.6b632"]]},{"id":"d0999180.6b632","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Sistem Hazır\" ;\n    return msg;\n}\nelse if (data === false){\n    msg.payload = \"Sistem Hazırlanıyor\" ;\n    return msg;\n}\nelse {\n    msg.payload = \" \" ;\n    return msg;\n}","outputs":1,"noerr":0,"x":790,"y":2400,"wires":[["aa4f03bb.41e15","51802e2e.656e"]]},{"id":"51802e2e.656e","type":"ui_text","z":"4a1cb208.9f922c","group":"b6529ee9.cd9fb","order":2,"width":"5","height":"1","name":"","label":"Sistem Durumu","format":"{{msg.payload}}","layout":"row-spread","x":1260,"y":2440,"wires":[]},{"id":"f90fbef0.3373c","type":"ui_toast","z":"4a1cb208.9f922c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1190,"y":2580,"wires":[[]]},{"id":"fe44ecad.980b2","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":2240,"wires":[["387b147f.28105c"]]},{"id":"387b147f.28105c","type":"function","z":"4a1cb208.9f922c","name":"numbers","func":"global.set(\"number\", undefined)\nglobal.set(\"number2\", undefined)\n\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":2240,"wires":[[]]},{"id":"fc53a474.dc2bb8","type":"delay","z":"4a1cb208.9f922c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":2240,"wires":[["97c2eb28.ce2b18"]]},{"id":"aca954d1.566488","type":"modbus-read","z":"4a1cb208.9f922c","name":"Temp","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7de540ad.a5876","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":190,"y":280,"wires":[["b49277c9.1ccbf8"],[]]},{"id":"b49277c9.1ccbf8","type":"function","z":"4a1cb208.9f922c","name":"","func":"var T1 = msg.payload[0] /10\nvar T2 = msg.payload[1] /10\nvar T3 = msg.payload[2] /10\nvar T4 = msg.payload[3] /10\nvar T5 = msg.payload[4] /10\nvar T6 = msg.payload[5] /10\n\nif (T1 != 850) {\n    global.set(\"T1\",T1)\n}\n    \nif (T3 != 850) {\n    global.set(\"T3\",T3)\n    \n}\nif (T5 != 850) {\n    global.set(\"T5\",T5)\n    \n}\nif (T6 != 850) {\n    global.set(\"T6\",T6)\n    \n}\nglobal.set(\"T2\",T2)\n\nglobal.set(\"T4\",T4)\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[[]]},{"id":"39e8c244.6df20e","type":"modbus-read","z":"4a1cb208.9f922c","name":"Pres","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7de540ad.a5876","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":800,"wires":[["131a673d.ae0d99","d1fde6e5.50acf8"],[]]},{"id":"131a673d.ae0d99","type":"function","z":"4a1cb208.9f922c","name":"","func":"var P1 = msg.payload[0] /100\n\nmsg.payload = P1\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":780,"wires":[["b0768535.57f3d8"]]},{"id":"b0768535.57f3d8","type":"range","z":"4a1cb208.9f922c","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload","name":"","x":430,"y":780,"wires":[["7df1824f.4048ac"]]},{"id":"d1fde6e5.50acf8","type":"function","z":"4a1cb208.9f922c","name":"","func":"var P2 = msg.payload[1] /100\n\nmsg.payload = P2\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":820,"wires":[["800d87c3.8d9c38"]]},{"id":"800d87c3.8d9c38","type":"range","z":"4a1cb208.9f922c","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"","x":430,"y":820,"wires":[["6855f26b.ee117c"]]},{"id":"d9f84710.362588","type":"function","z":"4a1cb208.9f922c","name":"","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":780,"wires":[[]]},{"id":"d3fff914.402a18","type":"function","z":"4a1cb208.9f922c","name":"","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":820,"wires":[[]]},{"id":"94d3533e.14fcc","type":"ui_gauge","z":"4a1cb208.9f922c","name":"","group":"4f782b66.cd90e4","order":6,"width":"3","height":"5","gtype":"gage","title":"T6","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2200,"wires":[]},{"id":"62abb84b.abb7e8","type":"ui_gauge","z":"4a1cb208.9f922c","name":"","group":"4f782b66.cd90e4","order":5,"width":"3","height":"5","gtype":"gage","title":"T5","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":2160,"wires":[]},{"id":"fce26a15.391218","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"T6","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2200,"wires":[["94d3533e.14fcc"]]},{"id":"7aa1df73.807b5","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"T5","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2160,"wires":[["62abb84b.abb7e8"]]},{"id":"200f6d80.9ac5e2","type":"function","z":"4a1cb208.9f922c","name":"","func":"global.set(\"start\",msg.payload)\nglobal.set(\"AS\",msg.payload)\nglobal.set(\"R1\",true);\nglobal.set(\"R2\",true);\nglobal.set(\"R4\",true);\nglobal.set(\"driverf\",false)\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nglobal.set(\"check\",false)\nglobal.set(\"check1\",false)\nglobal.set(\"check2\",false)\nglobal.set(\"check3\",false)\n\nreturn msg;\n","outputs":1,"noerr":0,"x":830,"y":1940,"wires":[["634b115c.5fe3a"]]},{"id":"7df1824f.4048ac","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":780,"wires":[["d9f84710.362588"]]},{"id":"6855f26b.ee117c","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":820,"wires":[["d3fff914.402a18"]]},{"id":"ae851176.94522","type":"delay","z":"4a1cb208.9f922c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":440,"wires":[["30936ded.5747f2"]]},{"id":"30936ded.5747f2","type":"function","z":"4a1cb208.9f922c","name":"","func":"//var data = global.get(\"P2\")\nvar data = msg.payload;\nif (data < 15) {\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":940,"y":440,"wires":[["25d93f78.78409","e7562e24.d2eb1"]]},{"id":"25d93f78.78409","type":"debug","z":"4a1cb208.9f922c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":440,"wires":[]},{"id":"bdea9351.83ac3","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = msg.payload\nif ( data === true) {\n    msg.reset = true ;\n    return msg;\n}","outputs":1,"noerr":0,"x":1600,"y":440,"wires":[["ae851176.94522","36e80fc1.51e02"]]},{"id":"699b31e3.e808b","type":"ui_button","z":"4a1cb208.9f922c","name":"","group":"46c6805d.89026","order":2,"width":"4","height":"2","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":690,"y":2080,"wires":[["200f6d80.9ac5e2"]]},{"id":"dad8d01d.77584","type":"ui_button","z":"4a1cb208.9f922c","name":"","group":"46c6805d.89026","order":1,"width":"4","height":"2","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":830,"y":2160,"wires":[["200f6d80.9ac5e2","fc53a474.dc2bb8","ed0035b9.108ab8","9d10c7b3.eaf488","3fdfc953.edb166","cf2af87e.4ea928","675ce0da.ce335","f851a9d8.9f8958","ff80bd5f.5f802","f1c48298.ee0f4","fb763745.ca1798","ed6e548f.a2aed8","d67fcae6.0a3d68","d3bbbe7d.2054b","cd03f12.2fea41","87468c98.4bfdb","387b147f.28105c","4775915c.cc2b3"]]},{"id":"1472314f.4ea00f","type":"ui_toast","z":"4a1cb208.9f922c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1230,"y":1660,"wires":[[]]},{"id":"634b115c.5fe3a","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = \"Kapatma Başarılı\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1880,"wires":[["5f494b2d.3b3174"]]},{"id":"aa4f03bb.41e15","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":2560,"wires":[["f90fbef0.3373c"]]},{"id":"5f494b2d.3b3174","type":"function","z":"4a1cb208.9f922c","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1110,"y":1760,"wires":[["1472314f.4ea00f"]]},{"id":"b6357e86.b0638","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1330,"y":2280,"wires":[["4775915c.cc2b3"]]},{"id":"4775915c.cc2b3","type":"function","z":"4a1cb208.9f922c","name":"diode","func":"global.set(\"diode\", false)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":2280,"wires":[[]]},{"id":"5dc1e359.a5267c","type":"inject","z":"4a1cb208.9f922c","name":"","topic":"","payload":"diode","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1530,"y":540,"wires":[["ab087563.cd0bd8"]]},{"id":"ab087563.cd0bd8","type":"switch","z":"4a1cb208.9f922c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":580,"wires":[["4819d9a6.f10c58"]]},{"id":"b6529ee9.cd9fb","type":"ui_group","z":"","name":"Röle Durumları","tab":"a14c0335.3e708","order":2,"disp":true,"width":"5","collapse":false},{"id":"4f782b66.cd90e4","type":"ui_group","z":"","name":"Sensör Verileri","tab":"a14c0335.3e708","order":1,"disp":false,"width":"18","collapse":false},{"id":"3e30f38e.f6440c","type":"ui_group","z":"","name":"Sürücü","tab":"a14c0335.3e708","order":5,"disp":false,"width":"5","collapse":false},{"id":"154410c9.049cff","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"a14c0335.3e708","order":5,"disp":false,"width":"8","collapse":false},{"id":"7de540ad.a5876","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"46c6805d.89026","type":"ui_group","z":"","name":"Start - Stop","tab":"a14c0335.3e708","order":6,"disp":false,"width":"8","collapse":false},{"id":"a14c0335.3e708","type":"ui_tab","z":"","name":"Atık Isı","icon":"dashboard","order":1,"disabled":false,"hidden":false}]