RePG_algoritma_3_03102019.txt
[{"id":"e6ffdd39.bfb38","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"PS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":4660,"wires":[["19242039.998d"]]},{"id":"cfe0e447.0c6fb8","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":360,"wires":[["ca8b72af.a9dfe","8ca0d9cc.12d888","b38a3feb.8fe51"]]},{"id":"9e85322e.4f8b5","type":"delay","z":"caa4d2b.601f23","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":1560,"wires":[["b510be55.98b51","9b8ce6ae.5856e8"]]},{"id":"c9f14731.5f8248","type":"function","z":"caa4d2b.601f23","name":"set driver  \"10\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",10)\n    global.set(\"check1\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":920,"y":120,"wires":[[]]},{"id":"391422dd.87e46e","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["73550dc5.2c49f4"]]},{"id":"f279b805.46d168","type":"debug","z":"caa4d2b.601f23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":2020,"wires":[]},{"id":"7fdb0569.ee196c","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":2000,"wires":[["1175985e.802018"]]},{"id":"86d96c17.7055f","type":"switch","z":"caa4d2b.601f23","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":2040,"wires":[["1175985e.802018"]]},{"id":"f45d221a.ca126","type":"function","z":"caa4d2b.601f23","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1120,"wires":[[]]},{"id":"bef32f99.2fbea","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1120,"wires":[["f45d221a.ca126"]]},{"id":"6585c9a.e690638","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1320,"wires":[["12e5a732.e9be59"]]},{"id":"3f875d0f.195d52","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"62","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1360,"wires":[["12e5a732.e9be59"]]},{"id":"b59ced18.d243e","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"67","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1400,"wires":[["12e5a732.e9be59"]]},{"id":"12e5a732.e9be59","type":"function","z":"caa4d2b.601f23","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1400,"wires":[[]]},{"id":"16c6b4d.297944b","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"start","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["6634a172.9da5b"]]},{"id":"3b614652.95a68a","type":"function","z":"caa4d2b.601f23","name":"T1>70 - T3<100 - P1<10 - P2<10 - R1-ON","func":"var t1  =   global.get(\"T1\");\nvar t3  =   global.get(\"T3\");\nvar p1  =   global.get(\"P1\");\nvar p2  =   global.get(\"P2\");\n\nif (t1>70 && t3<100 && p1<10 && p2<10) {\n    global.set(\"R1\",false);\n    msg.payload = true;\n    global.set(\"start\",false);\n    return msg;\n}\nelse {\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["7857ac85.3ce174","17e7eb89.ce3b84"]]},{"id":"7857ac85.3ce174","type":"delay","z":"caa4d2b.601f23","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":120,"wires":[["c9f14731.5f8248"]]},{"id":"9d2035bc.90dd98","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1080,"wires":[["f45d221a.ca126"]]},{"id":"d69f6667.fa7c18","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2520,"wires":[["9ed065ab.3f56c8"]]},{"id":"9ed065ab.3f56c8","type":"function","z":"caa4d2b.601f23","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nglobal.set(\"R4\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2520,"wires":[[]]},{"id":"7d0bc66b.0cb778","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2560,"wires":[["ddc3547c.534938"]]},{"id":"ddc3547c.534938","type":"function","z":"caa4d2b.601f23","name":"driver - driverf","func":"global.set(\"driver\",0)\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":2560,"wires":[[]]},{"id":"844e5e49.88e9b","type":"rpi-gpio out","z":"caa4d2b.601f23","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":370,"y":2440,"wires":[]},{"id":"a2ee43f7.23dc","type":"rpi-gpio out","z":"caa4d2b.601f23","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":370,"y":2540,"wires":[]},{"id":"f8ce4d.b08841b","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2500,"wires":[["844e5e49.88e9b","6de04ed9.4f643"]]},{"id":"ed740c9e.d82c4","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2600,"wires":[["a2ee43f7.23dc","9418f65e.0438d8"]]},{"id":"8fadeec4.b307e","type":"function","z":"caa4d2b.601f23","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["d68a2168.d15ad"]]},{"id":"d68a2168.d15ad","type":"delay","z":"caa4d2b.601f23","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":400,"wires":[["d734cd1c.4f275"]]},{"id":"d734cd1c.4f275","type":"function","z":"caa4d2b.601f23","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":800,"y":400,"wires":[["6f2e2cb9.b057c4"]]},{"id":"6de04ed9.4f643","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":2500,"wires":[["6d68c729.b29e18"]]},{"id":"9418f65e.0438d8","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":2600,"wires":[["562b0b5f.606204"]]},{"id":"6d68c729.b29e18","type":"ui_text","z":"caa4d2b.601f23","group":"bb88696f.60ba18","order":1,"width":"7","height":"1","name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":2500,"wires":[]},{"id":"562b0b5f.606204","type":"ui_text","z":"caa4d2b.601f23","group":"bb88696f.60ba18","order":2,"width":"7","height":"1","name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":2600,"wires":[]},{"id":"efce45a9.2b5a88","type":"ui_gauge","z":"caa4d2b.601f23","name":"","group":"e46bd30b.0771","order":1,"width":"7","height":"6","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":3260,"wires":[]},{"id":"573487de.4bf738","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":3260,"wires":[["efce45a9.2b5a88"]]},{"id":"88b5c861.15f728","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2760,"wires":[["49bb8d2d.2b9f54"]]},{"id":"49bb8d2d.2b9f54","type":"function","z":"caa4d2b.601f23","name":"set \"0\" (T1 - T3 - P1 - P2 - P2S - PS )","func":"global.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":2760,"wires":[[]]},{"id":"4a551917.6c2478","type":"switch","z":"caa4d2b.601f23","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"55","v2t":"num"},{"t":"btwn","v":"55.1","vt":"num","v2":"60","v2t":"num"},{"t":"btwn","v":"60.1","vt":"num","v2":"65","v2t":"num"},{"t":"btwn","v":"65.1","vt":"num","v2":"70","v2t":"num"},{"t":"btwn","v":"70.1","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"75.1","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"80.1","vt":"num","v2":"85","v2t":"num"},{"t":"btwn","v":"85.1","vt":"num","v2":"90","v2t":"num"},{"t":"btwn","v":"90.1","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":1030,"y":1220,"wires":[["422af61d.0234d8"],["1003a6f3.0fe109"],["40f0d086.fb99e"],["eafb5bc0.d232c8"],["3507393e.e4c746"],["a15e0d8c.78fab"],["5c0b5908.929cb8"],["52e90002.2e0ad"],["35ba124b.be1e2e"]]},{"id":"40f0d086.fb99e","type":"function","z":"caa4d2b.601f23","name":"set \"16\" bar","func":"global.set(\"P2S\",16);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1140,"wires":[[]]},{"id":"eafb5bc0.d232c8","type":"function","z":"caa4d2b.601f23","name":"set \"18\" bar","func":"global.set(\"P2S\",18);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1180,"wires":[[]]},{"id":"3507393e.e4c746","type":"function","z":"caa4d2b.601f23","name":"set \"20\" bar","func":"global.set(\"P2S\",20);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1220,"wires":[[]]},{"id":"5c0b5908.929cb8","type":"function","z":"caa4d2b.601f23","name":"set \"24\" bar","func":"global.set(\"P2S\",24);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1300,"wires":[[]]},{"id":"1003a6f3.0fe109","type":"function","z":"caa4d2b.601f23","name":"set \"14\" bar","func":"global.set(\"P2S\",14);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1100,"wires":[[]]},{"id":"422af61d.0234d8","type":"function","z":"caa4d2b.601f23","name":"set \"12\" bar","func":"global.set(\"P2S\",12);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1060,"wires":[[]]},{"id":"52e90002.2e0ad","type":"function","z":"caa4d2b.601f23","name":"set \"26\" bar","func":"global.set(\"P2S\",26);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1340,"wires":[[]]},{"id":"35ba124b.be1e2e","type":"function","z":"caa4d2b.601f23","name":"set \"28\" bar","func":"global.set(\"P2S\",28);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1380,"wires":[[]]},{"id":"a15e0d8c.78fab","type":"function","z":"caa4d2b.601f23","name":"set \"22\" bar","func":"global.set(\"P2S\",22);\nglobal.set(\"temp1\",false)\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1260,"wires":[[]]},{"id":"3004b34a.91c8ec","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1440,"wires":[["12e5a732.e9be59"]]},{"id":"58c67393.e0456c","type":"function","z":"caa4d2b.601f23","name":"driver up down","func":"var p2s = global.get(\"P2S\");\nvar ps   = global.get(\"PS\");\n\nif (p2s > ps) {\n    msg.payload = true;\n    return msg;\n\n    \n}\nelse if (p2s < ps) {\n    msg.payload = false;\n    return msg;\n}\nelse if (p2s == ps) {\n    global.set(\"driverf\",false)\n    global.set(\"sensor\",false)\n    global.set(\"temp1\",true)\n}\n\n\n","outputs":1,"noerr":0,"x":440,"y":2020,"wires":[["7fdb0569.ee196c","86d96c17.7055f"]]},{"id":"202fb292.ba5cbe","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"82","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1520,"wires":[["12e5a732.e9be59"]]},{"id":"c9dd1762.9ff718","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1560,"wires":[["12e5a732.e9be59"]]},{"id":"61951e0.d0e86e4","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"driverf","payloadType":"global","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":2020,"wires":[["3ca4d28c.18fdee"]]},{"id":"c5aaf615.180398","type":"function","z":"caa4d2b.601f23","name":"msg.payload = T3","func":"global.set(\"diode\",true)\nvar data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1220,"wires":[["4a551917.6c2478"]]},{"id":"1598c7ad.406a48","type":"switch","z":"caa4d2b.601f23","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1220,"wires":[["c5aaf615.180398"]]},{"id":"822e3ea4.b69fc","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"temp1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":1220,"wires":[["1598c7ad.406a48"]]},{"id":"343a2f47.e5013","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2600,"wires":[["eb0f0cba.4b7da"]]},{"id":"eb0f0cba.4b7da","type":"function","z":"caa4d2b.601f23","name":"start","func":"global.set(\"start\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2600,"wires":[[]]},{"id":"6634a172.9da5b","type":"switch","z":"caa4d2b.601f23","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":120,"wires":[["3b614652.95a68a"]]},{"id":"d3c8701.019c09","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2640,"wires":[["f9537f24.bd862"]]},{"id":"f9537f24.bd862","type":"function","z":"caa4d2b.601f23","name":"temp1 - temp2 - temp3 - temp4","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":2640,"wires":[[]]},{"id":"fbd4261f.7b7438","type":"function","z":"caa4d2b.601f23","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1480,"wires":[["e2f8c5c1.1c4238"]]},{"id":"e2f8c5c1.1c4238","type":"switch","z":"caa4d2b.601f23","name":"T3 > 95","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"95","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":1480,"wires":[["cf4626ad.676bc8"]]},{"id":"fa2122e.0e589e","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":1480,"wires":[["b8f73b94.e51a18"]]},{"id":"30a74547.7e683a","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"77","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1480,"wires":[["12e5a732.e9be59"]]},{"id":"b8f73b94.e51a18","type":"switch","z":"caa4d2b.601f23","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1480,"wires":[["fbd4261f.7b7438"]]},{"id":"6d8b27cc.48af08","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2680,"wires":[["4246b92f.3358e8"]]},{"id":"4246b92f.3358e8","type":"function","z":"caa4d2b.601f23","name":"pres1 - pres2 - pres3","func":"global.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2680,"wires":[[]]},{"id":"23e00819.372208","type":"function","z":"caa4d2b.601f23","name":"msg.payload = P1","func":"var data    =   global.get(\"P1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1560,"wires":[["a786f7bb.f91d88"]]},{"id":"cbc1f555.032778","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"pres1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":1560,"wires":[["75359df.de4e064"]]},{"id":"75359df.de4e064","type":"switch","z":"caa4d2b.601f23","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1560,"wires":[["23e00819.372208"]]},{"id":"67e03557.7e1eec","type":"function","z":"caa4d2b.601f23","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1600,"wires":[["fe30cdd9.4ee9d"]]},{"id":"c92d0753.738a28","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"pres2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":1600,"wires":[["50f035fd.29b11c"]]},{"id":"50f035fd.29b11c","type":"switch","z":"caa4d2b.601f23","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1600,"wires":[["67e03557.7e1eec"]]},{"id":"cf4626ad.676bc8","type":"function","z":"caa4d2b.601f23","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"R2\",true);\nglobal.set(\"R4\",true);\nglobal.set(\"driverf\",false)\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nglobal.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nglobal.set(\"sensor\",false)\nglobal.set(\"AS\",false)\nglobal.set(\"check\",false)\nglobal.set(\"check1\",false)\nglobal.set(\"check2\",false)\nglobal.set(\"check3\",false)\nglobal.set(\"diode\",false)\nglobal.set(\"trigger\",false)\nmsg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":1560,"wires":[["9e85322e.4f8b5","d7a9cde5.3141c"]]},{"id":"b510be55.98b51","type":"function","z":"caa4d2b.601f23","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"check3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":1560,"wires":[[]]},{"id":"a786f7bb.f91d88","type":"switch","z":"caa4d2b.601f23","name":"P1 > 13","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"13","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":1560,"wires":[["cf4626ad.676bc8"]]},{"id":"fe30cdd9.4ee9d","type":"switch","z":"caa4d2b.601f23","name":"P2 > 28","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":1600,"wires":[["cf4626ad.676bc8"]]},{"id":"821831b7.da363","type":"switch","z":"caa4d2b.601f23","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"10.1","vt":"num","v2":"12","v2t":"num"},{"t":"btwn","v":"12.1","vt":"num","v2":"14","v2t":"num"},{"t":"btwn","v":"14.1","vt":"num","v2":"16","v2t":"num"},{"t":"btwn","v":"16.1","vt":"num","v2":"18","v2t":"num"},{"t":"btwn","v":"18.1","vt":"num","v2":"20","v2t":"num"},{"t":"btwn","v":"20.1","vt":"num","v2":"22","v2t":"num"},{"t":"btwn","v":"22.1","vt":"num","v2":"24","v2t":"num"},{"t":"btwn","v":"24.1","vt":"num","v2":"26","v2t":"num"},{"t":"btwn","v":"26.1","vt":"num","v2":"28","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":650,"y":2300,"wires":[["6d4683d5.ca3acc"],["d5c09433.5ad318"],["825cf476.3322c8"],["dd968914.37eee8"],["461f9234.65616c"],["8d9b1a2c.96fe98"],["6a95fd42.b78b74"],["6ea0bc4.c254544"],["bfed21a7.65d51"]]},{"id":"26c338b6.b13298","type":"function","z":"caa4d2b.601f23","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2300,"wires":[["821831b7.da363"]]},{"id":"a11e380b.e9a898","type":"debug","z":"caa4d2b.601f23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1590,"y":2100,"wires":[]},{"id":"6d4683d5.ca3acc","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"PS\",12);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2140,"wires":[[]]},{"id":"d5c09433.5ad318","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"PS\",14);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2180,"wires":[[]]},{"id":"825cf476.3322c8","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"PS\",16);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2220,"wires":[[]]},{"id":"dd968914.37eee8","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"PS\",18);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2260,"wires":[[]]},{"id":"461f9234.65616c","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"PS\",20);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2300,"wires":[[]]},{"id":"8d9b1a2c.96fe98","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"PS\",22);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2340,"wires":[[]]},{"id":"6a95fd42.b78b74","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"PS\",24);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2380,"wires":[[]]},{"id":"6ea0bc4.c254544","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"PS\",26);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2420,"wires":[[]]},{"id":"bfed21a7.65d51","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"PS\",28);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2460,"wires":[[]]},{"id":"c6e31f00.01ed4","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"sensor","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2300,"wires":[["2920b3d6.19029c"]]},{"id":"3ca4d28c.18fdee","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":2020,"wires":[["58c67393.e0456c"]]},{"id":"da6b0440.7eff28","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2720,"wires":[["19eac7ff.30d9f8"]]},{"id":"19eac7ff.30d9f8","type":"function","z":"caa4d2b.601f23","name":"sensor","func":"global.set(\"sensor\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2720,"wires":[[]]},{"id":"2920b3d6.19029c","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":2300,"wires":[["26c338b6.b13298"]]},{"id":"458218eb.4b6738","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1280,"wires":[["12e5a732.e9be59"]]},{"id":"23e5a49f.6a8e1c","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"92","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1600,"wires":[["12e5a732.e9be59"]]},{"id":"cbdfa55b.a47478","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1640,"wires":[["12e5a732.e9be59"]]},{"id":"f462e838.bcd8b8","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1240,"wires":[["12e5a732.e9be59"]]},{"id":"1175985e.802018","type":"function","z":"caa4d2b.601f23","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <50){\n    global.set('driver', Value + 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('driver', Value - 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":790,"y":2020,"wires":[["f279b805.46d168"]]},{"id":"cd965c51.35271","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"check","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":2060,"wires":[["97a22527.bd98a8"]]},{"id":"c99ee62b.30f9d8","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1070,"y":2060,"wires":[["a35b5cc5.b07ed"]]},{"id":"97a22527.bd98a8","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":2060,"wires":[["c99ee62b.30f9d8"]]},{"id":"5650f411.81df4c","type":"function","z":"caa4d2b.601f23","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":1370,"y":2120,"wires":[[]]},{"id":"a35b5cc5.b07ed","type":"range","z":"caa4d2b.601f23","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1200,"y":2060,"wires":[["5650f411.81df4c","655ac2c6.bbb59c"]]},{"id":"8ff952f6.5507c","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2840,"wires":[["a3ea4f1e.ecc46"]]},{"id":"a3ea4f1e.ecc46","type":"function","z":"caa4d2b.601f23","name":"modbus 1-2-3-4   \"0\"","func":"global.set(\"modbus1\",0)\nglobal.set(\"modbus2\",0)\nglobal.set(\"modbus3\",0)\nglobal.set(\"modbus4\",0)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":2840,"wires":[[]]},{"id":"9166e77b.5a7278","type":"function","z":"caa4d2b.601f23","name":"msg.payload.value","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nif (data == modbus ) {\n    global.set(\"check\",false)\n    global.set(\"driverf\",true)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1610,"y":2020,"wires":[[]]},{"id":"ff4c179b.820118","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2880,"wires":[["9fbc7de3.8db7d"]]},{"id":"9fbc7de3.8db7d","type":"function","z":"caa4d2b.601f23","name":"Global set \"false\"  checks","func":"global.set(\"check\",false);\nglobal.set(\"check1\",false);\nglobal.set(\"check2\",false);\nglobal.set(\"check3\",false);\n","outputs":1,"noerr":0,"x":1410,"y":2880,"wires":[[]]},{"id":"1a3500f6.70809f","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"check1","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["8b2f8a1d.c23c08"]]},{"id":"8b2f8a1d.c23c08","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":220,"wires":[["391422dd.87e46e"]]},{"id":"73550dc5.2c49f4","type":"range","z":"caa4d2b.601f23","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":520,"y":220,"wires":[["f2421e14.7f89b","932abe2a.61824"]]},{"id":"f2421e14.7f89b","type":"function","z":"caa4d2b.601f23","name":"Set modbus2","func":"global.set(\"modbus2\", msg.payload)\n","outputs":1,"noerr":0,"x":690,"y":280,"wires":[[]]},{"id":"1eab6340.59b54d","type":"function","z":"caa4d2b.601f23","name":"msg.payload.value","func":"global.set(\"value1\",msg.payload.value);\nvar data = msg.payload.value;\nvar modbus = global.get(\"modbus2\");\nif (data == modbus ) {\n    global.set(\"check1\",false);\n    global.set(\"trigger\",true);\n    msg.payload = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":910,"y":220,"wires":[["1466df0a.4d1a71","ca8b72af.a9dfe"]]},{"id":"ad846483.2d5b48","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2800,"wires":[["1709cd49.361cc3"]]},{"id":"1709cd49.361cc3","type":"function","z":"caa4d2b.601f23","name":"\"AS\"","func":"global.set(\"AS\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2800,"wires":[[]]},{"id":"56c9d3d9.3184cc","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"check3","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":1820,"wires":[["effa695c.84b408"]]},{"id":"effa695c.84b408","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":1820,"wires":[["d5bc92d9.492d6"]]},{"id":"d5bc92d9.492d6","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1150,"y":1820,"wires":[["d3d0f3d3.58599"]]},{"id":"d3d0f3d3.58599","type":"range","z":"caa4d2b.601f23","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1280,"y":1820,"wires":[["fe00dff0.db7b1","fe707631.7420c8"]]},{"id":"fe00dff0.db7b1","type":"function","z":"caa4d2b.601f23","name":"Set modbus4","func":"global.set(\"modbus4\", msg.payload)\n","outputs":1,"noerr":0,"x":1450,"y":1880,"wires":[[]]},{"id":"79d074a8.86cc3c","type":"function","z":"caa4d2b.601f23","name":"msg.payload.value","func":"global.set(\"value3\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus4\")\nif (data == modbus ) {\n    global.set(\"check3\",false)\n    global.set(\"start\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1670,"y":1780,"wires":[[]]},{"id":"932abe2a.61824","type":"modbus-write","z":"caa4d2b.601f23","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"89260bae.0215f8","x":700,"y":220,"wires":[["85d9c6de.c11838","1eab6340.59b54d"],[]]},{"id":"85d9c6de.c11838","type":"debug","z":"caa4d2b.601f23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":280,"wires":[]},{"id":"83938f2b.3e657","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["932abe2a.61824"]]},{"id":"655ac2c6.bbb59c","type":"modbus-write","z":"caa4d2b.601f23","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"89260bae.0215f8","x":1380,"y":2060,"wires":[["9166e77b.5a7278","a11e380b.e9a898"],[]]},{"id":"fe707631.7420c8","type":"modbus-write","z":"caa4d2b.601f23","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"89260bae.0215f8","x":1460,"y":1820,"wires":[["79d074a8.86cc3c","89695f0b.1b013"],[]]},{"id":"79a923b6.feadfc","type":"comment","z":"caa4d2b.601f23","name":"Marş - 1","info":"","x":660,"y":340,"wires":[]},{"id":"89695f0b.1b013","type":"debug","z":"caa4d2b.601f23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":1860,"wires":[]},{"id":"c15a4e63.733ae","type":"function","z":"caa4d2b.601f23","name":"P2 > 14.9","func":"var data = global.get(\"P2\");\nif (data >= 15) {\n    global.set(\"trigger\",false);\n    msg.payload = true;\n    return msg;\n}\nelse if (data < 15) {\n    msg.payload = false;\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":400,"y":400,"wires":[["8fadeec4.b307e"]]},{"id":"ed0ed34a.8ebd4","type":"function","z":"caa4d2b.601f23","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1640,"wires":[["8df39135.208e5"]]},{"id":"c63273d5.07bf6","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"pres3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":1640,"wires":[["d196a9f5.82a2d8"]]},{"id":"d196a9f5.82a2d8","type":"switch","z":"caa4d2b.601f23","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1640,"wires":[["ed0ed34a.8ebd4"]]},{"id":"8df39135.208e5","type":"switch","z":"caa4d2b.601f23","name":"P2 <= 10","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":1640,"wires":[["cf4626ad.676bc8"]]},{"id":"3d08ccc3.9eab54","type":"debug","z":"caa4d2b.601f23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":1880,"wires":[]},{"id":"58c2a7d1.1a81f8","type":"function","z":"caa4d2b.601f23","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":3080,"wires":[["74e551a3.e66e6"]]},{"id":"fd8a0d30.831f9","type":"link in","z":"caa4d2b.601f23","name":"","links":["74e551a3.e66e6","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1275,"y":1480,"wires":[["9e85322e.4f8b5","c211892.944ce78"]]},{"id":"74e551a3.e66e6","type":"link out","z":"caa4d2b.601f23","name":"","links":["fd8a0d30.831f9","cc00aa9f.d9bbe8","8c62ae3a.4d3ff","90fddf5d.e547e","e9e9ed97.b4ed5","3a317ace.5e1126","f9c3a430.98fac8","a2eb2210.acbab","37e00632.e7369a","e977ba52.aafa88","5a90835.1cb5e7c","ebb12ce8.7a4b9","8dbc947d.b156a8","5ed9d17.f74ee3","2683aaa8.1e3d66"],"x":1135,"y":3080,"wires":[]},{"id":"26fa8160.04383e","type":"rpi-gpio out","z":"caa4d2b.601f23","name":"R4","pin":"15","set":"","level":"0","freq":"","out":"out","x":370,"y":2740,"wires":[]},{"id":"a3ca27e4.07f208","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"R4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2800,"wires":[["26fa8160.04383e","c2e4648f.e61c98"]]},{"id":"c2e4648f.e61c98","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":2800,"wires":[["f1459320.e67c4"]]},{"id":"f1459320.e67c4","type":"ui_text","z":"caa4d2b.601f23","group":"bb88696f.60ba18","order":4,"width":"7","height":"1","name":"","label":"R4","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":2800,"wires":[]},{"id":"6f2e2cb9.b057c4","type":"delay","z":"caa4d2b.601f23","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":400,"wires":[["d905e693.0b0db8"]]},{"id":"f9bc3acf.b5d8b8","type":"function","z":"caa4d2b.601f23","name":"R4-ON","func":"var t3 = global.get(\"T3\")\nvar p2 = global.get(\"P2\")\n\nif (t3 > 65 && p2 > 16 ) {\n    global.set(\"R4\",false)\n    global.set(\"diode\",false)\n}\n","outputs":1,"noerr":0,"x":930,"y":1700,"wires":[[]]},{"id":"c5ea12a7.2ab53","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2920,"wires":[["a7da2d37.705c5"]]},{"id":"a7da2d37.705c5","type":"function","z":"caa4d2b.601f23","name":"values","func":"global.set(\"value\", undefined)\nglobal.set(\"value1\", undefined)\nglobal.set(\"value2\", undefined)\nglobal.set(\"value3\", undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2920,"wires":[[]]},{"id":"93f0b7e3.ed81c8","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Sistem Hazır\" ;\n    return msg;\n}\nelse if (data === false){\n    msg.payload = \"Sistem Hazırlanıyor\" ;\n    return msg;\n}\nelse {\n    msg.payload = \" \" ;\n    return msg;\n}","outputs":1,"noerr":0,"x":1050,"y":3440,"wires":[["a751f6b6.0d1088","9ffc0d58.0d1f5"]]},{"id":"9ffc0d58.0d1f5","type":"ui_text","z":"caa4d2b.601f23","group":"bb88696f.60ba18","order":5,"width":"7","height":"1","name":"","label":"Sistem Durumu","format":"{{msg.payload}}","layout":"row-spread","x":1280,"y":3380,"wires":[]},{"id":"5a9cecad.c60384","type":"ui_toast","z":"caa4d2b.601f23","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1330,"y":3460,"wires":[[]]},{"id":"e9f01459.373de8","type":"delay","z":"caa4d2b.601f23","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":3140,"wires":[["446e89da.f7da98"]]},{"id":"d1bd3ac5.d17a38","type":"function","z":"caa4d2b.601f23","name":"","func":"var T1 = msg.payload[0] /10\nvar T2 = msg.payload[1] /10\nvar T3 = msg.payload[2] /10\nvar T4 = msg.payload[3] /10\nvar T5 = msg.payload[4] /10\nvar T6 = msg.payload[5] /10\n\nif (T1 != 850) {\n    global.set(\"T1\",T1)\n}\nif (T2 != 850) {\n    global.set(\"T2\",T2)\n    \n}\nif (T3 != 850) {\n    global.set(\"T3\",T3)\n    \n}\nif (T4 != 850) {\n    global.set(\"T4\",T4)\n    \n}\nif (T5 != 850) {\n    global.set(\"T5\",T5)\n    \n}\nif (T6 != 850) {\n    global.set(\"T6\",T6)\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":4100,"wires":[[]]},{"id":"41cd3af3.be43b4","type":"modbus-read","z":"caa4d2b.601f23","name":"Pres","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"89260bae.0215f8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":210,"y":4400,"wires":[["ecbbb3e.691a85","34ce8939.127086","c1d2eace.5e5dc8"],[]]},{"id":"ecbbb3e.691a85","type":"function","z":"caa4d2b.601f23","name":"","func":"var P1 = msg.payload[0] /100\n\nmsg.payload = P1\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":4380,"wires":[["a626f9d2.9a9838"]]},{"id":"a626f9d2.9a9838","type":"range","z":"caa4d2b.601f23","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload","name":"","x":470,"y":4380,"wires":[["829a7f22.08aca"]]},{"id":"34ce8939.127086","type":"function","z":"caa4d2b.601f23","name":"","func":"var P2 = msg.payload[1] /100\n\nmsg.payload = P2\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":4420,"wires":[["a7b74c6b.1734a"]]},{"id":"a7b74c6b.1734a","type":"range","z":"caa4d2b.601f23","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"","x":470,"y":4420,"wires":[["124c28ed.05d117"]]},{"id":"f485bed0.03de5","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":4380,"wires":[[]]},{"id":"e6da6b6b.ea8668","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":4420,"wires":[[]]},{"id":"829a7f22.08aca","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":4380,"wires":[["f485bed0.03de5"]]},{"id":"124c28ed.05d117","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":4420,"wires":[["e6da6b6b.ea8668"]]},{"id":"1466df0a.4d1a71","type":"delay","z":"caa4d2b.601f23","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":140,"wires":[["29b71c60.121a34","d93e8fec.8246e","7eff4e10.7d807"]]},{"id":"29b71c60.121a34","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload;\nif (data === true) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    global.set(\"trigger\",false)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1390,"y":140,"wires":[["b9c0bb08.690cb8"]]},{"id":"b9c0bb08.690cb8","type":"debug","z":"caa4d2b.601f23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":120,"wires":[]},{"id":"d905e693.0b0db8","type":"function","z":"caa4d2b.601f23","name":"P2 > 15.9","func":"var p2      =   global.get(\"P2\")\nif ( p2 >= 16) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 16) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false;\n    return msg;\n\n}","outputs":1,"noerr":0,"x":260,"y":560,"wires":[["8e4a24f2.f91778","9bfb6fa9.3f636"]]},{"id":"9e9b0dfd.1e255","type":"ui_button","z":"caa4d2b.601f23","name":"","group":"892397c9.53d038","order":2,"width":"3","height":"3","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":510,"y":3300,"wires":[["71947d37.12b694","f2464830.2945c8","4c3ca0a.3fecb6"]]},{"id":"f929e17d.752a1","type":"ui_button","z":"caa4d2b.601f23","name":"","group":"892397c9.53d038","order":1,"width":"3","height":"3","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":510,"y":3260,"wires":[["71947d37.12b694"]]},{"id":"f948733d.fc104","type":"ui_toast","z":"caa4d2b.601f23","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":930,"y":3300,"wires":[[]]},{"id":"4c3ca0a.3fecb6","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = \"Kapatma Başarılı\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":3300,"wires":[["65c92d8d.50b874"]]},{"id":"a751f6b6.0d1088","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":3460,"wires":[["5a9cecad.c60384"]]},{"id":"65c92d8d.50b874","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":790,"y":3300,"wires":[["f948733d.fc104"]]},{"id":"634ff544.4b4e5c","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2960,"wires":[["f3b9cfea.8a6f2"]]},{"id":"f3b9cfea.8a6f2","type":"function","z":"caa4d2b.601f23","name":"diode","func":"global.set(\"diode\", false)\nglobal.set(\"trigger\",false)\nglobal.set(\"stop\",false)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2960,"wires":[[]]},{"id":"7109abc4.8ea8a4","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"diode","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1700,"wires":[["9bdf8633.436728"]]},{"id":"9bdf8633.436728","type":"switch","z":"caa4d2b.601f23","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1700,"wires":[["f9bc3acf.b5d8b8"]]},{"id":"71947d37.12b694","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"start\",msg.payload);\nvar data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Start Verildi\"\n    return msg;\n}","outputs":1,"noerr":0,"x":570,"y":3080,"wires":[["61d23f69.0d94b"]]},{"id":"f2464830.2945c8","type":"function","z":"caa4d2b.601f23","name":"","func":"var data    =   msg.payload;\nif (data === false) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":690,"y":3140,"wires":[["e9f01459.373de8","9ed065ab.3f56c8","58c2a7d1.1a81f8","ddc3547c.534938","f9537f24.bd862","4246b92f.3358e8","19eac7ff.30d9f8","49bb8d2d.2b9f54","1709cd49.361cc3","a3ea4f1e.ecc46","9fbc7de3.8db7d","a7da2d37.705c5","f3b9cfea.8a6f2"]]},{"id":"cc00aa9f.d9bbe8","type":"link in","z":"caa4d2b.601f23","name":"","links":["74e551a3.e66e6","9555da57.8c2c38","3e7a19f3.f95c06"],"x":635,"y":160,"wires":[["7857ac85.3ce174"]]},{"id":"90fddf5d.e547e","type":"link in","z":"caa4d2b.601f23","name":"","links":["74e551a3.e66e6","9555da57.8c2c38","3e7a19f3.f95c06"],"x":835,"y":440,"wires":[["6f2e2cb9.b057c4"]]},{"id":"3a317ace.5e1126","type":"link in","z":"caa4d2b.601f23","name":"","links":["74e551a3.e66e6","9555da57.8c2c38","3e7a19f3.f95c06"],"x":555,"y":440,"wires":[["d68a2168.d15ad"]]},{"id":"a2eb2210.acbab","type":"link in","z":"caa4d2b.601f23","name":"","links":["74e551a3.e66e6","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1155,"y":100,"wires":[["1466df0a.4d1a71"]]},{"id":"27c7657f.131c5a","type":"link in","z":"caa4d2b.601f23","name":"","links":["7ff3c7b3.4029a8","d508277d.594708"],"x":1235,"y":2100,"wires":[["655ac2c6.bbb59c"]]},{"id":"9dc47632.332308","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"trigger","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["d90058c6.2d2cf8"]]},{"id":"d90058c6.2d2cf8","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":400,"wires":[["c15a4e63.733ae"]]},{"id":"5ccbca30.c2c154","type":"function","z":"caa4d2b.601f23","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":800,"y":560,"wires":[["d1efc445.405ea8"]]},{"id":"a29b384e.ff3558","type":"delay","z":"caa4d2b.601f23","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":560,"wires":[["5ccbca30.c2c154"]]},{"id":"62a6db3a.8a05a4","type":"function","z":"caa4d2b.601f23","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":510,"y":560,"wires":[["a29b384e.ff3558"]]},{"id":"e977ba52.aafa88","type":"link in","z":"caa4d2b.601f23","name":"","links":["74e551a3.e66e6","9555da57.8c2c38","3e7a19f3.f95c06"],"x":555,"y":600,"wires":[["a29b384e.ff3558"]]},{"id":"f6cf92fa.469cf","type":"comment","z":"caa4d2b.601f23","name":"Marş - 2","info":"","x":660,"y":500,"wires":[]},{"id":"5a90835.1cb5e7c","type":"link in","z":"caa4d2b.601f23","name":"","links":["74e551a3.e66e6","9555da57.8c2c38","3e7a19f3.f95c06"],"x":855,"y":600,"wires":[["d1efc445.405ea8"]]},{"id":"d1efc445.405ea8","type":"delay","z":"caa4d2b.601f23","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":560,"wires":[["421f4f2d.71b34"]]},{"id":"421f4f2d.71b34","type":"function","z":"caa4d2b.601f23","name":"P2 > 16.9","func":"var p2      =   global.get(\"P2\")\nif ( p2 >= 17) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 17) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false ;\n    return msg;\n \n}","outputs":1,"noerr":0,"x":280,"y":820,"wires":[["797572da.0ef17c","9bfb6fa9.3f636"]]},{"id":"1a261a75.a74d76","type":"function","z":"caa4d2b.601f23","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":800,"y":820,"wires":[["cc075e32.87893"]]},{"id":"74b51480.76c4cc","type":"delay","z":"caa4d2b.601f23","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":820,"wires":[["1a261a75.a74d76"]]},{"id":"eb36890b.602a18","type":"function","z":"caa4d2b.601f23","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":530,"y":820,"wires":[["74b51480.76c4cc"]]},{"id":"ebb12ce8.7a4b9","type":"link in","z":"caa4d2b.601f23","name":"","links":["74e551a3.e66e6","9555da57.8c2c38","3e7a19f3.f95c06"],"x":555,"y":860,"wires":[["74b51480.76c4cc"]]},{"id":"589268b0.d307e8","type":"comment","z":"caa4d2b.601f23","name":"Marş - 3","info":"","x":660,"y":760,"wires":[]},{"id":"8dbc947d.b156a8","type":"link in","z":"caa4d2b.601f23","name":"","links":["74e551a3.e66e6","9555da57.8c2c38","3e7a19f3.f95c06"],"x":855,"y":860,"wires":[["cc075e32.87893"]]},{"id":"cc075e32.87893","type":"delay","z":"caa4d2b.601f23","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":820,"wires":[["358e68e9.357628"]]},{"id":"358e68e9.357628","type":"function","z":"caa4d2b.601f23","name":"P2 > 17.9","func":"var p2      =   global.get(\"P2\")\nif ( p2 >= 18) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 18) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1120,"y":860,"wires":[["9bfb6fa9.3f636","e212a85e.b35238","af54f45a.051de8"]]},{"id":"7809f4.e20fb60c","type":"link out","z":"caa4d2b.601f23","name":"","links":["9b24835e.0accf"],"x":1375,"y":860,"wires":[]},{"id":"9b24835e.0accf","type":"link in","z":"caa4d2b.601f23","name":"","links":["7809f4.e20fb60c"],"x":1175,"y":1440,"wires":[["cf4626ad.676bc8"]]},{"id":"4ec165ab.ec83ac","type":"comment","z":"caa4d2b.601f23","name":"Acil Stop","info":"","x":1140,"y":800,"wires":[]},{"id":"61d23f69.0d94b","type":"ui_toast","z":"caa4d2b.601f23","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":710,"y":3080,"wires":[[]]},{"id":"d93e8fec.8246e","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.reset = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1370,"y":200,"wires":[["4526bdfc.4f7bb4"]]},{"id":"4526bdfc.4f7bb4","type":"link out","z":"caa4d2b.601f23","name":"","links":["d14efa9a.dbbe28","77269dc7.25faa4","e7742c82.50bdb","5af02195.eac16","2364673e.9d0588","6cf2802b.6102"],"x":1500,"y":200,"wires":[]},{"id":"d14efa9a.dbbe28","type":"link in","z":"caa4d2b.601f23","name":"","links":["4526bdfc.4f7bb4"],"x":555,"y":360,"wires":[["d68a2168.d15ad"]]},{"id":"77269dc7.25faa4","type":"link in","z":"caa4d2b.601f23","name":"","links":["4526bdfc.4f7bb4"],"x":835,"y":360,"wires":[["6f2e2cb9.b057c4"]]},{"id":"e7742c82.50bdb","type":"link in","z":"caa4d2b.601f23","name":"","links":["4526bdfc.4f7bb4"],"x":555,"y":520,"wires":[["a29b384e.ff3558"]]},{"id":"5af02195.eac16","type":"link in","z":"caa4d2b.601f23","name":"","links":["4526bdfc.4f7bb4"],"x":855,"y":520,"wires":[["d1efc445.405ea8"]]},{"id":"2364673e.9d0588","type":"link in","z":"caa4d2b.601f23","name":"","links":["4526bdfc.4f7bb4"],"x":555,"y":780,"wires":[["74b51480.76c4cc"]]},{"id":"6cf2802b.6102","type":"link in","z":"caa4d2b.601f23","name":"","links":["4526bdfc.4f7bb4"],"x":835,"y":780,"wires":[["cc075e32.87893"]]},{"id":"9bfb6fa9.3f636","type":"switch","z":"caa4d2b.601f23","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":640,"wires":[["27b8b606.480f3a"]]},{"id":"8e4a24f2.f91778","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":560,"wires":[["62a6db3a.8a05a4"]]},{"id":"797572da.0ef17c","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":820,"wires":[["eb36890b.602a18"]]},{"id":"8275aaeb.1298d8","type":"function","z":"caa4d2b.601f23","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":640,"wires":[["fa420002.8b092"]]},{"id":"fa420002.8b092","type":"link out","z":"caa4d2b.601f23","name":"","links":["df4d474f.1655b8"],"x":735,"y":640,"wires":[]},{"id":"df4d474f.1655b8","type":"link in","z":"caa4d2b.601f23","name":"","links":["fa420002.8b092"],"x":1055,"y":100,"wires":[["1466df0a.4d1a71","2d170527.84276a"]]},{"id":"27b8b606.480f3a","type":"function","z":"caa4d2b.601f23","name":"","func":"var data    =   msg.payload;\nif (data === false) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":640,"wires":[["8275aaeb.1298d8"]]},{"id":"2fcce7af.430838","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"temp3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":1520,"wires":[["50bea6b2.4527a8"]]},{"id":"50bea6b2.4527a8","type":"switch","z":"caa4d2b.601f23","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1520,"wires":[["cd201f64.d7a38"]]},{"id":"cd201f64.d7a38","type":"function","z":"caa4d2b.601f23","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1520,"wires":[["a1822c78.98347"]]},{"id":"a1822c78.98347","type":"switch","z":"caa4d2b.601f23","name":"T3 < 50","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":1520,"wires":[["cf4626ad.676bc8"]]},{"id":"e583a312.5dc94","type":"function","z":"caa4d2b.601f23","name":"P1","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":940,"wires":[[]]},{"id":"361730e4.f7243","type":"function","z":"caa4d2b.601f23","name":"P2","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1040,"wires":[[]]},{"id":"17e7eb89.ce3b84","type":"debug","z":"caa4d2b.601f23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":180,"wires":[]},{"id":"7c78debb.93b17","type":"function","z":"caa4d2b.601f23","name":"","func":"msg.payload = 0\nglobal.set(\"stop\",false)\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":3380,"wires":[["d508277d.594708"]]},{"id":"d508277d.594708","type":"link out","z":"caa4d2b.601f23","name":"","links":["1ba41dd8.f03492","87b4f24.3febe1","f0e38571.924db8","27c7657f.131c5a","838ce784.849f28","2fd23349.6d3b4c"],"x":875,"y":3380,"wires":[]},{"id":"446e89da.f7da98","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"stop\",true)\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":3140,"wires":[[]]},{"id":"2684f570.9da1da","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"stop","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":3380,"wires":[["28b16c1.c02af94"]]},{"id":"28b16c1.c02af94","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":3380,"wires":[["7c78debb.93b17","6b640da0.3b0c44"]]},{"id":"a63c7104.c0c4e","type":"function","z":"caa4d2b.601f23","name":"","func":"var v   =   global.get(\"value\");\n//var v1  =   global.get(\"value1\");\n//var v2  =   global.get(\"value2\");\n//var v3  =   global.get(\"value3\");\nif (v === 0) {\n    msg.payload = true;\n    return msg;\n}\nelse {\n    global.set(\"stop\",true)\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":930,"y":3440,"wires":[["93f0b7e3.ed81c8","55525a16.34b734"]]},{"id":"6b640da0.3b0c44","type":"delay","z":"caa4d2b.601f23","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":3440,"wires":[["a63c7104.c0c4e"]]},{"id":"e212a85e.b35238","type":"debug","z":"caa4d2b.601f23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":920,"wires":[]},{"id":"d854eea2.6bcad","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"15.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":920,"wires":[["361730e4.f7243"]]},{"id":"d021c1d4.ff12b","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":880,"wires":[["e583a312.5dc94","361730e4.f7243"]]},{"id":"453c989b.4e2b28","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"17.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1000,"wires":[["361730e4.f7243"]]},{"id":"28fb5d7c.a3a1f2","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"16.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":960,"wires":[["361730e4.f7243"]]},{"id":"894ba7c9.8f5dd8","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"18.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1040,"wires":[["361730e4.f7243"]]},{"id":"d6dcd6ef.021c68","type":"function","z":"caa4d2b.601f23","name":"","func":"var data    =   msg.payload;\nif (data === true) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1110,"y":3320,"wires":[["9ed065ab.3f56c8","ddc3547c.534938","f9537f24.bd862","4246b92f.3358e8","19eac7ff.30d9f8","49bb8d2d.2b9f54","1709cd49.361cc3","a3ea4f1e.ecc46","9fbc7de3.8db7d","a7da2d37.705c5","f3b9cfea.8a6f2"]]},{"id":"55525a16.34b734","type":"delay","z":"caa4d2b.601f23","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":3380,"wires":[["d6dcd6ef.021c68"]]},{"id":"af54f45a.051de8","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":860,"wires":[["7809f4.e20fb60c"]]},{"id":"43c12974.4c32f8","type":"ui_gauge","z":"caa4d2b.601f23","name":"","group":"1196d824.14f1e8","order":1,"width":"3","height":"3","gtype":"donut","title":"5 dk","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":3380,"wires":[]},{"id":"7380113e.b7f48","type":"ui_gauge","z":"caa4d2b.601f23","name":"","group":"1196d824.14f1e8","order":2,"width":"3","height":"3","gtype":"donut","title":"3 dk","label":"units","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":3420,"wires":[]},{"id":"d427e7a.f979918","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":620,"wires":[["639112ba.de4adc"]]},{"id":"6213b23a.41b07c","type":"switch","z":"caa4d2b.601f23","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":660,"wires":[["639112ba.de4adc"]]},{"id":"c4ba0d58.13333","type":"function","z":"caa4d2b.601f23","name":"driver up down","func":"msg.payload = global.get(\"trig\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1300,"y":560,"wires":[["d427e7a.f979918","6213b23a.41b07c"]]},{"id":"5e69bbf2.224634","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"trig","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":500,"wires":[["60d85bf4.b667f4"]]},{"id":"60d85bf4.b667f4","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":500,"wires":[["c4ba0d58.13333"]]},{"id":"639112ba.de4adc","type":"function","z":"caa4d2b.601f23","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"timer\");\n\nif(msg.payload === true && Value <300){\n    global.set('timer', Value + 1)\n\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('timer', Value - 1)\n\n}\nValue = global.get(\"timer\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1450,"y":640,"wires":[[]]},{"id":"faaedbf3.d47728","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1210,"y":440,"wires":[["b1e45a52.05db18"]]},{"id":"b1e45a52.05db18","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"timer\",0)\nglobal.set(\"trig\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":440,"wires":[[]]},{"id":"cdcfa90d.3c4a98","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"timer","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":3380,"wires":[["43c12974.4c32f8"]]},{"id":"5b75b44f.617cac","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"timer2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":3420,"wires":[["7380113e.b7f48"]]},{"id":"d7071683.a379f8","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":1400,"wires":[["78fe81b9.f995e"]]},{"id":"75924ff4.4bc41","type":"switch","z":"caa4d2b.601f23","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":1440,"wires":[["78fe81b9.f995e"]]},{"id":"399c8272.eca31e","type":"function","z":"caa4d2b.601f23","name":"driver up down","func":"msg.payload = global.get(\"trig2\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1580,"y":1340,"wires":[["d7071683.a379f8","75924ff4.4bc41"]]},{"id":"f62c8e87.4f3fa","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"trig2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":1280,"wires":[["526b173c.648d38"]]},{"id":"526b173c.648d38","type":"switch","z":"caa4d2b.601f23","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":1280,"wires":[["399c8272.eca31e"]]},{"id":"78fe81b9.f995e","type":"function","z":"caa4d2b.601f23","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"timer2\");\n\nif(msg.payload === true && Value <180){\n    global.set('timer2', Value + 1)\n\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('timer2', Value - 1)\n\n}\nValue = global.get(\"timer2\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1630,"y":1500,"wires":[[]]},{"id":"1191d076.f7157","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":320,"wires":[["ca8b72af.a9dfe","1466df0a.4d1a71"]]},{"id":"8ca0d9cc.12d888","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1230,"y":300,"wires":[["1466df0a.4d1a71"]]},{"id":"ca8b72af.a9dfe","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"trig\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":340,"wires":[[]]},{"id":"b38a3feb.8fe51","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1230,"y":380,"wires":[["b1e45a52.05db18"]]},{"id":"7eff4e10.7d807","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1410,"y":320,"wires":[["b1e45a52.05db18"]]},{"id":"9b8ce6ae.5856e8","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1630,"y":1660,"wires":[[]]},{"id":"34ef87a4.03cba8","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":1720,"wires":[["d7a9cde5.3141c","9e85322e.4f8b5"]]},{"id":"f83986ae.bd26a8","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":1760,"wires":[["d7a9cde5.3141c","dd142c23.a782c","69e608c7.4df2c8"]]},{"id":"dd142c23.a782c","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1450,"y":1680,"wires":[["9e85322e.4f8b5"]]},{"id":"d7a9cde5.3141c","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"trig2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":1720,"wires":[[]]},{"id":"69e608c7.4df2c8","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1450,"y":1760,"wires":[["741f2772.a10a08"]]},{"id":"2d170527.84276a","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload\nif (data === true ) {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1170,"y":240,"wires":[["8ca0d9cc.12d888","ca8b72af.a9dfe","b38a3feb.8fe51"]]},{"id":"c211892.944ce78","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload\nif (data === true ) {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1310,"y":1660,"wires":[["dd142c23.a782c","d7a9cde5.3141c","69e608c7.4df2c8"]]},{"id":"c134cdc0.444d","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1630,"y":1720,"wires":[["741f2772.a10a08"]]},{"id":"741f2772.a10a08","type":"function","z":"caa4d2b.601f23","name":"","func":"global.set(\"timer2\",0)\nglobal.set(\"trig2\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":1720,"wires":[[]]},{"id":"bd9dce11.af5e8","type":"ui_button","z":"caa4d2b.601f23","name":"","group":"545a6916.5ba278","order":1,"width":8,"height":4,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":470,"y":2860,"wires":[["c6871f3f.00261"]]},{"id":"1c77bdac.cde882","type":"ui_button","z":"caa4d2b.601f23","name":"","group":"545a6916.5ba278","order":2,"width":8,"height":4,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":470,"y":2900,"wires":[["c6871f3f.00261"]]},{"id":"c8c3c8d2.8b1368","type":"ui_text","z":"caa4d2b.601f23","group":"bb88696f.60ba18","order":3,"width":"7","height":1,"name":"","label":"R3","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":2700,"wires":[]},{"id":"3fbe79d6.d50f06","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"R3","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":2700,"wires":[["6e4040cd.45f0f","37a42582.7c3a3a"]]},{"id":"37a42582.7c3a3a","type":"rpi-gpio out","z":"caa4d2b.601f23","name":"R3 (Pin numarası Belirleyiniz)","pin":"29","set":"","level":"0","freq":"","out":"out","x":450,"y":2640,"wires":[]},{"id":"6e4040cd.45f0f","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload;\n\n\nif( data === true){\n    msg.payload = \"Kapalı\";\n\n    return msg;\n}else if( data === false ){\n    \n    msg.payload = \"Açık\";\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":2700,"wires":[["c8c3c8d2.8b1368"]]},{"id":"c6871f3f.00261","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload;\n\n\nif( data === true ){\n    \n    global.set(\"R3\",false);\n    \n    \n}else if( data === false ){\n    \n    global.set(\"R3\",true);\n    \n    \n      \n}\n\n\n\n","outputs":1,"noerr":0,"x":610,"y":2880,"wires":[[]]},{"id":"81008e54.0e0b5","type":"function","z":"caa4d2b.601f23","name":"","func":"\nvar data = msg.payload;\n\n\nif( data === false ){\n    msg.enabled = false\n    \n    return msg;\n    \n}else if( data === true ){\n    \n    msg.enabled = true;\n    return msg;\n     \n    \n}\n\n\n","outputs":1,"noerr":0,"x":350,"y":2860,"wires":[["bd9dce11.af5e8"]]},{"id":"8b195399.b2a8d","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"R3","payloadType":"global","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2880,"wires":[["81008e54.0e0b5","a0c1ef56.0fad7"]]},{"id":"a0c1ef56.0fad7","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = msg.payload;\n\n\nif( data === false ){\n    msg.enabled = true\n    \n    return msg;\n    \n}else if( data === true ){\n    \n    msg.enabled = false;\n    return msg;\n     \n    \n}\n","outputs":1,"noerr":0,"x":350,"y":2900,"wires":[["1c77bdac.cde882"]]},{"id":"14bf807f.b9936","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1430,"y":3020,"wires":[["71da1f8b.d67b1"]]},{"id":"71da1f8b.d67b1","type":"function","z":"caa4d2b.601f23","name":"R3","func":"global.set(\"R3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":3020,"wires":[[]]},{"id":"a295bb90.3d97e8","type":"comment","z":"caa4d2b.601f23","name":"Röle","info":"","x":150,"y":2420,"wires":[]},{"id":"f45ce44e.31f698","type":"ui_gauge","z":"caa4d2b.601f23","name":"","group":"b2c48c0d.1147c","order":1,"width":"7","height":"3","gtype":"gage","title":"R","label":"A","format":"{{payload.repg_c1}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":3740,"wires":[]},{"id":"dbfa311a.8a90d","type":"ui_gauge","z":"caa4d2b.601f23","name":"","group":"b2c48c0d.1147c","order":2,"width":"6","height":"3","gtype":"gage","title":"S","label":"A","format":"{{payload.repg_c2}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":3780,"wires":[]},{"id":"7eee84a3.119d9c","type":"ui_gauge","z":"caa4d2b.601f23","name":"","group":"d0c37b8e.9f24d8","order":0,"width":"7","height":"3","gtype":"gage","title":"R","label":"V","format":"{{payload.repg_v1_2}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":3600,"wires":[]},{"id":"16c5ff68.8b6a91","type":"ui_gauge","z":"caa4d2b.601f23","name":"","group":"d0c37b8e.9f24d8","order":0,"width":"6","height":"3","gtype":"gage","title":"S","label":"V","format":"{{payload.repg_v2_3}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":3640,"wires":[]},{"id":"fcaf9b29.0cfa58","type":"ui_gauge","z":"caa4d2b.601f23","name":"","group":"d0c37b8e.9f24d8","order":0,"width":"7","height":"3","gtype":"gage","title":"T","label":"V","format":"{{payload.repg_v3_1}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":3680,"wires":[]},{"id":"30fdbfb5.fe602","type":"ui_gauge","z":"caa4d2b.601f23","name":"","group":"b2c48c0d.1147c","order":3,"width":"7","height":"3","gtype":"gage","title":"T","label":"A","format":"{{payload.repg_c3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":3820,"wires":[]},{"id":"4a41210c.dc864","type":"function","z":"caa4d2b.601f23","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"A1_v1\"]   =   msg.payload[\"repg_v1_2\"];\ndata[\"A1_v2\"]   =   msg.payload[\"repg_v2_3\"];\ndata[\"A1_v3\"]   =   msg.payload[\"repg_v3_1\"];\ndata[\"A1_c1\"]   =   msg.payload[\"repg_c1\"];\ndata[\"A1_c2\"]   =   msg.payload[\"repg_c2\"];\ndata[\"A1_c3\"]   =   msg.payload[\"repg_c3\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":3700,"wires":[[]]},{"id":"8bc337e3.7364e8","type":"function","z":"caa4d2b.601f23","name":"RePG","func":"\nmsg = {\n    \"payload\" : {\n        //\"repg_v1\"   :   msg.payload[1]  /   10 ,\n        //\"repg_v2\"\t:   msg.payload[3]  /   10 ,\n        //\"repg_v3\"\t:   msg.payload[5]  /   10 ,\n        \"repg_v1_2\"\t:   msg.payload[9]  /   10 ,\n        \"repg_v2_3\"\t:   msg.payload[11] /   10 ,\n        \"repg_v3_1\"\t:   msg.payload[13] /   10 ,\n        \"repg_c1\"\t:   msg.payload[15] /   1000 ,\n        \"repg_c2\"\t:   msg.payload[17] /   1000 ,\n        \"repg_c3\"\t:   msg.payload[19] /   1000 \n        \n        \n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":3700,"wires":[["7eee84a3.119d9c","16c5ff68.8b6a91","fcaf9b29.0cfa58","f45ce44e.31f698","dbfa311a.8a90d","30fdbfb5.fe602","4a41210c.dc864"]]},{"id":"ca74a418.232f88","type":"modbus-read","z":"caa4d2b.601f23","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"30","rate":"4","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2f8a769b.ebd5da","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":260,"y":3700,"wires":[["8bc337e3.7364e8","2c36687.e6e7c98"],[]]},{"id":"2c36687.e6e7c98","type":"debug","z":"caa4d2b.601f23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":3800,"wires":[]},{"id":"493cbf03.ccf6d","type":"function","z":"caa4d2b.601f23","name":"","func":"let array = msg.payload\n\n\nlet array1 = [];\nlet start = 0;\nlet end = 2;\n\nfor(i = 0; i <= array.length /2 -1; i++){\n    array1.push(array.slice(start, end));\n    start += 2;\n    end  = start + 2;\n}\n\n\nlet array2 = [];\nfor(var item of array1){\n    for(var j of item){\n        array2.push(j.toString(16))\n    }\n}\n\nlet array3 = [];\nstart = 0;\nend = 2;\nfor(i = 0; i <= array.length /2 -1; i++){\n    array3.push(\"0x\"+array2.slice(start, end).join(\"\"));\n    start += 2;\n    end  = start + 2;\n}\n\nvar array4 = []\nfor(var k of array3){\n    var v = new DataView(new ArrayBuffer(4))\n    v.setUint32(0, k)\n    array4.push(String(v.getFloat32(0)).slice(0,5));\n}\n\nlet array5 = array4.map( y => ( isNaN(y) ? null : parseFloat(y)  ) )\n\nmsg = {\n    \"payload\" : array5\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":3880,"wires":[["f2a1f7c3.f90818"]]},{"id":"afdebdc8.92a48","type":"ui_gauge","z":"caa4d2b.601f23","name":"","group":"8e9c56e4.1bac58","order":0,"width":"20","height":"3","gtype":"gage","title":"Güç LT","label":"VA","format":"{{payload.repg_t_p}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":3940,"wires":[]},{"id":"f56f9a27.2667c8","type":"modbus-read","z":"caa4d2b.601f23","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"26","quantity":"37","rate":"7","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2f8a769b.ebd5da","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":270,"y":3880,"wires":[["493cbf03.ccf6d"],[]]},{"id":"e63bb179.2f3c3","type":"function","z":"caa4d2b.601f23","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\n\ndata[\"A1_p1\"]   =   msg.payload[\"repg_p1\"];\ndata[\"A1_p2\"]   =   msg.payload[\"repg_p2\"];\ndata[\"A1_p3\"]   =   msg.payload[\"repg_p3\"];\ndata[\"A1_t_p\"]  =   msg.payload[\"repg_t_p\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":3880,"wires":[[]]},{"id":"f2a1f7c3.f90818","type":"function","z":"caa4d2b.601f23","name":"RePG","func":"var data = global.get('azure_data');\n\n\n\nmsg = {\n    \"payload\" : {\n        \n        \"repg_p1\"   :   parseFloat( ( (data[\"A1_v1\"]    /   1.73) * data[\"A1_c1\"]).toFixed(0) ),\n        \"repg_p2\"   :   parseFloat( ( (data[\"A1_v2\"]    /   1.73) * data[\"A1_c2\"]).toFixed(0) ) ,\n        \"repg_p3\"   :   parseFloat( ( (data[\"A1_v3\"]    /   1.73) * data[\"A1_c3\"]).toFixed(0) ) ,\n        \"repg_t_p\"  :   parseFloat( ( data[\"A1_p1\"] +  data[\"A1_p2\"] + data[\"A1_p3\"] ).toFixed(0) )\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":3880,"wires":[["afdebdc8.92a48","e63bb179.2f3c3"]]},{"id":"1df02e13.b6d582","type":"comment","z":"caa4d2b.601f23","name":"Analizör","info":"","x":270,"y":3580,"wires":[]},{"id":"852c3ce.fe889c","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":3560,"wires":[["eca673f2.1c838"]]},{"id":"eca673f2.1c838","type":"function","z":"caa4d2b.601f23","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"A1_v1\"     :undefined,\n    \"A1_v2\"     :undefined,\n    \"A1_v3\"     :undefined,\n    \"A1_c1\"     :undefined,\n    \"A1_c2\"     :undefined,\n    \"A1_c3\"     :undefined,\n    \"A1_p1\"     :undefined,\n    \"A1_p2\"     :undefined,\n    \"A1_p3\"     :undefined,\n    \"A1_t_p\"    :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"P3\"        :undefined,\n    \"P4\"        :undefined,\n    \"PT\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":3560,"wires":[[]]},{"id":"eb0aaa20.11c618","type":"debug","z":"caa4d2b.601f23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":3600,"wires":[]},{"id":"c237b38b.749b6","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":3600,"wires":[["eb0aaa20.11c618"]]},{"id":"20ab3414.0bc71c","type":"function","z":"caa4d2b.601f23","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0]  /   10,\n        \"Temp2\"\t:   msg.payload[1]  /   10,\n        \"Temp3\"\t:   msg.payload[2]  /   10,\n        \"Temp4\"\t:   msg.payload[3]  /   10,\n        \"Temp5\"\t:   msg.payload[4]  /   10,\n        \"Temp6\"\t:   msg.payload[5]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":4160,"wires":[["bcd572b1.eadf8"]]},{"id":"542b376e.1b5828","type":"debug","z":"caa4d2b.601f23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":4220,"wires":[]},{"id":"b02ded89.ab7b5","type":"modbus-read","z":"caa4d2b.601f23","name":"PT-100","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2f8a769b.ebd5da","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":210,"y":4160,"wires":[["542b376e.1b5828","20ab3414.0bc71c","d1bd3ac5.d17a38"],[]]},{"id":"bcd572b1.eadf8","type":"function","z":"caa4d2b.601f23","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":4160,"wires":[[]]},{"id":"8effe304.7ff4f","type":"ui_level","z":"caa4d2b.601f23","group":"99025a70.8f52e8","order":1,"width":"7","height":"5","name":"T1","label":"T1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":290,"y":4540,"wires":[]},{"id":"233ff423.07b94c","type":"ui_level","z":"caa4d2b.601f23","group":"99025a70.8f52e8","order":2,"width":"6","height":"5","name":"T2","label":"T2","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":290,"y":4580,"wires":[]},{"id":"b69c0a37.01fbe8","type":"ui_level","z":"caa4d2b.601f23","group":"99025a70.8f52e8","order":3,"width":"7","height":"5","name":"T3","label":"T3","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":290,"y":4620,"wires":[]},{"id":"f3d978cd.01bec8","type":"ui_level","z":"caa4d2b.601f23","group":"99025a70.8f52e8","order":4,"width":"7","height":"5","name":"T4","label":"T4","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":290,"y":4660,"wires":[]},{"id":"97db61a5.a4882","type":"ui_level","z":"caa4d2b.601f23","group":"99025a70.8f52e8","order":5,"width":"6","height":"5","name":"T5","label":"T5","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":290,"y":4700,"wires":[]},{"id":"8f0ee9d6.8a7648","type":"ui_level","z":"caa4d2b.601f23","group":"99025a70.8f52e8","order":6,"width":"7","height":"5","name":"T6","label":"T6","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":290,"y":4740,"wires":[]},{"id":"712024d4.7a21ac","type":"ui_level","z":"caa4d2b.601f23","group":"291b5c7d.e19aa4","order":1,"width":"4","height":"4","name":"T1","label":"T1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":430,"y":4540,"wires":[]},{"id":"5166975f.3ee408","type":"ui_level","z":"caa4d2b.601f23","group":"291b5c7d.e19aa4","order":2,"width":"4","height":"4","name":"T3","label":"T3","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":430,"y":4620,"wires":[]},{"id":"d184f402.377508","type":"ui_level","z":"caa4d2b.601f23","group":"291b5c7d.e19aa4","order":3,"width":"4","height":"4","name":"T5","label":"T5","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":430,"y":4700,"wires":[]},{"id":"d4b1b6.659aee48","type":"ui_level","z":"caa4d2b.601f23","group":"d8ac86d1.930528","order":1,"width":"3","height":"4","name":"P1","label":"P1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"1.5","fontValue":"3","fontSmall":"1.5","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":750,"y":4540,"wires":[]},{"id":"c6d7762f.47dee8","type":"ui_level","z":"caa4d2b.601f23","group":"d8ac86d1.930528","order":2,"width":"3","height":"4","name":"P2","label":"P2","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":750,"y":4580,"wires":[]},{"id":"c3aa0c0b.8fa73","type":"ui_level","z":"caa4d2b.601f23","group":"d8ac86d1.930528","order":3,"width":"3","height":"4","name":"P2S","label":"P2S","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":750,"y":4620,"wires":[]},{"id":"19242039.998d","type":"ui_level","z":"caa4d2b.601f23","group":"d8ac86d1.930528","order":4,"width":"3","height":"4","name":"PS","label":"PS","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"peakmode":false,"peaktime":"3000","x":750,"y":4660,"wires":[]},{"id":"28b9a9e5.471776","type":"debug","z":"caa4d2b.601f23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":2660,"wires":[]},{"id":"2699522e.e2ed0e","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4540,"wires":[["8effe304.7ff4f","712024d4.7a21ac"]]},{"id":"e2b8c9d9.4db148","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"T2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4580,"wires":[["233ff423.07b94c"]]},{"id":"453f6102.f7f25","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4620,"wires":[["b69c0a37.01fbe8","5166975f.3ee408"]]},{"id":"ef777891.f18fb8","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"T4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4660,"wires":[["f3d978cd.01bec8"]]},{"id":"43345bd3.b4fa54","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"T5","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4700,"wires":[["97db61a5.a4882","d184f402.377508"]]},{"id":"86cbb655.8aba88","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"T6","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4740,"wires":[["8f0ee9d6.8a7648"]]},{"id":"32dbb8e.a13be48","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":4540,"wires":[["d4b1b6.659aee48"]]},{"id":"3a11c580.b502da","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":4580,"wires":[["c6d7762f.47dee8"]]},{"id":"403d7cf2.c1ffa4","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"P2S","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":4620,"wires":[["c3aa0c0b.8fa73"]]},{"id":"c1d2eace.5e5dc8","type":"function","z":"caa4d2b.601f23","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"P1\"    :   msg.payload[0]  /   100,\n        \"P2\"\t:   msg.payload[1]  /   100,\n        \"P3\"\t:   msg.payload[2]  /   100,\n        \"P4\"\t:   msg.payload[3]  /   100\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":4280,"wires":[["78df6cc0.6bb264","7c5e1d8b.2b30a4"]]},{"id":"78df6cc0.6bb264","type":"range","z":"caa4d2b.601f23","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P1","name":"","x":470,"y":4300,"wires":[["f266a5ed.dd4658"]]},{"id":"7c5e1d8b.2b30a4","type":"range","z":"caa4d2b.601f23","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P2","name":"","x":470,"y":4340,"wires":[["70ababfd.b5fdc4"]]},{"id":"f266a5ed.dd4658","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = parseFloat( (msg.payload.P1).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":4300,"wires":[[]]},{"id":"70ababfd.b5fdc4","type":"function","z":"caa4d2b.601f23","name":"","func":"var data = parseFloat( (msg.payload.P2).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":4340,"wires":[[]]},{"id":"da6362b1.81f85","type":"inject","z":"caa4d2b.601f23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1260,"y":3700,"wires":[[]]},{"id":"ebc78e82.325da","type":"azureiothub","z":"caa4d2b.601f23","name":"Azure IoT Hub","protocol":"mqtt","x":1460,"y":3860,"wires":[["5e0f11b7.46136"]]},{"id":"6e9accbf.0dd5f4","type":"function","z":"caa4d2b.601f23","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"2c61c9f2-4c98-4121-9782-e58a54533747\",\n        \"key\": \"dd/k0MTs70DG9kS/h0uuyTjmvDZa077IF+VVV+pKD/w=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":3800,"wires":[["ebc78e82.325da"]]},{"id":"5e0f11b7.46136","type":"debug","z":"caa4d2b.601f23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1490,"y":3920,"wires":[]},{"id":"bb88696f.60ba18","type":"ui_group","z":"","name":"Röle Durumları","tab":"61b9e120.bacce","order":2,"disp":false,"width":"7","collapse":false},{"id":"e46bd30b.0771","type":"ui_group","z":"","name":"Sürücü","tab":"61b9e120.bacce","order":4,"disp":false,"width":"7","collapse":false},{"id":"89260bae.0215f8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM3","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"892397c9.53d038","type":"ui_group","z":"","name":"Start - Stop","tab":"61b9e120.bacce","order":5,"disp":false,"width":"6","collapse":false},{"id":"1196d824.14f1e8","type":"ui_group","z":"","name":"Timer","tab":"61b9e120.bacce","order":6,"disp":false,"width":"6","collapse":false},{"id":"545a6916.5ba278","type":"ui_group","z":"","name":"R3 ON/OFF","tab":"4b43c06a.7eba3","order":1,"disp":true,"width":"16","collapse":false},{"id":"b2c48c0d.1147c","type":"ui_group","z":"","name":"Akım","tab":"ab1c2060.c2965","order":2,"disp":true,"width":"20","collapse":false},{"id":"d0c37b8e.9f24d8","type":"ui_group","z":"","name":"Gerilim","tab":"ab1c2060.c2965","order":1,"disp":true,"width":"20","collapse":false},{"id":"2f8a769b.ebd5da","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"8e9c56e4.1bac58","type":"ui_group","z":"","name":"RePG","tab":"ab1c2060.c2965","order":4,"disp":false,"width":"20","collapse":false},{"id":"99025a70.8f52e8","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"47929a26.b63b34","order":1,"disp":false,"width":"20","collapse":false},{"id":"291b5c7d.e19aa4","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"61b9e120.bacce","order":1,"disp":false,"width":"12","collapse":false},{"id":"d8ac86d1.930528","type":"ui_group","z":"","name":"Basınçlar","tab":"61b9e120.bacce","order":3,"disp":false,"width":"12","collapse":false},{"id":"61b9e120.bacce","type":"ui_tab","z":"","name":"Atık Isı","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4b43c06a.7eba3","type":"ui_tab","z":"","name":"Röle Kontrol","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"ab1c2060.c2965","type":"ui_tab","z":"","name":"Elektrik","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"47929a26.b63b34","type":"ui_tab","z":"","name":"Sıcaklık Sensör","icon":"dashboard","order":3}]