RePG_V3_19112019.txt
[{"id":"25f2c800.aeeca8","type":"function","z":"84340f1a.ac231","name":"T1>70 - T3<100 - P1<10 - P2<10 - R1-ON","func":"var t1  =   global.get(\"T1\");\nvar t3  =   global.get(\"T3\");\nvar p1  =   global.get(\"P1\");\nvar p2  =   global.get(\"P2\");\n\nif (t1>70 && t3<100 && p1<10 && p2<10) {\n    global.set(\"R1\",false);\n    msg.payload = true;\n    global.set(\"start\",false);\n    return msg;\n}\nelse {\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":580,"y":100,"wires":[["d5643164.7368e","72fec32e.a89ddc"]]},{"id":"759fbdf4.02f274","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":1540,"wires":[["2f84a6c3.eb4d3a","34000723.7faf48"]]},{"id":"21874ae4.b2aa36","type":"function","z":"84340f1a.ac231","name":"set driver  \"10\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",10)\n    global.set(\"check1\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1000,"y":100,"wires":[[]]},{"id":"9e6a0bc.f314af8","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["5e224a62.fba854"]]},{"id":"f6b715bd.b72088","type":"debug","z":"84340f1a.ac231","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":2000,"wires":[]},{"id":"b21d9a9a.e68278","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1980,"wires":[["bdec3b11.7ebf28"]]},{"id":"71a7f26a.a9166c","type":"switch","z":"84340f1a.ac231","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":2020,"wires":[["bdec3b11.7ebf28"]]},{"id":"debcf43a.2f3d18","type":"function","z":"84340f1a.ac231","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1100,"wires":[[]]},{"id":"442c17d7.2a6058","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1140,"wires":[["debcf43a.2f3d18"]]},{"id":"8142ba38.22e648","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1300,"wires":[["11d121b7.266d7e"]]},{"id":"5daed732.2281a8","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"62","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1340,"wires":[["11d121b7.266d7e"]]},{"id":"97638c97.87bc5","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"67","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1380,"wires":[["11d121b7.266d7e"]]},{"id":"11d121b7.266d7e","type":"function","z":"84340f1a.ac231","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1380,"wires":[[]]},{"id":"769145e0.d0c5ec","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"start","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["8ab3d67.8115828"]]},{"id":"d5643164.7368e","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":100,"wires":[["21874ae4.b2aa36"]]},{"id":"e1387c85.b97b1","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1100,"wires":[["debcf43a.2f3d18"]]},{"id":"51de1acb.b2bc54","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2500,"wires":[["4f0ca400.862efc"]]},{"id":"4f0ca400.862efc","type":"function","z":"84340f1a.ac231","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nglobal.set(\"R4\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":2500,"wires":[[]]},{"id":"ba76a149.8db76","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2540,"wires":[["3c746f92.dfbaf"]]},{"id":"3c746f92.dfbaf","type":"function","z":"84340f1a.ac231","name":"driver - driverf","func":"global.set(\"driver\",0)\nglobal.set(\"driver_min\",0)\nglobal.set(\"driver_max\",0)\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":2540,"wires":[[]]},{"id":"6c4a35d5.2525cc","type":"rpi-gpio out","z":"84340f1a.ac231","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":450,"y":2420,"wires":[]},{"id":"a3a54be7.92cdf8","type":"rpi-gpio out","z":"84340f1a.ac231","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":450,"y":2520,"wires":[]},{"id":"cdaeca04.b5f908","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":2480,"wires":[["6c4a35d5.2525cc","d6a36593.dacbe8"]]},{"id":"22887099.e5042","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":2580,"wires":[["a3a54be7.92cdf8","f75b0fba.55b8b"]]},{"id":"7fa19721.8f12a8","type":"function","z":"84340f1a.ac231","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":610,"y":380,"wires":[["e3a52b7d.361f68"]]},{"id":"e3a52b7d.361f68","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":380,"wires":[["fcdef6c1.b72a48"]]},{"id":"fcdef6c1.b72a48","type":"function","z":"84340f1a.ac231","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":880,"y":380,"wires":[["a8f57905.6fa528"]]},{"id":"d6a36593.dacbe8","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":430,"y":2480,"wires":[["8bdedf54.c16c9"]]},{"id":"f75b0fba.55b8b","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":430,"y":2580,"wires":[["2168fabc.b8bf66"]]},{"id":"8bdedf54.c16c9","type":"ui_text","z":"84340f1a.ac231","group":"b6529ee9.cd9fb","order":1,"width":"7","height":"1","name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":2480,"wires":[]},{"id":"2168fabc.b8bf66","type":"ui_text","z":"84340f1a.ac231","group":"b6529ee9.cd9fb","order":2,"width":"7","height":"1","name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":2580,"wires":[]},{"id":"5113160.49728ec","type":"ui_gauge","z":"84340f1a.ac231","name":"","group":"3e30f38e.f6440c","order":1,"width":"7","height":"7","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":3420,"wires":[]},{"id":"11a2dc6c.a46884","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":3420,"wires":[["5113160.49728ec"]]},{"id":"6250e2ee.63ba1c","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2740,"wires":[["93b02f6.88d01d"]]},{"id":"93b02f6.88d01d","type":"function","z":"84340f1a.ac231","name":"set \"0\" (T1 - T3 - P1 - P2 - P2S - PS )","func":"\n\nglobal.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":2740,"wires":[[]]},{"id":"66a01e1c.30f74","type":"switch","z":"84340f1a.ac231","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"55","v2t":"num"},{"t":"btwn","v":"55.1","vt":"num","v2":"60","v2t":"num"},{"t":"btwn","v":"60.1","vt":"num","v2":"65","v2t":"num"},{"t":"btwn","v":"65.1","vt":"num","v2":"70","v2t":"num"},{"t":"btwn","v":"70.1","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"75.1","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"80.1","vt":"num","v2":"85","v2t":"num"},{"t":"btwn","v":"85.1","vt":"num","v2":"90","v2t":"num"},{"t":"btwn","v":"90.1","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":1110,"y":1140,"wires":[["30b0829d.d17e3e"],["f6ccc6ad.e19d38"],["4737a852.11cf28"],["996f3f72.57c48"],["28ddcfed.e191b"],["fef91cc5.6afb"],["88fd6c73.168b"],["1f9d590.09eb3a7"],["9db47d5a.5cb15"]]},{"id":"4737a852.11cf28","type":"function","z":"84340f1a.ac231","name":"set \"16\" bar","func":"global.set(\"P2S\",16);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1060,"wires":[[]]},{"id":"996f3f72.57c48","type":"function","z":"84340f1a.ac231","name":"set \"18\" bar","func":"global.set(\"P2S\",18);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1100,"wires":[[]]},{"id":"28ddcfed.e191b","type":"function","z":"84340f1a.ac231","name":"set \"20\" bar","func":"global.set(\"P2S\",20);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1140,"wires":[[]]},{"id":"88fd6c73.168b","type":"function","z":"84340f1a.ac231","name":"set \"24\" bar","func":"global.set(\"P2S\",24);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1220,"wires":[[]]},{"id":"f6ccc6ad.e19d38","type":"function","z":"84340f1a.ac231","name":"set \"14\" bar","func":"global.set(\"P2S\",14);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1020,"wires":[[]]},{"id":"30b0829d.d17e3e","type":"function","z":"84340f1a.ac231","name":"set \"12\" bar","func":"global.set(\"P2S\",12);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":980,"wires":[[]]},{"id":"1f9d590.09eb3a7","type":"function","z":"84340f1a.ac231","name":"set \"26\" bar","func":"global.set(\"P2S\",26);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1260,"wires":[[]]},{"id":"9db47d5a.5cb15","type":"function","z":"84340f1a.ac231","name":"set \"28\" bar","func":"global.set(\"P2S\",28);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1300,"wires":[[]]},{"id":"fef91cc5.6afb","type":"function","z":"84340f1a.ac231","name":"set \"22\" bar","func":"global.set(\"P2S\",22);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1180,"wires":[[]]},{"id":"63f5ba02.0dde44","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1420,"wires":[["11d121b7.266d7e"]]},{"id":"2d06cce6.c05134","type":"function","z":"84340f1a.ac231","name":"driver up down","func":"var p2s = global.get(\"P2S\");\nvar ps   = global.get(\"PS\");\n\nif (p2s > ps) {\n    msg.payload = true;\n    return msg;\n\n    \n}\nelse if (p2s < ps) {\n    msg.payload = false;\n    return msg;\n}\nelse if (p2s == ps) {\n    global.set(\"driverf\",false)\n    global.set(\"sensor\",false)\n    global.set(\"temp1\",true)\n}\n\n\n","outputs":1,"noerr":0,"x":520,"y":2000,"wires":[["b21d9a9a.e68278","71a7f26a.a9166c"]]},{"id":"57d31579.ce35cc","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"82","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1500,"wires":[["11d121b7.266d7e"]]},{"id":"1fe396cb.4d00b9","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1540,"wires":[["11d121b7.266d7e"]]},{"id":"43850818.27da68","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"driverf","payloadType":"global","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":2000,"wires":[["d3618870.da44f8"]]},{"id":"bc8a73c2.1cfc","type":"function","z":"84340f1a.ac231","name":"msg.payload = T3","func":"global.set(\"diode\",true)\nvar data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1140,"wires":[["66a01e1c.30f74"]]},{"id":"7c223906.de58b8","type":"switch","z":"84340f1a.ac231","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":1140,"wires":[["bc8a73c2.1cfc"]]},{"id":"a6d3b0cd.5060d","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"temp1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":1140,"wires":[["7c223906.de58b8"]]},{"id":"7aa61341.35499c","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2580,"wires":[["f313085e.da78d8"]]},{"id":"f313085e.da78d8","type":"function","z":"84340f1a.ac231","name":"start","func":"global.set(\"start\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":2580,"wires":[[]]},{"id":"e7b972dc.30a0d","type":"switch","z":"84340f1a.ac231","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":100,"wires":[["25f2c800.aeeca8"]]},{"id":"e770cde7.ce094","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2620,"wires":[["aee26f5c.a8be"]]},{"id":"aee26f5c.a8be","type":"function","z":"84340f1a.ac231","name":"temp1 - temp2 - temp3 - temp4","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":2620,"wires":[[]]},{"id":"2a5130c8.5d1c","type":"function","z":"84340f1a.ac231","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1480,"wires":[["27d16f47.9d13a"]]},{"id":"27d16f47.9d13a","type":"switch","z":"84340f1a.ac231","name":"T3 > 95","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"95","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":1480,"wires":[["b6a7fee2.cd98"]]},{"id":"46872296.c8708c","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":1480,"wires":[["9a1bf587.2746a8"]]},{"id":"1ffc4afe.3472d5","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"77","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1460,"wires":[["11d121b7.266d7e"]]},{"id":"9a1bf587.2746a8","type":"switch","z":"84340f1a.ac231","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":1480,"wires":[["2a5130c8.5d1c"]]},{"id":"b73a6e66.03ed2","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2660,"wires":[["e4457592.e5ac18"]]},{"id":"e4457592.e5ac18","type":"function","z":"84340f1a.ac231","name":"pres1 - pres2 - pres3","func":"global.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":2660,"wires":[[]]},{"id":"8e0e6bbb.54a528","type":"function","z":"84340f1a.ac231","name":"msg.payload = P1","func":"var data    =   global.get(\"P1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1560,"wires":[["ad6b6668.e37a38"]]},{"id":"2838cd2.8ecc632","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"pres1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":1560,"wires":[["6d3e65c3.fa4b6c"]]},{"id":"6d3e65c3.fa4b6c","type":"switch","z":"84340f1a.ac231","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":1560,"wires":[["8e0e6bbb.54a528"]]},{"id":"3a0204ac.45b2ec","type":"function","z":"84340f1a.ac231","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1600,"wires":[["edd14ade.8fc508"]]},{"id":"3f4baad1.b074a6","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"pres2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":1600,"wires":[["f8ae17fb.d6c838"]]},{"id":"f8ae17fb.d6c838","type":"switch","z":"84340f1a.ac231","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":1600,"wires":[["3a0204ac.45b2ec"]]},{"id":"b6a7fee2.cd98","type":"function","z":"84340f1a.ac231","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"R2\",true);\nglobal.set(\"driverf\",false)\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nglobal.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nglobal.set(\"sensor\",false)\nglobal.set(\"AS\",false)\nglobal.set(\"check\",false)\nglobal.set(\"check1\",false)\nglobal.set(\"check2\",false)\nglobal.set(\"check3\",false)\nglobal.set(\"diode\",false)\nglobal.set(\"trigger\",false)\nmsg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":1540,"wires":[["759fbdf4.02f274","72f0740c.06374c","6fb95ea7.7186b"]]},{"id":"2f84a6c3.eb4d3a","type":"function","z":"84340f1a.ac231","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"check3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":1540,"wires":[[]]},{"id":"ad6b6668.e37a38","type":"switch","z":"84340f1a.ac231","name":"P1 > 13","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"13","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":1560,"wires":[["b6a7fee2.cd98"]]},{"id":"edd14ade.8fc508","type":"switch","z":"84340f1a.ac231","name":"P2 > 28","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":1600,"wires":[["b6a7fee2.cd98"]]},{"id":"6bff2857.1e49d8","type":"switch","z":"84340f1a.ac231","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"10.1","vt":"num","v2":"12","v2t":"num"},{"t":"btwn","v":"12.1","vt":"num","v2":"14","v2t":"num"},{"t":"btwn","v":"14.1","vt":"num","v2":"16","v2t":"num"},{"t":"btwn","v":"16.1","vt":"num","v2":"18","v2t":"num"},{"t":"btwn","v":"18.1","vt":"num","v2":"20","v2t":"num"},{"t":"btwn","v":"20.1","vt":"num","v2":"22","v2t":"num"},{"t":"btwn","v":"22.1","vt":"num","v2":"24","v2t":"num"},{"t":"btwn","v":"24.1","vt":"num","v2":"26","v2t":"num"},{"t":"btwn","v":"26.1","vt":"num","v2":"28","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":730,"y":2280,"wires":[["cd84b705.e704b8"],["575b9ac2.83f524"],["c78310ba.f15cf"],["64bc31e9.652b6"],["ae41c01b.4f1fd"],["f529c67f.b37be8"],["40b14a38.721264"],["56dde9c7.33a0b8"],["fcabffd5.9202"]]},{"id":"b56c4a66.cf6b78","type":"function","z":"84340f1a.ac231","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":2280,"wires":[["6bff2857.1e49d8"]]},{"id":"fa329e49.48f39","type":"debug","z":"84340f1a.ac231","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1690,"y":2080,"wires":[]},{"id":"cd84b705.e704b8","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"PS\",12);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":2120,"wires":[[]]},{"id":"575b9ac2.83f524","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"PS\",14);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":2160,"wires":[[]]},{"id":"c78310ba.f15cf","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"PS\",16);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":2200,"wires":[[]]},{"id":"64bc31e9.652b6","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"PS\",18);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":2240,"wires":[[]]},{"id":"ae41c01b.4f1fd","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"PS\",20);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":2280,"wires":[[]]},{"id":"f529c67f.b37be8","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"PS\",22);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":2320,"wires":[[]]},{"id":"40b14a38.721264","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"PS\",24);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":2360,"wires":[[]]},{"id":"56dde9c7.33a0b8","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"PS\",26);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":2400,"wires":[[]]},{"id":"fcabffd5.9202","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"PS\",28);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":2440,"wires":[[]]},{"id":"179cd17c.bd87ff","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"sensor","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":2280,"wires":[["c01abf9e.e036b"]]},{"id":"d3618870.da44f8","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":2000,"wires":[["2d06cce6.c05134"]]},{"id":"52f25b2c.cbce74","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2700,"wires":[["5db8cbb8.f8f7a4"]]},{"id":"5db8cbb8.f8f7a4","type":"function","z":"84340f1a.ac231","name":"sensor","func":"global.set(\"sensor\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":2700,"wires":[[]]},{"id":"c01abf9e.e036b","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":2280,"wires":[["b56c4a66.cf6b78"]]},{"id":"bab5ac4e.74776","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1260,"wires":[["11d121b7.266d7e"]]},{"id":"c4b8cf7c.6b0ad","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"92","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1580,"wires":[["11d121b7.266d7e"]]},{"id":"953873d6.d5273","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1620,"wires":[["11d121b7.266d7e"]]},{"id":"a04a07e3.f4dd48","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1220,"wires":[["11d121b7.266d7e"]]},{"id":"bdec3b11.7ebf28","type":"function","z":"84340f1a.ac231","name":"Up Down \"driver\"","func":"var min = global.get(\"driver_min\")\nvar max = global.get(\"driver_max\")\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <max){\n    global.set('driver', Value + 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n} \n\nif(msg.payload === false && Value >min) {\n    global.set('driver', Value - 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":870,"y":2000,"wires":[["f6b715bd.b72088"]]},{"id":"7e39f0c7.c14ba","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"check","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":2040,"wires":[["332db08d.0bb4d"]]},{"id":"b0b0b92.b238548","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1150,"y":2040,"wires":[["d4fe9ad9.8a6fd8"]]},{"id":"332db08d.0bb4d","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":2040,"wires":[["b0b0b92.b238548"]]},{"id":"8b7cc167.295","type":"function","z":"84340f1a.ac231","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":1450,"y":2100,"wires":[[]]},{"id":"d4fe9ad9.8a6fd8","type":"range","z":"84340f1a.ac231","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1280,"y":2040,"wires":[["8b7cc167.295","3f0966b8.78b2fa"]]},{"id":"4bd24b7.79e4cb4","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2820,"wires":[["a264c6e4.abbc88"]]},{"id":"a264c6e4.abbc88","type":"function","z":"84340f1a.ac231","name":"modbus 1-2-3-4   \"0\"","func":"global.set(\"modbus1\",0)\nglobal.set(\"modbus2\",0)\nglobal.set(\"modbus3\",0)\nglobal.set(\"modbus4\",0)\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":2820,"wires":[[]]},{"id":"a69f2c00.e69af","type":"function","z":"84340f1a.ac231","name":"msg.payload.value","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nif (data == modbus ) {\n    global.set(\"check\",false)\n    global.set(\"driverf\",true)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1690,"y":2000,"wires":[[]]},{"id":"5001acaa.a48684","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2860,"wires":[["24babea.a854842"]]},{"id":"24babea.a854842","type":"function","z":"84340f1a.ac231","name":"Global set \"false\"  checks","func":"global.set(\"check\",false);\nglobal.set(\"check1\",false);\nglobal.set(\"check2\",false);\nglobal.set(\"check3\",false);\n","outputs":1,"noerr":0,"x":1490,"y":2860,"wires":[[]]},{"id":"6426166d.7449f8","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"check1","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["b288edb.7ed851"]]},{"id":"b288edb.7ed851","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":240,"wires":[["9e6a0bc.f314af8"]]},{"id":"5e224a62.fba854","type":"range","z":"84340f1a.ac231","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":600,"y":200,"wires":[["9f184445.b56508","aab4da76.337ae8"]]},{"id":"9f184445.b56508","type":"function","z":"84340f1a.ac231","name":"Set modbus2","func":"global.set(\"modbus2\", msg.payload)\n","outputs":1,"noerr":0,"x":770,"y":260,"wires":[[]]},{"id":"de876d47.e88e5","type":"function","z":"84340f1a.ac231","name":"msg.payload.value","func":"global.set(\"value1\",msg.payload.value);\nvar data = msg.payload.value;\nvar modbus = global.get(\"modbus2\");\nif (data == modbus ) {\n    global.set(\"check1\",false);\n    global.set(\"trigger\",true);\n    msg.payload = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":990,"y":200,"wires":[["6e4a2eca.c2458","b9181eb.26720e"]]},{"id":"191e2eb1.e93061","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2780,"wires":[["67d68741.377868"]]},{"id":"67d68741.377868","type":"function","z":"84340f1a.ac231","name":"\"AS\"","func":"global.set(\"AS\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":2780,"wires":[[]]},{"id":"d330a55c.1d36f8","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"check3","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":1800,"wires":[["95c2f7c.6b52108"]]},{"id":"95c2f7c.6b52108","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":1800,"wires":[["4b9e8324.9929dc"]]},{"id":"4b9e8324.9929dc","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1230,"y":1800,"wires":[["b19a494.ab39cb8"]]},{"id":"b19a494.ab39cb8","type":"range","z":"84340f1a.ac231","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1360,"y":1800,"wires":[["143742aa.4c536d","208745e5.1ccbca"]]},{"id":"143742aa.4c536d","type":"function","z":"84340f1a.ac231","name":"Set modbus4","func":"global.set(\"modbus4\", msg.payload)\n","outputs":1,"noerr":0,"x":1530,"y":1860,"wires":[[]]},{"id":"846cc736.fff068","type":"function","z":"84340f1a.ac231","name":"msg.payload.value","func":"global.set(\"value3\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus4\")\nif (data == modbus ) {\n    global.set(\"check3\",false)\n    global.set(\"start\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1750,"y":1760,"wires":[[]]},{"id":"aab4da76.337ae8","type":"modbus-write","z":"84340f1a.ac231","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7de540ad.a5876","x":780,"y":200,"wires":[["8942694f.ab8428","de876d47.e88e5"],[]]},{"id":"8942694f.ab8428","type":"debug","z":"84340f1a.ac231","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":260,"wires":[]},{"id":"ed90e39c.def21","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":320,"wires":[["aab4da76.337ae8"]]},{"id":"3f0966b8.78b2fa","type":"modbus-write","z":"84340f1a.ac231","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7de540ad.a5876","x":1460,"y":2040,"wires":[["a69f2c00.e69af","fa329e49.48f39"],[]]},{"id":"208745e5.1ccbca","type":"modbus-write","z":"84340f1a.ac231","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7de540ad.a5876","x":1540,"y":1800,"wires":[["846cc736.fff068","be09e7b7.a3fe68"],[]]},{"id":"453f94b6.1e30bc","type":"comment","z":"84340f1a.ac231","name":"Marş - 1","info":"","x":740,"y":320,"wires":[]},{"id":"be09e7b7.a3fe68","type":"debug","z":"84340f1a.ac231","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1750,"y":1840,"wires":[]},{"id":"ae763e4.97f33c","type":"function","z":"84340f1a.ac231","name":"P2 > 14.9","func":"var data = global.get(\"P2\");\nif (data >= 15) {\n    global.set(\"trigger\",false);\n    msg.payload = true;\n    return msg;\n}\nelse if (data < 15) {\n    msg.payload = false;\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":480,"y":380,"wires":[["7fa19721.8f12a8"]]},{"id":"78ed367.b88bac8","type":"function","z":"84340f1a.ac231","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1640,"wires":[["d976230d.a80a2"]]},{"id":"211d4059.c8cf9","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"pres3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":1640,"wires":[["7eab8cb0.f16e04"]]},{"id":"7eab8cb0.f16e04","type":"switch","z":"84340f1a.ac231","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":1640,"wires":[["78ed367.b88bac8"]]},{"id":"d976230d.a80a2","type":"switch","z":"84340f1a.ac231","name":"P2 <= 10","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":1640,"wires":[["b6a7fee2.cd98"]]},{"id":"78e66dbe.fe3d44","type":"debug","z":"84340f1a.ac231","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":1860,"wires":[]},{"id":"de51b59.dc25548","type":"function","z":"84340f1a.ac231","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":3080,"wires":[["1e0da434.f2b17c"]]},{"id":"9e0e2fa.bd7c4d","type":"link in","z":"84340f1a.ac231","name":"","links":["1e0da434.f2b17c","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1355,"y":1460,"wires":[["759fbdf4.02f274","673c0c6a.f10f24"]]},{"id":"1e0da434.f2b17c","type":"link out","z":"84340f1a.ac231","name":"","links":["9e0e2fa.bd7c4d","e368ad69.bc02d","8c62ae3a.4d3ff","b37521ca.c6844","e9e9ed97.b4ed5","8b7769b7.4a22f8","f9c3a430.98fac8","a5ab1f3b.aceba","37e00632.e7369a","5a034901.2b8fc8","6e179221.0ac75c","521b6563.1f564c","bd3e2cee.b0173","5ed9d17.f74ee3","2683aaa8.1e3d66"],"x":775,"y":3080,"wires":[]},{"id":"d089478e.f78c18","type":"rpi-gpio out","z":"84340f1a.ac231","name":"R4","pin":"15","set":"","level":"0","freq":"","out":"out","x":450,"y":2720,"wires":[]},{"id":"d4e6ca34.efb728","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"R4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":2780,"wires":[["d089478e.f78c18","40257c89.55c0e4"]]},{"id":"40257c89.55c0e4","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":430,"y":2780,"wires":[["6a5c5dfd.d4e604"]]},{"id":"6a5c5dfd.d4e604","type":"ui_text","z":"84340f1a.ac231","group":"b6529ee9.cd9fb","order":4,"width":"7","height":"1","name":"","label":"R4","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":2780,"wires":[]},{"id":"a8f57905.6fa528","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":380,"wires":[["c76fe188.6448d"]]},{"id":"75bf676e.b68668","type":"function","z":"84340f1a.ac231","name":"R4-ON","func":"var t3 = global.get(\"T3\")\nvar p2 = global.get(\"P2\")\n\nif (t3 > 50 && p2 > 8 ) {\n    global.set(\"R4\",false)\n    global.set(\"diode\",false)\n}\n","outputs":1,"noerr":0,"x":1010,"y":1740,"wires":[[]]},{"id":"71614758.e50dc8","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2900,"wires":[["44794e82.0a603"]]},{"id":"44794e82.0a603","type":"function","z":"84340f1a.ac231","name":"values","func":"global.set(\"value\", undefined)\nglobal.set(\"value1\", undefined)\nglobal.set(\"value2\", undefined)\nglobal.set(\"value3\", undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":2900,"wires":[[]]},{"id":"5947f0d9.667f4","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Sistem Hazır\" ;\n    return msg;\n}\nelse if (data === false){\n    msg.payload = \"Sistem Hazırlanıyor\" ;\n    return msg;\n}\nelse {\n    msg.payload = \" \" ;\n    return msg;\n}","outputs":1,"noerr":0,"x":890,"y":3300,"wires":[["62ae4280.2a43cc","cbbef5ad.34cbf8"]]},{"id":"cbbef5ad.34cbf8","type":"ui_text","z":"84340f1a.ac231","group":"b6529ee9.cd9fb","order":5,"width":"7","height":"1","name":"","label":"Sistem Durumu","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":3240,"wires":[]},{"id":"dbabfa92.c9c158","type":"ui_toast","z":"84340f1a.ac231","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1170,"y":3320,"wires":[[]]},{"id":"ab1fcb76.6a7918","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":3000,"wires":[["abc43462.3d77a8"]]},{"id":"edd06f3a.dafce","type":"function","z":"84340f1a.ac231","name":"","func":"var T1 = msg.payload[0] /10\nvar T2 = msg.payload[1] /10\nvar T3 = msg.payload[2] /10\nvar T4 = msg.payload[3] /10\nvar T5 = msg.payload[4] /10\nvar T6 = msg.payload[5] /10\n\nif (T1 != 850) {\n    global.set(\"T1\",T1)\n}\nif (T2 != 850) {\n    global.set(\"T2\",T2)\n    \n}\nif (T3 != 850) {\n    global.set(\"T3\",T3)\n    \n}\nif (T4 != 850) {\n    global.set(\"T4\",T4)\n    \n}\nif (T5 != 850) {\n    global.set(\"T5\",T5)\n    \n}\nif (T6 != 850) {\n    global.set(\"T6\",T6)\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":4020,"wires":[[]]},{"id":"5dbfa437.82869c","type":"modbus-read","z":"84340f1a.ac231","name":"Pres","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7de540ad.a5876","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":350,"y":4320,"wires":[["3080a902.adf3a6","5f6ea0aa.d335c","6aeadc1e.4c1d34"],[]]},{"id":"3080a902.adf3a6","type":"function","z":"84340f1a.ac231","name":"","func":"var P1 = msg.payload[0] /100\n\nmsg.payload = P1\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":4300,"wires":[["3af75eb0.55d2b2"]]},{"id":"3af75eb0.55d2b2","type":"range","z":"84340f1a.ac231","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload","name":"","x":610,"y":4300,"wires":[["cb996027.4bcf1"]]},{"id":"5f6ea0aa.d335c","type":"function","z":"84340f1a.ac231","name":"","func":"var P2 = msg.payload[1] /100\n\nmsg.payload = P2\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":4340,"wires":[["4e95d856.c99338"]]},{"id":"4e95d856.c99338","type":"range","z":"84340f1a.ac231","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"","x":610,"y":4340,"wires":[["c0cb0ca9.ffe3f"]]},{"id":"87a0c92d.2fd1a8","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":4300,"wires":[[]]},{"id":"5fb2712d.ae576","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":4340,"wires":[[]]},{"id":"cb996027.4bcf1","type":"function","z":"84340f1a.ac231","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":4300,"wires":[["87a0c92d.2fd1a8"]]},{"id":"c0cb0ca9.ffe3f","type":"function","z":"84340f1a.ac231","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":4340,"wires":[["5fb2712d.ae576"]]},{"id":"6e4a2eca.c2458","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":120,"wires":[["e9f12e8e.f6c63","2cac5641.cec27a","559d595e.3b5f38"]]},{"id":"e9f12e8e.f6c63","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\nif (data === true) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    global.set(\"trigger\",false)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1470,"y":120,"wires":[["ea8b12da.7617e"]]},{"id":"ea8b12da.7617e","type":"debug","z":"84340f1a.ac231","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1690,"y":100,"wires":[]},{"id":"c76fe188.6448d","type":"function","z":"84340f1a.ac231","name":"P2 > 15.9","func":"var p2      =   global.get(\"P2\")\nif ( p2 >= 16) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 16) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false;\n    return msg;\n\n}","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["324040a6.843b2","adf4e992.60fa18"]]},{"id":"50ef70fa.c63b6","type":"ui_button","z":"84340f1a.ac231","name":"","group":"46c6805d.89026","order":2,"width":"4","height":"3","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":230,"y":3160,"wires":[["99b6e76e.98ae68","c646a844.cda018","a68b6d86.f65ad"]]},{"id":"9e265413.aef708","type":"ui_button","z":"84340f1a.ac231","name":"","group":"46c6805d.89026","order":1,"width":"4","height":"3","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":230,"y":2940,"wires":[["99b6e76e.98ae68"]]},{"id":"fbe3786a.589408","type":"ui_toast","z":"84340f1a.ac231","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":770,"y":3160,"wires":[[]]},{"id":"a68b6d86.f65ad","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = \"Kapatma Başarılı\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3160,"wires":[["6f783357.4b850c"]]},{"id":"62ae4280.2a43cc","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":3320,"wires":[["dbabfa92.c9c158"]]},{"id":"6f783357.4b850c","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":630,"y":3160,"wires":[["fbe3786a.589408"]]},{"id":"3b87806d.6867e","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":2940,"wires":[["194eb29c.4908ed"]]},{"id":"194eb29c.4908ed","type":"function","z":"84340f1a.ac231","name":"diode","func":"global.set(\"diode\", false)\nglobal.set(\"trigger\",false)\nglobal.set(\"stop\",false)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":2940,"wires":[[]]},{"id":"53160ce4.6b48d4","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"diode","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":1740,"wires":[["7db9ce70.44f08"]]},{"id":"7db9ce70.44f08","type":"switch","z":"84340f1a.ac231","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":1740,"wires":[["75bf676e.b68668"]]},{"id":"99b6e76e.98ae68","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"start\",msg.payload);\nvar data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Start Verildi\"\n    return msg;\n}","outputs":1,"noerr":0,"x":410,"y":2940,"wires":[["72564ec8.3676"]]},{"id":"c646a844.cda018","type":"function","z":"84340f1a.ac231","name":"","func":"var data    =   msg.payload;\nif (data === false) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":3000,"wires":[["ab1fcb76.6a7918","4f0ca400.862efc","de51b59.dc25548","3c746f92.dfbaf","aee26f5c.a8be","e4457592.e5ac18","5db8cbb8.f8f7a4","93b02f6.88d01d","67d68741.377868","a264c6e4.abbc88","24babea.a854842","44794e82.0a603","194eb29c.4908ed"]]},{"id":"e368ad69.bc02d","type":"link in","z":"84340f1a.ac231","name":"","links":["1e0da434.f2b17c","9555da57.8c2c38","3e7a19f3.f95c06"],"x":715,"y":140,"wires":[["d5643164.7368e"]]},{"id":"b37521ca.c6844","type":"link in","z":"84340f1a.ac231","name":"","links":["1e0da434.f2b17c","9555da57.8c2c38","3e7a19f3.f95c06"],"x":915,"y":420,"wires":[["a8f57905.6fa528"]]},{"id":"8b7769b7.4a22f8","type":"link in","z":"84340f1a.ac231","name":"","links":["1e0da434.f2b17c","9555da57.8c2c38","3e7a19f3.f95c06"],"x":635,"y":420,"wires":[["e3a52b7d.361f68"]]},{"id":"a5ab1f3b.aceba","type":"link in","z":"84340f1a.ac231","name":"","links":["1e0da434.f2b17c","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1235,"y":80,"wires":[["6e4a2eca.c2458"]]},{"id":"4a38b6ca.7f7548","type":"link in","z":"84340f1a.ac231","name":"","links":["7ff3c7b3.4029a8","57316dd4.45bf84"],"x":1315,"y":2080,"wires":[["3f0966b8.78b2fa"]]},{"id":"9b3c9ee9.c344e","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"trigger","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":380,"wires":[["137ce585.ddcd1a"]]},{"id":"137ce585.ddcd1a","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":380,"wires":[["ae763e4.97f33c"]]},{"id":"b9449462.5011b8","type":"function","z":"84340f1a.ac231","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":880,"y":540,"wires":[["2afb18c2.5d4e28"]]},{"id":"4d8cd5e.bcfa42c","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":540,"wires":[["b9449462.5011b8"]]},{"id":"de9920c6.2bb54","type":"function","z":"84340f1a.ac231","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":590,"y":540,"wires":[["4d8cd5e.bcfa42c"]]},{"id":"5a034901.2b8fc8","type":"link in","z":"84340f1a.ac231","name":"","links":["1e0da434.f2b17c","9555da57.8c2c38","3e7a19f3.f95c06"],"x":635,"y":580,"wires":[["4d8cd5e.bcfa42c"]]},{"id":"24288b42.411924","type":"comment","z":"84340f1a.ac231","name":"Marş - 2","info":"","x":740,"y":480,"wires":[]},{"id":"6e179221.0ac75c","type":"link in","z":"84340f1a.ac231","name":"","links":["1e0da434.f2b17c","9555da57.8c2c38","3e7a19f3.f95c06"],"x":935,"y":580,"wires":[["2afb18c2.5d4e28"]]},{"id":"2afb18c2.5d4e28","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":540,"wires":[["c9cba71a.845358"]]},{"id":"c9cba71a.845358","type":"function","z":"84340f1a.ac231","name":"P2 > 16.9","func":"var p2      =   global.get(\"P2\")\nif ( p2 >= 17) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 17) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false ;\n    return msg;\n \n}","outputs":1,"noerr":0,"x":360,"y":800,"wires":[["d7dfdc90.fe95","adf4e992.60fa18"]]},{"id":"1e00dc6.9fa7524","type":"function","z":"84340f1a.ac231","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":880,"y":800,"wires":[["3a71303f.7e9fb"]]},{"id":"26c571de.b6b8ae","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":800,"wires":[["1e00dc6.9fa7524"]]},{"id":"c5e6ddc5.c17da","type":"function","z":"84340f1a.ac231","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":610,"y":800,"wires":[["26c571de.b6b8ae"]]},{"id":"521b6563.1f564c","type":"link in","z":"84340f1a.ac231","name":"","links":["1e0da434.f2b17c","9555da57.8c2c38","3e7a19f3.f95c06"],"x":635,"y":840,"wires":[["26c571de.b6b8ae"]]},{"id":"98138620.44d718","type":"comment","z":"84340f1a.ac231","name":"Marş - 3","info":"","x":740,"y":740,"wires":[]},{"id":"bd3e2cee.b0173","type":"link in","z":"84340f1a.ac231","name":"","links":["1e0da434.f2b17c","9555da57.8c2c38","3e7a19f3.f95c06"],"x":935,"y":840,"wires":[["3a71303f.7e9fb"]]},{"id":"3a71303f.7e9fb","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":800,"wires":[["672f85c1.5a85ec"]]},{"id":"672f85c1.5a85ec","type":"function","z":"84340f1a.ac231","name":"P2 > 17.9","func":"var p2      =   global.get(\"P2\")\nif ( p2 >= 18) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 18) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1200,"y":840,"wires":[["adf4e992.60fa18","2c108470.172d5c","bdef68e6.8fa198"]]},{"id":"dd2f6b01.06b128","type":"link out","z":"84340f1a.ac231","name":"","links":["6f0589aa.9b6f28"],"x":1455,"y":840,"wires":[]},{"id":"6f0589aa.9b6f28","type":"link in","z":"84340f1a.ac231","name":"","links":["dd2f6b01.06b128"],"x":1255,"y":1380,"wires":[["b6a7fee2.cd98"]]},{"id":"7e87a999.db9cc8","type":"comment","z":"84340f1a.ac231","name":"Acil Stop","info":"","x":1220,"y":780,"wires":[]},{"id":"72564ec8.3676","type":"ui_toast","z":"84340f1a.ac231","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":550,"y":2940,"wires":[[]]},{"id":"2cac5641.cec27a","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.reset = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1450,"y":180,"wires":[["4e3d1022.40129"]]},{"id":"4e3d1022.40129","type":"link out","z":"84340f1a.ac231","name":"","links":["e8d68b14.a721c8","8fdf9c52.d8c8b","e18d470d.273a88","1502a0f7.8b96cf","a99c08ba.7d8df8","cd6fa4e4.1535e8"],"x":1580,"y":180,"wires":[]},{"id":"e8d68b14.a721c8","type":"link in","z":"84340f1a.ac231","name":"","links":["4e3d1022.40129"],"x":635,"y":340,"wires":[["e3a52b7d.361f68"]]},{"id":"8fdf9c52.d8c8b","type":"link in","z":"84340f1a.ac231","name":"","links":["4e3d1022.40129"],"x":915,"y":340,"wires":[["a8f57905.6fa528"]]},{"id":"e18d470d.273a88","type":"link in","z":"84340f1a.ac231","name":"","links":["4e3d1022.40129"],"x":635,"y":500,"wires":[["4d8cd5e.bcfa42c"]]},{"id":"1502a0f7.8b96cf","type":"link in","z":"84340f1a.ac231","name":"","links":["4e3d1022.40129"],"x":935,"y":500,"wires":[["2afb18c2.5d4e28"]]},{"id":"a99c08ba.7d8df8","type":"link in","z":"84340f1a.ac231","name":"","links":["4e3d1022.40129"],"x":635,"y":760,"wires":[["26c571de.b6b8ae"]]},{"id":"cd6fa4e4.1535e8","type":"link in","z":"84340f1a.ac231","name":"","links":["4e3d1022.40129"],"x":915,"y":760,"wires":[["3a71303f.7e9fb"]]},{"id":"adf4e992.60fa18","type":"switch","z":"84340f1a.ac231","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":620,"wires":[["1066b357.82df2d"]]},{"id":"324040a6.843b2","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":540,"wires":[["de9920c6.2bb54"]]},{"id":"d7dfdc90.fe95","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":800,"wires":[["c5e6ddc5.c17da"]]},{"id":"46bb2147.02e3f","type":"function","z":"84340f1a.ac231","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":620,"wires":[["6e94ba00.718458"]]},{"id":"6e94ba00.718458","type":"link out","z":"84340f1a.ac231","name":"","links":["d5bbf5fb.533698"],"x":815,"y":620,"wires":[]},{"id":"d5bbf5fb.533698","type":"link in","z":"84340f1a.ac231","name":"","links":["6e94ba00.718458"],"x":1135,"y":80,"wires":[["6e4a2eca.c2458","63ff0242.5cabcc"]]},{"id":"1066b357.82df2d","type":"function","z":"84340f1a.ac231","name":"","func":"var data    =   msg.payload;\nif (data === false) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":610,"y":620,"wires":[["46bb2147.02e3f"]]},{"id":"ea04f85f.c9b338","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"temp3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":1520,"wires":[["5d831750.64bf78"]]},{"id":"5d831750.64bf78","type":"switch","z":"84340f1a.ac231","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":1520,"wires":[["92881a4a.8cd4f8"]]},{"id":"92881a4a.8cd4f8","type":"function","z":"84340f1a.ac231","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1520,"wires":[["41508f1d.767ae"]]},{"id":"41508f1d.767ae","type":"switch","z":"84340f1a.ac231","name":"T3 < 50","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":1520,"wires":[["b6a7fee2.cd98"]]},{"id":"bc5a0cdf.4986d","type":"function","z":"84340f1a.ac231","name":"P1","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[[]]},{"id":"59a97349.ed72cc","type":"function","z":"84340f1a.ac231","name":"P2","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1020,"wires":[[]]},{"id":"72fec32e.a89ddc","type":"debug","z":"84340f1a.ac231","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":160,"wires":[]},{"id":"cc0189ce.e056a8","type":"function","z":"84340f1a.ac231","name":"","func":"msg.payload = 0\nglobal.set(\"stop\",false)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":3240,"wires":[["57316dd4.45bf84"]]},{"id":"57316dd4.45bf84","type":"link out","z":"84340f1a.ac231","name":"","links":["1ba41dd8.f03492","87b4f24.3febe1","f0e38571.924db8","4a38b6ca.7f7548","838ce784.849f28","2fd23349.6d3b4c"],"x":715,"y":3240,"wires":[]},{"id":"abc43462.3d77a8","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"stop\",true)\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":3000,"wires":[[]]},{"id":"ce76bc65.38c04","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"stop","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":3240,"wires":[["2a0790a0.404d5"]]},{"id":"2a0790a0.404d5","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":3240,"wires":[["cc0189ce.e056a8","61413864.0c1e08"]]},{"id":"7af02f3d.87f3b","type":"function","z":"84340f1a.ac231","name":"","func":"var v   =   global.get(\"value\");\n//var v1  =   global.get(\"value1\");\n//var v2  =   global.get(\"value2\");\n//var v3  =   global.get(\"value3\");\nif (v === 0) {\n    msg.payload = true;\n    return msg;\n}\nelse {\n    global.set(\"stop\",true)\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":770,"y":3300,"wires":[["5947f0d9.667f4","e27c9d72.aa2c1"]]},{"id":"61413864.0c1e08","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":3300,"wires":[["7af02f3d.87f3b"]]},{"id":"2c108470.172d5c","type":"debug","z":"84340f1a.ac231","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":900,"wires":[]},{"id":"a75508f.3f1eef8","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"15.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":900,"wires":[["59a97349.ed72cc"]]},{"id":"80964d4e.667ee","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":860,"wires":[["bc5a0cdf.4986d","59a97349.ed72cc"]]},{"id":"d5b3510.637ffb","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"17.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":980,"wires":[["59a97349.ed72cc"]]},{"id":"e5bd56d0.fb1388","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"16.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":940,"wires":[["59a97349.ed72cc"]]},{"id":"4f45dd9.1fa0324","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"18.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1020,"wires":[["59a97349.ed72cc"]]},{"id":"5fceb97d.afb6e8","type":"function","z":"84340f1a.ac231","name":"","func":"var data    =   msg.payload;\nif (data === true) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":950,"y":3180,"wires":[["4f0ca400.862efc","3c746f92.dfbaf","aee26f5c.a8be","e4457592.e5ac18","5db8cbb8.f8f7a4","93b02f6.88d01d","67d68741.377868","a264c6e4.abbc88","24babea.a854842","44794e82.0a603","194eb29c.4908ed"]]},{"id":"e27c9d72.aa2c1","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":3240,"wires":[["5fceb97d.afb6e8"]]},{"id":"bdef68e6.8fa198","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":840,"wires":[["dd2f6b01.06b128"]]},{"id":"e417da6e.100d48","type":"ui_gauge","z":"84340f1a.ac231","name":"","group":"51211f27.d9839","order":1,"width":"4","height":"3","gtype":"donut","title":"5 dk","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":3460,"wires":[]},{"id":"e96acaf.cdcf138","type":"ui_gauge","z":"84340f1a.ac231","name":"","group":"51211f27.d9839","order":2,"width":"4","height":"3","gtype":"donut","title":"3 dk","label":"units","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":3500,"wires":[]},{"id":"d9ae5666.84fd68","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":620,"wires":[["874a8c72.ee886"]]},{"id":"d70e2400.965c98","type":"switch","z":"84340f1a.ac231","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":660,"wires":[["874a8c72.ee886"]]},{"id":"f455d1f5.f6f41","type":"function","z":"84340f1a.ac231","name":"driver up down","func":"msg.payload = global.get(\"trig\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1380,"y":540,"wires":[["d9ae5666.84fd68","d70e2400.965c98"]]},{"id":"68efd697.ff7608","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"trig","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1210,"y":480,"wires":[["d69fec94.74ab7"]]},{"id":"d69fec94.74ab7","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1350,"y":480,"wires":[["f455d1f5.f6f41"]]},{"id":"874a8c72.ee886","type":"function","z":"84340f1a.ac231","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"timer\");\n\nif(msg.payload === true && Value <300){\n    global.set('timer', Value + 1)\n\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('timer', Value - 1)\n\n}\nValue = global.get(\"timer\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1510,"y":640,"wires":[[]]},{"id":"4fd9de3c.c9524","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1290,"y":420,"wires":[["17ab77bf.58d7d8"]]},{"id":"17ab77bf.58d7d8","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"timer\",0)\nglobal.set(\"trig\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":420,"wires":[[]]},{"id":"f950d342.4b5d2","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"timer","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":3460,"wires":[["e417da6e.100d48"]]},{"id":"5f59f163.e4ebc","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"timer2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":3500,"wires":[["e96acaf.cdcf138"]]},{"id":"74eff7a6.581d28","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1630,"y":1380,"wires":[["f463a946.42ae28"]]},{"id":"e3668991.bdce98","type":"switch","z":"84340f1a.ac231","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1630,"y":1420,"wires":[["f463a946.42ae28"]]},{"id":"ec37caf7.91c6a8","type":"function","z":"84340f1a.ac231","name":"driver up down","func":"msg.payload = global.get(\"trig2\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1660,"y":1320,"wires":[["74eff7a6.581d28","e3668991.bdce98"]]},{"id":"a3d32559.60f028","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"trig2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1490,"y":1260,"wires":[["f4ab2f76.ab22d"]]},{"id":"f4ab2f76.ab22d","type":"switch","z":"84340f1a.ac231","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1630,"y":1260,"wires":[["ec37caf7.91c6a8"]]},{"id":"f463a946.42ae28","type":"function","z":"84340f1a.ac231","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"timer2\");\n\nif(msg.payload === true && Value <180){\n    global.set('timer2', Value + 1)\n\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('timer2', Value - 1)\n\n}\nValue = global.get(\"timer2\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1790,"y":1400,"wires":[[]]},{"id":"6b4246d7.aa3f28","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":300,"wires":[["b9181eb.26720e","6e4a2eca.c2458"]]},{"id":"b0b8265f.825458","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":340,"wires":[["b9181eb.26720e","4e30d92c.477808","f0c4db6a.da7e18"]]},{"id":"4e30d92c.477808","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1310,"y":280,"wires":[["6e4a2eca.c2458"]]},{"id":"b9181eb.26720e","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"trig\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":320,"wires":[[]]},{"id":"f0c4db6a.da7e18","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1310,"y":360,"wires":[["17ab77bf.58d7d8"]]},{"id":"559d595e.3b5f38","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1490,"y":300,"wires":[["17ab77bf.58d7d8"]]},{"id":"34000723.7faf48","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1710,"y":1640,"wires":[[]]},{"id":"2cabe89b.406058","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1150,"y":1700,"wires":[["72f0740c.06374c","759fbdf4.02f274"]]},{"id":"67f5b6ff.54b478","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1150,"y":1740,"wires":[["72f0740c.06374c","10b96ab8.bd6955","31ef02a8.1a6b3e"]]},{"id":"10b96ab8.bd6955","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1530,"y":1660,"wires":[["759fbdf4.02f274"]]},{"id":"72f0740c.06374c","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"trig2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1700,"wires":[[]]},{"id":"31ef02a8.1a6b3e","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1530,"y":1740,"wires":[["4ae8758b.91470c"]]},{"id":"63ff0242.5cabcc","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload\nif (data === true ) {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1250,"y":220,"wires":[["4e30d92c.477808","b9181eb.26720e","f0c4db6a.da7e18"]]},{"id":"673c0c6a.f10f24","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload\nif (data === true ) {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1390,"y":1640,"wires":[["10b96ab8.bd6955","72f0740c.06374c","31ef02a8.1a6b3e"]]},{"id":"e8ba29d9.0990e8","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1710,"y":1700,"wires":[["4ae8758b.91470c"]]},{"id":"4ae8758b.91470c","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"timer2\",0)\nglobal.set(\"trig2\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":1700,"wires":[[]]},{"id":"594a2bf6.d70304","type":"ui_button","z":"84340f1a.ac231","name":"","group":"51769fdc.5116b","order":1,"width":8,"height":4,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":550,"y":2840,"wires":[["267abefe.154c32"]]},{"id":"acc8cd7f.286cb","type":"ui_button","z":"84340f1a.ac231","name":"","group":"51769fdc.5116b","order":2,"width":8,"height":4,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":550,"y":2880,"wires":[["267abefe.154c32"]]},{"id":"6d7d6132.927d4","type":"ui_text","z":"84340f1a.ac231","group":"b6529ee9.cd9fb","order":3,"width":"7","height":1,"name":"","label":"R3","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":2680,"wires":[]},{"id":"8c8aa49a.f24578","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"R3","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":2680,"wires":[["85e919a9.561258","dd0e687a.16aba8"]]},{"id":"dd0e687a.16aba8","type":"rpi-gpio out","z":"84340f1a.ac231","name":"R3 (Pin numarası Belirleyiniz)","pin":"29","set":"","level":"0","freq":"","out":"out","x":530,"y":2620,"wires":[]},{"id":"85e919a9.561258","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\n\n\nif( data === true){\n    msg.payload = \"Kapalı\";\n\n    return msg;\n}else if( data === false ){\n    \n    msg.payload = \"Açık\";\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":430,"y":2680,"wires":[["6d7d6132.927d4"]]},{"id":"267abefe.154c32","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\n\n\nif( data === true ){\n    \n    global.set(\"R3\",false);\n    \n    \n}else if( data === false ){\n    \n    global.set(\"R3\",true);\n    \n    \n      \n}\n\n\n\n","outputs":1,"noerr":0,"x":690,"y":2860,"wires":[[]]},{"id":"d6699aec.1e6f58","type":"function","z":"84340f1a.ac231","name":"","func":"\nvar data = msg.payload;\n\n\nif( data === false ){\n    msg.enabled = false\n    \n    return msg;\n    \n}else if( data === true ){\n    \n    msg.enabled = true;\n    return msg;\n     \n    \n}\n\n\n","outputs":1,"noerr":0,"x":430,"y":2840,"wires":[["594a2bf6.d70304"]]},{"id":"94e72aca.540698","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"R3","payloadType":"global","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":2860,"wires":[["d6699aec.1e6f58","d3c3ea0.5823718"]]},{"id":"d3c3ea0.5823718","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\n\n\nif( data === false ){\n    msg.enabled = true\n    \n    return msg;\n    \n}else if( data === true ){\n    \n    msg.enabled = false;\n    return msg;\n     \n    \n}\n","outputs":1,"noerr":0,"x":430,"y":2880,"wires":[["acc8cd7f.286cb"]]},{"id":"bfcba84c.621638","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1510,"y":3000,"wires":[["8a0c4472.6d0b98"]]},{"id":"8a0c4472.6d0b98","type":"function","z":"84340f1a.ac231","name":"R3","func":"global.set(\"R3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":3000,"wires":[[]]},{"id":"18283a5c.c77106","type":"comment","z":"84340f1a.ac231","name":"Röle","info":"","x":230,"y":2400,"wires":[]},{"id":"b5215b0d.22e3a8","type":"comment","z":"84340f1a.ac231","name":"Analizör","info":"","x":350,"y":3560,"wires":[]},{"id":"acc4caac.e6a338","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":950,"y":3980,"wires":[["98fcb46c.6c8ac8"]]},{"id":"98fcb46c.6c8ac8","type":"function","z":"84340f1a.ac231","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"A1_v1\"     :undefined,\n    \"A1_v2\"     :undefined,\n    \"A1_v3\"     :undefined,\n    \"A1_c1\"     :undefined,\n    \"A1_c2\"     :undefined,\n    \"A1_c3\"     :undefined,\n    \"A1_p1\"     :undefined,\n    \"A1_p2\"     :undefined,\n    \"A1_p3\"     :undefined,\n    \"A1_t_p\"    :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"P3\"        :undefined,\n    \"P4\"        :undefined,\n    \"PT\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":3980,"wires":[[]]},{"id":"be29bb14.659618","type":"debug","z":"84340f1a.ac231","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":4020,"wires":[]},{"id":"3a57f839.cb7008","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":4020,"wires":[["be29bb14.659618"]]},{"id":"ea98c2dd.e2eec","type":"function","z":"84340f1a.ac231","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0]  /   10,\n        \"Temp2\"\t:   msg.payload[1]  /   10,\n        \"Temp3\"\t:   msg.payload[2]  /   10,\n        \"Temp4\"\t:   msg.payload[3]  /   10,\n        \"Temp5\"\t:   msg.payload[4]  /   10,\n        \"Temp6\"\t:   msg.payload[5]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":4080,"wires":[["bff5b691.fc22d8"]]},{"id":"7bb8c357.736b0c","type":"debug","z":"84340f1a.ac231","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":4140,"wires":[]},{"id":"8c93023b.da037","type":"modbus-read","z":"84340f1a.ac231","name":"PT-100","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"a784da1d.d23a08","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":350,"y":4080,"wires":[["7bb8c357.736b0c","ea98c2dd.e2eec","edd06f3a.dafce"],[]]},{"id":"bff5b691.fc22d8","type":"function","z":"84340f1a.ac231","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":4080,"wires":[[]]},{"id":"b54b910c.a52ce","type":"ui_level","z":"84340f1a.ac231","group":"401db19b.e977","order":1,"width":"7","height":"6","name":"T1","label":"T1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":430,"y":4440,"wires":[]},{"id":"a1649b58.140ed8","type":"ui_level","z":"84340f1a.ac231","group":"401db19b.e977","order":2,"width":"8","height":"6","name":"T2","label":"T2","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":430,"y":4480,"wires":[]},{"id":"d4914f81.a80e7","type":"ui_level","z":"84340f1a.ac231","group":"401db19b.e977","order":3,"width":"7","height":"6","name":"T3","label":"T3","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":430,"y":4520,"wires":[]},{"id":"8c9437f3.371f98","type":"ui_level","z":"84340f1a.ac231","group":"401db19b.e977","order":4,"width":"7","height":"6","name":"T4","label":"T4","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":430,"y":4560,"wires":[]},{"id":"4f79902f.aa0f6","type":"ui_level","z":"84340f1a.ac231","group":"401db19b.e977","order":5,"width":"8","height":"6","name":"T5","label":"T5","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":430,"y":4600,"wires":[]},{"id":"36e1e7ea.e161b8","type":"ui_level","z":"84340f1a.ac231","group":"401db19b.e977","order":6,"width":"7","height":"6","name":"T6","label":"T6","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":430,"y":4640,"wires":[]},{"id":"fdea9308.e7c58","type":"ui_level","z":"84340f1a.ac231","group":"4f782b66.cd90e4","order":1,"width":"5","height":"4","name":"T1","label":"T1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":570,"y":4440,"wires":[]},{"id":"b93eace4.b23cc","type":"ui_level","z":"84340f1a.ac231","group":"4f782b66.cd90e4","order":2,"width":"6","height":"4","name":"T3","label":"T3","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":570,"y":4520,"wires":[]},{"id":"9ffd47b6.b2b6e8","type":"ui_level","z":"84340f1a.ac231","group":"4f782b66.cd90e4","order":3,"width":"5","height":"4","name":"T5","label":"T5","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":570,"y":4600,"wires":[]},{"id":"195f24f.aa7ebdb","type":"ui_level","z":"84340f1a.ac231","group":"154410c9.049cff","order":1,"width":"4","height":"5","name":"P1","label":"P1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"custom","colorText":"#eeeeee","fontLabel":"1.5","fontValue":"3","fontSmall":"1.5","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":890,"y":4440,"wires":[]},{"id":"6223e7f9.341678","type":"ui_level","z":"84340f1a.ac231","group":"154410c9.049cff","order":2,"width":"4","height":"5","name":"P2","label":"P2","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":890,"y":4480,"wires":[]},{"id":"2581928d.49ec5e","type":"ui_level","z":"84340f1a.ac231","group":"154410c9.049cff","order":3,"width":"4","height":"5","name":"P2S","label":"P2S","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":890,"y":4520,"wires":[]},{"id":"49aea41c.d036bc","type":"ui_level","z":"84340f1a.ac231","group":"154410c9.049cff","order":4,"width":"4","height":"5","name":"PS","label":"PS","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":890,"y":4560,"wires":[]},{"id":"f03f7538.30abd8","type":"debug","z":"84340f1a.ac231","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":2640,"wires":[]},{"id":"92e7d057.59d33","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":4440,"wires":[["b54b910c.a52ce","fdea9308.e7c58"]]},{"id":"a68fcf89.08278","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"T2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":4480,"wires":[["a1649b58.140ed8"]]},{"id":"45364ae3.7767f4","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":4520,"wires":[["d4914f81.a80e7","b93eace4.b23cc"]]},{"id":"ad1a809d.99cdf","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"T4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":4560,"wires":[["8c9437f3.371f98"]]},{"id":"112985f2.f94dda","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"T5","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":4600,"wires":[["4f79902f.aa0f6","9ffd47b6.b2b6e8"]]},{"id":"ca2bf8ec.671b38","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"T6","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":4640,"wires":[["36e1e7ea.e161b8"]]},{"id":"a3171cf0.87019","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":4440,"wires":[["195f24f.aa7ebdb"]]},{"id":"4438765a.c51568","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":4480,"wires":[["6223e7f9.341678"]]},{"id":"d672b662.e4ebd8","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"P2S","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":4520,"wires":[["2581928d.49ec5e"]]},{"id":"b243dc40.6066f","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"PS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":4560,"wires":[["49aea41c.d036bc"]]},{"id":"6aeadc1e.4c1d34","type":"function","z":"84340f1a.ac231","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"P1\"    :   msg.payload[0]  /   100,\n        \"P2\"\t:   msg.payload[1]  /   100,\n        \"P3\"\t:   msg.payload[2]  /   100,\n        \"P4\"\t:   msg.payload[3]  /   100\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":4200,"wires":[["d4286219.2df3b","2e053322.619fac"]]},{"id":"d4286219.2df3b","type":"range","z":"84340f1a.ac231","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P1","name":"","x":610,"y":4220,"wires":[["5451df5d.a5951"]]},{"id":"2e053322.619fac","type":"range","z":"84340f1a.ac231","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P2","name":"","x":610,"y":4260,"wires":[["ebdd1b23.27b7a8"]]},{"id":"5451df5d.a5951","type":"function","z":"84340f1a.ac231","name":"","func":"var data = parseFloat( (msg.payload.P1).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":4220,"wires":[[]]},{"id":"ebdd1b23.27b7a8","type":"function","z":"84340f1a.ac231","name":"","func":"var data = parseFloat( (msg.payload.P2).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":4260,"wires":[[]]},{"id":"2a36612c.4bbeee","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":4120,"wires":[[]]},{"id":"20a15bc3.73e104","type":"azureiothub","z":"84340f1a.ac231","name":"Azure IoT Hub","protocol":"mqtt","x":1160,"y":4280,"wires":[["d9006e3c.29a6c"]]},{"id":"e7a005da.86d4d8","type":"function","z":"84340f1a.ac231","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"2c61c9f2-4c98-4121-9782-e58a54533747\",\n        \"key\": \"dd/k0MTs70DG9kS/h0uuyTjmvDZa077IF+VVV+pKD/w=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":4220,"wires":[["20a15bc3.73e104"]]},{"id":"d9006e3c.29a6c","type":"debug","z":"84340f1a.ac231","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":4340,"wires":[]},{"id":"696130b0.19272","type":"comment","z":"84340f1a.ac231","name":"Set fonksiyonu iptali için","info":"","x":540,"y":1940,"wires":[]},{"id":"145e1949.69e1c7","type":"ui_form","z":"84340f1a.ac231","name":"","label":"","group":"3e30f38e.f6440c","order":0,"width":"0","height":"0","options":[{"label":"Minimum","value":"Min","type":"number","required":true},{"label":"Maksimum","value":"Max","type":"number","required":true}],"formValue":{"Min":"","Max":""},"payload":"","submit":"Gönder","cancel":"İptal","topic":"","x":150,"y":3280,"wires":[["1441d0d3.e94d7f","e4b60fc9.6ed6a","7193f103.5718c"]]},{"id":"1441d0d3.e94d7f","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"driver_min\",msg.payload.Min)\nglobal.set(\"driver_max\",msg.payload.Max)\nglobal.set(\"driver\",msg.payload.Min)\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":3280,"wires":[[]]},{"id":"e4b60fc9.6ed6a","type":"function","z":"84340f1a.ac231","name":"","func":"\nmsg = {ui_control:{min:msg.payload.Min}};\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":3320,"wires":[["5113160.49728ec"]]},{"id":"7193f103.5718c","type":"function","z":"84340f1a.ac231","name":"","func":"\nmsg = {ui_control:{max:msg.payload.Max}};\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":3360,"wires":[["5113160.49728ec"]]},{"id":"27a0b2f.bd04c4e","type":"http in","z":"84340f1a.ac231","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":650,"y":4760,"wires":[["b410dd90.3e2bc","dd75978.6dd2368","6c76ffab.f5d86"]]},{"id":"b410dd90.3e2bc","type":"debug","z":"84340f1a.ac231","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":4800,"wires":[]},{"id":"dd75978.6dd2368","type":"function","z":"84340f1a.ac231","name":"","func":"global.set(\"azure_data\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":4660,"wires":[[]]},{"id":"6c76ffab.f5d86","type":"http response","z":"84340f1a.ac231","name":"","statusCode":"200","headers":{},"x":880,"y":4900,"wires":[]},{"id":"d7997f6c.9a397","type":"function","z":"84340f1a.ac231","name":"","func":"var azure_data = global.get(\"azure_data\")\n\nglobal.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",azure_data.P2)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":3060,"wires":[[]]},{"id":"8ab3d67.8115828","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":140,"wires":[["e7b972dc.30a0d","752c2754.c6e958"]]},{"id":"752c2754.c6e958","type":"function","z":"84340f1a.ac231","name":"","func":"var data = msg.payload;\n\nif (data === true) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["8ab3d67.8115828"]]},{"id":"a052b1bc.0ad7f","type":"function","z":"84340f1a.ac231","name":"magneto","func":"var data = {\n    \"A1_v\"      :undefined,\n    \"A1_c\"      :undefined,\n    \"A1_p\"      :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"driver\"    :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":3640,"wires":[[]]},{"id":"4854b495.14510c","type":"function","z":"84340f1a.ac231","name":"msg.payload = T1","func":"var data    =   global.get(\"T1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1440,"wires":[["59194e.442d66b4"]]},{"id":"59194e.442d66b4","type":"switch","z":"84340f1a.ac231","name":"T1 < 50","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":1440,"wires":[["b6a7fee2.cd98"]]},{"id":"18020ca1.0708e3","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":1440,"wires":[["f5c4efdb.4a274"]]},{"id":"f5c4efdb.4a274","type":"switch","z":"84340f1a.ac231","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":1440,"wires":[["4854b495.14510c"]]},{"id":"5fa796d0.e72208","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"45","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1060,"wires":[["debcf43a.2f3d18"]]},{"id":"6fb95ea7.7186b","type":"delay","z":"84340f1a.ac231","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":1500,"wires":[["a949e848.0cf1c8"]]},{"id":"a949e848.0cf1c8","type":"function","z":"84340f1a.ac231","name":"R4 OFF","func":"global.set(\"R4\",true);\nreturn msg;","outputs":1,"noerr":0,"x":1680,"y":1500,"wires":[[]]},{"id":"a5df7340.5cfd9","type":"function","z":"84340f1a.ac231","name":"Akım ve Gerilim","func":"global.set('dev1_gerilim', msg.payload[2])\nglobal.set('dev1_akim', msg.payload[8])\n","outputs":1,"noerr":0,"x":500,"y":3720,"wires":[[]]},{"id":"6d817ccf.52f234","type":"function","z":"84340f1a.ac231","name":"","func":"\n","outputs":1,"noerr":0,"x":470,"y":3760,"wires":[[]]},{"id":"27467ddf.08e642","type":"function","z":"84340f1a.ac231","name":"Data(akü)","func":"msg = {\n    \"payload\":{\n        \"aku_donus_volt\" : global.get('dev1_gerilim') / 100,\n        \"aku_current\"    : global.get('dev1_akim') / 100,\n        \"aku_donus\"      : parseFloat( (global.get('dev1_gerilim') / 100 * global.get('dev1_akim') / 100).toFixed(2) )\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":3840,"wires":[["23419165.809f5e","e1c278e4.00e378","aef3dad9.31b068","667e1920.42d808"]]},{"id":"2262dad2.299a76","type":"inject","z":"84340f1a.ac231","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"4","x":270,"y":3840,"wires":[["27467ddf.08e642"]]},{"id":"b372f36c.f93b","type":"debug","z":"84340f1a.ac231","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":3680,"wires":[]},{"id":"23419165.809f5e","type":"ui_gauge","z":"84340f1a.ac231","name":"","group":"db4994ac.0a5c58","order":0,"width":"3","height":"3","gtype":"gage","title":"Gerilim","label":"V","format":"{{payload.aku_donus_volt}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":3820,"wires":[]},{"id":"e1c278e4.00e378","type":"ui_gauge","z":"84340f1a.ac231","name":"","group":"db4994ac.0a5c58","order":0,"width":"3","height":"3","gtype":"compass","title":"Güç","label":"W","format":"{{payload.aku_donus}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":3860,"wires":[]},{"id":"aef3dad9.31b068","type":"ui_gauge","z":"84340f1a.ac231","name":"","group":"db4994ac.0a5c58","order":0,"width":"3","height":"3","gtype":"gage","title":"Akım","label":"A","format":"{{payload.aku_current}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":3900,"wires":[]},{"id":"47591c11.89da14","type":"function","z":"84340f1a.ac231","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"A4_v\"]    =  msg.payload[\"aku_donus_volt\"] ;\ndata[\"A4_c\"]    =  msg.payload[\"aku_current\"];\ndata[\"A4_p\"]    =  msg.payload[\"aku_donus\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":3840,"wires":[[]]},{"id":"667e1920.42d808","type":"debug","z":"84340f1a.ac231","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":3900,"wires":[]},{"id":"9a124576.d08f98","type":"modbus-read","z":"84340f1a.ac231","name":"Datakom (Adres-4)","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"8194","quantity":"10","rate":"4","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"fd1e12ad.59aa6","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":252,"y":3748,"wires":[["b372f36c.f93b","a5df7340.5cfd9","6d817ccf.52f234"],[]]},{"id":"b6529ee9.cd9fb","type":"ui_group","z":"","name":"Röle Durumları","tab":"a14c0335.3e708","order":2,"disp":false,"width":"7","collapse":false},{"id":"3e30f38e.f6440c","type":"ui_group","z":"","name":"Sürücü","tab":"a14c0335.3e708","order":4,"disp":false,"width":"7","collapse":false},{"id":"7de540ad.a5876","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM3","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"46c6805d.89026","type":"ui_group","z":"","name":"Start - Stop","tab":"a14c0335.3e708","order":5,"disp":false,"width":"8","collapse":false},{"id":"51211f27.d9839","type":"ui_group","z":"","name":"Timer","tab":"a14c0335.3e708","order":6,"disp":false,"width":"8","collapse":false},{"id":"51769fdc.5116b","type":"ui_group","z":"","name":"                              R3 ON/OFF","tab":"f35bc839.c62fe8","order":1,"disp":true,"width":"16","collapse":false},{"id":"a784da1d.d23a08","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"401db19b.e977","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"f68a0f60.ca6d2","order":1,"disp":false,"width":"22","collapse":false},{"id":"4f782b66.cd90e4","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"a14c0335.3e708","order":1,"disp":false,"width":"16","collapse":false},{"id":"154410c9.049cff","type":"ui_group","z":"","name":"Basınçlar","tab":"a14c0335.3e708","order":3,"disp":false,"width":"16","collapse":false},{"id":"db4994ac.0a5c58","type":"ui_group","z":"","name":"Akü","tab":"fb2533e6.347a6","order":10,"disp":true,"width":"9","collapse":false},{"id":"fd1e12ad.59aa6","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.1.100","tcpPort":"1001","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"3","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"a14c0335.3e708","type":"ui_tab","z":"","name":"Atık Isı","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"f35bc839.c62fe8","type":"ui_tab","z":"","name":"Röle Kontrol","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"f68a0f60.ca6d2","type":"ui_tab","z":"","name":"Sıcaklık Sensör","icon":"dashboard","order":5},{"id":"fb2533e6.347a6","type":"ui_tab","z":"","name":"Repg Home Type 3","icon":"dashboard","order":1}]