Repg_algoritma.txt
[{"id":"7d119d11.e5dd24","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eb465518.67a4c8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a961a29e.6b2dd","type":"ui_group","z":"","name":"Sürücü","tab":"84f12760.3b1cb8","order":1,"disp":true,"width":"8","collapse":false},{"id":"231b2545.f8677a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"31e1a512.60474a","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"36f43fa7.cacf4","type":"ui_group","z":"","name":"Motor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"c2964a68.bd3ab8","type":"ui_group","z":"","name":"Motor Hýz","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bda023a.85928c","type":"ui_group","z":"","name":"Motor Hýz","tab":"84f12760.3b1cb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"84f12760.3b1cb8","type":"ui_tab","z":"","name":"Motor Kontrol","icon":"dashboard","order":1},{"id":"330b537d.7104ac","type":"ui_tab","z":"","name":"RePG Energy","icon":"fa-fire","order":1},{"id":"8e9d6de2.8244a","type":"ui_group","z":"","name":"Akým","tab":"281d19e0.0faca6","order":3,"disp":true,"width":"6","collapse":false},{"id":"4e9fa3a6.ff73fc","type":"ui_group","z":"","name":"Buton-1","tab":"bd5b7bda.e0ff18","order":3,"disp":false,"width":"7","collapse":false},{"id":"4ef4e2d6.1fd34c","type":"ui_group","z":"","name":"Gerilim","tab":"281d19e0.0faca6","order":1,"disp":true,"width":"6","collapse":false},{"id":"a425c700.75db38","type":"ui_group","z":"","name":"Buton-2","tab":"bd5b7bda.e0ff18","order":4,"disp":false,"width":"7","collapse":false},{"id":"77b29dc.4d77664","type":"ui_group","z":"","name":"Buton-3","tab":"bd5b7bda.e0ff18","order":5,"disp":false,"width":"7","collapse":false},{"id":"d9b77ef5.f9cb8","type":"ui_group","z":"","name":"Buton-4","tab":"bd5b7bda.e0ff18","order":6,"disp":false,"width":"7","collapse":false},{"id":"b7f6f0d2.bd9a6","type":"ui_group","z":"","name":"Buton-5","tab":"bd5b7bda.e0ff18","order":7,"disp":false,"width":"7","collapse":false},{"id":"2c95e20f.c90dae","type":"ui_group","z":"","name":"Buton-6","tab":"bd5b7bda.e0ff18","order":8,"disp":false,"width":"7","collapse":false},{"id":"aca8f4f.6abed08","type":"ui_group","z":"","name":"T1","tab":"87556c24.9f33e","order":1,"disp":false,"width":"4","collapse":false},{"id":"eaa1e19a.129e","type":"ui_group","z":"","name":"T2","tab":"87556c24.9f33e","order":2,"disp":false,"width":"4","collapse":false},{"id":"20878f82.b89b2","type":"ui_group","z":"","name":"T3","tab":"87556c24.9f33e","order":3,"disp":false,"width":"4","collapse":false},{"id":"8537749e.9dc7b8","type":"ui_group","z":"","name":"T4","tab":"87556c24.9f33e","order":4,"disp":false,"width":"4","collapse":false},{"id":"a157900a.2d1c4","type":"ui_group","z":"","name":"P1","tab":"684c38a5.1c18b8","order":1,"disp":true,"width":"7","collapse":false},{"id":"a25fe10c.dbcf2","type":"ui_group","z":"","name":"P2","tab":"684c38a5.1c18b8","order":2,"disp":true,"width":"7","collapse":false},{"id":"52f608a4.a9fa08","type":"ui_group","z":"","name":"P3","tab":"684c38a5.1c18b8","order":3,"disp":true,"width":"7","collapse":false},{"id":"b737448f.867378","type":"ui_group","z":"","name":"P4","tab":"684c38a5.1c18b8","order":4,"disp":true,"width":"7","collapse":false},{"id":"5a90c37f.496a6c","type":"ui_group","z":"","name":"Buton-7","tab":"bd5b7bda.e0ff18","disp":false,"width":"7","collapse":false},{"id":"a78ecc94.aaec7","type":"ui_group","z":"","name":"Buton-8","tab":"bd5b7bda.e0ff18","disp":false,"width":"7","collapse":false},{"id":"8ccfbec.9c4844","type":"ui_group","z":"","name":"Güç","tab":"281d19e0.0faca6","order":4,"disp":true,"width":"6","collapse":false},{"id":"628a7f9c.2db4","type":"ui_group","z":"","name":"RePG","tab":"281d19e0.0faca6","order":5,"disp":true,"width":"6","collapse":false},{"id":"bf8ff9ab.d301c8","type":"ui_group","z":"","name":"T5","tab":"87556c24.9f33e","order":5,"disp":false,"width":"4","collapse":false},{"id":"7809674a.a11638","type":"ui_group","z":"","name":"T6","tab":"87556c24.9f33e","order":6,"disp":false,"width":"4","collapse":false},{"id":"281d19e0.0faca6","type":"ui_tab","z":"","name":"RePG Anadolu Hotel Esenboða","icon":"dashboard","order":1},{"id":"bd5b7bda.e0ff18","type":"ui_tab","z":"","name":"Kontrol","icon":"dashboard","order":6},{"id":"87556c24.9f33e","type":"ui_tab","z":"","name":"Sýcaklýk Sensör","icon":"dashboard","order":4},{"id":"684c38a5.1c18b8","type":"ui_tab","z":"","name":"Basýnç Sensör","icon":"dashboard","order":5},{"id":"798d014d.c8fe4","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["6245bab.f74d544"]]},{"id":"e95ca223.9e54e","type":"function","z":"7d119d11.e5dd24","name":"temp>70","func":"var temp =global.get(\"temp\")\nif (temp > 70) {\n    msg.payload = true\n    global.set(\"refresh\",false)\n    return msg;\n}\n\nelse {\n    //global.set(\"refresh\",true)\n}\n","outputs":1,"noerr":0,"x":440,"y":80,"wires":[["c6518cc3.95859","c1a6f11b.d9f15"]]},{"id":"ee2efa28.7b6108","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["6245bab.f74d544"]]},{"id":"3b99fd8.ee4d102","type":"rpi-gpio out","z":"7d119d11.e5dd24","name":"R1","pin":"29","set":"","level":"0","freq":"","out":"out","x":750,"y":160,"wires":[]},{"id":"c6518cc3.95859","type":"rpi-gpio out","z":"7d119d11.e5dd24","name":"R4","pin":"31","set":"","level":"0","freq":"","out":"out","x":750,"y":80,"wires":[]},{"id":"c1a6f11b.d9f15","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":160,"wires":[["bb585f64.8df8b"]]},{"id":"bb585f64.8df8b","type":"delay","z":"7d119d11.e5dd24","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":160,"wires":[["3b99fd8.ee4d102","eb818a74.f1b628"]]},{"id":"7520d88d.9c8e38","type":"debug","z":"7d119d11.e5dd24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":280,"wires":[]},{"id":"a67a527f.4df76","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":480,"wires":[["5905a134.74a3d"]]},{"id":"6245bab.f74d544","type":"function","z":"7d119d11.e5dd24","name":"temp set","func":"global.set(\"temp\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["7520d88d.9c8e38"]]},{"id":"5905a134.74a3d","type":"function","z":"7d119d11.e5dd24","name":"Global set \"0\"","func":"global.set(\"temp\", 0);\nglobal.set(\"driver\", 0);\nglobal.set(\"drv\",false);\nglobal.set(\"flow\",false);\nglobal.set(\"check\",false);\nglobal.set(\"refresh\",false);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":480,"wires":[[]]},{"id":"a7f18b6e.ee5238","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"temp","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":600,"wires":[["cc142da9.0146c","28b5f163.c7a41e"]]},{"id":"cc142da9.0146c","type":"debug","z":"7d119d11.e5dd24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":620,"wires":[]},{"id":"e30e991e.b5e868","type":"function","z":"7d119d11.e5dd24","name":"","func":"var data = msg.payload;\n\nif ( data === true) {\n    msg.payload = true\n    return msg;\n}\n\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":890,"y":220,"wires":[["a4d3d423.142ae8","4e4242d.cf3a1bc"]]},{"id":"16e2bc0b.fda2d4","type":"comment","z":"7d119d11.e5dd24","name":"Start","info":"","x":290,"y":40,"wires":[]},{"id":"5823d557.f4cf3c","type":"function","z":"7d119d11.e5dd24","name":"65<T1<80","func":"var data = global.get(\"temp\")\nif (data>65 && data<80) {\n    msg.payload = 15\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["46191a6a.6226e4"]]},{"id":"b978d7a3.2a4e08","type":"function","z":"7d119d11.e5dd24","name":"80<T1<90","func":"var data = global.get(\"temp\")\nif (data>80 && data<90) {\n    msg.payload = 17\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":480,"wires":[["46191a6a.6226e4"]]},{"id":"62bd2115.684c6","type":"function","z":"7d119d11.e5dd24","name":"90<T1<100","func":"var data = global.get(\"temp\")\nif (data>90 && data<100) {\n    msg.payload = 20\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":520,"wires":[["46191a6a.6226e4"]]},{"id":"79c7d6ac.af6968","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"85","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":360,"wires":[["6245bab.f74d544"]]},{"id":"7dc39843.0162c8","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":660,"wires":[["cc142da9.0146c"]]},{"id":"db2c273a.a6fab8","type":"function","z":"7d119d11.e5dd24","name":"100<T1    -   T1<65","func":"var data = global.get(\"temp\")\nif (data>100 || data<65) {\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":680,"y":560,"wires":[["a52728d9.79a588","81ca1f82.fa22e"]]},{"id":"a52728d9.79a588","type":"function","z":"7d119d11.e5dd24","name":"","func":"if (msg.payload ===true){\n    msg.payload = false\n    return msg;\n}\nelse {\n    return null;\n}","outputs":1,"noerr":0,"x":650,"y":640,"wires":[["73a85ced.2c4654","c2c1d37e.81188"]]},{"id":"73a85ced.2c4654","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":720,"wires":[["86e3f37.44c391"]]},{"id":"86e3f37.44c391","type":"delay","z":"7d119d11.e5dd24","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":720,"wires":[["dbfab899.416b38"]]},{"id":"9d79aa68.2b25f8","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"drv","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["1378afcc.34f1d"]]},{"id":"46191a6a.6226e4","type":"function","z":"7d119d11.e5dd24","name":"","func":"var data = msg.payload ;\nif (data > 14) {\n    global.set(\"drv\",true)\n    msg.payload = true\n    return msg;\n}\nelse {\n    global.set(\"drv\",false)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":870,"y":480,"wires":[["41ffd18c.d0f7d","607e157b.63264c"]]},{"id":"5446cd76.3e7b34","type":"link in","z":"7d119d11.e5dd24","name":"","links":["c2c1d37e.81188"],"x":595,"y":120,"wires":[["c6518cc3.95859","3b99fd8.ee4d102"]]},{"id":"c2c1d37e.81188","type":"link out","z":"7d119d11.e5dd24","name":"","links":["5446cd76.3e7b34"],"x":775,"y":640,"wires":[]},{"id":"ef2b13cb.09482","type":"function","z":"7d119d11.e5dd24","name":"65<T1<100","func":"var temp = global.get(\"temp\")\nif (65<temp && temp<100) {\n    msg.payload = false\n    global.set(\"flow\",true)\n    return msg;\n}\nelse {\n    global.set(\"flow\",false)\n    msg.payload = true\n    return msg;\n} \n","outputs":1,"noerr":0,"x":1070,"y":420,"wires":[["826ff3e5.970b"]]},{"id":"41ffd18c.d0f7d","type":"debug","z":"7d119d11.e5dd24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":560,"wires":[]},{"id":"1378afcc.34f1d","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":80,"wires":[["e95ca223.9e54e"]]},{"id":"4cbb3233.49124c","type":"debug","z":"7d119d11.e5dd24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":520,"wires":[]},{"id":"eb818a74.f1b628","type":"delay","z":"7d119d11.e5dd24","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":220,"wires":[["e30e991e.b5e868"]]},{"id":"a4d3d423.142ae8","type":"debug","z":"7d119d11.e5dd24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":220,"wires":[]},{"id":"2375f8f0.009a28","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"95","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["6245bab.f74d544"]]},{"id":"478bda0f.603f84","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["6245bab.f74d544"]]},{"id":"607e157b.63264c","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":480,"wires":[["ef2b13cb.09482","db2c273a.a6fab8"]]},{"id":"1ad50aab.9c3025","type":"debug","z":"7d119d11.e5dd24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":560,"wires":[]},{"id":"81ca1f82.fa22e","type":"debug","z":"7d119d11.e5dd24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":640,"wires":[]},{"id":"c6375d82.18795","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"temp","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":140,"wires":[["f4913f59.b34af"]]},{"id":"f4913f59.b34af","type":"delay","z":"7d119d11.e5dd24","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":140,"wires":[["e95ca223.9e54e"]]},{"id":"35454cb3.7f8384","type":"function","z":"eb465518.67a4c8","name":"65<T1<79","func":"var data = global.get(\"temp\")\nif (data>65 && data<79) {\n    msg.payload = 15\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":590,"y":140,"wires":[["eb895727.d7a8d8"]]},{"id":"8cc55a77.540358","type":"function","z":"eb465518.67a4c8","name":"79<T1<91","func":"var data = global.get(\"temp\")\nif (data>79 && data<91) {\n    msg.payload = 17\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["eb895727.d7a8d8"]]},{"id":"fc3b288b.7a8a28","type":"function","z":"eb465518.67a4c8","name":"91<T1<100","func":"var data = global.get(\"temp\")\nif (data>91 && data<100) {\n    msg.payload = 20\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["eb895727.d7a8d8"]]},{"id":"c7e8f573.ec4df8","type":"delay","z":"7d119d11.e5dd24","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":480,"wires":[["1ad50aab.9c3025","a0645dd4.009bd"]]},{"id":"826ff3e5.970b","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":420,"wires":[["c7e8f573.ec4df8"]]},{"id":"a0645dd4.009bd","type":"link out","z":"7d119d11.e5dd24","name":"","links":["d8119083.6fce2"],"x":1335,"y":420,"wires":[]},{"id":"d8119083.6fce2","type":"link in","z":"7d119d11.e5dd24","name":"","links":["a0645dd4.009bd"],"x":595,"y":40,"wires":[["c6518cc3.95859"]]},{"id":"2da03972.769f66","type":"switch","z":"eb465518.67a4c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":180,"wires":[["35454cb3.7f8384","8cc55a77.540358","fc3b288b.7a8a28"]]},{"id":"7cb3bbcb.b92804","type":"comment","z":"eb465518.67a4c8","name":"Üretim","info":"","x":150,"y":60,"wires":[]},{"id":"2087ad06.613962","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"drv","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":720,"wires":[["cc142da9.0146c"]]},{"id":"4e4242d.cf3a1bc","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":280,"wires":[["5823d557.f4cf3c","b978d7a3.2a4e08","62bd2115.684c6","db2c273a.a6fab8"]]},{"id":"2439f60c.6c077a","type":"inject","z":"eb465518.67a4c8","name":"","topic":"","payload":"flow","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["2da03972.769f66"]]},{"id":"eb895727.d7a8d8","type":"debug","z":"eb465518.67a4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":200,"wires":[]},{"id":"d916d070.c047b","type":"function","z":"7d119d11.e5dd24","name":"100<T1    -   T1<65","func":"var temp = global.get(\"temp\")\nif (100<temp || temp<65) {\n    msg.payload = false\n    global.set(\"flow\",false)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1140,"y":620,"wires":[["1cf7589b.8bb717"]]},{"id":"28b5f163.c7a41e","type":"function","z":"7d119d11.e5dd24","name":"","func":"var temp = msg.payload;\nif (temp<65 || temp>100) {\n    global.set(\"flow\", false)\n}\n","outputs":1,"noerr":0,"x":410,"y":720,"wires":[[]]},{"id":"1cf7589b.8bb717","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1260,"y":680,"wires":[["c2c1d37e.81188"]]},{"id":"7c4ce4f.d32231c","type":"debug","z":"7d119d11.e5dd24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":800,"wires":[]},{"id":"dbfab899.416b38","type":"function","z":"7d119d11.e5dd24","name":"","func":"if (msg.payload === false) {\n    global.set(\"refresh\",true)\n}\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":800,"wires":[[]]},{"id":"2d775d8a.b994c2","type":"debug","z":"7d119d11.e5dd24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":340,"wires":[]},{"id":"4bc0026d.e942bc","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"refresh","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["3ca2a3b.f66ef5c"]]},{"id":"3ca2a3b.f66ef5c","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":240,"wires":[["2d775d8a.b994c2","e95ca223.9e54e"]]},{"id":"ccb11ba7.825458","type":"function","z":"7d119d11.e5dd24","name":"","func":"var data = global.get(\"temp\")\nif (data > 0) {\n   \n}\nelse {\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":430,"y":240,"wires":[[]]}]