RePG_15102019_end.txt
[{"id":"bd566ae.dd2e398","type":"function","z":"e1f8cc74.78c05","name":"T1>70 - T3<100 - P1<10 - P2<10 - R1-ON","func":"var t1  =   global.get(\"T1\");\nvar t3  =   global.get(\"T3\");\nvar p1  =   global.get(\"P1\");\nvar p2  =   global.get(\"P2\");\n\nif (t1>70 && t3<100 && p1<10 && p2<10) {\n    global.set(\"R1\",false);\n    msg.payload = true;\n    global.set(\"start\",false);\n    return msg;\n}\nelse {\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":560,"y":100,"wires":[["f79217f5.fe9108","6cbaa172.2d453"]]},{"id":"318243c8.26f4ec","type":"delay","z":"e1f8cc74.78c05","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1520,"y":1540,"wires":[["6217460b.c25db8","66c16127.afb16","818f6d5f.f4bbb"]]},{"id":"ac87592d.f43b68","type":"function","z":"e1f8cc74.78c05","name":"set driver  \"10\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",10)\n    global.set(\"check1\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":980,"y":100,"wires":[[]]},{"id":"3f25b545.029c4a","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["c2f49780.f20108"]]},{"id":"c0e2fea6.bfd32","type":"debug","z":"e1f8cc74.78c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":2000,"wires":[]},{"id":"2a00ddac.65d252","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":1980,"wires":[["192ec642.07c1ea"]]},{"id":"9a0ea2e2.3fda8","type":"switch","z":"e1f8cc74.78c05","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":2020,"wires":[["192ec642.07c1ea"]]},{"id":"d5fcb4cc.0f2a88","type":"function","z":"e1f8cc74.78c05","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1100,"wires":[[]]},{"id":"a0acb9df.1c63b8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1100,"wires":[["d5fcb4cc.0f2a88"]]},{"id":"43775e6d.0b5c9","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1300,"wires":[["50e9ed38.865e54"]]},{"id":"3eab8fbb.a1885","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"62","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1340,"wires":[["50e9ed38.865e54"]]},{"id":"f5a9a310.f4eea","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"67","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1380,"wires":[["50e9ed38.865e54"]]},{"id":"50e9ed38.865e54","type":"function","z":"e1f8cc74.78c05","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1380,"wires":[[]]},{"id":"5d80edf2.2461d4","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"start","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["df6d7e11.607a2"]]},{"id":"f79217f5.fe9108","type":"delay","z":"e1f8cc74.78c05","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":100,"wires":[["ac87592d.f43b68"]]},{"id":"2cd1c10e.5a0aae","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1060,"wires":[["d5fcb4cc.0f2a88"]]},{"id":"e7736878.7a32e8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":2500,"wires":[["22eabbd3.6e03d4"]]},{"id":"22eabbd3.6e03d4","type":"function","z":"e1f8cc74.78c05","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nglobal.set(\"R4\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":2500,"wires":[[]]},{"id":"2f09d9d5.f1c796","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":2540,"wires":[["ac68ff43.6ace7"]]},{"id":"ac68ff43.6ace7","type":"function","z":"e1f8cc74.78c05","name":"driver - driverf","func":"global.set(\"driver\",0)\nglobal.set(\"driver_min\",0)\nglobal.set(\"driver_max\",50)\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":2540,"wires":[[]]},{"id":"c0e68887.4ef888","type":"rpi-gpio out","z":"e1f8cc74.78c05","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":430,"y":2420,"wires":[]},{"id":"476f4858.7aa478","type":"rpi-gpio out","z":"e1f8cc74.78c05","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":430,"y":2520,"wires":[]},{"id":"dc4cd15.8cd753","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2480,"wires":[["c0e68887.4ef888","fba9c63a.677b78"]]},{"id":"d4ef7b3c.b4c6d8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2580,"wires":[["476f4858.7aa478","8d8b7c9e.61eff"]]},{"id":"aa2902e6.5b87d","type":"function","z":"e1f8cc74.78c05","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":590,"y":380,"wires":[["de4d4141.37c26"]]},{"id":"de4d4141.37c26","type":"delay","z":"e1f8cc74.78c05","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":380,"wires":[["38d5669a.29690a"]]},{"id":"38d5669a.29690a","type":"function","z":"e1f8cc74.78c05","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":860,"y":380,"wires":[["28081815.060238"]]},{"id":"fba9c63a.677b78","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":410,"y":2480,"wires":[["4fd46474.9df75c"]]},{"id":"8d8b7c9e.61eff","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":410,"y":2580,"wires":[["93f9997.b880e68"]]},{"id":"4fd46474.9df75c","type":"ui_text","z":"e1f8cc74.78c05","group":"c1ef3595.db64d8","order":1,"width":"7","height":"1","name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":2480,"wires":[]},{"id":"93f9997.b880e68","type":"ui_text","z":"e1f8cc74.78c05","group":"c1ef3595.db64d8","order":2,"width":"7","height":"1","name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":2580,"wires":[]},{"id":"16318ca2.9e72d3","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"622ed5d0.373ccc","order":1,"width":"7","height":"7","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":3420,"wires":[]},{"id":"abdb42c.5c9f7c","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":3420,"wires":[["16318ca2.9e72d3"]]},{"id":"a3224f7f.b9d11","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":2740,"wires":[["74b09dba.e9b374"]]},{"id":"74b09dba.e9b374","type":"function","z":"e1f8cc74.78c05","name":"set \"0\" (T1 - T3 - P1 - P2 - P2S - PS )","func":"\n\nglobal.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":2740,"wires":[[]]},{"id":"76e9a543.7f4efc","type":"switch","z":"e1f8cc74.78c05","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"55","v2t":"num"},{"t":"btwn","v":"55.1","vt":"num","v2":"60","v2t":"num"},{"t":"btwn","v":"60.1","vt":"num","v2":"65","v2t":"num"},{"t":"btwn","v":"65.1","vt":"num","v2":"70","v2t":"num"},{"t":"btwn","v":"70.1","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"75.1","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"80.1","vt":"num","v2":"85","v2t":"num"},{"t":"btwn","v":"85.1","vt":"num","v2":"90","v2t":"num"},{"t":"btwn","v":"90.1","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":1090,"y":1140,"wires":[["76c7ab11.ebe2e4"],["c6f53ade.0d9ea8"],["ae145158.ecbcd"],["6f15b570.61448c"],["909c9ca3.a9937"],["f113843c.ee19c8"],["3883bb8e.dd5784"],["b5f2520b.cb453"],["5a8e3734.1cd0f8"]]},{"id":"ae145158.ecbcd","type":"function","z":"e1f8cc74.78c05","name":"set \"16\" bar","func":"global.set(\"P2S\",16);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1060,"wires":[[]]},{"id":"6f15b570.61448c","type":"function","z":"e1f8cc74.78c05","name":"set \"18\" bar","func":"global.set(\"P2S\",18);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1100,"wires":[[]]},{"id":"909c9ca3.a9937","type":"function","z":"e1f8cc74.78c05","name":"set \"20\" bar","func":"global.set(\"P2S\",20);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1140,"wires":[[]]},{"id":"3883bb8e.dd5784","type":"function","z":"e1f8cc74.78c05","name":"set \"24\" bar","func":"global.set(\"P2S\",24);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1220,"wires":[[]]},{"id":"c6f53ade.0d9ea8","type":"function","z":"e1f8cc74.78c05","name":"set \"14\" bar","func":"global.set(\"P2S\",14);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1020,"wires":[[]]},{"id":"76c7ab11.ebe2e4","type":"function","z":"e1f8cc74.78c05","name":"set \"12\" bar","func":"global.set(\"P2S\",12);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":980,"wires":[[]]},{"id":"b5f2520b.cb453","type":"function","z":"e1f8cc74.78c05","name":"set \"26\" bar","func":"global.set(\"P2S\",26);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1260,"wires":[[]]},{"id":"5a8e3734.1cd0f8","type":"function","z":"e1f8cc74.78c05","name":"set \"28\" bar","func":"global.set(\"P2S\",28);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1300,"wires":[[]]},{"id":"f113843c.ee19c8","type":"function","z":"e1f8cc74.78c05","name":"set \"22\" bar","func":"global.set(\"P2S\",22);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1180,"wires":[[]]},{"id":"ac719010.2c7c5","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1420,"wires":[["50e9ed38.865e54"]]},{"id":"6e082b7.fe8fad4","type":"function","z":"e1f8cc74.78c05","name":"driver up down","func":"var p2s = global.get(\"P2S\");\nvar ps   = global.get(\"PS\");\n\nif (p2s > ps) {\n    msg.payload = true;\n    return msg;\n\n    \n}\nelse if (p2s < ps) {\n    msg.payload = false;\n    return msg;\n}\nelse if (p2s == ps) {\n    global.set(\"driverf\",false)\n    global.set(\"sensor\",false)\n    global.set(\"temp1\",true)\n}\n\n\n","outputs":1,"noerr":0,"x":500,"y":2000,"wires":[["2a00ddac.65d252","9a0ea2e2.3fda8"]]},{"id":"37a8e53b.3b9caa","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"82","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1500,"wires":[["50e9ed38.865e54"]]},{"id":"e16307f.ae887f8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1540,"wires":[["50e9ed38.865e54"]]},{"id":"3f44040e.b6571c","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"driverf","payloadType":"global","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2000,"wires":[["59221d1a.73ed34"]]},{"id":"cd659bf8.a208b8","type":"function","z":"e1f8cc74.78c05","name":"msg.payload = T3","func":"global.set(\"diode\",true)\nvar data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1140,"wires":[["76e9a543.7f4efc"]]},{"id":"bcbd5a9d.7cbb38","type":"switch","z":"e1f8cc74.78c05","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":1140,"wires":[["cd659bf8.a208b8"]]},{"id":"78cfb012.b5c3b","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"temp1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":1140,"wires":[["bcbd5a9d.7cbb38"]]},{"id":"62fb614d.b0d86","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":2580,"wires":[["b509875e.c5ac78"]]},{"id":"b509875e.c5ac78","type":"function","z":"e1f8cc74.78c05","name":"start","func":"global.set(\"start\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":2580,"wires":[[]]},{"id":"df6d7e11.607a2","type":"switch","z":"e1f8cc74.78c05","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":100,"wires":[["bd566ae.dd2e398"]]},{"id":"9becd9e3.743e78","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":2620,"wires":[["c3bf12d5.78ae5"]]},{"id":"c3bf12d5.78ae5","type":"function","z":"e1f8cc74.78c05","name":"temp1 - temp2 - temp3 - temp4","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":2620,"wires":[[]]},{"id":"96cc7e2b.10bb","type":"function","z":"e1f8cc74.78c05","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1460,"wires":[["4f2fe435.6a14bc"]]},{"id":"4f2fe435.6a14bc","type":"switch","z":"e1f8cc74.78c05","name":"T3 > 95","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"95","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1200,"y":1460,"wires":[["98be89c5.6b6338"]]},{"id":"a9ec94e0.74d798","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1460,"wires":[["85d1b30b.74506"]]},{"id":"a940369f.5d29c8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"77","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1460,"wires":[["50e9ed38.865e54"]]},{"id":"85d1b30b.74506","type":"switch","z":"e1f8cc74.78c05","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":1460,"wires":[["96cc7e2b.10bb"]]},{"id":"6ef9fe85.61e0f","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":2660,"wires":[["a08fbc3.377e84"]]},{"id":"a08fbc3.377e84","type":"function","z":"e1f8cc74.78c05","name":"pres1 - pres2 - pres3","func":"global.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":2660,"wires":[[]]},{"id":"8a22c9de.1ddaf8","type":"function","z":"e1f8cc74.78c05","name":"msg.payload = P1","func":"var data    =   global.get(\"P1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1540,"wires":[["a6db90b9.3d68e"]]},{"id":"92535c25.6008b","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"pres1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1540,"wires":[["ffcd9bcf.7836b8"]]},{"id":"ffcd9bcf.7836b8","type":"switch","z":"e1f8cc74.78c05","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":1540,"wires":[["8a22c9de.1ddaf8"]]},{"id":"2fb7e885.227b48","type":"function","z":"e1f8cc74.78c05","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1580,"wires":[["695e615b.bc4ce"]]},{"id":"850762ab.75ec4","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"pres2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1580,"wires":[["ff3bc6ab.16f828"]]},{"id":"ff3bc6ab.16f828","type":"switch","z":"e1f8cc74.78c05","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":1580,"wires":[["2fb7e885.227b48"]]},{"id":"98be89c5.6b6338","type":"function","z":"e1f8cc74.78c05","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"R2\",true);\nglobal.set(\"R4\",true);\nglobal.set(\"driverf\",false)\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nglobal.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nglobal.set(\"sensor\",false)\nglobal.set(\"AS\",false)\nglobal.set(\"check\",false)\nglobal.set(\"check1\",false)\nglobal.set(\"check2\",false)\nglobal.set(\"check3\",false)\nglobal.set(\"diode\",false)\nglobal.set(\"trigger\",false)\nmsg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":1540,"wires":[["318243c8.26f4ec","5ce9d370.fd138c"]]},{"id":"6217460b.c25db8","type":"function","z":"e1f8cc74.78c05","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"check3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":1540,"wires":[[]]},{"id":"a6db90b9.3d68e","type":"switch","z":"e1f8cc74.78c05","name":"P1 > 13","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"13","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1200,"y":1540,"wires":[["98be89c5.6b6338"]]},{"id":"695e615b.bc4ce","type":"switch","z":"e1f8cc74.78c05","name":"P2 > 28","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1200,"y":1580,"wires":[["98be89c5.6b6338"]]},{"id":"62fce35b.8feddc","type":"switch","z":"e1f8cc74.78c05","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"10.1","vt":"num","v2":"12","v2t":"num"},{"t":"btwn","v":"12.1","vt":"num","v2":"14","v2t":"num"},{"t":"btwn","v":"14.1","vt":"num","v2":"16","v2t":"num"},{"t":"btwn","v":"16.1","vt":"num","v2":"18","v2t":"num"},{"t":"btwn","v":"18.1","vt":"num","v2":"20","v2t":"num"},{"t":"btwn","v":"20.1","vt":"num","v2":"22","v2t":"num"},{"t":"btwn","v":"22.1","vt":"num","v2":"24","v2t":"num"},{"t":"btwn","v":"24.1","vt":"num","v2":"26","v2t":"num"},{"t":"btwn","v":"26.1","vt":"num","v2":"28","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":710,"y":2280,"wires":[["20458925.540c16"],["ff29a1a2.5772b"],["c7ea5631.443818"],["58824ec1.2ac7b"],["b4a0fe57.dcb1"],["3438ffb1.00393"],["761b67ed.903128"],["113e5ea7.2a9181"],["833d77c8.adbca8"]]},{"id":"bc38896f.77e4b8","type":"function","z":"e1f8cc74.78c05","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":2280,"wires":[["62fce35b.8feddc"]]},{"id":"e4771a1.f8a23e8","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":2080,"wires":[]},{"id":"20458925.540c16","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"PS\",12);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":2120,"wires":[[]]},{"id":"ff29a1a2.5772b","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"PS\",14);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":2160,"wires":[[]]},{"id":"c7ea5631.443818","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"PS\",16);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":2200,"wires":[[]]},{"id":"58824ec1.2ac7b","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"PS\",18);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":2240,"wires":[[]]},{"id":"b4a0fe57.dcb1","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"PS\",20);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":2280,"wires":[[]]},{"id":"3438ffb1.00393","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"PS\",22);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":2320,"wires":[[]]},{"id":"761b67ed.903128","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"PS\",24);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":2360,"wires":[[]]},{"id":"113e5ea7.2a9181","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"PS\",26);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":2400,"wires":[[]]},{"id":"833d77c8.adbca8","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"PS\",28);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":2440,"wires":[[]]},{"id":"56f9878a.9ed5f8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"sensor","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":2280,"wires":[["5a8817f9.d6a6a8"]]},{"id":"59221d1a.73ed34","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":2000,"wires":[["6e082b7.fe8fad4"]]},{"id":"28fb244f.18771c","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":2700,"wires":[["8eebf7fe.d70098"]]},{"id":"8eebf7fe.d70098","type":"function","z":"e1f8cc74.78c05","name":"sensor","func":"global.set(\"sensor\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":2700,"wires":[[]]},{"id":"5a8817f9.d6a6a8","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":2280,"wires":[["bc38896f.77e4b8"]]},{"id":"2b4fe1ff.2d87ce","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1260,"wires":[["50e9ed38.865e54"]]},{"id":"8ce035fa.c315e8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"92","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1580,"wires":[["50e9ed38.865e54"]]},{"id":"78db6dbf.70f924","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1620,"wires":[["50e9ed38.865e54"]]},{"id":"4165cf6b.7c748","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1220,"wires":[["50e9ed38.865e54"]]},{"id":"192ec642.07c1ea","type":"function","z":"e1f8cc74.78c05","name":"Up Down \"driver\"","func":"var min = global.get(\"driver_min\")\nvar max = global.get(\"driver_max\")\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <max){\n    global.set('driver', Value + 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n} \n\nif(msg.payload === false && Value >min) {\n    global.set('driver', Value - 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":850,"y":2000,"wires":[["c0e2fea6.bfd32"]]},{"id":"b1faaa7.9dffa58","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"check","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":2040,"wires":[["dea20bad.b2d828"]]},{"id":"3751823.858697e","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1130,"y":2040,"wires":[["99b49713.fcc488"]]},{"id":"dea20bad.b2d828","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":2040,"wires":[["3751823.858697e"]]},{"id":"cedda826.46cd38","type":"function","z":"e1f8cc74.78c05","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":1430,"y":2100,"wires":[[]]},{"id":"99b49713.fcc488","type":"range","z":"e1f8cc74.78c05","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1260,"y":2040,"wires":[["cedda826.46cd38","68acd518.d28aec"]]},{"id":"69c3867d.eb6228","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":2820,"wires":[["f7e2240f.32b858"]]},{"id":"f7e2240f.32b858","type":"function","z":"e1f8cc74.78c05","name":"modbus 1-2-3-4   \"0\"","func":"global.set(\"modbus1\",0)\nglobal.set(\"modbus2\",0)\nglobal.set(\"modbus3\",0)\nglobal.set(\"modbus4\",0)\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":2820,"wires":[[]]},{"id":"5256a199.9c42e","type":"function","z":"e1f8cc74.78c05","name":"msg.payload.value","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nif (data == modbus ) {\n    global.set(\"check\",false)\n    global.set(\"driverf\",true)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1670,"y":2000,"wires":[[]]},{"id":"f43e94a3.204958","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":2860,"wires":[["3336f72b.89eb38"]]},{"id":"3336f72b.89eb38","type":"function","z":"e1f8cc74.78c05","name":"Global set \"false\"  checks","func":"global.set(\"check\",false);\nglobal.set(\"check1\",false);\nglobal.set(\"check2\",false);\nglobal.set(\"check3\",false);\n","outputs":1,"noerr":0,"x":1470,"y":2860,"wires":[[]]},{"id":"e8b84c5f.77e06","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"check1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["ea16a063.46d73"]]},{"id":"ea16a063.46d73","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":240,"wires":[["3f25b545.029c4a"]]},{"id":"c2f49780.f20108","type":"range","z":"e1f8cc74.78c05","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":580,"y":200,"wires":[["d9bf55e2.e12d28","b793847c.c01288","163e7d55.fa8d33"]]},{"id":"d9bf55e2.e12d28","type":"function","z":"e1f8cc74.78c05","name":"Set modbus2","func":"global.set(\"modbus2\", msg.payload)\n","outputs":1,"noerr":0,"x":750,"y":260,"wires":[[]]},{"id":"c5a715be.140d78","type":"function","z":"e1f8cc74.78c05","name":"msg.payload.value","func":"global.set(\"value1\",msg.payload.value);\nvar data = msg.payload.value;\nvar modbus = global.get(\"modbus2\");\nif (data == modbus ) {\n    global.set(\"check1\",false);\n    global.set(\"trigger\",true);\n    msg.payload = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":970,"y":200,"wires":[["395789ec.68dee6","7f10ce71.54b2b"]]},{"id":"35005852.fb2c08","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":2780,"wires":[["b5565e8c.2d801"]]},{"id":"b5565e8c.2d801","type":"function","z":"e1f8cc74.78c05","name":"\"AS\"","func":"global.set(\"AS\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":2780,"wires":[[]]},{"id":"76dc07ed.9da658","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"check3","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":940,"y":1800,"wires":[["2de43ddd.ae2682"]]},{"id":"2de43ddd.ae2682","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":1800,"wires":[["aafabde3.da59c"]]},{"id":"aafabde3.da59c","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1210,"y":1800,"wires":[["577d1da1.703f54"]]},{"id":"577d1da1.703f54","type":"range","z":"e1f8cc74.78c05","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1340,"y":1800,"wires":[["fcd12c02.b113f","845a731b.3e8a9"]]},{"id":"fcd12c02.b113f","type":"function","z":"e1f8cc74.78c05","name":"Set modbus4","func":"global.set(\"modbus4\", msg.payload)\n","outputs":1,"noerr":0,"x":1510,"y":1860,"wires":[[]]},{"id":"75793fbe.353ea","type":"function","z":"e1f8cc74.78c05","name":"msg.payload.value","func":"global.set(\"value3\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus4\")\nif (data == modbus ) {\n    global.set(\"check3\",false)\n    global.set(\"start\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1730,"y":1760,"wires":[[]]},{"id":"b793847c.c01288","type":"modbus-write","z":"e1f8cc74.78c05","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"88a89c57.49b34","x":760,"y":200,"wires":[["8526ecbf.aaed8","c5a715be.140d78"],[]]},{"id":"8526ecbf.aaed8","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":260,"wires":[]},{"id":"6197d000.b0907","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["b793847c.c01288"]]},{"id":"68acd518.d28aec","type":"modbus-write","z":"e1f8cc74.78c05","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"88a89c57.49b34","x":1440,"y":2040,"wires":[["5256a199.9c42e","e4771a1.f8a23e8"],[]]},{"id":"845a731b.3e8a9","type":"modbus-write","z":"e1f8cc74.78c05","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"88a89c57.49b34","x":1520,"y":1800,"wires":[["75793fbe.353ea","f3d7664e.776528"],[]]},{"id":"50b8e179.4ba96","type":"comment","z":"e1f8cc74.78c05","name":"Marş - 1","info":"","x":720,"y":320,"wires":[]},{"id":"f3d7664e.776528","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":1840,"wires":[]},{"id":"90f8fa67.9d60b8","type":"function","z":"e1f8cc74.78c05","name":"P2 > 14.9","func":"var data = global.get(\"P2\");\nif (data >= 15) {\n    global.set(\"trigger\",false);\n    msg.payload = true;\n    return msg;\n}\nelse if (data < 15) {\n    msg.payload = false;\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["aa2902e6.5b87d"]]},{"id":"146966ef.792d79","type":"function","z":"e1f8cc74.78c05","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1620,"wires":[["ebf54e44.5eb61"]]},{"id":"d5ff24a3.07f598","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"pres3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1620,"wires":[["1c2f5bbc.56c2b4"]]},{"id":"1c2f5bbc.56c2b4","type":"switch","z":"e1f8cc74.78c05","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":1620,"wires":[["146966ef.792d79"]]},{"id":"ebf54e44.5eb61","type":"switch","z":"e1f8cc74.78c05","name":"P2 <= 10","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1200,"y":1620,"wires":[["98be89c5.6b6338"]]},{"id":"4473e168.0eaab","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":1860,"wires":[]},{"id":"90c8a27f.0bec7","type":"function","z":"e1f8cc74.78c05","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":3080,"wires":[["fc0afd85.4455e"]]},{"id":"ae6270f6.0450b","type":"link in","z":"e1f8cc74.78c05","name":"","links":["fc0afd85.4455e","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1335,"y":1460,"wires":[["318243c8.26f4ec","818f6d5f.f4bbb"]]},{"id":"fc0afd85.4455e","type":"link out","z":"e1f8cc74.78c05","name":"","links":["ae6270f6.0450b","e3fac440.4aff28","8c62ae3a.4d3ff","d654601.be3d8a","e9e9ed97.b4ed5","4a52f34a.4fb98c","f9c3a430.98fac8","86c0ef84.68319","37e00632.e7369a","4020eec7.6eb71","ae3b17b2.4d26e8","6a2967ea.adcc48","c2f8b7e9.b80678","5ed9d17.f74ee3","2683aaa8.1e3d66"],"x":755,"y":3080,"wires":[]},{"id":"31024cc7.a4cf24","type":"rpi-gpio out","z":"e1f8cc74.78c05","name":"R4","pin":"15","set":"","level":"0","freq":"","out":"out","x":430,"y":2720,"wires":[]},{"id":"f591f471.3cb578","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"R4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2780,"wires":[["31024cc7.a4cf24","c1b5f92.04ef408"]]},{"id":"c1b5f92.04ef408","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":410,"y":2780,"wires":[["2e0453af.ef04bc"]]},{"id":"2e0453af.ef04bc","type":"ui_text","z":"e1f8cc74.78c05","group":"c1ef3595.db64d8","order":4,"width":"7","height":"1","name":"","label":"R4","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":2780,"wires":[]},{"id":"28081815.060238","type":"delay","z":"e1f8cc74.78c05","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":380,"wires":[["21c30f1a.4437b"]]},{"id":"edd0a7d7.cc0e18","type":"function","z":"e1f8cc74.78c05","name":"R4-ON","func":"var t3 = global.get(\"T3\")\nvar p2 = global.get(\"P2\")\n\nif (t3 > 65 && p2 > 16 ) {\n    global.set(\"R4\",false)\n    global.set(\"diode\",false)\n}\n","outputs":1,"noerr":0,"x":990,"y":1680,"wires":[[]]},{"id":"840ba684.22eb78","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":2900,"wires":[["a680f39f.110b1"]]},{"id":"a680f39f.110b1","type":"function","z":"e1f8cc74.78c05","name":"values","func":"global.set(\"value\", undefined)\nglobal.set(\"value1\", undefined)\nglobal.set(\"value2\", undefined)\nglobal.set(\"value3\", undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":2900,"wires":[[]]},{"id":"c90bfbd7.387348","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Sistem Hazır\" ;\n    return msg;\n}\nelse if (data === false){\n    msg.payload = \"Sistem Hazırlanıyor\" ;\n    return msg;\n}\nelse {\n    msg.payload = \" \" ;\n    return msg;\n}","outputs":1,"noerr":0,"x":870,"y":3300,"wires":[["eb5fd203.4f142","10a5d6ff.4d2ca9"]]},{"id":"10a5d6ff.4d2ca9","type":"ui_text","z":"e1f8cc74.78c05","group":"c1ef3595.db64d8","order":5,"width":"7","height":"1","name":"","label":"Sistem Durumu","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":3240,"wires":[]},{"id":"72d79357.80cdbc","type":"ui_toast","z":"e1f8cc74.78c05","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1150,"y":3320,"wires":[[]]},{"id":"43ff5e43.d6563","type":"delay","z":"e1f8cc74.78c05","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":3000,"wires":[["4b519611.ed3a88"]]},{"id":"3746265.b5fb7da","type":"function","z":"e1f8cc74.78c05","name":"","func":"var T1 = msg.payload[0] /10\nvar T2 = msg.payload[1] /10\nvar T3 = msg.payload[2] /10\nvar T4 = msg.payload[3] /10\nvar T5 = msg.payload[4] /10\nvar T6 = msg.payload[5] /10\n\nif (T1 != 850) {\n    global.set(\"T1\",T1)\n}\nif (T2 != 850) {\n    global.set(\"T2\",T2)\n    \n}\nif (T3 != 850) {\n    global.set(\"T3\",T3)\n    \n}\nif (T4 != 850) {\n    global.set(\"T4\",T4)\n    \n}\nif (T5 != 850) {\n    global.set(\"T5\",T5)\n    \n}\nif (T6 != 850) {\n    global.set(\"T6\",T6)\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":3580,"wires":[[]]},{"id":"f3efe4c9.c84188","type":"function","z":"e1f8cc74.78c05","name":"","func":"var P1 = msg.payload[0] /100\n\nmsg.payload = P1\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":3860,"wires":[["edb28d14.436ca"]]},{"id":"edb28d14.436ca","type":"range","z":"e1f8cc74.78c05","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload","name":"","x":510,"y":3860,"wires":[["c09745a3.2077c8"]]},{"id":"3324d25b.c0444e","type":"function","z":"e1f8cc74.78c05","name":"","func":"var P2 = msg.payload[1] /100\n\nmsg.payload = P2\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":3900,"wires":[["5a7d930a.7cc86c"]]},{"id":"5a7d930a.7cc86c","type":"range","z":"e1f8cc74.78c05","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"","x":510,"y":3900,"wires":[["c11b133.352b9f"]]},{"id":"4441ea5a.ecfd74","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":3860,"wires":[[]]},{"id":"55a62097.df077","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":3900,"wires":[[]]},{"id":"c09745a3.2077c8","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":3860,"wires":[["4441ea5a.ecfd74"]]},{"id":"c11b133.352b9f","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":3900,"wires":[["55a62097.df077"]]},{"id":"395789ec.68dee6","type":"delay","z":"e1f8cc74.78c05","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1300,"y":120,"wires":[["cf614bf4.7f71b8","b4c09b0b.c1abb8","47455b15.6dcee4"]]},{"id":"cf614bf4.7f71b8","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\nif (data === true) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    global.set(\"trigger\",false)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1450,"y":100,"wires":[["6210ef28.ea9b4"]]},{"id":"6210ef28.ea9b4","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":100,"wires":[]},{"id":"21c30f1a.4437b","type":"function","z":"e1f8cc74.78c05","name":"P2 > 15.9","func":"var p2      =   global.get(\"P2\")\nif ( p2 >= 16) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 16) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false;\n    return msg;\n\n}","outputs":1,"noerr":0,"x":320,"y":540,"wires":[["ec0bcfa6.f8142","3d74b8de.608d98"]]},{"id":"f029bf68.04d3a","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"4d8a894e.cbe0d8","order":2,"width":"4","height":"3","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":210,"y":3160,"wires":[["eefa5594.d4e1b8","a8a50103.19f16"]]},{"id":"6ba3c175.268fc","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"4d8a894e.cbe0d8","order":1,"width":"4","height":"3","passthru":false,"label":"Sistem Reset","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":670,"y":1060,"wires":[["78c0345c.90781c"]]},{"id":"42679fb4.98f15","type":"ui_toast","z":"e1f8cc74.78c05","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":750,"y":3160,"wires":[[]]},{"id":"a8a50103.19f16","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = \"Kapatma Başarılı\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":3160,"wires":[["ad080bde.38ea28"]]},{"id":"eb5fd203.4f142","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3320,"wires":[["72d79357.80cdbc"]]},{"id":"ad080bde.38ea28","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":610,"y":3160,"wires":[["42679fb4.98f15"]]},{"id":"29c20ce0.0229f4","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":2940,"wires":[["c10fd08b.ca1bf"]]},{"id":"c10fd08b.ca1bf","type":"function","z":"e1f8cc74.78c05","name":"diode","func":"global.set(\"diode\", false)\nglobal.set(\"trigger\",false)\nglobal.set(\"stop\",false)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":2940,"wires":[[]]},{"id":"5426f17a.828c","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"diode","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":1680,"wires":[["98c253a.41106b"]]},{"id":"98c253a.41106b","type":"switch","z":"e1f8cc74.78c05","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":1680,"wires":[["edd0a7d7.cc0e18"]]},{"id":"2d178ce2.4dd554","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"start\",msg.payload);\nvar data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Start Verildi\"\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":2940,"wires":[["29a4424d.0b730e"]]},{"id":"eefa5594.d4e1b8","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data    =   msg.payload;\nif (data === false) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":3000,"wires":[["43ff5e43.d6563","22eabbd3.6e03d4","90c8a27f.0bec7","ac68ff43.6ace7","c3bf12d5.78ae5","a08fbc3.377e84","8eebf7fe.d70098","74b09dba.e9b374","b5565e8c.2d801","f7e2240f.32b858","3336f72b.89eb38","a680f39f.110b1","c10fd08b.ca1bf"]]},{"id":"e3fac440.4aff28","type":"link in","z":"e1f8cc74.78c05","name":"","links":["fc0afd85.4455e","9555da57.8c2c38","3e7a19f3.f95c06"],"x":695,"y":140,"wires":[["f79217f5.fe9108"]]},{"id":"d654601.be3d8a","type":"link in","z":"e1f8cc74.78c05","name":"","links":["fc0afd85.4455e","9555da57.8c2c38","3e7a19f3.f95c06"],"x":895,"y":420,"wires":[["28081815.060238"]]},{"id":"4a52f34a.4fb98c","type":"link in","z":"e1f8cc74.78c05","name":"","links":["fc0afd85.4455e","9555da57.8c2c38","3e7a19f3.f95c06"],"x":615,"y":420,"wires":[["de4d4141.37c26"]]},{"id":"86c0ef84.68319","type":"link in","z":"e1f8cc74.78c05","name":"","links":["fc0afd85.4455e","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1215,"y":80,"wires":[["395789ec.68dee6"]]},{"id":"b9fcf0eb.2317a","type":"link in","z":"e1f8cc74.78c05","name":"","links":["7ff3c7b3.4029a8","f6fbfc5e.f77c8"],"x":1295,"y":2080,"wires":[["68acd518.d28aec"]]},{"id":"f1435b9d.0d7328","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"trigger","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["4bfeb007.367f7"]]},{"id":"4bfeb007.367f7","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":380,"wires":[["90f8fa67.9d60b8"]]},{"id":"31ba3116.dd554e","type":"function","z":"e1f8cc74.78c05","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":860,"y":540,"wires":[["2ee2120f.35896e"]]},{"id":"ca760d60.9aeca","type":"delay","z":"e1f8cc74.78c05","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":540,"wires":[["31ba3116.dd554e"]]},{"id":"e9019e25.b2bd6","type":"function","z":"e1f8cc74.78c05","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":570,"y":540,"wires":[["ca760d60.9aeca"]]},{"id":"4020eec7.6eb71","type":"link in","z":"e1f8cc74.78c05","name":"","links":["fc0afd85.4455e","9555da57.8c2c38","3e7a19f3.f95c06"],"x":615,"y":580,"wires":[["ca760d60.9aeca"]]},{"id":"87eb24bc.de4038","type":"comment","z":"e1f8cc74.78c05","name":"Marş - 2","info":"","x":720,"y":480,"wires":[]},{"id":"ae3b17b2.4d26e8","type":"link in","z":"e1f8cc74.78c05","name":"","links":["fc0afd85.4455e","9555da57.8c2c38","3e7a19f3.f95c06"],"x":915,"y":580,"wires":[["2ee2120f.35896e"]]},{"id":"2ee2120f.35896e","type":"delay","z":"e1f8cc74.78c05","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":540,"wires":[["3efe357d.0fe30a"]]},{"id":"3efe357d.0fe30a","type":"function","z":"e1f8cc74.78c05","name":"P2 > 16.9","func":"var p2      =   global.get(\"P2\")\nif ( p2 >= 17) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 17) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false ;\n    return msg;\n \n}","outputs":1,"noerr":0,"x":340,"y":800,"wires":[["409fd724.80f1d8","3d74b8de.608d98"]]},{"id":"3c19b058.cf24a","type":"function","z":"e1f8cc74.78c05","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":860,"y":800,"wires":[["5b68a58c.9e6abc"]]},{"id":"fcb50bfc.a86a38","type":"delay","z":"e1f8cc74.78c05","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":800,"wires":[["3c19b058.cf24a"]]},{"id":"6397d947.126d38","type":"function","z":"e1f8cc74.78c05","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":590,"y":800,"wires":[["fcb50bfc.a86a38"]]},{"id":"6a2967ea.adcc48","type":"link in","z":"e1f8cc74.78c05","name":"","links":["fc0afd85.4455e","9555da57.8c2c38","3e7a19f3.f95c06"],"x":615,"y":840,"wires":[["fcb50bfc.a86a38"]]},{"id":"5c6cb4ac.47b0cc","type":"comment","z":"e1f8cc74.78c05","name":"Marş - 3","info":"","x":720,"y":740,"wires":[]},{"id":"c2f8b7e9.b80678","type":"link in","z":"e1f8cc74.78c05","name":"","links":["fc0afd85.4455e","9555da57.8c2c38","3e7a19f3.f95c06"],"x":915,"y":840,"wires":[["5b68a58c.9e6abc"]]},{"id":"5b68a58c.9e6abc","type":"delay","z":"e1f8cc74.78c05","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":800,"wires":[["69b333f.103fccc"]]},{"id":"69b333f.103fccc","type":"function","z":"e1f8cc74.78c05","name":"P2 > 17.9","func":"var p2      =   global.get(\"P2\")\nif ( p2 >= 18) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 18) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1180,"y":840,"wires":[["3d74b8de.608d98","307714f2.3d1f3c","3acfc01d.45bf1"]]},{"id":"e28b897f.0dd6d8","type":"link out","z":"e1f8cc74.78c05","name":"","links":["176139e7.cc81e6"],"x":1435,"y":840,"wires":[]},{"id":"176139e7.cc81e6","type":"link in","z":"e1f8cc74.78c05","name":"","links":["e28b897f.0dd6d8"],"x":1235,"y":1420,"wires":[["98be89c5.6b6338"]]},{"id":"18dff7db.519b68","type":"comment","z":"e1f8cc74.78c05","name":"Acil Stop","info":"","x":1200,"y":780,"wires":[]},{"id":"29a4424d.0b730e","type":"ui_toast","z":"e1f8cc74.78c05","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":530,"y":2940,"wires":[[]]},{"id":"b4c09b0b.c1abb8","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.reset = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1430,"y":180,"wires":[["7650f34.fbccc0c"]]},{"id":"7650f34.fbccc0c","type":"link out","z":"e1f8cc74.78c05","name":"","links":["5ccb39df.811d28","60551a78.95ad94","173b5458.3397fc","c819937f.27b44","51b6f71d.d70828","20d6738.4291b8c"],"x":1560,"y":180,"wires":[]},{"id":"5ccb39df.811d28","type":"link in","z":"e1f8cc74.78c05","name":"","links":["7650f34.fbccc0c"],"x":615,"y":340,"wires":[["de4d4141.37c26"]]},{"id":"60551a78.95ad94","type":"link in","z":"e1f8cc74.78c05","name":"","links":["7650f34.fbccc0c"],"x":895,"y":340,"wires":[["28081815.060238"]]},{"id":"173b5458.3397fc","type":"link in","z":"e1f8cc74.78c05","name":"","links":["7650f34.fbccc0c"],"x":615,"y":500,"wires":[["ca760d60.9aeca"]]},{"id":"c819937f.27b44","type":"link in","z":"e1f8cc74.78c05","name":"","links":["7650f34.fbccc0c"],"x":915,"y":500,"wires":[["2ee2120f.35896e"]]},{"id":"51b6f71d.d70828","type":"link in","z":"e1f8cc74.78c05","name":"","links":["7650f34.fbccc0c"],"x":615,"y":760,"wires":[["fcb50bfc.a86a38"]]},{"id":"20d6738.4291b8c","type":"link in","z":"e1f8cc74.78c05","name":"","links":["7650f34.fbccc0c"],"x":895,"y":760,"wires":[["5b68a58c.9e6abc"]]},{"id":"3d74b8de.608d98","type":"switch","z":"e1f8cc74.78c05","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":620,"wires":[["74823d5c.ac7b34"]]},{"id":"ec0bcfa6.f8142","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":540,"wires":[["e9019e25.b2bd6"]]},{"id":"409fd724.80f1d8","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":800,"wires":[["6397d947.126d38"]]},{"id":"c442c4d1.e8d148","type":"function","z":"e1f8cc74.78c05","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":620,"wires":[["cceee090.9a739"]]},{"id":"cceee090.9a739","type":"link out","z":"e1f8cc74.78c05","name":"","links":["167cce3e.8b5f62"],"x":795,"y":620,"wires":[]},{"id":"167cce3e.8b5f62","type":"link in","z":"e1f8cc74.78c05","name":"","links":["cceee090.9a739"],"x":1115,"y":80,"wires":[["395789ec.68dee6","4353e6e6.77d4e8"]]},{"id":"74823d5c.ac7b34","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data    =   msg.payload;\nif (data === false) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":590,"y":620,"wires":[["c442c4d1.e8d148"]]},{"id":"9cc515fc.daead8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"temp3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1500,"wires":[["dd9b7e6b.daaa1"]]},{"id":"dd9b7e6b.daaa1","type":"switch","z":"e1f8cc74.78c05","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":1500,"wires":[["49d65211.c65bdc"]]},{"id":"49d65211.c65bdc","type":"function","z":"e1f8cc74.78c05","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1500,"wires":[["b745c446.59fe48"]]},{"id":"b745c446.59fe48","type":"switch","z":"e1f8cc74.78c05","name":"T3 < 50","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1200,"y":1500,"wires":[["98be89c5.6b6338"]]},{"id":"cc82e664.559bb8","type":"function","z":"e1f8cc74.78c05","name":"P1","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":920,"wires":[[]]},{"id":"18f4d2c7.4ea58d","type":"function","z":"e1f8cc74.78c05","name":"P2","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1020,"wires":[[]]},{"id":"6cbaa172.2d453","type":"debug","z":"e1f8cc74.78c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":160,"wires":[]},{"id":"b5360d83.3b52","type":"function","z":"e1f8cc74.78c05","name":"","func":"msg.payload = 0\nglobal.set(\"stop\",false)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":3240,"wires":[["f6fbfc5e.f77c8"]]},{"id":"f6fbfc5e.f77c8","type":"link out","z":"e1f8cc74.78c05","name":"","links":["1ba41dd8.f03492","87b4f24.3febe1","f0e38571.924db8","b9fcf0eb.2317a","838ce784.849f28","2fd23349.6d3b4c"],"x":695,"y":3240,"wires":[]},{"id":"4b519611.ed3a88","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"stop\",true)\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":3000,"wires":[[]]},{"id":"b3c25e1d.1d12c","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"stop","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":3240,"wires":[["743cc919.eabe18"]]},{"id":"743cc919.eabe18","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":3240,"wires":[["b5360d83.3b52","6090b87a.99a848"]]},{"id":"285143e0.371d2c","type":"function","z":"e1f8cc74.78c05","name":"","func":"var v   =   global.get(\"value\");\n//var v1  =   global.get(\"value1\");\n//var v2  =   global.get(\"value2\");\n//var v3  =   global.get(\"value3\");\nif (v === 0) {\n    msg.payload = true;\n    return msg;\n}\nelse {\n    global.set(\"stop\",true)\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":3300,"wires":[["c90bfbd7.387348","5f279100.eb4bf"]]},{"id":"6090b87a.99a848","type":"delay","z":"e1f8cc74.78c05","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":3300,"wires":[["285143e0.371d2c"]]},{"id":"307714f2.3d1f3c","type":"debug","z":"e1f8cc74.78c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":900,"wires":[]},{"id":"5b480c18.03c9b4","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"15.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":900,"wires":[["18f4d2c7.4ea58d"]]},{"id":"14bdb4ff.f0756b","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":860,"wires":[["cc82e664.559bb8","18f4d2c7.4ea58d"]]},{"id":"c4b23d16.ca91c","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"17.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":980,"wires":[["18f4d2c7.4ea58d"]]},{"id":"ccadaa39.77ea18","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"16.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":940,"wires":[["18f4d2c7.4ea58d"]]},{"id":"b4aacb79.b60608","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"18.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1020,"wires":[["18f4d2c7.4ea58d"]]},{"id":"6ba80c27.f2fa84","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data    =   msg.payload;\nif (data === true) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":930,"y":3180,"wires":[["22eabbd3.6e03d4","ac68ff43.6ace7","c3bf12d5.78ae5","a08fbc3.377e84","8eebf7fe.d70098","74b09dba.e9b374","b5565e8c.2d801","f7e2240f.32b858","3336f72b.89eb38","a680f39f.110b1","c10fd08b.ca1bf"]]},{"id":"5f279100.eb4bf","type":"delay","z":"e1f8cc74.78c05","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":3240,"wires":[["6ba80c27.f2fa84"]]},{"id":"3acfc01d.45bf1","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1350,"y":840,"wires":[["e28b897f.0dd6d8"]]},{"id":"934dcda.b04993","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"efb09855.362ef8","order":1,"width":"4","height":"3","gtype":"donut","title":"5 dk","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":3460,"wires":[]},{"id":"17e72849.2073b8","type":"ui_gauge","z":"e1f8cc74.78c05","name":"","group":"efb09855.362ef8","order":2,"width":"4","height":"3","gtype":"donut","title":"3 dk","label":"units","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":3500,"wires":[]},{"id":"f2af33d9.06e11","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":620,"wires":[["e2a8ee7a.ea03a"]]},{"id":"fce1a833.56a0c8","type":"switch","z":"e1f8cc74.78c05","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":660,"wires":[["e2a8ee7a.ea03a"]]},{"id":"2d5c1d.c75473e4","type":"function","z":"e1f8cc74.78c05","name":"driver up down","func":"msg.payload = global.get(\"trig\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1360,"y":540,"wires":[["f2af33d9.06e11","fce1a833.56a0c8"]]},{"id":"c8a8b268.ffc79","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"trig","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1190,"y":480,"wires":[["176665c0.b0790a"]]},{"id":"176665c0.b0790a","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":480,"wires":[["2d5c1d.c75473e4"]]},{"id":"e2a8ee7a.ea03a","type":"function","z":"e1f8cc74.78c05","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"timer\");\n\nif(msg.payload === true && Value <300){\n    global.set('timer', Value + 1)\n\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('timer', Value - 1)\n\n}\nValue = global.get(\"timer\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1510,"y":620,"wires":[[]]},{"id":"3e069398.52be7c","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1270,"y":420,"wires":[["e4b81870.475f68"]]},{"id":"e4b81870.475f68","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"timer\",0)\nglobal.set(\"trig\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":420,"wires":[[]]},{"id":"b212318d.c40a6","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"timer","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":3460,"wires":[["934dcda.b04993"]]},{"id":"cad03f79.fe6cd","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"timer2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":3500,"wires":[["17e72849.2073b8"]]},{"id":"5e81cc4d.297c04","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1610,"y":1380,"wires":[["3e66dbc9.86b5e4"]]},{"id":"a1bc226c.397aa","type":"switch","z":"e1f8cc74.78c05","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1610,"y":1420,"wires":[["3e66dbc9.86b5e4"]]},{"id":"eb229428.52e8d8","type":"function","z":"e1f8cc74.78c05","name":"driver up down","func":"msg.payload = global.get(\"trig2\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1640,"y":1320,"wires":[["5e81cc4d.297c04","a1bc226c.397aa"]]},{"id":"33b912f3.1b4a6e","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"trig2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1470,"y":1260,"wires":[["e9bd2a62.63c4c8"]]},{"id":"e9bd2a62.63c4c8","type":"switch","z":"e1f8cc74.78c05","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1610,"y":1260,"wires":[["eb229428.52e8d8"]]},{"id":"3e66dbc9.86b5e4","type":"function","z":"e1f8cc74.78c05","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"timer2\");\n\nif(msg.payload === true && Value <180){\n    global.set('timer2', Value + 1)\n\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('timer2', Value - 1)\n\n}\nValue = global.get(\"timer2\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1690,"y":1480,"wires":[[]]},{"id":"186adda0.4a24c2","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":300,"wires":[["7f10ce71.54b2b","395789ec.68dee6"]]},{"id":"794e52bf.0b417c","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1010,"y":340,"wires":[["7f10ce71.54b2b","3e375ebe.e98ac2","b20f79e6.9f83c8"]]},{"id":"3e375ebe.e98ac2","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1290,"y":280,"wires":[["395789ec.68dee6"]]},{"id":"7f10ce71.54b2b","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"trig\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":320,"wires":[[]]},{"id":"b20f79e6.9f83c8","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1290,"y":360,"wires":[["e4b81870.475f68"]]},{"id":"47455b15.6dcee4","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1470,"y":300,"wires":[["e4b81870.475f68"]]},{"id":"66c16127.afb16","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1690,"y":1640,"wires":[[]]},{"id":"e716cf8d.3eb3f","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1700,"wires":[["5ce9d370.fd138c","318243c8.26f4ec"]]},{"id":"4735f58e.7d01ec","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":1740,"wires":[["5ce9d370.fd138c","a3f0aa08.038f58","6d67b925.9017d8"]]},{"id":"a3f0aa08.038f58","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1510,"y":1660,"wires":[["318243c8.26f4ec"]]},{"id":"5ce9d370.fd138c","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"trig2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1700,"wires":[[]]},{"id":"6d67b925.9017d8","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1510,"y":1740,"wires":[["af83c04a.2ac2a"]]},{"id":"4353e6e6.77d4e8","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload\nif (data === true ) {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1230,"y":220,"wires":[["3e375ebe.e98ac2","7f10ce71.54b2b","b20f79e6.9f83c8"]]},{"id":"818f6d5f.f4bbb","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload\nif (data === true ) {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1370,"y":1640,"wires":[["a3f0aa08.038f58","5ce9d370.fd138c","6d67b925.9017d8"]]},{"id":"ae1cb91.6f60f48","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1690,"y":1700,"wires":[["af83c04a.2ac2a"]]},{"id":"af83c04a.2ac2a","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"timer2\",0)\nglobal.set(\"trig2\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":1700,"wires":[[]]},{"id":"461c73c7.b6388c","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"bb690632.eb2308","order":1,"width":8,"height":4,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":530,"y":2840,"wires":[["a6f8c0ad.d78fc"]]},{"id":"8e4254d0.2ce4d8","type":"ui_button","z":"e1f8cc74.78c05","name":"","group":"bb690632.eb2308","order":2,"width":8,"height":4,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":530,"y":2880,"wires":[["a6f8c0ad.d78fc"]]},{"id":"3526b1fb.bcbf3e","type":"ui_text","z":"e1f8cc74.78c05","group":"c1ef3595.db64d8","order":3,"width":"7","height":1,"name":"","label":"R3","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":2680,"wires":[]},{"id":"1afe6d44.1aad23","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"R3","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":2680,"wires":[["5ada49d6.18b8b8","aa9db50a.e05ef8"]]},{"id":"aa9db50a.e05ef8","type":"rpi-gpio out","z":"e1f8cc74.78c05","name":"R3 (Pin numarası Belirleyiniz)","pin":"29","set":"","level":"0","freq":"","out":"out","x":510,"y":2620,"wires":[]},{"id":"5ada49d6.18b8b8","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\n\n\nif( data === true){\n    msg.payload = \"Kapalı\";\n\n    return msg;\n}else if( data === false ){\n    \n    msg.payload = \"Açık\";\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":2680,"wires":[["3526b1fb.bcbf3e"]]},{"id":"a6f8c0ad.d78fc","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\n\n\nif( data === true ){\n    \n    global.set(\"R3\",false);\n    \n    \n}else if( data === false ){\n    \n    global.set(\"R3\",true);\n    \n    \n      \n}\n\n\n\n","outputs":1,"noerr":0,"x":670,"y":2860,"wires":[[]]},{"id":"afac72a7.6d5f5","type":"function","z":"e1f8cc74.78c05","name":"","func":"\nvar data = msg.payload;\n\n\nif( data === false ){\n    msg.enabled = false\n    \n    return msg;\n    \n}else if( data === true ){\n    \n    msg.enabled = true;\n    return msg;\n     \n    \n}\n\n\n","outputs":1,"noerr":0,"x":410,"y":2840,"wires":[["461c73c7.b6388c"]]},{"id":"cca49b8c.13b568","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"R3","payloadType":"global","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":2860,"wires":[["afac72a7.6d5f5","929e85e3.9a1c68"]]},{"id":"929e85e3.9a1c68","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\n\n\nif( data === false ){\n    msg.enabled = true\n    \n    return msg;\n    \n}else if( data === true ){\n    \n    msg.enabled = false;\n    return msg;\n     \n    \n}\n","outputs":1,"noerr":0,"x":410,"y":2880,"wires":[["8e4254d0.2ce4d8"]]},{"id":"ba9f85c9.90c9a8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":3000,"wires":[["fa08c50.3390038"]]},{"id":"fa08c50.3390038","type":"function","z":"e1f8cc74.78c05","name":"R3","func":"global.set(\"R3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":3000,"wires":[[]]},{"id":"dc49a8d3.11ade8","type":"comment","z":"e1f8cc74.78c05","name":"Röle","info":"","x":210,"y":2400,"wires":[]},{"id":"42843417.9ccb3c","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":850,"y":3540,"wires":[["dbb16100.b3d1c"]]},{"id":"dbb16100.b3d1c","type":"function","z":"e1f8cc74.78c05","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"A1_v1\"     :undefined,\n    \"A1_v2\"     :undefined,\n    \"A1_v3\"     :undefined,\n    \"A1_c1\"     :undefined,\n    \"A1_c2\"     :undefined,\n    \"A1_c3\"     :undefined,\n    \"A1_p1\"     :undefined,\n    \"A1_p2\"     :undefined,\n    \"A1_p3\"     :undefined,\n    \"A1_t_p\"    :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"P3\"        :undefined,\n    \"P4\"        :undefined,\n    \"PT\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":3540,"wires":[[]]},{"id":"5ebfd3a.b7dd02c","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":3580,"wires":[]},{"id":"a91e6cee.e0218","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":3580,"wires":[["5ebfd3a.b7dd02c"]]},{"id":"efda1086.6fd3f","type":"function","z":"e1f8cc74.78c05","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0]  /   10,\n        \"Temp2\"\t:   msg.payload[1]  /   10,\n        \"Temp3\"\t:   msg.payload[2]  /   10,\n        \"Temp4\"\t:   msg.payload[3]  /   10,\n        \"Temp5\"\t:   msg.payload[4]  /   10,\n        \"Temp6\"\t:   msg.payload[5]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":3640,"wires":[["1e0a033e.cc99fd"]]},{"id":"8aec5998.c520f8","type":"debug","z":"e1f8cc74.78c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":3700,"wires":[]},{"id":"1e0a033e.cc99fd","type":"function","z":"e1f8cc74.78c05","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":3640,"wires":[[]]},{"id":"7c5f9ad1.1156d4","type":"ui_level","z":"e1f8cc74.78c05","group":"8d8ad228.5a975","order":1,"width":"6","height":"6","name":"T1","label":"T1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":410,"y":4440,"wires":[]},{"id":"28f5e496.17a2ac","type":"ui_level","z":"e1f8cc74.78c05","group":"8e5d843d.7029e8","order":2,"width":"6","height":"6","name":"T2","label":"T2","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":410,"y":4480,"wires":[]},{"id":"f12db94b.1eace8","type":"ui_level","z":"e1f8cc74.78c05","group":"98c34136.8f6a8","order":3,"width":"6","height":"6","name":"T3","label":"T3","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":410,"y":4520,"wires":[]},{"id":"1a0043d9.899fdc","type":"ui_level","z":"e1f8cc74.78c05","group":"ea0a6bf9.3f40c8","order":4,"width":"6","height":"6","name":"T4","label":"T4","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":410,"y":4560,"wires":[]},{"id":"a54f9d1c.603fa","type":"ui_level","z":"e1f8cc74.78c05","group":"9b4d09d3.6ce778","order":5,"width":"6","height":"6","name":"T5","label":"T5","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":410,"y":4600,"wires":[]},{"id":"56cff7d3.aa1d38","type":"ui_level","z":"e1f8cc74.78c05","group":"bc602f9a.928a3","order":6,"width":"6","height":"6","name":"T6","label":"T6","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":410,"y":4640,"wires":[]},{"id":"c9b2da74.9bdff8","type":"ui_level","z":"e1f8cc74.78c05","group":"9f5f0d6b.dad2e","order":1,"width":"5","height":"4","name":"T1","label":"T1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":550,"y":4440,"wires":[]},{"id":"a10b4c7d.4b515","type":"ui_level","z":"e1f8cc74.78c05","group":"9f5f0d6b.dad2e","order":2,"width":"6","height":"4","name":"T3","label":"T3","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":550,"y":4520,"wires":[]},{"id":"8ef933cc.f22a3","type":"ui_level","z":"e1f8cc74.78c05","group":"9f5f0d6b.dad2e","order":3,"width":"5","height":"4","name":"T5","label":"T5","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":550,"y":4600,"wires":[]},{"id":"894eeb4d.efb758","type":"ui_level","z":"e1f8cc74.78c05","group":"5116d6a7.1fa5a8","order":1,"width":"4","height":"5","name":"P1","label":"P1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"custom","colorText":"#eeeeee","fontLabel":"1.5","fontValue":"3","fontSmall":"1.5","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":870,"y":4440,"wires":[]},{"id":"4c058a98.189e44","type":"ui_level","z":"e1f8cc74.78c05","group":"5116d6a7.1fa5a8","order":2,"width":"4","height":"5","name":"P2","label":"P2","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":870,"y":4480,"wires":[]},{"id":"2d83bbd2.63edb4","type":"ui_level","z":"e1f8cc74.78c05","group":"5116d6a7.1fa5a8","order":3,"width":"4","height":"5","name":"P2S","label":"P2S","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":870,"y":4520,"wires":[]},{"id":"607dfc04.977d14","type":"ui_level","z":"e1f8cc74.78c05","group":"5116d6a7.1fa5a8","order":4,"width":"4","height":"5","name":"PS","label":"PS","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":"3000","x":870,"y":4560,"wires":[]},{"id":"267f56d7.dbf06a","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":2640,"wires":[]},{"id":"77249e62.d50ad","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":4440,"wires":[["7c5f9ad1.1156d4","c9b2da74.9bdff8"]]},{"id":"353cd2c9.9928be","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"T2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":4480,"wires":[["28f5e496.17a2ac"]]},{"id":"7df1f880.5539a8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":4520,"wires":[["f12db94b.1eace8","a10b4c7d.4b515"]]},{"id":"f8412561.201628","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"T4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":4560,"wires":[["1a0043d9.899fdc"]]},{"id":"993b0b.52b0a4f8","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"T5","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":4600,"wires":[["a54f9d1c.603fa","8ef933cc.f22a3"]]},{"id":"ec5cbed.2c8e04","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"T6","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":4640,"wires":[["56cff7d3.aa1d38"]]},{"id":"adcff147.783d2","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":4440,"wires":[["894eeb4d.efb758"]]},{"id":"2d407b1d.66dfb4","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":4480,"wires":[["4c058a98.189e44"]]},{"id":"9087d620.7fb088","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"P2S","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":4520,"wires":[["2d83bbd2.63edb4"]]},{"id":"5e86fbc7.238974","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"PS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":4560,"wires":[["607dfc04.977d14"]]},{"id":"3d1b7de6.f752a2","type":"function","z":"e1f8cc74.78c05","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"P1\"    :   msg.payload[0]  /   100,\n        \"P2\"\t:   msg.payload[1]  /   100,\n        \"P3\"\t:   msg.payload[2]  /   100,\n        \"P4\"\t:   msg.payload[3]  /   100\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":3760,"wires":[["fd3f1f3d.48129","6af98356.5009bc"]]},{"id":"fd3f1f3d.48129","type":"range","z":"e1f8cc74.78c05","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P1","name":"","x":510,"y":3780,"wires":[["f082aace.987808"]]},{"id":"6af98356.5009bc","type":"range","z":"e1f8cc74.78c05","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P2","name":"","x":510,"y":3820,"wires":[["51f36b97.be2aa4"]]},{"id":"f082aace.987808","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = parseFloat( (msg.payload.P1).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":3780,"wires":[[]]},{"id":"51f36b97.be2aa4","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = parseFloat( (msg.payload.P2).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":3820,"wires":[[]]},{"id":"6e07739f.7fbd5c","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":3680,"wires":[[]]},{"id":"4ee37ee2.e00e9","type":"azureiothub","z":"e1f8cc74.78c05","name":"Azure IoT Hub","protocol":"mqtt","x":1060,"y":3840,"wires":[["7249a30.b76015c"]]},{"id":"5e18aefe.9b4f1","type":"function","z":"e1f8cc74.78c05","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"2c61c9f2-4c98-4121-9782-e58a54533747\",\n        \"key\": \"dd/k0MTs70DG9kS/h0uuyTjmvDZa077IF+VVV+pKD/w=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":3780,"wires":[["4ee37ee2.e00e9"]]},{"id":"7249a30.b76015c","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":3900,"wires":[]},{"id":"b01d69d2.92c5c8","type":"comment","z":"e1f8cc74.78c05","name":"Set fonksiyonu iptali için","info":"","x":520,"y":1940,"wires":[]},{"id":"4b88e5fa.17127c","type":"ui_form","z":"e1f8cc74.78c05","name":"","label":"","group":"622ed5d0.373ccc","order":0,"width":"0","height":"0","options":[{"label":"Minimum","value":"Min","type":"number","required":true},{"label":"Maksimum","value":"Max","type":"number","required":true}],"formValue":{"Min":"","Max":""},"payload":"","submit":"Gönder","cancel":"İptal","topic":"","x":130,"y":3280,"wires":[["2f0f6daa.062942","4c3fc052.24b4d","36be1eab.e64792"]]},{"id":"2f0f6daa.062942","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"driver_min\",msg.payload.Min)\nglobal.set(\"driver_max\",msg.payload.Max)\nglobal.set(\"driver\",msg.payload.Min)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":3280,"wires":[[]]},{"id":"4c3fc052.24b4d","type":"function","z":"e1f8cc74.78c05","name":"","func":"\nmsg = {ui_control:{min:msg.payload.Min}};\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":3320,"wires":[[]]},{"id":"36be1eab.e64792","type":"function","z":"e1f8cc74.78c05","name":"","func":"\nmsg = {ui_control:{max:msg.payload.Max}};\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":3360,"wires":[[]]},{"id":"e54c353f.b660d8","type":"http in","z":"e1f8cc74.78c05","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":630,"y":4760,"wires":[["1cb8c59f.7856ca","a39dd2b5.2f2","4d910fe6.1afdd"]]},{"id":"1cb8c59f.7856ca","type":"debug","z":"e1f8cc74.78c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":4800,"wires":[]},{"id":"a39dd2b5.2f2","type":"function","z":"e1f8cc74.78c05","name":"","func":"global.set(\"azure_data\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":4660,"wires":[[]]},{"id":"4d910fe6.1afdd","type":"http response","z":"e1f8cc74.78c05","name":"","statusCode":"200","headers":{},"x":860,"y":4900,"wires":[]},{"id":"6d99c307.bd38bc","type":"function","z":"e1f8cc74.78c05","name":"","func":"var azure_data = global.get(\"azure_data\")\n\nglobal.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",azure_data.P2)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":3060,"wires":[[]]},{"id":"69f80fb1.bacb8","type":"function","z":"e1f8cc74.78c05","name":"","func":"var data = msg.payload;\n\nif (data === true) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":210,"y":200,"wires":[[]]},{"id":"78c0345c.90781c","type":"exec","z":"e1f8cc74.78c05","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":870,"y":960,"wires":[[],[],[]]},{"id":"6647e66a.0e7568","type":"inject","z":"e1f8cc74.78c05","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":980,"wires":[["78c0345c.90781c"]]},{"id":"163e7d55.fa8d33","type":"debug","z":"e1f8cc74.78c05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":280,"wires":[]},{"id":"c1ef3595.db64d8","type":"ui_group","z":"","name":"Röle Durumları","tab":"36afdff2.96163","order":2,"disp":false,"width":"7","collapse":false},{"id":"622ed5d0.373ccc","type":"ui_group","z":"","name":"Sürücü","tab":"36afdff2.96163","order":4,"disp":false,"width":"7","collapse":false},{"id":"88a89c57.49b34","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"4d8a894e.cbe0d8","type":"ui_group","z":"","name":"Start - Stop","tab":"36afdff2.96163","order":5,"disp":false,"width":"8","collapse":false},{"id":"efb09855.362ef8","type":"ui_group","z":"","name":"Timer","tab":"36afdff2.96163","order":6,"disp":false,"width":"8","collapse":false},{"id":"bb690632.eb2308","type":"ui_group","z":"","name":"                              R3 ON/OFF","tab":"adc05d95.450dc","order":1,"disp":true,"width":"16","collapse":false},{"id":"8d8ad228.5a975","type":"ui_group","z":"","name":"T1","tab":"1bd68073.39b34","order":1,"disp":false,"width":"6","collapse":false},{"id":"8e5d843d.7029e8","type":"ui_group","z":"","name":"T2","tab":"1bd68073.39b34","order":2,"disp":false,"width":"6","collapse":false},{"id":"98c34136.8f6a8","type":"ui_group","z":"","name":"T3","tab":"1bd68073.39b34","order":3,"disp":false,"width":"6","collapse":false},{"id":"ea0a6bf9.3f40c8","type":"ui_group","z":"","name":"T4","tab":"1bd68073.39b34","order":4,"disp":false,"width":"6","collapse":false},{"id":"9b4d09d3.6ce778","type":"ui_group","z":"","name":"T5","tab":"1bd68073.39b34","order":5,"disp":false,"width":"6","collapse":false},{"id":"bc602f9a.928a3","type":"ui_group","z":"","name":"T6","tab":"1bd68073.39b34","order":6,"disp":false,"width":"6","collapse":false},{"id":"9f5f0d6b.dad2e","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"36afdff2.96163","order":1,"disp":false,"width":"16","collapse":false},{"id":"5116d6a7.1fa5a8","type":"ui_group","z":"","name":"Basınçlar","tab":"36afdff2.96163","order":3,"disp":false,"width":"16","collapse":false},{"id":"36afdff2.96163","type":"ui_tab","z":"","name":"Atık Isı","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"adc05d95.450dc","type":"ui_tab","z":"","name":"Röle Kontrol","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"1bd68073.39b34","type":"ui_tab","z":"","name":"Sıcaklık Sensör","icon":"dashboard","order":5}]