RePG_algoritma_08102019.txt
[{"id":"b745b065.49b5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc49046.7e880f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"eb71ce27.cffc4","type":"subflow","name":"Process Simulation","info":"","in":[{"x":37,"y":103,"wires":[{"id":"e1ab091.357e7f8"}]}],"out":[{"x":728.5,"y":294,"wires":[{"id":"96ab2f4e.acb3e","port":0}]}]},{"id":"1c3894a7.37714b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d4ada4f6.4b5b58","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"3b23f8b8.daf598","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":true,"width":"28","collapse":false},{"id":"7c0dbd27.8b1f84","type":"ui_group","z":"","name":"Default","tab":"","disp":false,"width":"10","collapse":false},{"id":"4f6c0e11.3563f","type":"ui_group","z":"","name":"PID","tab":"","disp":true,"width":"27","collapse":false},{"id":"5a3d70d3.5f771","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM4","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"87b6f726.474fb8","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"c469aa34.001c98","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"adf33bdc.aa9ae8","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"7ce0442b.78e1fc","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"3bb6e1d6.10367e","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"fe145b72.87a5f8","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"bc15aaf3.b2cfc8","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"b39621e3.7c4c7","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"38ee346f.a282ec","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"c1ce5095.aa33","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"b812fc82.adb6b","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"b68dee6.5d3381","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"d9c83cd5.8ac5d","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"ec4c107d.ecea4","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"35e7fea3.8c22b2","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"12b67368.93df4d","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"d87b45fe.7d3bd8","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"e11e5857.c4f8d8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":3000,"reconnectTimeout":2000},{"id":"4fc912ee.085e7c","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"1956176f.e8bf39","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"874f07a4.1903c8","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"cddea4a7.c217d8","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"db761f23.f3bc9","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"425228aa.b2de68","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"c213d2a.fe6b03","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"db65e52a.524938","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"3aafbaa.d8e5746","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"53418b17.cab254","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"9e8bef9d.22e29","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"4","collapse":false},{"id":"67306356.8d91cc","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"4","collapse":false},{"id":"45a9e978.de88f8","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"3711022b.da21ae","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"156c32d0.94555d","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"c477e9cc.511838","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"4","collapse":false},{"id":"1243c987.9eb0a6","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7307d54a.f4345c","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"5f3d2e7d.92c6e","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"d83c9be8.34b108","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"4b69908.6a27a7","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"8eda4ca5.1165c","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"486abb84.c3eba4","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"8aed5299.30a09","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"8cc3d09c.fbedf","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"962e2920.6b21f8","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"78937ac5.8488d4","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"842c04d5.9e14d8","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"41fcb57b.456d6c","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"7d890571.36233c","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"15e5e654.0aab0a","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"b8f731a1.7ed63","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"d6781cf6.fec32","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"84226bd5.d6c178","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"245b74ec.ddfa0c","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"6c70b998.a77c68","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"185b3ca1.c95073","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"ebaaf13f.16f13","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"938c66c1.6818c8","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"bd7e898a.f2c5f8","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"5a8f9ee9.a03e4","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"9f00f0f2.4428","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"d95f1e39.c6c66","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"2ddb5cd7.db46a4","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"7167790c.551bd8","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"844093b2.74efc","type":"ui_group","z":"","name":"Buton","tab":"","order":2,"disp":true,"width":"10","collapse":false},{"id":"170e59c5.3c8536","type":"ui_group","z":"","name":"Buton-3","tab":"","order":1,"disp":false,"width":"10","collapse":false},{"id":"f06b6cc6.5b72b","type":"ui_group","z":"","name":"Buton-4","tab":"","order":2,"disp":false,"width":"10","collapse":false},{"id":"9780aee2.34502","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"3f245eb2.603a22","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"691fab84.0cff64","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"38c546de.c46c8a","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"eaffd576.5f21b8","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"5c47eb1d.9ddb34","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"85dd17e.c30ade8","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"577b5407.6b0d7c","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"cb988f29.b0b31","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"947efe11.a657f","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"53af3419.3f26ac","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"bd3b398.f8611c8","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"5fd116b2.b7d8c8","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"a0578a86.321928","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"789d090e.bf3898","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"e05e6071.48c0a","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"10","collapse":false},{"id":"766145dd.ce60ac","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":3,"disp":true,"width":"10","collapse":false},{"id":"e9b0c2ff.35a7e","type":"ui_group","z":"","name":"Basınç","tab":"","order":4,"disp":true,"width":"10","collapse":false},{"id":"8772a031.bf5ee","type":"ui_group","z":"","name":"İnput Girişi","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"371966b4.7f4d0a","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":1,"disp":true,"width":"11","collapse":false},{"id":"275c072f.47d718","type":"ui_group","z":"","name":"Otomatik Panel","tab":"","order":2,"disp":true,"width":"11","collapse":false},{"id":"3a68ae55.212712","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"eb9857ed.6e47a8","type":"ui_group","z":"","name":"Auto Butonu","tab":"","order":3,"disp":true,"width":"22","collapse":false},{"id":"97c9728c.dbfe7","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"11","collapse":false},{"id":"9238bddd.4114a","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"11","collapse":false},{"id":"24f87c42.ee6b14","type":"ui_group","z":"","name":"Buton-1","tab":"","order":3,"disp":false,"width":"11","collapse":false},{"id":"407fbfee.3dca7","type":"ui_group","z":"","name":"Buton-2","tab":"","order":4,"disp":false,"width":"11","collapse":false},{"id":"9f592df8.1e5ee","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"11","collapse":false},{"id":"92f80a9c.2af658","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"11","collapse":false},{"id":"f2ae2dfe.2b6a9","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"11","collapse":false},{"id":"ef3db51e.e80718","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"11","collapse":false},{"id":"19cd4a09.a3eae6","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"7","collapse":false},{"id":"5277c949.bc2278","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"7","collapse":false},{"id":"934ec86.135f238","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"7","collapse":false},{"id":"c9850925.c27d88","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"7","collapse":false},{"id":"520ddd26.26a3f4","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"7","collapse":false},{"id":"74294fdf.cf82c","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"7","collapse":false},{"id":"ff475bb2.c86d28","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":false,"width":"11","collapse":false},{"id":"493c4f85.5b007","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":false,"width":"11","collapse":false},{"id":"e0a1c4ad.d47598","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":false,"width":"11","collapse":false},{"id":"1c88c56b.0dac9b","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":false,"width":"11","collapse":false},{"id":"4034c378.fb448c","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"c8d34129.15ffa","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"58caffa1.01a86","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"84f5d31.a507e3","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"e668c76d.f432a8","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"cf928e43.9b33d","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"76755abf.a79954","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"6b3883a6.52dedc","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"5092629c.6ed80c","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"4","collapse":false},{"id":"c39b31f0.9ffee","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"4","collapse":false},{"id":"c3fb33f.61140d","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"eaffb04a.cbaaf","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"64caf104.b0376","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"257d1f57.6ab51","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"4","collapse":false},{"id":"eb831554.7e3488","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba381ce9.d2ab3","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"da5b5b17.e69958","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"fa446934.53f928","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"a1cdcf04.040c5","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"c3b07730.b04958","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"cd53195e.8fcda8","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"d0f66dbc.5912b","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"461f8f7c.39b76","type":"ui_group","z":"","name":"Buton-1","tab":"","order":3,"disp":false,"width":"9","collapse":false},{"id":"ce173f85.92aa2","type":"ui_group","z":"","name":"Buton-2","tab":"","order":4,"disp":false,"width":"9","collapse":false},{"id":"cf7eaa8f.1d3dd8","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"87785d0c.9c18a","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"243ea6d9.4cac4a","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"cca19ce0.01cba","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"922720f5.deb5f","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"4f767c24.926854","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"635fa77c.b9ca78","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"b4139730.c0a128","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"16c09784.02d7e8","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"c814e2d5.c7513","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"804a7abd.bc76e8","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"f33ff976.cf4a28","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"ae3273ba.e1617","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"7757eb5.ea40214","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"84bace5c.76751","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"5802efb8.423a4","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"88f4b2a9.11056","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"55a8110b.66a08","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"1ec89aea.2cc385","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"5710478c.ec76c8","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"a4f153da.ae633","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"1f0c8dda.bcb412","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"c23d66f3.bf8ca8","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"9e550c87.2abcf","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"7e649044.9b43b","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"a24c5285.59303","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"3f5273c7.b66bfc","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"a07b707b.29c4","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"c95722ad.33863","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"bae7efa7.dc2bb","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"feca911a.f6013","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"8916879a.ee9f88","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"46b61063.8dc44","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"ebfa5a48.c95a88","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"2f506d05.0992f2","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"3201c7ee.252428","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"5ae2dcf6.94cbe4","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"9f6d4d21.ff9","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"e3383e4d.8c62b","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"fde6ec3f.68764","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"1a6d11e5.ad2cce","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"dea08872.776c48","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"17a311a7.c631ae","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"6d4f6749.2be4c8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"952d37df.edcb78","type":"ui_group","z":"","name":"Reset","tab":"","order":6,"disp":true,"width":"8","collapse":false},{"id":"835aa808.19b638","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"6dd69225.a5e5bc","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"a69c5690.799b78","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"e5dc205d.4726a","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"2302dcc1.621444","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"cb30701c.12af5","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"943e27af.d10868","type":"ui_group","z":"","name":"Timer","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"b287dea.7e5b52","type":"ui_group","z":"","name":"timer2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6529ee9.cd9fb","type":"ui_group","z":"","name":"Röle Durumları","tab":"a14c0335.3e708","order":2,"disp":false,"width":"7","collapse":false},{"id":"4f782b66.cd90e4","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"a14c0335.3e708","order":1,"disp":false,"width":"16","collapse":false},{"id":"3e30f38e.f6440c","type":"ui_group","z":"","name":"Sürücü","tab":"a14c0335.3e708","order":4,"disp":false,"width":"7","collapse":false},{"id":"154410c9.049cff","type":"ui_group","z":"","name":"Basınçlar","tab":"a14c0335.3e708","order":3,"disp":false,"width":"16","collapse":false},{"id":"7de540ad.a5876","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM3","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"46c6805d.89026","type":"ui_group","z":"","name":"Start - Stop","tab":"a14c0335.3e708","order":5,"disp":false,"width":"8","collapse":false},{"id":"a14c0335.3e708","type":"ui_tab","z":"","name":"Atık Isı","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"1f58e0fb.69b58f","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"b828de71.d7dca","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"97d6b461.b5dc38","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"1316027a.bde95e","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"7ec5cdf4.8bad44","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"6047d81b.c7fae8","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"51211f27.d9839","type":"ui_group","z":"","name":"Timer","tab":"a14c0335.3e708","order":6,"disp":false,"width":"8","collapse":false},{"id":"a628749f.e39ef8","type":"ui_group","z":"","name":"Akım","tab":"78b404be.e1404c","order":2,"disp":true,"width":"23","collapse":false},{"id":"eb03535.c2810b","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"cb59af62.502fe","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"12de05e7.54a8ea","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"19141182.0e9b6e","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"c5a6610.1494aa","type":"ui_group","z":"","name":"RePG","tab":"78b404be.e1404c","order":4,"disp":true,"width":"12","collapse":false},{"id":"81d35b29.b878a8","type":"ui_group","z":"","name":"Gerilim","tab":"78b404be.e1404c","order":1,"disp":true,"width":"23","collapse":false},{"id":"401db19b.e977","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"f68a0f60.ca6d2","order":1,"disp":false,"width":"22","collapse":false},{"id":"3c480f12.0d2bb","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"b862ca1d.edb468","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"7786a1e7.e0c7","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"debef022.d7397","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"a784da1d.d23a08","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"5bf28c46.354304","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"7c6a6100.bc288","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"78b404be.e1404c","type":"ui_tab","z":"","name":"Elektrik","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"f68a0f60.ca6d2","type":"ui_tab","z":"","name":"Sıcaklık Sensör","icon":"dashboard","order":5},{"id":"51769fdc.5116b","type":"ui_group","z":"","name":"                              R3 ON/OFF","tab":"f35bc839.c62fe8","order":1,"disp":true,"width":"16","collapse":false},{"id":"f35bc839.c62fe8","type":"ui_tab","z":"","name":"Röle Kontrol","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"3f5790d2.81f77","type":"ui_group","z":"","name":"Elektrik","tab":"a14c0335.3e708","order":7,"disp":true,"width":"6","collapse":false},{"id":"2b50b8ff.bd42b8","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"","order":1,"disp":false,"width":22,"collapse":false},{"id":"f457d2e5.b2658","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":7,"collapse":false},{"id":"f6b4682.5a24698","type":"ui_group","z":"","name":"Sürücü","tab":"","order":4,"disp":true,"width":7,"collapse":false},{"id":"faa76603.3c7888","type":"ui_group","z":"","name":"Voltmetre","tab":"","order":1,"disp":true,"width":23,"collapse":false},{"id":"f0f7a80a.86ecf8","type":"ui_group","z":"","name":"Ampermetre","tab":"","order":2,"disp":true,"width":23,"collapse":false},{"id":"7215c4f1.180a0c","type":"ui_group","z":"","name":"Anlık Güç","tab":"","order":3,"disp":false,"width":12,"collapse":false},{"id":"350a0d70.9b37e2","type":"ui_group","z":"","name":"Toplam Güç","tab":"","order":4,"disp":false,"width":"11","collapse":false},{"id":"a83803de.a79b8","type":"ui_group","z":"","name":"Zamanlayıcılar","tab":"","order":5,"disp":true,"width":11,"collapse":false},{"id":"6a3209ee.9661c8","type":"ui_group","z":"","name":"Röle Kontrol","tab":"","order":1,"disp":false,"width":12,"collapse":false},{"id":"225241c1.8e038e","type":"ui_group","z":"","name":"Start/Stop","tab":"","order":6,"disp":false,"width":12,"collapse":false},{"id":"1cd242aa.478b2d","type":"ui_group","z":"","name":"Basınçlar","tab":"","order":3,"disp":true,"width":16,"collapse":false},{"id":"f6a8db90.5ae698","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"f2509030.62a78","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"","order":1,"disp":false,"width":22,"collapse":false},{"id":"a33ba9e2.a2b038","type":"ui_group","z":"","name":"Toplam Güç","tab":"78b404be.e1404c","order":4,"disp":true,"width":"11","collapse":false},{"id":"7b808a3f.fbd844","type":"ui_group","z":"","name":"Buton-1","tab":"","order":3,"disp":false,"width":"9","collapse":false},{"id":"fb5d129e.df158","type":"ui_group","z":"","name":"Buton-2","tab":"","order":4,"disp":false,"width":"9","collapse":false},{"id":"70ec13e0.f2aa0c","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"83995a10.cca3f8","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"f32d5400.bd9b78","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"adf2fbba.dfa898","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"9925c990.5b6d18","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"da168bdd.a930b8","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"c212a702.817748","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"191ba803.25f628","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"433cfb31.27f664","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"7bf6fc44.270de4","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"9fde1d4e.882e6","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"73391b2e.afd704","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"9d135ee4.4b4a7","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"f342c03a.dea2c","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"38369ead.963822","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"2312e5d1.aaaafa","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"234d7a71.aecba6","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"b6c2036d.8477d","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"bcfa2048.a63b7","type":"ui_tab","z":"","name":"Enes","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e29a615d.881b1","type":"ui_group","z":"","name":"Enes-1","tab":"bcfa2048.a63b7","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ebbba23.c1a656","type":"ui_group","z":"","name":"Default","tab":"bcfa2048.a63b7","disp":true,"width":"6","collapse":false},{"id":"93a88b93.537268","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"postgres","ssl":false},{"id":"2a55f973.4f33e6","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"13d27030.48727","type":"ui_tab","z":"","name":"deneme","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"60c3f67.54b7108","type":"ui_group","z":"","name":"deneme","tab":"13d27030.48727","order":1,"disp":true,"width":"6","collapse":false},{"id":"83206054.9eeae","type":"ui_group","z":"","name":"Counter","tab":"13d27030.48727","order":2,"disp":true,"width":"6","collapse":false},{"id":"f81060f3.9f403","type":"function","z":"eb71ce27.cffc4","name":"30 sec RC + 20","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;","outputs":1,"noerr":0,"x":626.5,"y":207,"wires":[["96ab2f4e.acb3e"]]},{"id":"3b6e6877.dafe38","type":"inject","z":"eb71ce27.cffc4","name":"Inject -0.2 at start","topic":"","payload":"-0.2","payloadType":"num","repeat":"","crontab":"","once":true,"x":134.5,"y":30,"wires":[["e1ab091.357e7f8"]]},{"id":"7d55377c.d96758","type":"function","z":"eb71ce27.cffc4","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":207,"wires":[["f81060f3.9f403"]]},{"id":"e1ab091.357e7f8","type":"delay","z":"eb71ce27.cffc4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":268,"y":104,"wires":[["bbb51425.60d978"]]},{"id":"3f90289a.7f9d78","type":"function","z":"eb71ce27.cffc4","name":"2 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"x":258,"y":208,"wires":[["7d55377c.d96758"]]},{"id":"96ab2f4e.acb3e","type":"function","z":"eb71ce27.cffc4","name":"Clear all except payload","func":"msg2 = {payload: msg.payload};\nreturn msg2;","outputs":1,"noerr":0,"x":545,"y":293,"wires":[[]]},{"id":"bbb51425.60d978","type":"range","z":"eb71ce27.cffc4","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":87,"y":208,"wires":[["3f90289a.7f9d78"]]},{"id":"28956b9f.16a0c4","type":"delay","z":"b745b065.49b5c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":1500,"wires":[["ac83c9fb.cd3b38","2c4ec89d.441168"]]},{"id":"3359d775.ce9c98","type":"function","z":"b745b065.49b5c","name":"set driver  \"10\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",10)\n    global.set(\"check1\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":920,"y":60,"wires":[[]]},{"id":"cb692ba1.7fcc18","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["259fe5a8.406e2a"]]},{"id":"f57f182b.2b7188","type":"debug","z":"b745b065.49b5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1960,"wires":[]},{"id":"8e0dfad.2a45e08","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1940,"wires":[["75c9c98.26a8e38"]]},{"id":"64279b34.0c1d54","type":"switch","z":"b745b065.49b5c","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1980,"wires":[["75c9c98.26a8e38"]]},{"id":"9f7749e7.c0feb8","type":"function","z":"b745b065.49b5c","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1060,"wires":[[]]},{"id":"62849fb.eba4f6","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1060,"wires":[["9f7749e7.c0feb8"]]},{"id":"f96cb4c0.6e8428","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1260,"wires":[["5f2faab6.a86054"]]},{"id":"58d4634f.c8ef6c","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"62","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1300,"wires":[["5f2faab6.a86054"]]},{"id":"5cf803fb.24116c","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"67","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1340,"wires":[["5f2faab6.a86054"]]},{"id":"5f2faab6.a86054","type":"function","z":"b745b065.49b5c","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1340,"wires":[[]]},{"id":"bd52fd7d.4d589","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"start","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["d03b2ba4.b495d8"]]},{"id":"e6081209.04619","type":"function","z":"b745b065.49b5c","name":"T1>70 - T3<100 - P1<10 - P2<10 - R1-ON","func":"var t1  =   global.get(\"T1\");\nvar t3  =   global.get(\"T3\");\nvar p1  =   global.get(\"P1\");\nvar p2  =   global.get(\"P2\");\n\nif (t1>70 && t3<100 && p1<10 && p2<10) {\n    global.set(\"R1\",false);\n    msg.payload = true;\n    global.set(\"start\",false);\n    return msg;\n}\nelse {\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":500,"y":60,"wires":[["a4fad9ff.9b3b58","36cb54b9.fdb2cc"]]},{"id":"a4fad9ff.9b3b58","type":"delay","z":"b745b065.49b5c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":60,"wires":[["3359d775.ce9c98"]]},{"id":"acd3088a.77a5a8","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1020,"wires":[["9f7749e7.c0feb8"]]},{"id":"289d28f4.a20548","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2460,"wires":[["cd03f12.2fea41"]]},{"id":"cd03f12.2fea41","type":"function","z":"b745b065.49b5c","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nglobal.set(\"R4\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2460,"wires":[[]]},{"id":"e111ff8a.d8e29","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2500,"wires":[["d3bbbe7d.2054b"]]},{"id":"d3bbbe7d.2054b","type":"function","z":"b745b065.49b5c","name":"driver - driverf","func":"global.set(\"driver\",0)\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":2500,"wires":[[]]},{"id":"564138ca.807f78","type":"rpi-gpio out","z":"b745b065.49b5c","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":370,"y":2380,"wires":[]},{"id":"ad421c51.c46df","type":"rpi-gpio out","z":"b745b065.49b5c","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":370,"y":2480,"wires":[]},{"id":"c5286e7c.91462","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2440,"wires":[["564138ca.807f78","b6ca6e85.ecdbb"]]},{"id":"13846ef8.c8cd41","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2540,"wires":[["ad421c51.c46df","1036c684.4526b9"]]},{"id":"e6469d86.6f957","type":"function","z":"b745b065.49b5c","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["134de988.b2d966"]]},{"id":"134de988.b2d966","type":"delay","z":"b745b065.49b5c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":340,"wires":[["e7562e24.d2eb1"]]},{"id":"e7562e24.d2eb1","type":"function","z":"b745b065.49b5c","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":800,"y":340,"wires":[["7f119db9.75f854"]]},{"id":"b6ca6e85.ecdbb","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":2440,"wires":[["9db015f.46193e8"]]},{"id":"1036c684.4526b9","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":2540,"wires":[["d873f583.640958"]]},{"id":"9db015f.46193e8","type":"ui_text","z":"b745b065.49b5c","group":"b6529ee9.cd9fb","order":1,"width":"7","height":"1","name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":2440,"wires":[]},{"id":"d873f583.640958","type":"ui_text","z":"b745b065.49b5c","group":"b6529ee9.cd9fb","order":2,"width":"7","height":"1","name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":2540,"wires":[]},{"id":"60087d0c.163594","type":"ui_gauge","z":"b745b065.49b5c","name":"","group":"3e30f38e.f6440c","order":1,"width":"7","height":"7","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":3200,"wires":[]},{"id":"2b37d145.d684ae","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":3200,"wires":[["60087d0c.163594"]]},{"id":"7b18c460.d382ac","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2700,"wires":[["ff80bd5f.5f802"]]},{"id":"ff80bd5f.5f802","type":"function","z":"b745b065.49b5c","name":"set \"0\" (T1 - T3 - P1 - P2 - P2S - PS )","func":"global.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":2700,"wires":[[]]},{"id":"8ea5f214.ececc","type":"switch","z":"b745b065.49b5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50","vt":"num","v2":"55","v2t":"num"},{"t":"btwn","v":"55.1","vt":"num","v2":"60","v2t":"num"},{"t":"btwn","v":"60.1","vt":"num","v2":"65","v2t":"num"},{"t":"btwn","v":"65.1","vt":"num","v2":"70","v2t":"num"},{"t":"btwn","v":"70.1","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"75.1","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"80.1","vt":"num","v2":"85","v2t":"num"},{"t":"btwn","v":"85.1","vt":"num","v2":"90","v2t":"num"},{"t":"btwn","v":"90.1","vt":"num","v2":"95","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":1030,"y":1160,"wires":[["9ff1965d.6c9a98"],["ab1210a2.231d1"],["7e543e1f.643f8"],["c3122868.0425e8"],["e190e2b9.cbc3c"],["347d0473.4d606c"],["1a659872.b42208"],["9e929555.438158"],["93af7926.0545f8"]]},{"id":"7e543e1f.643f8","type":"function","z":"b745b065.49b5c","name":"set \"16\" bar","func":"global.set(\"P2S\",16);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1080,"wires":[[]]},{"id":"c3122868.0425e8","type":"function","z":"b745b065.49b5c","name":"set \"18\" bar","func":"global.set(\"P2S\",18);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1120,"wires":[[]]},{"id":"e190e2b9.cbc3c","type":"function","z":"b745b065.49b5c","name":"set \"20\" bar","func":"global.set(\"P2S\",20);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1160,"wires":[[]]},{"id":"1a659872.b42208","type":"function","z":"b745b065.49b5c","name":"set \"24\" bar","func":"global.set(\"P2S\",24);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1240,"wires":[[]]},{"id":"ab1210a2.231d1","type":"function","z":"b745b065.49b5c","name":"set \"14\" bar","func":"global.set(\"P2S\",14);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1040,"wires":[[]]},{"id":"9ff1965d.6c9a98","type":"function","z":"b745b065.49b5c","name":"set \"12\" bar","func":"global.set(\"P2S\",12);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1000,"wires":[[]]},{"id":"9e929555.438158","type":"function","z":"b745b065.49b5c","name":"set \"26\" bar","func":"global.set(\"P2S\",26);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1280,"wires":[[]]},{"id":"93af7926.0545f8","type":"function","z":"b745b065.49b5c","name":"set \"28\" bar","func":"global.set(\"P2S\",28);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1320,"wires":[[]]},{"id":"347d0473.4d606c","type":"function","z":"b745b065.49b5c","name":"set \"22\" bar","func":"global.set(\"P2S\",22);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1200,"wires":[[]]},{"id":"da8ff6fa.e12098","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1380,"wires":[["5f2faab6.a86054"]]},{"id":"e1fd7c1e.3df63","type":"function","z":"b745b065.49b5c","name":"driver up down","func":"var p2s = global.get(\"P2S\");\nvar ps   = global.get(\"PS\");\n\nif (p2s > ps) {\n    msg.payload = true;\n    return msg;\n\n    \n}\nelse if (p2s < ps) {\n    msg.payload = false;\n    return msg;\n}\nelse if (p2s == ps) {\n    global.set(\"driverf\",false)\n    global.set(\"sensor\",false)\n    global.set(\"temp1\",true)\n}\n\n\n","outputs":1,"noerr":0,"x":440,"y":1960,"wires":[["8e0dfad.2a45e08","64279b34.0c1d54"]]},{"id":"3279c012.e4352","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"82","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1460,"wires":[["5f2faab6.a86054"]]},{"id":"3b43b3d2.53886c","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1500,"wires":[["5f2faab6.a86054"]]},{"id":"20056453.5e209c","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"driverf","payloadType":"global","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1960,"wires":[["fe446672.9e4a78"]]},{"id":"d1048994.b3a2e8","type":"function","z":"b745b065.49b5c","name":"msg.payload = T3","func":"global.set(\"diode\",true)\nvar data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1160,"wires":[["8ea5f214.ececc"]]},{"id":"c0589862.f1c188","type":"switch","z":"b745b065.49b5c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1160,"wires":[["d1048994.b3a2e8"]]},{"id":"70894ec4.3a26","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"temp1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":1160,"wires":[["c0589862.f1c188"]]},{"id":"d40688c9.da05a8","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2540,"wires":[["d67fcae6.0a3d68"]]},{"id":"d67fcae6.0a3d68","type":"function","z":"b745b065.49b5c","name":"start","func":"global.set(\"start\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2540,"wires":[[]]},{"id":"d03b2ba4.b495d8","type":"switch","z":"b745b065.49b5c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":60,"wires":[["e6081209.04619"]]},{"id":"7a9d24fa.38f02c","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2580,"wires":[["ed6e548f.a2aed8"]]},{"id":"ed6e548f.a2aed8","type":"function","z":"b745b065.49b5c","name":"temp1 - temp2 - temp3 - temp4","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":2580,"wires":[[]]},{"id":"8101942e.645d98","type":"function","z":"b745b065.49b5c","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1420,"wires":[["4e8fc846.71ee18"]]},{"id":"4e8fc846.71ee18","type":"switch","z":"b745b065.49b5c","name":"T3 > 95","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"95","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":1420,"wires":[["8e013459.925d88"]]},{"id":"b2793cfc.3b954","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":1420,"wires":[["7b4bb4d7.ae91ec"]]},{"id":"a2a66ebc.ff223","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"77","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1420,"wires":[["5f2faab6.a86054"]]},{"id":"7b4bb4d7.ae91ec","type":"switch","z":"b745b065.49b5c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1420,"wires":[["8101942e.645d98"]]},{"id":"d253017b.fbaea","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2620,"wires":[["fb763745.ca1798"]]},{"id":"fb763745.ca1798","type":"function","z":"b745b065.49b5c","name":"pres1 - pres2 - pres3","func":"global.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":2620,"wires":[[]]},{"id":"40c1c6d4.8906b8","type":"function","z":"b745b065.49b5c","name":"msg.payload = P1","func":"var data    =   global.get(\"P1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1500,"wires":[["aa991710.8d5e98"]]},{"id":"11762156.71a3ef","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"pres1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":1500,"wires":[["72fab447.27fb7c"]]},{"id":"72fab447.27fb7c","type":"switch","z":"b745b065.49b5c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1500,"wires":[["40c1c6d4.8906b8"]]},{"id":"ef104ae2.c49ef8","type":"function","z":"b745b065.49b5c","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1540,"wires":[["2f33e853.233748"]]},{"id":"7daf40dd.3d249","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"pres2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":1540,"wires":[["df3e0a9b.2355b8"]]},{"id":"df3e0a9b.2355b8","type":"switch","z":"b745b065.49b5c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1540,"wires":[["ef104ae2.c49ef8"]]},{"id":"8e013459.925d88","type":"function","z":"b745b065.49b5c","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"R2\",true);\nglobal.set(\"R4\",true);\nglobal.set(\"driverf\",false)\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nglobal.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nglobal.set(\"sensor\",false)\nglobal.set(\"AS\",false)\nglobal.set(\"check\",false)\nglobal.set(\"check1\",false)\nglobal.set(\"check2\",false)\nglobal.set(\"check3\",false)\nglobal.set(\"diode\",false)\nglobal.set(\"trigger\",false)\nmsg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":1500,"wires":[["28956b9f.16a0c4","9d9022f2.a138f"]]},{"id":"ac83c9fb.cd3b38","type":"function","z":"b745b065.49b5c","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"check3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":1500,"wires":[[]]},{"id":"aa991710.8d5e98","type":"switch","z":"b745b065.49b5c","name":"P1 > 13","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"13","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":1500,"wires":[["8e013459.925d88"]]},{"id":"2f33e853.233748","type":"switch","z":"b745b065.49b5c","name":"P2 > 28","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":1540,"wires":[["8e013459.925d88"]]},{"id":"d30b9ef3.f737","type":"switch","z":"b745b065.49b5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"10.1","vt":"num","v2":"12","v2t":"num"},{"t":"btwn","v":"12.1","vt":"num","v2":"14","v2t":"num"},{"t":"btwn","v":"14.1","vt":"num","v2":"16","v2t":"num"},{"t":"btwn","v":"16.1","vt":"num","v2":"18","v2t":"num"},{"t":"btwn","v":"18.1","vt":"num","v2":"20","v2t":"num"},{"t":"btwn","v":"20.1","vt":"num","v2":"22","v2t":"num"},{"t":"btwn","v":"22.1","vt":"num","v2":"24","v2t":"num"},{"t":"btwn","v":"24.1","vt":"num","v2":"26","v2t":"num"},{"t":"btwn","v":"26.1","vt":"num","v2":"28","v2t":"num"}],"checkall":"true","repair":false,"outputs":9,"x":650,"y":2240,"wires":[["75ebf661.f31c48"],["9f9d90a1.958f5"],["b22f44b1.007f88"],["162d5278.28f3ce"],["79dd99bc.45dd58"],["45d64855.0792a8"],["abc7112f.edf69"],["b368f0bb.4054d"],["3726885f.dba4d8"]]},{"id":"ffb3c7ea.440b08","type":"function","z":"b745b065.49b5c","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2240,"wires":[["d30b9ef3.f737"]]},{"id":"baec972c.eec408","type":"debug","z":"b745b065.49b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1590,"y":2040,"wires":[]},{"id":"75ebf661.f31c48","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"PS\",12);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2080,"wires":[[]]},{"id":"9f9d90a1.958f5","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"PS\",14);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2120,"wires":[[]]},{"id":"b22f44b1.007f88","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"PS\",16);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2160,"wires":[[]]},{"id":"162d5278.28f3ce","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"PS\",18);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2200,"wires":[[]]},{"id":"79dd99bc.45dd58","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"PS\",20);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2240,"wires":[[]]},{"id":"45d64855.0792a8","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"PS\",22);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2280,"wires":[[]]},{"id":"abc7112f.edf69","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"PS\",24);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2320,"wires":[[]]},{"id":"b368f0bb.4054d","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"PS\",26);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2360,"wires":[[]]},{"id":"3726885f.dba4d8","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"PS\",28);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":2400,"wires":[[]]},{"id":"a221997f.fc8778","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"sensor","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2240,"wires":[["ef757265.ae2d"]]},{"id":"fe446672.9e4a78","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1960,"wires":[["e1fd7c1e.3df63"]]},{"id":"2c7f4f25.55809","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2660,"wires":[["f1c48298.ee0f4"]]},{"id":"f1c48298.ee0f4","type":"function","z":"b745b065.49b5c","name":"sensor","func":"global.set(\"sensor\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2660,"wires":[[]]},{"id":"ef757265.ae2d","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":2240,"wires":[["ffb3c7ea.440b08"]]},{"id":"56f44e91.346dc","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1220,"wires":[["5f2faab6.a86054"]]},{"id":"58b801c3.1a0bc","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"92","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1540,"wires":[["5f2faab6.a86054"]]},{"id":"b21c00b.cfef1","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1580,"wires":[["5f2faab6.a86054"]]},{"id":"47ea7829.9f35d8","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1180,"wires":[["5f2faab6.a86054"]]},{"id":"75c9c98.26a8e38","type":"function","z":"b745b065.49b5c","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <50){\n    global.set('driver', Value + 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('driver', Value - 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":790,"y":1960,"wires":[["f57f182b.2b7188"]]},{"id":"235ebcc8.ad9184","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"check","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":2000,"wires":[["f4464a88.758828"]]},{"id":"932c496e.c9ca18","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1070,"y":2000,"wires":[["f070784.4522c88"]]},{"id":"f4464a88.758828","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":2000,"wires":[["932c496e.c9ca18"]]},{"id":"3aeb3ebb.c73262","type":"function","z":"b745b065.49b5c","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":1370,"y":2060,"wires":[[]]},{"id":"f070784.4522c88","type":"range","z":"b745b065.49b5c","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1200,"y":2000,"wires":[["3aeb3ebb.c73262","3552125d.71f03e"]]},{"id":"5412a62.54d2258","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2780,"wires":[["675ce0da.ce335"]]},{"id":"675ce0da.ce335","type":"function","z":"b745b065.49b5c","name":"modbus 1-2-3-4   \"0\"","func":"global.set(\"modbus1\",0)\nglobal.set(\"modbus2\",0)\nglobal.set(\"modbus3\",0)\nglobal.set(\"modbus4\",0)\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":2780,"wires":[[]]},{"id":"ea604d11.110d2","type":"function","z":"b745b065.49b5c","name":"msg.payload.value","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nif (data == modbus ) {\n    global.set(\"check\",false)\n    global.set(\"driverf\",true)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1610,"y":1960,"wires":[[]]},{"id":"cffba318.4a9d1","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2820,"wires":[["cf2af87e.4ea928"]]},{"id":"cf2af87e.4ea928","type":"function","z":"b745b065.49b5c","name":"Global set \"false\"  checks","func":"global.set(\"check\",false);\nglobal.set(\"check1\",false);\nglobal.set(\"check2\",false);\nglobal.set(\"check3\",false);\n","outputs":1,"noerr":0,"x":1410,"y":2820,"wires":[[]]},{"id":"b1f3afa5.52f9","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"check1","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["47df3609.999ad8"]]},{"id":"47df3609.999ad8","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":160,"wires":[["cb692ba1.7fcc18"]]},{"id":"259fe5a8.406e2a","type":"range","z":"b745b065.49b5c","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":520,"y":160,"wires":[["a8b04596.389dd8","398287cf.5c7228"]]},{"id":"a8b04596.389dd8","type":"function","z":"b745b065.49b5c","name":"Set modbus2","func":"global.set(\"modbus2\", msg.payload)\n","outputs":1,"noerr":0,"x":690,"y":220,"wires":[[]]},{"id":"4620a007.6c789","type":"function","z":"b745b065.49b5c","name":"msg.payload.value","func":"global.set(\"value1\",msg.payload.value);\nvar data = msg.payload.value;\nvar modbus = global.get(\"modbus2\");\nif (data == modbus ) {\n    global.set(\"check1\",false);\n    global.set(\"trigger\",true);\n    msg.payload = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":910,"y":160,"wires":[["ae851176.94522","f8ccc874.cbdf68"]]},{"id":"f0aca346.f4297","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2740,"wires":[["f851a9d8.9f8958"]]},{"id":"f851a9d8.9f8958","type":"function","z":"b745b065.49b5c","name":"\"AS\"","func":"global.set(\"AS\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2740,"wires":[[]]},{"id":"613b0ad4.2acd04","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"check3","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":1760,"wires":[["e62dcefe.a814e"]]},{"id":"e62dcefe.a814e","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":1760,"wires":[["f4a5bce7.71d13"]]},{"id":"f4a5bce7.71d13","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1150,"y":1760,"wires":[["631d0ee3.c7cdf"]]},{"id":"631d0ee3.c7cdf","type":"range","z":"b745b065.49b5c","minin":"0","maxin":"50","minout":"0","maxout":"1000","action":"scale","round":false,"property":"payload","name":"","x":1280,"y":1760,"wires":[["faab66da.2c92c8","788a5770.d1b808"]]},{"id":"faab66da.2c92c8","type":"function","z":"b745b065.49b5c","name":"Set modbus4","func":"global.set(\"modbus4\", msg.payload)\n","outputs":1,"noerr":0,"x":1450,"y":1820,"wires":[[]]},{"id":"9358273d.bfaae8","type":"function","z":"b745b065.49b5c","name":"msg.payload.value","func":"global.set(\"value3\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus4\")\nif (data == modbus ) {\n    global.set(\"check3\",false)\n    global.set(\"start\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1670,"y":1720,"wires":[[]]},{"id":"398287cf.5c7228","type":"modbus-write","z":"b745b065.49b5c","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7de540ad.a5876","x":700,"y":160,"wires":[["eefcba88.5da178","4620a007.6c789"],[]]},{"id":"eefcba88.5da178","type":"debug","z":"b745b065.49b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":220,"wires":[]},{"id":"f5fd0445.10a7f8","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["398287cf.5c7228"]]},{"id":"3552125d.71f03e","type":"modbus-write","z":"b745b065.49b5c","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7de540ad.a5876","x":1380,"y":2000,"wires":[["ea604d11.110d2","baec972c.eec408"],[]]},{"id":"788a5770.d1b808","type":"modbus-write","z":"b745b065.49b5c","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7de540ad.a5876","x":1460,"y":1760,"wires":[["9358273d.bfaae8","3ac6108f.d3898"],[]]},{"id":"5cb5e91.20af318","type":"comment","z":"b745b065.49b5c","name":"Marş - 1","info":"","x":660,"y":280,"wires":[]},{"id":"3ac6108f.d3898","type":"debug","z":"b745b065.49b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":1800,"wires":[]},{"id":"f152fcf7.daa96","type":"function","z":"b745b065.49b5c","name":"P2 > 14.9","func":"var data = global.get(\"P2\");\nif (data >= 15) {\n    global.set(\"trigger\",false);\n    msg.payload = true;\n    return msg;\n}\nelse if (data < 15) {\n    msg.payload = false;\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["e6469d86.6f957"]]},{"id":"9de8c01.2880a4","type":"function","z":"b745b065.49b5c","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1580,"wires":[["aaf14ff0.c4eff"]]},{"id":"ac32c8bb.469c88","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"pres3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":1580,"wires":[["fef45eb6.319d4"]]},{"id":"fef45eb6.319d4","type":"switch","z":"b745b065.49b5c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1580,"wires":[["9de8c01.2880a4"]]},{"id":"aaf14ff0.c4eff","type":"switch","z":"b745b065.49b5c","name":"P2 <= 10","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":1580,"wires":[["8e013459.925d88"]]},{"id":"eb32717e.8361b","type":"debug","z":"b745b065.49b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":1820,"wires":[]},{"id":"ed0035b9.108ab8","type":"function","z":"b745b065.49b5c","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":3020,"wires":[["dbe918b5.14b458"]]},{"id":"9f3dfff1.a9949","type":"link in","z":"b745b065.49b5c","name":"","links":["dbe918b5.14b458","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1275,"y":1420,"wires":[["28956b9f.16a0c4","42bf5f96.5ee56"]]},{"id":"dbe918b5.14b458","type":"link out","z":"b745b065.49b5c","name":"","links":["9f3dfff1.a9949","be2c7e93.aac1","8c62ae3a.4d3ff","b9f9af5c.ce6be","e9e9ed97.b4ed5","7903111e.bfe3a","f9c3a430.98fac8","91bc11da.7b1ba","37e00632.e7369a","e1177f13.712b7","dc8443f8.10966","b37c9443.bd8528","6d9fb5ba.48309c","5ed9d17.f74ee3","2683aaa8.1e3d66"],"x":1135,"y":3020,"wires":[]},{"id":"81537f8f.d3b42","type":"rpi-gpio out","z":"b745b065.49b5c","name":"R4","pin":"15","set":"","level":"0","freq":"","out":"out","x":370,"y":2680,"wires":[]},{"id":"ecd857e1.4aeb58","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"R4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2740,"wires":[["81537f8f.d3b42","477fd256.a219ac"]]},{"id":"477fd256.a219ac","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":2740,"wires":[["e4149a9f.828138"]]},{"id":"e4149a9f.828138","type":"ui_text","z":"b745b065.49b5c","group":"b6529ee9.cd9fb","order":4,"width":"7","height":"1","name":"","label":"R4","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":2740,"wires":[]},{"id":"7f119db9.75f854","type":"delay","z":"b745b065.49b5c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":340,"wires":[["bdea9351.83ac3"]]},{"id":"4819d9a6.f10c58","type":"function","z":"b745b065.49b5c","name":"R4-ON","func":"var t3 = global.get(\"T3\")\nvar p2 = global.get(\"P2\")\n\nif (t3 > 65 && p2 > 16 ) {\n    global.set(\"R4\",false)\n    global.set(\"diode\",false)\n}\n","outputs":1,"noerr":0,"x":930,"y":1640,"wires":[[]]},{"id":"84b69167.f8e74","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2860,"wires":[["87468c98.4bfdb"]]},{"id":"87468c98.4bfdb","type":"function","z":"b745b065.49b5c","name":"values","func":"global.set(\"value\", undefined)\nglobal.set(\"value1\", undefined)\nglobal.set(\"value2\", undefined)\nglobal.set(\"value3\", undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2860,"wires":[[]]},{"id":"d0999180.6b632","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Sistem Hazır\" ;\n    return msg;\n}\nelse if (data === false){\n    msg.payload = \"Sistem Hazırlanıyor\" ;\n    return msg;\n}\nelse {\n    msg.payload = \" \" ;\n    return msg;\n}","outputs":1,"noerr":0,"x":1050,"y":3380,"wires":[["aa4f03bb.41e15","51802e2e.656e"]]},{"id":"51802e2e.656e","type":"ui_text","z":"b745b065.49b5c","group":"b6529ee9.cd9fb","order":5,"width":"7","height":"1","name":"","label":"Sistem Durumu","format":"{{msg.payload}}","layout":"row-spread","x":1280,"y":3320,"wires":[]},{"id":"f90fbef0.3373c","type":"ui_toast","z":"b745b065.49b5c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1330,"y":3400,"wires":[[]]},{"id":"fc53a474.dc2bb8","type":"delay","z":"b745b065.49b5c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":3080,"wires":[["a4a22e4f.e76d6"]]},{"id":"b49277c9.1ccbf8","type":"function","z":"b745b065.49b5c","name":"","func":"var T1 = msg.payload[0] /10\nvar T2 = msg.payload[1] /10\nvar T3 = msg.payload[2] /10\nvar T4 = msg.payload[3] /10\nvar T5 = msg.payload[4] /10\nvar T6 = msg.payload[5] /10\n\nif (T1 != 850) {\n    global.set(\"T1\",T1)\n}\nif (T2 != 850) {\n    global.set(\"T2\",T2)\n    \n}\nif (T3 != 850) {\n    global.set(\"T3\",T3)\n    \n}\nif (T4 != 850) {\n    global.set(\"T4\",T4)\n    \n}\nif (T5 != 850) {\n    global.set(\"T5\",T5)\n    \n}\nif (T6 != 850) {\n    global.set(\"T6\",T6)\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":4040,"wires":[[]]},{"id":"39e8c244.6df20e","type":"modbus-read","z":"b745b065.49b5c","name":"Pres","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7de540ad.a5876","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":210,"y":4340,"wires":[["131a673d.ae0d99","d1fde6e5.50acf8","49b46a46.b16ff4"],[]]},{"id":"131a673d.ae0d99","type":"function","z":"b745b065.49b5c","name":"","func":"var P1 = msg.payload[0] /100\n\nmsg.payload = P1\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":4320,"wires":[["b0768535.57f3d8"]]},{"id":"b0768535.57f3d8","type":"range","z":"b745b065.49b5c","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload","name":"","x":470,"y":4320,"wires":[["7df1824f.4048ac"]]},{"id":"d1fde6e5.50acf8","type":"function","z":"b745b065.49b5c","name":"","func":"var P2 = msg.payload[1] /100\n\nmsg.payload = P2\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":4360,"wires":[["800d87c3.8d9c38"]]},{"id":"800d87c3.8d9c38","type":"range","z":"b745b065.49b5c","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"","x":470,"y":4360,"wires":[["6855f26b.ee117c"]]},{"id":"d9f84710.362588","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":4320,"wires":[[]]},{"id":"d3fff914.402a18","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":4360,"wires":[[]]},{"id":"7df1824f.4048ac","type":"function","z":"b745b065.49b5c","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":4320,"wires":[["d9f84710.362588"]]},{"id":"6855f26b.ee117c","type":"function","z":"b745b065.49b5c","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":4360,"wires":[["d3fff914.402a18"]]},{"id":"ae851176.94522","type":"delay","z":"b745b065.49b5c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":80,"wires":[["30936ded.5747f2","bcac1215.6892","30dbc211.049b3e"]]},{"id":"30936ded.5747f2","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload;\nif (data === true) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    global.set(\"trigger\",false)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1390,"y":80,"wires":[["25d93f78.78409"]]},{"id":"25d93f78.78409","type":"debug","z":"b745b065.49b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":60,"wires":[]},{"id":"bdea9351.83ac3","type":"function","z":"b745b065.49b5c","name":"P2 > 15.9","func":"var p2      =   global.get(\"P2\")\nif ( p2 >= 16) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 16) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false;\n    return msg;\n\n}","outputs":1,"noerr":0,"x":260,"y":500,"wires":[["e2380335.5483","b8c18d24.954e8"]]},{"id":"699b31e3.e808b","type":"ui_button","z":"b745b065.49b5c","name":"","group":"46c6805d.89026","order":2,"width":"4","height":"3","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":510,"y":3240,"wires":[["93b1c33a.59352","e0116163.3ad79","634b115c.5fe3a"]]},{"id":"dad8d01d.77584","type":"ui_button","z":"b745b065.49b5c","name":"","group":"46c6805d.89026","order":1,"width":"4","height":"3","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":510,"y":3200,"wires":[["93b1c33a.59352"]]},{"id":"1472314f.4ea00f","type":"ui_toast","z":"b745b065.49b5c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":930,"y":3240,"wires":[[]]},{"id":"634b115c.5fe3a","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = \"Kapatma Başarılı\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":3240,"wires":[["5f494b2d.3b3174"]]},{"id":"aa4f03bb.41e15","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":3400,"wires":[["f90fbef0.3373c"]]},{"id":"5f494b2d.3b3174","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":790,"y":3240,"wires":[["1472314f.4ea00f"]]},{"id":"b6357e86.b0638","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":2900,"wires":[["4775915c.cc2b3"]]},{"id":"4775915c.cc2b3","type":"function","z":"b745b065.49b5c","name":"diode","func":"global.set(\"diode\", false)\nglobal.set(\"trigger\",false)\nglobal.set(\"stop\",false)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2900,"wires":[[]]},{"id":"5dc1e359.a5267c","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"diode","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1640,"wires":[["ab087563.cd0bd8"]]},{"id":"ab087563.cd0bd8","type":"switch","z":"b745b065.49b5c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1640,"wires":[["4819d9a6.f10c58"]]},{"id":"93b1c33a.59352","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"start\",msg.payload);\nvar data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Start Verildi\"\n    return msg;\n}","outputs":1,"noerr":0,"x":570,"y":3020,"wires":[["f085ed08.c8fb3"]]},{"id":"e0116163.3ad79","type":"function","z":"b745b065.49b5c","name":"","func":"var data    =   msg.payload;\nif (data === false) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":690,"y":3080,"wires":[["fc53a474.dc2bb8","cd03f12.2fea41","ed0035b9.108ab8","d3bbbe7d.2054b","ed6e548f.a2aed8","fb763745.ca1798","f1c48298.ee0f4","ff80bd5f.5f802","f851a9d8.9f8958","675ce0da.ce335","cf2af87e.4ea928","87468c98.4bfdb","4775915c.cc2b3"]]},{"id":"be2c7e93.aac1","type":"link in","z":"b745b065.49b5c","name":"","links":["dbe918b5.14b458","9555da57.8c2c38","3e7a19f3.f95c06"],"x":635,"y":100,"wires":[["a4fad9ff.9b3b58"]]},{"id":"b9f9af5c.ce6be","type":"link in","z":"b745b065.49b5c","name":"","links":["dbe918b5.14b458","9555da57.8c2c38","3e7a19f3.f95c06"],"x":835,"y":380,"wires":[["7f119db9.75f854"]]},{"id":"7903111e.bfe3a","type":"link in","z":"b745b065.49b5c","name":"","links":["dbe918b5.14b458","9555da57.8c2c38","3e7a19f3.f95c06"],"x":555,"y":380,"wires":[["134de988.b2d966"]]},{"id":"91bc11da.7b1ba","type":"link in","z":"b745b065.49b5c","name":"","links":["dbe918b5.14b458","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1155,"y":40,"wires":[["ae851176.94522"]]},{"id":"7610251d.9b164c","type":"link in","z":"b745b065.49b5c","name":"","links":["7ff3c7b3.4029a8","b5c5794.1c1ce88"],"x":1235,"y":2040,"wires":[["3552125d.71f03e"]]},{"id":"2e067603.dc23fa","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"trigger","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["6a86c352.7c016c"]]},{"id":"6a86c352.7c016c","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":340,"wires":[["f152fcf7.daa96"]]},{"id":"72b8c706.2e04e8","type":"function","z":"b745b065.49b5c","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":800,"y":500,"wires":[["352b2539.aca11a"]]},{"id":"cee20d9.144c0f","type":"delay","z":"b745b065.49b5c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":500,"wires":[["72b8c706.2e04e8"]]},{"id":"64504af6.8c0f34","type":"function","z":"b745b065.49b5c","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":510,"y":500,"wires":[["cee20d9.144c0f"]]},{"id":"e1177f13.712b7","type":"link in","z":"b745b065.49b5c","name":"","links":["dbe918b5.14b458","9555da57.8c2c38","3e7a19f3.f95c06"],"x":555,"y":540,"wires":[["cee20d9.144c0f"]]},{"id":"37d84233.32423e","type":"comment","z":"b745b065.49b5c","name":"Marş - 2","info":"","x":660,"y":440,"wires":[]},{"id":"dc8443f8.10966","type":"link in","z":"b745b065.49b5c","name":"","links":["dbe918b5.14b458","9555da57.8c2c38","3e7a19f3.f95c06"],"x":855,"y":540,"wires":[["352b2539.aca11a"]]},{"id":"352b2539.aca11a","type":"delay","z":"b745b065.49b5c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":500,"wires":[["9cb85aae.a69c18"]]},{"id":"9cb85aae.a69c18","type":"function","z":"b745b065.49b5c","name":"P2 > 16.9","func":"var p2      =   global.get(\"P2\")\nif ( p2 >= 17) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 17) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false ;\n    return msg;\n \n}","outputs":1,"noerr":0,"x":280,"y":760,"wires":[["f4553cce.400dd","b8c18d24.954e8"]]},{"id":"ea8de3f8.5e2fc","type":"function","z":"b745b065.49b5c","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":800,"y":760,"wires":[["c0cf335f.11718"]]},{"id":"9a70fb73.294b98","type":"delay","z":"b745b065.49b5c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":760,"wires":[["ea8de3f8.5e2fc"]]},{"id":"8b4a6b7.a892298","type":"function","z":"b745b065.49b5c","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["9a70fb73.294b98"]]},{"id":"b37c9443.bd8528","type":"link in","z":"b745b065.49b5c","name":"","links":["dbe918b5.14b458","9555da57.8c2c38","3e7a19f3.f95c06"],"x":555,"y":800,"wires":[["9a70fb73.294b98"]]},{"id":"2399174.e1c2fe8","type":"comment","z":"b745b065.49b5c","name":"Marş - 3","info":"","x":660,"y":700,"wires":[]},{"id":"6d9fb5ba.48309c","type":"link in","z":"b745b065.49b5c","name":"","links":["dbe918b5.14b458","9555da57.8c2c38","3e7a19f3.f95c06"],"x":855,"y":800,"wires":[["c0cf335f.11718"]]},{"id":"c0cf335f.11718","type":"delay","z":"b745b065.49b5c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":760,"wires":[["a8f196c0.a7efe8"]]},{"id":"a8f196c0.a7efe8","type":"function","z":"b745b065.49b5c","name":"P2 > 17.9","func":"var p2      =   global.get(\"P2\")\nif ( p2 >= 18) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 18) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1120,"y":800,"wires":[["b8c18d24.954e8","28ab12ed.0b326e","ae38bad7.b08228"]]},{"id":"9f21a62b.216238","type":"link out","z":"b745b065.49b5c","name":"","links":["d59fb16e.ca3d5"],"x":1375,"y":800,"wires":[]},{"id":"d59fb16e.ca3d5","type":"link in","z":"b745b065.49b5c","name":"","links":["9f21a62b.216238"],"x":1175,"y":1380,"wires":[["8e013459.925d88"]]},{"id":"25a649da.1fece6","type":"comment","z":"b745b065.49b5c","name":"Acil Stop","info":"","x":1140,"y":740,"wires":[]},{"id":"f085ed08.c8fb3","type":"ui_toast","z":"b745b065.49b5c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":710,"y":3020,"wires":[[]]},{"id":"bcac1215.6892","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.reset = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1370,"y":140,"wires":[["1ae7b47.852504c"]]},{"id":"1ae7b47.852504c","type":"link out","z":"b745b065.49b5c","name":"","links":["df94df19.b7c0c","ec216c57.5cbd7","6747ac84.e780a4","c6bf4d86.dc4d2","f435eea0.52f3a","59f082d7.9a808c"],"x":1500,"y":140,"wires":[]},{"id":"df94df19.b7c0c","type":"link in","z":"b745b065.49b5c","name":"","links":["1ae7b47.852504c"],"x":555,"y":300,"wires":[["134de988.b2d966"]]},{"id":"ec216c57.5cbd7","type":"link in","z":"b745b065.49b5c","name":"","links":["1ae7b47.852504c"],"x":835,"y":300,"wires":[["7f119db9.75f854"]]},{"id":"6747ac84.e780a4","type":"link in","z":"b745b065.49b5c","name":"","links":["1ae7b47.852504c"],"x":555,"y":460,"wires":[["cee20d9.144c0f"]]},{"id":"c6bf4d86.dc4d2","type":"link in","z":"b745b065.49b5c","name":"","links":["1ae7b47.852504c"],"x":855,"y":460,"wires":[["352b2539.aca11a"]]},{"id":"f435eea0.52f3a","type":"link in","z":"b745b065.49b5c","name":"","links":["1ae7b47.852504c"],"x":555,"y":720,"wires":[["9a70fb73.294b98"]]},{"id":"59f082d7.9a808c","type":"link in","z":"b745b065.49b5c","name":"","links":["1ae7b47.852504c"],"x":835,"y":720,"wires":[["c0cf335f.11718"]]},{"id":"b8c18d24.954e8","type":"switch","z":"b745b065.49b5c","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":580,"wires":[["d044cf72.02e41"]]},{"id":"e2380335.5483","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":500,"wires":[["64504af6.8c0f34"]]},{"id":"f4553cce.400dd","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":760,"wires":[["8b4a6b7.a892298"]]},{"id":"7d28fdf.da17704","type":"function","z":"b745b065.49b5c","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":580,"wires":[["54e5c290.ec9f9c"]]},{"id":"54e5c290.ec9f9c","type":"link out","z":"b745b065.49b5c","name":"","links":["502aa840.616f08"],"x":735,"y":580,"wires":[]},{"id":"502aa840.616f08","type":"link in","z":"b745b065.49b5c","name":"","links":["54e5c290.ec9f9c"],"x":1055,"y":40,"wires":[["ae851176.94522","db0daaed.a6be08"]]},{"id":"d044cf72.02e41","type":"function","z":"b745b065.49b5c","name":"","func":"var data    =   msg.payload;\nif (data === false) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":580,"wires":[["7d28fdf.da17704"]]},{"id":"c39886d2.ccca88","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"temp3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":1460,"wires":[["44f84729.656818"]]},{"id":"44f84729.656818","type":"switch","z":"b745b065.49b5c","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1460,"wires":[["6e349dd3.3a0a74"]]},{"id":"6e349dd3.3a0a74","type":"function","z":"b745b065.49b5c","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1460,"wires":[["fce8c45d.d5dd18"]]},{"id":"fce8c45d.d5dd18","type":"switch","z":"b745b065.49b5c","name":"T3 < 50","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":1460,"wires":[["8e013459.925d88"]]},{"id":"f0046b17.f71328","type":"function","z":"b745b065.49b5c","name":"P1","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":880,"wires":[[]]},{"id":"3f2ab04e.aba22","type":"function","z":"b745b065.49b5c","name":"P2","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":980,"wires":[[]]},{"id":"36cb54b9.fdb2cc","type":"debug","z":"b745b065.49b5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":120,"wires":[]},{"id":"41e7505e.d4b86","type":"function","z":"b745b065.49b5c","name":"","func":"msg.payload = 0\nglobal.set(\"stop\",false)\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":3320,"wires":[["b5c5794.1c1ce88"]]},{"id":"b5c5794.1c1ce88","type":"link out","z":"b745b065.49b5c","name":"","links":["1ba41dd8.f03492","87b4f24.3febe1","f0e38571.924db8","7610251d.9b164c","838ce784.849f28","2fd23349.6d3b4c"],"x":875,"y":3320,"wires":[]},{"id":"a4a22e4f.e76d6","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"stop\",true)\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":3080,"wires":[[]]},{"id":"9f4c2867.7489d8","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"stop","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":3320,"wires":[["c8e93f1c.ca586"]]},{"id":"c8e93f1c.ca586","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":3320,"wires":[["41e7505e.d4b86","95c46a36.b41ee8"]]},{"id":"874c33fc.1542f","type":"function","z":"b745b065.49b5c","name":"","func":"var v   =   global.get(\"value\");\n//var v1  =   global.get(\"value1\");\n//var v2  =   global.get(\"value2\");\n//var v3  =   global.get(\"value3\");\nif (v === 0) {\n    msg.payload = true;\n    return msg;\n}\nelse {\n    global.set(\"stop\",true)\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":930,"y":3380,"wires":[["d0999180.6b632","e89fc858.dfc2d8"]]},{"id":"95c46a36.b41ee8","type":"delay","z":"b745b065.49b5c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":3380,"wires":[["874c33fc.1542f"]]},{"id":"28ab12ed.0b326e","type":"debug","z":"b745b065.49b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":860,"wires":[]},{"id":"40b20400.ebe30c","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"15.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":860,"wires":[["3f2ab04e.aba22"]]},{"id":"d5358173.ede1c","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":820,"wires":[["f0046b17.f71328","3f2ab04e.aba22"]]},{"id":"7c2d5fd3.d8f34","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"17.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":940,"wires":[["3f2ab04e.aba22"]]},{"id":"cf8e36cd.5debb8","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"16.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":900,"wires":[["3f2ab04e.aba22"]]},{"id":"f535581e.98a658","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"18.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":980,"wires":[["3f2ab04e.aba22"]]},{"id":"89782844.d83948","type":"function","z":"b745b065.49b5c","name":"","func":"var data    =   msg.payload;\nif (data === true) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1110,"y":3260,"wires":[["cd03f12.2fea41","d3bbbe7d.2054b","ed6e548f.a2aed8","fb763745.ca1798","f1c48298.ee0f4","ff80bd5f.5f802","f851a9d8.9f8958","675ce0da.ce335","cf2af87e.4ea928","87468c98.4bfdb","4775915c.cc2b3"]]},{"id":"e89fc858.dfc2d8","type":"delay","z":"b745b065.49b5c","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":3320,"wires":[["89782844.d83948"]]},{"id":"ae38bad7.b08228","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":800,"wires":[["9f21a62b.216238"]]},{"id":"d48e517a.d421a","type":"ui_gauge","z":"b745b065.49b5c","name":"","group":"51211f27.d9839","order":1,"width":"4","height":"3","gtype":"donut","title":"5 dk","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":3320,"wires":[]},{"id":"bbd06489.e29198","type":"ui_gauge","z":"b745b065.49b5c","name":"","group":"51211f27.d9839","order":2,"width":"4","height":"3","gtype":"donut","title":"3 dk","label":"units","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":3360,"wires":[]},{"id":"362d8e27.25c402","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":560,"wires":[["b4320c04.4fb01"]]},{"id":"257950f7.ce708","type":"switch","z":"b745b065.49b5c","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":600,"wires":[["b4320c04.4fb01"]]},{"id":"c5eeedad.ae86c","type":"function","z":"b745b065.49b5c","name":"driver up down","func":"msg.payload = global.get(\"trig\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1300,"y":500,"wires":[["362d8e27.25c402","257950f7.ce708"]]},{"id":"90ebd6e1.674ba8","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"trig","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":440,"wires":[["26d870e8.93e9a"]]},{"id":"26d870e8.93e9a","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":440,"wires":[["c5eeedad.ae86c"]]},{"id":"b4320c04.4fb01","type":"function","z":"b745b065.49b5c","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"timer\");\n\nif(msg.payload === true && Value <300){\n    global.set('timer', Value + 1)\n\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('timer', Value - 1)\n\n}\nValue = global.get(\"timer\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1450,"y":580,"wires":[[]]},{"id":"f554cacf.88aa18","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1210,"y":380,"wires":[["57d1202e.17bbb"]]},{"id":"57d1202e.17bbb","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"timer\",0)\nglobal.set(\"trig\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":380,"wires":[[]]},{"id":"5f06d8e2.54aa98","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"timer","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":3320,"wires":[["d48e517a.d421a"]]},{"id":"fe378bb3.df8b68","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"timer2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":3360,"wires":[["bbd06489.e29198"]]},{"id":"f4dc7142.ef0ae","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":1340,"wires":[["c12f802.0c3078"]]},{"id":"43f6a1ce.e227","type":"switch","z":"b745b065.49b5c","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":1380,"wires":[["c12f802.0c3078"]]},{"id":"bc83a017.95d29","type":"function","z":"b745b065.49b5c","name":"driver up down","func":"msg.payload = global.get(\"trig2\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1580,"y":1280,"wires":[["f4dc7142.ef0ae","43f6a1ce.e227"]]},{"id":"a27f3cba.7206a","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"trig2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":1220,"wires":[["aee1e360.8bff5"]]},{"id":"aee1e360.8bff5","type":"switch","z":"b745b065.49b5c","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":1220,"wires":[["bc83a017.95d29"]]},{"id":"c12f802.0c3078","type":"function","z":"b745b065.49b5c","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"timer2\");\n\nif(msg.payload === true && Value <180){\n    global.set('timer2', Value + 1)\n\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('timer2', Value - 1)\n\n}\nValue = global.get(\"timer2\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1630,"y":1440,"wires":[[]]},{"id":"3c3aea71.1b4c56","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":260,"wires":[["f8ccc874.cbdf68","ae851176.94522"]]},{"id":"15bd20f5.7a2fff","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":300,"wires":[["f8ccc874.cbdf68","3bfb8f39.279d2","33aead0.8be3d54"]]},{"id":"3bfb8f39.279d2","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1230,"y":240,"wires":[["ae851176.94522"]]},{"id":"f8ccc874.cbdf68","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"trig\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":280,"wires":[[]]},{"id":"33aead0.8be3d54","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1230,"y":320,"wires":[["57d1202e.17bbb"]]},{"id":"30dbc211.049b3e","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1410,"y":260,"wires":[["57d1202e.17bbb"]]},{"id":"2c4ec89d.441168","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1630,"y":1600,"wires":[[]]},{"id":"1701fb01.636405","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":1660,"wires":[["9d9022f2.a138f","28956b9f.16a0c4"]]},{"id":"d1ba1dd6.18adb","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":1700,"wires":[["9d9022f2.a138f","353529e7.e82386","4274cbd6.60b494"]]},{"id":"353529e7.e82386","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1450,"y":1620,"wires":[["28956b9f.16a0c4"]]},{"id":"9d9022f2.a138f","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"trig2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":1660,"wires":[[]]},{"id":"4274cbd6.60b494","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1450,"y":1700,"wires":[["dfe3c86e.500848"]]},{"id":"db0daaed.a6be08","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload\nif (data === true ) {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1170,"y":180,"wires":[["3bfb8f39.279d2","f8ccc874.cbdf68","33aead0.8be3d54"]]},{"id":"42bf5f96.5ee56","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload\nif (data === true ) {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1310,"y":1600,"wires":[["353529e7.e82386","9d9022f2.a138f","4274cbd6.60b494"]]},{"id":"aeadc38d.20115","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1630,"y":1660,"wires":[["dfe3c86e.500848"]]},{"id":"dfe3c86e.500848","type":"function","z":"b745b065.49b5c","name":"","func":"global.set(\"timer2\",0)\nglobal.set(\"trig2\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":1660,"wires":[[]]},{"id":"b25108fe.1a8df8","type":"ui_button","z":"b745b065.49b5c","name":"","group":"51769fdc.5116b","order":1,"width":8,"height":4,"passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":470,"y":2800,"wires":[["b20fcaf.87ed638"]]},{"id":"c5012559.841e68","type":"ui_button","z":"b745b065.49b5c","name":"","group":"51769fdc.5116b","order":2,"width":8,"height":4,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":470,"y":2840,"wires":[["b20fcaf.87ed638"]]},{"id":"a00c5daf.188ac","type":"ui_text","z":"b745b065.49b5c","group":"b6529ee9.cd9fb","order":3,"width":"7","height":1,"name":"","label":"R3","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":2640,"wires":[]},{"id":"95bf13e1.cef46","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"R3","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":2640,"wires":[["78d51d94.336894","24bc4822.f97cd8"]]},{"id":"24bc4822.f97cd8","type":"rpi-gpio out","z":"b745b065.49b5c","name":"R3 (Pin numarası Belirleyiniz)","pin":"29","set":"","level":"0","freq":"","out":"out","x":450,"y":2580,"wires":[]},{"id":"78d51d94.336894","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload;\n\n\nif( data === true){\n    msg.payload = \"Kapalı\";\n\n    return msg;\n}else if( data === false ){\n    \n    msg.payload = \"Açık\";\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":2640,"wires":[["a00c5daf.188ac"]]},{"id":"b20fcaf.87ed638","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload;\n\n\nif( data === true ){\n    \n    global.set(\"R3\",false);\n    \n    \n}else if( data === false ){\n    \n    global.set(\"R3\",true);\n    \n    \n      \n}\n\n\n\n","outputs":1,"noerr":0,"x":610,"y":2820,"wires":[[]]},{"id":"8e146ffc.355a","type":"function","z":"b745b065.49b5c","name":"","func":"\nvar data = msg.payload;\n\n\nif( data === false ){\n    msg.enabled = false\n    \n    return msg;\n    \n}else if( data === true ){\n    \n    msg.enabled = true;\n    return msg;\n     \n    \n}\n\n\n","outputs":1,"noerr":0,"x":350,"y":2800,"wires":[["b25108fe.1a8df8"]]},{"id":"1edf5738.b82e59","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"R3","payloadType":"global","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2820,"wires":[["8e146ffc.355a","851e802c.26c28"]]},{"id":"851e802c.26c28","type":"function","z":"b745b065.49b5c","name":"","func":"var data = msg.payload;\n\n\nif( data === false ){\n    msg.enabled = true\n    \n    return msg;\n    \n}else if( data === true ){\n    \n    msg.enabled = false;\n    return msg;\n     \n    \n}\n","outputs":1,"noerr":0,"x":350,"y":2840,"wires":[["c5012559.841e68"]]},{"id":"66290bfc.6af934","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1430,"y":2960,"wires":[["e5f2ae0d.a4b6"]]},{"id":"e5f2ae0d.a4b6","type":"function","z":"b745b065.49b5c","name":"R3","func":"global.set(\"R3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":2960,"wires":[[]]},{"id":"12d619e7.c16b96","type":"comment","z":"b745b065.49b5c","name":"Röle","info":"","x":150,"y":2360,"wires":[]},{"id":"c19d9f1e.18c2e","type":"ui_gauge","z":"b745b065.49b5c","name":"","group":"a628749f.e39ef8","order":1,"width":"7","height":"3","gtype":"gage","title":"R","label":"A","format":"{{payload.repg_c1}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":3680,"wires":[]},{"id":"d380670e.263508","type":"ui_gauge","z":"b745b065.49b5c","name":"","group":"a628749f.e39ef8","order":2,"width":"9","height":"3","gtype":"gage","title":"S","label":"A","format":"{{payload.repg_c2}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":3720,"wires":[]},{"id":"cf955dbb.41c3c","type":"ui_gauge","z":"b745b065.49b5c","name":"","group":"81d35b29.b878a8","order":0,"width":"7","height":"3","gtype":"gage","title":"R","label":"V","format":"{{payload.repg_v1_2}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":3540,"wires":[]},{"id":"64fa4af2.7a02a4","type":"ui_gauge","z":"b745b065.49b5c","name":"","group":"81d35b29.b878a8","order":0,"width":"9","height":"3","gtype":"gage","title":"S","label":"V","format":"{{payload.repg_v2_3}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":3580,"wires":[]},{"id":"8be3a041.8de1a","type":"ui_gauge","z":"b745b065.49b5c","name":"","group":"81d35b29.b878a8","order":0,"width":"7","height":"3","gtype":"gage","title":"T","label":"V","format":"{{payload.repg_v3_1}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":3620,"wires":[]},{"id":"d7db3271.ad83a","type":"ui_gauge","z":"b745b065.49b5c","name":"","group":"a628749f.e39ef8","order":3,"width":"7","height":"3","gtype":"gage","title":"T","label":"A","format":"{{payload.repg_c3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":3760,"wires":[]},{"id":"b42f51d0.7bac4","type":"function","z":"b745b065.49b5c","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"A1_v1\"]   =   msg.payload[\"repg_v1_2\"];\ndata[\"A1_v2\"]   =   msg.payload[\"repg_v2_3\"];\ndata[\"A1_v3\"]   =   msg.payload[\"repg_v3_1\"];\ndata[\"A1_c1\"]   =   msg.payload[\"repg_c1\"];\ndata[\"A1_c2\"]   =   msg.payload[\"repg_c2\"];\ndata[\"A1_c3\"]   =   msg.payload[\"repg_c3\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":3640,"wires":[[]]},{"id":"c7882749.316248","type":"function","z":"b745b065.49b5c","name":"RePG","func":"\nmsg = {\n    \"payload\" : {\n        //\"repg_v1\"   :   msg.payload[1]  /   10 ,\n        //\"repg_v2\"\t:   msg.payload[3]  /   10 ,\n        //\"repg_v3\"\t:   msg.payload[5]  /   10 ,\n        \"repg_v1_2\"\t:   msg.payload[9]  /   10 ,\n        \"repg_v2_3\"\t:   msg.payload[11] /   10 ,\n        \"repg_v3_1\"\t:   msg.payload[13] /   10 ,\n        \"repg_c1\"\t:   msg.payload[15] /   1000 ,\n        \"repg_c2\"\t:   msg.payload[17] /   1000 ,\n        \"repg_c3\"\t:   msg.payload[19] /   1000 \n        \n        \n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":3640,"wires":[["cf955dbb.41c3c","64fa4af2.7a02a4","8be3a041.8de1a","c19d9f1e.18c2e","d380670e.263508","d7db3271.ad83a","b42f51d0.7bac4"]]},{"id":"93848dc0.b400e","type":"modbus-read","z":"b745b065.49b5c","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"30","rate":"4","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"a784da1d.d23a08","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":260,"y":3640,"wires":[["c7882749.316248","5c960c11.d88364"],[]]},{"id":"5c960c11.d88364","type":"debug","z":"b745b065.49b5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":3740,"wires":[]},{"id":"e0aa0001.18c03","type":"function","z":"b745b065.49b5c","name":"","func":"let array = msg.payload\n\n\nlet array1 = [];\nlet start = 0;\nlet end = 2;\n\nfor(i = 0; i <= array.length /2 -1; i++){\n    array1.push(array.slice(start, end));\n    start += 2;\n    end  = start + 2;\n}\n\n\nlet array2 = [];\nfor(var item of array1){\n    for(var j of item){\n        array2.push(j.toString(16))\n    }\n}\n\nlet array3 = [];\nstart = 0;\nend = 2;\nfor(i = 0; i <= array.length /2 -1; i++){\n    array3.push(\"0x\"+array2.slice(start, end).join(\"\"));\n    start += 2;\n    end  = start + 2;\n}\n\nvar array4 = []\nfor(var k of array3){\n    var v = new DataView(new ArrayBuffer(4))\n    v.setUint32(0, k)\n    array4.push(String(v.getFloat32(0)).slice(0,5));\n}\n\nlet array5 = array4.map( y => ( isNaN(y) ? null : parseFloat(y)  ) )\n\nmsg = {\n    \"payload\" : array5\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":3820,"wires":[["90fe79d1.b3c518"]]},{"id":"ae98a350.0852d","type":"ui_gauge","z":"b745b065.49b5c","name":"","group":"c5a6610.1494aa","order":0,"width":"11","height":"4","gtype":"gage","title":"Güç LT","label":"VA","format":"{{payload.repg_t_p}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":3880,"wires":[]},{"id":"65bb0ba0.928504","type":"modbus-read","z":"b745b065.49b5c","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"26","quantity":"37","rate":"7","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"a784da1d.d23a08","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":270,"y":3820,"wires":[["e0aa0001.18c03"],[]]},{"id":"1de72fae.6bdeb","type":"function","z":"b745b065.49b5c","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\n\ndata[\"A1_p1\"]   =   msg.payload[\"repg_p1\"];\ndata[\"A1_p2\"]   =   msg.payload[\"repg_p2\"];\ndata[\"A1_p3\"]   =   msg.payload[\"repg_p3\"];\ndata[\"A1_t_p\"]  =   msg.payload[\"repg_t_p\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":3820,"wires":[[]]},{"id":"90fe79d1.b3c518","type":"function","z":"b745b065.49b5c","name":"RePG","func":"var data = global.get('azure_data');\n\n\n\nmsg = {\n    \"payload\" : {\n        \n        \"repg_p1\"   :   parseFloat( ( (data[\"A1_v1\"]    /   1.73) * data[\"A1_c1\"]).toFixed(0) ),\n        \"repg_p2\"   :   parseFloat( ( (data[\"A1_v2\"]    /   1.73) * data[\"A1_c2\"]).toFixed(0) ) ,\n        \"repg_p3\"   :   parseFloat( ( (data[\"A1_v3\"]    /   1.73) * data[\"A1_c3\"]).toFixed(0) ) ,\n        \"repg_t_p\"  :   parseFloat( ( data[\"A1_p1\"] +  data[\"A1_p2\"] + data[\"A1_p3\"] ).toFixed(0) )\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":3820,"wires":[["ae98a350.0852d","1de72fae.6bdeb"]]},{"id":"70cb0316.48912c","type":"comment","z":"b745b065.49b5c","name":"Analizör","info":"","x":270,"y":3520,"wires":[]},{"id":"7ea9c65f.510f48","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1250,"y":3500,"wires":[["9be26043.eb6f5"]]},{"id":"9be26043.eb6f5","type":"function","z":"b745b065.49b5c","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"A1_v1\"     :undefined,\n    \"A1_v2\"     :undefined,\n    \"A1_v3\"     :undefined,\n    \"A1_c1\"     :undefined,\n    \"A1_c2\"     :undefined,\n    \"A1_c3\"     :undefined,\n    \"A1_p1\"     :undefined,\n    \"A1_p2\"     :undefined,\n    \"A1_p3\"     :undefined,\n    \"A1_t_p\"    :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"P3\"        :undefined,\n    \"P4\"        :undefined,\n    \"PT\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":3500,"wires":[[]]},{"id":"c5124848.f87478","type":"debug","z":"b745b065.49b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":3540,"wires":[]},{"id":"2f73dc8f.41ac64","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":3540,"wires":[["c5124848.f87478"]]},{"id":"5584dc0c.07dff4","type":"function","z":"b745b065.49b5c","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0]  /   10,\n        \"Temp2\"\t:   msg.payload[1]  /   10,\n        \"Temp3\"\t:   msg.payload[2]  /   10,\n        \"Temp4\"\t:   msg.payload[3]  /   10,\n        \"Temp5\"\t:   msg.payload[4]  /   10,\n        \"Temp6\"\t:   msg.payload[5]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":4100,"wires":[["7cc6e907.d2ce28"]]},{"id":"4e517f71.b8b0c","type":"debug","z":"b745b065.49b5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":4160,"wires":[]},{"id":"7b20f7eb.0753f8","type":"modbus-read","z":"b745b065.49b5c","name":"PT-100","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"a784da1d.d23a08","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":210,"y":4100,"wires":[["4e517f71.b8b0c","5584dc0c.07dff4","b49277c9.1ccbf8"],[]]},{"id":"7cc6e907.d2ce28","type":"function","z":"b745b065.49b5c","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":4100,"wires":[[]]},{"id":"45493dd.cb19ec4","type":"ui_level","z":"b745b065.49b5c","group":"401db19b.e977","order":1,"width":"7","height":"6","name":"T1","label":"T1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":290,"y":4480,"wires":[]},{"id":"9e5407ba.cc2e08","type":"ui_level","z":"b745b065.49b5c","group":"401db19b.e977","order":2,"width":"8","height":"6","name":"T2","label":"T2","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":290,"y":4520,"wires":[]},{"id":"26b42830.df08f8","type":"ui_level","z":"b745b065.49b5c","group":"401db19b.e977","order":3,"width":"7","height":"6","name":"T3","label":"T3","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":290,"y":4560,"wires":[]},{"id":"700a5592.64426c","type":"ui_level","z":"b745b065.49b5c","group":"401db19b.e977","order":4,"width":"7","height":"6","name":"T4","label":"T4","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":290,"y":4600,"wires":[]},{"id":"5aad1c18.cbe8d4","type":"ui_level","z":"b745b065.49b5c","group":"401db19b.e977","order":5,"width":"8","height":"6","name":"T5","label":"T5","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":290,"y":4640,"wires":[]},{"id":"a84bb35a.d74e5","type":"ui_level","z":"b745b065.49b5c","group":"401db19b.e977","order":6,"width":"7","height":"6","name":"T6","label":"T6","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":290,"y":4680,"wires":[]},{"id":"fcde246.a6f08d8","type":"ui_level","z":"b745b065.49b5c","group":"4f782b66.cd90e4","order":1,"width":"5","height":"4","name":"T1","label":"T1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":430,"y":4480,"wires":[]},{"id":"4f9b9e3b.e6c8c","type":"ui_level","z":"b745b065.49b5c","group":"4f782b66.cd90e4","order":2,"width":"6","height":"4","name":"T3","label":"T3","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":430,"y":4560,"wires":[]},{"id":"16a1471f.311fe9","type":"ui_level","z":"b745b065.49b5c","group":"4f782b66.cd90e4","order":3,"width":"5","height":"4","name":"T5","label":"T5","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"-25","max":"250","segWarn":"","segHigh":"","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":430,"y":4640,"wires":[]},{"id":"7551c7d.e91d438","type":"ui_level","z":"b745b065.49b5c","group":"154410c9.049cff","order":1,"width":"4","height":"5","name":"P1","label":"P1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"custom","colorText":"#eeeeee","fontLabel":"1.5","fontValue":"3","fontSmall":"1.5","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":750,"y":4480,"wires":[]},{"id":"70d34704.91e8f8","type":"ui_level","z":"b745b065.49b5c","group":"154410c9.049cff","order":2,"width":"4","height":"5","name":"P2","label":"P2","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":750,"y":4520,"wires":[]},{"id":"5dbbef05.cbb5","type":"ui_level","z":"b745b065.49b5c","group":"154410c9.049cff","order":3,"width":"4","height":"5","name":"P2S","label":"P2S","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":750,"y":4560,"wires":[]},{"id":"6bd55e23.40f25","type":"ui_level","z":"b745b065.49b5c","group":"154410c9.049cff","order":4,"width":"4","height":"5","name":"PS","label":"PS","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"40","segWarn":"","segHigh":"","unit":"bar","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"x":750,"y":4600,"wires":[]},{"id":"23abe418.603c5c","type":"debug","z":"b745b065.49b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":2600,"wires":[]},{"id":"171bdc5.ad45b24","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4480,"wires":[["45493dd.cb19ec4","fcde246.a6f08d8"]]},{"id":"5156c584.e56d6c","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"T2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4520,"wires":[["9e5407ba.cc2e08"]]},{"id":"1424a088.f3bcef","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4560,"wires":[["26b42830.df08f8","4f9b9e3b.e6c8c"]]},{"id":"ff02ed74.e2529","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"T4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4600,"wires":[["700a5592.64426c"]]},{"id":"16fdabfc.a029a4","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"T5","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4640,"wires":[["5aad1c18.cbe8d4","16a1471f.311fe9"]]},{"id":"7543e33a.045eac","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"T6","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":4680,"wires":[["a84bb35a.d74e5"]]},{"id":"3017624d.a89dfe","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":4480,"wires":[["7551c7d.e91d438"]]},{"id":"ac37b27a.526f9","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":4520,"wires":[["70d34704.91e8f8"]]},{"id":"f9a022cb.07d96","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"P2S","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":4560,"wires":[["5dbbef05.cbb5"]]},{"id":"11200aa.0a63cf5","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"PS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":4600,"wires":[["6bd55e23.40f25"]]},{"id":"49b46a46.b16ff4","type":"function","z":"b745b065.49b5c","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"P1\"    :   msg.payload[0]  /   100,\n        \"P2\"\t:   msg.payload[1]  /   100,\n        \"P3\"\t:   msg.payload[2]  /   100,\n        \"P4\"\t:   msg.payload[3]  /   100\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":4220,"wires":[["fb46cc8d.48228","116e2348.284b6d"]]},{"id":"fb46cc8d.48228","type":"range","z":"b745b065.49b5c","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P1","name":"","x":470,"y":4240,"wires":[["21ef8fbc.dc3e2"]]},{"id":"116e2348.284b6d","type":"range","z":"b745b065.49b5c","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P2","name":"","x":470,"y":4280,"wires":[["7362104c.c6102"]]},{"id":"21ef8fbc.dc3e2","type":"function","z":"b745b065.49b5c","name":"","func":"var data = parseFloat( (msg.payload.P1).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":4240,"wires":[[]]},{"id":"7362104c.c6102","type":"function","z":"b745b065.49b5c","name":"","func":"var data = parseFloat( (msg.payload.P2).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":4280,"wires":[[]]},{"id":"5965682.1e0fe98","type":"inject","z":"b745b065.49b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1260,"y":3640,"wires":[[]]},{"id":"28824523.96b35a","type":"azureiothub","z":"b745b065.49b5c","name":"Azure IoT Hub","protocol":"mqtt","x":1460,"y":3800,"wires":[["824a2d93.3ab94"]]},{"id":"6396cc9d.a1fca4","type":"function","z":"b745b065.49b5c","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"2c61c9f2-4c98-4121-9782-e58a54533747\",\n        \"key\": \"dd/k0MTs70DG9kS/h0uuyTjmvDZa077IF+VVV+pKD/w=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":3740,"wires":[["28824523.96b35a"]]},{"id":"824a2d93.3ab94","type":"debug","z":"b745b065.49b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1490,"y":3860,"wires":[]},{"id":"33d86a24.556046","type":"function","z":"cc49046.7e880f8","name":"Up Down \"driver\"","func":"var min = global.get(\"driver_min\")\nvar max = global.get(\"driver_max\")\nvar Value = global.get(\"driver_1\");\n\nif(msg.payload === true && Value <max){\n    global.set('driver_1', Value + 1)\n\n} \n\nif(msg.payload === false && Value >min) {\n    global.set('driver_1', Value - 1)\n\n}\nValue = global.get(\"driver_1\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["c7accb8a.076428","b95fcad6.099008"]]},{"id":"9ae6fd4d.33136","type":"inject","z":"cc49046.7e880f8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":120,"wires":[["33d86a24.556046"]]},{"id":"67fccbd2.852484","type":"inject","z":"cc49046.7e880f8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["33d86a24.556046"]]},{"id":"c7accb8a.076428","type":"debug","z":"cc49046.7e880f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":140,"wires":[]},{"id":"ae2cf94c.e3ff18","type":"inject","z":"cc49046.7e880f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":340,"wires":[["b3a2b862.6cc7b8"]]},{"id":"b3a2b862.6cc7b8","type":"function","z":"cc49046.7e880f8","name":"","func":"global.set(\"driver_1\",0)\nglobal.set(\"driver_min\",0)\nglobal.set(\"driver_max\",0)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[[]]},{"id":"be1c4a2e.283de8","type":"ui_form","z":"cc49046.7e880f8","name":"","label":"","group":"60c3f67.54b7108","order":0,"width":"0","height":"0","options":[{"label":"Minimum","value":"Min","type":"number","required":true},{"label":"Maksimum","value":"Max","type":"number","required":true}],"formValue":{"Min":"","Max":""},"payload":"","submit":"Gönder","cancel":"İptal","topic":"","x":250,"y":440,"wires":[["bd5be883.1064a8"]]},{"id":"b97e19d8.baf3a8","type":"debug","z":"cc49046.7e880f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":520,"wires":[]},{"id":"bd5be883.1064a8","type":"function","z":"cc49046.7e880f8","name":"","func":"global.set(\"driver_min\",msg.payload.Min)\nglobal.set(\"driver_max\",msg.payload.Max)\nglobal.set(\"driver_1\",msg.payload.Min)\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":440,"wires":[[]]},{"id":"710f8589.057f7c","type":"ui_button","z":"cc49046.7e880f8","name":"","group":"83206054.9eeae","order":0,"width":0,"height":0,"passthru":false,"label":"true","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":170,"y":60,"wires":[["33d86a24.556046"]]},{"id":"cb8f977d.3e5a58","type":"ui_button","z":"cc49046.7e880f8","name":"","group":"83206054.9eeae","order":0,"width":0,"height":0,"passthru":false,"label":"false","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":170,"y":240,"wires":[["33d86a24.556046"]]},{"id":"b95fcad6.099008","type":"ui_text","z":"cc49046.7e880f8","group":"83206054.9eeae","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":240,"wires":[]},{"id":"adf4a932.70fc78","type":"ui_dropdown","z":"cc49046.7e880f8","name":"","label":"","tooltip":"","place":"Select option","group":"60c3f67.54b7108","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Driver","value":true,"type":"bool"},{"label":"T1","value":false,"type":"bool"}],"payload":"","topic":"","x":160,"y":520,"wires":[["b97e19d8.baf3a8"]]}]