RePG_21102019_sistem_write.txt
[{"id":"3d9d76eb.5874da","type":"debug","z":"f242f811.3d38a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":220,"wires":[]},{"id":"af2fa5d7.7a6588","type":"modbus-write","z":"f242f811.3d38a8","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"e099dad3.822e88","x":460,"y":180,"wires":[["3d9d76eb.5874da"],[]]},{"id":"17dcfeea.cffd91","type":"inject","z":"f242f811.3d38a8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":120,"wires":[["af2fa5d7.7a6588"]]},{"id":"b3d71ed2.40aa9","type":"inject","z":"f242f811.3d38a8","name":"","topic":"","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["af2fa5d7.7a6588"]]},{"id":"6dd8c8de.198688","type":"http in","z":"f242f811.3d38a8","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":180,"y":320,"wires":[["ab635f2d.9779c","d8f63b99.c4d318"]]},{"id":"e425dc68.9e44d","type":"debug","z":"f242f811.3d38a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":320,"wires":[]},{"id":"ab635f2d.9779c","type":"http response","z":"f242f811.3d38a8","name":"","statusCode":"200","headers":{},"x":460,"y":360,"wires":[]},{"id":"d8f63b99.c4d318","type":"function","z":"f242f811.3d38a8","name":"","func":"global.set(\"azure_data\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["e425dc68.9e44d"]]},{"id":"90a6c14d.0714b","type":"inject","z":"f242f811.3d38a8","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":460,"wires":[["b13d8d45.e02b4"]]},{"id":"b13d8d45.e02b4","type":"debug","z":"f242f811.3d38a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":460,"wires":[]},{"id":"e099dad3.822e88","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"100","clientTimeout":"1000","reconnectTimeout":"3000"}]