RePG_24122019_datamarket_son.txt
[{"id":"9775366a.52f0a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c519760c.a6a818","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"26e843a3.90fffc","type":"modbus-client","z":"","name":"TestRepG_IST","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"5","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"66c9910d.37fee","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":true,"width":1,"collapse":false},{"id":"e3eab947.b2ad08","type":"ui_group","z":"","name":"5Dk Timer","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"c5e3ea81.bb1cd8","type":"ui_group","z":"","name":"T3","tab":"","order":2,"disp":true,"width":1,"collapse":false},{"id":"4f8d4ad3.b886f4","type":"ui_group","z":"","name":"P1","tab":"","order":3,"disp":true,"width":1,"collapse":false},{"id":"7ecd5be9.c8afd4","type":"ui_group","z":"","name":"P2","tab":"","order":4,"disp":true,"width":1,"collapse":false},{"id":"f26d8f96.d88b8","type":"ui_group","z":"","name":"R1 DURUM","tab":"","order":8,"disp":true,"width":"6","collapse":false},{"id":"b27cc796.355048","type":"ui_group","z":"","name":"R2 DURUM","tab":"","order":9,"disp":true,"width":"6","collapse":false},{"id":"c8a86311.a96e","type":"ui_group","z":"","name":"SÜRÜCÜ","tab":"","order":7,"disp":true,"width":"6","collapse":false},{"id":"e54c0f3f.4be1b","type":"ui_group","z":"","name":"P2S","tab":"","order":6,"disp":true,"width":"6","collapse":false},{"id":"e3f39f9c.4bd75","type":"ui_group","z":"","name":"ÜRETİM","tab":"","order":11,"disp":true,"width":"6","collapse":false},{"id":"5574a2a8.40ee1c","type":"ui_group","z":"","name":"ACİL STOP DURUM","tab":"","order":12,"disp":true,"width":"6","collapse":false},{"id":"f6938a7f.19ba08","type":"modbus-client","z":"","name":"TestRepG_IST","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"5","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"5a6069b8.eecfe8","type":"ui_group","z":"","name":"5Dk Timer","tab":"77ddae61.facd2","order":3,"disp":false,"width":6,"collapse":false},{"id":"40824bae.459744","type":"ui_group","z":"","name":"P1","tab":"77ddae61.facd2","order":1,"disp":false,"width":"4","collapse":false},{"id":"9391c43e.d1c668","type":"ui_group","z":"","name":"P2","tab":"77ddae61.facd2","order":2,"disp":false,"width":5,"collapse":false},{"id":"3b03f1d0.e52bde","type":"ui_group","z":"","name":"R1 DURUM","tab":"77ddae61.facd2","order":6,"disp":false,"width":"6","collapse":false},{"id":"af26ce0f.ba387","type":"ui_group","z":"","name":"R2 DURUM","tab":"77ddae61.facd2","order":7,"disp":false,"width":"6","collapse":false},{"id":"ba5e61b1.ccf34","type":"ui_group","z":"","name":"SÜRÜCÜ","tab":"77ddae61.facd2","order":5,"disp":false,"width":6,"collapse":false},{"id":"5fd7b9fb.a41b98","type":"ui_group","z":"","name":"P2S","tab":"77ddae61.facd2","order":4,"disp":false,"width":"6","collapse":false},{"id":"bcbaeab2.a9c568","type":"ui_group","z":"","name":"ÜRETİM","tab":"77ddae61.facd2","order":8,"disp":false,"width":"6","collapse":false},{"id":"fbde3231.6a439","type":"ui_group","z":"","name":"ACİL STOP DURUM","tab":"77ddae61.facd2","order":9,"disp":false,"width":"6","collapse":false},{"id":"77ddae61.facd2","type":"ui_tab","z":"","name":"TEST","icon":"dashboard","disabled":false,"hidden":false},{"id":"2206b198.0de00e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7c8aa2cd.c591ac","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"c24d53d8.272ec","type":"ui_group","z":"","name":"Datacom","tab":"","disp":true,"width":"6","collapse":false},{"id":"4ffff84e.b6bf08","type":"modbus-client","z":"","name":"TestRepG_IST","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"5","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"6dc2546a.de497c","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe3aa5b8.0ff688","type":"ui_group","z":"","name":"5Dk Timer","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"4b2a35b2.59f10c","type":"ui_group","z":"","name":"T3","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"5bfabdde.78f3d4","type":"ui_group","z":"","name":"P1","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"eaf2e9f4.59e0d8","type":"ui_group","z":"","name":"P2","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"d4ad6acb.761f48","type":"ui_group","z":"","name":"R1 DURUM","tab":"","order":8,"disp":true,"width":"6","collapse":false},{"id":"3ae9f373.2d96ec","type":"ui_group","z":"","name":"R2 DURUM","tab":"","order":9,"disp":true,"width":"6","collapse":false},{"id":"9a2786c8.6e1c28","type":"ui_group","z":"","name":"SÜRÜCÜ","tab":"","order":7,"disp":true,"width":"6","collapse":false},{"id":"99aa0a73.2eb508","type":"ui_group","z":"","name":"P2S","tab":"","order":6,"disp":true,"width":"6","collapse":false},{"id":"6f0f54d9.96a3ac","type":"ui_group","z":"","name":"ÜRETİM","tab":"","order":11,"disp":true,"width":"6","collapse":false},{"id":"1ccf01d5.b7795e","type":"ui_group","z":"","name":"ACİL STOP DURUM","tab":"","order":12,"disp":true,"width":"6","collapse":false},{"id":"888b64e9.60fdf8","type":"modbus-client","z":"","name":"TestRepG_IST","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"5","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"e17abe6d.0390f","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e9e69cf.5070a8","type":"ui_group","z":"","name":"5Dk Timer","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"9d8933e5.3e1df","type":"ui_group","z":"","name":"T3","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"397f8055.98282","type":"ui_group","z":"","name":"P1","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"c51d60c4.11e4a","type":"ui_group","z":"","name":"P2","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"30780599.04be0a","type":"ui_group","z":"","name":"R1 DURUM","tab":"","order":8,"disp":true,"width":"6","collapse":false},{"id":"f4c3bc03.5884","type":"ui_group","z":"","name":"R2 DURUM","tab":"","order":9,"disp":true,"width":"6","collapse":false},{"id":"f9736a7b.97ef98","type":"ui_group","z":"","name":"SÜRÜCÜ","tab":"","order":7,"disp":true,"width":"6","collapse":false},{"id":"b6ec80e.b0c258","type":"ui_group","z":"","name":"P2S","tab":"","order":6,"disp":true,"width":"6","collapse":false},{"id":"51075ef.164caa","type":"ui_group","z":"","name":"ÜRETİM","tab":"","order":11,"disp":true,"width":"6","collapse":false},{"id":"8a29b509.23f5e8","type":"ui_group","z":"","name":"ACİL STOP DURUM","tab":"","order":12,"disp":true,"width":"6","collapse":false},{"id":"6ba31be2.874124","type":"ui_group","z":"","name":"DataCom","tab":"21dad5aa.ee60fa","order":12,"disp":true,"width":"6","collapse":false},{"id":"21dad5aa.ee60fa","type":"ui_tab","z":"","name":"DataCOM","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"cc2165cd.602268","type":"ui_group","z":"","name":"T3","tab":"77ddae61.facd2","order":10,"disp":false,"width":5,"collapse":false},{"id":"70d738d6.da2138","type":"ui_group","z":"","name":"T1","tab":"77ddae61.facd2","order":11,"disp":false,"width":4,"collapse":false},{"id":"b27a82b9.a7b17","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.100","tcpPort":"1001","tcpType":"DEFAULT","serialPort":"/dev/ttyAMA0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"2000","reconnectTimeout":"2000"},{"id":"d7a00d74.ce324","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"cbbd4f87.5e70a","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"93c7a920.2203f8","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"3d21eccb.792aa4","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"d35e06fb.9cca98","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"4b8fe14c.9569","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"2c63cd6a.386972","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"45768445.0db4fc","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"755f3b19.2a8db4","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"5cb276d9.daf098","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"29297802.5f18c8","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"412dec6a.2c82f4","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"67eaba20.744a04","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"95eb9366.c3c14","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"676c792b.72e668","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"b751668b.f699c8","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"4756632f.8ed30c","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"6b8b3d37.acf5c4","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"6601e096.53501","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"4e691088.792ee","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"8d1a842.69c7378","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"d1eb0f2e.d53e5","type":"ui_group","z":"","name":"İç İnverter","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"70a00353.c4f11c","type":"ui_group","z":"","name":"Kontrol","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"65237189.6b372","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"8239f32f.f2dc6","type":"ui_group","z":"","name":"Motor Hız","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2ae2ab9c.c5d274","type":"ui_group","z":"","name":"Sürücü","tab":"","order":2,"disp":true,"width":"8","collapse":false},{"id":"d1363cf4.092a","type":"ui_group","z":"","name":"Pompa","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"f5416a1d.35bfe8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"b461a320.796df","type":"ui_group","z":"","name":"PWM","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"fd01a9e.d216158","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"929bea52.c18078","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"5206ed9f.48a0b4","type":"ui_group","z":"","name":"Motor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"fff7827e.d5d45","type":"ui_group","z":"","name":"Motor Hız","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e077769b.2c27f8","type":"ui_group","z":"","name":"Motor Hız","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"65c9b8f5.2cbe18","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"41e25d89.77bfe4","type":"ui_group","z":"","name":"Buton-1","tab":"","order":3,"disp":false,"width":"7","collapse":false},{"id":"1169b06b.73247","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ee4ccd7d.9fc4e","type":"ui_group","z":"","name":"Buton-2","tab":"","order":4,"disp":false,"width":"7","collapse":false},{"id":"527c7b5b.607744","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"7","collapse":false},{"id":"fbdddc8f.de8b6","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"7","collapse":false},{"id":"30728b34.767d84","type":"ui_group","z":"","name":"Buton-5","tab":"","order":7,"disp":false,"width":"7","collapse":false},{"id":"e22e7653.2059e8","type":"ui_group","z":"","name":"Buton-6","tab":"","order":8,"disp":false,"width":"7","collapse":false},{"id":"5ef83b19.ea6694","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"4","collapse":false},{"id":"e45f72b1.2e639","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"4","collapse":false},{"id":"dc7004cd.d1b008","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"1c058c49.39c694","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"54b9812a.4419a","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"7","collapse":false},{"id":"53481c38.952214","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"7","collapse":false},{"id":"b645fd63.b2812","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"7","collapse":false},{"id":"71dfc52a.32cddc","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"7","collapse":false},{"id":"89bd309c.c518d","type":"ui_group","z":"","name":"Buton-7","tab":"","disp":false,"width":"7","collapse":false},{"id":"12283bd5.833ca4","type":"ui_group","z":"","name":"Buton-8","tab":"","disp":false,"width":"7","collapse":false},{"id":"13cb936.52c2a6d","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"acdd4b7f.e6a2d8","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"a5d9d610.cb0b28","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"5bd420a6.459ea","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"4","collapse":false},{"id":"6ab8af29.ff946","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"a0c49523.af3f68","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"d53d2e3e.ada51","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"677ba225.9ccc3c","type":"ui_group","z":"","name":"Motor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4f2bfbfb.8b31b4","type":"ui_group","z":"","name":"Motor Hız","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"76fec6bd.e617e8","type":"ui_group","z":"","name":"Motor Hız","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"5e1370d0.2e8f8","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"4e7e92cd.d7e31c","type":"ui_group","z":"","name":"Buton-1","tab":"","order":3,"disp":false,"width":"7","collapse":false},{"id":"7925030.f7e1bfc","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"832ba396.0b5f6","type":"ui_group","z":"","name":"Buton-2","tab":"","order":4,"disp":false,"width":"7","collapse":false},{"id":"56d18ba5.79a334","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"7","collapse":false},{"id":"cb157a3e.135c48","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"7","collapse":false},{"id":"eb1fc0ed.cbdf8","type":"ui_group","z":"","name":"Buton-5","tab":"","order":7,"disp":false,"width":"7","collapse":false},{"id":"6762e4d.f29311c","type":"ui_group","z":"","name":"Buton-6","tab":"","order":8,"disp":false,"width":"7","collapse":false},{"id":"3f763de.3a002c2","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"4","collapse":false},{"id":"fec86f8b.316ce","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"4","collapse":false},{"id":"fdd4f8bb.9d51b8","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"3f66002.d1f6a","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"bf92e483.a07368","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"7","collapse":false},{"id":"883f5469.2ede88","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"7","collapse":false},{"id":"f09d8b8e.6fa398","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"7","collapse":false},{"id":"46c85e7d.8eb38","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"7","collapse":false},{"id":"be6d2a10.b2dc88","type":"ui_group","z":"","name":"Buton-7","tab":"","disp":false,"width":"7","collapse":false},{"id":"f1637013.9b8c9","type":"ui_group","z":"","name":"Buton-8","tab":"","disp":false,"width":"7","collapse":false},{"id":"eccf2147.95ead","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"8981b128.d25b7","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"6898dc1c.446504","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"69f23f12.6c532","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"4","collapse":false},{"id":"aed6515f.ca8fa","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"ed97ea55.7a3758","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"343556ef.b5639a","type":"ui_group","z":"","name":"Buton-1","tab":"","order":3,"disp":false,"width":"7","collapse":false},{"id":"974dc89e.46e428","type":"ui_group","z":"","name":"Buton-2","tab":"","order":4,"disp":false,"width":"7","collapse":false},{"id":"cd3418dc.cc7a48","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"7","collapse":false},{"id":"485a6224.fee46c","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"7","collapse":false},{"id":"1d106b31.df9665","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"e3340f6d.1925a","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"b01e789c.c4a958","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"526acc03.2eb9c4","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"2b21c193.7ee67e","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"246750bb.345bb","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"c27ab99a.b5e378","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"f019842c.1822d8","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"c48bcbee.0d52d8","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"deb973d4.77936","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"df7fd78a.bb4558","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"c5fb81c.25d968","type":"ui_group","z":"","name":"PWM","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"2020fa3.4211306","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"c2f74199.92ead","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"91df62a2.c2ba4","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"bc4239df.182468","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"1b58926e.70674e","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"d189c8ed.54d7d8","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"b2945ef0.d82df","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"5431d26f.04b9cc","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"764aa722.686748","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"7d3864c.49f0b9c","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"563b7a4f.ee8c54","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"dff3c31c.563c3","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"6ed2d1ce.c585c","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"78b7bd93.b537d4","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"85151727.5bcb88","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"dfdc6045.1d8ba","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"45e85e3e.fc1fb","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"f9ba94c7.2414c8","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"948e1e52.24875","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"237b189d.7bce48","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"4e151ff4.72707","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"331686bd.be585a","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"6ef8f228.87b2cc","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"ffb23b44.b91028","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"8ecdcc3f.7fcdb","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"c7c5236d.ae13f","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"d7eab73d.ed0ef8","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"22598665.c9da9a","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"32bc7f8e.ebab8","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"bed1b55c.a9b7d8","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"bbd0786f.c018c8","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"db3917bc.967728","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"bc6635b9.626e18","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"c9adcbc5.beeb68","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"1a50a198.5c077e","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"5161dae.d125e24","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"15b76416.cdf7ac","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"de29ef9d.3312f","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"f565067e.026b08","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"37c5b439.dacacc","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"5ae838f.16f29c8","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"5ff086db.d76028","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"dea21b0a.19c4a8","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"88941614.050298","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"530c140b.21583c","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"e142e475.d3d478","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"931fd443.0fda68","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"49224a77.b56444","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"c86c0a24.db8628","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"8397ca06.2ffdb8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"7a139064.56d7a","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"52ca8557.4a7d4c","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"4d2554cc.ab85ac","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"62b65cfb.504ea4","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"9fce3b61.1a7ac8","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"f4917813.de30a8","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"6d16a40d.268f2c","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"bc9d064a.789008","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"5fc7c51d.38579c","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"daa5e874.240f48","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"7ea6fdf8.0a7d34","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"b9bc763b.c4a6c8","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"b1efdeee.387d2","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"79a124e4.6b6f3c","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"218c49d4.642376","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"6c1b5c69.001f24","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"145089a.a332d76","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"449af254.44851c","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"199360b9.7fddaf","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"17ad2296.3190cd","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"679b4ad3.e28474","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"ea867935.75cc68","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"bb83886d.8276e8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"809841a3.ba986","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"dda361cd.93c7f","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"4bea7e2e.56f75","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"6c636bf4.e81ad4","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"b3ba2528.b28c28","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"8c90bea7.06aeb","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"9109615c.b6c16","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"a1a3c378.d2811","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"8c07e379.ceaa6","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"c1823dd8.8a941","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"cc963902.5aec68","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"f99e57e9.1b0cb8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"2307fe2c.fc0cf2","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"a65904f9.db27e8","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"8b1f461c.f8dd48","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"f8b51bab.edea78","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"a80761b7.b2047","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"9c962f98.ac65b","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"f08e7988.4dcd18","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"f7b33737.5efae8","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"11c7d62e.e36e8a","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"16fbade2.0783d2","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"65813cc6.1507e4","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"5ed1545b.f9285c","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"c56dd9f5.561398","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"8c392dd.6ea59d","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"85265491.8bcc78","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"ad0d2042.24349","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"444c26d9.8a4038","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"f2ccda37.288358","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"ae66b632.1dbc88","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"d0d6f319.288bd","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"ab2d15ab.8fb2b8","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"48db7e66.f86e8","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"e9e8b614.536fa8","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"8b33353.f8a3cc8","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"e4032e0a.cdb49","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"b0a730b8.7e0fd","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"9d9da192.d58d1","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"9c3cd962.708108","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"bba6a974.53fc38","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"3185842d.0e4a2c","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"3a43f14.0b0a60e","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"723d5e80.c7bbf","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"a66909b0.3a38c8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"72d73b4d.933584","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"59e0011b.62d37","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"705006b7.5e02c8","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"90adb972.aaa678","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"c491dc49.1395c","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"400a8829.2d83e8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"cab71c9c.8d5e2","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"6f2289cb.cf8d98","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"6aad659f.0696cc","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"1fa55a35.35c416","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"296a72b9.9b84ae","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"511186d0.6c58c8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"bf27ed8e.f923b","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"cb27ec4a.58b88","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"75b0ee03.ebfaf","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"c41962f5.58667","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"ead916b6.f6ac28","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"41a37adf.849004","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"ff28fca8.a661d","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"2fa61923.2bda36","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"ca5a3a35.df15a8","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"2c625794.0faa38","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"2a5b0999.9bd346","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"1983ea40.5bea56","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"6d2b46b.0dc98b8","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"aafc416b.af24e","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"e883ba89.71afa8","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"f1d39d67.66bb6","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"24df187b.f986e8","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"bb16dcdc.794fb","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"66f84bf2.fc88e4","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"781d734c.6ef79c","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"69cee6ee.edd388","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"cd9a4fb8.c60b8","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"e93ce29a.e6f6c","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"5f0bfaf7.fb7f74","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"a00bb82c.d9ead8","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"db71a849.07b8c8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"d9720d44.36cf4","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"6c0cdedc.b2e8e","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"69a9c7ba.44f338","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"332fbc6d.e21fc4","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"18462e86.68aa01","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"1c4163d8.0b9f2c","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"af7e21ad.c4a55","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"74a80d8f.b98474","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"9c3e7290.34284","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"65cabb1b.539624","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"adbb3ca8.f1587","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"314095f3.31ac0a","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"fb39c0cf.8916","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"f4c0567d.7e0c28","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"636046d9.d04f08","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"2e8e7973.2db5b6","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"535af63e.1683d8","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"4b80ce6d.5d7ee","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"75b0b6db.5f5528","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"7ab36089.8b5b1","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"945b8b37.1c5a68","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"17308bf4.98fda4","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"d8dac0b7.8a28c","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"16b683b3.a2a7dc","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"596b572e.b57ad8","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"1b3c5caa.a82333","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"e5a1d750.0859e8","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"e178b83f.e92098","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"293fc25c.a41f2e","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"9b4016a6.72d1b8","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"7aa75192.37119","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"b5e7fd6.67319","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"bf51239d.91192","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"2748c727.6839b8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"5eb7ab8d.fd4eb4","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"a0b7b7b2.f11828","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"959574d7.949a08","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"be1df316.c0379","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"df7bdbea.0717a8","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"9449ed1.3bc8b1","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"11853b90.62a614","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"cd6553ab.7c8fd","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"a4fe1af0.973b08","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"e43b371b.5c5a08","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"ee6b915d.6ece4","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"2b3c9243.ad258e","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"1c0031b3.929fde","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"b071050e.eb09b8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"e3f8545.8f904a8","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"c4726ef4.b4f0c","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"aa347cc1.49b04","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"60cae61d.b8bb58","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"817c3c97.840a1","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"345c31ac.a0db7e","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"2000","reconnectTimeout":"2000"},{"id":"39566119.b3170e","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"b9bd3969.b52168","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"bb64ac77.6404","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"e1e48dc6.984ea","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"229a02f1.11826e","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"4ed4d91c.059a58","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"37adf8b8.8e7cd8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"2000","reconnectTimeout":"2000"},{"id":"bb5f0784.90d628","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"3e744f65.cf77b","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"69b271d9.c944d","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"926ec78b.bf36c8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"eab35c22.f47c1","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"4019b672.480958","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"9c75ca6e.227528","type":"ui_group","z":"","name":"Buton","tab":"","order":2,"disp":true,"width":"8","collapse":false},{"id":"a395cd00.50281","type":"ui_group","z":"","name":"Buton-3","tab":"","order":1,"disp":false,"width":"9","collapse":false},{"id":"34599e1.afd3262","type":"ui_group","z":"","name":"Buton-4","tab":"","order":2,"disp":false,"width":"9","collapse":false},{"id":"2d7eaaef.ddc106","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"7df1a4a8.170fcc","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"ae8949fc.5e5688","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"cf771c0.12f36e8","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"aac58211.cd115","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"7646e9a1.724b88","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"284c81ea.76bb7e","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"b7ea4bd4.082ed8","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"14cf3517.be926b","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"2e29a11a.eaf2ee","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"5c9d9ecd.9991d","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"52d38a41.7c4624","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"34fad676.3490ba","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"9a6af7f8.ecc6a8","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"4673cdd2.810294","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"66fbc376.5e32bc","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"64eaf489.60e9ec","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"30892e65.ffa7e2","type":"ui_group","z":"","name":"Basınç","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"a3ac53ef.fb9a2","type":"ui_group","z":"","name":"Buton","tab":"","order":2,"disp":true,"width":"8","collapse":false},{"id":"756c49cd.1d8fa8","type":"ui_group","z":"","name":"Buton-3","tab":"","order":1,"disp":false,"width":"9","collapse":false},{"id":"49007140.37005","type":"ui_group","z":"","name":"Buton-4","tab":"","order":2,"disp":false,"width":"9","collapse":false},{"id":"62d420be.0d38b","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"11389a76.c88366","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"2ae4c6b2.e5a64a","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"6dc3caac.d15344","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"fc78bd76.c2ad","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"6d6c3ffa.40954","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"b491184b.571388","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"831022b6.57c38","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"83cd5969.152388","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"ef34e5df.e407a8","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"5c358c62.3bd794","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"34bd5310.4408ec","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"e75d6d1f.c3af","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"44392930.6ec4b8","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"fcf9acbf.3e78a","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"82e35874.c42018","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"95f9a1d8.30dac","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"ba0f6f5a.712b3","type":"ui_group","z":"","name":"Basınç","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"c66315d3.6535f8","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"5c059441.779bfc","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"54e4cf9d.af218","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"d741fbbf.6a0608","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"e9f15cd4.be60c","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"45745cf8.445594","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"b6830c34.56317","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":false,"width":"7","collapse":false},{"id":"51043346.95306c","type":"ui_group","z":"","name":"Sürücü","tab":"","order":4,"disp":false,"width":"7","collapse":false},{"id":"4b222359.ffbdcc","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.100","tcpPort":"1001","tcpType":"DEFAULT","serialPort":"COM3","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"dbd26b84.0d1ac8","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"58db3190.fd86d","type":"ui_group","z":"","name":"Timer","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"b77f9a69.358438","type":"ui_group","z":"","name":"                              R3 ON/OFF","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"dd0bde65.80f8e","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"","order":1,"disp":false,"width":"22","collapse":false},{"id":"d0b50975.b23bd8","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"","order":1,"disp":false,"width":"16","collapse":false},{"id":"1f8cb425.453efc","type":"ui_group","z":"","name":"Basınçlar","tab":"","order":3,"disp":false,"width":"16","collapse":false},{"id":"605ee35f.6e143c","type":"ui_group","z":"","name":"Akü","tab":"","order":10,"disp":true,"width":"9","collapse":false},{"id":"5b3f4a4a.7f0634","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.100","tcpPort":"1001","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"4c71eaee.d44ac4","type":"ui_group","z":"","name":"Röle Durumları","tab":"e307c335.5ff32","order":3,"disp":false,"width":"6","collapse":false},{"id":"8ad6e40.bedce2","type":"ui_group","z":"","name":"Sürücü","tab":"e307c335.5ff32","order":4,"disp":false,"width":"6","collapse":false},{"id":"f3a3ff6f.0b0fa","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.248","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM3","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"53ce3552.2de53c","type":"ui_group","z":"","name":"Start - Stop","tab":"e307c335.5ff32","order":7,"disp":false,"width":"6","collapse":false},{"id":"67c6db8f.eebc44","type":"ui_group","z":"","name":"Timer","tab":"e307c335.5ff32","order":5,"disp":false,"width":"6","collapse":false},{"id":"9257874d.2c8f88","type":"ui_group","z":"","name":"                              R3 ON/OFF","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"65856f20.c30ca","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"","order":1,"disp":false,"width":"22","collapse":false},{"id":"193e2bd1.cf33b4","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"e307c335.5ff32","order":1,"disp":false,"width":"18","collapse":false},{"id":"36a8375d.ff0ae8","type":"ui_group","z":"","name":"Basınçlar","tab":"e307c335.5ff32","order":2,"disp":false,"width":"12","collapse":false},{"id":"2311be19.ec58e2","type":"ui_group","z":"","name":"AC Analizör","tab":"6a394ba7.a99884","order":10,"disp":true,"width":"9","collapse":false},{"id":"5ab73c9e.c2c6d4","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.248","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"3000"},{"id":"e307c335.5ff32","type":"ui_tab","z":"","name":"RePG_v3.2","icon":"dashboard","order":1},{"id":"6a394ba7.a99884","type":"ui_tab","z":"","name":"Analizör","icon":"dashboard","order":7},{"id":"2023517.77efcae","type":"ui_group","z":"","name":"Güç","tab":"e307c335.5ff32","order":6,"disp":false,"width":"6","collapse":false},{"id":"100a76f1.526e39","type":"ui_group","z":"","name":"Anlık Güç","tab":"7e7e376a.9dccf8","order":4,"disp":true,"width":"9","collapse":false},{"id":"676a78eb.5cf998","type":"ui_group","z":"","name":"Toplam Enerji","tab":"7e7e376a.9dccf8","order":5,"disp":true,"width":"9","collapse":false},{"id":"64ded828.18fc48","type":"ui_group","z":"","name":"Akım","tab":"7e7e376a.9dccf8","order":3,"disp":true,"width":"9","collapse":false},{"id":"110c2626.60022a","type":"ui_group","z":"","name":"Gerilim","tab":"7e7e376a.9dccf8","order":1,"disp":true,"width":"9","collapse":false},{"id":"da7c515f.82af1","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"7e7e376a.9dccf8","type":"ui_tab","z":"","name":"Elektrik","icon":"dashboard","order":2},{"id":"a8b5c819.c74298","type":"function","z":"9775366a.52f0a8","name":"Set modbus2","func":"global.set(\"modbus2\", msg.payload)\n","outputs":1,"noerr":0,"x":910,"y":260,"wires":[[]]},{"id":"d8a7bb7.7654948","type":"function","z":"9775366a.52f0a8","name":"T1>70 - T3<100 - P1<12 - P2<12 - R1-ON","func":"var t1  =   global.get(\"T1\");\nvar t3  =   global.get(\"T3\");\nvar p1  =   global.get(\"P1\");\nvar p2  =   global.get(\"P2\");\n\nif (t1>70 && t3<100 && p1<12 && p2<12) {\n    global.set(\"R1\",false);\n    msg.payload = true;\n    global.set(\"start\",false);\n    return msg;\n}\nelse {\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":580,"y":80,"wires":[["a49564ec.149e08","9fe3c6c4.86bf28"]]},{"id":"3472f123.65ad2e","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1660,"y":1700,"wires":[["45b90b35.f0d2f4","8a36f2a6.44045"]]},{"id":"7d41ae89.f5302","type":"function","z":"9775366a.52f0a8","name":"set driver  \"5\"","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"driver\",5)\n    global.set(\"check1\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1110,"y":80,"wires":[[]]},{"id":"e97f2d40.af2da","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["49f3eb45.3fb2a4"]]},{"id":"6cb339f1.af2cf8","type":"debug","z":"9775366a.52f0a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":2080,"wires":[]},{"id":"94208424.458448","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":2060,"wires":[["a273fa33.d2c4e8"]]},{"id":"99a7dcc2.ce931","type":"switch","z":"9775366a.52f0a8","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":2100,"wires":[["a273fa33.d2c4e8"]]},{"id":"c4f8eb93.3a7238","type":"function","z":"9775366a.52f0a8","name":"T1","func":"global.set(\"T1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1120,"wires":[[]]},{"id":"b2b6dfe0.20d54","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1140,"wires":[["c4f8eb93.3a7238"]]},{"id":"3b91369c.82e27a","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1300,"wires":[["ee803939.9e7c28"]]},{"id":"c1bf4291.701f5","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1340,"wires":[["ee803939.9e7c28"]]},{"id":"b3f93c93.fa723","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"63","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1380,"wires":[["ee803939.9e7c28"]]},{"id":"ee803939.9e7c28","type":"function","z":"9775366a.52f0a8","name":"T3","func":"global.set(\"T3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1580,"wires":[[]]},{"id":"3fc9acc6.214624","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"start","payloadType":"global","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["80b27c84.72c9d"]]},{"id":"a49564ec.149e08","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":40,"wires":[["7d41ae89.f5302"]]},{"id":"1cd9dd0f.edd763","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"65","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1100,"wires":[["c4f8eb93.3a7238"]]},{"id":"b9d3ae03.84c3d","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":2820,"wires":[["ccac6ed3.7ff27"]]},{"id":"ccac6ed3.7ff27","type":"function","z":"9775366a.52f0a8","name":"Relay","func":"global.set(\"R1\",true)\nglobal.set(\"R2\",true)\nglobal.set(\"R4\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":2820,"wires":[[]]},{"id":"7bf4241d.9bc85c","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":2860,"wires":[["47db1be1.be3a14"]]},{"id":"47db1be1.be3a14","type":"function","z":"9775366a.52f0a8","name":"driver - driverf","func":"global.set(\"driver\",0)\nglobal.set(\"driver_min\",0)\nglobal.set(\"driver_max\",0)\nglobal.set(\"driverf\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":2860,"wires":[[]]},{"id":"5ffb68c8.489708","type":"rpi-gpio out","z":"9775366a.52f0a8","name":"R1","pin":"7","set":"","level":"0","freq":"","out":"out","x":490,"y":2520,"wires":[]},{"id":"f92f59c2.251e68","type":"rpi-gpio out","z":"9775366a.52f0a8","name":"R2","pin":"11","set":"","level":"0","freq":"","out":"out","x":510,"y":2620,"wires":[]},{"id":"c4c0f2c4.64603","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"R1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":2580,"wires":[["fec1c3ce.3c80a","5ffb68c8.489708"]]},{"id":"d13fadd9.cef08","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"R2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":2680,"wires":[["f92f59c2.251e68","c0db85ff.72e208"]]},{"id":"a89d1d7b.1bf43","type":"function","z":"9775366a.52f0a8","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":750,"y":380,"wires":[["d85fe944.226a48"]]},{"id":"d85fe944.226a48","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":380,"wires":[["c1838762.c11288"]]},{"id":"c1838762.c11288","type":"function","z":"9775366a.52f0a8","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1020,"y":380,"wires":[["f739b8bb.3298b8"]]},{"id":"fec1c3ce.3c80a","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":490,"y":2580,"wires":[["9bb1954b.bbe6e8"]]},{"id":"c0db85ff.72e208","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":490,"y":2680,"wires":[["2be714e1.ee6c6c"]]},{"id":"9bb1954b.bbe6e8","type":"ui_text","z":"9775366a.52f0a8","group":"4c71eaee.d44ac4","order":1,"width":"6","height":"1","name":"","label":"Pompa","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":2580,"wires":[]},{"id":"2be714e1.ee6c6c","type":"ui_text","z":"9775366a.52f0a8","group":"4c71eaee.d44ac4","order":2,"width":"6","height":"1","name":"","label":"Türbin","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":2680,"wires":[]},{"id":"8056bc60.80751","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"8ad6e40.bedce2","order":1,"width":"6","height":"4","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":3440,"wires":[]},{"id":"f9d238a4.cdb978","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":3500,"wires":[["8056bc60.80751","48801a85.3fdb64","3dfbc035.5ce19"]]},{"id":"e9325121.849fe","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":3060,"wires":[["7d82f4db.47a72c"]]},{"id":"7d82f4db.47a72c","type":"function","z":"9775366a.52f0a8","name":"set \"0\" (T1 - T3 - P1 - P2 - P2S - PS )","func":"\n\nglobal.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",0)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":3060,"wires":[[]]},{"id":"96f8a204.f9a2d","type":"switch","z":"9775366a.52f0a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"50.1","vt":"num","v2":"52.9","v2t":"num"},{"t":"btwn","v":"53","vt":"num","v2":"55.9","v2t":"num"},{"t":"btwn","v":"56","vt":"num","v2":"58.9","v2t":"num"},{"t":"btwn","v":"59","vt":"num","v2":"61.9","v2t":"num"},{"t":"btwn","v":"62","vt":"num","v2":"64.9","v2t":"num"},{"t":"btwn","v":"65","vt":"num","v2":"67.9","v2t":"num"},{"t":"btwn","v":"68","vt":"num","v2":"70.9","v2t":"num"},{"t":"btwn","v":"71","vt":"num","v2":"73.9","v2t":"num"},{"t":"btwn","v":"74","vt":"num","v2":"76.9","v2t":"num"},{"t":"btwn","v":"77","vt":"num","v2":"79.9","v2t":"num"},{"t":"btwn","v":"80","vt":"num","v2":"82.9","v2t":"num"},{"t":"btwn","v":"83","vt":"num","v2":"85.9","v2t":"num"},{"t":"btwn","v":"86","vt":"num","v2":"88.9","v2t":"num"},{"t":"btwn","v":"89","vt":"num","v2":"91.9","v2t":"num"},{"t":"btwn","v":"92","vt":"num","v2":"94.9","v2t":"num"},{"t":"btwn","v":"95","vt":"num","v2":"97.9","v2t":"num"},{"t":"btwn","v":"98","vt":"num","v2":"100.9","v2t":"num"},{"t":"btwn","v":"101","vt":"num","v2":"103.9","v2t":"num"},{"t":"btwn","v":"104","vt":"num","v2":"106.9","v2t":"num"},{"t":"btwn","v":"107","vt":"num","v2":"109.9","v2t":"num"},{"t":"btwn","v":"110","vt":"num","v2":"114.9","v2t":"num"}],"checkall":"true","repair":false,"outputs":21,"x":1870,"y":1020,"wires":[["9c43e309.a6783"],["44703340.93fefc"],["e1977e15.f9232"],["f75dbf00.6d537"],["870eeb24.0133e8"],["8b248552.69efc8"],["5c92825a.274a5c"],["2fdf2bf0.a95094"],["c013580.2f477a8"],["7c30c016.753e1"],["a0882258.809a"],["4f9f6ab6.0178f4"],["bad9f93f.482758"],["5ad89b5f.e20c14"],["32d55ef9.523ad2"],["d6406e6c.acb7c"],["366b31d6.71107e"],["78fcc065.d52c4"],["25fbc27.758af3e"],["9f6dedaa.e93e6"],["8e09ac47.d48a2"]]},{"id":"e1977e15.f9232","type":"function","z":"9775366a.52f0a8","name":"set \"12\" bar","func":"global.set(\"P2S\",12);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":700,"wires":[[]]},{"id":"f75dbf00.6d537","type":"function","z":"9775366a.52f0a8","name":"set \"13\" bar","func":"global.set(\"P2S\",13);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":740,"wires":[[]]},{"id":"870eeb24.0133e8","type":"function","z":"9775366a.52f0a8","name":"set \"14\" bar","func":"global.set(\"P2S\",14);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":780,"wires":[[]]},{"id":"5c92825a.274a5c","type":"function","z":"9775366a.52f0a8","name":"set \"16\" bar","func":"global.set(\"P2S\",16);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":860,"wires":[[]]},{"id":"44703340.93fefc","type":"function","z":"9775366a.52f0a8","name":"set \"11\" bar","func":"global.set(\"P2S\",11);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":660,"wires":[[]]},{"id":"9c43e309.a6783","type":"function","z":"9775366a.52f0a8","name":"set \"10\" bar","func":"global.set(\"P2S\",10);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":620,"wires":[[]]},{"id":"2fdf2bf0.a95094","type":"function","z":"9775366a.52f0a8","name":"set \"17\" bar","func":"global.set(\"P2S\",17);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":900,"wires":[[]]},{"id":"c013580.2f477a8","type":"function","z":"9775366a.52f0a8","name":"set \"18\" bar","func":"global.set(\"P2S\",18);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":940,"wires":[[]]},{"id":"8b248552.69efc8","type":"function","z":"9775366a.52f0a8","name":"set \"15\" bar","func":"global.set(\"P2S\",15);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":820,"wires":[[]]},{"id":"fa142afa.699e98","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"66","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1420,"wires":[["ee803939.9e7c28"]]},{"id":"57f9024e.3b317c","type":"function","z":"9775366a.52f0a8","name":"driver up down","func":"var p2s = global.get(\"P2S\");\nvar ps   = global.get(\"PS\");\n\nif (p2s > ps) {\n    msg.payload = true;\n    return msg;\n\n    \n}\nelse if (p2s < ps) {\n    msg.payload = false;\n    return msg;\n}\nelse if (p2s == ps) {\n    global.set(\"driverf\",false)\n    global.set(\"sensor\",false)\n    global.set(\"temp1\",true)\n}\n\n\n","outputs":1,"noerr":0,"x":640,"y":2080,"wires":[["94208424.458448","99a7dcc2.ce931"]]},{"id":"2779c716.01f8b8","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"72","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1500,"wires":[["ee803939.9e7c28"]]},{"id":"aaa2edb4.997e5","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1540,"wires":[["ee803939.9e7c28"]]},{"id":"59be81a9.721d1","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"driverf","payloadType":"global","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":2080,"wires":[["4364d22a.3b137c"]]},{"id":"8b53415a.ce4fe","type":"function","z":"9775366a.52f0a8","name":"msg.payload = T3","func":"global.set(\"diode\",true)\nvar data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":1020,"wires":[["96f8a204.f9a2d"]]},{"id":"f4b02dc.bec8dd","type":"switch","z":"9775366a.52f0a8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":1020,"wires":[["8b53415a.ce4fe"]]},{"id":"97c15a28.1af5f8","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"temp1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1360,"y":1020,"wires":[["f4b02dc.bec8dd"]]},{"id":"c9714aa4.2d4b28","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":2900,"wires":[["83ae8ae.0d73978"]]},{"id":"83ae8ae.0d73978","type":"function","z":"9775366a.52f0a8","name":"start","func":"global.set(\"start\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":2900,"wires":[[]]},{"id":"80b27c84.72c9d","type":"switch","z":"9775366a.52f0a8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":60,"wires":[["d8a7bb7.7654948","56e2dbb1.5970d4"]]},{"id":"855d241c.268b78","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":2940,"wires":[["8aa0e71f.14d9b8"]]},{"id":"8aa0e71f.14d9b8","type":"function","z":"9775366a.52f0a8","name":"temp1 - temp2 - temp3 - temp4","func":"global.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":2940,"wires":[[]]},{"id":"bde9a764.6addc8","type":"function","z":"9775366a.52f0a8","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1640,"wires":[["e30b8da8.a2a12"]]},{"id":"e30b8da8.a2a12","type":"switch","z":"9775366a.52f0a8","name":"T3 > 110","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"110","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1340,"y":1640,"wires":[["513b2425.a8ec9c"]]},{"id":"192c6090.839daf","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":1640,"wires":[["cb79fd86.34fbc"]]},{"id":"1155a3d7.d3121c","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"69","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1460,"wires":[["ee803939.9e7c28"]]},{"id":"cb79fd86.34fbc","type":"switch","z":"9775366a.52f0a8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1640,"wires":[["bde9a764.6addc8"]]},{"id":"bdff18cf.e85858","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":2980,"wires":[["f05ce50d.c41968"]]},{"id":"f05ce50d.c41968","type":"function","z":"9775366a.52f0a8","name":"pres1 - pres2 - pres3","func":"global.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1660,"y":2980,"wires":[[]]},{"id":"3e5e9ce8.bc30f4","type":"function","z":"9775366a.52f0a8","name":"msg.payload = P1","func":"var data    =   global.get(\"P1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1720,"wires":[["c232c1ad.9f971"]]},{"id":"98db48ae.19d148","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"pres1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":1720,"wires":[["ac17b415.784eb8"]]},{"id":"ac17b415.784eb8","type":"switch","z":"9775366a.52f0a8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1720,"wires":[["3e5e9ce8.bc30f4"]]},{"id":"a1bc87e.a441478","type":"function","z":"9775366a.52f0a8","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1760,"wires":[["fd5d68f5.b065c8"]]},{"id":"cd5f10d6.d9206","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"pres2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":1760,"wires":[["8e190693.2d6248"]]},{"id":"8e190693.2d6248","type":"switch","z":"9775366a.52f0a8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1760,"wires":[["a1bc87e.a441478"]]},{"id":"513b2425.a8ec9c","type":"function","z":"9775366a.52f0a8","name":"R1 - OFF","func":"global.set(\"R1\",true);\nglobal.set(\"R2\",true);\nglobal.set(\"driverf\",false)\nglobal.set(\"temp1\",false)\nglobal.set(\"temp2\",false)\nglobal.set(\"temp3\",false)\nglobal.set(\"temp4\",false)\nglobal.set(\"pres1\",false)\nglobal.set(\"pres2\",false)\nglobal.set(\"pres3\",false)\nglobal.set(\"sensor\",false)\nglobal.set(\"AS\",false)\nglobal.set(\"check\",false)\nglobal.set(\"check1\",false)\nglobal.set(\"check2\",false)\nglobal.set(\"check3\",false)\nglobal.set(\"diode\",false)\nglobal.set(\"trigger\",false)\nmsg.payload = true\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":1700,"wires":[["3472f123.65ad2e","40591f51.b537","b85f7efe.9c1a9"]]},{"id":"45b90b35.f0d2f4","type":"function","z":"9775366a.52f0a8","name":"set driver \"0\"","func":"global.set(\"driver\",0);\nglobal.set(\"check3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":1700,"wires":[[]]},{"id":"c232c1ad.9f971","type":"switch","z":"9775366a.52f0a8","name":"P1 > 11","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"11","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1340,"y":1720,"wires":[["513b2425.a8ec9c"]]},{"id":"fd5d68f5.b065c8","type":"switch","z":"9775366a.52f0a8","name":"P2 > 25","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1340,"y":1760,"wires":[["513b2425.a8ec9c"]]},{"id":"6a23eaab.2e9504","type":"switch","z":"9775366a.52f0a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"5.1","vt":"num","v2":"10","v2t":"num"},{"t":"btwn","v":"10.1","vt":"num","v2":"11","v2t":"num"},{"t":"btwn","v":"11.1","vt":"num","v2":"12","v2t":"num"},{"t":"btwn","v":"12.1","vt":"num","v2":"13","v2t":"num"},{"t":"btwn","v":"13.1","vt":"num","v2":"14","v2t":"num"},{"t":"btwn","v":"14.1","vt":"num","v2":"15","v2t":"num"},{"t":"btwn","v":"15.1","vt":"num","v2":"16","v2t":"num"},{"t":"btwn","v":"16.1","vt":"num","v2":"17","v2t":"num"},{"t":"btwn","v":"17.1","vt":"num","v2":"18","v2t":"num"},{"t":"btwn","v":"18.1","vt":"num","v2":"19","v2t":"num"},{"t":"btwn","v":"19.1","vt":"num","v2":"20","v2t":"num"},{"t":"btwn","v":"20.1","vt":"num","v2":"21","v2t":"num"},{"t":"btwn","v":"21.1","vt":"num","v2":"22","v2t":"num"},{"t":"btwn","v":"22.1","vt":"num","v2":"23","v2t":"num"},{"t":"btwn","v":"23.1","vt":"num","v2":"24","v2t":"num"},{"t":"btwn","v":"24.1","vt":"num","v2":"25","v2t":"num"},{"t":"btwn","v":"25.1","vt":"num","v2":"26","v2t":"num"},{"t":"btwn","v":"26.1","vt":"num","v2":"27","v2t":"num"},{"t":"btwn","v":"27.1","vt":"num","v2":"28","v2t":"num"},{"t":"btwn","v":"28.1","vt":"num","v2":"29","v2t":"num"},{"t":"btwn","v":"29.1","vt":"num","v2":"30","v2t":"num"}],"checkall":"true","repair":false,"outputs":21,"x":810,"y":2400,"wires":[["eedd5437.c3b748"],["a0ff2f7.e50afd"],["5ffd8776.feaa28"],["bb22abd.7539758"],["f15c9f4a.34d4a"],["59a95947.357a98"],["a2b02814.e8c4b8"],["34f9ff1.a9d66"],["ab03b57.9508548"],["642d4fd1.9205e"],["4d66b056.db7a5"],["3702183d.5ce3f8"],["3301c093.97a9c"],["5795aca7.d55654"],["3fa212b7.2cf79e"],["8055f3d1.449db"],["f4f71a96.0c5138"],["e5d22722.fc15e8"],["1cd1261c.cb54da"],["315c1191.8d7c3e"],["33888c3c.d7d264"]]},{"id":"6aa177fc.54da88","type":"function","z":"9775366a.52f0a8","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2400,"wires":[["6a23eaab.2e9504"]]},{"id":"9fa5133e.af775","type":"debug","z":"9775366a.52f0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1810,"y":2160,"wires":[]},{"id":"eedd5437.c3b748","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",10);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2160,"wires":[[]]},{"id":"a0ff2f7.e50afd","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",11);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2200,"wires":[[]]},{"id":"5ffd8776.feaa28","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",12);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2240,"wires":[[]]},{"id":"bb22abd.7539758","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",13);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2280,"wires":[[]]},{"id":"f15c9f4a.34d4a","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",14);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2320,"wires":[[]]},{"id":"59a95947.357a98","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",15);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2360,"wires":[[]]},{"id":"a2b02814.e8c4b8","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",16);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2400,"wires":[[]]},{"id":"34f9ff1.a9d66","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",17);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2440,"wires":[[]]},{"id":"ab03b57.9508548","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",18);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2480,"wires":[[]]},{"id":"5d6bfea9.cb51e","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"sensor","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":2280,"wires":[["f96984d1.058088"]]},{"id":"4364d22a.3b137c","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":2080,"wires":[["57f9024e.3b317c"]]},{"id":"7bd1fecc.41e8b","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":3020,"wires":[["eac747a4.fa26b8"]]},{"id":"eac747a4.fa26b8","type":"function","z":"9775366a.52f0a8","name":"sensor","func":"global.set(\"sensor\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":3020,"wires":[[]]},{"id":"f96984d1.058088","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":2360,"wires":[["6aa177fc.54da88"]]},{"id":"b2841f42.a3279","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"54","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1260,"wires":[["ee803939.9e7c28"]]},{"id":"e9810f44.efe1","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"78","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1580,"wires":[["ee803939.9e7c28"]]},{"id":"d7855719.294fe8","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":820,"wires":[["ee803939.9e7c28"]]},{"id":"6c4c6ca5.240b24","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"51","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1220,"wires":[["ee803939.9e7c28"]]},{"id":"a273fa33.d2c4e8","type":"function","z":"9775366a.52f0a8","name":"Up Down \"driver\"","func":"//var min = global.get(\"driver_min\")\n//var max = global.get(\"driver_max\")\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <35){\n    global.set('driver', Value + 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n} \n\nif(msg.payload === false && Value >3) {\n    global.set('driver', Value - 1)\n    global.set(\"check\",true)\n    global.set(\"driverf\",false)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":990,"y":2080,"wires":[["6cb339f1.af2cf8"]]},{"id":"72875179.feba6","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"check","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":2120,"wires":[["b8d254af.598728"]]},{"id":"9ddc5e9a.b35f","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1270,"y":2120,"wires":[["ad15f606.db4dc8"]]},{"id":"b8d254af.598728","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":2120,"wires":[["9ddc5e9a.b35f"]]},{"id":"1683c468.05362c","type":"function","z":"9775366a.52f0a8","name":"Set modbus1","func":"global.set(\"modbus1\", msg.payload)\n","outputs":1,"noerr":0,"x":1570,"y":2180,"wires":[[]]},{"id":"ad15f606.db4dc8","type":"range","z":"9775366a.52f0a8","minin":"3","maxin":"35","minout":"60","maxout":"700","action":"scale","round":false,"property":"payload","name":"","x":1400,"y":2120,"wires":[["1683c468.05362c","33922355.f7cd7c"]]},{"id":"ab73dc22.1ff36","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":3140,"wires":[["aba6df5b.d645e"]]},{"id":"aba6df5b.d645e","type":"function","z":"9775366a.52f0a8","name":"modbus 1-2-3-4   \"0\"","func":"global.set(\"modbus1\",0)\nglobal.set(\"modbus2\",0)\nglobal.set(\"modbus3\",0)\nglobal.set(\"modbus4\",0)\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":3140,"wires":[[]]},{"id":"ceb8139d.0b693","type":"function","z":"9775366a.52f0a8","name":"msg.payload.value","func":"global.set(\"value\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus1\")\nif (data == modbus ) {\n    global.set(\"check\",false)\n    global.set(\"driverf\",true)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1810,"y":2080,"wires":[[]]},{"id":"71b18429.ed431c","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":3180,"wires":[["3098591f.f28a06"]]},{"id":"3098591f.f28a06","type":"function","z":"9775366a.52f0a8","name":"Global set \"false\"  checks","func":"global.set(\"check\",false);\nglobal.set(\"check1\",false);\nglobal.set(\"check2\",false);\nglobal.set(\"check3\",false);\n","outputs":1,"noerr":0,"x":1670,"y":3180,"wires":[[]]},{"id":"63567645.9bc158","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"check1","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":240,"wires":[["88e13bb6.d598e8"]]},{"id":"88e13bb6.d598e8","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":240,"wires":[["e97f2d40.af2da"]]},{"id":"49f3eb45.3fb2a4","type":"range","z":"9775366a.52f0a8","minin":"3","maxin":"35","minout":"60","maxout":"700","action":"scale","round":false,"property":"payload","name":"","x":740,"y":200,"wires":[["a8b5c819.c74298","29ea3332.c3c4fc"]]},{"id":"512df921.2d6498","type":"function","z":"9775366a.52f0a8","name":"msg.payload.value","func":"global.set(\"value1\",msg.payload.value);\nvar data = msg.payload.value;\nvar modbus = global.get(\"modbus2\");\nif (data == modbus ) {\n    global.set(\"check1\",false);\n    global.set(\"trigger\",true);\n    msg.payload = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1130,"y":200,"wires":[["ad794810.8fed28","81c20789.7b6ee8"]]},{"id":"70687cd1.fc5d14","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":3100,"wires":[["7046e2a2.96a8ec"]]},{"id":"7046e2a2.96a8ec","type":"function","z":"9775366a.52f0a8","name":"\"AS\"","func":"global.set(\"AS\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":3100,"wires":[[]]},{"id":"810c8902.c32268","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"check3","payloadType":"global","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":1960,"wires":[["b38f629f.78b6b"]]},{"id":"b38f629f.78b6b","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":1960,"wires":[["73208cda.a001a4"]]},{"id":"73208cda.a001a4","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = global.get(\"driver\")\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1350,"y":1960,"wires":[["c6beee0c.5c011"]]},{"id":"c6beee0c.5c011","type":"range","z":"9775366a.52f0a8","minin":"3","maxin":"35","minout":"60","maxout":"700","action":"scale","round":false,"property":"payload","name":"","x":1480,"y":1960,"wires":[["df3c9ed5.66115","afb1d7fe.9f2938"]]},{"id":"df3c9ed5.66115","type":"function","z":"9775366a.52f0a8","name":"Set modbus4","func":"global.set(\"modbus4\", msg.payload)\n","outputs":1,"noerr":0,"x":1650,"y":2020,"wires":[[]]},{"id":"6e2022ef.d69d5c","type":"function","z":"9775366a.52f0a8","name":"msg.payload.value","func":"global.set(\"value3\",msg.payload.value)\nvar data = msg.payload.value\nvar modbus = global.get(\"modbus4\")\nif (data == modbus ) {\n    global.set(\"check3\",false)\n    global.set(\"start\",true)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1870,"y":1920,"wires":[[]]},{"id":"29ea3332.c3c4fc","type":"modbus-write","z":"9775366a.52f0a8","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"f3a3ff6f.0b0fa","x":920,"y":200,"wires":[["fa03717b.98832","512df921.2d6498"],[]]},{"id":"fa03717b.98832","type":"debug","z":"9775366a.52f0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":260,"wires":[]},{"id":"6304b162.78311","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":300,"wires":[["29ea3332.c3c4fc"]]},{"id":"33922355.f7cd7c","type":"modbus-write","z":"9775366a.52f0a8","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"f3a3ff6f.0b0fa","x":1580,"y":2120,"wires":[["ceb8139d.0b693","9fa5133e.af775"],[]]},{"id":"afb1d7fe.9f2938","type":"modbus-write","z":"9775366a.52f0a8","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"f3a3ff6f.0b0fa","x":1660,"y":1960,"wires":[["6e2022ef.d69d5c","ec679fdd.4df68"],[]]},{"id":"ad4b6663.246e78","type":"comment","z":"9775366a.52f0a8","name":"Marş - 1","info":"","x":880,"y":320,"wires":[]},{"id":"ec679fdd.4df68","type":"debug","z":"9775366a.52f0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1870,"y":2000,"wires":[]},{"id":"94745dab.1c951","type":"function","z":"9775366a.52f0a8","name":"P2 > 7","func":"var data = global.get(\"P2\");\nif (data > 7) {\n    global.set(\"trigger\",false);\n    msg.payload = true;\n    return msg;\n}\nelse if (data < 7) {\n    msg.payload = false;\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":610,"y":380,"wires":[["a89d1d7b.1bf43","466cb902.aab7d8"]]},{"id":"35e1c89c.ae8bb8","type":"function","z":"9775366a.52f0a8","name":"msg.payload = P2","func":"var data    =   global.get(\"P2\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1800,"wires":[["fbe1eddb.970d6"]]},{"id":"36e0b32f.b40cfc","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"pres3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":1800,"wires":[["20c82248.71e8ce"]]},{"id":"20c82248.71e8ce","type":"switch","z":"9775366a.52f0a8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1800,"wires":[["35e1c89c.ae8bb8"]]},{"id":"fbe1eddb.970d6","type":"switch","z":"9775366a.52f0a8","name":"P2 < 5","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":1800,"wires":[["513b2425.a8ec9c"]]},{"id":"3025bdd6.e81a02","type":"debug","z":"9775366a.52f0a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1060,"y":2020,"wires":[]},{"id":"b31292f1.fa3b9","type":"function","z":"9775366a.52f0a8","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":3160,"wires":[["59f2dadf.a573a4"]]},{"id":"859fe00d.cb7d5","type":"link in","z":"9775366a.52f0a8","name":"","links":["59f2dadf.a573a4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1475,"y":1620,"wires":[["3472f123.65ad2e","18e46dd0.0061c2"]]},{"id":"59f2dadf.a573a4","type":"link out","z":"9775366a.52f0a8","name":"","links":["859fe00d.cb7d5","ec6f806.66b268","8c62ae3a.4d3ff","dfaab277.dc1c4","e9e9ed97.b4ed5","e1697bf.e753f88","f9c3a430.98fac8","a533cce9.79d02","37e00632.e7369a","19c82aa5.05b845","cf650a0b.b917f8","f8d0a130.3279a","2a982913.9da496","5ed9d17.f74ee3","2683aaa8.1e3d66"],"x":915,"y":3160,"wires":[]},{"id":"8b0b8eaf.42a92","type":"rpi-gpio out","z":"9775366a.52f0a8","name":"R4","pin":"15","set":"","level":"0","freq":"","out":"out","x":510,"y":2820,"wires":[]},{"id":"eec4ee78.8ce1b","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"R4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":2880,"wires":[["8b0b8eaf.42a92","570a4466.33228c"]]},{"id":"570a4466.33228c","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload\nif (data === true) {\n    msg.payload = \"Kapalı\"\n    return msg;\n}\nelse if (data === false) {\n    msg.payload = \"Açık\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":490,"y":2880,"wires":[["fda74088.d5c58"]]},{"id":"fda74088.d5c58","type":"ui_text","z":"9775366a.52f0a8","group":"4c71eaee.d44ac4","order":4,"width":"6","height":"1","name":"","label":"DC Çıkış","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":2880,"wires":[]},{"id":"f739b8bb.3298b8","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":380,"wires":[["c492bab6.c2b738"]]},{"id":"a4d2055c.f51e28","type":"function","z":"9775366a.52f0a8","name":"R4-ON","func":"var t3 = global.get(\"T3\")\nvar p2 = global.get(\"P2\")\n\nif (t3 > 50 && p2 > 6 ) {\n    global.set(\"R4\",false)\n    global.set(\"diode\",false)\n}\n","outputs":1,"noerr":0,"x":1130,"y":1900,"wires":[[]]},{"id":"e3638b61.2cdb28","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":3220,"wires":[["c5d8c98.cbe5038"]]},{"id":"c5d8c98.cbe5038","type":"function","z":"9775366a.52f0a8","name":"values","func":"global.set(\"value\", undefined)\nglobal.set(\"value1\", undefined)\nglobal.set(\"value2\", undefined)\nglobal.set(\"value3\", undefined)\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":3220,"wires":[[]]},{"id":"47d5a552.8fd4cc","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Sistem Hazır\" ;\n    return msg;\n}\nelse if (data === false){\n    msg.payload = \"Sistem Hazırlanıyor\" ;\n    return msg;\n}\nelse {\n    msg.payload = \" \" ;\n    return msg;\n}","outputs":1,"noerr":0,"x":1030,"y":3380,"wires":[["165fe3f3.9f1e1c","504d8838.3abab8"]]},{"id":"504d8838.3abab8","type":"ui_text","z":"9775366a.52f0a8","group":"4c71eaee.d44ac4","order":5,"width":"6","height":"1","name":"","label":"Sistem","format":"{{msg.payload}}","layout":"row-spread","x":1230,"y":3320,"wires":[]},{"id":"8ffea931.3d2068","type":"ui_toast","z":"9775366a.52f0a8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1310,"y":3400,"wires":[[]]},{"id":"449baf37.0d27e","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":3080,"wires":[["93fda098.2738"]]},{"id":"69165145.7d4f7","type":"function","z":"9775366a.52f0a8","name":"","func":"var T1 = msg.payload[0] /10\nvar T2 = msg.payload[1] /10\nvar T3 = msg.payload[2] /10\nvar T4 = msg.payload[3] /10\nvar T5 = msg.payload[4] /10\nvar T6 = msg.payload[5] /10\n\nif (T1 != 850) {\n    global.set(\"T1\",T1)\n}\nif (T2 != 850) {\n    global.set(\"T2\",T2)\n    \n}\nif (T3 != 850) {\n    global.set(\"T3\",T3)\n    \n}\nif (T4 != 850) {\n    global.set(\"T4\",T4)\n    \n}\nif (T5 != 850) {\n    global.set(\"T5\",T5)\n    \n}\nif (T6 != 850) {\n    global.set(\"T6\",T6)\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":4100,"wires":[[]]},{"id":"3b5d5a2e.6607a6","type":"function","z":"9775366a.52f0a8","name":"","func":"var P1 = msg.payload[0] /100\n\nmsg.payload = P1\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":4380,"wires":[["a09a19e6.01dd28"]]},{"id":"a09a19e6.01dd28","type":"range","z":"9775366a.52f0a8","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"","x":750,"y":4380,"wires":[["5144f7be.bfaf48","f892a9bf.6d5568"]]},{"id":"e21cc4f3.d57918","type":"function","z":"9775366a.52f0a8","name":"","func":"var P2 = msg.payload[1] /100\n\nmsg.payload = P2\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":4420,"wires":[["2d0c4edf.e85912"]]},{"id":"2d0c4edf.e85912","type":"range","z":"9775366a.52f0a8","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"","x":750,"y":4420,"wires":[["f4235e1b.2facf","f892a9bf.6d5568"]]},{"id":"26baf7d4.2d79f8","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":4380,"wires":[[]]},{"id":"a8f63d46.d80cf","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":4420,"wires":[[]]},{"id":"5144f7be.bfaf48","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":4380,"wires":[["26baf7d4.2d79f8"]]},{"id":"f4235e1b.2facf","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = parseFloat(msg.payload.toFixed(2));\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":4420,"wires":[["a8f63d46.d80cf"]]},{"id":"ad794810.8fed28","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":120,"wires":[["bfe2ebcd.b1bf98","fae5aad.c252158","1c7626b3.0ad699"]]},{"id":"bfe2ebcd.b1bf98","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload;\nif (data === true) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    global.set(\"trigger\",false)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1610,"y":100,"wires":[["2033ba66.2fedf6"]]},{"id":"2033ba66.2fedf6","type":"debug","z":"9775366a.52f0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1830,"y":100,"wires":[]},{"id":"c492bab6.c2b738","type":"function","z":"9775366a.52f0a8","name":"P2 > 11","func":"var p2      =   global.get(\"P2\")\nif ( p2 > 11) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 11) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false;\n    return msg;\n\n}","outputs":1,"noerr":0,"x":480,"y":540,"wires":[["cbb960a6.e3a0b","e8ecef56.828e6","466cb902.aab7d8"]]},{"id":"4db5bd52.dbea04","type":"ui_button","z":"9775366a.52f0a8","name":"","group":"53ce3552.2de53c","order":2,"width":"6","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":370,"y":3240,"wires":[["e6cd9985.5a82c8","eab1db36.705228","e847ae04.bf696"]]},{"id":"ed5686c8.f634c8","type":"ui_button","z":"9775366a.52f0a8","name":"","group":"53ce3552.2de53c","order":1,"width":"6","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":150,"y":3040,"wires":[["3b90f004.c2b5"]]},{"id":"7428550.3c9aaac","type":"ui_toast","z":"9775366a.52f0a8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":910,"y":3240,"wires":[[]]},{"id":"e847ae04.bf696","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = \"Kapatma Başarılı\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":3240,"wires":[["89f516f0.505308"]]},{"id":"165fe3f3.9f1e1c","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":3400,"wires":[["8ffea931.3d2068"]]},{"id":"89f516f0.505308","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload ;\nif (data !== true) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":770,"y":3240,"wires":[["7428550.3c9aaac"]]},{"id":"454439b6.97c278","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1450,"y":3260,"wires":[["7a6ed97.27a2128"]]},{"id":"7a6ed97.27a2128","type":"function","z":"9775366a.52f0a8","name":"diode","func":"global.set(\"diode\", false)\nglobal.set(\"trigger\",false)\nglobal.set(\"stop\",false)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":3260,"wires":[[]]},{"id":"b33cdbe4.092088","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"diode","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":1900,"wires":[["9751f847.ffd6a8"]]},{"id":"9751f847.ffd6a8","type":"switch","z":"9775366a.52f0a8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1900,"wires":[["a4d2055c.f51e28"]]},{"id":"e6cd9985.5a82c8","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"start\",msg.payload);\nvar data = msg.payload ;\nif (data === true) {\n    msg.payload = \"Start Verildi\"\n    return msg;\n}","outputs":1,"noerr":0,"x":430,"y":3040,"wires":[["a40a631d.ce184"]]},{"id":"eab1db36.705228","type":"function","z":"9775366a.52f0a8","name":"","func":"var data    =   msg.payload;\nif (data === false) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":670,"y":3080,"wires":[["449baf37.0d27e","ccac6ed3.7ff27","b31292f1.fa3b9","47db1be1.be3a14","8aa0e71f.14d9b8","f05ce50d.c41968","eac747a4.fa26b8","7d82f4db.47a72c","7046e2a2.96a8ec","aba6df5b.d645e","3098591f.f28a06","c5d8c98.cbe5038","7a6ed97.27a2128"]]},{"id":"ec6f806.66b268","type":"link in","z":"9775366a.52f0a8","name":"","links":["59f2dadf.a573a4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":835,"y":80,"wires":[["a49564ec.149e08"]]},{"id":"dfaab277.dc1c4","type":"link in","z":"9775366a.52f0a8","name":"","links":["59f2dadf.a573a4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1055,"y":420,"wires":[["f739b8bb.3298b8"]]},{"id":"e1697bf.e753f88","type":"link in","z":"9775366a.52f0a8","name":"","links":["59f2dadf.a573a4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":775,"y":420,"wires":[["d85fe944.226a48"]]},{"id":"a533cce9.79d02","type":"link in","z":"9775366a.52f0a8","name":"","links":["59f2dadf.a573a4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1375,"y":80,"wires":[["ad794810.8fed28"]]},{"id":"cf80f8c9.7c6b48","type":"link in","z":"9775366a.52f0a8","name":"","links":["7ff3c7b3.4029a8","d113a88f.b6a3e8"],"x":1435,"y":2160,"wires":[["33922355.f7cd7c"]]},{"id":"e9ff7b06.aef518","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"trigger","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":380,"wires":[["dcc4e95d.ec04c8"]]},{"id":"dcc4e95d.ec04c8","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":380,"wires":[["94745dab.1c951"]]},{"id":"8761a967.704ff8","type":"function","z":"9775366a.52f0a8","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1020,"y":540,"wires":[["6964ceeb.67fe6"]]},{"id":"24749700.7f81ca","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":540,"wires":[["8761a967.704ff8"]]},{"id":"6fb35999.dcbba8","type":"function","z":"9775366a.52f0a8","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":730,"y":540,"wires":[["24749700.7f81ca"]]},{"id":"19c82aa5.05b845","type":"link in","z":"9775366a.52f0a8","name":"","links":["59f2dadf.a573a4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":775,"y":580,"wires":[["24749700.7f81ca"]]},{"id":"d3697b4a.50fd18","type":"comment","z":"9775366a.52f0a8","name":"Marş - 2","info":"","x":880,"y":480,"wires":[]},{"id":"cf650a0b.b917f8","type":"link in","z":"9775366a.52f0a8","name":"","links":["59f2dadf.a573a4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1075,"y":580,"wires":[["6964ceeb.67fe6"]]},{"id":"6964ceeb.67fe6","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":540,"wires":[["43877fcb.ca48e"]]},{"id":"43877fcb.ca48e","type":"function","z":"9775366a.52f0a8","name":"P2 > 12","func":"var p2      =   global.get(\"P2\")\nif ( p2 > 12) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 12) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false ;\n    return msg;\n \n}","outputs":1,"noerr":0,"x":500,"y":800,"wires":[["516e38e5.25ded8","e8ecef56.828e6","466cb902.aab7d8"]]},{"id":"3ce3822c.c3694e","type":"function","z":"9775366a.52f0a8","name":"R2-OFF","func":"var data = msg.payload\nif (data === true) {\n    global.set(\"R2\",true)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1020,"y":800,"wires":[["6312a825.e9e9e8"]]},{"id":"14106ad7.d540a5","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":800,"wires":[["3ce3822c.c3694e"]]},{"id":"74d55eb8.d86f1","type":"function","z":"9775366a.52f0a8","name":"R2-ON","func":"var data    =   msg.payload\nif (data === true) {\n    global.set(\"R2\",false)\n    msg.payload = true\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":750,"y":800,"wires":[["14106ad7.d540a5"]]},{"id":"f8d0a130.3279a","type":"link in","z":"9775366a.52f0a8","name":"","links":["59f2dadf.a573a4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":775,"y":840,"wires":[["14106ad7.d540a5"]]},{"id":"5b2cc7ae.f7cf68","type":"comment","z":"9775366a.52f0a8","name":"Marş - 3","info":"","x":880,"y":740,"wires":[]},{"id":"2a982913.9da496","type":"link in","z":"9775366a.52f0a8","name":"","links":["59f2dadf.a573a4","9555da57.8c2c38","3e7a19f3.f95c06"],"x":1075,"y":840,"wires":[["6312a825.e9e9e8"]]},{"id":"6312a825.e9e9e8","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":800,"wires":[["6a39ea47.fc6564"]]},{"id":"6a39ea47.fc6564","type":"function","z":"9775366a.52f0a8","name":"P2 > 13","func":"var p2      =   global.get(\"P2\")\nif ( p2 > 13) {\n    msg.payload = true\n    return msg;\n}\nelse if (p2 < 13) {\n    global.set(\"temp1\",true)\n    global.set(\"temp2\",true)\n    global.set(\"temp3\",true)\n    global.set(\"pres1\",true)\n    global.set(\"pres2\",true)\n    global.set(\"pres3\",true)\n    msg.payload = false\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":1340,"y":840,"wires":[["e8ecef56.828e6","c17783e8.905bf","e26cb2e5.867b4","466cb902.aab7d8"]]},{"id":"8904f100.d66ae","type":"link out","z":"9775366a.52f0a8","name":"","links":["d77e7268.aeb2b"],"x":1595,"y":840,"wires":[]},{"id":"d77e7268.aeb2b","type":"link in","z":"9775366a.52f0a8","name":"","links":["8904f100.d66ae"],"x":1375,"y":1540,"wires":[["513b2425.a8ec9c"]]},{"id":"fdcd1547.71a528","type":"comment","z":"9775366a.52f0a8","name":"Acil Stop","info":"","x":1360,"y":780,"wires":[]},{"id":"a40a631d.ce184","type":"ui_toast","z":"9775366a.52f0a8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":610,"y":3040,"wires":[[]]},{"id":"fae5aad.c252158","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.reset = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1590,"y":180,"wires":[["8affee43.2c045"]]},{"id":"8affee43.2c045","type":"link out","z":"9775366a.52f0a8","name":"","links":["d806d0ba.d646e","ac5c45fd.9e4848","f77c0306.55dc8","19808086.28571f","33db1dbb.1bf762","70026eb5.43cae"],"x":1720,"y":180,"wires":[]},{"id":"d806d0ba.d646e","type":"link in","z":"9775366a.52f0a8","name":"","links":["8affee43.2c045"],"x":775,"y":340,"wires":[["d85fe944.226a48"]]},{"id":"ac5c45fd.9e4848","type":"link in","z":"9775366a.52f0a8","name":"","links":["8affee43.2c045"],"x":1055,"y":340,"wires":[["f739b8bb.3298b8"]]},{"id":"f77c0306.55dc8","type":"link in","z":"9775366a.52f0a8","name":"","links":["8affee43.2c045"],"x":775,"y":500,"wires":[["24749700.7f81ca"]]},{"id":"19808086.28571f","type":"link in","z":"9775366a.52f0a8","name":"","links":["8affee43.2c045"],"x":1075,"y":500,"wires":[["6964ceeb.67fe6"]]},{"id":"33db1dbb.1bf762","type":"link in","z":"9775366a.52f0a8","name":"","links":["8affee43.2c045"],"x":775,"y":760,"wires":[["14106ad7.d540a5"]]},{"id":"70026eb5.43cae","type":"link in","z":"9775366a.52f0a8","name":"","links":["8affee43.2c045"],"x":1055,"y":760,"wires":[["6312a825.e9e9e8"]]},{"id":"e8ecef56.828e6","type":"switch","z":"9775366a.52f0a8","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":620,"wires":[["2b55941e.7b8f2c"]]},{"id":"cbb960a6.e3a0b","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":540,"wires":[["6fb35999.dcbba8"]]},{"id":"516e38e5.25ded8","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":800,"wires":[["74d55eb8.d86f1"]]},{"id":"e9e816e6.941f98","type":"function","z":"9775366a.52f0a8","name":"","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":620,"wires":[["29f84b23.d27a64"]]},{"id":"29f84b23.d27a64","type":"link out","z":"9775366a.52f0a8","name":"","links":["c7ebf99.d085f08"],"x":955,"y":620,"wires":[]},{"id":"c7ebf99.d085f08","type":"link in","z":"9775366a.52f0a8","name":"","links":["29f84b23.d27a64"],"x":1275,"y":80,"wires":[["ad794810.8fed28","8592cd7e.ddd3e"]]},{"id":"2b55941e.7b8f2c","type":"function","z":"9775366a.52f0a8","name":"","func":"var data    =   msg.payload;\nif (data === false) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":620,"wires":[["e9e816e6.941f98"]]},{"id":"31537c2d.bf34e4","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"temp3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":1680,"wires":[["a160f377.2acba"]]},{"id":"a160f377.2acba","type":"switch","z":"9775366a.52f0a8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1680,"wires":[["5d46119b.8e67d"]]},{"id":"5d46119b.8e67d","type":"function","z":"9775366a.52f0a8","name":"msg.payload = T3","func":"var data    =   global.get(\"T3\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1680,"wires":[["ca72646c.df7e98"]]},{"id":"ca72646c.df7e98","type":"switch","z":"9775366a.52f0a8","name":"T3 < 30","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1340,"y":1680,"wires":[["513b2425.a8ec9c"]]},{"id":"1c5d8b17.b70d05","type":"function","z":"9775366a.52f0a8","name":"P1","func":"global.set(\"P1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":920,"wires":[[]]},{"id":"e1ad626f.241ea","type":"function","z":"9775366a.52f0a8","name":"P2","func":"global.set(\"P2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1040,"wires":[[]]},{"id":"9fe3c6c4.86bf28","type":"debug","z":"9775366a.52f0a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":120,"wires":[]},{"id":"933feef.f19681","type":"function","z":"9775366a.52f0a8","name":"","func":"msg.payload = 0\nglobal.set(\"stop\",false)\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":3320,"wires":[["d113a88f.b6a3e8"]]},{"id":"d113a88f.b6a3e8","type":"link out","z":"9775366a.52f0a8","name":"","links":["1ba41dd8.f03492","87b4f24.3febe1","f0e38571.924db8","cf80f8c9.7c6b48","838ce784.849f28","2fd23349.6d3b4c"],"x":855,"y":3320,"wires":[]},{"id":"93fda098.2738","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"stop\",true)\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":3080,"wires":[[]]},{"id":"1a4f4eb2.2880a1","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"stop","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":3320,"wires":[["add68049.1a7ee"]]},{"id":"add68049.1a7ee","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":3320,"wires":[["933feef.f19681","6a577f31.a8bc2"]]},{"id":"5f080fd1.c42d8","type":"function","z":"9775366a.52f0a8","name":"","func":"var v   =   global.get(\"value\");\n//var v1  =   global.get(\"value1\");\n//var v2  =   global.get(\"value2\");\n//var v3  =   global.get(\"value3\");\nif (v === 0) {\n    msg.payload = true;\n    return msg;\n}\nelse {\n    global.set(\"stop\",true)\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":3380,"wires":[["47d5a552.8fd4cc","e678bdf5.d6665"]]},{"id":"6a577f31.a8bc2","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":3380,"wires":[["5f080fd1.c42d8"]]},{"id":"c17783e8.905bf","type":"debug","z":"9775366a.52f0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":760,"wires":[]},{"id":"36f3e73c.6fa898","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"15.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":900,"wires":[["e1ad626f.241ea"]]},{"id":"7d4d4316.156acc","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":860,"wires":[["1c5d8b17.b70d05","e1ad626f.241ea"]]},{"id":"6c99c04e.e1e98","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"17.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":980,"wires":[["e1ad626f.241ea"]]},{"id":"434384a5.eada8c","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"16.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":940,"wires":[["e1ad626f.241ea"]]},{"id":"6a06e88c.4f7048","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"18.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1020,"wires":[["e1ad626f.241ea"]]},{"id":"76a034c0.53f81c","type":"function","z":"9775366a.52f0a8","name":"","func":"var data    =   msg.payload;\nif (data === true) {\n    msg.payload =   true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1090,"y":3260,"wires":[["ccac6ed3.7ff27","47db1be1.be3a14","8aa0e71f.14d9b8","f05ce50d.c41968","eac747a4.fa26b8","7d82f4db.47a72c","7046e2a2.96a8ec","aba6df5b.d645e","3098591f.f28a06","c5d8c98.cbe5038","7a6ed97.27a2128"]]},{"id":"e678bdf5.d6665","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":3320,"wires":[["76a034c0.53f81c"]]},{"id":"e26cb2e5.867b4","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":840,"wires":[["8904f100.d66ae"]]},{"id":"c8a1cf99.a2e3a","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"67c6db8f.eebc44","order":1,"width":"3","height":"2","gtype":"donut","title":"5 dk","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":3540,"wires":[]},{"id":"7415eabe.3cef34","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"67c6db8f.eebc44","order":2,"width":"3","height":"2","gtype":"donut","title":"3 dk","label":"units","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":3580,"wires":[]},{"id":"cdd11ee2.fcf9e","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1470,"y":620,"wires":[["93e23005.a7e4c"]]},{"id":"51bf4fd1.a60f6","type":"switch","z":"9775366a.52f0a8","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1470,"y":660,"wires":[["93e23005.a7e4c"]]},{"id":"ada67063.e3387","type":"function","z":"9775366a.52f0a8","name":"driver up down","func":"msg.payload = global.get(\"trig\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1520,"y":540,"wires":[["cdd11ee2.fcf9e","51bf4fd1.a60f6"]]},{"id":"6cf10be4.2a0254","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"trig","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1350,"y":480,"wires":[["fd8e901e.d120e"]]},{"id":"fd8e901e.d120e","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1490,"y":480,"wires":[["ada67063.e3387"]]},{"id":"93e23005.a7e4c","type":"function","z":"9775366a.52f0a8","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"timer\");\n\nif(msg.payload === true && Value <300){\n    global.set('timer', Value + 1)\n\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('timer', Value - 1)\n\n}\nValue = global.get(\"timer\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1650,"y":660,"wires":[[]]},{"id":"a10a279f.2c56f8","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1430,"y":420,"wires":[["2905a838.b24838"]]},{"id":"2905a838.b24838","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"timer\",0)\nglobal.set(\"trig\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":420,"wires":[[]]},{"id":"7c8801e9.930c9","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"timer","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":3540,"wires":[["c8a1cf99.a2e3a"]]},{"id":"70872e4a.a4d36","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"timer2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":3580,"wires":[["7415eabe.3cef34"]]},{"id":"a14d055a.e30cb8","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1750,"y":1540,"wires":[["2a8d1ed9.8762f2"]]},{"id":"16295a2.504a5a6","type":"switch","z":"9775366a.52f0a8","name":"false","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1750,"y":1580,"wires":[["2a8d1ed9.8762f2"]]},{"id":"4ee453de.48420c","type":"function","z":"9775366a.52f0a8","name":"driver up down","func":"msg.payload = global.get(\"trig2\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1580,"y":1560,"wires":[["a14d055a.e30cb8","16295a2.504a5a6"]]},{"id":"83150599.a4b358","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"trig2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":1500,"wires":[["c5c0c010.9e205"]]},{"id":"c5c0c010.9e205","type":"switch","z":"9775366a.52f0a8","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":1500,"wires":[["4ee453de.48420c"]]},{"id":"2a8d1ed9.8762f2","type":"function","z":"9775366a.52f0a8","name":"Up Down \"driver\"","func":"\nvar Value = global.get(\"timer2\");\n\nif(msg.payload === true && Value <180){\n    global.set('timer2', Value + 1)\n\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('timer2', Value - 1)\n\n}\nValue = global.get(\"timer2\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1910,"y":1560,"wires":[[]]},{"id":"67549b10.cb1044","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1170,"y":300,"wires":[["81c20789.7b6ee8","ad794810.8fed28"]]},{"id":"ed8c3540.bda0b8","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1170,"y":340,"wires":[["81c20789.7b6ee8","a8308846.2895f8","c4a7a5da.e5d5e8"]]},{"id":"a8308846.2895f8","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1450,"y":280,"wires":[["ad794810.8fed28"]]},{"id":"81c20789.7b6ee8","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"trig\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":320,"wires":[[]]},{"id":"c4a7a5da.e5d5e8","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1450,"y":360,"wires":[["2905a838.b24838"]]},{"id":"1c7626b3.0ad699","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1630,"y":300,"wires":[["2905a838.b24838"]]},{"id":"8a36f2a6.44045","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload;\nif (data === true) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1830,"y":1800,"wires":[[]]},{"id":"7379bfca.fec7f","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1270,"y":1860,"wires":[["40591f51.b537","3472f123.65ad2e"]]},{"id":"ce328e6f.2d4ce","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1270,"y":1900,"wires":[["40591f51.b537","26112d37.8e72d2","7afa7c39.ea0054"]]},{"id":"26112d37.8e72d2","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1650,"y":1820,"wires":[["3472f123.65ad2e"]]},{"id":"40591f51.b537","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"trig2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":1860,"wires":[[]]},{"id":"7afa7c39.ea0054","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload;\nif (data === false) {\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":1650,"y":1900,"wires":[["854d48fd.048398"]]},{"id":"8592cd7e.ddd3e","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload\nif (data === true ) {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1390,"y":220,"wires":[["a8308846.2895f8","81c20789.7b6ee8","c4a7a5da.e5d5e8"]]},{"id":"18e46dd0.0061c2","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload\nif (data === true ) {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":1510,"y":1800,"wires":[["26112d37.8e72d2","40591f51.b537","7afa7c39.ea0054"]]},{"id":"e3edb0fd.52d03","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1830,"y":1860,"wires":[["854d48fd.048398"]]},{"id":"854d48fd.048398","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"timer2\",0)\nglobal.set(\"trig2\",false)\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":1860,"wires":[[]]},{"id":"1db88cf.f4abe73","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"R3","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":2780,"wires":[[]]},{"id":"fbb586fe.4a5378","type":"rpi-gpio out","z":"9775366a.52f0a8","name":"R3 (Pin numarası Belirleyiniz)","pin":"29","set":"","level":"0","freq":"","out":"out","x":590,"y":2720,"wires":[]},{"id":"b90e8a87.08e4e8","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload;\n\n\nif( data === true){\n    msg.payload = \"Kapalı\";\n\n    return msg;\n}else if( data === false ){\n    \n    msg.payload = \"Açık\";\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":490,"y":2780,"wires":[[]]},{"id":"997043b7.fd6d3","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1690,"y":3320,"wires":[["271cc45.1bb903c"]]},{"id":"271cc45.1bb903c","type":"function","z":"9775366a.52f0a8","name":"R3","func":"global.set(\"R3\",true)\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":3320,"wires":[[]]},{"id":"f0539cd6.b469a","type":"comment","z":"9775366a.52f0a8","name":"Röle","info":"","x":310,"y":2460,"wires":[]},{"id":"f354be02.f9dab","type":"comment","z":"9775366a.52f0a8","name":"Analizör","info":"","x":490,"y":3640,"wires":[]},{"id":"bb0d2770.58fb08","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1090,"y":4060,"wires":[["48971602.54bfc8"]]},{"id":"48971602.54bfc8","type":"function","z":"9775366a.52f0a8","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"V1\"        :undefined,\n    \"V2\"        :undefined,\n    \"V3\"        :undefined,\n    \"C1\"        :undefined,\n    \"C2\"        :undefined,\n    \"C3\"        :undefined,\n    \"WT\"        :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"P3\"        :undefined,\n    \"P4\"        :undefined,\n    \"Hz\"        :undefined,\n    \"WE\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":4060,"wires":[[]]},{"id":"a0ee2ea7.47dde","type":"debug","z":"9775366a.52f0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":4100,"wires":[]},{"id":"9a6628e4.a46278","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":4100,"wires":[["a0ee2ea7.47dde"]]},{"id":"3725474.f12c4b8","type":"function","z":"9775366a.52f0a8","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0]  /   10,\n        \"Temp2\"\t:   msg.payload[1]  /   10,\n        \"Temp3\"\t:   msg.payload[2]  /   10,\n        \"Temp4\"\t:   msg.payload[3]  /   10,\n        \"Temp5\"\t:   msg.payload[4]  /   10,\n        \"Temp6\"\t:   msg.payload[5]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":4160,"wires":[["1b2301d7.0e539e"]]},{"id":"1b2301d7.0e539e","type":"function","z":"9775366a.52f0a8","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":4160,"wires":[[]]},{"id":"471e535f.aa427c","type":"debug","z":"9775366a.52f0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":2480,"wires":[]},{"id":"41e2dc3c.7d5e94","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"T1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":4760,"wires":[["18171c9a.0c4583"]]},{"id":"c4030586.3b1008","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"T2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":4800,"wires":[["b1beb979.8a4268"]]},{"id":"a95cd1f.de16f3","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"T3","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":4840,"wires":[["3ef95468.d0deac"]]},{"id":"5d5b3d28.3dcaa4","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"T4","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":4880,"wires":[["fb87dd2.b920b2"]]},{"id":"20a8aac.8698356","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"T5","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":4920,"wires":[["b8f2113c.7fa35"]]},{"id":"a7be43f2.37f96","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"T6","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":4960,"wires":[["bb12520a.6e80f"]]},{"id":"2b58b31e.acf8ac","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"P1","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":4760,"wires":[["387fd0c.166ee3"]]},{"id":"f679b6f5.478708","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"P2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":4800,"wires":[["eecb9cab.8d8ea"]]},{"id":"c36b643c.d0b388","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"P2S","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":4840,"wires":[["2bf5bd8e.475fa2"]]},{"id":"c0b8b7eb.944678","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"PS","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":4880,"wires":[["75125f60.e3274"]]},{"id":"cb90f790.baba38","type":"function","z":"9775366a.52f0a8","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"P1\"    :   msg.payload[0]  /   100,\n        \"P2\"\t:   msg.payload[1]  /   100\n\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":4280,"wires":[["3cc63670.a0212a","ccd57c77.3ab6d"]]},{"id":"3cc63670.a0212a","type":"range","z":"9775366a.52f0a8","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P1","name":"","x":750,"y":4300,"wires":[["a7c0e0af.ffe43"]]},{"id":"ccd57c77.3ab6d","type":"range","z":"9775366a.52f0a8","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P2","name":"","x":750,"y":4340,"wires":[["fc48bf2e.bde3e"]]},{"id":"a7c0e0af.ffe43","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = parseFloat( (msg.payload.P1).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":890,"y":4300,"wires":[[]]},{"id":"fc48bf2e.bde3e","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = parseFloat( (msg.payload.P2).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":890,"y":4340,"wires":[[]]},{"id":"bedcffca.ea3e6","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"660","crontab":"","once":false,"onceDelay":0.1,"x":1150,"y":4220,"wires":[["18ac7832.8257b8"]]},{"id":"bebd05f8.940be8","type":"azureiothub","z":"9775366a.52f0a8","name":"Azure IoT Hub","protocol":"mqtt","x":1500,"y":4200,"wires":[["9afe367a.433338"]]},{"id":"18ac7832.8257b8","type":"function","z":"9775366a.52f0a8","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"f5648a27-2a6c-4a00-891c-5838964d6b06\",\n        \"key\": \"02g2U9uikAzKJqolD0N3qyRmgHh0KFk2Wj9hQAtpO6M=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":4200,"wires":[["bebd05f8.940be8"]]},{"id":"9afe367a.433338","type":"debug","z":"9775366a.52f0a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1690,"y":4200,"wires":[]},{"id":"e8de82d5.303ca","type":"comment","z":"9775366a.52f0a8","name":"Set fonksiyonu iptali için","info":"","x":660,"y":2020,"wires":[]},{"id":"9f94318f.a2d56","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"driver_min\",msg.payload.Min)\nglobal.set(\"driver_max\",msg.payload.Max)\nglobal.set(\"driver\",msg.payload.Min)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":3360,"wires":[[]]},{"id":"fa479474.30a858","type":"function","z":"9775366a.52f0a8","name":"","func":"\nmsg = {ui_control:{min:msg.payload.Min}};\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":3400,"wires":[[]]},{"id":"a8d22d9a.5aa33","type":"function","z":"9775366a.52f0a8","name":"","func":"\nmsg = {ui_control:{max:msg.payload.Max}};\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":3440,"wires":[[]]},{"id":"5fa77332.310f8c","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"azure_data\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":4760,"wires":[[]]},{"id":"2a74eb9e.d1dad4","type":"function","z":"9775366a.52f0a8","name":"","func":"var azure_data = global.get(\"azure_data\")\n\nglobal.set(\"T1\",0)\nglobal.set(\"T2\",0)\nglobal.set(\"T3\",0)\nglobal.set(\"T4\",0)\nglobal.set(\"T5\",0)\nglobal.set(\"T6\",0)\nglobal.set(\"P1\",0)\nglobal.set(\"P2\",azure_data.P2)\nglobal.set(\"P2S\",0)\nglobal.set(\"PS\",0)\n\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":3380,"wires":[[]]},{"id":"9438931.2c8ac7","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":520,"wires":[["b659d4ce.2f3458"]]},{"id":"c82a4fd6.724f7","type":"function","z":"9775366a.52f0a8","name":"","func":"var data = msg.payload;\n\nif (data === true) {\n    msg.reset = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":370,"y":200,"wires":[[]]},{"id":"f0ac2c63.9a67d","type":"function","z":"9775366a.52f0a8","name":"magneto","func":"var data = {\n    \"A1_v\"      :undefined,\n    \"A1_c\"      :undefined,\n    \"A1_p\"      :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"driver\"    :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":3720,"wires":[[]]},{"id":"3fffbe0f.b383c2","type":"function","z":"9775366a.52f0a8","name":"msg.payload = T1","func":"var data    =   global.get(\"T1\");\nmsg.payload =   data\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1600,"wires":[["46343b13.896974"]]},{"id":"46343b13.896974","type":"switch","z":"9775366a.52f0a8","name":"T1 < 50","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1340,"y":1600,"wires":[["513b2425.a8ec9c"]]},{"id":"bf9f0b8c.e9c5b8","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"temp2","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":1600,"wires":[["a92808a1.5d6178"]]},{"id":"a92808a1.5d6178","type":"switch","z":"9775366a.52f0a8","name":"is true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1600,"wires":[["3fffbe0f.b383c2"]]},{"id":"6e5d28f2.65e428","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"45","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":780,"wires":[["c4f8eb93.3a7238"]]},{"id":"b85f7efe.9c1a9","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1660,"y":1660,"wires":[["698f877f.b1e528"]]},{"id":"698f877f.b1e528","type":"function","z":"9775366a.52f0a8","name":"R4 OFF","func":"global.set(\"R4\",true);\nreturn msg;","outputs":1,"noerr":0,"x":1800,"y":1660,"wires":[[]]},{"id":"db08fa15.d5cdc8","type":"function","z":"9775366a.52f0a8","name":"Akım ve Gerilim","func":"global.set('dev1_gerilim', msg.payload[2])\nglobal.set('dev1_akim', msg.payload[8])\n","outputs":1,"noerr":0,"x":640,"y":3800,"wires":[[]]},{"id":"7ff0ed9b.6fa214","type":"function","z":"9775366a.52f0a8","name":"","func":"\n","outputs":1,"noerr":0,"x":610,"y":3840,"wires":[[]]},{"id":"6ac7019d.13c1e","type":"debug","z":"9775366a.52f0a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":3760,"wires":[]},{"id":"4f9f6ab6.0178f4","type":"function","z":"9775366a.52f0a8","name":"set \"21\" bar","func":"global.set(\"P2S\",21);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1060,"wires":[[]]},{"id":"bad9f93f.482758","type":"function","z":"9775366a.52f0a8","name":"set \"22\" bar","func":"global.set(\"P2S\",22);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1100,"wires":[[]]},{"id":"5ad89b5f.e20c14","type":"function","z":"9775366a.52f0a8","name":"set \"23\" bar","func":"global.set(\"P2S\",23);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1140,"wires":[[]]},{"id":"d6406e6c.acb7c","type":"function","z":"9775366a.52f0a8","name":"set \"25\" bar","func":"global.set(\"P2S\",25);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1220,"wires":[[]]},{"id":"a0882258.809a","type":"function","z":"9775366a.52f0a8","name":"set \"20\" bar","func":"global.set(\"P2S\",20);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1020,"wires":[[]]},{"id":"7c30c016.753e1","type":"function","z":"9775366a.52f0a8","name":"set \"19\" bar","func":"global.set(\"P2S\",19);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":980,"wires":[[]]},{"id":"366b31d6.71107e","type":"function","z":"9775366a.52f0a8","name":"set \"26\" bar","func":"global.set(\"P2S\",26);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1260,"wires":[[]]},{"id":"78fcc065.d52c4","type":"function","z":"9775366a.52f0a8","name":"set \"27\" bar","func":"global.set(\"P2S\",27);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1300,"wires":[[]]},{"id":"32d55ef9.523ad2","type":"function","z":"9775366a.52f0a8","name":"set \"24\" bar","func":"global.set(\"P2S\",24);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1180,"wires":[[]]},{"id":"9f6dedaa.e93e6","type":"function","z":"9775366a.52f0a8","name":"set \"29\" bar","func":"global.set(\"P2S\",29);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1380,"wires":[[]]},{"id":"8e09ac47.d48a2","type":"function","z":"9775366a.52f0a8","name":"set \"30\" bar","func":"global.set(\"P2S\",30);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1420,"wires":[[]]},{"id":"25fbc27.758af3e","type":"function","z":"9775366a.52f0a8","name":"set \"28\" bar","func":"global.set(\"P2S\",28);\nglobal.set(\"driverf\",true)\nglobal.set(\"sensor\",true)\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":1340,"wires":[[]]},{"id":"642d4fd1.9205e","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",19);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2520,"wires":[[]]},{"id":"4d66b056.db7a5","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",20);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2560,"wires":[[]]},{"id":"3702183d.5ce3f8","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",21);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2600,"wires":[[]]},{"id":"3301c093.97a9c","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",22);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2640,"wires":[[]]},{"id":"5795aca7.d55654","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",23);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2680,"wires":[[]]},{"id":"3fa212b7.2cf79e","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",24);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2720,"wires":[[]]},{"id":"8055f3d1.449db","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",25);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2760,"wires":[[]]},{"id":"f4f71a96.0c5138","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",26);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2800,"wires":[[]]},{"id":"e5d22722.fc15e8","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",27);\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2840,"wires":[[]]},{"id":"1cd1261c.cb54da","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",28);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2860,"wires":[[]]},{"id":"315c1191.8d7c3e","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",29);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2900,"wires":[[]]},{"id":"33888c3c.d7d264","type":"function","z":"9775366a.52f0a8","name":"","func":"global.set(\"PS\",30);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2940,"wires":[[]]},{"id":"4e73be99.ffd0e","type":"function","z":"9775366a.52f0a8","name":"","func":"//var data = global.get(\"dev1_gerilim\")\nvar data = msg.payload;\n\nif ( data < 261 ) {\n    msg.payload = true;\n    return msg;\n}\n\nelse if ( data > 389) {\n    msg.payload = false;\n    return msg;\n}\n\nelse {\n    msg.payoad = null;\n}","outputs":1,"noerr":0,"x":1330,"y":3620,"wires":[["7ef4eed2.279ed"]]},{"id":"4d5c6662.0177e8","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"250","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":3620,"wires":[["4e73be99.ffd0e"]]},{"id":"70a302e7.a9142c","type":"debug","z":"9775366a.52f0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1740,"y":3640,"wires":[]},{"id":"41e472f8.f42cbc","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":3680,"wires":[["4e73be99.ffd0e"]]},{"id":"57c3decd.b1a8e","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":3720,"wires":[["4e73be99.ffd0e"]]},{"id":"7ef4eed2.279ed","type":"function","z":"9775366a.52f0a8","name":"Şebeke Ön Hazırlık","func":"//var min = global.get(\"driver_min\")\n//var max = global.get(\"driver_max\")\nvar Value = global.get(\"driver\");\n\nif(msg.payload === true && Value <50){\n    global.set('driver', Value + 1)\n    //global.set(\"check\",true)\n    //global.set(\"driverf\",false)\n} \n\nif(msg.payload === false && Value >0) {\n    global.set('driver', Value - 1)\n    //global.set(\"check\",true)\n    //global.set(\"driverf\",false)\n}\nValue = global.get(\"driver\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":1530,"y":3600,"wires":[["70a302e7.a9142c"]]},{"id":"59d4a0e2.6d345","type":"comment","z":"9775366a.52f0a8","name":"Sonra Eklenecek","info":"","x":1400,"y":3560,"wires":[]},{"id":"f892a9bf.6d5568","type":"debug","z":"9775366a.52f0a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":4460,"wires":[]},{"id":"963c0c6f.5e6f4","type":"debug","z":"9775366a.52f0a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[4]","targetType":"msg","x":540,"y":4600,"wires":[]},{"id":"41089a60.0b0954","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1390,"y":2280,"wires":[["33922355.f7cd7c"]]},{"id":"77289d40.c19954","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":2340,"wires":[["33922355.f7cd7c"]]},{"id":"beb7e311.71462","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2520,"wires":[["5ffb68c8.489708"]]},{"id":"7af41567.5b2b8c","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2480,"wires":[["5ffb68c8.489708"]]},{"id":"cd8ef413.cd31b8","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1390,"y":2400,"wires":[["33922355.f7cd7c"]]},{"id":"23c3352a.4f5c6a","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1370,"y":2460,"wires":[["33922355.f7cd7c"]]},{"id":"ea723a08.94a5f8","type":"modbus-getter","z":"9775366a.52f0a8","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","server":"5ab73c9e.c2c6d4","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":420,"y":4060,"wires":[["69165145.7d4f7","3725474.f12c4b8"],[]]},{"id":"b571f86.c191608","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":4040,"wires":[["12e9a18d.c68c2e","9e18b52d.3c35e8"]]},{"id":"32289c5.0c97264","type":"modbus-getter","z":"9775366a.52f0a8","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","server":"5ab73c9e.c2c6d4","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":380,"y":4300,"wires":[["3b5d5a2e.6607a6","e21cc4f3.d57918","cb90f790.baba38"],[]]},{"id":"9e18b52d.3c35e8","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":4100,"wires":[["8215fbc6.1d4098","ea723a08.94a5f8"]]},{"id":"466cb902.aab7d8","type":"debug","z":"9775366a.52f0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":460,"wires":[]},{"id":"12e9a18d.c68c2e","type":"modbus-getter","z":"9775366a.52f0a8","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"5","dataType":"HoldingRegister","adr":"200","quantity":"40","server":"5ab73c9e.c2c6d4","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":360,"y":3760,"wires":[["5c9d608b.2d866","6ac7019d.13c1e","67fb6982.d54798"],[]]},{"id":"18171c9a.0c4583","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"193e2bd1.cf33b4","order":1,"width":"3","height":"3","gtype":"gage","title":"Sıcak Su Giriş","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":4760,"wires":[]},{"id":"3ef95468.d0deac","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"193e2bd1.cf33b4","order":3,"width":"3","height":"3","gtype":"gage","title":"Türbin Giriş","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":4840,"wires":[]},{"id":"b8f2113c.7fa35","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"193e2bd1.cf33b4","order":5,"width":"3","height":"3","gtype":"gage","title":"Pompa Çıkış","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":4920,"wires":[]},{"id":"387fd0c.166ee3","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"36a8375d.ff0ae8","order":0,"width":"3","height":"3","gtype":"gage","title":"Düşük Basınç","label":"Bar","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":4760,"wires":[]},{"id":"eecb9cab.8d8ea","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"36a8375d.ff0ae8","order":0,"width":"3","height":"3","gtype":"gage","title":"Yüksek Basınç","label":"Bar","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":4800,"wires":[]},{"id":"2bf5bd8e.475fa2","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"36a8375d.ff0ae8","order":0,"width":"3","height":"3","gtype":"gage","title":"Hedeflenen","label":"Bar","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":4840,"wires":[]},{"id":"75125f60.e3274","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"36a8375d.ff0ae8","order":0,"width":"3","height":"3","gtype":"gage","title":"Kabul Edilen","label":"Bar","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":4880,"wires":[]},{"id":"299390ef.bf274","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"29","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":940,"wires":[["e1ad626f.241ea"]]},{"id":"eb98a36e.46ecb","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"10.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1060,"wires":[["e1ad626f.241ea"]]},{"id":"ba3036f0.bc9858","type":"comment","z":"9775366a.52f0a8","name":"Acil Stop","info":"","x":120,"y":740,"wires":[]},{"id":"6cc0047b.64b22c","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":860,"wires":[["ee803939.9e7c28"]]},{"id":"fa3b3e59.9c942","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"14","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":900,"wires":[["1c5d8b17.b70d05"]]},{"id":"9a579019.bf6b6","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"81","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1620,"wires":[["ee803939.9e7c28"]]},{"id":"2fc93ea0.1b7852","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"84","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1660,"wires":[["ee803939.9e7c28"]]},{"id":"f541c281.c92bc","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"87","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1700,"wires":[["ee803939.9e7c28"]]},{"id":"bae566c1.2109d8","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1740,"wires":[["ee803939.9e7c28"]]},{"id":"fcce4166.d8b77","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"93","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1780,"wires":[["ee803939.9e7c28"]]},{"id":"3fd15af4.b4eb96","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"96","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1820,"wires":[["ee803939.9e7c28"]]},{"id":"999948b5.72cbf8","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"99","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1860,"wires":[["ee803939.9e7c28"]]},{"id":"771515a3.4394ac","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"102","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1900,"wires":[["ee803939.9e7c28"]]},{"id":"3d717da8.bd3e52","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1940,"wires":[["ee803939.9e7c28"]]},{"id":"8d926f90.5eb2f","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"108","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1980,"wires":[["ee803939.9e7c28"]]},{"id":"81baec63.31914","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"111","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":2020,"wires":[["ee803939.9e7c28"]]},{"id":"5f08aaa6.e15644","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":3740,"wires":[["46d0d731.7f2c98","12e9a18d.c68c2e"]]},{"id":"46d0d731.7f2c98","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":3680,"wires":[[]]},{"id":"5c9d608b.2d866","type":"function","z":"9775366a.52f0a8","name":"","func":"var consumed = msg.payload[19];\nvar delivered = msg.payload[39];\nmsg.payload = consumed;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":3700,"wires":[["ca67d42a.b0cef8"]]},{"id":"8c361b2d.6b0d28","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":120,"wires":[["9438931.2c8ac7","d578d1f8.ae75"]]},{"id":"b659d4ce.2f3458","type":"function","z":"9775366a.52f0a8","name":"<== Delay ayarı","func":"global.set(\"start\",true)\nmsg.payload = global.get(\"start\");\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":520,"wires":[[]]},{"id":"3b90f004.c2b5","type":"exec","z":"9775366a.52f0a8","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":230,"y":3120,"wires":[["e4cad0d2.229b1"],[],[]]},{"id":"e4cad0d2.229b1","type":"debug","z":"9775366a.52f0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":240,"y":3200,"wires":[]},{"id":"ca67d42a.b0cef8","type":"ui_text","z":"9775366a.52f0a8","group":"676a78eb.5cf998","order":4,"width":"9","height":"4","name":"","label":"Toplam Enerji (Wh)","format":"{{msg.payload}}","layout":"col-center","x":1070,"y":3800,"wires":[]},{"id":"e35ee79c.048918","type":"ui_toast","z":"9775366a.52f0a8","position":"top right","displayTime":"60","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":110,"y":300,"wires":[]},{"id":"d578d1f8.ae75","type":"function","z":"9775366a.52f0a8","name":"","func":"msg.payload = \"Stand-By\";\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":200,"wires":[["e35ee79c.048918"]]},{"id":"5bc264dc.6cd0cc","type":"ui_toast","z":"9775366a.52f0a8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":650,"y":20,"wires":[]},{"id":"56e2dbb1.5970d4","type":"function","z":"9775366a.52f0a8","name":"","func":"msg.payload = \"Start için uygun koşullar bekleniyor\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":20,"wires":[["5bc264dc.6cd0cc"]]},{"id":"b1beb979.8a4268","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"193e2bd1.cf33b4","order":2,"width":"3","height":"3","gtype":"gage","title":"Sıcak Su Çıkış","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":4800,"wires":[]},{"id":"fb87dd2.b920b2","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"193e2bd1.cf33b4","order":4,"width":"3","height":"3","gtype":"gage","title":"Türbin Çıkış","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":4880,"wires":[]},{"id":"bb12520a.6e80f","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"193e2bd1.cf33b4","order":6,"width":"3","height":"3","gtype":"gage","title":"Soğuk Su Çıkış","label":"°C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":4960,"wires":[]},{"id":"dbc832de.e8c6c","type":"comment","z":"9775366a.52f0a8","name":"Sıcaklık-Basınç Ekran İsimleri","info":"","x":200,"y":4700,"wires":[]},{"id":"8215fbc6.1d4098","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":4260,"wires":[["32289c5.0c97264","338ba6ed.9de5ca"]]},{"id":"b0a243d3.4ea9c","type":"modbus-getter","z":"9775366a.52f0a8","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"5","dataType":"HoldingRegister","adr":"0","quantity":"30","server":"5ab73c9e.c2c6d4","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":380,"y":3840,"wires":[["659fbfbf.409b3"],[]]},{"id":"a6ebc72.a7cb638","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"64ded828.18fc48","order":2,"width":"3","height":"4","gtype":"gage","title":"S","label":"A","format":"{{payload.C2}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":4000,"wires":[]},{"id":"659fbfbf.409b3","type":"function","z":"9775366a.52f0a8","name":"RePG","func":"\nmsg = {\n    \"payload\" : {\n        //\"repg_v1\"   :   msg.payload[1]  /   10 ,\n        //\"repg_v2\"\t:   msg.payload[3]  /   10 ,\n        //\"repg_v3\"\t:   msg.payload[5]  /   10 ,\n        \"V1\"\t:   msg.payload[9]  /   10 ,\n        \"V2\"\t:   msg.payload[11] /   10 ,\n        \"V3\"\t:   msg.payload[13] /   10 ,\n        \"C1\"\t:   msg.payload[15] /   1000 ,\n        \"C2\"\t:   msg.payload[17] /   1000 ,\n        \"C3\"\t:   msg.payload[19] /   1000 \n        \n        \n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":3920,"wires":[["6a55480b.dea2f8","44496a97.c2ec44","5277def9.855f1","1aa46c1a.1b0284","a6ebc72.a7cb638","1d5e80ab.fccdbf","4100d4b2.3a60ac"]]},{"id":"6a55480b.dea2f8","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"110c2626.60022a","order":0,"width":"3","height":"4","gtype":"gage","title":"R","label":"V","format":"{{payload.V1}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":3820,"wires":[]},{"id":"44496a97.c2ec44","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"110c2626.60022a","order":0,"width":"3","height":"4","gtype":"gage","title":"S","label":"V","format":"{{payload.V2}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":3860,"wires":[]},{"id":"5277def9.855f1","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"110c2626.60022a","order":0,"width":"3","height":"4","gtype":"gage","title":"T","label":"V","format":"{{payload.V3}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":3900,"wires":[]},{"id":"1aa46c1a.1b0284","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"64ded828.18fc48","order":1,"width":"3","height":"4","gtype":"gage","title":"R","label":"A","format":"{{payload.C1}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":3960,"wires":[]},{"id":"1d5e80ab.fccdbf","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"64ded828.18fc48","order":3,"width":"3","height":"4","gtype":"gage","title":"T","label":"A","format":"{{payload.C3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":4040,"wires":[]},{"id":"4e3e807.2d2aa8","type":"debug","z":"9775366a.52f0a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":4020,"wires":[]},{"id":"4100d4b2.3a60ac","type":"function","z":"9775366a.52f0a8","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"V1\"]   =   msg.payload[\"V1\"];\ndata[\"V2\"]   =   msg.payload[\"V2\"];\ndata[\"V3\"]   =   msg.payload[\"V3\"];\ndata[\"C1\"]   =   msg.payload[\"C1\"];\ndata[\"C2\"]   =   msg.payload[\"C2\"];\ndata[\"C3\"]   =   msg.payload[\"C3\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":3920,"wires":[[]]},{"id":"338ba6ed.9de5ca","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":3860,"wires":[["b0a243d3.4ea9c","5888bf09.fa2ba"]]},{"id":"3759f28c.6e193e","type":"modbus-getter","z":"9775366a.52f0a8","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"5","dataType":"HoldingRegister","adr":"26","quantity":"37","server":"5ab73c9e.c2c6d4","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":420,"y":4500,"wires":[["524c8d3c.e513f4"],[]]},{"id":"ce0ce995.ef7238","type":"function","z":"9775366a.52f0a8","name":"RePG","func":"var data = global.get('azure_data');\n\n\n\nmsg = {\n    \"payload\" : {\n        \n        //\"repg_p1\"   :   parseFloat( ( msg.payload[0]).toFixed(0) ),\n        //\"repg_p2\"   :   parseFloat( ( msg.payload[1]).toFixed(0) ) ,\n        //\"repg_p3\"   :   parseFloat( ( msg.payload[2]).toFixed(0) ) ,\n        \"WT\"  :   parseFloat( ( msg.payload[4]).toFixed(0) )\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":4500,"wires":[["8e6d0605.297cc8","423a5d77.9c3b84","f8217fd0.5b831"]]},{"id":"423a5d77.9c3b84","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"2023517.77efcae","order":1,"width":"6","height":"3","gtype":"gage","title":"Güç","label":"W","format":"{{payload.WT}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":4620,"wires":[]},{"id":"8e6d0605.297cc8","type":"function","z":"9775366a.52f0a8","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\n\n//data[\"A1_p1\"]   =   msg.payload[\"repg_p1\"];\n//data[\"A1_p2\"]   =   msg.payload[\"repg_p2\"];\n//data[\"A1_p3\"]   =   msg.payload[\"repg_p3\"];\ndata[\"WT\"]  =   msg.payload[\"WT\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":4480,"wires":[[]]},{"id":"524c8d3c.e513f4","type":"function","z":"9775366a.52f0a8","name":"","func":"let array = msg.payload\n\n\nlet array1 = [];\nlet start = 0;\nlet end = 2;\n\nfor(i = 0; i <= array.length /2 -1; i++){\n    array1.push(array.slice(start, end));\n    start += 2;\n    end  = start + 2;\n}\n\n\nlet array2 = [];\nfor(var item of array1){\n    for(var j of item){\n        array2.push(j.toString(16))\n    }\n}\n\nlet array3 = [];\nstart = 0;\nend = 2;\nfor(i = 0; i <= array.length /2 -1; i++){\n    array3.push(\"0x\"+array2.slice(start, end).join(\"\"));\n    start += 2;\n    end  = start + 2;\n}\n\nvar array4 = []\nfor(var k of array3){\n    var v = new DataView(new ArrayBuffer(4))\n    v.setUint32(0, k)\n    array4.push(String(v.getFloat32(0)).slice(0,5));\n}\n\nlet array5 = array4.map( y => ( isNaN(y) ? null : parseFloat(y)  ) )\n\nmsg = {\n    \"payload\" : array5\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":4500,"wires":[["ce0ce995.ef7238","963c0c6f.5e6f4"]]},{"id":"5888bf09.fa2ba","type":"delay","z":"9775366a.52f0a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":4380,"wires":[["3759f28c.6e193e"]]},{"id":"48801a85.3fdb64","type":"debug","z":"9775366a.52f0a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":3480,"wires":[]},{"id":"f8217fd0.5b831","type":"ui_gauge","z":"9775366a.52f0a8","name":"","group":"100a76f1.526e39","order":1,"width":"9","height":"4","gtype":"gage","title":"Anlık Güç (W)","label":"W","format":"{{payload.WT}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":4580,"wires":[]},{"id":"b116fbc7.55bf98","type":"http in","z":"9775366a.52f0a8","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":1200,"y":4800,"wires":[["7679b0e0.045ae","5fa77332.310f8c","bb2dcd26.2b069"]]},{"id":"7679b0e0.045ae","type":"debug","z":"9775366a.52f0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":4840,"wires":[]},{"id":"bb2dcd26.2b069","type":"http response","z":"9775366a.52f0a8","name":"","statusCode":"200","headers":{},"x":1430,"y":4940,"wires":[]},{"id":"67fb6982.d54798","type":"function","z":"9775366a.52f0a8","name":"","func":"\nmsg = {\n    \"payload\" : {\n        \"WE\"    :   msg.payload[19]  /   1000,\n        \n\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":3620,"wires":[["358b5b10.88fda4","7f088099.b611f"]]},{"id":"358b5b10.88fda4","type":"debug","z":"9775366a.52f0a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":3560,"wires":[]},{"id":"7f088099.b611f","type":"function","z":"9775366a.52f0a8","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"WE\"]   =   msg.payload[\"WE\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":3520,"wires":[[]]},{"id":"3dfbc035.5ce19","type":"function","z":"9775366a.52f0a8","name":"","func":"\nmsg = {\n    \"payload\" : {\n        \"Hz\"    :   msg.payload,\n\n\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":3440,"wires":[["6fcec48.9e9373c"]]},{"id":"6fcec48.9e9373c","type":"function","z":"9775366a.52f0a8","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"Hz\"]    =  msg.payload[\"Hz\"];\n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3440,"wires":[[]]},{"id":"506fdb29.e00344","type":"function","z":"9775366a.52f0a8","name":"setting relay to global","func":"var glb = global.get(\"azure_data\");\n\nglb[ \"R1\" ] =  global.get(\"R1\")\nglb[ \"R2\" ]  =  global.get(\"R2\"),\nglb[ \"R4\" ]  =  global.get(\"R4\")\n \n\nglobal.set('azure_data', glb);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2940,"wires":[[]]},{"id":"fccb5154.15ec7","type":"function","z":"9775366a.52f0a8","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"R1\"]    =  msg.payload[\"R1\"];\n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":2940,"wires":[[]]},{"id":"6654863d.6fa178","type":"inject","z":"9775366a.52f0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":2940,"wires":[["506fdb29.e00344"]]},{"id":"478e1c6.6dc5de4","type":"inject","z":"c519760c.a6a818","name":"1 Minute","topic":"","payload":"","payloadType":"date","repeat":"59","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["5a7c7ebf.8a9ec"]]},{"id":"1aee5199.6a4a3e","type":"azureiothub","z":"c519760c.a6a818","name":"Azure IoT Hub","protocol":"amqp","x":560,"y":340,"wires":[["fdcc95e6.8cb778"]]},{"id":"d391ac7d.20e15","type":"debug","z":"c519760c.a6a818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":240,"wires":[]},{"id":"fdcc95e6.8cb778","type":"debug","z":"c519760c.a6a818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":340,"wires":[]},{"id":"7cc62155.54656","type":"inject","z":"c519760c.a6a818","name":"1 Hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["cb1da56.f71ff58"]]},{"id":"6bb68e37.38193","type":"debug","z":"c519760c.a6a818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":440,"wires":[]},{"id":"5a7c7ebf.8a9ec","type":"function","z":"c519760c.a6a818","name":"Changing Payload Format","func":"let exclude = [\"V1\",\"V2\",\"V3\",\"C1\",\"C2\",\"C3\",\"WT\",\"WE\"]\n\nlet data = global.get( \"azure_data\" );\n\nlet res =   {\n  \"deviceId\": \"RPG-SN-Pilot-2\",\n  \"key\": \"pc8CgqVHPap4h6jrS+zGG4wNWECT6ifKQhKf31RGso4=\",\n  \"protocol\": \"amqp\",\n  \"data\": {\n    \"Version\": \"1.0\",\n    \"SourceType\": \"INTEGRATED\",\n    \"Source\": \"REPG\",\n    \"UniqueId\": \"\",\n    \"Data\": {\n      \"Messages\": []\n    }\n  }\n}\n\n\nfor( let i of Object.entries( data ) ) {\n    \n    if( !exclude.includes(  i[0] )   &&  i[1] !== undefined ) {    \n   \n\n\n\n      res.data.Data.Messages.push(   {\n                          \"Timestamp\": new Date(),\n                          \"Parameters\": [\n                                {\n                                  \"Key\": i[0],\n                                  \"Value\": String( i[1] )\n                                }\n                                        ]\n                                  }\n                        \n                            )\n  \n    \n    } // end of if  \n   \n    \n} // end of loop\n\n\n\n\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["d391ac7d.20e15","1aee5199.6a4a3e"]]},{"id":"cb1da56.f71ff58","type":"function","z":"c519760c.a6a818","name":"Changing Payload Format","func":"let exclude = [\"T1\",\"T2\",\"T3\",\"T4\",\"T5\",\"T6\",\"P1\",\"P2\",\"R1\",\"R2\",\"R4\",\"Hz\", \"P3\", \"P4\"];\nlet data = global.get( \"azure_data\" );\n\nlet res =   {\n  \"deviceId\": \"RPG-SN-Pilot-2\",\n  \"key\": \"pc8CgqVHPap4h6jrS+zGG4wNWECT6ifKQhKf31RGso4=\",\n  \"protocol\": \"amqp\",\n  \"data\": {\n    \"Version\": \"1.0\",\n    \"SourceType\": \"INTEGRATED\",\n    \"Source\": \"REPG\",\n    \"UniqueId\": \"\",\n    \"Data\": {\n      \"Messages\": []\n    }\n  }\n}\n\n\nfor( let i of Object.entries( data ) ) {\n    \n    if( !exclude.includes(  i[0] )   &&  i[1] !== undefined ) {    \n   \n\n\n\n      res.data.Data.Messages.push(   {\n                          \"Timestamp\": new Date(),\n                          \"Parameters\": [\n                                {\n                                  \"Key\": i[0],\n                                  \"Value\": String( i[1] )\n                                }\n                                        ]\n                                  }\n                        \n                            )\n  \n    \n    } // end of if  \n   \n    \n} // end of loop\n\n\n\n\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["1aee5199.6a4a3e","6bb68e37.38193"]]}]