RePG_SİAS_Alçı_2_Export_22.08.2019.txt
[{"id":"5a35fb43.a9ed74","type":"function","z":"4ff70444.4f6a1c","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0]  /   10,\n        \"Temp2\"\t:   msg.payload[1]  /   10,\n        \"Temp3\"\t:   msg.payload[2]  /   10,\n        \"Temp4\"\t:   msg.payload[3]  /   10,\n        \"Temp5\"\t:   msg.payload[4]  /   10,\n        \"Temp6\"\t:   msg.payload[5]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":620,"wires":[["996c7b93.7a8568","6f1bddbf.b742a4","f19db20f.e3405","a2a252a.4de19b","95e2018c.660df","bf667ae1.a46948","e88ff98d.871e98","d9339623.498ed8","36a88817.4a5518"]]},{"id":"c753659e.ab95a8","type":"function","z":"4ff70444.4f6a1c","name":"","func":"let array = msg.payload\n\n\nlet array1 = [];\nlet start = 0;\nlet end = 2;\n\nfor(i = 0; i <= array.length /2 -1; i++){\n    array1.push(array.slice(start, end));\n    start += 2;\n    end  = start + 2;\n}\n\n\nlet array2 = [];\nfor(var item of array1){\n    for(var j of item){\n        array2.push(j.toString(16))\n    }\n}\n\nlet array3 = [];\nstart = 0;\nend = 2;\nfor(i = 0; i <= array.length /2 -1; i++){\n    array3.push(\"0x\"+array2.slice(start, end).join(\"\"));\n    start += 2;\n    end  = start + 2;\n}\n\nvar array4 = []\nfor(var k of array3){\n    var v = new DataView(new ArrayBuffer(4))\n    v.setUint32(0, k)\n    array4.push(String(v.getFloat32(0)).slice(0,5));\n}\n\nlet array5 = array4.map( y => ( isNaN(y) ? null : parseFloat(y)  ) )\n\nmsg = {\n    \"payload\" : array5\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["2ca03db3.4c2992"]]},{"id":"2ae85eaa.c58302","type":"ui_button","z":"4ff70444.4f6a1c","name":"","group":"4c724830.edb878","order":1,"width":"3","height":"2","passthru":false,"label":"Pompa-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":780,"y":1880,"wires":[["24023221.574c9e","5853f012.f81e7"]]},{"id":"7b93bf2c.d651d","type":"function","z":"4ff70444.4f6a1c","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1880,"wires":[["2ae85eaa.c58302"]]},{"id":"5853f012.f81e7","type":"rpi-gpio out","z":"4ff70444.4f6a1c","name":"Relay-1","pin":"7","set":"","level":"0","freq":"","out":"out","x":1120,"y":1860,"wires":[]},{"id":"bda6993d.0fe948","type":"rpi-gpio out","z":"4ff70444.4f6a1c","name":"Relay-2","pin":"11","set":"","level":"0","freq":"","out":"out","x":1120,"y":1960,"wires":[]},{"id":"84b2c8c3.0af3a8","type":"rpi-gpio out","z":"4ff70444.4f6a1c","name":"Relay-3","pin":"13","set":"","level":"0","freq":"","out":"out","x":1120,"y":2060,"wires":[]},{"id":"d01e55d2.4412a8","type":"rpi-gpio out","z":"4ff70444.4f6a1c","name":"Relay-4","pin":"15","set":"","level":"0","freq":"","out":"out","x":1120,"y":2160,"wires":[]},{"id":"374c6ac8.8a6ef6","type":"ui_button","z":"4ff70444.4f6a1c","name":"","group":"4c724830.edb878","order":2,"width":"3","height":"2","passthru":false,"label":"Pompa-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":780,"y":1920,"wires":[["a6fdd931.a7ed18","5853f012.f81e7"]]},{"id":"ae8a2894.023e18","type":"ui_button","z":"4ff70444.4f6a1c","name":"","group":"4c724830.edb878","order":3,"width":"3","height":"2","passthru":false,"label":"Türbin-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":780,"y":1980,"wires":[["aeae0cb.5ad20f","bda6993d.0fe948"]]},{"id":"fca952d.096ccb","type":"ui_button","z":"4ff70444.4f6a1c","name":"","group":"4c724830.edb878","order":4,"width":"3","height":"2","passthru":false,"label":"Türbin-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":780,"y":2020,"wires":[["368ccb4a.1c1494","bda6993d.0fe948"]]},{"id":"3103c721.5550a8","type":"ui_button","z":"4ff70444.4f6a1c","name":"","group":"80608a54.6d2cf8","order":1,"width":"6","height":"2","passthru":false,"label":"DC Output-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":790,"y":2080,"wires":[["81d84d7b.fb193","84b2c8c3.0af3a8"]]},{"id":"b7ea9d12.8fb64","type":"ui_button","z":"4ff70444.4f6a1c","name":"","group":"80608a54.6d2cf8","order":2,"width":"6","height":"2","passthru":false,"label":"DC Output-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":790,"y":2120,"wires":[["804e926e.b4511","84b2c8c3.0af3a8"]]},{"id":"b1a0ea6e.e24518","type":"ui_button","z":"4ff70444.4f6a1c","name":"","group":"78fa7a3b.842b34","order":1,"width":"6","height":"2","passthru":false,"label":"Rezerve-ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":780,"y":2180,"wires":[["9691052e.792498","d01e55d2.4412a8"]]},{"id":"9325d72b.4c20d8","type":"ui_button","z":"4ff70444.4f6a1c","name":"","group":"78fa7a3b.842b34","order":2,"width":"6","height":"2","passthru":false,"label":"Rezerve-OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":790,"y":2220,"wires":[["8826eb3e.6ac778","d01e55d2.4412a8"]]},{"id":"2e670e1a.95dd62","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":430,"y":1820,"wires":[["1a58814f.19b51f"]]},{"id":"1a58814f.19b51f","type":"function","z":"4ff70444.4f6a1c","name":"Creating Button Status","func":"var buttonStatuses = {\n    \n    \"r1\" : \"off\",\n    \"r2\" : \"off\",\n    \"r3\" : \"off\",\n    \"r4\" : \"off\",\n    \"r5\" : \"off\",\n    \"r6\" : \"off\",\n    \"r7\" : \"off\",\n    \"r8\" : \"off\"\n}\n\nglobal.set(\"buttonStatuses\", buttonStatuses);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1820,"wires":[[]]},{"id":"24023221.574c9e","type":"function","z":"4ff70444.4f6a1c","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r1 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1880,"wires":[[]]},{"id":"a6fdd931.a7ed18","type":"function","z":"4ff70444.4f6a1c","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r1 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1920,"wires":[[]]},{"id":"d37ad2a3.3776f","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"buttonStatuses.r1","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1880,"wires":[["7b93bf2c.d651d"]]},{"id":"82f43fef.6328d","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"buttonStatuses.r1","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1920,"wires":[["bc75eb5.876ed18"]]},{"id":"bc75eb5.876ed18","type":"function","z":"4ff70444.4f6a1c","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1920,"wires":[["374c6ac8.8a6ef6"]]},{"id":"6a90abc7.dc8b54","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"buttonStatuses.r2","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1980,"wires":[["ab2c4b6b.8c27b8"]]},{"id":"e24e7506.511308","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"buttonStatuses.r2","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2020,"wires":[["d8901bf7.5cc3f8"]]},{"id":"27c5cf5f.0ee5c","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"buttonStatuses.r3","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2080,"wires":[["f339f701.1802e8"]]},{"id":"7f646176.600f6","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"buttonStatuses.r3","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2120,"wires":[["28913407.4908fc"]]},{"id":"f7173b5f.765b38","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"buttonStatuses.r4","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2180,"wires":[["60c9ed77.61bd64"]]},{"id":"98cf3221.df88e","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"buttonStatuses.r4","payloadType":"global","repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2220,"wires":[["f9689f62.675ba"]]},{"id":"aeae0cb.5ad20f","type":"function","z":"4ff70444.4f6a1c","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r2 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1980,"wires":[[]]},{"id":"368ccb4a.1c1494","type":"function","z":"4ff70444.4f6a1c","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r2 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2020,"wires":[[]]},{"id":"81d84d7b.fb193","type":"function","z":"4ff70444.4f6a1c","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r3 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2080,"wires":[[]]},{"id":"804e926e.b4511","type":"function","z":"4ff70444.4f6a1c","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r3 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2120,"wires":[[]]},{"id":"9691052e.792498","type":"function","z":"4ff70444.4f6a1c","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r4 = \"on\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2180,"wires":[[]]},{"id":"8826eb3e.6ac778","type":"function","z":"4ff70444.4f6a1c","name":"Relay Status Set","func":"var buttonStatuses = global.get(\"buttonStatuses\");\n\nbuttonStatuses.r4 = \"off\";\n\nglobal.set(\"buttonStatuses\", buttonStatuses)\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2220,"wires":[[]]},{"id":"ab2c4b6b.8c27b8","type":"function","z":"4ff70444.4f6a1c","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1980,"wires":[["ae8a2894.023e18"]]},{"id":"d8901bf7.5cc3f8","type":"function","z":"4ff70444.4f6a1c","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2020,"wires":[["fca952d.096ccb"]]},{"id":"f339f701.1802e8","type":"function","z":"4ff70444.4f6a1c","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2080,"wires":[["3103c721.5550a8"]]},{"id":"28913407.4908fc","type":"function","z":"4ff70444.4f6a1c","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2120,"wires":[["b7ea9d12.8fb64"]]},{"id":"60c9ed77.61bd64","type":"function","z":"4ff70444.4f6a1c","name":"Enable / Disable","func":"if( msg.payload == \"on\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2180,"wires":[["b1a0ea6e.e24518"]]},{"id":"f9689f62.675ba","type":"function","z":"4ff70444.4f6a1c","name":"Enable / Disable","func":"if( msg.payload == \"off\") {\n    msg.enabled = false;\n} else {\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2220,"wires":[["9325d72b.4c20d8"]]},{"id":"9afdb207.1e1c4","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"","group":"67e19fe.c2ad66","order":0,"width":"2","height":"3","gtype":"gage","title":"R","label":"VA","format":"{{payload.repg_p1}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":340,"wires":[]},{"id":"77b4e628.cc4058","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"","group":"67e19fe.c2ad66","order":0,"width":"2","height":"3","gtype":"gage","title":"S","label":"VA","format":"{{payload.repg_p2}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":380,"wires":[]},{"id":"1ae72df0.4137c2","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"","group":"67e19fe.c2ad66","order":0,"width":"2","height":"3","gtype":"gage","title":"T","label":"VA","format":"{{payload.repg_p3}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":420,"wires":[]},{"id":"e0a0371c.06f4a8","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"","group":"bc74f986.24d508","order":0,"width":"6","height":"3","gtype":"gage","title":"Güç LT","label":"VA","format":"{{payload.repg_t_p}}","min":0,"max":"15000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":460,"wires":[]},{"id":"1dd5dfd0.079a6","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"","group":"a57d463f.4a7988","order":2,"width":"2","height":"3","gtype":"gage","title":"S","label":"A","format":"{{payload.repg_c2}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":240,"wires":[]},{"id":"3370459c.d8379a","type":"function","z":"4ff70444.4f6a1c","name":"RePG","func":"\nmsg = {\n    \"payload\" : {\n        //\"repg_v1\"   :   msg.payload[1]  /   10 ,\n        //\"repg_v2\"\t:   msg.payload[3]  /   10 ,\n        //\"repg_v3\"\t:   msg.payload[5]  /   10 ,\n        \"repg_v1_2\"\t:   msg.payload[9]  /   10 ,\n        \"repg_v2_3\"\t:   msg.payload[11] /   10 ,\n        \"repg_v3_1\"\t:   msg.payload[13] /   10 ,\n        \"repg_c1\"\t:   msg.payload[15] /   1000 ,\n        \"repg_c2\"\t:   msg.payload[17] /   1000 ,\n        \"repg_c3\"\t:   msg.payload[19] /   1000 \n        \n        \n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["bdce2d27.19722","1d42b1f.d23574e","c3d6f4ff.d58298","f62fbc68.63d5b","1dd5dfd0.079a6","3d005e12.b51822","332be3f9.20601c"]]},{"id":"bdce2d27.19722","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"","group":"165fc01f.96865","order":0,"width":"2","height":"3","gtype":"gage","title":"R","label":"V","format":"{{payload.repg_v1_2}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":60,"wires":[]},{"id":"1d42b1f.d23574e","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"","group":"165fc01f.96865","order":0,"width":"2","height":"3","gtype":"gage","title":"S","label":"V","format":"{{payload.repg_v2_3}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":100,"wires":[]},{"id":"c3d6f4ff.d58298","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"","group":"165fc01f.96865","order":0,"width":"2","height":"3","gtype":"gage","title":"T","label":"V","format":"{{payload.repg_v3_1}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":140,"wires":[]},{"id":"f62fbc68.63d5b","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"","group":"a57d463f.4a7988","order":1,"width":"2","height":"3","gtype":"gage","title":"R","label":"A","format":"{{payload.repg_c1}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":200,"wires":[]},{"id":"3d005e12.b51822","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"","group":"a57d463f.4a7988","order":3,"width":"2","height":"3","gtype":"gage","title":"T","label":"A","format":"{{payload.repg_c3}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":280,"wires":[]},{"id":"800d3a96.c56da8","type":"debug","z":"4ff70444.4f6a1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":680,"wires":[]},{"id":"996c7b93.7a8568","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"T1","group":"cda282fd.33181","order":0,"width":"4","height":"4","gtype":"gage","title":"Sıcak Su Giriş","label":"°C","format":"{{payload.Temp1}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":520,"wires":[]},{"id":"6f1bddbf.b742a4","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"T2","group":"89a65aa5.2d44b8","order":3,"width":"4","height":"4","gtype":"gage","title":"Sıcak Su Çıkış","label":"°C","format":"{{payload.Temp2}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":560,"wires":[]},{"id":"f19db20f.e3405","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"T3","group":"876e8787.4d8d68","order":0,"width":"4","height":"4","gtype":"gage","title":"Türbin Giriş","label":"°C","format":"{{payload.Temp3}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":600,"wires":[]},{"id":"a2a252a.4de19b","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"T4","group":"85165b18.37ec88","order":0,"width":"4","height":"4","gtype":"gage","title":"Türbin Çıkış","label":"°C","format":"{{payload.Temp4}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":640,"wires":[]},{"id":"95e2018c.660df","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"T5","group":"7b11bd2c.eeaa94","order":0,"width":"4","height":"4","gtype":"gage","title":"Pompa Çıkış","label":"°C","format":"{{payload.Temp5}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":680,"wires":[]},{"id":"bf667ae1.a46948","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"T6","group":"cec40b19.ce8328","order":0,"width":"4","height":"4","gtype":"gage","title":"Soğuk Su","label":"°C","format":"{{payload.Temp6}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":720,"wires":[]},{"id":"66037099.a839c","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"P1","group":"3c4aeb14.01c504","order":0,"width":"6","height":"3","gtype":"gage","title":"Türbin Çıkış","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":780,"wires":[]},{"id":"6e3b056f.4e8c6c","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"P2","group":"8f10b0fb.ad42c","order":3,"width":"6","height":"3","gtype":"gage","title":"Türbin Giriş","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":820,"wires":[]},{"id":"37849080.423e8","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"P3","group":"7444638e.c87f6c","order":0,"width":"6","height":"3","gtype":"gage","title":"Rezerve","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":860,"wires":[]},{"id":"d9e39900.de5de8","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"P4","group":"c2d45a73.3f1508","order":0,"width":"6","height":"3","gtype":"gage","title":"Rezerve","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":900,"wires":[]},{"id":"a5ba1298.151fc","type":"function","z":"4ff70444.4f6a1c","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"P1\"    :   msg.payload[0]  /   100,\n        \"P2\"\t:   msg.payload[1]  /   100,\n        \"P3\"\t:   msg.payload[2]  /   100,\n        \"P4\"\t:   msg.payload[3]  /   100\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":780,"wires":[["dddddf43.2af7c","7dfab80b.bc98f8","9d4ad27b.3e7fa","651a6f0b.efcf9"]]},{"id":"dddddf43.2af7c","type":"range","z":"4ff70444.4f6a1c","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P1","name":"","x":610,"y":780,"wires":[["512f08dc.529cc8"]]},{"id":"7dfab80b.bc98f8","type":"range","z":"4ff70444.4f6a1c","minin":"0","maxin":"10","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.P2","name":"","x":610,"y":820,"wires":[["1b5e9e9c.883d31"]]},{"id":"9d4ad27b.3e7fa","type":"range","z":"4ff70444.4f6a1c","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P3","name":"","x":610,"y":860,"wires":[["dd899730.12bf08"]]},{"id":"651a6f0b.efcf9","type":"range","z":"4ff70444.4f6a1c","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload.P4","name":"","x":610,"y":900,"wires":[["c750b96.384de48"]]},{"id":"a0610cb0.c33ad","type":"debug","z":"4ff70444.4f6a1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":840,"wires":[]},{"id":"364e13e7.33d77c","type":"modbus-read","z":"4ff70444.4f6a1c","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"488d5dfc.f1f194","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":240,"y":800,"wires":[["a0610cb0.c33ad","a5ba1298.151fc"],[]]},{"id":"9455da05.60c6b8","type":"modbus-read","z":"4ff70444.4f6a1c","name":"PT-100","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"488d5dfc.f1f194","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":230,"y":620,"wires":[["800d3a96.c56da8","5a35fb43.a9ed74"],[]]},{"id":"6fb2cd9b.e2f7d4","type":"modbus-read","z":"4ff70444.4f6a1c","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"30","rate":"4","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"488d5dfc.f1f194","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":280,"y":160,"wires":[["3370459c.d8379a","241c7043.35788"],[]]},{"id":"6a827523.5fbc2c","type":"modbus-read","z":"4ff70444.4f6a1c","name":"Entes","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"26","quantity":"37","rate":"7","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"488d5dfc.f1f194","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":290,"y":340,"wires":[["c753659e.ab95a8"],[]]},{"id":"241c7043.35788","type":"debug","z":"4ff70444.4f6a1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":260,"wires":[]},{"id":"1f49b0a4.8fdb4f","type":"debug","z":"4ff70444.4f6a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":480,"wires":[]},{"id":"704e6096.c72d5","type":"function","z":"4ff70444.4f6a1c","name":"","func":"var data = msg.payload\nmsg.payload = parseInt( ( data * 100 ).toFixed(0) )\n\nglobal.set('value', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1080,"wires":[["28cd2873.09b2d8"]]},{"id":"53b12e7a.19e27","type":"ui_slider","z":"4ff70444.4f6a1c","name":"slider_1","label":"","tooltip":"","group":"de170ea8.be812","order":5,"width":"6","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":"1","x":640,"y":1060,"wires":[["fe1a9b9c.fc9a48","a53b4ac6.906358","e26e6c25.4e386"]],"icon":"node-red/alert.png"},{"id":"c1b54fc4.d26c3","type":"ui_button","z":"4ff70444.4f6a1c","name":"+_1","group":"de170ea8.be812","order":4,"width":"1","height":"1","passthru":false,"label":"+","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"","x":300,"y":980,"wires":[["11c4a101.36769f"]]},{"id":"5055bb85.52d054","type":"ui_button","z":"4ff70444.4f6a1c","name":"-_1","group":"de170ea8.be812","order":2,"width":"1","height":"1","passthru":false,"label":"-","tooltip":"","color":"red","bgcolor":"white","icon":"","payload":"-","payloadType":"str","topic":"","x":300.0034713745117,"y":1026.989473938942,"wires":[["11c4a101.36769f"]]},{"id":"11c4a101.36769f","type":"function","z":"4ff70444.4f6a1c","name":"Obtained Global Variable","func":"\nvar Value = global.get(\"val\");\n\nif(msg.payload == \"+\" && Value <50){\n    global.set('val', Value + 1)\n} \n\nif(msg.payload == \"-\" && Value >0) {\n    global.set('val', Value - 1)\n}\nValue = global.get(\"val\");\nmsg.payload = Value\n\nreturn msg","outputs":1,"noerr":0,"x":490,"y":1000,"wires":[["53b12e7a.19e27"]]},{"id":"22fff2c7.ba911e","type":"function","z":"4ff70444.4f6a1c","name":"Global Variable Initializing","func":"global.set(\"val\", 0);\nglobal.set(\"val1\", 0);\nglobal.set(\"val2\", 0);\nglobal.set(\"val3\", 0);\nglobal.set(\"val4\", 0);\nglobal.set(\"val5\", 0);","outputs":1,"noerr":0,"x":490,"y":1100,"wires":[[]]},{"id":"d209b5c2.93f568","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":1100,"wires":[["22fff2c7.ba911e"]]},{"id":"e26e6c25.4e386","type":"ui_text","z":"4ff70444.4f6a1c","group":"de170ea8.be812","order":3,"width":"4","height":"1","name":"text_1","label":"","format":"{{msg.payload}}","layout":"col-center","x":830,"y":1040,"wires":[]},{"id":"fe1a9b9c.fc9a48","type":"function","z":"4ff70444.4f6a1c","name":"Setting Global Variable","func":"if(msg.payload){\n     global.set('val', msg.payload)\n}\n   \n\n\nmsg = {\n    \"payload\" : global.get('val'),\n     \"data\" : Math.floor(global.get('val') * 1.365)\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1000,"wires":[[]]},{"id":"72ceccde.019bf4","type":"ui_text","z":"4ff70444.4f6a1c","group":"de170ea8.be812","order":1,"width":"6","height":"1","name":"INV-1","label":"Sürücü","format":"{{msg.payload}}","layout":"row-center","x":950,"y":1040,"wires":[]},{"id":"b4ef2a70.c18758","type":"debug","z":"4ff70444.4f6a1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1140,"wires":[]},{"id":"a53b4ac6.906358","type":"range","z":"4ff70444.4f6a1c","minin":"0","maxin":"50","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":830,"y":1080,"wires":[["704e6096.c72d5"]]},{"id":"28cd2873.09b2d8","type":"ui_button","z":"4ff70444.4f6a1c","name":"","group":"de170ea8.be812","order":5,"width":"6","height":"1","passthru":false,"label":"UYGULA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"value","payloadType":"global","topic":"","x":900,"y":1140,"wires":[["b4ef2a70.c18758","d9387df6.a1537"]]},{"id":"246a5f54.148bc","type":"debug","z":"4ff70444.4f6a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1240,"wires":[]},{"id":"b9c1df6b.139a4","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1120,"wires":[["d9387df6.a1537"]]},{"id":"c5dc10b1.29e0d","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1160,"wires":[["d9387df6.a1537"]]},{"id":"1937afc.1b82b5","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"600","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1200,"wires":[["d9387df6.a1537"]]},{"id":"69a1295c.72a138","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1280,"wires":[["d9387df6.a1537"]]},{"id":"4ba40047.e12bc","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1240,"wires":[["d9387df6.a1537"]]},{"id":"d9387df6.a1537","type":"modbus-write","z":"4ff70444.4f6a1c","name":"","showStatusActivities":false,"showErrors":false,"unitid":"4","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"488d5dfc.f1f194","x":900,"y":1220,"wires":[["246a5f54.148bc"],[]]},{"id":"619eb2a.05a5d4c","type":"debug","z":"4ff70444.4f6a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":100,"wires":[]},{"id":"6b2cdb4.1fb7224","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":40,"wires":[["f04227e1.e1c028"]]},{"id":"f04227e1.e1c028","type":"function","z":"4ff70444.4f6a1c","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"A1_v1\"     :undefined,\n    \"A1_v2\"     :undefined,\n    \"A1_v3\"     :undefined,\n    \"A1_c1\"     :undefined,\n    \"A1_c2\"     :undefined,\n    \"A1_c3\"     :undefined,\n    \"A1_p1\"     :undefined,\n    \"A1_p2\"     :undefined,\n    \"A1_p3\"     :undefined,\n    \"A1_t_p\"    :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"P3\"        :undefined,\n    \"P4\"        :undefined,\n    \"PT\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":40,"wires":[[]]},{"id":"3f406594.22a89a","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":100,"wires":[["619eb2a.05a5d4c"]]},{"id":"332be3f9.20601c","type":"function","z":"4ff70444.4f6a1c","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"A1_v1\"]   =   msg.payload[\"repg_v1_2\"];\ndata[\"A1_v2\"]   =   msg.payload[\"repg_v2_3\"];\ndata[\"A1_v3\"]   =   msg.payload[\"repg_v3_1\"];\ndata[\"A1_c1\"]   =   msg.payload[\"repg_c1\"];\ndata[\"A1_c2\"]   =   msg.payload[\"repg_c2\"];\ndata[\"A1_c3\"]   =   msg.payload[\"repg_c3\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":160,"wires":[[]]},{"id":"1d13da23.d3a106","type":"function","z":"4ff70444.4f6a1c","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\n\ndata[\"A1_p1\"]   =   msg.payload[\"repg_p1\"];\ndata[\"A1_p2\"]   =   msg.payload[\"repg_p2\"];\ndata[\"A1_p3\"]   =   msg.payload[\"repg_p3\"];\ndata[\"A1_t_p\"]  =   msg.payload[\"repg_t_p\"];\n\n\n  \n\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":320,"wires":[[]]},{"id":"e88ff98d.871e98","type":"function","z":"4ff70444.4f6a1c","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":540,"wires":[[]]},{"id":"2ca03db3.4c2992","type":"function","z":"4ff70444.4f6a1c","name":"RePG","func":"var data = global.get('azure_data');\n\n\n\nmsg = {\n    \"payload\" : {\n        \n        \"repg_p1\"   :   parseFloat( ( (data[\"A1_v1\"]    /   1.73) * data[\"A1_c1\"]).toFixed(0) ),\n        \"repg_p2\"   :   parseFloat( ( (data[\"A1_v2\"]    /   1.73) * data[\"A1_c2\"]).toFixed(0) ) ,\n        \"repg_p3\"   :   parseFloat( ( (data[\"A1_v3\"]    /   1.73) * data[\"A1_c3\"]).toFixed(0) ) ,\n        \"repg_t_p\"  :   parseFloat( ( data[\"A1_p1\"] +  data[\"A1_p2\"] + data[\"A1_p3\"] ).toFixed(0) )\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["1d13da23.d3a106","9afdb207.1e1c4","77b4e628.cc4058","1ae72df0.4137c2","e0a0371c.06f4a8"]]},{"id":"a1cadacc.292ef8","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1140,"y":120,"wires":[[]]},{"id":"3b5e83b8.8c06cc","type":"function","z":"4ff70444.4f6a1c","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"2c61c9f2-4c98-4121-9782-e58a54533747\",\n        \"key\": \"dd/k0MTs70DG9kS/h0uuyTjmvDZa077IF+VVV+pKD/w=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":220,"wires":[[]]},{"id":"7a070fc.0b0b1f","type":"debug","z":"4ff70444.4f6a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":340,"wires":[]},{"id":"512f08dc.529cc8","type":"function","z":"4ff70444.4f6a1c","name":"","func":"var data = parseFloat( (msg.payload.P1).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":780,"wires":[["66037099.a839c","54716e54.9df33"]]},{"id":"1b5e9e9c.883d31","type":"function","z":"4ff70444.4f6a1c","name":"","func":"var data = parseFloat( (msg.payload.P2).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":820,"wires":[["6e3b056f.4e8c6c","5c6d4e62.c6ef1"]]},{"id":"dd899730.12bf08","type":"function","z":"4ff70444.4f6a1c","name":"","func":"var data = parseFloat( (msg.payload.P3).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P3\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":860,"wires":[["37849080.423e8"]]},{"id":"c750b96.384de48","type":"function","z":"4ff70444.4f6a1c","name":"","func":"var data = parseFloat( (msg.payload.P4).toFixed(1));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P4\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":900,"wires":[["d9e39900.de5de8"]]},{"id":"d9339623.498ed8","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"T1","group":"12c86c5d.7f3b04","order":0,"width":"3","height":"3","gtype":"gage","title":"Sıcak Su Giriş","label":"°C","format":"{{payload.Temp1}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":620,"wires":[]},{"id":"36a88817.4a5518","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"T3","group":"12c86c5d.7f3b04","order":0,"width":"3","height":"3","gtype":"gage","title":"Türbin Giriş","label":"°C","format":"{{payload.Temp3}}","min":"-25","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":700,"wires":[]},{"id":"54716e54.9df33","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"P1","group":"58bf6c91.7a1b04","order":0,"width":"3","height":"3","gtype":"gage","title":"Türbin Çıkış","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":780,"wires":[]},{"id":"5c6d4e62.c6ef1","type":"ui_gauge","z":"4ff70444.4f6a1c","name":"P2","group":"58bf6c91.7a1b04","order":3,"width":"3","height":"3","gtype":"gage","title":"Türbin Giriş","label":"bar","format":"{{payload}}","min":"0","max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":820,"wires":[]},{"id":"81a81580.b6e098","type":"inject","z":"4ff70444.4f6a1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":1190,"y":420,"wires":[["cf6a5c6.bb4ffa"]]},{"id":"6fbae402.aa046c","type":"azureiothub","z":"4ff70444.4f6a1c","name":"Azure IoT Hub","protocol":"mqtt","x":1320,"y":520,"wires":[["2a0a0093.62d7e"]]},{"id":"cf6a5c6.bb4ffa","type":"function","z":"4ff70444.4f6a1c","name":"","func":"\n\n// Return a new message with the required data for the Hub.\nmsg= {\n    payload: {\n        \"deviceId\": \"c8f32470-2083-4841-9104-b6a361632914\",\n        \"key\": \"FmG9Te/CDLyXSS2l8Mi7hz5JXc/xfoOB4Gc/FRMa3z0=\",\n        \"data\": global.get(\"azure_data\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":460,"wires":[["6fbae402.aa046c"]]},{"id":"2a0a0093.62d7e","type":"debug","z":"4ff70444.4f6a1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":460,"wires":[]},{"id":"72179a8f.5457d4","type":"comment","z":"4ff70444.4f6a1c","name":"RePG SİAS Alçı - 2","info":"","x":1090,"y":60,"wires":[]},{"id":"4c724830.edb878","type":"ui_group","z":"","name":"Buton","tab":"b94331bb.f211d","order":3,"disp":false,"width":"6","collapse":false},{"id":"80608a54.6d2cf8","type":"ui_group","z":"","name":"Buton-3","tab":"1eb10111.37816f","order":5,"disp":false,"width":"6","collapse":false},{"id":"78fa7a3b.842b34","type":"ui_group","z":"","name":"Buton-4","tab":"1eb10111.37816f","order":6,"disp":false,"width":"6","collapse":false},{"id":"67e19fe.c2ad66","type":"ui_group","z":"","name":"Güç","tab":"3e0621fe.0295fe","order":4,"disp":true,"width":"6","collapse":false},{"id":"bc74f986.24d508","type":"ui_group","z":"","name":"RePG","tab":"3e0621fe.0295fe","order":5,"disp":true,"width":"6","collapse":false},{"id":"a57d463f.4a7988","type":"ui_group","z":"","name":"Akım","tab":"3e0621fe.0295fe","order":3,"disp":true,"width":"6","collapse":false},{"id":"165fc01f.96865","type":"ui_group","z":"","name":"Gerilim","tab":"3e0621fe.0295fe","order":1,"disp":true,"width":"6","collapse":false},{"id":"cda282fd.33181","type":"ui_group","z":"","name":"T1","tab":"d5bf8dea.3bbb1","order":1,"disp":false,"width":"4","collapse":false},{"id":"89a65aa5.2d44b8","type":"ui_group","z":"","name":"T2","tab":"d5bf8dea.3bbb1","order":2,"disp":false,"width":"4","collapse":false},{"id":"876e8787.4d8d68","type":"ui_group","z":"","name":"T3","tab":"d5bf8dea.3bbb1","order":3,"disp":false,"width":"4","collapse":false},{"id":"85165b18.37ec88","type":"ui_group","z":"","name":"T4","tab":"d5bf8dea.3bbb1","order":4,"disp":false,"width":"4","collapse":false},{"id":"7b11bd2c.eeaa94","type":"ui_group","z":"","name":"T5","tab":"d5bf8dea.3bbb1","order":5,"disp":false,"width":"4","collapse":false},{"id":"cec40b19.ce8328","type":"ui_group","z":"","name":"T6","tab":"d5bf8dea.3bbb1","order":6,"disp":false,"width":"4","collapse":false},{"id":"3c4aeb14.01c504","type":"ui_group","z":"","name":"P1","tab":"b12924b5.70d168","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f10b0fb.ad42c","type":"ui_group","z":"","name":"P2","tab":"b12924b5.70d168","order":2,"disp":true,"width":"6","collapse":false},{"id":"7444638e.c87f6c","type":"ui_group","z":"","name":"P3","tab":"b12924b5.70d168","order":3,"disp":true,"width":"6","collapse":false},{"id":"c2d45a73.3f1508","type":"ui_group","z":"","name":"P4","tab":"b12924b5.70d168","order":4,"disp":true,"width":"6","collapse":false},{"id":"488d5dfc.f1f194","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"de170ea8.be812","type":"ui_group","z":"","name":"Sürücü","tab":"b94331bb.f211d","order":1,"disp":false,"width":"6","collapse":false},{"id":"12c86c5d.7f3b04","type":"ui_group","z":"","name":"Sıcaklık","tab":"b94331bb.f211d","order":4,"disp":true,"width":"6","collapse":false},{"id":"58bf6c91.7a1b04","type":"ui_group","z":"","name":"Basınç","tab":"b94331bb.f211d","order":5,"disp":true,"width":"6","collapse":false},{"id":"b94331bb.f211d","type":"ui_tab","z":"","name":"RePG SİAS Alçı - 2","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1eb10111.37816f","type":"ui_tab","z":"","name":"Kontrol","icon":"dashboard","order":3},{"id":"3e0621fe.0295fe","type":"ui_tab","z":"","name":"Elektrik","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d5bf8dea.3bbb1","type":"ui_tab","z":"","name":"Sıcaklık Sensör","icon":"dashboard","order":5},{"id":"b12924b5.70d168","type":"ui_tab","z":"","name":"Basınç Sensör","icon":"dashboard","order":4}]