RePG_261220199_datamarket_plc.txt
[{"id":"712c83b8.3e653c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ea346b60.b4dd18","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c8e83a3c.d67b28","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"2392e717.f42f08","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"b42482bf.082fc","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"907a33e.5a131d","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"a3e9683d.f044e8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"c96f3ec7.39d1f","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"d1a764ab.2dbb48","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"eb3c3578.67c818","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"1fff259.711f4da","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"1b0a11e4.783d2e","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"9fa7f10b.0497a","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"ee4b06d5.defd88","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"62050f0.931f9f","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"f07b5030.30692","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"30bd4f8e.9bab3","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"b03fe4e2.42f678","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"def778bd.0c2ff8","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"fb278f2b.e320b","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"8a2fb360.747c8","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"65203428.eb41bc","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"8897eacf.a79c58","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"f253b83f.d5cc88","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"e6cb7938.3761a8","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"25babe63.1f2f62","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"ef45a858.78d7b8","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"e93ae247.a1e79","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"2b020c5b.cf8874","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"c027d804.7e8638","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"fa692444.c99078","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"c3930dc5.25eaf","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"13eec455.15f36c","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"12235d85.abd4f2","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"81317302.78a2f","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"bcd3145f.c613c8","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"f9c2a856.f13108","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"dc980ea4.0fc02","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"f5bafba1.cae498","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"6859f683.8dd458","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"7096d7db.7a9148","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"aca61e75.b0078","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"9751fe8e.7f0fe","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"f0506362.d0a2e","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"d37dbf69.24a4b","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"4e9b78dc.1ecf68","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"f2ccd6de.61f238","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"e9f104ab.63f868","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"a3d46857.000d58","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"57bbd6de.9781a8","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"f794ba07.ff6898","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"40d2f7c2.bac368","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"980aa05f.0161b","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"1521279c.dd1768","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"bd6e4310.45389","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"718d265a.c9a9a8","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"c11aa61c.322fc8","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"a884bc30.7e435","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"8aa2cbc6.ef2748","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"8456cf4d.5cfc4","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"62bbe2d9.3d062c","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"b8a2d4bc.e671a8","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"45d3fb40.4f6cf4","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"9edc8ec7.bce34","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"cff0e02a.3","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"d727af0c.40aad","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"beebf94c.ba8868","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"3d102caa.7b8c14","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"a0e8a046.858","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"c45a62b3.80e6b","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"cc4b0f52.27b48","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"91ab6133.e2667","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"5f517606.031be8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"337577fb.ea99c8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"7eb4d025.a31ab","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"6b397530.2ca50c","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"2fac1435.e4349c","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"5ff4c837.632208","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"7db8481c.439ff8","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"a31ba51.f024c58","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"dfb5af5.d72b95","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"32a9e1a1.a2bd3e","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"ab4a0c5c.868ef","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"bb2ab645.d70408","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"6337dee7.4ba1e","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"35029b7.9709d64","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"dbd31b77.8de508","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"2dd22150.1fc8ee","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"d9a2ac28.fda3a","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"e347d62e.8afaa8","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"53640cd3.af7324","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"63abb7a7.acbef8","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"ca4e49f5.3987a8","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"e594d898.fd4f38","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"b812ab2f.d84878","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"c7344135.9d049","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"46994274.38964c","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"978c002c.aafb5","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"91b78281.b3996","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"9f0d7f32.ceefc","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"c061719d.f6b53","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"1169709c.f939ef","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"52b8fd08.0e7004","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"dbebef30.989ab","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"ce1c968e.d163a8","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"a4193f64.387ee","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"37f206bc.b742ea","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"d2bf2e82.d5fe1","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"a502a11c.01fe4","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"f909ca0d.89d378","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"bab359cd.b58668","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"8596e78c.d31488","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"42e1c8fc.45f048","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"e4413e46.88a3f","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"e60f9ca4.3b15d","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"e7f38a81.178768","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"5e22f0c0.5fa9c","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"4a9c53e7.504dec","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"8701b527.f736a8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"deb99426.696e78","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"990d1796.0e8308","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"35ae2a1d.c922c6","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"60b7bb98.c8e8d4","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"7aecf060.6fa9a","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"7f97fecc.19d87","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"888d0d1c.63754","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"26c45125.516bde","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"9c6758f9.3563f8","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"fbd16882.e8a6e8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"1915d0fe.2e90ef","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"b5a99aaf.24fdc8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"62ec679d.3e0b08","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"3c097f64.21934","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"941b8e8f.1df4d","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"bd79622b.1a167","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"b2785536.82e1b8","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"6b0c7cc8.af8c74","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"d91afc01.0457b","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"a62e8e28.ca812","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"71e2541e.3a50ac","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"a3ed06e8.9f8138","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"50784305.9e796c","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"6393b720.a98268","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"7d0dda9e.4f60c4","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"54fa9e95.74fe5","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"d7b9b1fc.c6088","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"d2133aa2.ce9578","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"2d00f452.27fadc","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"f7285a10.80ae68","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"99a34487.7d6c88","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"86810ce.be0a5f","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"8728b34.6abca5","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"24e9184a.c21e58","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"88d2ea53.db8a68","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"5d9728c5.243de8","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"11404188.fa930e","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"3aac8ced.bcdb04","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"1eb3c46b.9f861c","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"70161ea8.a2722","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"750f3349.9211ec","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"fe5ea255.97ff","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"b477dc7e.979a","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"59dbc228.8b569c","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"5e43e768.80dc08","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"2ed7ea53.70c1a6","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"95f9b1a5.95e32","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"dcc94641.397658","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"399d58e2.2179f8","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"d6c6d267.4eb5f","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"64991518.2136fc","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"3c7cbb1d.09cdf4","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"b84345c1.954c18","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"404a4d89.ab9874","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"c665dc7d.12ea6","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"c26a0488.c942a8","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"743914e0.f9632c","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"e308e6aa.d452f8","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"baa0bc5b.676aa","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"dad84b07.05a1c8","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"c764234e.72641","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"16df1217.b00a4e","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"784c0b54.765994","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"b60ccdb1.89ba7","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"baca72e9.5adb9","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"42f9429d.3cfdcc","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"265c13bd.b8636c","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"9cb9afc.43cc55","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"cb0e48a0.055508","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"69e90d56.ef93b4","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"cf6352db.3929a","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"8bc1a05b.0b97a","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"15c432a3.b8006d","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"adb8c8e8.3a4728","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"8a2bdfd8.ae716","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"84117b47.80eda8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"9d1c5526.b0d0a8","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"b3b11155.c4b61","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"192a366f.f5a08a","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"c7cfeac6.7f11c8","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"cb055f62.4de81","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"4b7ae290.15280c","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"a2353644.f361c8","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"466c4d5f.016de4","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"14f32fe2.3f5a5","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"3daff041.bae4","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"da41b9dd.c35508","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"868c98c3.3eb898","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"2c530666.a704aa","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"849bc917.b4bef8","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"d58e94c.138c068","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"101c8934.afbe87","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"cc3797a3.1bbb58","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"78c47b4a.655374","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"9d4da853.def008","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"28d73f9b.94658","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"4728a9e6.1da128","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"451faa56.7af7d4","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"21edf648.93fbfa","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"cac9f75c.ac6878","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"4b558941.98a668","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"1c17db3b.fbb415","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"b3c0adc9.51e77","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"b064883f.b6ed88","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"6338a0c.292876","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"d07468cc.75ef38","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"e48967c7.033af8","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"574d31fa.b51fc","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"9a78f75.bd59e08","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"83928ae.9f39778","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"7336fee5.dd7ce","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"57dfe05a.48373","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"c8aaf33.769631","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"3b5c2dec.498482","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"f133738d.daa1f","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"8364d492.947b18","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"f3a44fb.cc7b8b","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"e430bad0.f8a868","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"aa4df270.1244a","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"a31642e2.4e16a","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"d51821b8.b2134","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"d916455e.572418","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"890d570a.7d5e58","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"143ca689.3afd39","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"fcace3ed.cf5da","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"8c9edadc.fb7be8","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"261bd0ad.2d877","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"22bef711.549158","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"83c3bb0f.497a18","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"28c37d14.53ffa2","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"a4b0b6f2.7256b8","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"46d1382e.ec3018","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"bbbe64b4.037828","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"dbc2f44d.7fe998","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"14bc4eea.6d1fe1","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"56e0eb33.e58b64","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"b002f9e5.0cf708","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"7fc21732.c12b58","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"dfc5ca20.2ac048","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"8651c84d.263908","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"4ba23025.209b1","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"1665a3b8.1614bc","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"b70537d5.ce1008","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"49f371b9.e879f","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"9abbcb5f.92c678","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"859704ae.3a1888","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"b385e759.9ec848","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"6ff0c0b4.548","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"f44bbc50.899f7","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"45d84bbd.811d24","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"81236461.e07338","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"5a303f02.cef14","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"e2d1b37.4dda25","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"67d33068.34a98","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"af66a98d.8205c8","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"de9a862c.805cd8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"79e61010.ba28e","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"9e9cf2cd.96687","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"353aa255.574bee","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"2cb2810e.fc560e","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"f23cddd7.77a7a","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"8dc736a7.0442c8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"d75eee6.0efea1","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"50f17357.5987ec","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"2b5e051b.d2953a","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"4c322a6f.ee91c4","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"9c2135f6.fe3108","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"dab3f415.665348","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"8b1f919b.8fc67","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"f0b09142.4907e","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"3b378c81.f62bd4","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"e1ee78c.2520188","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"3fd4e416.bb562c","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"4a5910f7.dbbdf","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"b1cdbf88.cf15b","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"66c5793b.3c91c8","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"255693e5.9726fc","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"935c4ba2.0ba528","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"12d62d4a.a68623","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"38d7c773.82eae8","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"c5cb45df.cfaa88","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"350a0b90.f8e4f4","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"a0fb72a0.d38d9","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"d04d168b.a7fdb8","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"b349dc9a.14a38","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"b26e7b8c.2b15a8","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"9709772c.c69788","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"3d51ee31.308e12","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"f6cc1eb9.32d8e","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"996baaa6.531408","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"578b58f1.cefd28","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"d0642e63.68eb6","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"3deec774.c5f578","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"2354659e.9aa01a","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"21557eaa.1a05e2","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"6e57efd8.913f1","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"2848aa39.174f46","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"51ef7447.fcf77c","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"3f18da8e.3f5786","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"79022630.727cf8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"1958f0bf.6b051f","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"30a806a2.b5182a","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"f5afde3c.ce457","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"578e0af3.379ad4","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"e88a1895.6eb098","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"b44fb016.e3abe","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"f215235d.af36","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"2ff29ad4.206276","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"9951801c.8e9b","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"fcee66d3.359fd8","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"57126266.045a2c","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"27467b1a.4d0e04","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"94c265c9.97c6b8","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"f4d1288e.b60e48","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"a77aef8f.2bab","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"fd76715d.bdc8d","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"59750a07.99fec4","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"14a3fd62.2d0453","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"81c82198.bc18","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"3c23ad53.5452c2","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"eea560a6.aebfc","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"d417e20d.4e752","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"ca6e66d.1c4c698","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"64c78579.8912fc","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"7e797c2c.b1dca4","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"7cd098cd.600918","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"da7b9bb1.ca8098","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"ba7a3639.e85208","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"4cc2aca.96a2a54","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"381a322d.087fee","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"18eb87aa.b6b378","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"80eba940.b32dc8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"ca7ce6a5.2e8be8","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"b9ea99e7.41fc58","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"de3dcb5b.78de28","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"d1a64439.ee0818","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"a99fbed7.51aac","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"f9d2f503.dc94b8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"1702d88f.8873a7","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"4e41b141.d5959","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"33203cd5.93d314","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"497af0c9.b171c","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"82cecbf.db09238","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"adeabbd9.cb2348","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"36ea2527.2156ea","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"e9b46ce5.7fcab","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"7cde6147.83afc","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"8003c18e.945e5","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"f7ee7225.7b3c8","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"5500fa46.85e344","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"7aa261b1.1ecf","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"37908431.2c7f8c","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"577b2635.3c4f18","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"82bd43da.80e3d","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"665ea9b8.e20ce8","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"98c2eaf8.aa22f8","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"df5e2c43.a4c2a","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"2211d2cb.f85d3e","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"c83ad46b.226db8","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"4574ab5f.7a3d04","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"f1d580f9.459d7","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"e7d592a7.01f14","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"40d6e8ae.6d0ca8","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"ef120090.33401","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"b6f25e32.b6d14","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"123bae98.a57e21","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"cc1b49.0aa6f4b8","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"cc95b3bc.f7888","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"a93034cb.2ac408","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"a2c9a58f.355658","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"590ae1d.cce462","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"e7452880.519c48","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"6c9ceb1d.259cb4","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"50396db8.719e44","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"7564443e.2568bc","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"8ef6e4ff.d3d518","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"65e1cb3d.804a54","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"533b0771.057f38","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"e2c931a8.4504","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"46d175ee.ff666c","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"ccd69327.3e5da","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"b0df56cb.6718b8","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"61e6063c.7e15e8","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"f585e449.843288","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"ccb3aab1.d351e8","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"d8be2dc3.3840f","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"b10e0c0.6b738f8","type":"ui_group","z":"","name":"Basınç","tab":"","order":5,"disp":true,"width":"8","collapse":false},{"id":"4f3a3391.2f30fc","type":"ui_group","z":"","name":"Buton","tab":"","order":3,"disp":false,"width":"8","collapse":false},{"id":"cd24a92.e4a5258","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"9","collapse":false},{"id":"50da2227.141b7c","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"9","collapse":false},{"id":"69fb6a6c.7c5e24","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"18bc1e44.21d8e2","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"9","collapse":false},{"id":"5d6aca58.fda2d4","type":"ui_group","z":"","name":"Akım","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"53495a2d.ec1034","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"14c10a36.b07976","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"f1b7956c.8e15c8","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"70c4132b.f539cc","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"bb8d2476.4237f8","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"4d441f0c.cd579","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"6","collapse":false},{"id":"6436af26.9ba7a","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"d135f1f0.bd75","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"9","collapse":false},{"id":"a4fd1824.573b68","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"9","collapse":false},{"id":"8704448.d456db8","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"9","collapse":false},{"id":"683edd8c.885454","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"9","collapse":false},{"id":"69c76413.a9d45c","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"b938e15.c8db42","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":false,"width":"8","collapse":false},{"id":"b9119bb6.d16f98","type":"ui_group","z":"","name":"Sıcaklık","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"785887f9.e8d538","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"50c71d06.ad0ea4","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"46e6b8dd.ab8638","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"b58a5347.a270e","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"24c9d3b0.25b97c","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"8ace5e37.905e8","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"1b943e9b.7f31e1","type":"ui_group","z":"","name":"Röle Durumları","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"69d44d5d.449d74","type":"ui_group","z":"","name":"Sensör Verileri","tab":"","order":1,"disp":false,"width":"18","collapse":false},{"id":"ae8367b9.d7d718","type":"ui_group","z":"","name":"Sürücü","tab":"","order":5,"disp":false,"width":"5","collapse":false},{"id":"7b85297a.293b08","type":"ui_group","z":"","name":"Sensör Verileri - 10","tab":"","order":5,"disp":false,"width":"8","collapse":false},{"id":"7afe5b60.75ffa4","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"3000","reconnectTimeout":"2000"},{"id":"d32487a4.ecc5b8","type":"ui_group","z":"","name":"Start - Stop","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"b4a3f0e.8f6821","type":"ui_group","name":"Group 6","tab":"","order":6,"disp":true,"width":6},{"id":"1f5c07f.5de19f8","type":"ui_group","z":"","name":"Değerler","tab":"b43366a8.126de8","order":1,"disp":false,"width":"19","collapse":false},{"id":"766937a3.073d88","type":"modbus-client","z":"","name":"TestRepG_IST","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"5","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"ec332472.f38ab8","type":"ui_group","z":"","name":"Zamanlayıcılar","tab":"b43366a8.126de8","order":5,"disp":false,"width":13,"collapse":false},{"id":"a6270679.548a68","type":"ui_group","z":"","name":"Röleler","tab":"b43366a8.126de8","order":2,"disp":false,"width":4,"collapse":false},{"id":"aa6dabc1.48ec28","type":"ui_group","z":"","name":"Sistem Durum","tab":"b43366a8.126de8","order":3,"disp":false,"width":9,"collapse":false},{"id":"b8de8769.6f7b28","type":"ui_group","z":"","name":"Start -Stop","tab":"b43366a8.126de8","order":4,"disp":false,"width":5,"collapse":false},{"id":"5f0ec29c.1cbfbc","type":"modbus-client","z":"","name":"BQTEK","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"b43366a8.126de8","type":"ui_tab","z":"","name":"ALGORİTMA TEST EKRANI","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3b2aef36.4c66a","type":"ui_tab","z":"","name":"Sıcaklıklar","icon":"dashboard","disabled":false,"hidden":false},{"id":"d0f91511.142e08","type":"ui_group","z":"","name":"Sıcaklıklar","tab":"3b2aef36.4c66a","disp":false,"width":18,"collapse":false},{"id":"fed8c03e.01bcf","type":"ui_tab","z":"","name":"Basınçlar","icon":"dashboard","disabled":false,"hidden":false},{"id":"fb6bbd3a.43b32","type":"ui_group","z":"","name":"Basınçlar","tab":"fed8c03e.01bcf","disp":true,"width":10,"collapse":false},{"id":"b38f604.18dada","type":"ui_spacer","name":"spacer","group":"aa6dabc1.48ec28","order":3,"width":4,"height":1},{"id":"19884bf0.9f5dd4","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"1f5c07f.5de19f8","order":1,"width":3,"height":3,"gtype":"gage","title":"T1","label":"C","format":"{{payload.Temp1}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":20,"wires":[]},{"id":"31073118.4b5c8e","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"ec332472.f38ab8","order":1,"width":4,"height":3,"gtype":"donut","title":"Start5dk","label":"Sn","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1640,"y":260,"wires":[]},{"id":"ca4974cd.3b5868","type":"function","z":"712c83b8.3e653c","name":"","func":"msg.payload = false;\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":320,"wires":[["72930703.82f8d8"]]},{"id":"bfe19b20.645688","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"1f5c07f.5de19f8","order":2,"width":3,"height":3,"gtype":"gage","title":"T3","label":"C","format":"{{payload.Temp3}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":100,"wires":[]},{"id":"5a0bc1c6.dff5","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"1f5c07f.5de19f8","order":4,"width":3,"height":3,"gtype":"gage","title":"P2 Sensör","label":"Bar","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":440,"wires":[]},{"id":"9b7f24c3.a30fa8","type":"ui_text","z":"712c83b8.3e653c","group":"a6270679.548a68","order":1,"width":0,"height":0,"name":"","label":"R1","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":920,"wires":[]},{"id":"184bc4f7.b350ab","type":"function","z":"712c83b8.3e653c","name":"","func":"deger = msg.payload[0];\n\nmsg.payload = deger;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":920,"wires":[["9b7f24c3.a30fa8"]]},{"id":"b87712b1.22fcc","type":"ui_text","z":"712c83b8.3e653c","group":"a6270679.548a68","order":2,"width":0,"height":0,"name":"","label":"R2","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":1000,"wires":[]},{"id":"6589129a.822c8c","type":"function","z":"712c83b8.3e653c","name":"","func":"deger = msg.payload[0];\n\nmsg.payload = deger;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1000,"wires":[["b87712b1.22fcc"]]},{"id":"f8ec3e18.d8453","type":"debug","z":"712c83b8.3e653c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":680,"wires":[]},{"id":"f8a9a4cb.a0e3d8","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"aa6dabc1.48ec28","order":2,"width":5,"height":3,"gtype":"gage","title":"Sürücü","label":"Hz","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":740,"wires":[]},{"id":"e1fd83c3.8e349","type":"debug","z":"712c83b8.3e653c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":600,"wires":[]},{"id":"5d3da289.75d47c","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"1f5c07f.5de19f8","order":6,"width":2,"height":3,"gtype":"gage","title":"P2S","label":"Bar","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":640,"wires":[]},{"id":"f468b1c5.168f8","type":"ui_text","z":"712c83b8.3e653c","group":"aa6dabc1.48ec28","order":1,"width":4,"height":1,"name":"","label":"ÜRETİM DURUM","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":1200,"wires":[]},{"id":"2d367fd.f55b18","type":"function","z":"712c83b8.3e653c","name":"","func":"\nvar uret = msg.payload;\n\nvar uretim = uret[0];\n\nmsg.payload = uretim;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1200,"wires":[["f468b1c5.168f8"]]},{"id":"46373e6.ad598c","type":"ui_text","z":"712c83b8.3e653c","group":"aa6dabc1.48ec28","order":4,"width":4,"height":1,"name":"","label":"ACİL STOP","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":1280,"wires":[]},{"id":"735760ec.5b97f","type":"function","z":"712c83b8.3e653c","name":"","func":"\nvar uret = msg.payload;\n\nvar uretim = uret[0];\n\nmsg.payload = uretim;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1280,"wires":[["46373e6.ad598c"]]},{"id":"bf54cf91.02796","type":"debug","z":"712c83b8.3e653c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":1400,"wires":[]},{"id":"61b2155c.0205fc","type":"debug","z":"712c83b8.3e653c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1630,"y":320,"wires":[]},{"id":"c28fe439.101348","type":"switch","z":"712c83b8.3e653c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":260,"wires":[["25fb6b11.352e74"]]},{"id":"f50ca2ac.6cf82","type":"switch","z":"712c83b8.3e653c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":320,"wires":[["ca4974cd.3b5868"]]},{"id":"12c620d1.12113f","type":"debug","z":"712c83b8.3e653c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":520,"wires":[]},{"id":"5996114f.ea238","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"1f5c07f.5de19f8","order":5,"width":2,"height":3,"gtype":"gage","title":"P2","label":"Bar","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":560,"wires":[]},{"id":"d3af2932.2acaf8","type":"ui_text","z":"712c83b8.3e653c","group":"a6270679.548a68","order":3,"width":0,"height":0,"name":"","label":"R4","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":1080,"wires":[]},{"id":"68264071.26344","type":"function","z":"712c83b8.3e653c","name":"","func":"deger = msg.payload[0];\n\nmsg.payload = deger;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1080,"wires":[["d3af2932.2acaf8"]]},{"id":"81090ed6.41a5a","type":"debug","z":"712c83b8.3e653c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1570,"y":460,"wires":[]},{"id":"52636577.465b5c","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"ec332472.f38ab8","order":2,"width":5,"height":3,"gtype":"donut","title":"Mars5dk","label":"Sn","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1640,"y":580,"wires":[]},{"id":"c35d2620.aaeb18","type":"function","z":"712c83b8.3e653c","name":"","func":"msg.payload = false;\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":700,"wires":[["e36e975e.746ea8"]]},{"id":"8871ea33.1751a8","type":"debug","z":"712c83b8.3e653c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1630,"y":700,"wires":[]},{"id":"1ce6f8b0.773b17","type":"switch","z":"712c83b8.3e653c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":640,"wires":[["3ed658d4.3d6878"]]},{"id":"243c8362.337adc","type":"switch","z":"712c83b8.3e653c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":700,"wires":[["c35d2620.aaeb18"]]},{"id":"50534ff5.b36fc","type":"debug","z":"712c83b8.3e653c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":860,"wires":[]},{"id":"e4252fc8.c78","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"ec332472.f38ab8","order":3,"width":4,"height":3,"gtype":"donut","title":"3DK","label":"Sn","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1750,"y":1080,"wires":[]},{"id":"2894e33a.9d1d1c","type":"function","z":"712c83b8.3e653c","name":"","func":"msg.payload = false;\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":1140,"wires":[["db3b6815.d92268"]]},{"id":"13af15bf.29cf1a","type":"debug","z":"712c83b8.3e653c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":1160,"wires":[]},{"id":"3e96e80c.1b6f38","type":"switch","z":"712c83b8.3e653c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":1080,"wires":[["fa982639.6cf1e8"]]},{"id":"fc7203a2.9b5f","type":"switch","z":"712c83b8.3e653c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":1140,"wires":[["2894e33a.9d1d1c"]]},{"id":"83bb652f.e5ca98","type":"ui_button","z":"712c83b8.3e653c","name":"","group":"b8de8769.6f7b28","order":1,"width":5,"height":3,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":1120,"y":1320,"wires":[["f67f4871.b58d68"]]},{"id":"ef6d3361.55aeb","type":"ui_button","z":"712c83b8.3e653c","name":"","group":"b8de8769.6f7b28","order":2,"width":5,"height":3,"passthru":false,"label":"ACİL STOP","tooltip":"","color":"","bgcolor":"Crimson ","icon":"","payload":"true","payloadType":"bool","topic":"","x":1140,"y":1420,"wires":[["24537bd5.0b9274"]]},{"id":"f6928f34.934bc","type":"debug","z":"712c83b8.3e653c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1600,"y":1260,"wires":[]},{"id":"383ba644.4ff1fa","type":"debug","z":"712c83b8.3e653c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580,"y":1380,"wires":[]},{"id":"f67f4871.b58d68","type":"modbus-write","z":"712c83b8.3e653c","name":"START","showStatusActivities":false,"showErrors":false,"unitid":"5","dataType":"Coil","adr":"96","quantity":"1","server":"766937a3.073d88","x":1310,"y":1320,"wires":[["f6928f34.934bc"],[]]},{"id":"24537bd5.0b9274","type":"modbus-write","z":"712c83b8.3e653c","name":"STOP","showStatusActivities":false,"showErrors":false,"unitid":"5","dataType":"Coil","adr":"114","quantity":"1","server":"766937a3.073d88","x":1300,"y":1420,"wires":[["383ba644.4ff1fa"],[]]},{"id":"7bc47923.7a2948","type":"function","z":"712c83b8.3e653c","name":"Timer Değişkenler","func":"global.set('Start5dk',0);\nglobal.set('Mars5dk',0);\nglobal.set('Dc2dk',0);\nglobal.set('Alarm3dk',0);\nglobal.set('sayac1',0);\nglobal.set('sayac2',0);\nglobal.set('sayac3',0);\nglobal.set('sayac4',0);\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":160,"wires":[[]]},{"id":"d612d01f.14ee8","type":"inject","z":"712c83b8.3e653c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1470,"y":160,"wires":[["7bc47923.7a2948"]]},{"id":"25fb6b11.352e74","type":"function","z":"712c83b8.3e653c","name":"","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":260,"wires":[["72930703.82f8d8"]]},{"id":"72930703.82f8d8","type":"function","z":"712c83b8.3e653c","name":"","func":"var timer1 = msg.payload;\nvar timer5dk1 = global.get('Start5dk');\nvar sayac=global.get('sayac2');\nif (timer1 === true){\n    \n sayac=sayac+ 1;\n\n global.set('Start5dk',sayac);\n    \n    \n}else if(timer1 === false){\n    \n    sayac=0;\n    global.set('Start5dk',sayac);\n}\nglobal.set('sayac2',sayac);\n\nmsg.payload = timer5dk1;\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":280,"wires":[["31073118.4b5c8e","61b2155c.0205fc"]]},{"id":"3ed658d4.3d6878","type":"function","z":"712c83b8.3e653c","name":"","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":640,"wires":[["e36e975e.746ea8"]]},{"id":"e36e975e.746ea8","type":"function","z":"712c83b8.3e653c","name":"","func":"var timer1 = msg.payload;\nvar timer5dk1 = global.get('Mars5dk');\nvar sayac=global.get('sayac1');\nif (timer1 === true){\n    \n sayac=sayac+ 1;\n\n global.set('Mars5dk',sayac);\n    \n    \n}else if(timer1 === false){\n    \n    sayac=0;\n    global.set('Mars5dk',sayac);\n}\nglobal.set('sayac1',sayac);\n\nmsg.payload = timer5dk1;\nreturn msg;\n","outputs":1,"noerr":0,"x":1440,"y":680,"wires":[["52636577.465b5c","8871ea33.1751a8"]]},{"id":"fa982639.6cf1e8","type":"function","z":"712c83b8.3e653c","name":"","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":1060,"wires":[["db3b6815.d92268"]]},{"id":"db3b6815.d92268","type":"function","z":"712c83b8.3e653c","name":"","func":"var timer1 = msg.payload;\nvar timer5dk1 = global.get('Alarm3dk');\nvar sayac=global.get('sayac4');\nif (timer1 === true){\n    \n sayac=sayac+ 1;\n\n global.set('Alarm3dk',sayac);\n    \n    \n}else if(timer1 === false){\n    \n    sayac=0;\n    global.set('Alarm3dk',sayac);\n}\nglobal.set('sayac4',sayac);\n\nmsg.payload = timer5dk1;\nreturn msg;\n","outputs":1,"noerr":0,"x":1570,"y":1100,"wires":[["13af15bf.29cf1a","e4252fc8.c78"]]},{"id":"c18d9f3f.530e4","type":"modbus-read","z":"712c83b8.3e653c","name":"Sürücü","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"HoldingRegister","adr":"121","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":700,"wires":[["f8ec3e18.d8453","f8a9a4cb.a0e3d8","afdfa93d.082078"],[]]},{"id":"8ba0c8ac.3bbe48","type":"modbus-read","z":"712c83b8.3e653c","name":"R1 DURUM","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"Coil","adr":"39","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":940,"wires":[["184bc4f7.b350ab","784f36c0.986498"],[]]},{"id":"bfe821eb.cabe7","type":"modbus-read","z":"712c83b8.3e653c","name":"R2 DURUM","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"Coil","adr":"40","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":1020,"wires":[["6589129a.822c8c","eb42c370.d44f1"],[]]},{"id":"94e49941.c3ef78","type":"modbus-read","z":"712c83b8.3e653c","name":"R4 DURUM","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"Coil","adr":"41","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":1100,"wires":[["68264071.26344","b7a53649.996f48"],[]]},{"id":"acb2850f.cf9d78","type":"modbus-read","z":"712c83b8.3e653c","name":"ÜRETİM","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"Coil","adr":"0","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":180,"y":1220,"wires":[["2d367fd.f55b18"],[]]},{"id":"888e0162.27745","type":"modbus-read","z":"712c83b8.3e653c","name":"ACİL STOP DURUM","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"Coil","adr":"113","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":1300,"wires":[["735760ec.5b97f","bf54cf91.02796"],[]]},{"id":"db566bfe.faa4e8","type":"modbus-read","z":"712c83b8.3e653c","name":"StartTimer5dk","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"HoldingRegister","adr":"122","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":1010,"y":100,"wires":[["c28fe439.101348","f50ca2ac.6cf82"],[]]},{"id":"bd2163de.351fd","type":"modbus-read","z":"712c83b8.3e653c","name":"StartTimer5dkMars","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"HoldingRegister","adr":"115","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":1110,"y":440,"wires":[["1ce6f8b0.773b17","243c8362.337adc","81090ed6.41a5a"],[]]},{"id":"6520a6f8.c7fb78","type":"modbus-read","z":"712c83b8.3e653c","name":"3dk","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"HoldingRegister","adr":"183","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":1010,"y":880,"wires":[["3e96e80c.1b6f38","fc7203a2.9b5f","50534ff5.b36fc"],[]]},{"id":"8101f3f3.12d0e","type":"modbus-read","z":"712c83b8.3e653c","name":"P2","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"HoldingRegister","adr":"120","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":540,"wires":[["12c620d1.12113f","5996114f.ea238"],[]]},{"id":"b41664ed.d64a38","type":"modbus-read","z":"712c83b8.3e653c","name":"P2S","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"HoldingRegister","adr":"181","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":620,"wires":[["e1fd83c3.8e349","5d3da289.75d47c"],[]]},{"id":"f66c0910.3805c8","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"d0f91511.142e08","order":2,"width":6,"height":4,"gtype":"gage","title":"T2","label":"units","format":"{{payload.Temp2}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":60,"wires":[]},{"id":"75053c4e.74ba74","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"d0f91511.142e08","order":5,"width":6,"height":4,"gtype":"gage","title":"T4","label":"C","format":"{{payload.Temp4}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":220,"wires":[]},{"id":"1576a30d.2b7f1d","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"1f5c07f.5de19f8","order":3,"width":3,"height":3,"gtype":"gage","title":"T5","label":"C","format":"{{payload.Temp5}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":260,"wires":[]},{"id":"5d85dedb.dcc16","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"d0f91511.142e08","order":6,"width":6,"height":4,"gtype":"gage","title":"T6","label":"C","format":"{{payload.Temp6}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":300,"wires":[]},{"id":"310dafce.2ff51","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"d0f91511.142e08","order":1,"width":6,"height":4,"gtype":"gage","title":"T1","label":"C","format":"{{payload.Temp1}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":20,"wires":[]},{"id":"6c3c5d24.820544","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"d0f91511.142e08","order":3,"width":6,"height":4,"gtype":"gage","title":"T3","label":"C","format":"{{payload.Temp3}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":100,"wires":[]},{"id":"e3c70d51.5fdd9","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"d0f91511.142e08","order":4,"width":6,"height":4,"gtype":"gage","title":"T5","label":"C","format":"{{payload.Temp5}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":260,"wires":[]},{"id":"a6e56af0.b29328","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"fb6bbd3a.43b32","order":1,"width":5,"height":5,"gtype":"gage","title":"P1","label":"Bar","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"11","x":850,"y":400,"wires":[]},{"id":"5e4bc9ca.2916f8","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"fb6bbd3a.43b32","order":2,"width":5,"height":5,"gtype":"gage","title":"P2 Sensör","label":"Bar","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":480,"wires":[]},{"id":"483b14f5.7851ec","type":"function","z":"712c83b8.3e653c","name":"Temperature Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Temp1\" :   msg.payload[0] /   10,\n        \"Temp2\"\t:   msg.payload[2]  /   10,\n        \"Temp3\"\t:   msg.payload[4]  /   10,\n        \"Temp4\"\t:   msg.payload[6]  /   10,\n        \"Temp5\"\t:   msg.payload[17]  /   10,\n        \"Temp6\"\t:   msg.payload[19]  /   10\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["d5948da7.9110c","19884bf0.9f5dd4","f66c0910.3805c8","bfe19b20.645688","75053c4e.74ba74","1576a30d.2b7f1d","5d85dedb.dcc16","310dafce.2ff51","6c3c5d24.820544","e3c70d51.5fdd9"]]},{"id":"d5948da7.9110c","type":"function","z":"712c83b8.3e653c","name":"Set Data To Azure_Global ","func":"var data = global.get('azure_data');\n\ndata[\"T1\"]    =  msg.payload[\"Temp1\"];\ndata[\"T2\"]    =  msg.payload[\"Temp2\"];\ndata[\"T3\"]    =  msg.payload[\"Temp3\"];\ndata[\"T4\"]    =  msg.payload[\"Temp4\"];\ndata[\"T5\"]    =  msg.payload[\"Temp5\"];\ndata[\"T6\"]    =  msg.payload[\"Temp6\"];\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[[]]},{"id":"5744f93e.dce508","type":"modbus-read","z":"712c83b8.3e653c","name":"Temperature","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"HoldingRegister","adr":"128","quantity":"20","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":160,"wires":[["6da1b2b1.e8a12c","483b14f5.7851ec"],[]]},{"id":"6da1b2b1.e8a12c","type":"debug","z":"712c83b8.3e653c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":80,"wires":[]},{"id":"e2a65a68.ab63e8","type":"inject","z":"712c83b8.3e653c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":820,"wires":[["80869f25.6f31b"]]},{"id":"80869f25.6f31b","type":"function","z":"712c83b8.3e653c","name":"Create Global Variable To Hold Azure Data","func":"var data = {\n    \"V1\"        :undefined,\n    \"V2\"        :undefined,\n    \"V3\"        :undefined,\n    \"C1\"        :undefined,\n    \"C2\"        :undefined,\n    \"C3\"        :undefined,\n    \"WT\"        :undefined,\n    \"T1\"        :undefined,\n    \"T2\"        :undefined,\n    \"T3\"        :undefined,\n    \"T4\"        :undefined,\n    \"T5\"        :undefined,\n    \"T6\"        :undefined,\n    \"P1\"        :undefined,\n    \"P2\"        :undefined,\n    \"Hz\"        :undefined,\n    \"WE\"        :undefined,\n    \"R1\"        :undefined,\n    \"R2\"        :undefined,\n    \"R4\"        :undefined\n    }\nglobal.set('azure_data', data)\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":820,"wires":[[]]},{"id":"af85e19b.9aa5e","type":"debug","z":"712c83b8.3e653c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":860,"wires":[]},{"id":"e7065990.235aa8","type":"inject","z":"712c83b8.3e653c","name":"","topic":"","payload":"azure_data","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":860,"wires":[["af85e19b.9aa5e"]]},{"id":"27383c0a.8f6b04","type":"inject","z":"712c83b8.3e653c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":930,"y":220,"wires":[["8ca19504.c5d668"]]},{"id":"8ca19504.c5d668","type":"function","z":"712c83b8.3e653c","name":"","func":"global.set(\"T1\",50);\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":40,"wires":[[]]},{"id":"8ebba06a.baa24","type":"function","z":"712c83b8.3e653c","name":"Pressure Sensor","func":"\nmsg = {\n    \"payload\" : {\n        \"Pres1\" :   msg.payload[0],\n        \"Pres2\"\t:   msg.payload[2]\n        \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[["2cabb1f4.0f80fe","efb78bb8.36a618"]]},{"id":"d915bec4.92d87","type":"modbus-read","z":"712c83b8.3e653c","name":"Pres","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"5","dataType":"HoldingRegister","adr":"158","quantity":"4","rate":"4","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"766937a3.073d88","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":400,"wires":[["8ebba06a.baa24"],[]]},{"id":"2cabb1f4.0f80fe","type":"range","z":"712c83b8.3e653c","minin":"0","maxin":"64000","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.Pres1","name":"","x":530,"y":360,"wires":[["92ef7c28.e0785"]]},{"id":"efb78bb8.36a618","type":"range","z":"712c83b8.3e653c","minin":"0","maxin":"64000","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload.Pres2","name":"","x":530,"y":440,"wires":[["5a4c0eec.7c81c"]]},{"id":"92ef7c28.e0785","type":"function","z":"712c83b8.3e653c","name":"","func":"var data = parseFloat( (msg.payload.Pres1).toFixed(2));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P1\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":360,"wires":[["52e3b1f2.69008","a6e56af0.b29328"]]},{"id":"5a4c0eec.7c81c","type":"function","z":"712c83b8.3e653c","name":"","func":"var data = parseFloat( (msg.payload.Pres2).toFixed(2));\nmsg.payload = Number(data)\n\nvar data1 = global.get('azure_data');\ndata1[\"P2\"]    =  data;\nglobal.set('azure_data', data1);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":440,"wires":[["5a0bc1c6.dff5","5e4bc9ca.2916f8"]]},{"id":"52e3b1f2.69008","type":"ui_gauge","z":"712c83b8.3e653c","name":"","group":"1f5c07f.5de19f8","order":7,"width":3,"height":3,"gtype":"gage","title":"P1","label":"Bar","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":360,"wires":[]},{"id":"784f36c0.986498","type":"function","z":"712c83b8.3e653c","name":"","func":"var glb = global.get(\"azure_data\");\n\nglb[ \"R1\" ] =  msg.payload[0];\n\n \n\nglobal.set('azure_data', glb);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":960,"wires":[[]]},{"id":"eb42c370.d44f1","type":"function","z":"712c83b8.3e653c","name":"","func":"var glb = global.get(\"azure_data\");\n\nglb[ \"R2\" ] =  msg.payload[0];\n\n \n\nglobal.set('azure_data', glb);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1040,"wires":[[]]},{"id":"b7a53649.996f48","type":"function","z":"712c83b8.3e653c","name":"","func":"var glb = global.get(\"azure_data\");\n\nglb[ \"R4\" ] =  msg.payload[0];\n\n \n\nglobal.set('azure_data', glb);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1120,"wires":[[]]},{"id":"afdfa93d.082078","type":"function","z":"712c83b8.3e653c","name":"","func":"var glb = global.get(\"azure_data\");\n\nglb[ \"Hz\" ] =  msg.payload[0];\n\n \n\nglobal.set('azure_data', glb);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":760,"wires":[[]]},{"id":"9f746105.c5de1","type":"comment","z":"ea346b60.b4dd18","name":"PLC","info":"","x":150,"y":60,"wires":[]},{"id":"154c1fc9.eb2f1","type":"inject","z":"ea346b60.b4dd18","name":"1 Minute","topic":"","payload":"","payloadType":"date","repeat":"59","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":220,"wires":[["69a517e3.971bc8"]]},{"id":"f7e7191.5342ce8","type":"azureiothub","z":"ea346b60.b4dd18","name":"Azure IoT Hub","protocol":"amqp","x":700,"y":320,"wires":[["48c30215.9da1bc"]]},{"id":"4dce60b0.aa397","type":"debug","z":"ea346b60.b4dd18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":220,"wires":[]},{"id":"48c30215.9da1bc","type":"debug","z":"ea346b60.b4dd18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":320,"wires":[]},{"id":"66b3a07.c64916","type":"inject","z":"ea346b60.b4dd18","name":"1 Hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":420,"wires":[["b692da83.3cdb78"]]},{"id":"9e4e01a2.2defc","type":"debug","z":"ea346b60.b4dd18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":420,"wires":[]},{"id":"69a517e3.971bc8","type":"function","z":"ea346b60.b4dd18","name":"Changing Payload Format","func":"let exclude = [\"V1\",\"V2\",\"V3\",\"C1\",\"C2\",\"C3\",\"WT\",\"WE\"]\n\nlet data = global.get( \"azure_data\" );\n\nlet res =   {\n  \"deviceId\": \"RPG-SN-Pilot-3\",\n  \"key\": \"z0XTqYbkkzKOZuX/C5VHYxpfyuuJJfjfDETTdJa+XFk=\",\n  \"protocol\": \"amqp\",\n  \"data\": {\n    \"Version\": \"1.0\",\n    \"SourceType\": \"INTEGRATED\",\n    \"Source\": \"REPG\",\n    \"UniqueId\": \"\",\n    \"Data\": {\n      \"Messages\": []\n    }\n  }\n}\n\n\nfor( let i of Object.entries( data ) ) {\n    \n    if( !exclude.includes(  i[0] )   &&  i[1] !== undefined ) {    \n   \n\n\n\n      res.data.Data.Messages.push(   {\n                          \"Timestamp\": new Date(),\n                          \"Parameters\": [\n                                {\n                                  \"Key\": i[0],\n                                  \"Value\": String( i[1] )\n                                }\n                                        ]\n                                  }\n                        \n                            )\n  \n    \n    } // end of if  \n   \n    \n} // end of loop\n\n\n\n\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["4dce60b0.aa397","f7e7191.5342ce8"]]},{"id":"b692da83.3cdb78","type":"function","z":"ea346b60.b4dd18","name":"Changing Payload Format","func":"let exclude = [\"T1\",\"T2\",\"T3\",\"T4\",\"T5\",\"T6\",\"P1\",\"P2\",\"R1\",\"R2\",\"R4\",\"Hz\", \"P3\", \"P4\"];\nlet data = global.get( \"azure_data\" );\n\nlet res =   {\n  \"deviceId\": \"RPG-SN-Pilot-3\",\n  \"key\": \"z0XTqYbkkzKOZuX/C5VHYxpfyuuJJfjfDETTdJa+XFk=\",\n  \"protocol\": \"amqp\",\n  \"data\": {\n    \"Version\": \"1.0\",\n    \"SourceType\": \"INTEGRATED\",\n    \"Source\": \"REPG\",\n    \"UniqueId\": \"\",\n    \"Data\": {\n      \"Messages\": []\n    }\n  }\n}\n\n\nfor( let i of Object.entries( data ) ) {\n    \n    if( !exclude.includes(  i[0] )   &&  i[1] !== undefined ) {    \n   \n\n\n\n      res.data.Data.Messages.push(   {\n                          \"Timestamp\": new Date(),\n                          \"Parameters\": [\n                                {\n                                  \"Key\": i[0],\n                                  \"Value\": String( i[1] )\n                                }\n                                        ]\n                                  }\n                        \n                            )\n  \n    \n    } // end of if  \n   \n    \n} // end of loop\n\n\n\n\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["f7e7191.5342ce8","9e4e01a2.2defc"]]},{"id":"71b8960f.bc2ab8","type":"comment","z":"ea346b60.b4dd18","name":"26.12.2019","info":"","x":1100,"y":100,"wires":[]}]