test.txt
[{"id":"7d119d11.e5dd24","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eb465518.67a4c8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a961a29e.6b2dd","type":"ui_group","z":"","name":"Sürücü","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"231b2545.f8677a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"31e1a512.60474a","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"36f43fa7.cacf4","type":"ui_group","z":"","name":"Motor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"c2964a68.bd3ab8","type":"ui_group","z":"","name":"Motor Hýz","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bda023a.85928c","type":"ui_group","z":"","name":"Motor Hýz","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"8e9d6de2.8244a","type":"ui_group","z":"","name":"Akým","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"4e9fa3a6.ff73fc","type":"ui_group","z":"","name":"Buton-1","tab":"","order":3,"disp":false,"width":"7","collapse":false},{"id":"4ef4e2d6.1fd34c","type":"ui_group","z":"","name":"Gerilim","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a425c700.75db38","type":"ui_group","z":"","name":"Buton-2","tab":"","order":4,"disp":false,"width":"7","collapse":false},{"id":"77b29dc.4d77664","type":"ui_group","z":"","name":"Buton-3","tab":"","order":5,"disp":false,"width":"7","collapse":false},{"id":"d9b77ef5.f9cb8","type":"ui_group","z":"","name":"Buton-4","tab":"","order":6,"disp":false,"width":"7","collapse":false},{"id":"b7f6f0d2.bd9a6","type":"ui_group","z":"","name":"Buton-5","tab":"","order":7,"disp":false,"width":"7","collapse":false},{"id":"2c95e20f.c90dae","type":"ui_group","z":"","name":"Buton-6","tab":"","order":8,"disp":false,"width":"7","collapse":false},{"id":"aca8f4f.6abed08","type":"ui_group","z":"","name":"T1","tab":"","order":1,"disp":false,"width":"4","collapse":false},{"id":"eaa1e19a.129e","type":"ui_group","z":"","name":"T2","tab":"","order":2,"disp":false,"width":"4","collapse":false},{"id":"20878f82.b89b2","type":"ui_group","z":"","name":"T3","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"8537749e.9dc7b8","type":"ui_group","z":"","name":"T4","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"a157900a.2d1c4","type":"ui_group","z":"","name":"P1","tab":"","order":1,"disp":true,"width":"7","collapse":false},{"id":"a25fe10c.dbcf2","type":"ui_group","z":"","name":"P2","tab":"","order":2,"disp":true,"width":"7","collapse":false},{"id":"52f608a4.a9fa08","type":"ui_group","z":"","name":"P3","tab":"","order":3,"disp":true,"width":"7","collapse":false},{"id":"b737448f.867378","type":"ui_group","z":"","name":"P4","tab":"","order":4,"disp":true,"width":"7","collapse":false},{"id":"5a90c37f.496a6c","type":"ui_group","z":"","name":"Buton-7","tab":"","disp":false,"width":"7","collapse":false},{"id":"a78ecc94.aaec7","type":"ui_group","z":"","name":"Buton-8","tab":"","disp":false,"width":"7","collapse":false},{"id":"8ccfbec.9c4844","type":"ui_group","z":"","name":"Güç","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"628a7f9c.2db4","type":"ui_group","z":"","name":"RePG","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"bf8ff9ab.d301c8","type":"ui_group","z":"","name":"T5","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"7809674a.a11638","type":"ui_group","z":"","name":"T6","tab":"","order":6,"disp":false,"width":"4","collapse":false},{"id":"51dcf70b.79a0e8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"15c45436.a89f2c","type":"ui_group","z":"","name":"Group 1","tab":"51dcf70b.79a0e8","order":1,"disp":true,"width":"16","collapse":false},{"id":"798d014d.c8fe4","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["6245bab.f74d544"]]},{"id":"e95ca223.9e54e","type":"function","z":"7d119d11.e5dd24","name":"temp>70","func":"var temp =global.get(\"temp\")\nif (temp > 70) {\n    msg.payload = true\n    global.set(\"refresh\",false)\n    global.set(\"start\",false)\n    return msg;\n}\n\nelse {\n    //global.set(\"refresh\",true)\n}\n","outputs":1,"noerr":0,"x":440,"y":80,"wires":[["c6518cc3.95859","c1a6f11b.d9f15","2445de9a.f8db52"]]},{"id":"ee2efa28.7b6108","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["6245bab.f74d544"]]},{"id":"3b99fd8.ee4d102","type":"rpi-gpio out","z":"7d119d11.e5dd24","name":"R1","pin":"29","set":"","level":"0","freq":"","out":"out","x":750,"y":160,"wires":[]},{"id":"c6518cc3.95859","type":"rpi-gpio out","z":"7d119d11.e5dd24","name":"R4","pin":"31","set":"","level":"0","freq":"","out":"out","x":750,"y":80,"wires":[]},{"id":"c1a6f11b.d9f15","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":160,"wires":[["bb585f64.8df8b"]]},{"id":"bb585f64.8df8b","type":"delay","z":"7d119d11.e5dd24","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":160,"wires":[["3b99fd8.ee4d102","eb818a74.f1b628","8b7d81aa.f524d"]]},{"id":"a67a527f.4df76","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":480,"wires":[["5905a134.74a3d"]]},{"id":"6245bab.f74d544","type":"function","z":"7d119d11.e5dd24","name":"temp set","func":"global.set(\"temp\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":280,"wires":[[]]},{"id":"5905a134.74a3d","type":"function","z":"7d119d11.e5dd24","name":"Global set \"0\"","func":"global.set(\"temp\", 0);\nglobal.set(\"driver\", 0);\nglobal.set(\"drv\",false);\nglobal.set(\"rly\",false);\nglobal.set(\"flow\",false);\nglobal.set(\"check\",false);\nglobal.set(\"refresh\",false);\nglobal.set(\"rl1\",true);\nglobal.set(\"rl4\",true)\nglobal.set(\"start\",true)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":480,"wires":[[]]},{"id":"a7f18b6e.ee5238","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"temp","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":600,"wires":[["1e3c12f0.e13b0d"]]},{"id":"e30e991e.b5e868","type":"function","z":"7d119d11.e5dd24","name":"","func":"var data = msg.payload;\n\nif ( data === true) {\n    msg.payload = true\n    return msg;\n}\n\nelse {\n    msg.payload = false\n    return msg;\n}","outputs":1,"noerr":0,"x":890,"y":220,"wires":[["4e4242d.cf3a1bc"]]},{"id":"16e2bc0b.fda2d4","type":"comment","z":"7d119d11.e5dd24","name":"Start","info":"","x":290,"y":40,"wires":[]},{"id":"5823d557.f4cf3c","type":"function","z":"7d119d11.e5dd24","name":"65<T1<80","func":"var data = global.get(\"temp\")\nif (data>65 && data<80) {\n    msg.payload = 15\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["46191a6a.6226e4"]]},{"id":"b978d7a3.2a4e08","type":"function","z":"7d119d11.e5dd24","name":"80<T1<90","func":"var data = global.get(\"temp\")\nif (data>80 && data<90) {\n    msg.payload = 17\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":480,"wires":[["46191a6a.6226e4"]]},{"id":"62bd2115.684c6","type":"function","z":"7d119d11.e5dd24","name":"90<T1<100","func":"var data = global.get(\"temp\")\nif (data>90 && data<100) {\n    msg.payload = 20\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":520,"wires":[["46191a6a.6226e4"]]},{"id":"79c7d6ac.af6968","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"85","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":360,"wires":[["6245bab.f74d544"]]},{"id":"7dc39843.0162c8","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"driver","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":660,"wires":[["21408ea0.580ab2"]]},{"id":"db2c273a.a6fab8","type":"function","z":"7d119d11.e5dd24","name":"100<T1    -   T1<65","func":"var data = global.get(\"temp\")\nif (data>100 || data<65) {\n    global.set(\"driver\",0)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":680,"y":560,"wires":[["a52728d9.79a588"]]},{"id":"a52728d9.79a588","type":"function","z":"7d119d11.e5dd24","name":"","func":"if (msg.payload ===true){\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":650,"y":600,"wires":[["73a85ced.2c4654","c2c1d37e.81188"]]},{"id":"73a85ced.2c4654","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":720,"wires":[["86e3f37.44c391"]]},{"id":"86e3f37.44c391","type":"delay","z":"7d119d11.e5dd24","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":720,"wires":[["dbfab899.416b38"]]},{"id":"9d79aa68.2b25f8","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"drv","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["1378afcc.34f1d"]]},{"id":"46191a6a.6226e4","type":"function","z":"7d119d11.e5dd24","name":"","func":"var data = msg.payload ;\nif (data > 14) {\n    global.set(\"drv\",true)\n    msg.payload = true\n    return msg;\n}\nelse {\n    global.set(\"drv\",false)\n    msg.payload = false\n    return msg;\n}\n","outputs":1,"noerr":0,"x":870,"y":480,"wires":[["607e157b.63264c"]]},{"id":"5446cd76.3e7b34","type":"link in","z":"7d119d11.e5dd24","name":"","links":["c2c1d37e.81188"],"x":595,"y":120,"wires":[["c6518cc3.95859","3b99fd8.ee4d102","2445de9a.f8db52","8b7d81aa.f524d"]]},{"id":"c2c1d37e.81188","type":"link out","z":"7d119d11.e5dd24","name":"","links":["5446cd76.3e7b34"],"x":775,"y":600,"wires":[]},{"id":"ef2b13cb.09482","type":"function","z":"7d119d11.e5dd24","name":"65<T1<100","func":"var temp = global.get(\"temp\")\nif (65<temp && temp<100) {\n    msg.payload = false\n    global.set(\"flow\",true)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1030,"y":420,"wires":[["826ff3e5.970b"]]},{"id":"1378afcc.34f1d","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":80,"wires":[["e95ca223.9e54e"]]},{"id":"eb818a74.f1b628","type":"delay","z":"7d119d11.e5dd24","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":220,"wires":[["e30e991e.b5e868"]]},{"id":"2375f8f0.009a28","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"95","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["6245bab.f74d544"]]},{"id":"478bda0f.603f84","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["6245bab.f74d544"]]},{"id":"607e157b.63264c","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":480,"wires":[["ef2b13cb.09482","aafe07c4.53d238"]]},{"id":"c6375d82.18795","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"start","payloadType":"global","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["b26d2f63.2955c"]]},{"id":"35454cb3.7f8384","type":"function","z":"eb465518.67a4c8","name":"65<T1<79","func":"var data = global.get(\"temp\")\nif (data>65 && data<79) {\n    msg.payload = 15\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["eb895727.d7a8d8"]]},{"id":"8cc55a77.540358","type":"function","z":"eb465518.67a4c8","name":"79<T1<91","func":"var data = global.get(\"temp\")\nif (data>79 && data<91) {\n    msg.payload = 17\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["eb895727.d7a8d8"]]},{"id":"fc3b288b.7a8a28","type":"function","z":"eb465518.67a4c8","name":"91<T1<100","func":"var data = global.get(\"temp\")\nif (data>91 && data<100) {\n    msg.payload = 20\n    global.set(\"driver\",msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["eb895727.d7a8d8"]]},{"id":"c7e8f573.ec4df8","type":"delay","z":"7d119d11.e5dd24","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":480,"wires":[["a0645dd4.009bd"]]},{"id":"826ff3e5.970b","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1190,"y":420,"wires":[["c7e8f573.ec4df8"]]},{"id":"a0645dd4.009bd","type":"link out","z":"7d119d11.e5dd24","name":"","links":["d8119083.6fce2"],"x":1335,"y":420,"wires":[]},{"id":"d8119083.6fce2","type":"link in","z":"7d119d11.e5dd24","name":"","links":["a0645dd4.009bd"],"x":595,"y":40,"wires":[["c6518cc3.95859","2445de9a.f8db52"]]},{"id":"2da03972.769f66","type":"switch","z":"eb465518.67a4c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":180,"wires":[["35454cb3.7f8384","8cc55a77.540358","fc3b288b.7a8a28","e7ebe8c6.f2dce8"]]},{"id":"7cb3bbcb.b92804","type":"comment","z":"eb465518.67a4c8","name":"Üretim","info":"","x":150,"y":60,"wires":[]},{"id":"2087ad06.613962","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"drv","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":720,"wires":[[]]},{"id":"4e4242d.cf3a1bc","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":300,"wires":[["5823d557.f4cf3c","b978d7a3.2a4e08","62bd2115.684c6","db2c273a.a6fab8"]]},{"id":"2439f60c.6c077a","type":"inject","z":"eb465518.67a4c8","name":"","topic":"","payload":"flow","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["2da03972.769f66"]]},{"id":"eb895727.d7a8d8","type":"debug","z":"eb465518.67a4c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":140,"wires":[]},{"id":"d916d070.c047b","type":"function","z":"7d119d11.e5dd24","name":"100<T1    -   T1<65","func":"var temp = global.get(\"temp\")\nif (100<temp || temp<65) {\n    msg.payload = false\n    global.set(\"flow\",false)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1100,"y":720,"wires":[["1cf7589b.8bb717"]]},{"id":"1cf7589b.8bb717","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":720,"wires":[[]]},{"id":"7c4ce4f.d32231c","type":"debug","z":"7d119d11.e5dd24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":800,"wires":[]},{"id":"dbfab899.416b38","type":"function","z":"7d119d11.e5dd24","name":"","func":"if (msg.payload === false) {\n    global.set(\"refresh\",true)\n    global.set(\"rly\",false)\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":720,"wires":[[]]},{"id":"4bc0026d.e942bc","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"refresh","payloadType":"global","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["3ca2a3b.f66ef5c"]]},{"id":"3ca2a3b.f66ef5c","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":240,"wires":[["e95ca223.9e54e","ccb11ba7.825458"]]},{"id":"ccb11ba7.825458","type":"function","z":"7d119d11.e5dd24","name":"","func":"//global.set(\"rly\",false)\n//global.set(\"flow\",false)","outputs":1,"noerr":0,"x":430,"y":240,"wires":[[]]},{"id":"e7ebe8c6.f2dce8","type":"function","z":"eb465518.67a4c8","name":"100<T1    -   T1<65","func":"var data = global.get(\"temp\")\nif (data>100 || data<65) {\n    global.set(\"driver\",0)\n    global.set(\"rly\",true)\n    global.set(\"flow\",false)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["5cb6ebb1.f0a484"]]},{"id":"db2c3491.997968","type":"ui_text","z":"7d119d11.e5dd24","group":"15c45436.a89f2c","order":1,"width":"4","height":"4","name":"","label":"R4","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":60,"wires":[]},{"id":"5e5e4e4.30759b","type":"ui_text","z":"7d119d11.e5dd24","group":"15c45436.a89f2c","order":2,"width":"4","height":"4","name":"","label":"R1","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":140,"wires":[]},{"id":"1e3c12f0.e13b0d","type":"ui_gauge","z":"7d119d11.e5dd24","name":"","group":"15c45436.a89f2c","order":0,"width":"4","height":"4","gtype":"gage","title":"Sýcaklýk","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":580,"wires":[]},{"id":"918d0c64.36a08","type":"ui_slider","z":"7d119d11.e5dd24","name":"","label":"slider","tooltip":"","group":"15c45436.a89f2c","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"120","step":1,"x":120,"y":540,"wires":[["6245bab.f74d544"]]},{"id":"2445de9a.f8db52","type":"function","z":"7d119d11.e5dd24","name":"","func":"if (msg.payload===true) {\n    msg.payload= \"Açýk\"\n    return msg;\n}\nelse if (msg.payload === false) {\n    msg.payload = \"Kapalý\"\n    return msg;\n}","outputs":1,"noerr":0,"x":990,"y":20,"wires":[["db2c3491.997968"]]},{"id":"8b7d81aa.f524d","type":"function","z":"7d119d11.e5dd24","name":"","func":"if (msg.payload===true) {\n    msg.payload= \"Açýk\"\n    return msg;\n}\nelse if (msg.payload === false) {\n    msg.payload = \"Kapalý\"\n    return msg;\n}","outputs":1,"noerr":0,"x":970,"y":100,"wires":[["5e5e4e4.30759b"]]},{"id":"21408ea0.580ab2","type":"ui_gauge","z":"7d119d11.e5dd24","name":"","group":"15c45436.a89f2c","order":4,"width":"4","height":"4","gtype":"gage","title":"Sürücü","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":700,"wires":[]},{"id":"22d9dda.dcf9122","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":570,"y":240,"wires":[["c6518cc3.95859","2445de9a.f8db52","3b99fd8.ee4d102","8b7d81aa.f524d"]]},{"id":"4a00a960.6c7d78","type":"inject","z":"7d119d11.e5dd24","name":"","topic":"","payload":"rly","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":800,"wires":[["c5366f25.6c172"]]},{"id":"c5366f25.6c172","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":800,"wires":[["db2c273a.a6fab8"]]},{"id":"5cb6ebb1.f0a484","type":"debug","z":"eb465518.67a4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":240,"wires":[]},{"id":"482691f5.d6f55","type":"function","z":"eb465518.67a4c8","name":"","func":"var data = msg.payload.value\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":400,"wires":[[]]},{"id":"aafe07c4.53d238","type":"function","z":"7d119d11.e5dd24","name":"100<T1    -   T1<65","func":"var data = global.get(\"temp\")\nif (data>100 || data<65) {\n    global.set(\"driver\",0)\n    msg.payload = true\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1140,"y":620,"wires":[["be4ddb0a.fd3d38"]]},{"id":"be4ddb0a.fd3d38","type":"link out","z":"7d119d11.e5dd24","name":"","links":["ac45a46.ab38a58"],"x":1275,"y":620,"wires":[]},{"id":"ac45a46.ab38a58","type":"link in","z":"7d119d11.e5dd24","name":"","links":["be4ddb0a.fd3d38"],"x":515,"y":600,"wires":[["a52728d9.79a588"]]},{"id":"7f2fb83b.fe2458","type":"inject","z":"eb465518.67a4c8","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":480,"wires":[["54f7537e.5d472c"]]},{"id":"7e146f3e.17e8f","type":"inject","z":"eb465518.67a4c8","name":"","topic":"","payload":"75","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":440,"wires":[["54f7537e.5d472c"]]},{"id":"fd942ff9.625cc","type":"inject","z":"eb465518.67a4c8","name":"","topic":"","payload":"85","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":400,"wires":[["54f7537e.5d472c"]]},{"id":"f01b0ce7.4600a","type":"inject","z":"eb465518.67a4c8","name":"","topic":"","payload":"95","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":360,"wires":[["54f7537e.5d472c"]]},{"id":"5e19c8a7.cfc0b8","type":"inject","z":"eb465518.67a4c8","name":"","topic":"","payload":"105","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":320,"wires":[["54f7537e.5d472c"]]},{"id":"54f7537e.5d472c","type":"function","z":"eb465518.67a4c8","name":"temp set","func":"global.set(\"temp\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":400,"wires":[[]]},{"id":"27b39ff7.240e2","type":"inject","z":"eb465518.67a4c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":680,"wires":[["72896b39.fcb794"]]},{"id":"72896b39.fcb794","type":"function","z":"eb465518.67a4c8","name":"","func":"\nlet obj = {};\n\n    \n    obj[\"rly\"] = global.get( \"rly\" )\n    obj[\"flow\"] = global.get( \"flow\" )\n    obj[\"temp\"] = global.get( \"temp\" )\n    obj[\"driver\"] = global.get( \"driver\" )\n    obj[\"refresh\"] = global.get( \"refresh\" )\n    obj[\"start\"] = global.get( \"start\" )\n\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":680,"wires":[["572616f1.5aef48","a2e868ae.57c048"]]},{"id":"572616f1.5aef48","type":"debug","z":"eb465518.67a4c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":680,"wires":[]},{"id":"a2e868ae.57c048","type":"ui_template","z":"eb465518.67a4c8","group":"15c45436.a89f2c","name":"","order":5,"width":0,"height":0,"format":"\n{{msg.payload}}\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":640,"wires":[[]]},{"id":"b26d2f63.2955c","type":"switch","z":"7d119d11.e5dd24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":200,"wires":[["b82c6089.d1035"]]},{"id":"b82c6089.d1035","type":"delay","z":"7d119d11.e5dd24","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":160,"wires":[["e95ca223.9e54e"]]}]