RePG-11_15042020/Flows/2.txt
[{"id":"11aca5cd.a78faa","type":"modbus-getter","z":"903a78f0.b50858","name":"Başlangıç Koşulları Okuma","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"5","dataType":"HoldingRegister","adr":"159","quantity":"4","server":"baa950a9.8ec34","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":900,"y":240,"wires":[["5beb1853.bddd58","dafcaea4.e9f3e","c83220b2.2ecda","61a714e7.71802c"],[]]},{"id":"67c6eec5.e76f8","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"T1>","tooltip":"","group":"149be176.4d8a1f","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":190,"y":140,"wires":[["db37c9f9.d719f8"]]},{"id":"db37c9f9.d719f8","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"T1\",msg.payload);\n\nmsg.payload=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[[]]},{"id":"260daf36.d39ed","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"T3<","tooltip":"","group":"149be176.4d8a1f","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":210,"y":200,"wires":[["68a0852b.cc9a5c"]]},{"id":"68a0852b.cc9a5c","type":"function","z":"903a78f0.b50858","name":"","func":"var data1 = msg.payload;\n\nglobal.set(\"T3\",msg.payload);\n\nmsg.payload=data1;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[[]]},{"id":"632e825b.a3ef8c","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"P1<","tooltip":"","group":"149be176.4d8a1f","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":210,"y":280,"wires":[["bb922b60.7cc168"]]},{"id":"bb922b60.7cc168","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"P1\",msg.payload);\n\nmsg.payload=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":280,"wires":[[]]},{"id":"df1d740f.644508","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"P2<","tooltip":"","group":"149be176.4d8a1f","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":210,"y":340,"wires":[["f3f1cd8.51a473"]]},{"id":"f3f1cd8.51a473","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"P2\",msg.payload);\n\nmsg.payload=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[[]]},{"id":"63ee5168.34b5","type":"modbus-write","z":"903a78f0.b50858","name":"Başlangıç Koşulları","showStatusActivities":false,"showErrors":false,"unitid":"5","dataType":"MHoldingRegisters","adr":"159","quantity":"4","server":"baa950a9.8ec34","x":990,"y":140,"wires":[["70e79153.ee83c"],[]]},{"id":"bfbe21a7.1ef6a","type":"function","z":"903a78f0.b50858","name":"","func":"var T1S=global.get(\"T1\");\nvar T3S=global.get(\"T3\");\nvar P1S=global.get(\"P1\");\nvar P2S=global.get(\"P2\");\n\nvar dizi=[];\n\n\ndizi.push(T1S);\ndizi.push(T3S);\ndizi.push(P1S);\ndizi.push(P2S);\n\nmsg.payload=dizi;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["63ee5168.34b5","8b1128d5.9cefb8"]]},{"id":"943b2091.42418","type":"ui_button","z":"903a78f0.b50858","name":"","group":"149be176.4d8a1f","order":5,"width":0,"height":0,"passthru":false,"label":"PLC'ye YAZ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":630,"y":140,"wires":[["bfbe21a7.1ef6a"]]},{"id":"63cb6091.391d2","type":"ui_button","z":"903a78f0.b50858","name":"","group":"149be176.4d8a1f","order":6,"width":0,"height":0,"passthru":false,"label":"PLC'den OKU","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":640,"y":240,"wires":[["11aca5cd.a78faa"]]},{"id":"5beb1853.bddd58","type":"function","z":"903a78f0.b50858","name":"T1>","func":"var data=msg.payload[0];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":240,"wires":[["c2ab2b12.16bc48"]]},{"id":"c2ab2b12.16bc48","type":"link out","z":"903a78f0.b50858","name":"","links":["4a35b9a7.a15728"],"x":1355,"y":240,"wires":[]},{"id":"4a35b9a7.a15728","type":"link in","z":"903a78f0.b50858","name":"","links":["c2ab2b12.16bc48","c50cd30f.997cb","17cb4a78.8b3976"],"x":75,"y":140,"wires":[["67c6eec5.e76f8"]]},{"id":"dafcaea4.e9f3e","type":"function","z":"903a78f0.b50858","name":"T3<","func":"var data=msg.payload[1];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":320,"wires":[["393e0f22.1da13"]]},{"id":"c83220b2.2ecda","type":"function","z":"903a78f0.b50858","name":"P1<","func":"var data=msg.payload[2];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":380,"wires":[["737c9b13.3287a4"]]},{"id":"61a714e7.71802c","type":"function","z":"903a78f0.b50858","name":"P2<","func":"var data=msg.payload[3];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":440,"wires":[["1d5643c0.8c693c"]]},{"id":"393e0f22.1da13","type":"link out","z":"903a78f0.b50858","name":"","links":["c311eb37.4ea778"],"x":1355,"y":320,"wires":[]},{"id":"c311eb37.4ea778","type":"link in","z":"903a78f0.b50858","name":"","links":["393e0f22.1da13"],"x":75,"y":200,"wires":[["260daf36.d39ed"]]},{"id":"737c9b13.3287a4","type":"link out","z":"903a78f0.b50858","name":"","links":["b1fe6603.749da8"],"x":1355,"y":380,"wires":[]},{"id":"b1fe6603.749da8","type":"link in","z":"903a78f0.b50858","name":"","links":["737c9b13.3287a4"],"x":80,"y":280,"wires":[["632e825b.a3ef8c"]]},{"id":"1d5643c0.8c693c","type":"link out","z":"903a78f0.b50858","name":"","links":["7b2a91af.8a99f"],"x":1355,"y":440,"wires":[]},{"id":"7b2a91af.8a99f","type":"link in","z":"903a78f0.b50858","name":"","links":["1d5643c0.8c693c"],"x":75,"y":340,"wires":[["df1d740f.644508"]]},{"id":"27b04284.71971e","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"T1<","tooltip":"","group":"6ae7248a.7cfe8c","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":190,"y":620,"wires":[["38d46ec9.6452d2"]]},{"id":"38d46ec9.6452d2","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"T1A\",msg.payload);\n\nmsg.payload=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[[]]},{"id":"e5e3a3f5.291c6","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"T3>=","tooltip":"","group":"6ae7248a.7cfe8c","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":190,"y":680,"wires":[["1bc4a38e.ca3b7c"]]},{"id":"1bc4a38e.ca3b7c","type":"function","z":"903a78f0.b50858","name":"","func":"var data1 = msg.payload;\n\nglobal.set(\"T3AH\",msg.payload);\n\nmsg.payload=data1;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":680,"wires":[[]]},{"id":"cca07065.417da","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"T3<=","tooltip":"","group":"6ae7248a.7cfe8c","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":190,"y":760,"wires":[["5b46e318.e96ffc"]]},{"id":"5b46e318.e96ffc","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"T3AL\",msg.payload);\n\nmsg.payload=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":760,"wires":[[]]},{"id":"c84a36bf.919208","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"P2>","tooltip":"","group":"6ae7248a.7cfe8c","order":6,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":190,"y":880,"wires":[["325f2b43.750f74"]]},{"id":"325f2b43.750f74","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"P2AH\",msg.payload);\n\nmsg.payload=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":880,"wires":[[]]},{"id":"f3d72213.90aeb","type":"modbus-write","z":"903a78f0.b50858","name":"Alarm Koşulları Yazma","showStatusActivities":false,"showErrors":false,"unitid":"5","dataType":"MHoldingRegisters","adr":"163","quantity":"6","server":"baa950a9.8ec34","x":980,"y":620,"wires":[["a557b904.dfdd48","b114bd1f.7da1d"],[]]},{"id":"d4c2122a.c034f","type":"function","z":"903a78f0.b50858","name":"","func":"var T1SA=global.get(\"T1A\");\nvar T3SAH=global.get(\"T3AH\");\nvar T3SAL=global.get(\"T3AL\")\nvar P2SAH=global.get(\"P2AH\");\nvar P2SAL=global.get(\"P2AL\");\nvar P1A=global.get(\"P1A\");\n\nvar dizi1=[];\n\n\ndizi1.push(T1SA);\ndizi1.push(T3SAH);\ndizi1.push(T3SAL);\ndizi1.push(P1A);\ndizi1.push(P2SAH);\ndizi1.push(P2SAL);\n\n\n\n\n\nmsg.payload=dizi1;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":620,"wires":[["f3d72213.90aeb","4974592e.e3b2b8"]]},{"id":"a557b904.dfdd48","type":"debug","z":"903a78f0.b50858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":620,"wires":[]},{"id":"3603768f.f7c70a","type":"ui_button","z":"903a78f0.b50858","name":"","group":"6ae7248a.7cfe8c","order":7,"width":0,"height":0,"passthru":false,"label":"PLC'ye YAZ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":610,"y":620,"wires":[["d4c2122a.c034f"]]},{"id":"80bf5c28.56f4b","type":"ui_button","z":"903a78f0.b50858","name":"","group":"6ae7248a.7cfe8c","order":8,"width":0,"height":0,"passthru":false,"label":"PLC'den OKU","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":620,"y":720,"wires":[["e69190a0.75315"]]},{"id":"e69190a0.75315","type":"modbus-getter","z":"903a78f0.b50858","name":"Alarm Koşulları Okuma","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"5","dataType":"HoldingRegister","adr":"163","quantity":"6","server":"baa950a9.8ec34","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":870,"y":720,"wires":[["2cfd5c96.7a4914","b0b482f5.ffa37","f9c0d2cb.18c47","cac5a907.98f5c8","54fad36f.fa61dc","8714120e.2b5a7"],[]]},{"id":"2cfd5c96.7a4914","type":"function","z":"903a78f0.b50858","name":"T1>","func":"var data=msg.payload[0];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":720,"wires":[["ab179ef2.4754e"]]},{"id":"b0b482f5.ffa37","type":"function","z":"903a78f0.b50858","name":"T3>=","func":"var data=msg.payload[1];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":800,"wires":[["5f09a068.d5245"]]},{"id":"f9c0d2cb.18c47","type":"function","z":"903a78f0.b50858","name":"T3<=","func":"var data=msg.payload[2];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":860,"wires":[["57ab3cb4.c25fc4"]]},{"id":"cac5a907.98f5c8","type":"function","z":"903a78f0.b50858","name":"P1>","func":"var data=msg.payload[3];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":920,"wires":[["3ca0a4f2.93d3ec"]]},{"id":"9c53575f.1016e8","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"P2<","tooltip":"","group":"6ae7248a.7cfe8c","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":190,"y":940,"wires":[["8897c271.7aa0e"]]},{"id":"8897c271.7aa0e","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"P2AL\",msg.payload);\n\nmsg.payload=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":940,"wires":[[]]},{"id":"366aba7b.a79e46","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"P1>","tooltip":"","group":"6ae7248a.7cfe8c","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":190,"y":820,"wires":[["d537b6d7.bfeb98"]]},{"id":"d537b6d7.bfeb98","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"P1A\",msg.payload);\n\nmsg.payload=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":820,"wires":[[]]},{"id":"54fad36f.fa61dc","type":"function","z":"903a78f0.b50858","name":"P2>","func":"var data=msg.payload[4];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":980,"wires":[["7f417844.216578"]]},{"id":"8714120e.2b5a7","type":"function","z":"903a78f0.b50858","name":"P2<","func":"var data=msg.payload[5];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1040,"wires":[["403a1a1e.a30cb4"]]},{"id":"ab179ef2.4754e","type":"link out","z":"903a78f0.b50858","name":"","links":["c0041dd8.4f09f"],"x":1300,"y":720,"wires":[]},{"id":"c0041dd8.4f09f","type":"link in","z":"903a78f0.b50858","name":"","links":["ab179ef2.4754e"],"x":75,"y":620,"wires":[["27b04284.71971e"]]},{"id":"5f09a068.d5245","type":"link out","z":"903a78f0.b50858","name":"","links":["52af9f9b.f22bd"],"x":1295,"y":800,"wires":[]},{"id":"52af9f9b.f22bd","type":"link in","z":"903a78f0.b50858","name":"","links":["5f09a068.d5245"],"x":75,"y":680,"wires":[["e5e3a3f5.291c6"]]},{"id":"57ab3cb4.c25fc4","type":"link out","z":"903a78f0.b50858","name":"","links":["13e3802e.ba5fa"],"x":1295,"y":860,"wires":[]},{"id":"13e3802e.ba5fa","type":"link in","z":"903a78f0.b50858","name":"","links":["57ab3cb4.c25fc4"],"x":75,"y":760,"wires":[["cca07065.417da"]]},{"id":"3ca0a4f2.93d3ec","type":"link out","z":"903a78f0.b50858","name":"","links":["6231a09b.82f63"],"x":1295,"y":920,"wires":[]},{"id":"6231a09b.82f63","type":"link in","z":"903a78f0.b50858","name":"","links":["3ca0a4f2.93d3ec"],"x":75,"y":820,"wires":[["366aba7b.a79e46"]]},{"id":"7f417844.216578","type":"link out","z":"903a78f0.b50858","name":"","links":["318ae65a.c2d55a"],"x":1295,"y":980,"wires":[]},{"id":"318ae65a.c2d55a","type":"link in","z":"903a78f0.b50858","name":"","links":["7f417844.216578"],"x":75,"y":880,"wires":[["c84a36bf.919208"]]},{"id":"403a1a1e.a30cb4","type":"link out","z":"903a78f0.b50858","name":"","links":["bdae7798.7fb7a8"],"x":1295,"y":1040,"wires":[]},{"id":"bdae7798.7fb7a8","type":"link in","z":"903a78f0.b50858","name":"","links":["403a1a1e.a30cb4"],"x":75,"y":940,"wires":[["9c53575f.1016e8"]]},{"id":"1eefd5c7.d89d6a","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"Alt Limit","tooltip":"","group":"bd400986.bca6a8","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":180,"y":1300,"wires":[["ebf00291.77f2d"]]},{"id":"ebf00291.77f2d","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"SRCALT\",msg.payload);\n\nmsg.payload=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1300,"wires":[[]]},{"id":"9dd562d1.f7c9","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"Üst Limit","tooltip":"","group":"bd400986.bca6a8","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":180,"y":1360,"wires":[["69989440.1205fc"]]},{"id":"69989440.1205fc","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"SRCUST\",msg.payload);\n\nmsg.payload=msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1360,"wires":[[]]},{"id":"abebaabf.a06128","type":"modbus-write","z":"903a78f0.b50858","name":"Sürücü Limitleri Yazma","showStatusActivities":false,"showErrors":false,"unitid":"5","dataType":"MHoldingRegisters","adr":"199","quantity":"2","server":"baa950a9.8ec34","x":1020,"y":1280,"wires":[["d639a444.4bedd8","e2149703.26aa38"],[]]},{"id":"5fc3673c.00ade8","type":"function","z":"903a78f0.b50858","name":"","func":"var SRCALIM=global.get(\"SRCALT\");\nvar SRCUSTLIM=global.get(\"SRCUST\");\n\n\nvar dizi2=[];\n\n\ndizi2.push(SRCALIM);\ndizi2.push(SRCUSTLIM);\n\n\n\n\n\n\nmsg.payload=dizi2;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1280,"wires":[["abebaabf.a06128","1ff0e946.b758b7"]]},{"id":"d639a444.4bedd8","type":"debug","z":"903a78f0.b50858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":1280,"wires":[]},{"id":"525035b8.0313cc","type":"ui_button","z":"903a78f0.b50858","name":"","group":"bd400986.bca6a8","order":3,"width":0,"height":0,"passthru":false,"label":"PLC'ye YAZ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":650,"y":1280,"wires":[["5fc3673c.00ade8"]]},{"id":"b672c064.7fb4a","type":"ui_button","z":"903a78f0.b50858","name":"","group":"bd400986.bca6a8","order":4,"width":0,"height":0,"passthru":false,"label":"PLC'den OKU","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":680,"y":1400,"wires":[["39cc45bc.a3b85a"]]},{"id":"39cc45bc.a3b85a","type":"modbus-getter","z":"903a78f0.b50858","name":"Sürücü Limitleri Okuma","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"5","dataType":"HoldingRegister","adr":"199","quantity":"2","server":"baa950a9.8ec34","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":930,"y":1400,"wires":[["fde7d8e4.b44df8","12be81ae.183f2e"],[]]},{"id":"fde7d8e4.b44df8","type":"function","z":"903a78f0.b50858","name":"Alt Limit","func":"var data=msg.payload[0];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":1400,"wires":[["a81ce28e.e37bf"]]},{"id":"12be81ae.183f2e","type":"function","z":"903a78f0.b50858","name":"Üst Limit","func":"var data=msg.payload[1];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":1480,"wires":[["9131a798.312c08"]]},{"id":"a81ce28e.e37bf","type":"link out","z":"903a78f0.b50858","name":"","links":["f2cc4690.ea2548"],"x":1395,"y":1400,"wires":[]},{"id":"f2cc4690.ea2548","type":"link in","z":"903a78f0.b50858","name":"","links":["a81ce28e.e37bf"],"x":55,"y":1300,"wires":[["1eefd5c7.d89d6a"]]},{"id":"9131a798.312c08","type":"link out","z":"903a78f0.b50858","name":"","links":["c98a4555.25a0c8"],"x":1395,"y":1480,"wires":[]},{"id":"c98a4555.25a0c8","type":"link in","z":"903a78f0.b50858","name":"","links":["9131a798.312c08"],"x":55,"y":1360,"wires":[["9dd562d1.f7c9"]]},{"id":"64acd678.c984c8","type":"modbus-write","z":"903a78f0.b50858","name":"Sürücü Zamanı Yazma","showStatusActivities":false,"showErrors":false,"unitid":"5","dataType":"HoldingRegister","adr":"204","quantity":"1","server":"baa950a9.8ec34","x":820,"y":1740,"wires":[["df5f4f77.4771f"],[]]},{"id":"66167b96.fb65e4","type":"debug","z":"903a78f0.b50858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":1980,"wires":[]},{"id":"cf35af9b.4ed0b","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"Sürücü Zamanı(sn)","tooltip":"","group":"9a53fa9c.4f24d8","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"00","topic":"","x":470,"y":1660,"wires":[["69d62382.81702c"]]},{"id":"69d62382.81702c","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"SRCZAMAN\",msg.payload);\n\nmsg.payload=data;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1660,"wires":[[]]},{"id":"4292746.91c738c","type":"ui_button","z":"903a78f0.b50858","name":"","group":"9a53fa9c.4f24d8","order":2,"width":0,"height":0,"passthru":false,"label":"PLC'YE YAZ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":410,"y":1740,"wires":[["d45d0373.70059"]]},{"id":"d45d0373.70059","type":"function","z":"903a78f0.b50858","name":"","func":"var TIMESRC=global.get(\"SRCZAMAN\");\n\n\n\n\n\n\n\n\n\nmsg.payload=TIMESRC;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1740,"wires":[["64acd678.c984c8","45f66d11.cbf974"]]},{"id":"79002b53.6fcea4","type":"ui_button","z":"903a78f0.b50858","name":"","group":"9a53fa9c.4f24d8","order":3,"width":0,"height":0,"passthru":false,"label":"PLC'den OKU","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":420,"y":1860,"wires":[["6bf7098d.e8f728"]]},{"id":"6bf7098d.e8f728","type":"modbus-getter","z":"903a78f0.b50858","name":"Sürücü Koşulları Okuma","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"5","dataType":"HoldingRegister","adr":"204","quantity":"1","server":"baa950a9.8ec34","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":670,"y":1860,"wires":[["b448754d.ca7568"],[]]},{"id":"b448754d.ca7568","type":"function","z":"903a78f0.b50858","name":"SRC ZAMAN","func":"var data=msg.payload[0];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1860,"wires":[["66167b96.fb65e4","b3dc38d9.127b98"]]},{"id":"b3dc38d9.127b98","type":"link out","z":"903a78f0.b50858","name":"","links":["525960ac.48045"],"x":1180,"y":1860,"wires":[]},{"id":"525960ac.48045","type":"link in","z":"903a78f0.b50858","name":"","links":["b3dc38d9.127b98"],"x":295,"y":1660,"wires":[["cf35af9b.4ed0b"]]},{"id":"8b1128d5.9cefb8","type":"function","z":"903a78f0.b50858","name":"","func":"var data1=msg.payload[1];\n\n\n\nglobal.set(\"checkbas\",data1);\n\n\n\nmsg.payload=data1;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["a99505a1.e71b88"]]},{"id":"70e79153.ee83c","type":"function","z":"903a78f0.b50858","name":"","func":"var data1=msg.payload.value[1];\n\n\n\nglobal.set(\"checkbas1\",data1);\n\n\nmsg.payload=data1;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":80,"wires":[["b251e3a9.f262e"]]},{"id":"16641bdc.0f5b54","type":"function","z":"903a78f0.b50858","name":"","func":"var check1=global.get(\"checkbas\");\nvar check2=global.get(\"checkbas1\");\n\nif( check1==check2 ){\n    \n    msg.payload=\"PLC'YE YAZMA İŞLEMİ BAŞARILI\";\n    \n\n    \n}else{\n     msg.payload=\"PLC'YE YAZMA İŞLEMİ BAŞARISIZ\";\n    \n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":80,"wires":[["cb0c82de.a744b"]]},{"id":"b251e3a9.f262e","type":"delay","z":"903a78f0.b50858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":80,"wires":[["16641bdc.0f5b54"]]},{"id":"cb0c82de.a744b","type":"ui_toast","z":"903a78f0.b50858","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1670,"y":80,"wires":[[]]},{"id":"a99505a1.e71b88","type":"debug","z":"903a78f0.b50858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":20,"wires":[]},{"id":"77f7a02b.6434c","type":"debug","z":"903a78f0.b50858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":500,"wires":[]},{"id":"4974592e.e3b2b8","type":"function","z":"903a78f0.b50858","name":"","func":"var data1=msg.payload[1];\n\n\n\nglobal.set(\"checkalarm\",data1);\n\n\n\nmsg.payload=data1;\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":540,"wires":[["77f7a02b.6434c"]]},{"id":"b114bd1f.7da1d","type":"function","z":"903a78f0.b50858","name":"","func":"var data1=msg.payload.value[1];\n\n\n\nglobal.set(\"checkalarm1\",data1);\n\n\nmsg.payload=data1;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":560,"wires":[["cc3e6907.8d4158"]]},{"id":"fe864c0d.cf21f","type":"function","z":"903a78f0.b50858","name":"","func":"var check1=global.get(\"checkalarm\");\nvar check2=global.get(\"checkalarm1\");\n\nif( check1==check2 ){\n    \n    msg.payload=\"PLC'YE YAZMA İŞLEMİ BAŞARILI\";\n    \n\n    \n}else{\n     msg.payload=\"PLC'YE YAZMA İŞLEMİ BAŞARISIZ\";\n    \n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":560,"wires":[["c17b03e7.c504"]]},{"id":"cc3e6907.8d4158","type":"delay","z":"903a78f0.b50858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":560,"wires":[["fe864c0d.cf21f"]]},{"id":"c17b03e7.c504","type":"ui_toast","z":"903a78f0.b50858","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1690,"y":560,"wires":[[]]},{"id":"7c6010e2.ce991","type":"debug","z":"903a78f0.b50858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1160,"wires":[]},{"id":"1ff0e946.b758b7","type":"function","z":"903a78f0.b50858","name":"","func":"var data1=msg.payload[1];\n\n\n\nglobal.set(\"checksrc\",data1);\n\n\n\nmsg.payload=data1;\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1200,"wires":[["7c6010e2.ce991"]]},{"id":"e2149703.26aa38","type":"function","z":"903a78f0.b50858","name":"","func":"var data1=msg.payload.value[1];\n\n\n\nglobal.set(\"checksrc1\",data1);\n\n\nmsg.payload=data1;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":1220,"wires":[["73126a1b.7fff24"]]},{"id":"9c7f4ac3.9a1548","type":"function","z":"903a78f0.b50858","name":"","func":"var check1=global.get(\"checksrc\");\nvar check2=global.get(\"checksrc1\");\n\nif( check1==check2 ){\n    \n    msg.payload=\"PLC'YE YAZMA İŞLEMİ BAŞARILI\";\n    \n\n    \n}else{\n     msg.payload=\"PLC'YE YAZMA İŞLEMİ BAŞARISIZ\";\n    \n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":1220,"wires":[["c1e4045d.50c248"]]},{"id":"73126a1b.7fff24","type":"delay","z":"903a78f0.b50858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1500,"y":1220,"wires":[["9c7f4ac3.9a1548"]]},{"id":"c1e4045d.50c248","type":"ui_toast","z":"903a78f0.b50858","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1830,"y":1220,"wires":[[]]},{"id":"124d6f42.646321","type":"debug","z":"903a78f0.b50858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":1520,"wires":[]},{"id":"7ee6d75b.20c448","type":"debug","z":"903a78f0.b50858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":1660,"wires":[]},{"id":"45f66d11.cbf974","type":"function","z":"903a78f0.b50858","name":"","func":"var data1=msg.payload[0];\n\n\n\nglobal.set(\"checksrczaman\",data1);\n\n\n\nmsg.payload=data1;\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1680,"wires":[["7ee6d75b.20c448"]]},{"id":"df5f4f77.4771f","type":"function","z":"903a78f0.b50858","name":"","func":"var data1=msg.payload.value[0];\n\n\n\nglobal.set(\"checksrczaman1\",data1);\n\n\nmsg.payload=data1;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1720,"wires":[["671bd6b0.1796d8"]]},{"id":"effbd8ea.b573f8","type":"function","z":"903a78f0.b50858","name":"","func":"var check1=global.get(\"checkzaman\");\nvar check2=global.get(\"checkzaman1\");\n\nif( check1==check2 ){\n    \n    msg.payload=\"PLC'YE YAZMA İŞLEMİ BAŞARILI\";\n    \n\n    \n}else{\n     msg.payload=\"PLC'YE YAZMA İŞLEMİ BAŞARISIZ\";\n    \n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":1720,"wires":[["29575544.44e77a"]]},{"id":"671bd6b0.1796d8","type":"delay","z":"903a78f0.b50858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":1720,"wires":[["effbd8ea.b573f8"]]},{"id":"29575544.44e77a","type":"ui_toast","z":"903a78f0.b50858","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1550,"y":1720,"wires":[[]]},{"id":"bd9cd05.3d90c3","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"T3>","tooltip":"","group":"6be701cd.d327d","order":1,"width":4,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":570,"y":2180,"wires":[["7488079.5fbb4f8"]]},{"id":"7488079.5fbb4f8","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"R4T3\",msg.payload);\n\nmsg.payload=data;\n\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":750,"y":2180,"wires":[[]]},{"id":"6ae6a2cd.84ed4c","type":"modbus-write","z":"903a78f0.b50858","name":"R4AÇMA LİMİTLERİ","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"169","quantity":"2","server":"baa950a9.8ec34","x":1420,"y":2180,"wires":[["622f8e76.f6f24"],[]]},{"id":"5065f67c.475e08","type":"ui_button","z":"903a78f0.b50858","name":"","group":"6be701cd.d327d","order":3,"width":4,"height":1,"passthru":false,"label":"PLC'ye Aktar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":990,"y":2180,"wires":[["966c468.c1b43b8"]]},{"id":"966c468.c1b43b8","type":"function","z":"903a78f0.b50858","name":"","func":"var T3R4=global.get(\"R4T3\");\nvar T3P2=global.get(\"R4P2\");\n\n\nvar r4dizi=[];\n\nr4dizi.push(T3R4);\nr4dizi.push(T3P2);\n\nmsg.payload=r4dizi;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":2180,"wires":[["6ae6a2cd.84ed4c","5850f866.dabe98"]]},{"id":"622f8e76.f6f24","type":"function","z":"903a78f0.b50858","name":"","func":"var data1=msg.payload.value[1];\n\nglobal.set(\"checkR4T31\",data1);\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":2180,"wires":[["da458b79.24f0f8"]]},{"id":"5850f866.dabe98","type":"function","z":"903a78f0.b50858","name":"","func":"data=msg.payload[1];\n\n\nglobal.set(\"checkR4T3\",data);\n\nmsg.payload=data;\n\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":2140,"wires":[[]]},{"id":"88ab2d66.1fe18","type":"ui_text_input","z":"903a78f0.b50858","name":"","label":"P2>","tooltip":"","group":"6be701cd.d327d","order":2,"width":4,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":570,"y":2260,"wires":[["ee910e7c.e6d53"]]},{"id":"ee910e7c.e6d53","type":"function","z":"903a78f0.b50858","name":"","func":"var data = msg.payload;\n\nglobal.set(\"R4P2\",msg.payload);\n\nmsg.payload=data;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":760,"y":2260,"wires":[[]]},{"id":"da458b79.24f0f8","type":"delay","z":"903a78f0.b50858","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":2180,"wires":[["278d06e.56258fa"]]},{"id":"278d06e.56258fa","type":"function","z":"903a78f0.b50858","name":"","func":"var check1=global.get(\"checkR4T3\");\nvar check2=global.get(\"checkR4T31\");\n\nif( check1==check2 ){\n    \n    msg.payload=\"PLC'YE YAZMA İŞLEMİ BAŞARILI\";\n    \n\n    \n}else{\n     msg.payload=\"PLC'YE YAZMA İŞLEMİ BAŞARISIZ\";\n    \n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":2180,"wires":[["e1e78b46.235ae8"]]},{"id":"163bfb9c.f75d24","type":"ui_button","z":"903a78f0.b50858","name":"","group":"6be701cd.d327d","order":4,"width":4,"height":1,"passthru":false,"label":"PLC'den Oku","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":900,"y":2340,"wires":[["3f45e856.ce4d18"]]},{"id":"3f45e856.ce4d18","type":"modbus-getter","z":"903a78f0.b50858","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"169","quantity":"2","server":"baa950a9.8ec34","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":1100,"y":2340,"wires":[["c15aa1d0.87f2b","1a14e3c8.fd95fc"],[]]},{"id":"c15aa1d0.87f2b","type":"function","z":"903a78f0.b50858","name":"","func":"data=msg.payload[0];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":2340,"wires":[["ef2bae68.dbd7f"]]},{"id":"1a14e3c8.fd95fc","type":"function","z":"903a78f0.b50858","name":"","func":"var data1=msg.payload[1];\n\nmsg.payload=data1;\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":2420,"wires":[["251a1d35.3bdd02"]]},{"id":"ef2bae68.dbd7f","type":"link out","z":"903a78f0.b50858","name":"","links":["5001974b.2d3ef8"],"x":1500,"y":2340,"wires":[]},{"id":"5001974b.2d3ef8","type":"link in","z":"903a78f0.b50858","name":"","links":["ef2bae68.dbd7f"],"x":420,"y":2180,"wires":[["bd9cd05.3d90c3"]]},{"id":"251a1d35.3bdd02","type":"link out","z":"903a78f0.b50858","name":"","links":["67ff1626.614e98"],"x":1495,"y":2420,"wires":[]},{"id":"67ff1626.614e98","type":"link in","z":"903a78f0.b50858","name":"","links":["251a1d35.3bdd02"],"x":415,"y":2260,"wires":[["88ab2d66.1fe18"]]},{"id":"e1e78b46.235ae8","type":"ui_toast","z":"903a78f0.b50858","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":2150,"y":2180,"wires":[[]]},{"id":"baa950a9.8ec34","type":"modbus-client","z":"","name":"Allen Bradley","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.200","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"149be176.4d8a1f","type":"ui_group","z":"","name":"Başlangıç Koşulları","tab":"b975c4cd.0e8508","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ae7248a.7cfe8c","type":"ui_group","z":"","name":"Alarm Koşulları","tab":"b975c4cd.0e8508","order":2,"disp":true,"width":"6","collapse":false},{"id":"bd400986.bca6a8","type":"ui_group","z":"","name":"Sürücü Limitleri","tab":"b975c4cd.0e8508","order":3,"disp":true,"width":"6","collapse":false},{"id":"9a53fa9c.4f24d8","type":"ui_group","z":"","name":"Sürücü Zamanı","tab":"b975c4cd.0e8508","order":4,"disp":true,"width":"6","collapse":false},{"id":"6be701cd.d327d","type":"ui_group","z":"","name":"DC Çıkış Limitleri","tab":"b975c4cd.0e8508","order":6,"disp":true,"width":"4","collapse":false},{"id":"b975c4cd.0e8508","type":"ui_tab","z":"","name":"Algoritma Parametreleri","icon":"dashboard","order":2,"disabled":false,"hidden":false}]