RePG-11_15042020/Flows/3.txt
[{"id":"d0f3cb45.cd8458","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":140,"wires":[]},{"id":"629ff85a.441938","type":"function","z":"670c8825.274a78","name":"PLC'ye Göndereme Kısmı","func":"var minpres=global.get(\"min\");\nvar maxpres=global.get(\"max\");\nvar firstpres=global.get(\"basınc\");\nvar inc=global.get(\"basıncart\");\nvar step=global.get(\"adim\");\nvar pres_inc=maxpres-minpres;\n\nvar stepP2S=step;\n\nvar diziplcT3=[];\ndiziplcT3[0]=minpres;\n\n//  T3 Sıcaklık Kısmı\n\nfor( var a=1; a<31; a++  ){\n    \n    minpres=minpres+pres_inc;\n    diziplcT3[a]=minpres;\n    \n}\n\n\nvar diziplcP2S=[];\ndiziplcP2S[0]=firstpres;\n\n// P2S Basınc Kısmı\n\nfor( var i=1; i<step; i++ ){\n    \n    firstpres=firstpres+inc;\n    diziplcP2S[i]=firstpres;\n    \n    \n}\n\nfor( stepP2S; stepP2S<30; stepP2S++  ){\n    \n    diziplcP2S[stepP2S]=1000;\n    \n}\n\nglobal.set(\"plcT3\",diziplcT3);\nglobal.set(\"plcP2S\",diziplcP2S);\nmsg.payload=diziplcP2S;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1300,"wires":[["8355cd91.b7351","33fb51ab.a9663e"]]},{"id":"8355cd91.b7351","type":"debug","z":"670c8825.274a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":1300,"wires":[]},{"id":"e444e60b.390118","type":"function","z":"670c8825.274a78","name":"Değerleri Tabloda Gösterme","func":"var mintable=global.get(\"min\");\nvar maxtable=global.get(\"max\");\nvar diffT3=maxtable-mintable;\nvar prestable=global.get(\"basınc\");\nvar steptable=global.get(\"adim\");\nvar inctable=global.get(\"basıncart\");\n\n\nvar dizitable=[];\n\ndizitable.push([mintable,maxtable,prestable]);\n\n\nfor ( var b=1; b<steptable; b++  ){\n    \n    mintable=mintable+diffT3;\n    maxtable=maxtable+diffT3;\n    prestable=prestable+inctable;\n    \n    dizitable.push([\n        \n        mintable,\n        maxtable,\n        prestable\n        \n        \n        \n        ])\n    \n    \n    \n}\n\nmsg.payload=dizitable;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1400,"wires":[["5d922875.a8ce88","9525245a.524888"]]},{"id":"5d922875.a8ce88","type":"debug","z":"670c8825.274a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":1400,"wires":[]},{"id":"9525245a.524888","type":"ui_template","z":"670c8825.274a78","group":"94a58542.989e78","name":"Two dimension array table","order":1,"width":9,"height":16,"format":"<table id=\"table\" border=\"1\">\n <tr>\n <th> T3>= </th> \n <th> T3< </th>\n <th>P2S</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":560,"y":1540,"wires":[["43898ce8.1dd314"]]},{"id":"a51c1edb.b1d0f","type":"ui_button","z":"670c8825.274a78","name":"","group":"638ab133.344a9","order":6,"width":6,"height":2,"passthru":false,"label":"TABLO OLUŞTUR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":300,"y":1400,"wires":[["e444e60b.390118"]]},{"id":"43898ce8.1dd314","type":"debug","z":"670c8825.274a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":1540,"wires":[]},{"id":"33fb51ab.a9663e","type":"function","z":"670c8825.274a78","name":"PLCT3","func":"\nvar data1=global.get(\"plcT3\");\n\nmsg.payload=data1;\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1380,"wires":[["fd478eba.139d8","f3aa41ad.662a6"]]},{"id":"9eb2cfdd.e1a27","type":"function","z":"670c8825.274a78","name":"PLC P2S","func":"var data2=global.get(\"plcP2S\");\n\n\nmsg.payload=data2;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":1660,"wires":[["94d21aab.210b08","86e43055.0e7b3","e965cc8e.7fc2f"]]},{"id":"9c80b663.f67c68","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1690,"y":1380,"wires":[]},{"id":"3ccf1a7e.bdf6d6","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":1660,"wires":[]},{"id":"fd478eba.139d8","type":"modbus-write","z":"670c8825.274a78","name":"Çoklu Sıcaklık Yazımı","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0","quantity":"31","server":"baa950a9.8ec34","x":1440,"y":1380,"wires":[["9c80b663.f67c68","a853898a.811918","5f04880a.9bd748"],[]]},{"id":"94d21aab.210b08","type":"modbus-write","z":"670c8825.274a78","name":"Çoklu Basınç Yazımı","showStatusActivities":false,"showErrors":false,"unitid":"5","dataType":"MHoldingRegisters","adr":"89","quantity":"30","server":"baa950a9.8ec34","x":1480,"y":1660,"wires":[["3ccf1a7e.bdf6d6","227b73f8.14d37c"],[]]},{"id":"59c68061.4c7ab","type":"function","z":"670c8825.274a78","name":"","func":"var data = msg.payload;\nglobal.set(\"min\",data);\nmsg.payload=data;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":760,"wires":[["b288e5f7.e51c78"]]},{"id":"275bb7d5.773b48","type":"ui_text_input","z":"670c8825.274a78","name":"","label":"Min","tooltip":"","group":"638ab133.344a9","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":110,"y":760,"wires":[["59c68061.4c7ab"]]},{"id":"999b29ce.72a748","type":"function","z":"670c8825.274a78","name":"","func":"var data = msg.payload;\nglobal.set(\"max\",data);\nmsg.payload=data;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":840,"wires":[["c0dc333.5d607d"]]},{"id":"410e1a00.5ca328","type":"ui_text_input","z":"670c8825.274a78","name":"","label":"Max","tooltip":"","group":"638ab133.344a9","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":110,"y":840,"wires":[["999b29ce.72a748"]]},{"id":"d26d3c16.1e53b","type":"function","z":"670c8825.274a78","name":"","func":"var data = msg.payload;\nglobal.set(\"basınc\",data);\nmsg.payload=data;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":920,"wires":[["d6f4568.c70a7a8"]]},{"id":"e35fa8e0.962968","type":"ui_text_input","z":"670c8825.274a78","name":"","label":"Başlangıç Basıncı","tooltip":"","group":"638ab133.344a9","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":110,"y":920,"wires":[["d26d3c16.1e53b"]]},{"id":"6ef2c8c0.119708","type":"function","z":"670c8825.274a78","name":"","func":"var data = msg.payload;\nglobal.set(\"adim\",data);\nmsg.payload=data;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":980,"wires":[["315e9c61.46d664"]]},{"id":"27b1db55.1249a4","type":"ui_text_input","z":"670c8825.274a78","name":"","label":"Adım","tooltip":"","group":"638ab133.344a9","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":110,"y":980,"wires":[["6ef2c8c0.119708"]]},{"id":"b288e5f7.e51c78","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":760,"wires":[]},{"id":"c0dc333.5d607d","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":840,"wires":[]},{"id":"d6f4568.c70a7a8","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":920,"wires":[]},{"id":"315e9c61.46d664","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":980,"wires":[]},{"id":"2292763e.24cfda","type":"function","z":"670c8825.274a78","name":"","func":"var data = msg.payload;\nglobal.set(\"basıncart\",data);\nmsg.payload=data;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1060,"wires":[["e0123985.fdd788"]]},{"id":"6eaa28.442475d8","type":"ui_text_input","z":"670c8825.274a78","name":"","label":"Basınç Artışı","tooltip":"","group":"638ab133.344a9","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":130,"y":1060,"wires":[["2292763e.24cfda"]]},{"id":"e0123985.fdd788","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":1060,"wires":[]},{"id":"8d5530da.c651c","type":"ui_button","z":"670c8825.274a78","name":"","group":"638ab133.344a9","order":7,"width":6,"height":2,"passthru":false,"label":"PLC'YE YAZ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":320,"y":1300,"wires":[["629ff85a.441938"]]},{"id":"a853898a.811918","type":"delay","z":"670c8825.274a78","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":1520,"wires":[["9eb2cfdd.e1a27"]]},{"id":"f3aa41ad.662a6","type":"function","z":"670c8825.274a78","name":"","func":"var data1=msg.payload[5];\n\nglobal.set(\"testT3\",data1);\n\nmsg.payload=data1;\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":1260,"wires":[["8207e7c7.a89e18"]]},{"id":"5f04880a.9bd748","type":"function","z":"670c8825.274a78","name":"","func":"var test=msg.payload.value[5];\n\nglobal.set(\"testT3modbus\",test);\n\nmsg.payload=test;\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":1340,"wires":[["abf73a11.8dcc28"]]},{"id":"86e43055.0e7b3","type":"function","z":"670c8825.274a78","name":"","func":"var testdata=msg.payload[4];\n\nglobal.set(\"testP2S\",testdata);\n\nmsg.payload=testdata;\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1600,"wires":[["216c6df7.546212","c164ddd1.66c4c"]]},{"id":"227b73f8.14d37c","type":"function","z":"670c8825.274a78","name":"","func":"var testdata1=msg.payload.value[4];\n\nglobal.set(\"testmodbusP2S\",testdata1);\n\nmsg.payload=testdata1;\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":1740,"wires":[["6f35d20b.dccb8c"]]},{"id":"9aa80e7c.d3972","type":"function","z":"670c8825.274a78","name":"","func":"\nvar testT3deger=global.get(\"testT3\");\nvar testT3degermodbus=global.get(\"testT3modbus\");\nvar checkT3;\n\nvar testP2Sdeger=global.get(\"testP2S\");\nvar testP2Sdegermodbus=global.get(\"testmodbusP2S\")\nvar checkP2S;\n\n\nif( testT3deger==testT3degermodbus ){\n    \n    \n    checkT3=true;\n    \n}else{\n    \n    checkT3=false;\n}\n\n\nif( testP2Sdeger==testP2Sdegermodbus ){\n    \n    \n    checkP2S=true;\n    \n}else{\n    \n    checkP2S=false;\n}\n\n\n\nif( checkT3 === true && checkP2S === true){\n    msg.payload=\"PLC'ye YAZMA İŞLEMİ BAŞARILI\";\n}else{\n    msg.payload=\"PLC'ye YAZMA İŞLEMİ BAŞARISIZ\";\n    \n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":1480,"wires":[["40fee9f1.1a9178"]]},{"id":"40fee9f1.1a9178","type":"ui_toast","z":"670c8825.274a78","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":2210,"y":1480,"wires":[[]]},{"id":"216c6df7.546212","type":"delay","z":"670c8825.274a78","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1760,"y":1500,"wires":[["9aa80e7c.d3972"]]},{"id":"8207e7c7.a89e18","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":1260,"wires":[]},{"id":"abf73a11.8dcc28","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1800,"y":1320,"wires":[]},{"id":"c164ddd1.66c4c","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1740,"y":1600,"wires":[]},{"id":"6f35d20b.dccb8c","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1850,"y":1740,"wires":[]},{"id":"e965cc8e.7fc2f","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1420,"y":1760,"wires":[]},{"id":"58d5508.b483cb","type":"modbus-getter","z":"670c8825.274a78","name":"Sıcaklık Okuma","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"5","dataType":"HoldingRegister","adr":"0","quantity":"31","server":"baa950a9.8ec34","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":540,"y":1960,"wires":[["141057ca.bcb278"],[]]},{"id":"a1c0a69a.aed218","type":"ui_button","z":"670c8825.274a78","name":"","group":"638ab133.344a9","order":8,"width":6,"height":2,"passthru":false,"label":"PLC'DEN OKU","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":300,"y":1960,"wires":[["58d5508.b483cb"]]},{"id":"963e1065.5125d","type":"modbus-getter","z":"670c8825.274a78","name":"Basınç Okuma","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"5","dataType":"HoldingRegister","adr":"89","quantity":"30","server":"baa950a9.8ec34","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":680,"y":2120,"wires":[["66c65ea3.0b20a"],[]]},{"id":"66c65ea3.0b20a","type":"function","z":"670c8825.274a78","name":"","func":"var dizi = msg.payload;\n\nvar dizip=[];\n\nfor(var i=0;i<30;i++){\n    \n    if( dizi[i]!=1000 ){\n        \n        \n        dizip.push(dizi[i]);\n\n    }\n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n}\n\n\nmsg.payload=dizip;\nglobal.set(\"dizibasıncread\",dizip);\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":2120,"wires":[["cd4a297f.6ae8c8"]]},{"id":"141057ca.bcb278","type":"function","z":"670c8825.274a78","name":"","func":"var dizi1=msg.payload;\n\ndizisıcaklık=[];\n\nfor(var a=0;a<31;a++){\n    \n    dizisıcaklık.push(dizi1[a]);\n    \n    \n    \n    \n    \n    \n    \n    \n}\n\n\n\nglobal.set(\"dizisıcaklıkread\",dizisıcaklık);\n\nmsg.payload=dizisıcaklık;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1980,"wires":[["963e1065.5125d"]]},{"id":"cd4a297f.6ae8c8","type":"function","z":"670c8825.274a78","name":"","func":"var tempread=global.get(\"dizisıcaklıkread\");\nvar presread=global.get(\"dizibasıncread\");\nvar min;\nvar max;\nvar pressure;\n\nvar step=presread.length;\nvar table=[];\n\n\nfor( var e=0; e<step; e++   ){\n    \n    min=tempread[e];\n    max=tempread[e+1];\n    pressure=presread[e];\n    \n    table.push(\n        [min,\n        max,\n        pressure\n            \n            \n            ]\n        \n        )\n    \n    \n    \n    \n    \n    \n}\n\n\nmsg.payload=table;\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1880,"wires":[["44a9253c.a1c4fc","9525245a.524888"]]},{"id":"44a9253c.a1c4fc","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1480,"y":1980,"wires":[]},{"id":"3695eb7f.b6b1c4","type":"function","z":"670c8825.274a78","name":"","func":"\n\nvar data = [];\n\n\ndata=msg.payload;\n\nvar diziT=[];\n\nfor ( var a=0; a<31; a++  ){\n    \n    if( data[a]===null ){\n        \n        \n       diziT.push(1000);\n       \n     \n        \n    }else{\n        \n        \n        diziT.push(data[a])\n        \n        \n        \n    }\n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n}\n\n\nglobal.set(\"T3PLC\",diziT);\n\nmsg.payload=diziT;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["d0f3cb45.cd8458"]]},{"id":"a43dba85.1395b8","type":"ui_form","z":"670c8825.274a78","name":"","label":"Hz Değerleri","group":"facf377b.9a5c78","order":2,"width":6,"height":32,"options":[{"label":"","value":"0","type":"number","required":true},{"label":"","value":"1","type":"number","required":true},{"label":"","value":"2","type":"number","required":true},{"label":"","value":"3","type":"number","required":true},{"label":"","value":"4","type":"number","required":true},{"label":"","value":"5","type":"number","required":true},{"label":"","value":"6","type":"number","required":true},{"label":"","value":"7","type":"number","required":true},{"label":"","value":"8","type":"number","required":true},{"label":"","value":"9","type":"number","required":true},{"label":"","value":"10","type":"number","required":true},{"label":"","value":"11","type":"number","required":true},{"label":"","value":"12","type":"number","required":true},{"label":"","value":"13","type":"number","required":true},{"label":"","value":"14","type":"number","required":true},{"label":"","value":"15","type":"number","required":true},{"label":"","value":"16","type":"number","required":true},{"label":"","value":"17","type":"number","required":true},{"label":"","value":"18","type":"number","required":true},{"label":"","value":"19","type":"number","required":true},{"label":"","value":"20","type":"number","required":true},{"label":"","value":"21","type":"number","required":true},{"label":"","value":"22","type":"number","required":true},{"label":"","value":"23","type":"number","required":true},{"label":"","value":"24","type":"number","required":true},{"label":"","value":"25","type":"number","required":true},{"label":"","value":"26","type":"number","required":true},{"label":"","value":"27","type":"number","required":true},{"label":"","value":"28","type":"number","required":true},{"label":"","value":"29","type":"number","required":true}],"formValue":{"0":"","1":"","2":"","3":"","4":"","5":"","6":"","7":"","8":"","9":"","10":"","11":"","12":"","13":"","14":"","15":"","16":"","17":"","18":"","19":"","20":"","21":"","22":"","23":"","24":"","25":"","26":"","27":"","28":"","29":""},"payload":"","submit":"GÖNDER","cancel":"","topic":"","x":180,"y":420,"wires":[["2ea9cab5.a058a6","33847f25.c9843"]]},{"id":"2ea9cab5.a058a6","type":"function","z":"670c8825.274a78","name":"","func":"\n\nvar data = [];\n\n\ndata=msg.payload;\n\nvar diziT=[];\n\nfor ( var a=0; a<30; a++  ){\n    \n    if( data[a]===null ){\n        \n        \n       diziT.push(1000);\n       \n     \n        \n    }else{\n        \n        \n        diziT.push(data[a])\n        \n        \n        \n    }\n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n}\n\n\nglobal.set(\"P2SPLC\",diziT);\n\nmsg.payload=diziT;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["e1b178d6.68e9c8"]]},{"id":"e1b178d6.68e9c8","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":420,"wires":[]},{"id":"377f03f1.982d3c","type":"ui_template","z":"670c8825.274a78","group":"facf377b.9a5c78","name":"","order":3,"width":9,"height":31,"format":"<table id=\"table\" border=\"1\">\n <tr>\n <th> T3>= </th> \n <th> T3< </th>\n <th>P2S</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1420,"y":220,"wires":[["1e7a070b.aa9649"]]},{"id":"8556b8a7.abfb18","type":"function","z":"670c8825.274a78","name":"Değerleri Tabloda Gösterme","func":"var T3Array=global.get(\"Tablo3T3\");\nvar adim = global.get(\"Tablo3Step\");\nvar P2S=global.get(\"Tablo3P2\");\n\nvar T3K=0;\nvar T3B=0;\n\nvar P2ST=0;\n\n\nvar dizitable=[];\n\n\n\n\nfor ( var b=0; b<adim; b++  ){\n    \n   T3K = T3Array[b];\n   T3B = T3Array[b+1];\n   P2ST = P2S[b];\n   \n   \n    \n    dizitable.push([\n        \n        T3K,\n        T3B,\n        P2ST\n        \n        \n        ])\n    \n    \n    \n}\n\nmsg.payload=dizitable;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":220,"wires":[["377f03f1.982d3c"]]},{"id":"24ac132d.e7367c","type":"function","z":"670c8825.274a78","name":"","func":"\n\nvar data = [];\n\n\ndata=msg.payload;\n\nvar diziT=[];\n\n\n\nfor ( var a=0; a<31; a++  ){\n    \n    if( data[a] !== null ){\n        \n        \n       diziT.push(data[a]);\n        \n       \n     \n        \n    }\n    \n    \n}\n\n\nglobal.set(\"Tablo3T3\",diziT);\n\nmsg.payload=diziT;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["83927929.f0aaf8"]]},{"id":"33847f25.c9843","type":"function","z":"670c8825.274a78","name":"","func":"\n\nvar data = [];\n\n\ndata=msg.payload;\n\nvar diziT=[];\n\nvar  step=0;\n\n\nfor ( var a=0; a<30; a++  ){\n    \n    if( data[a] !== null ){\n        \n        \n      diziT.push(data[a])\n       step=step+1;\n     \n        \n    }\n        \n        \n        \n\n    \n    \n    \n    \n    \n    \n    \n    \n    \n}\n\n\n        \n    global.set(\"Tablo3P2\",diziT);\n    \n    global.set(\"Tablo3Step\",step)\n    \n\n\nmsg.payload=diziT;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["3e039bf5.79b3a4"]]},{"id":"83927929.f0aaf8","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":220,"wires":[]},{"id":"3e039bf5.79b3a4","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":500,"wires":[]},{"id":"1a3214a0.fce7db","type":"ui_button","z":"670c8825.274a78","name":"","group":"facf377b.9a5c78","order":4,"width":9,"height":1,"passthru":false,"label":"TABLO OLUŞTUR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":850,"y":220,"wires":[["8556b8a7.abfb18"]]},{"id":"3aa3da3d.e9eb06","type":"modbus-write","z":"670c8825.274a78","name":"T3 Sıcaklık Değerleri","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"MHoldingRegisters","adr":"49","quantity":"31","server":"baa950a9.8ec34","x":1380,"y":360,"wires":[["34186e45.076b12","b95fed95.91cab"],[]]},{"id":"47f498cf.829788","type":"ui_button","z":"670c8825.274a78","name":"","group":"facf377b.9a5c78","order":6,"width":9,"height":1,"passthru":false,"label":"PLC'ye AKTAR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":860,"y":360,"wires":[["6d804634.96d8b8"]]},{"id":"51f13c59.fa8ee4","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2290,"y":360,"wires":[]},{"id":"34186e45.076b12","type":"function","z":"670c8825.274a78","name":"","func":"var data=[];\n\n\ndata=global.get(\"P2SPLC\");\n\n\nmsg.payload=data;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":360,"wires":[["811cd5ca.6a4d78","130b3d2b.14bbb3"]]},{"id":"811cd5ca.6a4d78","type":"modbus-write","z":"670c8825.274a78","name":"P2S Değerleri","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"MHoldingRegisters","adr":"119","quantity":"30","server":"baa950a9.8ec34","x":1940,"y":360,"wires":[["51f13c59.fa8ee4","30a2d12f.de2d3e","5f686d5b.a9dc14"],[]]},{"id":"f69e8487.3e2cc8","type":"ui_form","z":"670c8825.274a78","name":"","label":"T3 Değerleri","group":"facf377b.9a5c78","order":1,"width":6,"height":33,"options":[{"label":"","value":"0","type":"number","required":true},{"label":"","value":"1","type":"number","required":true},{"label":"","value":"2","type":"number","required":true},{"label":"","value":"3","type":"number","required":true},{"label":"","value":"4","type":"number","required":true},{"label":"","value":"5","type":"number","required":true},{"label":"","value":"6","type":"number","required":true},{"label":"","value":"7","type":"number","required":true},{"label":"","value":"8","type":"number","required":true},{"label":"","value":"9","type":"number","required":true},{"label":"","value":"10","type":"number","required":true},{"label":"","value":"11","type":"number","required":true},{"label":"","value":"12","type":"number","required":true},{"label":"","value":"13","type":"number","required":true},{"label":"","value":"14","type":"number","required":true},{"label":"","value":"15","type":"number","required":true},{"label":"","value":"16","type":"number","required":true},{"label":"","value":"17","type":"number","required":true},{"label":"","value":"18","type":"number","required":true},{"label":"","value":"19","type":"number","required":true},{"label":"","value":"20","type":"number","required":true},{"label":"","value":"21","type":"number","required":true},{"label":"","value":"22","type":"number","required":true},{"label":"","value":"23","type":"number","required":true},{"label":"","value":"24","type":"number","required":true},{"label":"","value":"25","type":"number","required":true},{"label":"","value":"26","type":"number","required":true},{"label":"","value":"27","type":"number","required":true},{"label":"","value":"28","type":"number","required":true},{"label":"","value":"29","type":"number","required":true},{"label":"","value":"30","type":"number","required":true}],"formValue":{"0":"","1":"","2":"","3":"","4":"","5":"","6":"","7":"","8":"","9":"","10":"","11":"","12":"","13":"","14":"","15":"","16":"","17":"","18":"","19":"","20":"","21":"","22":"","23":"","24":"","25":"","26":"","27":"","28":"","29":"","30":""},"payload":"","submit":"GÖNDER","cancel":"","topic":"","x":150,"y":140,"wires":[["3695eb7f.b6b1c4","24ac132d.e7367c","c2009a83.1fefc8"]]},{"id":"6d804634.96d8b8","type":"function","z":"670c8825.274a78","name":"","func":"var data=[];\n\n\ndata=global.get(\"T3PLC\");\n\nmsg.payload=data;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":360,"wires":[["3aa3da3d.e9eb06"]]},{"id":"1e7a070b.aa9649","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":220,"wires":[]},{"id":"b95fed95.91cab","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1660,"y":460,"wires":[]},{"id":"30a2d12f.de2d3e","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2160,"y":480,"wires":[]},{"id":"130b3d2b.14bbb3","type":"function","z":"670c8825.274a78","name":"","func":"var data = msg.payload[3];\n\n\n\n\nglobal.set(\"checkTabloT31\",data);\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1950,"y":260,"wires":[[]]},{"id":"5f686d5b.a9dc14","type":"function","z":"670c8825.274a78","name":"","func":"\n\nvar data = msg.payload[3];\n\n\n\nglobal.set(\"checkTabloT32\",data);\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":260,"wires":[["c7bbaf17.e9f6d"]]},{"id":"c7bbaf17.e9f6d","type":"function","z":"670c8825.274a78","name":"","func":"\nvar data1 = global.set(\"checkTabloT31\");\n\nvar data2 = global.set(\"checkTablo32\")\n\n\n\n\n\n\nif( data1 == data2  ){\n    \n    \n    msg.payload = \"PLC'ye YAZMA İŞLEMİ BAŞARILI\";\n    \n    \n}else{\n    \n    \n    msg.payload=\"PLC'ye YAZMA İŞLEMİ BAŞARISIZ\";\n    \n    \n    \n}\n\n\n\n\n\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":2450,"y":260,"wires":[["737a85d7.de9cfc"]]},{"id":"737a85d7.de9cfc","type":"ui_toast","z":"670c8825.274a78","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":2630,"y":260,"wires":[[]]},{"id":"66c31da4.9e1714","type":"modbus-getter","z":"670c8825.274a78","name":"Tablo 3 PLC'den  Sıcaklık Okuma","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"49","quantity":"31","server":"baa950a9.8ec34","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":1180,"y":740,"wires":[["3ca53a52.fcac86"],[]]},{"id":"3ca53a52.fcac86","type":"function","z":"670c8825.274a78","name":"","func":"var data = msg.payload;\n\nvar tablo =[];\n\n\n\n\nfor (var a=0; a < 31; a++){\n    \n  if( data[a] != 1000  ){\n      \n      \n      tablo.push(data[a]);\n      \n      \n      \n      \n      \n  }\n    \n    \n    \n    \n    \n    \n}\n\n\nglobal.set(\"Tablo3T3\",tablo);\n\nmsg.payload = tablo;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":740,"wires":[["e4b42f5a.b2ca3","84a0f24d.a6826"]]},{"id":"26329af9.82edc6","type":"modbus-getter","z":"670c8825.274a78","name":"Tablo 3 PLC'den P2S Okuma","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"119","quantity":"30","server":"baa950a9.8ec34","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":1180,"y":840,"wires":[["336b3c54.c5b834"],[]]},{"id":"336b3c54.c5b834","type":"function","z":"670c8825.274a78","name":"","func":"var data = msg.payload;\n\nvar step = 0;\n\nvar tablo =[];\n\n\n\n\nfor (var a=0; a < 30; a++){\n    \n  if( data[a] != 1000  ){\n      \n      \n      tablo.push(data[a]);\n      \n      step = step+1;\n      \n      \n      \n      \n  }\n    \n    \n    \n    \n    \n    \n}\n\n\n\nglobal.set(\"Tablo3Step\",step);\n\nglobal.set(\"Tablo3P2\",tablo);\n\nmsg.payload = tablo;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":840,"wires":[["46811db1.fd6914"]]},{"id":"7a9488e0.1fb518","type":"ui_button","z":"670c8825.274a78","name":"","group":"facf377b.9a5c78","order":8,"width":9,"height":1,"passthru":false,"label":"PLC'den OKU","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":830,"y":800,"wires":[["66c31da4.9e1714","26329af9.82edc6"]]},{"id":"e4b42f5a.b2ca3","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":740,"wires":[]},{"id":"46811db1.fd6914","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1810,"y":840,"wires":[]},{"id":"84a0f24d.a6826","type":"delay","z":"670c8825.274a78","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1740,"y":660,"wires":[["68be4755.d6d4e8"]]},{"id":"68be4755.d6d4e8","type":"link out","z":"670c8825.274a78","name":"","links":["ae1f9084.54878"],"x":1900,"y":660,"wires":[]},{"id":"ae1f9084.54878","type":"link in","z":"670c8825.274a78","name":"","links":["68be4755.d6d4e8"],"x":1000,"y":300,"wires":[["8556b8a7.abfb18"]]},{"id":"c2009a83.1fefc8","type":"debug","z":"670c8825.274a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":80,"wires":[]},{"id":"94a58542.989e78","type":"ui_group","z":"","name":"Sıcaklık Değerleri","tab":"e3bf1fc0.c30e5","order":2,"disp":true,"width":"9","collapse":false},{"id":"638ab133.344a9","type":"ui_group","z":"","name":"1","tab":"e3bf1fc0.c30e5","order":1,"disp":false,"width":"6","collapse":false},{"id":"baa950a9.8ec34","type":"modbus-client","z":"","name":"Allen Bradley","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.200","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"facf377b.9a5c78","type":"ui_group","name":"Group 1","tab":"340d04de.5bd82c","order":1,"disp":true,"width":21},{"id":"e3bf1fc0.c30e5","type":"ui_tab","z":"","name":"P2S Ayar Sayfası","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"340d04de.5bd82c","type":"ui_tab","z":"","name":"İkinci Sürücü Ayar Sayfası","icon":"dashboard","order":4,"disabled":false,"hidden":false}]