RePG-11_15042020/Flows/4.txt
[{"id":"169ac0a3.b594bf","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[0];\n\nmsg.payload=data;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":640,"wires":[["f9441d9f.1092c"]]},{"id":"d9e3d1ce.d664c","type":"ui_text_input","z":"62ff452c.309dac","name":"","label":"Torque Boost","tooltip":"","group":"52c181b2.2f3d3","order":1,"width":3,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":170,"y":100,"wires":[["e4fe6a4.18bdf98"]]},{"id":"84daed8e.70fd3","type":"modbus-write","z":"62ff452c.309dac","name":"TORK","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"239","quantity":"1","server":"baa950a9.8ec34","x":1010,"y":100,"wires":[["29e5a5ef.be98ba"],[]]},{"id":"accf8b0.e107a78","type":"debug","z":"62ff452c.309dac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":100,"wires":[]},{"id":"42f2819a.86b4e","type":"ui_text_input","z":"62ff452c.309dac","name":"","label":"Yük Tipi Seçimi","tooltip":"","group":"52c181b2.2f3d3","order":2,"width":3,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":180,"y":200,"wires":[["5d7c2bc2.6dc5b4"]]},{"id":"add3a86.bbf2358","type":"ui_text_input","z":"62ff452c.309dac","name":"","label":"Tekrar Deneme","tooltip":"","group":"52c181b2.2f3d3","order":3,"width":3,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":180,"y":300,"wires":[["11fd7c86.8b3353"]]},{"id":"4d21ce0a.cf803","type":"function","z":"62ff452c.309dac","name":"","func":" \n \n var data=Number(msg.payload);\n \n  data = data.toString(2).split(\"\").reverse().join(\"\");\n\n msg.payload = data;\n  \nreturn msg;","outputs":1,"noerr":0,"x":790,"y":640,"wires":[["169ac0a3.b594bf","94bbe19e.6cc9f","226bcb41.72eac4","c88d8efc.f370f","dcb46a6c.c800b8","7e2ea8d4.b05e28","ecdde09c.a209","d0544a85.7e42c8","fd7fdf83.ef57f","b65a3337.2d07","adc9684.e7e2798"]]},{"id":"94bbe19e.6cc9f","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[1];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":700,"wires":[["54cbaf23.d28aa"]]},{"id":"226bcb41.72eac4","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[2];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":760,"wires":[["9bfc4a6d.4b5fb8"]]},{"id":"c88d8efc.f370f","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[3];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":820,"wires":[["d9ea322d.e1778"]]},{"id":"dcb46a6c.c800b8","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[4];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":880,"wires":[["312f1ee7.416012"]]},{"id":"7e2ea8d4.b05e28","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[5];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":940,"wires":[["a73a2a0d.4d6178"]]},{"id":"ecdde09c.a209","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[6];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1000,"wires":[["df40eac3.cbe878"]]},{"id":"d0544a85.7e42c8","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[7];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1060,"wires":[["b9538982.9996f8"]]},{"id":"fd7fdf83.ef57f","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[11];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1140,"wires":[["f6cd9921.c6c4e8"]]},{"id":"b65a3337.2d07","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[14];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1220,"wires":[["5ddd2c25.2859b4"]]},{"id":"adc9684.e7e2798","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[15];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1300,"wires":[["7aee31a4.82b44"]]},{"id":"3c1c7b01.f8e564","type":"ui_text","z":"62ff452c.309dac","group":"52c181b2.2f3d3","order":4,"width":8,"height":1,"name":"","label":"Çalışıyor","format":"{{msg.payload}}","layout":"row-spread","x":1430,"y":640,"wires":[]},{"id":"f9441d9f.1092c","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\nmsg.color=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":640,"wires":[["3c1c7b01.f8e564"]]},{"id":"54cbaf23.d28aa","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":700,"wires":[["13cc026a.ea4cce"]]},{"id":"9bfc4a6d.4b5fb8","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":760,"wires":[["b61acdbe.bb7af"]]},{"id":"d9ea322d.e1778","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":820,"wires":[["9a79467f.c53d88"]]},{"id":"312f1ee7.416012","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":880,"wires":[["a8b7510a.00e26"]]},{"id":"a73a2a0d.4d6178","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1208.018798828125,"y":938.0249633789062,"wires":[["9cc1bd5c.82a5"]]},{"id":"df40eac3.cbe878","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1000,"wires":[["26f52c25.e0bfa4"]]},{"id":"b9538982.9996f8","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1060,"wires":[["90ec1a56.20c058"]]},{"id":"f6cd9921.c6c4e8","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1140,"wires":[["91edf450.574428"]]},{"id":"5ddd2c25.2859b4","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1220,"wires":[["5452f0ab.51e93"]]},{"id":"7aee31a4.82b44","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1300,"wires":[["a425f4c3.90ffd8"]]},{"id":"13cc026a.ea4cce","type":"ui_text","z":"62ff452c.309dac","group":"52c181b2.2f3d3","order":8,"width":8,"height":1,"name":"","label":"İleri","format":"{{msg.payload}}","layout":"row-spread","x":1430,"y":700,"wires":[]},{"id":"b61acdbe.bb7af","type":"ui_text","z":"62ff452c.309dac","group":"52c181b2.2f3d3","order":11,"width":8,"height":1,"name":"","label":"Geri","format":"{{msg.payload}}","layout":"row-spread","x":1430,"y":760,"wires":[]},{"id":"9a79467f.c53d88","type":"ui_text","z":"62ff452c.309dac","group":"52c181b2.2f3d3","order":13,"width":8,"height":1,"name":"","label":"Frekansa Ulaştı","format":"{{msg.payload}}","layout":"row-spread","x":1460,"y":820,"wires":[]},{"id":"a8b7510a.00e26","type":"ui_text","z":"62ff452c.309dac","group":"52c181b2.2f3d3","order":16,"width":8,"height":1,"name":"","label":"Aşırı Yük","format":"{{msg.payload}}","layout":"row-spread","x":1440,"y":880,"wires":[]},{"id":"9cc1bd5c.82a5","type":"ui_text","z":"62ff452c.309dac","group":"52c181b2.2f3d3","order":22,"width":8,"height":1,"name":"","label":"Default Değer","format":"{{msg.payload}}","layout":"row-spread","x":1460,"y":940,"wires":[]},{"id":"26f52c25.e0bfa4","type":"ui_text","z":"62ff452c.309dac","group":"52c181b2.2f3d3","order":17,"width":8,"height":1,"name":"","label":"Frekans Test","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":1000,"wires":[]},{"id":"90ec1a56.20c058","type":"ui_text","z":"62ff452c.309dac","group":"52c181b2.2f3d3","order":12,"width":8,"height":1,"name":"","label":"ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1440,"y":1060,"wires":[]},{"id":"91edf450.574428","type":"ui_text","z":"62ff452c.309dac","group":"52c181b2.2f3d3","order":25,"width":8,"height":1,"name":"","label":"E0 Durumu","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":1140,"wires":[]},{"id":"5452f0ab.51e93","type":"ui_text","z":"62ff452c.309dac","group":"52c181b2.2f3d3","order":18,"width":8,"height":1,"name":"","label":"Reset","format":"{{msg.payload}}","layout":"row-spread","x":1430,"y":1220,"wires":[]},{"id":"a425f4c3.90ffd8","type":"ui_text","z":"62ff452c.309dac","group":"52c181b2.2f3d3","order":28,"width":8,"height":1,"name":"","label":"Tuning","format":"{{msg.payload}}","layout":"row-spread","x":1430,"y":1300,"wires":[]},{"id":"990a90d3.62cec","type":"ui_gauge","z":"62ff452c.309dac","name":"","group":"52c181b2.2f3d3","order":15,"width":5,"height":3,"gtype":"gage","title":"Frekans","label":"Hz","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"80","x":740,"y":800,"wires":[]},{"id":"44b87ef3.e9502","type":"ui_gauge","z":"62ff452c.309dac","name":"","group":"52c181b2.2f3d3","order":20,"width":5,"height":3,"gtype":"gage","title":"Akım","label":"A","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"30","x":730,"y":880,"wires":[]},{"id":"c4a9da4.e3eff28","type":"function","z":"62ff452c.309dac","name":"","func":"var data = msg.payload[1];\n\ndata=data/100;\n\nmsg.payload=data;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":880,"wires":[["990a90d3.62cec","b45195f9.b56d38"]]},{"id":"ded0072c.66aff8","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[2];\n\ndata=data/100;\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":940,"wires":[["44b87ef3.e9502","21f5833d.3395cc"]]},{"id":"53ba1302.ee07cc","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[3];\n\ndata=data/100;\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1000,"wires":[["7a3653ef.3dcc6c","2508b73d.790b48"]]},{"id":"7a3653ef.3dcc6c","type":"ui_gauge","z":"62ff452c.309dac","name":"","group":"52c181b2.2f3d3","order":9,"width":4,"height":3,"gtype":"gage","title":"Volt","label":"V","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"350","x":730,"y":960,"wires":[]},{"id":"4da072c9.0aad7c","type":"ui_gauge","z":"62ff452c.309dac","name":"","group":"52c181b2.2f3d3","order":14,"width":4,"height":3,"gtype":"gage","title":"Dc Bara","label":"V","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"350","x":740,"y":1080,"wires":[]},{"id":"78426ca0.306a54","type":"ui_gauge","z":"62ff452c.309dac","name":"","group":"52c181b2.2f3d3","order":10,"width":5,"height":3,"gtype":"gage","title":"Çıkış Gücü","label":"W","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"350","x":750,"y":1180,"wires":[]},{"id":"f2b0978e.b275c8","type":"function","z":"62ff452c.309dac","name":"","func":"var data = msg.payload[0];\n\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":640,"wires":[["4d21ce0a.cf803"]]},{"id":"ec0a7cce.057ab","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[4];\n\n\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1080,"wires":[["4da072c9.0aad7c"]]},{"id":"b3d6335b.25d8c","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[5];\n\ndata=data*10;\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1180,"wires":[["78426ca0.306a54","40281c32.29a934","cfc5c270.c0b3b"]]},{"id":"e4fe6a4.18bdf98","type":"function","z":"62ff452c.309dac","name":"","func":"var data = msg.payload;\n\ndata=data*10;\n\nglobal.set(\"TORK\",data);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[[]]},{"id":"5d7c2bc2.6dc5b4","type":"function","z":"62ff452c.309dac","name":"","func":"var data = msg.payload;\n\n\nglobal.set(\"LOAD\",data);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":200,"wires":[[]]},{"id":"11fd7c86.8b3353","type":"function","z":"62ff452c.309dac","name":"","func":"var data = msg.payload;\n\n\nglobal.set(\"RETRY\",data);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[[]]},{"id":"59fa662b.9c33e8","type":"ui_button","z":"62ff452c.309dac","name":"","group":"52c181b2.2f3d3","order":5,"width":3,"height":1,"passthru":false,"label":"PLC'ye AKTAR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":600,"y":100,"wires":[["876b939f.51eeb"]]},{"id":"876b939f.51eeb","type":"function","z":"62ff452c.309dac","name":"","func":"\nvar data = global.get(\"TORK\");\n\n\nmsg.payload=data\n\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":100,"wires":[["84daed8e.70fd3"]]},{"id":"29e5a5ef.be98ba","type":"function","z":"62ff452c.309dac","name":"","func":"var data =true;\n\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":100,"wires":[["ca0748c9.484c98"]]},{"id":"ca0748c9.484c98","type":"modbus-write","z":"62ff452c.309dac","name":"","showStatusActivities":false,"showErrors":false,"unitid":"3","dataType":"Coil","adr":"21","quantity":"1","server":"baa950a9.8ec34","x":1540,"y":100,"wires":[["accf8b0.e107a78","f805da37.d687c8"],[]]},{"id":"f805da37.d687c8","type":"ui_toast","z":"62ff452c.309dac","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"PLC 'ye YAZMA İŞLEMİ BAŞARILI","cancel":"","topic":"","name":"","x":1790,"y":40,"wires":[[]]},{"id":"d173afc7.10d45","type":"modbus-write","z":"62ff452c.309dac","name":"LOAD","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"240","quantity":"1","server":"baa950a9.8ec34","x":1030,"y":260,"wires":[["78ca230c.2d4a6c"],[]]},{"id":"c86aa9c2.7126c8","type":"debug","z":"62ff452c.309dac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1810,"y":260,"wires":[]},{"id":"cd1cdda8.3e914","type":"ui_button","z":"62ff452c.309dac","name":"","group":"52c181b2.2f3d3","order":6,"width":3,"height":1,"passthru":false,"label":"PLC'ye AKTAR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":620,"y":260,"wires":[["30058a6b.b7f386"]]},{"id":"30058a6b.b7f386","type":"function","z":"62ff452c.309dac","name":"","func":"\nvar data = global.get(\"LOAD\");\n\n\nmsg.payload=data\n\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["d173afc7.10d45"]]},{"id":"78ca230c.2d4a6c","type":"function","z":"62ff452c.309dac","name":"","func":"var data =true;\n\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":260,"wires":[["82293996.4b3fd8"]]},{"id":"82293996.4b3fd8","type":"modbus-write","z":"62ff452c.309dac","name":"","showStatusActivities":false,"showErrors":false,"unitid":"3","dataType":"Coil","adr":"22","quantity":"1","server":"baa950a9.8ec34","x":1560,"y":260,"wires":[["c86aa9c2.7126c8","c1fcdee.ed3472"],[]]},{"id":"c1fcdee.ed3472","type":"ui_toast","z":"62ff452c.309dac","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"PLC 'ye YAZMA İŞLEMİ BAŞARILI","cancel":"","topic":"","name":"","x":1810,"y":200,"wires":[[]]},{"id":"ba7a4c68.df83c","type":"modbus-write","z":"62ff452c.309dac","name":"RETRY","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"241","quantity":"1","server":"baa950a9.8ec34","x":1040,"y":440,"wires":[["76e8a3e3.dab85c"],[]]},{"id":"8b27607a.fa4e6","type":"debug","z":"62ff452c.309dac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1810,"y":440,"wires":[]},{"id":"4583baea.779924","type":"ui_button","z":"62ff452c.309dac","name":"","group":"52c181b2.2f3d3","order":7,"width":3,"height":1,"passthru":false,"label":"PLC'ye AKTAR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":620,"y":440,"wires":[["c2c38a19.0bac08"]]},{"id":"c2c38a19.0bac08","type":"function","z":"62ff452c.309dac","name":"","func":"\nvar data = global.get(\"RETRY\");\n\n\nmsg.payload=data\n\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":440,"wires":[["ba7a4c68.df83c"]]},{"id":"76e8a3e3.dab85c","type":"function","z":"62ff452c.309dac","name":"","func":"var data =true;\n\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":440,"wires":[["a5627c22.ecbd2"]]},{"id":"a5627c22.ecbd2","type":"modbus-write","z":"62ff452c.309dac","name":"","showStatusActivities":false,"showErrors":false,"unitid":"3","dataType":"Coil","adr":"23","quantity":"1","server":"baa950a9.8ec34","x":1540,"y":440,"wires":[["8b27607a.fa4e6","1697ad8b.239f92"],[]]},{"id":"1697ad8b.239f92","type":"ui_toast","z":"62ff452c.309dac","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"PLC 'ye YAZMA İŞLEMİ BAŞARILI","cancel":"","topic":"","name":"","x":1810,"y":380,"wires":[[]]},{"id":"82f5fc62.7df26","type":"modbus-read","z":"62ff452c.309dac","name":"Sürücü-2","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"229","quantity":"6","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"baa950a9.8ec34","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":260,"y":640,"wires":[["f2b0978e.b275c8","c4a9da4.e3eff28","ded0072c.66aff8","53ba1302.ee07cc","ec0a7cce.057ab","b3d6335b.25d8c"],[]]},{"id":"40281c32.29a934","type":"ui_gauge","z":"62ff452c.309dac","name":"","group":"8d1e776.576f488","order":17,"width":3,"height":3,"gtype":"wave","title":"Çıkış Gücü","label":"W","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":1280,"wires":[]},{"id":"50ddc753.ee0d68","type":"function","z":"62ff452c.309dac","name":"","func":" \n \n var data=Number(msg.payload);\n \n  data = data.toString(2).split(\"\").reverse().join(\"\");\n\n msg.payload = data;\n  \nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1540,"wires":[["bf28b33.534ca5","9675679b.1d9768","ec4484e3.9a08c8","213a78b6.f61358","4919e5b9.4eb54c","15af21a7.eb0ede","1b7ea690.751ae9","707456fd.db3918","bf782fa9.265c5","b81ed8ee.6d6d48","bb67f578.469b48"]]},{"id":"bf28b33.534ca5","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[0];\n\nmsg.payload=data;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1540,"wires":[["ea6b62a4.90548"]]},{"id":"9675679b.1d9768","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[1];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1600,"wires":[["4565c559.39290c"]]},{"id":"ec4484e3.9a08c8","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[2];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1660,"wires":[["c50fcad4.3d65a8"]]},{"id":"213a78b6.f61358","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[3];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1720,"wires":[["8b6902.c1c1a7"]]},{"id":"4919e5b9.4eb54c","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[4];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1780,"wires":[["35ea35e1.a7ffaa"]]},{"id":"15af21a7.eb0ede","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[5];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1840,"wires":[["e28dc5af.f67a18"]]},{"id":"1b7ea690.751ae9","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[6];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1900,"wires":[["60c0e56f.ee3c6c"]]},{"id":"707456fd.db3918","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[7];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1960,"wires":[["45487f8e.c4f46"]]},{"id":"bf782fa9.265c5","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[11];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":2040,"wires":[["20852a0a.fabf46"]]},{"id":"b81ed8ee.6d6d48","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[14];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":2120,"wires":[["777a4c6.6e0fab4"]]},{"id":"bb67f578.469b48","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[15];\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":2200,"wires":[["c732c5c1.b97f18"]]},{"id":"3319401.8e3e6c","type":"ui_text","z":"62ff452c.309dac","group":"48fd0682.4cec78","order":4,"width":8,"height":1,"name":"","label":"Çalışıyor","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":1540,"wires":[]},{"id":"ea6b62a4.90548","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\nmsg.color=\"red\";\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1540,"wires":[["3319401.8e3e6c"]]},{"id":"4565c559.39290c","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1600,"wires":[["4c658718.f4a688"]]},{"id":"c50fcad4.3d65a8","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1660,"wires":[["1dd1b12d.ef9adf"]]},{"id":"8b6902.c1c1a7","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1720,"wires":[["10476284.d6b16d"]]},{"id":"35ea35e1.a7ffaa","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1780,"wires":[["b4bcab72.a03f78"]]},{"id":"e28dc5af.f67a18","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1348.018798828125,"y":1838.0249633789062,"wires":[["d563a4e3.5b1ad8"]]},{"id":"60c0e56f.ee3c6c","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1900,"wires":[["5696586f.3c37e8"]]},{"id":"45487f8e.c4f46","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1960,"wires":[["dcea76be.62ad38"]]},{"id":"20852a0a.fabf46","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":2040,"wires":[["45e03f9f.f2c84"]]},{"id":"777a4c6.6e0fab4","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2120,"wires":[["d8c47083.c425f"]]},{"id":"c732c5c1.b97f18","type":"function","z":"62ff452c.309dac","name":"","func":"var data =msg.payload;\n\nif(data===\"0\"){\n    \n    msg.payload=\"FALSE\";\n}\nelse if(data===\"1\"){\n    \n    msg.payload=\"TRUE\";\n    \n    \n}\nelse if(data===undefined){\n    \n    msg.payload=\"FALSE\";\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":2200,"wires":[["e3da80fe.1928"]]},{"id":"4c658718.f4a688","type":"ui_text","z":"62ff452c.309dac","group":"48fd0682.4cec78","order":8,"width":8,"height":1,"name":"","label":"İleri","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":1600,"wires":[]},{"id":"1dd1b12d.ef9adf","type":"ui_text","z":"62ff452c.309dac","group":"48fd0682.4cec78","order":13,"width":8,"height":1,"name":"","label":"Geri","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":1660,"wires":[]},{"id":"10476284.d6b16d","type":"ui_text","z":"62ff452c.309dac","group":"48fd0682.4cec78","order":15,"width":8,"height":1,"name":"","label":"Frekansa Ulaştı","format":"{{msg.payload}}","layout":"row-spread","x":1600,"y":1720,"wires":[]},{"id":"b4bcab72.a03f78","type":"ui_text","z":"62ff452c.309dac","group":"48fd0682.4cec78","order":23,"width":8,"height":1,"name":"","label":"Aşırı Yük","format":"{{msg.payload}}","layout":"row-spread","x":1580,"y":1780,"wires":[]},{"id":"d563a4e3.5b1ad8","type":"ui_text","z":"62ff452c.309dac","group":"48fd0682.4cec78","order":29,"width":8,"height":1,"name":"","label":"Default Değer","format":"{{msg.payload}}","layout":"row-spread","x":1600,"y":1840,"wires":[]},{"id":"5696586f.3c37e8","type":"ui_text","z":"62ff452c.309dac","group":"48fd0682.4cec78","order":26,"width":8,"height":1,"name":"","label":"Frekans Test","format":"{{msg.payload}}","layout":"row-spread","x":1590,"y":1900,"wires":[]},{"id":"dcea76be.62ad38","type":"ui_text","z":"62ff452c.309dac","group":"48fd0682.4cec78","order":6,"width":8,"height":1,"name":"","label":"ALARM","format":"{{msg.payload}}","layout":"row-spread","x":1580,"y":1960,"wires":[]},{"id":"45e03f9f.f2c84","type":"ui_text","z":"62ff452c.309dac","group":"48fd0682.4cec78","order":20,"width":8,"height":1,"name":"","label":"E0 Durumu","format":"{{msg.payload}}","layout":"row-spread","x":1590,"y":2040,"wires":[]},{"id":"d8c47083.c425f","type":"ui_text","z":"62ff452c.309dac","group":"48fd0682.4cec78","order":17,"width":8,"height":1,"name":"","label":"Reset","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":2120,"wires":[]},{"id":"e3da80fe.1928","type":"ui_text","z":"62ff452c.309dac","group":"48fd0682.4cec78","order":32,"width":8,"height":1,"name":"","label":"Tuning","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":2200,"wires":[]},{"id":"d5c0bbdd.e6eb68","type":"ui_gauge","z":"62ff452c.309dac","name":"","group":"48fd0682.4cec78","order":1,"width":5,"height":3,"gtype":"gage","title":"Frekans","label":"Hz","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"80","x":880,"y":1780,"wires":[]},{"id":"2b7a663b.9511da","type":"ui_gauge","z":"62ff452c.309dac","name":"","group":"48fd0682.4cec78","order":3,"width":5,"height":3,"gtype":"gage","title":"Akım","label":"A","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"30","x":890,"y":1840,"wires":[]},{"id":"c04d527e.2f944","type":"function","z":"62ff452c.309dac","name":"","func":"var data = msg.payload[1];\n\ndata=data/100;\n\nmsg.payload=data;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1780,"wires":[["d5c0bbdd.e6eb68"]]},{"id":"dec0a66c.110e58","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[2];\n\ndata=data/100;\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1840,"wires":[["2b7a663b.9511da"]]},{"id":"8714e133.ab1fc","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[3];\n\ndata=data/100;\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1900,"wires":[["f56eead.f5b3818"]]},{"id":"f56eead.f5b3818","type":"ui_gauge","z":"62ff452c.309dac","name":"","group":"48fd0682.4cec78","order":12,"width":4,"height":3,"gtype":"gage","title":"Volt","label":"V","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"350","x":890,"y":1900,"wires":[]},{"id":"91312633.55a9e8","type":"ui_gauge","z":"62ff452c.309dac","name":"","group":"48fd0682.4cec78","order":2,"width":4,"height":3,"gtype":"gage","title":"Dc Bara","label":"V","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"350","x":880,"y":1980,"wires":[]},{"id":"6cf0a9e5.c16c28","type":"ui_gauge","z":"62ff452c.309dac","name":"","group":"48fd0682.4cec78","order":11,"width":5,"height":3,"gtype":"gage","title":"Çıkış Gücü","label":"W","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"350","x":890,"y":2080,"wires":[]},{"id":"85a3acf1.3f18","type":"function","z":"62ff452c.309dac","name":"","func":"var data = msg.payload[0];\n\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1540,"wires":[["50ddc753.ee0d68"]]},{"id":"975f50fc.80e37","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[4];\n\n\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1980,"wires":[["91312633.55a9e8"]]},{"id":"640762a.72c679c","type":"function","z":"62ff452c.309dac","name":"","func":"var data=msg.payload[5];\n\ndata=data*10;\n\nmsg.payload=data;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":2080,"wires":[["6cf0a9e5.c16c28"]]},{"id":"b9705451.2503b8","type":"modbus-read","z":"62ff452c.309dac","name":"Sürücü-1","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"254","quantity":"6","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"baa950a9.8ec34","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":400,"y":1540,"wires":[["85a3acf1.3f18","c04d527e.2f944","dec0a66c.110e58","8714e133.ab1fc","975f50fc.80e37","640762a.72c679c","5fa73dc1.ced8d4"],[]]},{"id":"5fa73dc1.ced8d4","type":"modbus-getter","z":"62ff452c.309dac","name":"Toplam Güç","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"261","quantity":"2","server":"607eaeb5.9e572","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":570,"y":2320,"wires":[["fc3ffc35.d58db"],[]]},{"id":"fc3ffc35.d58db","type":"ui_gauge","z":"62ff452c.309dac","name":"","group":"48fd0682.4cec78","order":10,"width":5,"height":3,"gtype":"gage","title":"Toplam Güç","label":"Wh","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":2320,"wires":[]},{"id":"cfc5c270.c0b3b","type":"function","z":"62ff452c.309dac","name":"","func":"let foo = msg.payload;\n\nvar data = global.get('azure_data');\n\ndata[\"WT\"]    =  foo;\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1340,"wires":[[]]},{"id":"b45195f9.b56d38","type":"function","z":"62ff452c.309dac","name":"","func":"let foo = msg.payload;\n\nvar data = global.get('azure_data');\n\ndata[\"Hz\"]    =  foo;\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":840,"wires":[[]]},{"id":"21f5833d.3395cc","type":"function","z":"62ff452c.309dac","name":"","func":"let foo = msg.payload;\n\nvar data = global.get('azure_data');\n\ndata[\"C1\"]    =  foo;\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":920,"wires":[[]]},{"id":"2508b73d.790b48","type":"function","z":"62ff452c.309dac","name":"","func":"let foo = msg.payload;\n\nvar data = global.get('azure_data');\n\ndata[\"V1\"]    =  foo;\n\nglobal.set('azure_data', data);\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1000,"wires":[[]]},{"id":"52c181b2.2f3d3","type":"ui_group","z":"","name":"Sürücü","tab":"710d8b7d.651984","disp":true,"width":17,"collapse":false},{"id":"baa950a9.8ec34","type":"modbus-client","z":"","name":"Allen Bradley","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.200","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"8d1e776.576f488","type":"ui_group","z":"","name":"Sistem Durum","tab":"7acb298c.436128","order":3,"disp":false,"width":18,"collapse":false},{"id":"48fd0682.4cec78","type":"ui_group","z":"","name":"Sürücü Değerler","tab":"75a0ecba.d100b4","order":1,"disp":false,"width":30,"collapse":false},{"id":"607eaeb5.9e572","type":"modbus-client","z":"","name":"Allen Bradley","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"169.254.23.145","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"710d8b7d.651984","type":"ui_tab","z":"","name":"Sürücü-2","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"7acb298c.436128","type":"ui_tab","z":"","name":"RePG_PLC_V4_1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"75a0ecba.d100b4","type":"ui_tab","z":"","name":"Sürücü-1","icon":"dashboard","order":6,"disabled":false,"hidden":false}]